﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
 <p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white"><font color="#000000" size="5">
    <b><span style="line-height: 150%; ">Chế độ ăn </span></b></font>
    <font size="5">
        <b>c<span style="background-color: #FFFFFF; background-position: 0% 0%">ho
			bệnh </span>viêm thanh quản</b></font></p>
    <font color="#333333">



        <p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background-image:none; background-repeat:repeat; background-attachment:scroll">
            &nbsp;</p>
        <p class="MsoNormal" style="text-align: justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="4">&nbsp;&nbsp;
            <img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/suc-mieng-chua-viem-thanh-quan.jpg" width="280" height="180" lowsrc="Súc%20miệng%20chữa%20viêm%20thanh%20quản" longdesc="Súc miệng chữa viêm thanh quản" alt="Súc miệng chữa viêm thanh quản" align="left">Viêm
            thanh quản thường do một số nguyên nhân như: lạnh, nhiễm trùng đường
            hô hấp trên, nói chuyện, la hét hoặc ca hát quá nhiều, bệnh trào
            ngược dạ dày, ... hoặc do bệnh lý nhiễm trùng đường hô hấp gây ra.
            Người bệnh thường có một số biểu hiện như: đau họng, đau nuốt, cảm
            giác đầy trong cổ, cổ họng, khản tiếng, hoặc mất tiếng. Trường hợp
            viêm thanh quản do nhiễm trùng có thể kèm theo sưng hạch bạch huyết.
            Viêm thanh quản ngoài việc điều trị bằng thuốc thì người bệnh cần
            quan tâm tới chế độ ăn uống. Bài viết dưới đây đưa ra lời khuyên cho
            bệnh nhân viêm thanh quản.</font></p>
        <p class="MsoNormal" style="text-align: justify"><font size="4">
            Những điều bạn nên làm khi bị viêm thanh quản:</font></p>
        <p class="MsoNormal" style="text-align: justify"><font size="4">Nên
            vệ sinh răng miệng sạch sẽ nhất là khi bị viêm thanh quản</font></p>
        <p class="MsoNormal" style="text-align: justify"><font size="4">Nên
            súc miệng thường xuyên khoảng 2 giờ/1 lần bằng nước muối ấm hoặc
            nước trà xanh có pha muối ấm. Có tác dụng sát khuẩn và tạo độ ẩm cho
            họng, giúp họng bớt khô, khó chịu.</font></p>
        <p class="MsoNormal" style="text-align: justify"><font size="4">Khi
            tắm có thể mở vòi hoa sen cho nước nóng tỏa ra khắp phòng, hít hơi
            nóng khoảng 5 phút có tác dụng giảm đau do viêm thanh quản.</font></p>
        <p class="MsoNormal" style="text-align: justify"><font size="4">Nên
            ăn nhiều trái cây và rau xanh sẽ cung cấp lượng vitamin cần thiết
            cho cơ thể. Ngoài ra các loại vitamin như vitamin C, E, A, có tác
            dụng làm giảm tình trạng viêm ở phế quản, tình trạng khó thở của
            bệnh nhân. Các loại hoa quả, rau xanh giàu chất chống oxy hóa, đặc
            biệt tốt cho bệnh nhân viêm thanh quản được bác sĩ khuyên dùng: dâu
            tây, các loại quả mọng, bông cải xanh, rau bina và cà rốt. Nếu có
            hiện tượng đau khó nuốt có thể nấu nhừ (đối với rau) và xay sinh tố
            (với hoa quả)</font></p>
        <p class="MsoNormal" style="text-align: justify"><font size="4">Nên
            ăn các thực phẩm giàu dinh dưỡng, dễ tiêu như gạo, bột mì, ngũ cốc,
            các thực phẩm khác như đậu Hà Lan, sữa bò, sữa đậu nành, đậu phụ,
            trứng gà.</font></p>
        <p class="MsoNormal" style="text-align: justify"><font size="4">Các
            sản phẩm từ sữa rất giàu vitamin D, canxi, và protein là nguồn dinh
            dưỡng quan trọng và cần thiết cho cơ thể. Bệnh nhân viêm thanh quản
            nên tiêu thụ nhiều các sản phẩm từ sữa (tuy nhiên cần chú ý các sản
            phẩm sữa đó phải có hàm lượng chất béo thấp). Tốt nhất nên ăn nhiều
            sữa chua vì sữa chua chứa nhiều vi khuẩn thân thiện có lợi cho hệ
            thống tiêu hóa và cũng có tác dụng tốt đối với bệnh nhân viêm thanh
            quản.</font></p>
        <p class="MsoNormal" style="text-align: justify"><font size="4">Uống
            nhiều nước sẽ giúp cơ thể đào thải các độc tố khỏi cơ thể một cách
            dễ dàng hơn. Những người bị viêm thanh quản thường dễ bị mất nước
            hơn so với những người bình thường, uống nhiều nước sẽ giúp giảm
            tình trạng viêm, tình trạng khô họng của bệnh nhân.</font></p>
        <p class="MsoNormal" style="text-align: justify"><font size="4">
            Những điều bạn nên hạn chế khi bị viêm thanh quản:</font></p>
        <p class="MsoNormal" style="text-align: justify"><font size="4">Nên
            hạn chế tối đa các món rán, xào, món ăn nhiều dầu mỡ vì các thực
            phẩm này chứa nhiều calo, nhiều chất béo, nguyên nhân gia tăng tình
            trạng viêm thanh quản.</font></p>
        <p class="MsoNormal" style="text-align: justify"><font size="4">Hạn
            chế ăn mặn trong thời gian viêm thanh quản bởi thừa muối sẽ dẫn tới
            tình trạng tích lũy chất lỏng trong cơ thể, có thể làm tăng tình
            trạng viêm thanh quản.</font></p>
        <p class="MsoNormal" style="text-align: justify"><font size="4">Nên
            giảm lượng đường tinh luyện trong chế độ ăn đối với bệnh nhân viêm
            phế quản, bởi nếu bệnh nhân viêm phế quản thường xuyên tiêu thụ các
            loại đồ ăn như bánh kẹo, nước ngọt,… gây tình trạng đường tinh luyện
            trong cơ thể bị thừa, làm gia tăng hiện tượng khó thở.</font></p>
        <p class="MsoNormal" style="text-align: justify"><font size="4">Nên
            hạn chế các thực phẩm dễ gây kích thích niêm mạc gây ho như: ớt, hạt
            tiêu, các loại hoa quả chua, chát như: táo chua, mận</font></p>
        <p class="MsoNormal" style="text-align: justify"><font size="4">Đặc
            biệt không nên uống rượu, đồ uống có ga, sử dụng các loại chất kích
            thích và hút thuốc lá khi bị viêm thanh quản.</font></p>
        <p class="MsoNormal" style="text-align: justify"><font size="4">Trên
            đây là một số lưu ý về chế độ ăn uống cho bệnh nhân viêm thanh quản.</font></p>

        </font>
    </h3>