﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <p align="center"><b><font size="5" color="#000080">Chế độ ăn uống
        giúp trẻ phát triển chiều cao</font></b></p>
    <font color="#000000" size="3">
        <p class="MsoBodyTextIndent" id="Trẻ em muốn phát triển chiều cao, tre em muon phat trien chieu cao, phattrien chieucao" align="left">&nbsp;&nbsp;&nbsp;&nbsp;Để
            đầu tư chiều cao cho trẻ, không những cần tác động vào giai đoạn bé đã
            ra đời mà phải chuẩn bị ngay từ khi người phụ nữ sắp mang thai, thậm chí
            từ khi bé gái chưa đến tuổi dậy thì. Khi mang thai, bà mẹ cần ăn uống đủ
            chất, đa dạng các loại thực phẩm, không kiêng khem để đảm bảo tăng cân
            đủ 10-12 kg trong 9 tháng.</p>
        <p class="MsoNormal" style="margin-bottom: 2.55pt" align="left">Tròn 1
            năm tuổi, trung bình bé trai cao khoảng 76 cm, còn bé gái khoảng 75 cm.
            Khi được 2 tuổi, bé sẽ cao khoảng 85 cm. Người ta ước tính tầm vóc của
            người trưởng thành sẽ 2 lần chiều cao lúc 2 tuổi. Và giai đoạn cuối cùng
            để cải thiện tầm vóc là tuổi dậy thì: bé gái 10-16 tuổi, bé trai 12-18
            tuổi. Ở giai đoạn này, bé sẽ tăng 8-10 cm/năm.</p>
        <p class="MsoNormal" style="margin-bottom: 2.55pt" align="left">Trong
            giai đoạn trẻ còn có thể tăng chiều cao, cần có một chế độ dinh dưỡng
            hợp lý. Năng lượng cung cấp phải đủ, phù hợp với lứa tuổi, không quá dư
            vì dễ dẫn tới béo phì, cũng không quá ít vì dễ đưa đến suy dinh dưỡng.
            Bữa ăn của trẻ bao giờ cũng phải đầy đủ 4 nhóm: đạm - bột - béo - rau.
            Chất đạm nên chiếm khoảng 10-15% tổng năng lượng nói chung, tinh bột
            chiếm 60-65% và chất béo 10%. Nên cho trẻ ăn đa dạng không kiêng khem,
            không ăn uống thiên lệch.</p>
        <p class="MsoNormal" style="margin-bottom: 2.55pt" align="left">Vitamin
            và khoáng chất cũng có vai trò hết sức quan trọng trong việc phát triển
            chiều cao của trẻ. Canxi có nhiều trong sữa, cua, ốc, tôm, tép, đậu nành
            và các loại rau. Trong đó, sữa là quan trọng nhất. Canxi trong sữa dễ
            hấp thu do có vitamin D và phospho với tỷ lệ hợp lý. Ngoài ra, sữa còn
            cung cấp nhiều vitamin, khoáng chất và nguồn đạm có giá trị sinh học cao,
            chứa đủ các acid amin thiết yếu.<br>
            Để canxi được hấp thu tốt hơn, da cần tiếp xúc trực tiếp với ánh nắng để
            tổng hợp vitamin D. Vì vậy, nên dành cho con bạn 20 phút tắm nắng mỗi
            ngày.<br>
            <br>
            Vitamin A vừa giúp phòng chống khô mắt, tăng sức đề kháng chống nhiễm
            trùng, vừa góp phần trong việc phát triển chiều cao. Các thức ăn giàu
            vitamin A là sữa, trứng, cá, gan, thịt...<br>
            <br>
            Sắt, kẽm cũng có vai trò quan trọng đối với sự phát triển chiều cao. Sắt
            có nhiều trong thức ăn động vật như gan, huyết, thịt, cá... và các loại
            đậu đỗ, rau dền. Kẽm có trong con hàu, gan heo, thịt bò, sữa, lòng đỏ
            trứng, sữa đậu nành...<br>
            <br>
            Ngoài chế độ dinh dưỡng hợp lý, cần khuyến khích trẻ có lối sống năng
            động, tập thể dục thể thao thường xuyên. Ngủ đủ, ngủ sâu cũng làm hoóc
            môn tăng trưởng tiết ra nhiều, kích thích xương dài hơn.</p>
        <p class="MsoSubtitle" style="margin-bottom:2.55pt" align="left">Cách đo
            chiều cao cho trẻ</p>
        <p class="MsoNormal" style="margin-bottom: 2.55pt" align="left">Đối với
            trẻ dưới 24 tháng, để trẻ nằm ngửa trên một thước đo gỗ, đầu chạm sát
            một cạnh của thước đo. Một người giữ đầu trẻ thẳng, mắt nhìn lên trần
            nhà, một người giữ 2 đầu gối trẻ thẳng và đưa mảnh gỗ áp sát 2 gót bàn
            chân, bàn chân thẳng đứng. Đọc kết quả và ghi số cm.</p>
        <p class="MsoNormal" style="margin-bottom: 2.55pt" align="left">Đối với
            trẻ trên 24 tháng, để trẻ đi chân không, đứng thẳng, quay lưng vào tường;
            đầu, hai vai, mông, bắp chân, gót chân áp sát tường. Mắt nhìn thẳng ra
            phía trước, 2 tay xuôi theo thân mình. Dùng bảng gỗ áp sát đỉnh đầu,
            vuông góc với thước đo. Chiều cao đứng và nằm có thể chênh nhau 1-2 cm.<br>
            <br>
            Cách tính chiều cao đơn giản cho trẻ 2 -12 tuổi: Chiều cao (cm) = tuổi (năm)
            x 6 + 77. </p>




    </font></h3>