﻿<div id="noidung">

    <h1 style="text-align: center"><font size="5">Chế độ ăn giúp trẻ phát triển não bộ</font></h1>

    <p class="pbody" align="center" style="text-align: center; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">&nbsp;</p>
</font><font color="#000000" size="4">
    <p class="pbody" style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        Sự phát triển trí thông minh ở trẻ phụ thuộc vào 3 yếu tố: chế độ dinh
        dưỡng, di truyền (do gene) và sự rèn luyện, học tập, môi trường sống.</p>
    <p class="pbody" style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        Bổ sung dinh dưỡng từ thực phẩm là một trong những cách thiết thực nhất
        giúp trẻ phát triển thông minh, khỏe mạnh, góp phần mang lại sự phát
        triển toàn diện cho trẻ.</p>
    <p class="pbody" style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        Chế độ dinh dưỡng thông minh đáp ứng đầy đủ các dưỡng chất cơ bản như
        bột đường, đạm, béo, các loại vitamin và khoáng chất, chất xơ. </p>
    <p class="pbody" style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">&nbsp;
    </p>
    <p class="pbody" style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <b><i>Sữa mẹ</i></b>: Nghiên cứu cho thấy, sữa mẹ được chứng minh là
        nguồn dinh dưỡng quí giá không gì có thể thay thế vì chứa đầy đủ các
        chất cần thiết, mang lại những lợi ích tối đa cho sự phát triển của trẻ
        sơ sinh và trẻ nhỏ. Sữa mẹ không chỉ tăng sức đề kháng, ngăn ngừa các
        bệnh truyền nhiễm nguy hiểm mà còn tăng cả trí tuệ của trẻ. Các nh<font color="#000000">à
        khoa học</font><a title="khoa học" style="color: blue; text-decoration: underline; text-underline: single" href="http://www.thuviengiadinh.com/category/ung-dung/cung-kham-pha"><span style="color: windowtext; text-decoration: none"> </span></a>Đan Mạch khẳng định rằng, sữa mẹ giúp bé vừa khỏe mạnh
        hơn, vừa thông minh hơn. Nghiên cứu cũng cho thấy, những đứa bé được bú
        mẹ trong chín tháng đầu đời sẽ thông minh hơn, so với bé không được bú
        mẹ hoặc bú mẹ trong vòng một tháng hay ít hơn.</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <b><i>&nbsp;</i></b></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <b><i>Protein - Acid amin</i></b>: <em><span style="font-style: normal">
		Protein (chất đạm) là vật liệu xây dựng nên các tế bào mô, cơ quan của
		cơ thể, cung cấp các nguyên liệu cần thiết cho sự hình thành các dịch
		tiêu hóa, các nội tiết, các men và các vitamin. Đối với não, </span>
    </em>Protein là chất kiểm soát sự hưng phấn cũng như là quá trình kiểm
        soát của các tế bào não. Nó đóng vai trò quan trọng trong việc hoạt động
        của não như: trí nhớ, ngôn ngữ, suy nghĩ, vận động, t<em><span style="font-style: normal">ham
		gia </span></em>vào quá trình chuyển hóa của cơ thể, tổng hợp các chất
        dẫn truyền thần kinh...</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <em><span style="font-style: normal">Đơn vị của protein là các acid amin.
		</span></em>Có rất nhiều loại axit amin khác nhau, trong đó có 18 loại
        axit amin cần thiết nhưng cơ thể lại không thể tự tổng hợp được mà phải
        dựa vào nguồn thực phẩm bổ sung: thịt, cá, trứng, sữa, đậu… . Trong số
        này, có 8 loại axit amin đặc biệt cần chú ý là phenylalanine, lysine,
        leucine, isoleucine, threonine, valine, tryptophan, methionine. </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        Tuy nhiên, ăn nhiều thịt gây phản tác dụng. Nếu bé chỉ ăn thịt sẽ làm
        cho dịch thể trong cơ thể nghiêng về tính axit. Axit có nhiều trong não
        khiến não phản ứng chậm chạp.</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <b><i>&nbsp;</i></b></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <b><i>Tryptophan</i></b>&nbsp;là tiền chất của hai hormon melatonin và
        serotonin. Melatonin điều hoà sự đồng bộ của giấc ngủ giúp tái bảo dưỡng
        tế&nbsp; bào não sau thời gian hoạt động. Bé 3 tuổi ngủ 13 giờ, 4 tuổi ngủ 12
        giờ, 5-6 tuổi ngủ 10 giờ,&nbsp; mỗi ngày. Serotonin kiểm soát sự tăng trưởng
        của tế bào thần kinh đệm, sợi trục, đuôi gai, khớp thần kinh (synapse).
        Nhu cầu tryptophan của bé 3-6 tuổi là 12.5 mg/kg/ngày. Tryptophan có
        nhiều trong thịt, cá (300 mg/100g), trứng (140mg/cái), sữa (45mg/100ml),
        mè (500mg/100g)…</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">&nbsp;
    </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <b><i>Taurine: </i></b>Taurine là acid amin. Taurine rất cần trong giai
        đoạn não và hệ thần kinh bộc phát từ khi còn là phôi cho đến hết tuổi
        lên 3. Động vật thiếu taurine có thể bị mù. Ở người, mắt bắt đầu có tổn
        thương nhưng bổ sung taurine thì trở lại bình thường.</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <b><i>&nbsp;</i></b></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <b><i>Glucose</i></b>: Glucose cung cấp năng lượng cho các hoạt động của
        não, kích thích tăng cường trí nhớ và thúc đẩy quá trình tư duy. Đường
        glucose nên được cung cấp từ cơm, cháo, bún, mì, khoai, ngũ cốc nguyên
        hạt, rau củ, trái cây… Hạn chế các loại đường tinh vốn được hấp thu
        nhanh vào máu có trong nước ngọt, bánh kẹo, thức uống có đường… Các loại
        đường này sẽ làm cho não ở trong tình trạng mệt mỏi quá sức, dẫn đến suy
        nhược thần kinh hoặc là bị ức chế thần kinh. </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">&nbsp;
    </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <b><i>Chất béo</i></b>: bao gồm cả chất béo no, béo không no,
        cholesterol… trong mỡ cá, dầu thực vật, mỡ heo… là nguồn năng lượng
        thiết yếu cho sự tăng trưởng và phát triển của hệ thần kinh, tham gia
        vào cấu trúc của màng tế bào thần kinh. </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        Những năm đầu đời trẻ có thể được cung cấp chất béo đầy đủ từ nguồn sữa
        mẹ. Sau 1 tuổi, bé cần được uống sữa bò để bổ sung các chất béo và
        protein quan trọng khác. </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        Chất béo cần thiết cho não là omega 3 và omega 6 có nhiều trong </p>
    <p class="pbody" style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <b><i>&nbsp;</i></b></p>
    <p class="pbody" style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <b><i>Omega-3 và Omega-6</i></b>: là những a xít béo không bão hòa, có
        nhiều trong các loại cá hồi, cá thu, cá ngừ, cá trích, cá basa…, hạt mè,
        hạt hướng dương, hạt bí đỏ….</p>
    <p class="pbody" style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        Chất phốt pho và a xít béo trong những thức ăn này cần thiết cho hoạt
        động có hiệu quả của bộ não. Chúng góp phần làm nhẹ quá trình chuyển
        những tín hiệu thần kinh giữa các nơron não bộ, và cần thiết cho việc
        hình thành tế bào thần kinh. Nhờ đó, sự chú ý, trí nhớ, khả năng tập
        trung của bé dần phát triển hơn. </p>
    <p class="pbody" style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">&nbsp;
    </p>
    <p class="pbody" style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <b><i>DHA</i>,</b>&nbsp;là một acid béo không no chuỗi dài, cùng với
        arachidonic acid chiếm 45% các acid béo trong não. DHA cần cho sự phát
        triển nhận thức và thị lực của bé. Nhiều nghiên cứu khoa học cho thấy
        nếu trẻ được bổ sung DHA với hàm lượng đạt mức khuyến cáo, thị lực lẫn
        trí óc sẽ nhanh nhạy, làm tăng chỉ số trí tuệ, chậm sự lão hóa trí não ở
        người trưởng thành.</p>
    <p class="pbody" style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        Nghiên cứu khoa học tại Canada và Mỹ cho thấy, bên cạnh chức năng hỗ trợ
        phát triển trí não và thị lực, việc cung cấp DHA vào chế độ ăn của trẻ
        còn có tác dụng hỗ trợ khả năng cân bằng đáp ứng miễn dịch, từ đó giảm
        đáng kể tỷ lệ mắc bệnh trong 3 năm đầu đời. </p>
    <p class="pbody" style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        Nhu cầu DHA hoặc tiền chất DHA -linolenic acid là 0.5-1g/kg/ngày hoặc
        0.3% tổng năng lượng khẩu phần. Nguồn thực phẩm giàu DHA là các loại cá
        béo như cá hồi, cá mòi, cá basa, cá ngừ, lòng đỏ trứng, tim gan … Trong
        sữa bò không có DHA. D<em><span style="font-style: normal">ầu gan cá, ăn
		các loại dầu thực vật (dầu đậu nành, dầu oliu…) cũng cung cấp tiền chất
		của DHA.</span></em></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <b><i>&nbsp;</i></b></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <b><i>Vitamin </i></b>cũng có tác động lên hoạt động não bộ. Nhiều
        nghiên cứu cho thấy, việc bổ sung các chất vitamin và khoáng chất với
        liều lượng thấp có thể làm tăng nhẹ chỉ số IQ của bé (2-3 điểm). Mức độ
        này có vẻ không có ý nghĩa gì với bé được nuôi duỡng tốt nhưng với bé có
        điều kiện ăn uống thiếu thốn, việc bổ sung một liều lượng tương tự có
        thể làm tăng chỉ số IQ lên đến 15 điểm.</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        Các vitamin nhóm B như B1, B3, B5, B6, B12 có trong ngũ cốc nguyên hạt,
        các loại rau, sữa tươi… Vitamin B1: là chất không thể thiếu cho sự phát
        triển của não và khả năng tư duy của con người. Vitamin B2: đường
        glucose được dùng làm nguồn năng lượng cho não, khi đường tiến hành
        nhiệm vụ trao đổi chất rất cần một lượng vitamin B2 rất lớn. Vitamin B6:
        chủ yếu liên quan đến quá trình trao đổi chất, có tác dụng bổ trợ cho
        các chất xúc tác trong não, có nhiều trong các loại cá, các loại hạt đậu,
        gạo chưa giã kỹ. Vitamin B9 có nhiều trong rau lá xanh đậm, các loại hạt,
        cam, lòng đỏ trứng…Vitamin B12: nếu thiếu vitamin này sẽ dẫn đến thiếu
        máu, làm cho não không lấy được oxy và các chất dinh dưỡng. Vitamin B12
        có nhiều trong: gan bò, gan lợn, sữa tách bơ, con hàu, cá trích, thịt,
        cá, trứng, sữa...</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        Vitamin C (có trong rau và trái cây); acid folic, magie (có trong rau lá
        màu xanh đậm); mangan (có trong các loại hạt, trái cây) và kẽm (có trong
        hàu, cá và các loại hạt). Các vitamin và khoáng chất không chỉ có lợi
        cho sức khỏe của trẻ nói chung mà còn giúp cải thiện chức năng não và
        tăng cường trí nhớ cho trẻ.</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        Vitamin A: nếu thiếu vitamin A, mắt sẽ không nhìn rõ. Vitamin A có nhiều
        trong: gan gà, gan cá, lá tía tô, rau chân vịt, lá su hào, rau cải dầu,
        cà rốt, trứng gà.</p>
    <p class="pbody" style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">&nbsp;
    </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <b><i>Sắt</i></b>: Chất sắt là nguyên liệu để tạo hồng cầu trong máu
        mang oxi tới các tế bào trong cơ thể (trong đó có tế bào não) để nuôi
        dưỡng cơ thể, thúc đẩy tế bào não phát triển. Thiếu hụt sắt sẽ khiến bé
        chậm phát triển tinh thần vận động, bị hạn chế sự nhận thức, vô tâm
        trước tất cả, thờ ơ, không tập trung, chóng mệt mỏi, buồn ngủ, giảm trí
        nhớ...</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        Thực phẩm chứa nhiều sắt bao gồm: thịt, gan, tiết, lòng đỏ trứng, cá,
        các loại rau như: rau dền, rau ngót,..., các loại ngũ cốc: đại mạch, kê,
        bánh mỳ, các loại đậu... </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        Chất sắt có trong các loại rau củ, trái cây, ngũ cốc và hạt dẻ được hấp
        thụ tốt hơn cùng với vitamin C, vì thế khi ăn cháo kê hay đại mạch nâu
        nên uống thêm cuốc nước hoa quả sẽ rất tốt. </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        Khi chất béo, canxi, và phốt pho thừa sẽ gây cản trở việc hấp thụ chất
        sắt của cơ thể. Vì thế không nên ăn chung thịt và sữa, phô mai. Cả chất
        tanin cũng cản trở việc hấp thụ sắt, vì thế không nên uống trà và cà phê
        trong bữa ăn có thịt. </p>
    <p style="text-align: justify; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <b><i>&nbsp;</i></b></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <b><i>Kẽm</i></b>: Chất kẽm rất có ích cho não bộ, vì kẽm giúp bảo vệ
        các tế bào trước những tác động có hại, ảnh hưởng tới trao đổi chất,
        tham gia vào hình thành mô não bộ, kiểm soát, tổng hợp những chất đạm
        phụ trách về trí nhớ và học tập. Khi thiếu chất vi lượng này cơ thể
        không có biểu hiện gì đặc biệt, nên chúng ta rất khó nhận biết để kịp
        thời bổ sung. Bé có thể nhìn kém trong bóng tối và nheo mắt, dù không có
        rối loạn thị giác rõ rệt nào. Việc thiếu kẽm cũng gây ảnh hưởng tới khả
        năng nhận biết của trẻ và làm giảm sản xuất một số men tiêu hóa, có thể
        gây ra biếng ăn. Hải sản và thịt, sữa được xem là nguồn cung cấp kẽm rất
        lớn cho cơ thể trẻ. Ngoài ra kẽm còn có trong: gan, trứng, nấm, ngũ cốc,
        đậu phụ, cá khô, con hàu, rau câu, thịt lợn, hạt đậu, nấm, sò biển…và
        các loại hạt dẻ, hạt bí đỏ và hạt vừng. </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">&nbsp;
    </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <b><i>Canxi</i></b>: Cơ thể đủ canxi thì sẽ giúp cho xương, răng phát
        triển tốt, kiểm soát sự ức chế khác thường của thần kinh. Thiếu canxi sẽ
        làm cho tính tình thô bạo, sức đề kháng kém, không tập trung, suy nghĩ
        chậm chạp. Thực phẩm có nhiều canxi là: sữa bò, hải đới, canh sườn, cá,
        rau sống, các sản phẩm làm từ đậu, tôm, các loại quả… </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">&nbsp;
    </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <b><i>I ốt</i></b>: I ốt có ý nghĩa đặc biệt cho sự phát triển trí tuệ
        của trẻ. Ở những nước thiếu i ốt tự nhiên, chỉ số trí tuệ trung bình của
        người dân kém hơn các nước khác có i ốt đầy đủ từ 10 đến 15%. Cung cấp
        Iốt đầy đủ liên tục giúp hình thành não bộ hoàn chỉnh. Iốt cũng là
        nguyên liệu để tổng hợp hormone tuyến giáp rất cần thiết cho tăng trưởng,&nbsp;
        điều chỉnh quá trình phát triển của hệ thần kinh trung ương và các bộ
        phận khác của cơ thể như tiêu hóa, tim. </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        Cách tốt nhất để bổ sung iot là dùng muối chứa i ốt trong nấu ăn. Ngoài
        ra, Iốt được tìm thấy nhiều nhất trong tảo, hải sản, trứng, sữa, rau
        xanh. Iốt giúp tuyến giáp tổng hợp các hóc môn Thiếu chất này, trẻ sẽ
        kém thông minh. </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">&nbsp;
    </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <b><i>Cholin</i></b>&nbsp;là tiền chất của chất dẫn truyền thần kinh
        acetylcholine rất quan trọng trong việc tạo trí nhớ và phát triển sự
        nhận thức, tăng học hỏi cho bé. Người ta nhận thấy một chế độ ăn đầy đủ
        cholin thời ấu thơ có tác dụng phòng ngừa bệnh Alzheimer's. </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        Ngoài vai trò là dưỡng chất của sự phát triển trí não, cholin còn đóng
        vai trò chống ứ mỡ ở gan và giảm nguy cơ tim mạch do khả năng chống oxy
        hóa. </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        Cholin được xem là một dưỡng chất cần thiết cho con người với nhu cầu
        khuyến nghị là 250mg mỗi ngày cho bé 3-6 tuổi. Cholin có nhiều trong gan
        (350mg/100g), trứng (250mg/1 quả), bắp cải (250mg/100g), đậu nành
        (290mg/100g)… Sữa bò có ít cholin chỉ có 23mg/100ml. Ngoài ra Cholin có
        trong thịt bò, trứng, nước cam, chuối, sữa… </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">&nbsp;
    </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <b><i>Sialic acid</i></b>&nbsp;là một oligosaccharide có tham gia cấu tạo
        khớp thần kinh. Sialic acid cần thiết cho sự phát triển khả năng học tập
        của bé. Nhu cầu khuyến nghị chưa xác định.</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">&nbsp;
    </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <b><i>Phospholipid</i></b> là một dưỡng chất mang tính nền tảng trong
        cấu trúc và chức năng của tế bào. &nbsp;Phospholipid tham gia sản sinh tế bào
        mới, tạo vỏ bọc cho tế bào thần kinh, tạo điều kiện giúp các tế bào thần
        kinh truyền tín hiệu được thuận lợi và nhanh chóng; từ đó, hoạt động của
        não bộ sẽ nhanh nhạy và hiệu quả hơn. Lòng đỏ trứng và thịt nội tạng là
        nguồn cung cấp phospholipid dồi dào cho trẻ.</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">&nbsp;
    </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <b><i>Axít Folic</i></b> tốt cho sự phân chia tế bào trong quá trình
        phát triển não. Axit folic có trong các loại rau cải, trái cây tươi.</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">&nbsp;
    </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <b><i>Carbonhydrate: </i></b>Carbonhydrate cũng có vai trò quan trọng
        trong việc phát triển trí não của bé. Tuy nhiên, hàm lượng carbonhydrate
        có trong thực phẩm cũng đã đủ để cung cấp cho nhu cầu cơ bản của cơ thể,
        không cần phải bổ sung quá nhiều.</p>



</font></div>