﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <h1><font face="Times New Roman" size="5">Chế độ ăn&nbsp;giúp trẻ thông minh</font></h1>

    <p style="margin-top: 0; margin-bottom: 0">&nbsp;</p><font color="#000000" size="3">
    <h5 align="justify">
		<span lang="VI" style="font-size: 12.0pt; font-weight: normal; font-style: normal">
		<a href="Chế%20độ%20ăn%20giúp%20trẻ%20thông%20minh">
            <img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-giup-tre-thong-minh.jpg" width="300" height="300" lowsrc="Chế%20độ%20ăn%20giúp%20trẻ%20thông%20minh" longdesc="Chế độ ăn giúp trẻ thông minh" alt="Chế độ ăn giúp trẻ thông minh" align="left"></a>Chế độ ăn uống của mẹ thời kỳ bầu bí liên quan mật thiết đến sự phát
		triển não bộ của bé. Bởi vậy mẹ nhất định phải nắm bắt thời cơ này mà
		bồi bổ cho hợp lý. Tám nguyên tắc dinh dưỡng sau đây sẽ giúp mẹ bé.</span></h5>
    <p align="justify"><span lang="VI">Chú trọng </span>thực phẩm <span lang="VI">chính,
		trạm năng lượng phát triển não bộ cho bé</span></p>
    <p align="justify"><span lang="VI">Đường Glucose là </span>chất dinh dưỡng
		<span lang="VI">duy nhất cung cấp năng lượng cho não mà hợp chất
		carbohydrate chính là nguồn cung cấp đường glucose chủ yếu. Bởi vậy
		những thực phẩm giàu carboydrate như gạo, bột mì, ngô hay các loại đậu,
		khoai tây, trái cây nên chiếm tỉ lệ khoảng 60% (thậm chí có thể nhiều
		hơn) trong bữa ăn của người mẹ. Mẹ cũng nên hạn chế nạp những thực phẩm
		có chứa hàm lượng đường đơn giản cao như đường mía, đường đỏ.</span></p>
    <p align="justify"><span lang="VI">Bổ sung protein, vật chất nền móng để phát triển não
		bộ của bé.</span></p>
    <p align="justify"><span lang="VI">Cần phải có 35% protein để duy trì và phát triển chức
		năng của bộ não, tăng cường khả năng tư duy, phân tích và lý giải của
		não. Nhưng bổ sung protein cần phải được tiến hành dưới tiền đề năng
		lượng và hợp chất carbohydrate cũng được cung cấp đầy đủ. Nếu nhiệt
		lượng chưa được bổ sung đầy đủ mà đã bổ sung hàm lượng lớn protein thì
		protein không những không dự trữ và chuyển cho bào thai mà ngược lại sẽ
		bị đốt cháy để cung cấp năng lượng cho mẹ. Hơn thế nữa, hàm lượng lớn
		axit uric sản sinh trong quá trình phân giải protein sẽ làm tăng thêm
		gánh nặng cho thận.</span></p>
    <p align="justify"><span lang="VI">Vậy nên tiền đề của việc ăn ngon chính là ăn no, đặc
		biệt đối với thai phụ ở thai kỳ thứ hai, bởi việc mang thai cộng với
		gánh nặng công việc sẽ khiến năng lượng của người mẹ bị tiêu hao nhiều
		hơn. Một bà mẹ 55-60kg, làm công việc lao động tương đối nhẹ nhàng một
		ngày ngoài 6 lạng tinh bột cần phải bổ sung 500ml sữa, 1 quả trứng, 3
		lạng thịt nạc (thịt gia súc, gia cầm hay tôm cá) và lượng hoa quả rau
		xanh phù hợp. Đặc biệt nên cố gắng đảm bảo lượng thực phẩm động vật vì
		hàm lượng protein trong động vật cao hơn nhiều so với thực vật.</span></p>
    <p align="justify"><span lang="VI">Chú trọng đến axit béo - vũ khí bí mật</span> giúp bé
        thông minh</p>
    <p align="justify"><span lang="VI">Chất béo chiếm khoảng 50-60% trọng lượng não bé.
		Những loại chất béo có chất lượng cao đặc biệt là axit béo tổng hợp
		không no (polyunsaturated fatty acid) và chất béo lecithin có ý nghĩa vô
		cùng quan trọng trong việc thúc đẩy sự phát triển tế bào não và hình
		thành myelin (chất béo bao bọc xung quanh dây thần kinh). Dầu bắp, dầu
		oliu, dầu mè, dầu đậu nành, dầu thực vật và các loại cá biển nước sâu,
		tôm đều là những thực phẩm có nguồn axit béo rất tốt.</span></p>
    <p align="justify">Tăng cường vitamin B,<span lang="VI"> axit folic - giải pháp ngừa
		khuyết tật ống thần kinh</span></p>
    <p align="justify"><span lang="VI">Vitamin nhóm B có tác dụng duy trì chức năng bình
		thường của hệ thần kinh, thúc đẩy hoạt động trí tuệ. Phụ nữ trước khi
		mang thai khoảng một tháng và trong suốt thời gian đầu của thai kỳ mỗi
		ngày nên bổ sung 400mg axit folic để ngăn chặn khuyết tật ở ống thần
		kinh. Ngũ cốc, gan, thịt, đậu và rau sẫm màu chính là nguồn vitamin nhóm
		B rất phong phú.</span></p>
    <p align="justify"><span lang="VI">Bổ sung DHA và Cholin - thúc đẩy sự phát triển của
		</span>tế bào não của thai nhi</p>
    <p align="justify"><span lang="VI">DHA là một loại axit béo tổng hợp không no tồn tại
		trong thiên nhiên rất cần thiết cho sự phát triển hoàn hảo của hệ thần
		kinh, nó có liên quan trực tiếp đến sự phát triển tế bào thần kinh ở não
		thai nhi và võng mạc. Phụ nữ mang thai mặc dù có thể bổ sung DHA thông
		qua axit linolenic có trong thực phẩm có nguồn gốc thực vật chuyển hóa
		thành DHA, nhưng nhiều nghiên cứu gần đây cho thấy chỉ có khoảng 3% axit
		linolenic loại này chuyển hóa thành DHA, do đó bổ sung DHA thông qua
		thực phẩm có nguồn gốc từ động vật vẫn là sự lựa chọn thích hợp cho thai
		phụ.</span></p>
    <p align="justify"><span lang="VI">Trong mỡ của tôm, cá biển (đặc biệt là cá nước sâu
		như cá thu, cá ngừ, cá hồi, cá chích, cá chình, tôm sú...) có chứa hàm
		lượng lớn DHA, do đó mỗi tuần bạn hãy ăn 3-4 lần tôm cá để cung cấp DHA
		cho thai nhi.</span></p>
    <p align="justify"><span lang="VI">Hàm lượng DHA của động vật trên cạn tương đối nhỏ, do
		đó nếu không ăn được cá tôm bạn có thể lựa chọn các sản phẩm có chứa DHA
		(từ sữa, trứng, đậu tương...) để hỗ trợ cho việc hấp thụ DHA.</span></p>
    <p align="justify"><span lang="VI">Cholin là dưỡng chất thiết yếu của cơ thể, có vai trò
		tăng cường trí nhớ nhưng lượng Cholin tích lũy trong cơ thể khó có thể
		thỏa mãn nhu cầu khi mang thai, do đó bổ sung lượng cholin thích hợp từ
		các thực phẩm như tim</span> gan động vật<span lang="VI">, trứng, thịt,
		sữa, đậu lạc, khoai tây sẽ thúc đẩy sự phát triển nhanh chóng các tế bào
		não của thai nhi.</span></p>
    <p align="justify"><span lang="VI">Không quên kẽm. Thiếu kẽm, não bé kém phát triển</span></p>
    <p align="justify"><span lang="VI">Kẽm là một trong những</span> nguyên tô vi lượng
		<span lang="VI">thiết yếu của cơ thể, nó có vai trò tác động chọn lọc
		lên quá trình phân giải axit nucleic và protein - những thành phần quan
		trọng nhất của sự sống. Kẽm có độ tập trung cao trong não đặc biệt ở
		thùy hải mã, ở vỏ não. Nếu thiếu kẽm có thể dẫn đến rối loạn thần kinh
		và cơ thể phát sinh bệnh tâm phần phân liệt. Để bổ sung lượng kẽm thích
		hợp cho thai nhi, mẹ cần phải ăn các loại thực phẩm có hàm lượng kẽm cao
		như thịt, gan, trứng, sữa, cá tôm, rau củ quả có màu vàng hoặc màu xanh
		đậm.</span></p>
    <p align="justify"><span lang="VI">Đừng bỏ qua iốt - nguyên liệu cần thiết cho phát
		triển não và hệ thần kinh</span></p>
    <p align="justify"><span lang="VI">Iốt tập trung chủ yếu ở tuyến giáp để tổng hợp
		hoócmôn giáp trạng, nó cũng là nguyên liệu thiết yếu phát triển não và
		hệ thống thần kinh ở thai nhi. Thông thường muối ăn có chứa iốt, nhưng
		mẹ cần biết cách sử dụng muối cho đúng: dù chiên xào hay nấu cũng nên bỏ
		muối sau khi đã nấu kỹ hoặc trước khi bắc nồi ra để tránh mất iốt trong
		quá trình nấu nướng lâu. Ngoài ra, rong biển, cá biển cũng rất giàu iốt.</span></p>
    <p align="justify"><span lang="VI">Cảnh giác với thực phẩm có chứa kim loại nặng. Không
		ăn quá nhiều cá đặc biệt là các loại cá có kích thước lớn</span></p>
    <p align="justify"><span lang="VI">Ăn cá tất nhiên rất có lợi, nhưng không nên ăn quá
		nhiều cá đặc biệt là các loại cá lớn vì trong cơ thể chúng có chứa thủy
		ngân. Chất này sẽ đi qua nhau thai để vào bào thai và tích lũy trong cơ
		thể bé lâu dần có thể ảnh hưởng đến sự phát triển của não bộ bé và rất
		có thể sẽ khiến trí lực của bé chậm phát triển.</span></p>
    <p align="justify"><span lang="VI">Cuối cùng xin nhắc các bà mẹ rằng vitamin và các
		nguyên tố vi lượng như canxi, phốt pho, natri, kali, iốt, sắt, kẽm,
		mangan đều là những dưỡng chất không thể thiếu cho hoạt động của não bé.
		</span>Chế độ dinh dưỡng <span lang="VI">đầy đủ, cân bằng sẽ giúp não bé
		phát triển thông minh vượt trội.</span></p>




</font></h3>