﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <p style="margin-top: 0; margin-bottom: 0" align="center">
        <b>
            <font size="5" color="#000080">Chế độ ăn uống
                cho trẻ em 1-3 tuổi</font></b></p>
    <p class="MsoBodyTextIndent" id="Trẻ em, tre em, chedoan doivoi" align="left">
        <font color="#0033CC" size="3" face="Times New Roman">
		<span style="font-weight: 400">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Đây
		là lứa tuổi phát triển rất nhanh cả về thể lực và trí tuệ. Chiều cao của
		trẻ lúc 2 tuổi đúng bằng 1/2 lúc trưởng thành. Vì vậy, việc nuôi dưỡng
		tốt ở tuổi 1-3 sẽ làm đà cho sự phát triển ở giai đoạn tiếp theo.</span></font></p>
    <p class="MsoNormal" align="left">
        <font color="#0033CC" size="3" face="Times New Roman">
		<span style="font-weight: 400">Nhu cầu về dinh dưỡng ở lứa tuổi 1-3 tính
		theo trọng lượng cơ thể thì cao hơn so với người lớn. Tuy nhiên, do bộ
		máy tiêu hóa chưa hoàn chỉnh nên trẻ rất dễ bị rối loạn tiêu hóa nếu
		nuôi dưỡng không đúng. Còn nếu ăn không đủ, trẻ sẽ bị suy dinh dưỡng.<br>
		<br>
		Về năng lượng, trẻ cần khoảng 100-110 Kcal/kg cân nặng mỗi ngày, được
		cung cấp qua các bữa ăn như bột, cháo, cơm nát, bún... nấu với các loại
		thức ăn cung cấp chất đạm như: thịt, trứng, cá, tôm, cua, đậu, đỗ, lạc
		vừng. Ngoài ra, dầu mỡ trong bữa ăn cũng là nguồn cung cấp năng lượng
		quan trọng. Một ngày trẻ nên ăn 150-200 g gạo, nếu đã dùng bún, mỳ, phở
		thì rút bớt gạo đi.<br>
		<br>
		</span><span style="font-weight: 700">Chất đạm:</span><span style="font-weight: 400">
		Nhưng ăn quá nhiều chất đạm cũng không tốt vì sẽ gây gánh nặng cho thận,
		lại gây táo bón. Trong bữa ăn, đạm chỉ được hấp thu tốt nhất khi có tỷ
		lệ cân đối với bột đường và chất béo. Vai trò của rau xanh cũng rất quan
		trọng, việc thiếu rau xanh sẽ hạn chế hấp thu đạm.</span></font></p>
    <p class="MsoNormal" align="left">
        <font color="#0033CC" size="3" face="Times New Roman">
		<span style="font-weight: 400">Trẻ cần 2-2,5 g đạm/kg cân nặng mỗi ngày.
		Số gam đạm trong 100 gam thực phẩm là: thịt lợn hoặc thịt bò, thịt gà
		nạc có 20-21 g; cá, tôm cua (đã trừ phần thải bỏ) 16-18 g; trứng gà (vịt)
		13-14 g; đậu phụ 9 g. Như vậy, một ngày trẻ cần khoảng 120-150 g thịt
		hoặc 150-200 g cá, tôm hoặc 300 g đậu phụ, nếu ăn trứng thì một quả
		trứng gà có lượng đạm tương đương với 30 g thịt nạc.</span></font></p>
    <p class="MsoNormal" align="left">
        <font color="#0033CC" size="3" face="Times New Roman">
            <span style="font-weight: 700">Chất béo:</span><span style="font-weight: 400">
		Dầu và mỡ cung cấp năng lượng trong bữa ăn của trẻ, làm cho thức ăn lỏng
		mềm, tạo cảm giác ngon miệng. Nó cũng là dung môi hòa tan các vitamin
		tan trong dầu như vitamin A, D, E, K. Các vitamin này chỉ hấp thu được
		khi chế độ ăn có đủ dầu mỡ. Ở lứa tuổi 1-3, trẻ cần khoảng 30-40 g dầu
		mỡ một ngày, cụ thể một bát bột hoặc cháo cần cho 1-2 thìa cà phê dầu
		hoặc mỡ. Nếu trẻ đã ăn cơm thì cho dầu và mỡ vào xào, rán thức ăn.</span></font></p>
    <p class="MsoNormal" align="left">
        <font color="#0033CC" size="3" face="Times New Roman">
		<span style="font-weight: 400">Nên cho trẻ ăn cả dầu và mỡ, nhất là mỡ
		các loại gia cầm như gà, ngan, vịt... vì chúng chứa nhiều axit béo chưa
		no cần thiết cho sự phát triển của trẻ, nhất là các tế bào não.<br>
		<br>
		</span><span style="font-weight: 700">Các vitamin:</span><span style="font-weight: 400">
		</span></font></p>
    <p class="MsoNormal" align="left">
        <font color="#0033CC" size="3" face="Times New Roman">
		<span style="font-weight: 400">- Vitamin A cần cho sự tăng trưởng, bảo
		vệ da, niêm mạc, tăng sức đề kháng của cơ thể, chống các bệnh nhiễm
		khuẩn, bảo vệ mắt, chống quáng gà và các bệnh khô mắt. Nhu cầu vitamin A
		ở lứa tuổi này là 400 mcg/ngày. Vitamin A có nhiều trong gan, trứng, sữa,
		dầu gan cá, gan cá biển; dầu cọ, dầu đậu tương, dầu ngô, đu đủ, xoài, cà
		rốt, bí ngô, gấc, rau ngót, rau muống, rau giền.</span></font></p>
    <p class="MsoNormal" align="left">
        <font color="#0033CC" size="3" face="Times New Roman">
		<span style="font-weight: 400">- Vitamin D giúp cơ thể hấp thu canxi,
		phốt pho để duy trì và phát triển hệ xương, răng vững chắc, chống bệnh
		còi xương ở trẻ em. Nhu cầu vitamin D là 400 UI/ngày.</span></font></p>
    <p class="MsoNormal" align="left">
        <font color="#0033CC" size="3" face="Times New Roman">
		<span style="font-weight: 400">- Vitamin C tăng cường hấp thu sắt, chống
		bệnh thiếu máu, giữ cho thành mạch vững chắc, chống bệnh chảy máu chân
		răng. Nhu cầu vitamin C là 30-60 mg/ngày.</span></font></p>
    <p class="MsoNormal" align="left">
        <font color="#0033CC" size="3" face="Times New Roman">
            <span style="font-weight: 700">&nbsp;Các chất khoáng</span></font></p>
    <p class="MsoNormal" align="left">
        <font color="#0033CC" size="3" face="Times New Roman">
		<span style="font-weight: 400">- Canxi, phốt pho giúp cho việc tạo xương,
		tạo răng, đảm bảo chức năng thần kinh và sự đông máu bình thường. Mỗi
		ngày trẻ cần 500-600 mg canxi. Chất này có nhiều trong sữa, các loại tôm,
		cua, cá, trai, ốc... Phốt pho có nhiều trong các loại cây ngũ cốc. Giữa
		canxi (CA) và phốt pho (P) phải có một tỷ lệ thích hợp thì trẻ mới hấp
		thu được. Tỷ lệ CA/P trong sữa mẹ là phù hợp nhất (bằng 1/1,5) nên trẻ
		bú sữa mẹ ít bị còi xương hơn trẻ uống sữa bò.</span></font></p>
    <p class="MsoNormal" align="left">
        <font color="#0033CC" size="3" face="Times New Roman">
		<span style="font-weight: 400">- Sắt rất cần cho sự tạo máu để phòng
		chống thiếu máu. Nó còn tham gia vào thành phần các men ôxy hóa khử
		trong cơ thể. Sắt có nhiều trong các loại thức ăn động vật như tim, gan,
		thận, đậu, đỗ và các loại rau có màu xanh thẫm. Sắt trong thức ăn động
		vật dễ hấp thu hơn trong thực vật; nhưng các loại rau xanh lại chứa
		nhiều vitamin C , giúp tăng cường hấp thu sắt. Vì vậy, nên cho trẻ ăn cả
		2 loại.</span></font></p>
    <p class="MsoNormal" align="left">
        <font color="#0033CC" size="3" face="Times New Roman">
		<span style="font-weight: 400">- Kẽm giúp chuyển hóa năng lượng và hình
		thành tổ chức. Kẽm tham gia vào các men chuyển hóa trong cơ thể, giúp
		trẻ ăn ngon miệng và phát triển tốt. Khi bị thiếu kẽm, trẻ thường kém ăn,
		rối loạn vị giác, chậm liền vết thương, rối loạn giấc ngủ, chậm phát
		triển về chiều cao. Kẽm có nhiều trong các loại thức ăn động vật như
		thịt, cá; các loại nhuyễn thể như trai, hến, sò huyết. Các loại ngũ cốc,
		rau quả cũng chứa nhiều kẽm nhưng giá trị sinh học thấp hơn.</span></font></p>
    <p class="MsoNormal" align="left">
        <font color="#0033CC" size="3" face="Times New Roman">
		<span style="font-weight: 400">&nbsp;Ngoài các chất dinh dưỡng đã nêu ở trên,
		cơ thể trẻ còn cần các chất xơ giúp đưa nhanh chất thải ra khỏi đường
		tiêu hóa, phòng chống táo bón. Chất này có nhiều trong rau xanh và quả
		chín.</span></font></p>
    <p class="MsoNormal" align="left">
        <font color="#0033CC" size="3" face="Times New Roman">
		<span style="font-weight: 400">Trẻ 1-3 tuổi cần uống mỗi ngày 1-1,2 lít
		nước. Nên uống nước đun sôi để nguội, nước quả, nước rau luộc..., không
		nên dùng các loại nước ngọt có ga.</span></font></p>
</font></h3>