﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">

    <p style="text-align: center"><font color="#000000" size="6">
			<span style="line-height: 150%; color: #111111; font-weight: 700; background: white">
			Chế độ ăn uống kiêng kị cho trẻ bị bệnh đái dầm</span></font></p>

    <p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">

        &nbsp;</p><font color="#000000" size="3">
    <p class="MsoNormal" style="text-align:justify;text-indent:.5in;line-height:150%">
			<span style="font-size: 14.0pt; line-height: 150%; color: black; background: white">
			<img border="0" src="http://www.thaythuoccuaban.com/images/dai-dam.jpg" width="320" height="213" align="left" lowsrc="Chế%20độ%20ăn%20uống%20cho%20bệnh%20đái%20dầm" longdesc="Chế độ ăn uống cho bệnh đái dầm" alt="Chế độ ăn uống cho bệnh đái dầm">YHCT
			cho rằng trẻ em trên 3 tuổi mà còn đái dầm là thận khí chậm phát
			triển,&nbsp;trẻ em trên 4 tuổi mà còn đái dầm là bệnh và cần phải điều
			trị. Nguyên nhân gây chứng đái dầm do thận khí hư hàn hoặc do bàng
			quang có nhiệt gây nên, hoặc đôi khi có thể do thói quen của trẻ. Để
			khắc phục và điều trị khỏi chứng đái dầm ở trẻ, bên cạnh việc dùng
			thuốc, các bậc cha mẹ cũng cần quan tâm tới chế độ ăn uống, sinh
			hoạt, nghỉ ngơi của trẻ.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:.5in;line-height:150%">
			<span style="font-size: 14.0pt; line-height: 150%; color: black; background: white">
			Phòng khám Đông y Nguyễn Hữu Toàn xin đưa ra một số lời khuyên về
			chế độ ăn uống cho trẻ bị đái dầm.</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; color: black; background: white">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Đối với những trẻ bị đái dầm, không nên cho trẻ ăn, uống
			các thực phẩm chứa nhiều nước sau 6 giờ tối</span><span style="font-size:14.0pt;line-height:150%;color:#333333">
			như: cháo, súp, dưa hấu… hoặc uống quá nhiều nước trước khi đi ngủ.
			Nên cho trẻ ăn những thực phẩm chứa nhiều nước vào bữa sáng.</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; color: black; background: white">
			Ngoài ra cha mẹ không nên cho con ăn một số các thực phẩm sau:</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%"><b>
			<span style="font-size: 14.0pt; line-height: 150%; color: black; background: white">
			Thực phẩm chứa nhiều gia vị cay:</span></b><span style="font-size: 14.0pt; line-height: 150%; color: black; background: white">
			Gia vị cay trong thực phẩm có thể gây kích thích bàng quang, khiến
			trẻ không tự chủ được và dễ đái dầm hơn.</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%"><b>
			<span style="font-size: 14.0pt; line-height: 150%; color: black; background: white">
			Trái cây họ cam quýt:</span></b><span style="font-size: 14.0pt; line-height: 150%; color: black; background: white">
			Lượng axit dồi dào trong trái cây họ cam quýt có thể là nguyên nhân
			gây kích thích bàng quang, vì thế không nên cho trẻ uống nước cam,
			nước chanh vào buổi tối.</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: white">
        <b><span style="font-size:14.0pt;line-height:
150%;color:#333333">Thực phẩm chứa cafein:</span></b><span style="font-size:
14.0pt;line-height:150%;color:#333333"> Cafein được biết đến là một chất lợi
			tiểu, kích thích bàng quang. Nên tránh cho trẻ ăn, uống thực phẩm
			chứa cafein vào buổi tối sẽ khiến trẻ đi tiểu nhiều hơn vào ban đêm.</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: white">
        <b><span style="font-size:14.0pt;line-height:
150%;color:#333333">Tham khảo một số món ăn – bài thuốc chữa bệnh đái dầm.</span></b></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: white">
        <b><span style="font-size:14.0pt;line-height:
150%">Cháo long nhãn:</span></b><span style="font-size:14.0pt;line-height:150%">
			&nbsp;long nhãn 20g, gạo 50g, đường phèn 10g. Gạo xay thành bột
			hoặc xay hạt nhỏ, cho vào nồi đổ nước vừa đủ nấu thành
			cháo. Khi cháo chín cho long nhãn thái nhỏ, đường phèn vào
			quấy đều, cháo sôi lại là được. Cho trẻ ăn vào buổi sáng
			lúc đói, ngày ăn 1 lần. Cần ăn liên tục 7 - 10 ngày.</span></p>
    <p style="text-align: justify; line-height: 150%; background: white">
        <b><span style="font-size:14.0pt;line-height:
150%;color:#111111">Cháo quả vải:</span></b><span style="font-size:14.0pt;
line-height:150%;color:#111111"> vải 15 quả, gạo 50g, cật lợn 100g, gia vị
			vừa đủ. Gạo xay thành bột, cật lợn làm sạch, thái thật
			mỏng, ướp gia vị xào chín. Quả vải bóc lấy cùi thái nhỏ.
			Cho bột gạo vào nồi, đổ nước vừa đủ, quấy đều đun trên
			lửa nhỏ, khi chín cho cật lợn và cùi vải vào quấy đều,
			cháo sôi lại là được. Cho trẻ ăn ngày 1 lần vào buổi sáng
			lúc đói. Cần ăn liền 5 - 7 ngày.</span></p>
    <p style="text-align: justify; line-height: 150%; background: white">
        <b><span style="font-size:14.0pt;line-height:
150%;color:#111111">Cháo tôm:</span></b><span style="font-size:14.0pt;
line-height:150%;color:#111111"> tôm tươi 150g, rau hẹ tươi 100g, gạo 50g, gia
			vị vừa đủ. Gạo xay thành bột, tôm rửa sạch, bỏ vỏ nhúng
			nước sôi, thái nhỏ ướp gia vị xào chín. Rau hẹ rửa sạch
			thái nhỏ. Vỏ, càng tôm giã nhỏ lọc lấy nước ngọt. Cho bột
			gạo vào nước tôm quấy đều đun trên lửa nhỏ, cháo chín cho
			thịt tôm, rau hẹ vào đảo đều, cháo sôi lại một lúc là
			được. Cho trẻ ăn ngày 1 lần vào buổi sáng lúc đói. Cần ăn
			liền 7 - 10 ngày.</span></p>
    <p style="text-align: justify; line-height: 150%; background: white">
        <b><span style="font-size:14.0pt;line-height:
150%;color:#111111">Cháo thịt dê:</span></b><span style="font-size:14.0pt;
line-height:150%;color:#111111"> thịt dê 10g, gạo 50g, hạt sen 20g, bột gia
			vị vừa đủ. Thịt dê rửa sạch thái mỏng ướp gia vị xào
			chín tới. Gạo, hạt sen xay thành bột mịn cho vào nồi thêm
			nước vừa đủ, quấy đều đun trên lửa nhỏ. Khi chín cho thịt
			dê vào đảo đều, cháo sôi lại là được. Cho trẻ ăn ngày 1
			lần vào buổi sáng lúc đói. Cần ăn liền 7 - 10 ngày.</span></p>
    <p style="text-align: justify; line-height: 150%; background: white">
        <b><span style="font-size:14.0pt;line-height:
150%;color:#111111">Nước tang phiêu diêu:</span></b><span style="font-size:
14.0pt;line-height:150%;color:#111111"> (tổ bọ ngựa ở cây dâu): tang phiêu
			diêu 10 tổ, sấy khô, nghiền thành bột mịn. Mỗi lần lấy 1
			thìa cà phê bột tang phiêu tiêu, 1 thìa cà phê đường, cho vào
			cốc thêm 50ml nước lọc, quấy đều, đường tan hết cho trẻ
			uống ngày 2 lần lúc đói. Cần uống liền 3 ngày.</span></p>
    <p style="text-align: justify; line-height: 150%; background: white">
        <b><span style="font-size:14.0pt;line-height:
150%;color:#111111">Cháo cật lợn:</span></b><span style="font-size:14.0pt;
line-height:150%;color:#111111"> cật lợn 1 quả, kỷ tử 15g, rượu 1 thìa
			canh, gạo 50g, dầu thực vật, bột ngọt, gia vị vừa đủ. Cật
			lợn làm sạch thái mỏng, ướp bột ngọt, gia vị xào chín
			bằng dầu thực vật. Gạo xay thành bột cho vào nồi đổ nước
			vừa đủ, quấy đều đun trên lửa nhỏ cho cháo chín, rồi cho
			cật lợn, kỷ tử vào đảo đều, cháo sôi lại một lúc là được.
			Cho trẻ ăn ngày 1 lần lúc đói. Cần ăn liền 5 ngày.</span></p>
    <p style="text-align: justify; line-height: 150%; background: white">
        <b><span style="font-size:14.0pt;line-height:
150%;color:#111111">Cháo củ mài:</span></b><span style="font-size:14.0pt;
line-height:150%;color:#111111"> củ mài 100g, kỷ tử 10g, đường trắng 20g.
			Củ mài bỏ vỏ rửa sạch cắt miếng cùng với kỷ tử cho vào
			nồi, đổ nước vừa đủ, ninh nhừ, dùng đũa đánh tơi, cho
			đường vào quấy đều, cháo sôi lại là được. Cho trẻ ăn ngày
			1 lần lúc đói. Cần ăn liền 5 ngày.</span></p>
    <p style="text-align: justify; line-height: 150%; background: white">
        <b><span style="font-size:14.0pt;line-height:
150%;color:#111111">Nước hạt trắc bách diệp:</span></b><span style="font-size:14.0pt;line-height:150%;color:#111111">
			hạt trắc bách diệp phơi khô 50g tán thành bột mịn. Mỗi lần
			uống 5g với nước cơm đặc. Ngày uống 2 lần lúc đói. Cần
			uống liền 5 ngày.</span></p>
    <p style="text-align: justify; line-height: 150%; background: white">
			<span style="font-size:14.0pt;line-height:150%;color:#111111">Chú ý:
			Những bậc cha mẹ có con bị đái dầm không nên quát mắng, cáu gắt khi
			trẻ đái dầm, nên an ủi, động viên con và nên chú ý hơn trong việc
			chăm sóc chế độ ăn, giấc ngủ cho cháu. Ngoài ra vào ban đêm có thể
			đánh thức trẻ dậy vào một giờ nhất định để trẻ đi vệ sinh, tránh
			việc cháu bị đái dầm.</span></p>

</font>


</h3>