﻿<div id="noidung">
    <h1 style="text-align: center"><font size="5">Chế độ ăn uống cho bệnh u não</font></h1>

        <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
				<span style="font-size: 13.0pt; line-height: 150%; color: black; border: 1.0pt none windowtext; padding: 0cm">
				<img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-u-nao.jpg" width="215" height="172" lowsrc="Chế%20độ%20ăn%20cho%20bệnh%20u%20não" longdesc="Chế độ ăn cho bệnh u não" alt="Chế độ ăn cho bệnh u não" align="left">U não là căn bệnh không hề hiếm gặp. Bệnh có thể gặp ở trẻ con
				và người lớn. U não được chia làm 2 loại chính: u lành tính và u
				ác tính, ngoài ra còn một loại nữa là u não di căn (do bị ung
				thư ở các bộ phận khác và di di căn lên não). Hiện nay điều trị
				u não chủ yếu bằng phương pháp phẫu thuật nhưng hiệu quả cũng
				không cao. Hướng điều trị u não theo phương pháp Đông y lại mang
				lại những hiệu quả khá tốt. Dù điều trị u não theo phương pháp
				nào thì chế độ ăn uống có vai trò quan trọng. Dưới đây là chế độ
				ăn uống giúp bệnh nhân u não chống chọi với bệnh tốt hơn. Nên có
				chế độ ăn nhiều rau xanh, hoa quả tươi, các loại thịt nạc,
				carbohydrates, hạn chế những thực phẩm có nhiều chất béo, chứa
				hàm lượng protein cao. </span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
            <b>
		<span style="font-size: 13.0pt; line-height: 150%; color: black; border: 1.0pt none windowtext; padding: 0cm">
		Những thực phẩm nên sử dụng:</span></b></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
            <b>
		<span style="font-size: 13.0pt; line-height: 150%; color: black; border: 1.0pt none windowtext; padding: 0cm">
		Acid folic:</span></b><span style="font-size: 13.0pt; line-height: 150%; color: black; border: 1.0pt none windowtext; padding: 0cm">
		Nếu bạn nhận được đủ axit folic trong chế độ ăn uống của bạn, nó sẽ giúp
		cho bệnh u não lây lan chậm hơn. Mỗi ngày bệnh nhân u não cần cung cấp
		cho cơ thể ít nhất 400mg acid folic. Ngoài việc bổ sung bằng vitamin
		tổng hợp có thể bổ sung bằng các loại thực phẩm như: rau bina hoặc tối
		hơn màu xanh lá cây, rau lá xanh, cam, gạo, và đậu</span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
            <b>
		<span style="font-size: 13.0pt; line-height: 150%; color: black; border: 1.0pt none windowtext; padding: 0cm">
		Chất chống oxy hóa:</span></b><span style="font-size: 13.0pt; line-height: 150%; color: black; border: 1.0pt none windowtext; padding: 0cm">
		Các loại thực phẩm có một số lượng cao chất chống oxy hóa, được biết đến
		để chống lại và ngăn ngừa u não.</span><span style="font-size:13.0pt;line-height:150%;color:black">&nbsp;Thực
		phẩm chứa chất chống oxy hóa cao như:
		<span style="border: 1.0pt none windowtext; padding: 0cm">quả việt quất,
		dâu tây và nho, cam quýt, táo,...</span>&nbsp;Các loại trái cây càng tươi, sử
		dụng ngay sau khi thu hoạch sẽ chứa hàm lượng chất chống oxy hóa cao
		nhất.</span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
            <b>
		<span style="font-size: 13.0pt; line-height: 150%; color: black; border: 1.0pt none windowtext; padding: 0cm">
		Omega-3:</span></b><span style="font-size: 13.0pt; line-height: 150%; color: black; border: 1.0pt none windowtext; padding: 0cm">
		có thể được tìm thấy trong cá, omega -3 không chỉ chống lại bệnh ung thư
		bằng cách giảm tốc độ tăng trưởng của khối u, mà còn có tác dụng tăng
		cường hệ thống miễn dịch trong cơ thể. Nếu bạn có thể giúp cho hệ thống
		miễn dịch khỏe mạnh cơ thể bạn có thể chống lại các tế bào ung thư tốt
		hơn.</span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
		<span style="font-size: 13.0pt; line-height: 150%; color: black; border: 1.0pt none windowtext; padding: 0cm">
		Bệnh nhân u não nên ăn một số các thực phẩm có chứa chất chống ung thư
		cao như: cà chua, bông cải xanh, trà xanh, đậu nành ở dạng thô.</span></p>
        <p class="MsoNormal" style="line-height: 150%; vertical-align: baseline">
		<span style="font-size: 13.0pt; line-height: 150%; color: black; border: 1.0pt none windowtext; padding: 0cm">
		Ngoài ra có thể bổ sung thêm một số loại vitamin D, C, E nhưng cần tham
		khảo ý kiến của bác sĩ.</span></p>
        <p class="MsoNormal" style="line-height: 150%; vertical-align: baseline">
            <b>
		<span style="font-size: 13.0pt; line-height: 150%; color: black; border: 1.0pt none windowtext; padding: 0cm">
		Những loại thực phẩm không nên ăn</span></b><span style="font-size: 13.0pt; line-height: 150%; color: black; border: 1.0pt none windowtext; padding: 0cm">:
		Các món ăn có nhiều dầu mỡ, các thực phẩm được chế biến theo phương pháp
		lên men, chiên, rán, xào. Nên hạn chế những thực phẩm có chứa lượng đạm
		cao như: trứng vịt lộn, thịt chó,…</span></p>
        <p class="MsoNormal" style="line-height: 150%; vertical-align: baseline">
		<span style="font-size: 13.0pt; line-height: 150%; color: black; border: 1.0pt none windowtext; padding: 0cm">
		Ngoài chế độ ăn uống và dùng thuốc người bệnh nên tập thể dục nhẹ nhàng
		và&nbsp; giữ tinh thần lạc quan sẽ có hiệu quả đẩy lùi bệnh tật dễ dàng hơn.</span></p>

        </font>
</div>