﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <font color="#000000" size="5">
    <p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b><span style="line-height: 150%; color: #333333">Chế độ ăn uống
			kiêng kị khi bị quai bị</span></b></p>
</font><p style="text-align: justify; text-indent: 36.0pt; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white"><font color="#000000" size="3">
    <font face="Times New Roman">
			<span style="font-size: 13pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm; background: white">
			<img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-benh-quai-bi.jpg" width="245" height="206" lowsrc="Chế%20độ%20ăn%20bệnh%20quai%20bị" longdesc="Chế độ ăn bệnh quai bị" alt="Chế độ ăn bệnh quai bị" align="left"></span></font></font><font color="#000000"><font face="Times New Roman" style="font-size: 13pt"><span style="font-weight: 400">Quai
			bị là bệnh
			lý về tuyến nước bọt, do virus có tên là Paramyxovirus gây ra. Trong Đông
			y quai bị còn gọi là Lưu Hành Tính Tai Tuyến Viêm, Trá Tai, Trư Đầu
			Phì, Tuyến Mang Tai Viêm, Trá Tai, Hà Mô Ôn. Theo Đông y Quai bị do
			dịch độc qua mũi miệng vào thiếu dương, đi theo đởm kinh ra ngoài
			sinh bệnh. Đởm và Can có quan hệ biểu lý. Nếu nhiệt độc từ Thiếu
			Dương truyền sang Quyết Âm có các triệu chứng của Can và kinh can
			kèm theo như Viêm tinh hoàn, hôn mê co giật (biến chứng viêm não)
			thì có thể gây ra chứng kinh quyết và dịch hoàn sưng.</span></font></font></p><font color="#000000">

</font><font color="#000000" size="3">
    <p style="text-align: justify; text-indent: 36.0pt; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <font face="Times New Roman">
            <b><span style="font-size: 13pt; line-height: 150%">Theo Lương y
			Nguyễn Hữu Toàn</span></b><span style="font-size: 13pt; line-height: 150%">:
			</span></font><font color="#000000" style="font-size: 13pt">
			<span style="font-weight:400"><font face="Times New Roman">Một trong những biến chứng nguy hiểm và để lại hậu quả nặng nề của
                quai bị là gây viêm teo tinh hoàn ở nam giới (chiếm tỷ lệ cao) hoặc
                suy buồng trứng ở nữ giới (chiếm % nhỏ). Bệnh quai bị cần được phát
                hiện và điều trị kịp thời, và có chế độ kiêng hợp lý để không gây
                biến chứng nguy hiểm. Dưới đây là một số lời khuyên về chế độ ăn
                uống, chế độ sinh hoạt cho bệnh nhân quai bị:</font></span></font></p><font color="#000000" style="font-size: 13pt">
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <font face="Times New Roman"><span style="font-weight: 400">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Hạ
			sốt, hạ thân nhiệt cho bệnh nhân bằng khăn ấm.</span></font></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <font face="Times New Roman"><span style="font-weight: 400">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Đeo
			khẩu trang khi tiếp xúc với người khác phòng tránh lây nhiễm bệnh
			cho người khác.</span></font></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <font face="Times New Roman"><span style="font-weight: 400">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Cách ly người bệnh khoảng 2 tuần từ khi phát hiện bệnh.</span></font></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <font face="Times New Roman"><span style="font-weight: 400">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Kiêng nước lạnh, kiêng gió.</span></font></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <font face="Times New Roman"><span style="font-weight: 400">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Nghỉ ngơi, hạn chế vận động (đặc biệt là khi phát hiện tinh hoàn có
			hiện tượng sưng đau).</span></font></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <font face="Times New Roman"><span style="font-weight: 400">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Vệ
			sinh răng miệng, uống nhiều nước và súc miệng bằng nước muối sinh lý
			hay nước súc miệng để chống khô miệng và tránh để vi khuẩn có môi
			trường thuận lợi phát triển</span></font></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <font face="Times New Roman"><span style="font-weight: 400">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Ăn
			thức ăn mềm, dễ nuốt, dễ tiêu hóa nhưng vẫn phải đầy đủ chất dinh
			dưỡng. Không ăn đồ nếp, cá mè, cá chép.</span></font></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <font face="Times New Roman"><span style="font-weight: 400">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Ăn
			đa dạng các loại rau xanh và hoa quả tươi, giúp bổ sung các loại
			vitamin và khoáng chất cần thiết cho cơ thể giúp tăng khả năng miễn
			dịch.</span></font></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <font face="Times New Roman"><span style="font-weight: 400">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Trong trường hợp sốt cao liên tục, không hạ sốt được hoặc thấy xuất
			hiện biến chứng cần đưa bệnh nhân đến bệnh viện.</span></font></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <font face="Times New Roman"><span style="font-weight: 400">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Giữ
			gìn vệ sinh thân thể sạch sẽ.</span></font></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <font face="Times New Roman"><span style="font-weight: 400">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Không nên tự ý sử dụng các loại thuốc uống, thuốc bôi, đắp lên vùng
			bị sưng để tránh bị nhiễm độc.</span></font></p>

</font>
</font>



</h3>