﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <font color="#000000" size="5">
</font><p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white"><font color="#000000" size="5">
    <b><span style="line-height: 150%; color: #333333">Chế độ ăn uống </span></b>

</font>
    <font color="#333333" size="5">
			<span style="font-weight:700">
			kiêng kị cho bệnh sởi</span></font></p>

</font><font color="#000000" size="3">
    <p style="text-align: justify; margin-bottom: 7.5pt; background: white">
        <span style="font-size:14.0pt">&nbsp;&nbsp;&nbsp; </span><em>
			<span style="font-size: 14.0pt; color: #333333; font-style: normal">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-cho-benh-soi.jpg" width="275" height="183" lowsrc="Chế%20độ%20ăn%20uống%20kiêng%20kị%20cho%20bệnh%20sởi" longdesc="Chế độ ăn uống kiêng kị cho bệnh sởi" alt="Chế độ ăn uống kiêng kị cho bệnh sởi" align="left">Sởi là bệnh do virut gây ra, và dễ lây lan từ người này
			sang người khác, tuy nhiên thường gặp nhất ở trẻ em trong độ tuổi từ
			6 tháng tuổi tới 6 năm tuổi. Bệnh sởi thường có các triệu chứng: sốt,
			người mệt mỏi, ho, cảm lạnh, mất cảm giác ngon miệng, viêm kết mạc
			hoặc đỏ mắt.</span></em></p>
    <p style="text-align: justify; background: white"><em>
			<span style="font-size: 14.0pt; color: #333333; font-style: normal">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Điều trị bệnh sởi chủ yếu giúp giảm triệu chứng. Do đó khi
			trẻ bị bệnh sởi cần cho trẻ nghỉ ngơi trên giường, ngoài ra cần chú
			ý tới chế độ ăn uống giúp tăng cường sức khỏe và giảm các triệu
			chứng của người bệnh.</span></em></p>
    <p style="text-align: justify; text-indent: 36.0pt; background: white">
        <em>
			<span style="font-size: 14.0pt; color: #333333; font-style: normal">
			Theo Lương y Nguyễn Hữu Toàn, bệnh sởi trong đông y còn được gọi là
			<b>ma chẩn.</b> Ngoài việc dùng thuốc điều trị thì chế độ ăn uống
			cần đặc biệt chú ý. Dưới đây là một số hướng dẫn về chế độ ăn uống,
			kiêng kị cho bệnh nhân sởi.</span></em></p>
    <p style="text-align: justify; text-indent: 36.0pt; background: white">
        <em><b>
			<span style="font-size: 14.0pt; color: #333333; font-style: normal">
			Những thực phẩm tốt cho người bị bệnh sởi:</span></b></em></p>
    <p style="text-align: justify; background: white"><em>
			<span style="font-size: 14.0pt; color: #333333; font-style: normal">
			Uống nhiều nước để tránh bổ sung lượng nước cho cơ thể giúp giảm các
			triệu chứng nhiễm trùng.</span></em></p>
    <p style="text-align: justify; background: white"><em>
			<span style="font-size: 14.0pt; color: #333333; font-style: normal">
			Uống nước cam hoặc nước chanh, bưởi đều đặn trong ngày. Hương vị cam
			quýt của các loại trái cây có thể giảm bớt cảm giác mất ngon miệng
			do bị nhiễm trùng. Ngoài ra Chanh và nước ép cam &nbsp;giàu vitamin C
			cũng giúp giảm tình trạng mất nước và tăng khả năng miễn dịch. Khi
			các triệu chứng của bệnh sởi thuyên giảm thì có thể cân bằng chế độ
			dinh dưỡng: rau quả, trái cây, và ngũ cốc nguyên hạt.</span></em></p>
    <p style="text-align: justify; background: white"><em>
			<span style="font-size: 14.0pt; color: #333333; font-style: normal">
			Ăn nhiều thực phẩm giàu vitamin A như: cam, nho, dưa hấu, mùi tây.</span></em></p>
    <p style="text-align: justify; background: white"><em>
			<span style="font-size: 14.0pt; color: #333333; font-style: normal">
			Bột nghệ trộn với mật ong hoặc sữa có thể giúp bệnh nhân sởi nhanh
			phục hồi và tăng cường khả năng miễn dịch.</span></em></p>
    <p style="text-align: justify; background: white"><em>
			<span style="font-size: 14.0pt; color: #333333; font-style: normal">
			Bột cam thảo trộn với mật ong giúp giảm ho và viêm họng do virut sởi
			gây ra.</span></em></p>
    <p style="text-align: justify; background: white"><em>
			<span style="font-size: 14.0pt; color: #333333; font-style: normal">
			Nên ăn các loại thức ăn mềm, dễ tiêu hóa, và chứa đầy đủ chất dinh
			dưỡng.</span></em></p>
    <p style="text-align: justify; background: white"><em>
			<span style="font-size: 14.0pt; color: #333333; font-style: normal">
			Bệnh nhân sởi thường nhạy cảm với ảnh sáng, do đó nên tránh ánh sáng
			trực tiếp chiếu vào.</span></em></p>
    <p style="text-align: justify; background: white"><em>
			<span style="font-size: 14.0pt; color: #333333; font-style: normal">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Những thực phẩm nên tránh khi bị bệnh sởi:</b></span></em></p>
    <p style="text-align: justify; background: white"><em>
			<span style="font-size: 14.0pt; color: #333333; font-style: normal">
			Thực phẩm nhiều dầu mỡ, được chế biến dưới dạng chiên, rán, xào gây
			khó khăn trong tiêu hóa.</span></em></p>
    <p style="text-align: justify; background: white"><em>
			<span style="font-size: 14.0pt; color: #333333; font-style: normal">
			Thực phẩm chế biến sẵn có hàm lượng muối cao</span></em></p>
    <p style="text-align: justify; background: white"><em>
			<span style="font-size: 14.0pt; color: #333333; font-style: normal">
			Các loại gia vị cay nóng như ớt, hạt tiêu.</span></em></p>
    <p style="text-align: justify; background: white"><em>
			<span style="font-size: 14.0pt; color: #333333; font-style: normal">
			Đồ uống có ga, có cồn không chỉ gây mất nước mà còn làm trầm trọng
			thêm triệu chứng bệnh.</span></em></p>




</h3>