﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <font size="6" color="#333333"><b>C<span style="background-color: #FFFFFF; background-position: 0% 0%">hế
			độ ăn uống cho người gầy</span></b></font></p>
    <p style="text-align: justify; line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <img border="0" src="http://www.thaythuoccuaban.com/images/che-do-dinh-duong-cho-nguoi-gay.jpg" width="320" height="234" lowsrc="Chế%20độ%20dinh%20dưỡng%20cho%20người%20gầy" longdesc="Chế độ dinh dưỡng cho người gầy" alt="Chế độ dinh dưỡng cho người gầy" align="left"><span style="font-size:14.0pt;line-height:150%;color:#3D3D3D">&nbsp;&nbsp;&nbsp; Để
			có được vóc dáng chuẩn là mơ ước của nhiều người. Trong khi một số
			người tìm mọi cách để giảm cân, thì một số khác lại săn tìm bí quyết
			tăng cân. Bởi vậy thời gian gần đây website thaythuoccuaban.com nhận
			được nhiều thư của bệnh nhân khắp nơi hỏi về vấn đề: <b>Làm thế nào
            để người gầy có thể tăng cân?</b> Thaythuoccuaban.com xin đưa ra một
			số lời khuyên về <b>chế độ ăn uống dành cho người gầy muốn tăng cân.</b></span></p>
    <p style="text-align: justify; line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size:14.0pt;line-height:150%;color:#3D3D3D">&nbsp;&nbsp;&nbsp; Trước
			hết chúng ta cần biết: để tăng được trọng lượng của cơ thể cần phải
			có một quá trình, vì quá trình hấp thu dinh dưỡng của cơ thể cũng
			cần có thời gian mới có thể đảm bảo sức khỏe và tránh tình trạng
			tích nước, tích mỡ dẫn đến sút cân khi ngưng kế hoạch tăng cân. Do
			đó những người gầy muốn tăng cân nên xây dựng cho mình một kế hoạch
			cụ thể về chế độ ăn uống, sinh hoạt, nghỉ ngơi.</span></p>
    <p style="text-align: justify; line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size:14.0pt;line-height:150%;color:#3D3D3D; font-weight:700">Người
			gầy muốn tăng cân được chia làm 2 nhóm đối tượng:</span></p>
    <p style="text-align: justify; line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size:14.0pt;line-height:150%;color:#3D3D3D">&nbsp;&nbsp;&nbsp; Nhóm
			1: Những người gầy ăn uống tốt nhưng cơ thể không hấp thu được chất
			dinh dưỡng khiến người không tăng cân được.</span></p>
    <p style="text-align: justify; line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size:14.0pt;line-height:150%;color:#3D3D3D">&nbsp;&nbsp;&nbsp; Nhóm
			2:<u> </u>Những người gầy do ăn uống không đủ chất, ăn không ngon miệng.</span></p>
    <p style="text-align: justify; line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size:14.0pt;line-height:150%;color:#3D3D3D">&nbsp;&nbsp;
			<b>&nbsp;Đối
                với nhóm 1: </b>Nguyên nhân do cơ thể không hấp thu được chất dinh dưỡng.
			Vì vậy nếu muốn tăng cân trước hết hãy thanh lọc cơ thể bằng việc
			uống nhiều nước lọc, ăn nhiều rau củ quả và các thực phẩm giàu dinh
			dưỡng có nguồn gốc thực vật, nhất là các thực phẩm nhiều chất chống
			ôxy hóa… để cơ thể loại bỏ các gốc tự do và hấp thụ tốt các dưỡng
			chất.</span></p>
    <p style="text-align: justify; line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size:14.0pt;line-height:150%;color:#3D3D3D"><b>&nbsp;&nbsp;&nbsp; Đối
                với nhóm 2: </b>Nguyên nhân do chán ăn, ăn không ngon miệng. Cần xác
			định nguyên nhân tại sao chán ăn, có phải do gặp vấn đề về sức khỏe
			không? Nếu không phải chán ăn do bệnh thì có thể bổ sung một số loại
			thuốc bổ có tác dụng kích thích tiêu hóa giúp ăn ngon miệng hơn. Sau
			đó nên xây dựng một thực đơn đủ chất và thường xuyên thay đổi các
			món ăn.</span></p>
    <p class="normal" style="text-align: justify; line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <b><span style="font-size:14.0pt;line-height:150%;color:#3D3D3D">
			&nbsp;&nbsp;&nbsp;
			Hướng dẫn thực đơn tốt cho người gầy:</span></b><span style="font-size:14.0pt;line-height:150%;
color:#3D3D3D"> Th</span><span style="font-size:14.0pt;line-height:150%">ực đơn
			hoàn hảo cho người gầy không chỉ cần đủ lượng mà còn phải đủ chất:
			cung cấp được 4 nhóm dinh dưỡng tối thiểu: đạm, tinh bột, chất béo,
			vitamin và chất khoáng, cùng các hoạt chất sinh học hỗ trợ cho quá
			trình tiêu hóa và hấp thu như: chất xơ, các chất chống oxi hóa….
			<span style="color:#333333">. Các loại thịt nên ăn: </span>
			<span style="color:black">thịt bò, thịt lợn, thịt thỏ, thịt gia cầm…
			Nên ăn đa dạng các loại thủy, hải sản như tôm, cua, sò, ốc. Bổ sung
			thêm sữa và các chế phẩm từ sữa một cách đều đặn trong ngày. Ăn
			nhiều rau xanh và hoa quả tươi giúp bổ sung vitamin và khoáng chất
			có lợi cho cơ thể.</span></span></p>
    <p class="normal" style="text-align: justify; line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size:14.0pt;line-height:
150%;color:#333333">&nbsp;&nbsp;&nbsp; Một ngày nên đảm bảo cung cấp đủ cho cơ thể đủ <b>500 calo
            </b>từ những thực đơn bổ dưỡng. Nên cung cấp đủ dinh dưỡng cho cơ
			thể một cách từ từ không nên vội vàng với thức ăn nhanh, chất béo
			không lành mạnh, bánh quy mà có phương pháp tăng cân không phù hợp.
			Ngoài ra, để tăng cân nhanh, bạn nên ăn 5-6 bữa mỗi ngày với 3 bữa
			chính và 2 bữa ăn nhẹ, nên chú trọng bữa ăn sáng.</span></p>
    <p class="normal" style="text-align: justify; line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size:14.0pt;line-height:
150%;color:#333333">&nbsp;&nbsp;&nbsp; Ngoài việc chú trọng đến chế độ ăn uống, những người gầy
			muốn tăng cân nên <b>tập thể dục đều đặn mỗi ngày</b>, nên chọn môn
			thể thao dễ tập luyện và có thể duy trì lâu dài như đi bộ, bơi,…Tập
			thể dục giúp máu lưu thông, tăng sự trao đổi chất, ăn ngon hơn, ngủ
			ngon hơn, đẩy lùi bệnh tật.</span></p>
</h3>