﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <h1><span style="text-decoration:none">
					<a href="http://www.thaythuoccuaban.com/benhan.asp">
                        <font color="#000099" face="Times New Roman" size="5">Chế
                            độ ăn uống</font></a></span><a href="http://www.thaythuoccuaban.com/benhan.asp"><font face="Times New Roman" size="5" color="#000099">
        kiêng kị cho bệnh ung thư</font></a></h1>
    <p class="MsoNormal"><b>1</b>. <b>Thực hiện chế độ ăn thức
        ăn sống.</b> (Sinh thực liệu pháp)</p>
    <p class="MsoNormal">Biện pháp này chống ung thư tại nước
        ngoài đẽ có 100 năm lịch sử. sớm nhất bác sỹ Các- lin người
        Do Thái đã dùng chống ung thư bằng nước táo, nước quít, nước
        rau cần... Một nhà khoa học Mỹ mắc bệnh ung thư trong lúc
        tuyệt vọng nghĩ ra phép ăn thức ăn sống, bà ta ăn một ngày 3
        bữa rau, quả dưa, không ăn thức ăn chín, ăn như thế vài năm
        khỏi bệnh, sống thêm 20 năm mà không dùng phương pháp nào
        khác. Bà đã giới thiệu cho nhiều người khác, hơn ngàn người
        mắc bệnh ung thư đã được khỏi bệnh, biện pháp này có thể
        dựng phòng và chữa bệnh ung thư, vì rau xanh, dưa quả có thể
        bảo vệ hệ thống miễn dịch của cơ thể.</p>
    <p class="MsoNormal">Phần lớn sinh tố và men có trong rau
        gặp nhiệt bị phân hủy, và rất nhiều rau có thể ăn sống được.</p>
    <p class="MsoNormal"><b>&nbsp;2.</b> <b>Ăn nhiều thức ăn có chứa
        sinh tố A.</b>&nbsp; Sinh tố phòng được ung thư nhất là ung
        thư thượng bì, Sinh tố A có khả năng nâng cao khả năng thích
        nghi của cơ thể đối với chất gây ung thư ( giảm bớt cơ hội
        mắc ung thư) Sinh tố A có nhiều trong sữa bò, sữa dê, lòng
        đỏ trứng gà, gan động vật, cà rốt, ớt, rau dền. Có người Mỹ
        khảo sát trong một số 488 ăn ít Caroten, có 14 người mắc
        bệnh ung thư, Một tổ khác ăn nhiều Caroten chỉ có 2 người
        mắc bệnh ung thư phổi.</p>
    <p class="MsoNormal">&nbsp;<b>3</b>. <b>Nên thường xuyên ăn thức
        ăn có nhiều sinh tố C</b>. Sinh tố C có khả năng ngăn chặn tế bào
        ung thư phát sinh và phát trển.</p>
    <p class="MsoNormal">&nbsp;<b>4. Ăn nhiều thức ăn có tác dụng ức
        chế ung thư như:</b> bắp cải, su lơ...và các chất nấm chống
        ung thư như: nấm hương đàm, nấm rơm, nấm bình cô, nấm dầu
        khí...</p>
    <p class="MsoNormal">&nbsp;<b>5. Thường ăn các loại:</b>&nbsp; Tỏi, củ cải trắng, rau rút, ấu, măng
        nhược trúc. Trong tỏi có một loại axit amin mới là alixin (
        có người dùng nuôi chuột bằng chất này, kết quả ức chế được
        di căn của tế bào ung thư) . Ở trung quốc Huyệt Thường sơn
        Tỉnh Sơn đông rất ít người chết vì ung thư dạ dày vì dân
        vùng này thích trồng và ăn tỏi. Theo các nhà nghiên cứu Tỏi
        có tác dụng ức chế tế bào mà hạn chế sự hình thành muối sous
        nitrate là nguyên liệu gây ung thư do đó chặn sự hình thành
        sous nitrate amonium là chất gây ung thư. Củ cải trắng cũng có tác dụng chống ung
        thư.</p>
    <p class="MsoNormal">&nbsp;<b>6. Nên thường ăn rau xanh. </b>&nbsp;Có chất diệp lục tố có thể chống ung
        thư, thực nghiệm khoa học chứng minh 95% chất diệp lục tố
        không bị chất kiềm toan trong ruột phá hủy.&nbsp;</p>
    <p class="MsoNormal"><b>7. Nên thường xuyên ăn ý dĩ. </b>Ý dĩ, sữa ông chúa và hải tảo ( rong
        biển) là những chất chống ung thư. Táo đỏ, sữa chua đều qua
        nghiên cứu thấy&nbsp; có tác dụng chống ung thư.&nbsp;</p>
    <p class="MsoNormal"><b>8. Nên thường xuyên ăn quả tỳ bà.</b>
        ( nhót tây). Nhót tây có chất chống ung thư B17. nên
        ăn cá hố, huyết ngỗng, khoai sọ có tác dụng chóng ung thư.
        Nên ăn nhiều quả di hầu đào và quả không hoa (?). vô hoa quả
        còn gọi là quả mật. quả có nhiều vitamin A và D.&nbsp;</p>
    <p class="MsoNormal"><b>9. Những thứ nên kiêng.</b> Những thức ăn mốc, thức ăn nướng cháy,
        thức ăn còn dính thuốc trừ sâu, kỵ ăn dưa chua sống, dưa
        chua chưa nấu chín có muối nitrat là chất gây ung thư. Kiêng
        thức ăn xông khói, nướng chiên, chất béo.</p>
    <p class="MsoNormal" style="margin: 0 4px" id="Ung thư, ung thu, ungthu" align="center">
        **************************************</p>
    <p style="MARGIN-TOP: 0; MARGIN-BOTTOM: 0" align="center" id="Ung thư, ung thu, ungthu">
    </p><h1>THAM KHẢO THÊM CHẾ ĐỘ ĂN BỆNH UNG THƯ</h1><p></p>
		<span style="background-color: #FFFFFF; background-position: 0% 0%"><h1>
            <font size="3">CHẾ
                ĐỘ ĂN BỆNH UNG THƯ</font></h1></span><p></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">Ung thư là một trong
		những bệnh gây tử vong hàng đầu </span><span style="font-size:12.0pt">đa
		số là do suy kiệt cơ thể. </span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size:12.0pt">Tình trạng suy kiệt có thể là phản ứng
		phụ của quá trình điều trị hoặc do tâm lý chán nản, lo lắng của người
		bệnh nhưng phần nhiều là do chính khối u gây ra. </span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size:12.0pt">Khối u ác tính làm thay đổi chuyển hoá
		bình thường của cơ thể, làm cơ thể tiêu hao năng lượng nhiều hơn để nuôi
		dưỡng các tế bào ung thư trong khi các tế bào, mô bình thường của cơ thể
		bị phá huỷ. </span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size:12.0pt">Nhiều bệnh nhân không thể theo hết được
		các liệu pháp điều trị do cân nặng và thể lực bị suy giảm trầm trọng.
		Điều này ảnh hưởng lớn tới hiệu quả điều trị và làm giảm thời gian sống
		của người bệnh. Đồng thời, nó cũng làm tăng giá trị tỷ lệ biến chứng,
		nhiễm trùng và dẫn đến tình trạng tử vong của bệnh nhân ung thư.</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">Theo thống kê, con số 30% bệnh nhân ung thư
		chết vì suy kiệt cơ thể trước khi chết vì khối ung thư đã phần nào cho
		thấy tác động xấu của tình trạng sút cân, suy kiệt. </span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">Dinh dưỡng lúc này có tác dụng nâng đỡ để
		người bệnh có đủ sức theo được hết các liệu pháp điều trị nặng nề.
		</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">Việc xây dựng một chế độ dinh dưỡng hợp lý
		trước, trong và sau quá trình điều trị đều nhằm đến mục tiêu là tăng
		cường thể lực cho bệnh nhân. Ăn đúng trước, trong và sau khi điều trị có
		thể giúp cho bệnh nhân giảm thiểu được những bất lợi do các tác dụng phụ
		của phương pháp điều trị và giúp bệnh nhân có cảm giác sống khoẻ hơn.
		</span></p>
    <p class="MsoNormal" style="text-align: justify; background: white"><b>
        <span style="font-size:12.0pt;color:black">&nbsp;</span></b></p>
    <p class="MsoNormal" style="text-align: justify; background: white"><b>
        <span style="font-size:12.0pt;color:black">II. Nguyên tắc chung</span></b><span style="font-size:12.0pt;color:black">:
		</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 14.0pt; background: white">
        <span style="font-size:12.0pt;color:black">- Đảm bảo đầy đủ dinh dưỡng</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 14.0pt; background: white">
		<span style="font-size:12.0pt;color:black">- Chọn thực phẩm dễ tiêu, hợp
		khẩu vị, tránh những thực phẩm có khả năng gây đầy hơi như đậu nấu tái,
		quá nhiều rau bắp cải, gia vị cay như ớt, hạt tiêu. </span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 14.0pt; background: white">
		<span style="font-size:12.0pt;color:black">- Chia nhỏ và ăn thành nhiều
		bữa nhằm bảo đảm cung cấp đủ năng lượng và chất dinh dưỡng cho cơ thể để
		duy trì được cân nặng và khối cơ bắp, nâng cao sức khỏe và tình trạng
		dinh dưỡng. </span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 14.0pt; background: white">
		<span style="font-size:12.0pt;color:black">- Do khả năng tiêu hóa và hấp
		thu cao hơn vào ban ngày, nên cần tăng lượng ăn vào buổi sáng và trưa,
		hơn là vào buổi tối. </span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 14.0pt; background: white">
		<span style="font-size:12.0pt;color:black">- Trong một số trường hợp,
		nếu người bệnh hoặc do khối u chèn ép, hoặc do tâm lý... không thể ăn
		bình thường, có thể áp dụng phương pháp nuôi dưỡng qua ống sonde hoặc
		bằng đường tĩnh mạch. Trong những trường hợp này, vẫn cần bảo đảm cung
		cấp đủ chất dinh dưỡng như chất đạm, chất béo, đường bột, vitamin và
		muối khoáng.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; color: black; background: white">- Theo
		một số quan niệm, phương pháp điều trị ung thư bằng chế độ ăn là bỏ đói
		tế bào ung thư, khiến chúng ko thể sản sinh thêm. Chính vì vậy, chế độ
		ăn uống của người bệnh bị ung thư phải kiêng hoàn toàn những loại thực
		phẩm mà tế bào ung thư ưa thích. Đường là một trong những dưỡng chất cho
		tế bào ung thư. Cắt bỏ đường là cắt bỏ nguồn dưỡng chất quan trọng cho
		tế bào ung thư. Sữa khiến cơ thể tiết ra niêm dịch, đặc biệt là ở hệ
		tiêu hóa và hô hấp. Chất niêm dịch là dưỡng chất cho tế bào ung thư.
		Bằng cách cắt bỏ sữa trong khẩu phần và thay thế bằng sữa đậu nành không
		đường, tế bào ung thư sẽ bị "bỏ đói" và không tiết dịch. </span></p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <strong><span style="color:black">&nbsp;</span></strong></p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <strong><span style="color:black">III. Dinh Dưỡng cho Bệnh nhân Ung thư</span></strong></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b><span style="color:black">Bổ sung calo</span></b><span style="color:black">
		</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">Calo là thành phần thiết yếu đối với cơ thể
		của những người khỏe mạnh và đặc biệt càng cần thiết hơn bao giờ hết đối
		với bệnh nhân mắc ung thư. Chính vì thế, bạn cần quan tâm hàng đầu tới
		việc bổ sung calo. Theo ước tính mỗi ngày cơ thể bạn cần được bổ&nbsp;sung
		khoảng 1.885 đến 2.175 đơn vị calo. </span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <strong><span style="color:black">&nbsp;</span></strong></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <strong><span style="color:black">Đạm</span></strong><span class="apple-converted-space"></span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <span style="color:black">Khẩu phần cần tăng protein so với bình thường.</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">Để đảm bảo cung cấp đủ các loại acid amin cần
		ăn đa dạng các loại thực phẩm, khẩu phần ăn phải cân đối giữa protein
		động vật và thực vật. </span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">Thịt cung cấp cho cơ thể các loại acid amin
		thiết yếu nhưng k<span style="background: white">hẩu phần ăn chứa nhiều
		thịt cung cấp nhiều axit thuận lợi cho sự phát triển của các tế bào ung
		thư</span>. Vì vậy các loại thịt màu trắng như thịt gia cầm sẽ có lợi
		hơn cho sức khoẻ. Cơ thể cũng cần bổ sung thêm các nguồn sắt, kẽm...từ
		các loại thịt có màu đỏ như thịt lợn nạc, thịt bò... Các loại tôm, cua,
		cá, nhuyễn thể và hải sản cũng là nguồn cung cấp các acid amin và vi
		chất dinh dưỡng quý giá cho cơ thể.</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 14.0pt; background: white">
		<span style="font-size:12.0pt;color:black">Trứng cũng là nguồn cung cấp
		protein tốt cho bệnh nhân ung thư. </span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt"><b>
		<span style="font-size: 12.0pt; color: black; background: white">&nbsp;Chất
		béo</span></b></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <strong><span style="color: black; font-weight: normal">Chất béo (Lipid)
		l</span></strong>à chất cho giá trị năng lượng cao, giúp hình thành cấu
        trúc tế bào cơ thể. Nhưng m<span style="background: white">ột chế độ ăn
		có nhiều chất béo sẽ làm tăng nguy cơ bị ung thư ruột già, tiền liệt
		tuyến, ung thư nội mạc tử cung và ung thư vú. </span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; color: black; background: white">Giảm
		lượng chất béo bằng cách ăn thịt, cá nạc, hạn chế ăn da gà, vịt, uống
		sữa có chứa ít chất béo, chọn các món hấp luộc thay vì chiên xào. </span>
		<span style="font-size:12.0pt;
color:black">Nên thay mỡ động vật bằng dầu thực vật nhưng cũng nên hạn chế càng
		ít càng tốt. <span style="background: white">Tránh ăn nhiều bánh, kẹo
		mứt, chocolate. </span></span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size:12.0pt;color:black">Ngoài ra cũng không nên lãng
		quên các chất béo có lợi cho sức khỏe như omega – 3 (có nhiều trong cá)
		</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <strong><span style="color:black">&nbsp;</span></strong></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <strong><span style="color:black">Tinh bột</span></strong><span class="apple-converted-space"><span style="color:black">&nbsp;</span></span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">Nên chọn các loại ngũ cốc nguyên hạt (gạo, ngô,
		lúa mì, hạt lúa mạch), các loại củ (khoai tây, khoai lang, khoai sọ, sắn...).
		</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">Tránh các loại thực phẩm chế biến sẵn chứa
		đường đơn, gây nhiều tác hại cho cơ thể, đồng thời các chất phụ gia cho
		thêm vào thực phẩm trong quá trình chế biến và bảo quản cũng là một
		trong những nhân tố góp phần làm tăng tỉ lệ bệnh ung thư.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt"><b>
		<span style="font-size: 12.0pt; color: black; background: white">&nbsp;Ăn
		nhiều thực phẩm giàu chất xơ</span></b></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; color: black; background: white">Khẩu
		phần ăn có 80% rau xanh và nước ép, ngũ cốc, hạt và chút trái cây sẽ
		giúp cơ thể sản sinh nhiều kiềm, hạn chế sự sản sinh của tế bào ung thư.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; color: black; background: white">Các
		loại thực phẩm này ít chất béo, giàu chất xơ và sinh tố, đặc biệt là
		sinh tố A và C. </span><span style="font-size:12.0pt;color:black">Sinh
		tố A giúp nâng cao khả năng thích nghi của cơ thể đối với chất gây ung
		thư; sinh tố C có khả năng ngăn chặn tế bào ung thư phát sinh, phát
		triển. Sinh tố A có nhiều trong sữa bò, sữa dê, lòng đỏ trứng gà, gan
		động vật, cà rốt, ớt, rau dền, ngô, quả hồng... Sinh tố C có nhiều trong
		cam, chanh, bưởi, sơ-ri, cà chua...</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">Rau xanh, trái cây tươi giúp bảo vệ hệ miễn
		dịch của cơ thể. Những loại rau-củ-quả xanh, tươi có lợi cho người bệnh
		lúc này là: bắp cải, rau ngót, rau đay, cần tây, giá đậu xanh, súp lơ,
		cà tím, cà chua, dưa leo, đu đủ, khoai lang nghệ, cam, bưởi và cả chanh,
		gấc...</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">Một số thực phẩm có tác dụng ức chế ung thư
		như: bắp cải, súp lơ, và các loại nấm có tính kháng ung thư nấm hương,
		nấm rơm, nấm mỡ; tỏi, củ cải trắng, rau nhút...</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 14.0pt; margin-right: 9.0pt; background: white">
        <b><span style="font-size:12.0pt;color:black">Vitamin và khoáng chất</span></b></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 14.0pt; margin-right: 9.0pt; background: white">
		<span style="font-size:12.0pt;color:black">Vitamin và khoáng chất cho
		phép cơ thể sử dụng năng lượng có trong thức ăn. Nhưng một lượng lớn
		vitamin và khoáng chất cũng có thể làm giảm tác dụng của hoá trị liệu
		hoặc xạ trị liệu.</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        &nbsp;Chẳng hạn, vitamin A có vai trò quan trọng trong việc bảo dưỡng các mô,
        giúp phục hồi nhanh các thương tổn, gia tăng khả năng miễn dịch. Nó cũng
        ngăn ngừa tác hại của các chất tiết từ khối u và của các phương pháp trị
        liệu (chẳng hạn giảm tình trạng viêm da, rụng tóc, viêm gai lưỡi), làm
        chậm thời gian di căn. Các nghiên cứu cũng cho thấy, đối với bệnh ung
        thư, vitamin A thực thụ (Retinol) có tác dụng tốt hơn hẳn so với tiền
        chất vitamin A (beta-caroten). Loại ung thư đáp ứng tốt nhất loại dưỡng
        chất này là ung thư vùng đầu mặt cổ.</p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 14.0pt; margin-right: 9.0pt; background: white">
		<span style="font-size:12.0pt;color:black">Các chất chống oxy hóa như
		vitamin C, vitamin E, kẽm, folate và một số vitamin khác (vitamin D, K,
		B6, B12) cũng được khuyến cáo gia tăng trong khẩu phần của bệnh nhân ung
		thư. Chúng là những yếu tố hỗ trợ khả năng miễn dịch của cơ thể, tăng
		khả năng phục hồi tổn thương, làm giảm tác dụng phụ của việc điều trị.
		Chất chống oxy hoá là chất giúp bảo vệ tế bào cơ thể khỏi bị huỷ hoại do
		các gốc tự do gây ra. Các chuyên gia sức khoẻ gợi ý là nên ăn nhiều rau
		và hoa quả vì rau và hoa quả là nguồn cung cấp chất chống oxy hoá dồi
		dào.</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 14.0pt; margin-right: 9.0pt; background: white">
        <span style="font-size:12.0pt;color:black">&nbsp;</span><b><span style="font-size:12.0pt;color:black">Chất sắt</span></b></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 14.0pt; margin-right: 9.0pt; background: white">
		<span style="font-size:12.0pt;color:black">Chất sắt thấp có thể dẫn đến
		bệnh thiếu máu cũng như sức đề kháng thấp đối với sự nhiễm trùng. Thịt,
		gà và gan là nguồn cung cấp chất sắt dồi dào. Thực phẩm nhiều protein
		như các sản phẩm chế biến từ đậu nành, quả đậu và các loại hạt cũng cung
		cấp đầy đủ chất sắt. Tráng miệng bằng hoa quả sau bữa ăn có thể tăng khả
		năng hấp thụ chất sắt.</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 14.0pt; margin-right: 9.0pt; background: white">
        <span style="font-size:12.0pt;color:black">&nbsp;</span><b><span style="font-size:12.0pt;color:black">Canxi</span></b></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 14.0pt; margin-right: 9.0pt; background: white">
		<span style="font-size:12.0pt;color:black">Sữa và sản phẩm chế biến từ
		sữa như phomát, sữa chua cung cấp lượng canxi cần thiết để cho răng và
		xương chắc khoẻ. Sữa chua có thể dùng trong chế độ ăn uống của bạn vì
		chúng chứa các vi khuẩn có lợi cho cơ thể giúp ích trong việc duy trì
		một hệ tiêu hoá khoẻ mạnh.</span></p>
    <p class="MsoNormal" style="text-align: center; text-indent: 14.0pt; margin-right: 9.0pt; background: white">
        <span style="font-size:12.0pt;color:black">&nbsp;</span><b><span style="font-size:20.0pt;color:black">Các
		món ăn thích hợp với bệnh nhân ung thư</span></b></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        <span style="font-size:12.0pt;color:black">&nbsp;&nbsp;</span><b><span style="font-size:12.0pt;color:black">Keo
		vảy cá chép</span></b><span style="font-size:12.0pt;color:black">: Dùng
		vảy của con cá chép một lượng vừa đủ, thêm nước, rồi nấu với ngọn lửa
		nhỏ, cho đến khi nước quánh lại như keo. Mỗi lần dùng 10 g, pha vào một
		ít rượu và nước. Món này dùng thích hợp cho người bệnh ung thư cổ tử
		cung. Nó cũng được dùng làm thuốc bổ khí, sinh huyết.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt"><b>
        <span style="font-size:12.0pt;color:black">&nbsp;Nước rau dền tía</span></b><span style="font-size:12.0pt;color:black">:
		Rau dền tía khoảng 200 g rửa sạch, cho vào nồi cùng với 4 bát nước. Nấu
		với lửa liu riu cho đến khi còn lại độ khoảng 1 bát nước thì tắt lửa.
		Uống lúc còn âm ấm. Món này dùng cho người bệnh ung thư cổ tử cung.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt"><b>
        <span style="font-size:12.0pt;color:black">&nbsp;Nước ý dĩ - lô căn</span></b><span style="font-size:12.0pt;color:black">:
		Lô căn 30g, ý dĩ (bo bo) 30 g, đào nhân 9 g, hạt bí đao 12 g. Cho tất cả
		những nguyên liệu trên vào nồi, thêm một lượng nước vừa đủ rồi nấu. Mỗi
		ngày dùng 2 lần. Món này có tác dụng điều trị cho người bệnh ung thư
		phổi.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt"><b>
        <span style="font-size:12.0pt;color:black">&nbsp;Bạch hoa xà thiệt thảo thang</span></b><span style="font-size:12.0pt;color:black">:&nbsp;<a style="color: blue; text-decoration: underline; text-underline: single" href="http://vnexpress.net/GL/Suc-khoe/2005/11/3B9E4868/"><span style="color: black; text-decoration: none">Bạch
		hoa xà thiệt thảo</span></a>&nbsp;60 g, bán chi liên 60 g, cho cùng với nước
		vào nồi đất để nấu; dùng nước, mỗi ngày một thang. Món này thích hợp cho
		người bệnh ung thư phổi giai đoạn đầu.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt"><b>
        <span style="font-size:12.0pt;color:black">&nbsp;Canh sườn lợn nấu lô hội</span></b><span style="font-size:12.0pt;color:black">:
		Sườn lợn 300 g, lá lô hội tươi một cành, dầu, muối, gừng, hành, mỗi thứ
		với lượng vừa đủ. Sườn lợn rửa sạch, xắt thành khúc nhỏ rồi cho cùng lô
		hội vào nồi để nấu, thêm gia vị vừa ăn. Món này dùng thích hợp cho những
		trường hợp bệnh ung thư kèm theo táo bón.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt"><b>
        <span style="font-size:12.0pt;color:black">&nbsp;Cơm lá sen</span></b><span style="font-size:12.0pt;color:black">:
		Dùng nước sôi để hãm lá sen trong thời gian chừng 10 phút, sau đó bỏ bã,
		lấy nước. Dùng nước lá sen này nấu cơm để ăn. Có tác dụng chống bệnh ung
		thư, nhất là ung thư đường ruột.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt"><b>
        <span style="font-size:12.0pt;color:black">&nbsp;Canh củ ấu</span></b>:
		<span style="font-size:12.0pt;color:black">Dùng từ 20 - 30 củ ấu, rửa
		sạch, cho vào nồi, thêm vào lượng nước vừa đủ. Nấu với lửa nhỏ cho đến
		khi nước đặc lại có màu đậm, mỗi ngày dùng từ 2 - 3 lần. Món này thích
		hợp cho người bệnh ung thư cổ tử cung.</span>&nbsp;</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt"><b>
        <span style="font-size:12.0pt;color:black">&nbsp;Cháo ý dĩ</span></b>:
		<span style="font-size:12.0pt;color:black">ý dĩ (bo bo) 20 gr, gạo lượng
		vừa đủ.</span>&nbsp;<span style="font-size:12.0pt;color:black">Bo bo giã nhỏ
		mịn, rồi cho vào chung với nước và gạo để nấu cháo. Khi dùng cho thêm
		một tí rượu. Món này thích hợp cho người bệnh ung thư phổi.</span>&nbsp;</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt"><b>
        <span style="font-size:12.0pt;color:black">&nbsp;Đông cô nấu đậu hũ</span></b><span style="font-size:12.0pt">:
		<span style="color:black">đông cô (nấm hương) 100 gr, đậu hũ 200 gr, mộc
		nhĩ (nấm mèo), thơm (dứa) - mỗi thứ 20 gr, trứng gà (1 cái), gừng, muối,
		hành, rượu, dầu ăn, bột năng - mỗi thứ một lượng vừa đủ.</span></span>&nbsp;<span style="font-size:12.0pt;color:black">Đông
		cô đem ngâm nước muối 10 phút, rồi cho vào nước sôi luộc sơ qua, lấy ra.
		Sau đó, băm nhỏ đậu hũ, đông cô, nấm mèo, thơm, rồi trộn tất cả với muối
		và vò thành từng viên. Quét bên ngoài những viên này một lớp bột năng,
		rồi cho vào chảo dầu chiên, sau đó đem chưng cách thủy khoảng 5 phút lấy
		ra.</span>&nbsp;<span style="font-size:12.0pt;color:black"><br>
		Món này có tác dụng nâng cao sức miễn dịch, chống ung thư, thích hợp cho
		người bệnh ung thư đường tiêu hóa, có tác dụng đối với ung thư dạ dày ở
		thời kỳ đầu.</span>&nbsp;</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt"><b>
        <span style="font-size:12.0pt;color:black">&nbsp;Canh gân bò nấu với linh chi</span></b><span style="font-size:12.0pt">:<b>
    </b><span style="color:black">gân bò (100 gr), linh chi, hoàng tinh, kê
		huyết đằng (mỗi thứ 15 gr), hoàng kỳ (10 gr).</span></span>&nbsp;<span style="font-size:12.0pt;color:black">Cho
		những thứ trên vào nồi cùng với lượng nước vừa đủ để nấu, sau đó bỏ bã,
		lấy nước. Món này có công dụng hỗ trợ những trường hợp ung thư bị giảm
		bạch cầu do hóa trị liệu.</span>&nbsp;</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt"><b>
        <span style="font-size:12.0pt;color:black">&nbsp;Rau dền xào tỏi</span><span style="font-size:12.0pt">:
		</span></b><span style="font-size:12.0pt;color:black">rau dền (300 gr),
		tỏi (một củ), muối, dầu lượng vừa đủ.</span>
		<span style="font-size:12.0pt;color:black">Cho dầu vào chảo đun nóng,
		cho tỏi vào phi, rồi cho rau dền vào xào. Món này thích hợp cho người
		bệnh ung thư tử cung.</span>&nbsp;</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        <span style="font-size:12.0pt;color:black">&nbsp;</span><b><span style="font-size:12.0pt;color:black">Huyết
		ngỗng xào hành tây, nấm rơm</span></b><span style="font-size:12.0pt;color:black">:
		củ hành tây (100 gr), nấm rơm (50 gr), huyết ngỗng chín (200 gr), vài
		lát gừng.</span>&nbsp;<span style="font-size:12.0pt;color:black">Xắt sợi hành
		và gừng. Cho dầu vào chảo, cho hành và nấm rơm vào xào, sau đó cho huyết
		ngỗng, hành và gừng sợi vào xào vài phút, nêm nếm vừa ăn. Món này sử
		dụng cho người bệnh ung thư thực quản, ung thư dạ dày có những phản ứng
		sau khi xạ trị như đau bụng, nôn ói...</span>&nbsp;</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt"><b>
        <span style="font-size:12.0pt;color:black">Gà xào long nhãn</span></b><span style="font-size:12.0pt;color:black">:Thịt
		gà (200 gr), long nhãn (10 gr), ngò rí (50 gr), nhân hạt đào (4 quả),
		trứng gà (1 cái), dầu, bột năng, đường, muối, gừng, hành, tiêu bột, nước
		tương (mỗi thứ lượng vừa).</span>&nbsp;T<span style="font-size:12.0pt;color:black">hịt
		gà rửa sạch, xắt lát, ướp muối, đường, tiêu bột. Nhân hạt đào cho vào
		chảo dầu nóng chiên chín. Trứng gà trộn với bột năng và nước đánh tan.
		Sau đó cho dầu vào chảo, đun nóng, cho thịt gà, nhân hạt đào, long nhãn,
		nước tương, sau cùng cho trứng gà, ngò rí vào trộn đều và tắt lửa. Món
		này ngoài tác dụng an thần, ích khí, còn có tác dụng trì hoãn triệu
		chứng hồi hộp ở người bệnh ung thư.</span>&nbsp;</p>
</font></h3>