﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">

    <p class="MsoNormal" style="text-align: center; line-height: 150%">
        <b><font color="#000000" size="5">
            Chế độ ăn uống phòng và điều trị xuất huyết não</font></b></p>



    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
        <font size="4">&nbsp;&nbsp;&nbsp; </font>
        <font color="#000000" size="4">
            Xuất huyết não là tình trạng khi các động mạch trong não vỡ và chảy
            máu, gây gián đoạn nguồn cung cấp máu đến não. Nếu không được điều
            trị có thể dẫn tới đột quỵ do não không được cung cấp lượng oxy cần
            thiết. Đột quỵ có thể dẫn tới tổn thương não vĩnh viễn, có thể bị
            mất chức năng não, hôn mệ, thậm chí tử vong.</font></p><font color="#000000" size="4">
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Triệu chứng thường thấy của xuất huyết não: nhức đầu dữ
        dội không rõ nguyên nhân, nói lắp, chóng mặt, nôn,... . Bệnh thường
        gặp ở những người có tiền sử chấn thương ở đầu, huyết áp cao, suy
        yếu mạch máu, bất thường mạch máu, máu khó đông.</p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Để phòng và hỗ trợ điều trị xuất huyết não thì chế độ ăn
        uống đóng vai trò quan trọng. Dưới đây là nhữngnhững thực phẩm giúp
        phòng và điều trị xuất huyết não.</p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
        Tỏi: có chứa hợp chất đặc biệt đóng vai trò như thuốc chống đông máu,
        do đó ngăn ngừa cục máu đông, làm loãng máu, kiểm soát huyết áp, có
        lợi trong việc ngăn ngừa xuất huyết não. Những người đã bị đột quỵ,
        huyết áp cao nên bổ sung tỏi vào bữa ăn hàng ngày, vừa giúp cải
        thiện lưu thông máu và ngăn ngừa bệnh xuất huyết não tái phát.</p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
        Gừng là một trong những gia vị tự nhiên tốt nhất cho bệnh xuất huyết
        não vì nó giúp làm giảm nồng độ cholesterol và cải thiện lưu thông
        máu. Gừng có tác dụng ngăn ngừa máu đông, có lợi cho người bị xuất
        huyết não và những người có nguy cơ xuất huyết não. Có thể dùng trà
        gừng hoặc cho thêm gừng vào khi chế biến các món ăn.</p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
        Nghệ được sử dụng khá phổ biến trong các bữa ăn. Nghệ giúp phòng
        ngừa, giảm nguy cơ hình thành cục máu đông. Một ngày mỗi người tiêu
        thụ khoảng 1 thìa cà phê bột nghệ trộn với mật ong giúp ngăn chặn
        xuất huyết não.</p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
        Trà xanh: giàu chất chống oxy hóa, có lợi cho người mới bị xuất
        huyết não, ngăn chặn nguy cơ tái phát của bệnh. Uống trà xanh thường
        xuyên giúp ngăn ngừa đột cụ, giảm nồng độ cholesterol LDL, giảm
        huyết áp.</p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
        Beta carotene: Thường có nhiều trong cà rốt, rau bina, cà chua, bí
        ngô, dưa hấu, đu đủ, cam...Cà rốt giàu carotene giúp giảm nguy cơ
        xuất huyết não, và tổn thương não khi bị đột quỵ. Rau bina cũng giàu
        carotene và chất chống oxy hóa, ăn rau bina thường xuyên giúp giảm
        nguy cơ đột quỵ, ngăn ngừa xuất huyết não. </p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
        Tắm epsom muối: nghiên cứu cho thấy rằng tắm muối epsom 2 lần/1 tuần
        giúp bệnh nhân xuất huyết não nhanh phục hồi hơn. Nếu các cơ bắp bị
        tê liệt hoặc yếu do đột quỵ tắm muối Epsom giúp thư giãn các cơ bắp,
        trẻ hóa cơ thể, giúp lưu thông máu tốt hơn và nhanh phục hồi hơn.</p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
        Cây sơn trà: là loại thảo dược hữu ích giúp các mạch máu giãn nở tự
        nhiên, thảo mộc này cũng giúp cơ thể điều trị huyết áp, có lợi cho
        sức khỏe và hệ thống tuần hoàn. Ngoài ra nó còn có tác dụng ngăn
        chặn một enzyme trong máu hình thành </p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ngoài các sản phẩm trên ra người có nguy cơ bị xuất
        huyết não hoặc đã từng bị xuất huyết não nên sử dụng nhiều rau xanh,
        hoa quả tươi, các thực phẩm tươi, ngũ cốc và các loại hạt, chưa qua
        chế biến. </p>

</font><font color="#000000" size="5">
</font>



</h3>