﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
 <font color="#000000" size="5">
</font><p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white"><font color="#000000" size="5">
    <b><span style="line-height: 150%; color: #333333">Chế độ ăn uống
			cho bệnh nhân ung thư đang xạ trị</span></b></font></p>

   
    <font color="#000000" size="3">
        <p class="MsoNormal" style="text-align: justify; line-height: 150%">
			<span style="font-size: 14.0pt; line-height: 150%">&nbsp;&nbsp;&nbsp;
			Xạ trị là phương pháp được sử dụng rộng rãi trong quá trình điều trị
			ung thư. Xạ trị: là quá trình sử dụng các loại tia không nhìn thấy
			hoặc các tia chứa các phân tử năng lượng cao để giết tế bào ung thư.
			Nó được hướng đến các vùng ung thư đã được đánh dấu trên da để tia
			xạ chỉ tác động trực tiếp lên vị trí ung thư. Trong thời gian tiến
			hành xạ trị người bệnh cần đảm bảo sức khỏe để có thể đáp ứng với
			thuốc được. Chính vì thế chế độ dinh dưỡng có ý nghĩa quan trọng,
			không chỉ giúp mau lành vết thương, chống nhiễm khuẩn và cung cấp
			năng lượng cho cơ thể sống trong việc đảm bảo sức khỏe tốt nhất.
			Phòng khám Đông y Nguyễn Hữu Toàn xin đưa ra một số lời khuyên cho
			những bệnh nhân đang phải tiến hành xạ trị.</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in">
			<span style="font-size: 14.0pt; line-height: 150%">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Nên nghỉ ngơi trước, trong và sau khi chuẩn bị xạ trị</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in">
			<span style="font-size: 14.0pt; line-height: 150%">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Nên cung cấp đẩy đủ chất dinh dưỡng cho cơ thể: đạm, đường,
			béo, vitamin, khoáng chất cho cơ thể. Nên ăn nhiều rau xanh, hoa quả
			tươi, các loại nước ép từ trái cây. Nên ăn các thực phẩm dễ tiêu hóa.</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in">
			<span style="font-size: 14.0pt; line-height: 150%">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Trong thời gian xạ trị, người bệnh thường có hiện tượng chán
			ăn, buồn nôn, thay đổi khẩu vị,... nên chế biến các món ăn ở dạng
			lỏng như: cháo, súp,&nbsp; giàu dinh dưỡng để vừa cung cấp đủ năng lượng
			cho cơ thể, lại giúp bệnh nhân dễ tiêu hóa.</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in">
			<span style="font-size: 14.0pt; line-height: 150%">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Nên uống nhiều nước (những thức uống đặc biệt có chứa dưỡng
			chất), canh súp, sữa, nước ép (trái cây, rau, thịt), thức ăn nghiền,
			trộn, xay nhuyễn...</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in">
			<span style="font-size: 14.0pt; line-height: 150%">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Bổ sung thêm năng lượng và đạm vào thực phẩm (bơ, sữa bột,
			mật ong, đường đen...).</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in">
			<span style="font-size: 14.0pt; line-height: 150%">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Tránh xa bia rượu, đồ uống có ga, có cồn, thuốc lá và các
			chất kích thích khác.</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in">
			<span style="font-size: 14.0pt; line-height: 150%">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Không ăn các thực phẩm có chứa nhiều gia vị cay, nóng gây
			kích ứng.</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in">
			<span style="font-size: 14.0pt; line-height: 150%">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Trong thời gian xạ trị nên chăm sóc các bộ phận trên cơ thể
			cẩn thận: đầu, mặt cổ, đặc biệt nên vệ sinh răng miệng sạch sẽ, nhẹ
			nhàng, tránh sử dụng thuốc đánh răng có chứa axit gây kích thích
			miệng họng.</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in">
			<span style="font-size: 14.0pt; line-height: 150%">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Có một số trường hợp sau khi xạ trị thường bị tiêu chảy do đó
			nên hạn chế các thức ăn sống và nhiều chất xơ. </span>
			<span style="font-size: 13.5pt; line-height: 150%">Dùng thức ăn
			nhiều Kali như chuối, khoai tây…để cung cấp lại khoáng chất mất khi
			tiêu chảy.</span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%">
			<span style="font-size: 14.0pt; line-height: 150%">Trên đây là một
			số lưu ý giúp bệnh nhân đang trong quá trình xạ trị tham khảo. Ngoài
			những lời khuyên trên bệnh nhân cũng cần hỏi ý kiến bác sĩ trị khi
			xuất hiện những triệu chứng bất thường.</span></p>
</h3>