﻿<div id="noidung">


   <span style="font-family: Times New Roman; font-size:16pt">
					<font color="#0000FF">
                        <h1 style="text-align: center"><font size="5">Chế độ ăn uống chữa bệnh
                            ung thư bàng quang</font></h1></font></span>
</font><font color="#000000" size="4">
    <p class="MsoNormal" align="justify">1. Gừng, hành, tỏi: Tỏi, chao đậu
        nhạt, mấy thứ lượng vừa phải, bánh nhị dược chưng bính đem nghiền thành
        viên hoàn, uống với nước sôi để ấm, mỗi lần 30-40 viên, ngày 3 lần uống.</p>
    <p class="MsoNormal" align="justify">2. Món ban mâu thiêu kê đản: Trứng
        gà 1 quả, con xén tóc bỏ đầu, chân, cánh 1-3 con, cho vào trong quả
        trứng, sau khi rán chín bỏ xén tóc đi, ăn trứng không.</p>
    <p class="MsoNormal" align="justify">3. Món nhựa thanh trưng đào giao:
        Đào thụ giao 10g. Cho lượng phèn vừa đủ, cho thêm chút nước, nấu cách
        thủy với nước sạch trong 20 phút, không câu nệ thời gian và số lần uống.</p>
    <p class="MsoNormal" align="justify">4. Món biển súc sinh khương kê đản:
        Tiêu biển súc 60g, Sinh khương 10g, trứng gà 7 quả, đem ba vị trên cho
        vào nấu cho đến khi chín trứng gà, mỗi ngày 1 thang chia 2 lần ăn.</p>
    <p class="MsoNormal" align="justify">5. Món xích tiểu đậu nội kim cầu:
        Xích tiểu đậu 50g, Kê nội kim nghiền thành bột 15g. Xích tiểu đậu nấu
        cháo chín như bình thường để khi cháo đã&nbsp; chín, cho trứng vào khuấy đều,
        đem ăn.</p>
    <p class="MsoNormal" align="justify">6. Cháo biển súc: Biển súc 30g, gạo
        tẻ 60g, biển súc đem nấu chín lấy nước, bỏ bã, sau đó cho gạo tẻ vào nấu
        chín, cho trứng vào khuấy đều, đem ăn.</p>
    <p class="MsoNormal" align="justify">7. Món canh hoàng kỳ tây qua bì
        thang: Sinh Hoàng kỳ 50g, bạch Mao căn 30g, Nhục thung dung 20g, tây qua
        bì (vỏ dưa hấu) 60g. Cùng nấu lấy nước uống nhiều lần hết trong ngày.</p>
    <p class="MsoNormal" align="justify">8. Sinh khương 9g, hắc sửu, bạch
        sửu mỗi thứ 6g, sắc lấy nước uống ngày 1 thang.</p>
    <p class="MsoNormal" align="justify">9. Cháo đại mạch mễ chúc: Đại mạch
        mễ 75-100g, đường trắng hoặc đường đỏ một chút đủ ăn. Trước hết đem đại
        mạch mễ cho nước vào nấu thành cháo, khi chín cho đường trắng hoặc đường
        đỏ vào trộn đều, làm thành món ăn sáng sớm hoặc món ăn điểm tâm.</p>
    <p class="MsoNormal" align="justify">10. Sinh ý nhân, xích tiểu đậu, mỗi
        thứ 30g, nấu thành cháo để ăn.</p>
    <p class="MsoNormal" align="justify">11. Ngân nhĩ 20g, nấu lấy nước, mỗi
        ngày ăn uống 1 lần</p>
    <p class="MsoNormal" align="justify"><i>Theo thaythuocuaban.com tổng hợp</i></p>
</font></font></div>