﻿<div id="noidung">
    <h1 style="text-align: center"><font size="5">Chế độ ăn uống cho bệnh
        ung thư buồng trứng</font></h1><font color="#000000" size="3">
    <p class="MsoNormal" align="justify"><b>I. Các loại trà thuốc</b></p>
    <p class="MsoNormal" align="justify">1. Trà khương ninh: Thảo quyết minh
        1000g, Liệu khương thạch 3000g. Trước hết bỏ Liệu khương thạch vào trong
        nước ngâm trong 24 giờ, sau hãy nấu lên trong 20 phút, bỏ liệu khương
        thạch đi, dung nước liệu khương thạch, đem sao với thảo quyết minh đến
        khi nó giống như màu cà phê, để nguội, đem giã giập vụn, mỗi ngày dùng
        15-30g, pha ra uống như trà bình thường. Hoặc bỏ vào trong ấm pha trà cà
        phê, đun sôi, pha thêm đường trắng vào uống.</p>
    <p class="MsoNormal" align="justify">2. Trà khương thị: Liệu khương
        thạch 3000g, tiên thị diệp 2000g. Trước hết bỏ liệu khương thạch vào
        trong nước ngâm 25 giờ, nấu lên trong 20 phút, bỏ liệu khương thạch đi,
        chờ cho nước nấu đó còn nóng khoảng 85<sup>0</sup>C, bỏ thị diệp vào
        trong nồi nước sôi đang nóng đó ngâm trong 15 ohuts. Rồi tiếp đến là đổ
        vòa trong cái cong nước lạnh ngâm lạnh xong lây ra, để chỗ thông gió cho
        khô, đem giã thành dạng lá chè, bỏ vào trong lọ hoặc cái gì đó nút kín,
        mỗi lần 15-20g, pha với nước sôi uống như nước trà vậy</p>
    <p class="MsoNormal" align="justify"><b>II. Rau&nbsp; quả cốc vật</b></p>
    <p class="MsoNormal" align="justify">Hoa đậu phấn: Hoa sinh bính 2000g,
        Đại mạch 1000g, hoàng đậu 1000g, Tiểu mạch phu bì 1000g</p>
    <p class="MsoNormal" align="justify">Cách chế tạo: Lấy 4 vị trên đem
        rang chín, trộn với nhau nghiền thành bột mịn. Căn cứ vào lượng ăn của
        mỗi người nhiều ít thế nào mà dùng nước sôi pha vào, người ăn được của
        ngọt tốt thì có thể pha thêm đường trắng vào,cũng có thể cho thêm chút
        muối ăn cùng đều có hiệu quả tốt.</p>
    <p class="MsoNormal" align="justify"><b>III. Cá thịt, cầm thu, trứng:</b></p>
    <p class="MsoNormal" align="justify">1. Bại tương trứng gà: Bại tương lỗ
        300ml, Trứng gà tươi 2 quả</p>
    <p class="MsoNormal" align="justify">Cách chế tạo: dùng nước bại tương
        nấu với trứng gà chín thì ăn cả nước lân trứng. Mỗi ngày ăn 1 lần</p>
    <p class="MsoNormal" align="justify">Công hiệu: Thanh nhiệt giải độc,
        dưỡng âm nhuận táo, dùng cho những người bệnh ung thư buồng trứng toàn
        thân phát sốt không lui, miệng khô, phiền táo.</p>
    <p class="MsoNormal" align="justify">2. Hạch đao chi nấu với trứng gà:
        Mỗi ngày lấy thanh hạch đào chi dài 5 thốn, 5 thanh, trứng gà 3 quả, cho
        thêm 600ml, nấu trong 1 giờ, ăn trứng và uống nước, ngày 1 lần, liên tục
        uống trong 1-2 thang.</p>
    <p class="MsoNormal" align="justify">3. Ban miêu nấu với trứng gà: Mỗi
        ngày dùng một con ban miêu, bỏ đầu và chân, nghiền thành bột, nấu với
        canh trứng để ăn, mỗi ngày 1 con, liên tục uống trong 1 tháng. Nếu có
        những triệu chứng như đi tiểu nhiều lần, đi tiểu cấp, đi tiểu thấy đau,
        đi tiểu ra máu, thì ngừng uống ngay, và có thể ăn canh đậu xanh hoặc
        nước trà xanh để giải độc</p>
</font></div>