﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
<font color="#000000" size="5">
    <p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        &nbsp;</p>
    <p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b><span style="line-height: 150%; ">Chế độ ăn phòng và chữa bệnh
			ung thư đại tràng</span></b></p>

    <font color="#000000" size="4">
        <p class="MsoNormal" style="text-align: justify; text-indent: .5in; line-height: 150%">
			<span style="font-size: 14.0pt; line-height: 150%">
			<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/ung-thu-dai-trang.jpg" width="303" height="167" lowsrc="Ung%20thư%20đại%20tràng" longdesc="Ung thư đại tràng" alt="Ung thư đại tràng" align="left">Một
			chế độ ăn khoa học giúp cơ thể được khỏe mạnh hơn, tăng cường sức đề
			kháng, phòng ngừa bệnh tật. Trong phạm vi bài thuốc này Phòng khám
			Đông y Nguyễn Hữu Toàn xin giới thiệu chế độ ăn uống giúp phòng và
			chữa bệnh ung thư đại, trực tràng.</span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%">
            <b><span style="font-size: 14.0pt; line-height: 150%">Những điều bạn
			nên làm:</span></b></p>
        <p style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; line-height: 150%">Nên
			ăn nhiều rau xanh và hoa quả tươi, ngũ cốc nguyên hạt: Đây là những
			thực phẩm cung cấp lượng chất xơ dồi dào, phong phú. Tăng lượng chất
			xơ trong chế độ ăn giúp giảm táo bón – Táo bón là một trong những
			nguyên nhân gây xước niêm mạc đại tràng, trực tràng, hình thành
			polip đại tràng dễ dẫn tới ung thư... Bên cạnh đó một số nghiên cứu
			chỉ ra rằng cứ tăng 10g chất xơ mỗi ngày, mỡ bụng có thể giảm được
			khoảng 4% trong vòng 5 năm. Chất xơ cũng làm giảm cholesterol huyết
			thanh, giảm nguy cơ mắc bệnh tim mạch.</span></p>
        <p style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; line-height: 150%">Nên
			uống nhiều nước. Nước giúp thanh lọc cơ thể, giảm táo bón.</span></p>
        <p style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; line-height: 150%">Với
			những người có cơ địa nóng trong nên ăn những thực phẩm có tính hàn
			như: bột sắn dây, các thực phẩm có tác dụng nhuận tràng như: khoai
			lang,...</span></p>
        <p style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; line-height: 150%">Nên
			tập thể dục hàng ngày.</span></p>
        <p style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; line-height: 150%">Bổ
			sung lượng vitamin B folat hoặc axít folic thích hợp (một dạng tổng
			hợp của vitamin này) có thể làm giảm nguy cơ ung thư đại trực tràng.</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; line-height: 150%">Bổ
			sung canxi cho cơ thể. Nghiên cứu đã chứng minh: Những người dùng
			700-800 mg calci/ngày có nguy cơ ung thư đại tràng thấp hơn 40-50%
			so với người dùng ít hơn 500 mg canxi/ngày.</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; line-height: 150%">Bổ
			sung tỏi, xả vào chế độ ăn</span></p>
        <p style="text-align: justify; line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
            <b><span style="font-size: 14.0pt; line-height: 150%">Những điều bạn
			không nên làm</span></b></p>
        <p style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; line-height: 150%">
			Tiêu thụ những thực phẩm chứa nhiều dầu mỡ, đặc biệt là những chất
			béo no như: sữa nguyên chất chưa tách béo, pho mát, kem dầu dừa, dầu
			cọ, mỡ toàn phần.</span></p>
        <p style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; line-height: 150%">
			Uống rượu, bia và hút thuốc lá.</span></p>
        <p style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; line-height: 150%">
			Thực phẩm rán, xào</span></p>
        <p style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; line-height: 150%">
			Thực phẩm lên men như: dưa muối, kim chi,...</span></p>
</font></h3>