﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <font size="5">Chế độ ăn uống cho bệnh ung thư cổ tử cung</font></h1>

    <p class="MsoNormal" style="text-indent: 28.0pt" align="justify"><b>I.
        Trà thuốc</b></p>
    <p class="MsoNormal" style="text-indent: 28.0pt" align="justify">1. Vọng
        giang nam 15g, bách hoa&nbsp; nang, ngưu nhi miêu 12g, mỗi ngày 1 thang uống
        thay nước trà.</p>
    <p class="MsoNormal" style="text-indent: 28.0pt" align="justify">2. Hòe
        nhĩ nấu lên uống thay nước trà, uống cả ngày lẫn đêm như bình thường.</p>
    <p class="MsoNormal" style="text-indent: 28.0pt" align="justify"><b>II.
        Rượu thuốc</b></p>
    <p class="MsoNormal" style="text-indent: 28.0pt" align="justify">Hoàng
        dược tử: hoàng dược tử 30g, rượu trăng 1500ml. Hoàng dược tử ngâm vào
        trong rượu trắng, dùng thạch cao bịt kín miệng lọ lại, ngâm sau một ngày
        bỏ cả bình vào trong nồi đun cách thủy nhỏ lửa cho sôi trong 1 giờ lầy
        ra để sau 1 tuần là có thể đem dùng.</p>
    <p class="MsoNormal" style="text-indent: 28.0pt" align="justify"><b>III.
        Giấm hành, gừng, tỏi</b></p>
    <p class="MsoNormal" style="text-indent: 28.0pt" align="justify">1. Can
        khương 3, Vũ dư lương 30g, cả hai vị thuốc đem nghiền thành bôt, pha
        trong rượu để uống, mỗi lần 6g, ngày uống 2 lần. Chủ trị ung thư cổ tử
        cung khí hư ra nhiều.</p>
    <p class="MsoNormal" style="text-indent: 28.0pt" align="justify">2.
        Thuốc nước Nga truật - tam lăng chế với giấm. Thổ chế tam lăng 15g, thổ
        chế 15g nga truật 15g. Hai vị thuốc trên cho nước vào đun để thành 200ml
        nước thuốc. Uống trước khi ăn cơm sáng và sau khi ăn cơm tối.</p>
    <p class="MsoNormal" style="text-indent: 28.0pt" align="justify"><b>IV.
        Ngư nhục cầm đản</b></p>
    <p class="MsoNormal" style="text-indent: 28.0pt" align="justify">1.
        Xuyên Bối mẫu 9g, thỏ đực 1 con</p>
    <p class="MsoNormal" style="text-indent: 28.0pt" align="justify">Cách
        dùng: Xuyên Bối mẫu và thỏ đực cùng cho vào nấu chín. Toàn bộ lượng trên
        là lượng 1 thang thuốc, chia ra ăn uống làm 2 lần sáng và tối</p>
    <p class="MsoNormal" style="text-indent: 28.0pt" align="justify">Công
        hiệu: Kiện tì, trừ thấp, hóa đàm tán kết</p>
    <p class="MsoNormal" style="text-indent: 28.0pt" align="justify">Chủ trị:
        ung thư cổ tử cung</p>
    <p class="MsoNormal" style="text-indent: 28.0pt" align="justify">2. Ban
        miêu đem vặt bỏ đầu, chân, rồi cho vào quả trứng gà, đun nhỏ lửa cho đến
        khi chín, bỏ ban miêu đi chỉ ăn trứng gà. Mỗi ngày 2 quả, liên tục ăn
        trong 5 ngày, nghỉ 5 ngày rồi lại ăn tiếp</p>
    <p class="MsoNormal" style="text-indent: 28.0pt" align="justify">3. Miêu
        nhãn thảo 100g, nấu với 3 quả trứng gà, sau khi nấu chín ăn cả trứng,
        uống cả nước</p>
    <p class="MsoNormal" style="text-indent: 28.0pt" align="justify">Xoa bóp
        bấm huyệt chữa ung thư cổ tử cung</p>
    <p class="MsoNormal" style="text-indent: 28.0pt" align="justify"><b>1.
        Thủ pháp cơ bản: </b></p>
    <p class="MsoNormal" style="text-indent: 28.0pt" align="justify">(1)
        người bệnh nằm ngửa, thầy thuốc ngồi hoặc đứng ở bên cạnh người bệnh,
        dùng 1 bàn tay ấn day 10 lần ở bụng dưới của người bệnh, thủ pháp cần
        thâm trầm, êm dịu, sau đó dùng cách rung rung day day bàn tay trong 3-5
        phút.</p>
    <p class="MsoNormal" style="text-indent: 28.0pt" align="justify">(2) Lấy
        ngón tay cái của 2 bàn tay đặt ở trên huyệt huyết hải, 4 ngón còn lại
        xoa ấn ở cơ bắp trên đầu gối, bấm ấn xoa day đồng thời, thao tác 3-5
        phút.</p>
    <p class="MsoNormal" style="text-indent: 28.0pt" align="justify">(3) Bấm
        ấn, rút, buông chùng ở các huyệt tam âm giao, âm lăng tuyền, mỗi huyệt
        thao tác 1 phút.</p>
    <p class="MsoNormal" style="text-indent: 28.0pt" align="justify">(4)
        Người bệnh nằm sấp, thày thuốc dùng bàn tay ấn, đấm ở chỗ huyệt bát liệu
        ở bộ phận thắt lưng và mông, ấn day dụi, day dụi đi day dụi lại nhiều
        lần, làm cho nóng thấu vào huyệt tận bụng dưới mới là tốt.</p>
    <p class="MsoNormal" style="text-indent: 28.0pt" align="justify">(5)
        Thầy thuốc dùng riêng ngón tay trỏ, ngón tay giữa cùng khép vào với nhau
        hơi cong gập lại bấm, ấn vào huyệt trường cương của người bệnh 5-10 lần.</p>
    <p class="MsoNormal" style="text-indent: 28.0pt" align="justify">(6) day
        ấn vào các huyệt thận du, mệnh môn của người bệnh, mỗi huyệt day ấn 1
        phút</p>
    <p class="MsoNormal" style="text-indent: 28.0pt" align="justify"><b>2.
        Thủ pháp phụ trợ:</b></p>
    <p class="MsoNormal" style="text-indent: 28.0pt" align="justify">(1) Nếu
        người bệnh có chứng lương khí hư ra nhiều, dính lắm hoặc vàng, mùi tanh
        hoặc hôi thối bẩn thỉu, ngứa nóng bỏng ở âm hộ, chất lưỡi đỏ, rêu lưỡi
        nhẫy bẩn, mạch nhu hoạt. Như vậy ngoài thủ pháp cơ bản lại còn phải thêm.
        Day thẳng vào bộ phận sau lưng của thắt lưng, làm cho ở đó nóng lên là
        vừa. Bấm ấn ở các huyệt âm lăng tuyền, huyệt địa cơ, mỗi huyệt bấm ấn 1
        phút. Bấm ấn và day ở các huyệt túc tam lí, khúc trì, mỗi huyệt bấm ấn 1
        phút.</p>
    <p class="MsoNormal" style="text-indent: 28.0pt" align="justify">(2) Nếu
        người bệnh thấy có chứng lượng khí hư ra nhiều, đầm đìa không dứt, trong
        dõng, màu trắng nhạt, bộ phận thắt lưng đau mỏi, bụng dưới cảm thấy lạnh,
        chất lươi nhạt, rêu lưỡi mỏng, trắng,mạch trầm trì. Thủ pháp cở bản,
        đồng thời thêm cả xát xoa ngang ở các huyệt thận du, bát liêu, để cho ở
        những chỗ đó nóng lên là được. Bấm ấn ở huyệt quan nguyên trong 1 phút.
        Day ấn ở huyệt bác hội trong 1-3 phút.</p>



</font></h3>