﻿<body><h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <p align="center"><b><font size="5" color="#000080">Chế độ ăn uống
        kiêng kị cho bệnh ung thư dạ dày</font></b></p>


    <p align="center"><font color="#000000" size="3">
        &nbsp;&nbsp;&nbsp; </font></p><font color="#000000" size="3">
    <p><b><span style="font-size: 10.0pt; font-family: Verdana">1. Thức ăn
		có nguy cơ gây ung thư dạ dày</span></b><span style="font-size: 10.0pt; font-family: Verdana"><br>
		<br>
		- Đùi gà rán, một món ăn đang được nhiều người ưa chuộng. Nhưng ít có
		bậc cha mẹ nào biết rằng, nó là một trong các món ăn được các bác sĩ
		cảnh báo vì có hàm lượng độc chất gây ung thư dạ dày cao. Để có một
		thành phẩm là món đùi gà thơm giòn, vàng ươm, béo ngậy, người làm bếp đã
		phải nướng nó ở nhiệt độ 170oC.<br>
		<br>
		- Đậu phụ mắm tôm, đặc sản của dân tộc và trở thành món khoái khẩu. Để
		có được món đậu phụ giòn tan, người ta phải rán ở nhiệt độ... 245oC.<br>
		<br>
		- Thịt gà rang được các nhà nghiên cứu Nhật Bản đo được ở nhiệt độ
		205oC. Bánh mì được nướng chín tại nhiệt độ 165oC, món lợn rán cũng phải
		đạt 200oC trước khi được đưa lên bàn ăn.<br>
		<br>
		Khi được chế biến đạt đến nhiệt độ trên thì các thức ăn trên đều chuyển
		hóa thành acrylamid - một chất gây ung thư.<br>
		<br>
		- Các nhà nghiên cứu đã đưa ra khuyến cáo, muối là tác nhân thúc đẩy,
		kích hoạt các tác nhân gây ung thư. Theo khuyến cáo của Tổ chức Y tế thế
		giới, nhu cầu bổ sung muối hàng ngày trung bình khoảng 6g/người/ngày.
		<br>
		<br>
		Tuy nhiên, ở những người lao động trong môi trường nóng, tăng bài tiết
		muối trong mồ hôi, trung bình họ đưa lượng muối vào cơ thể thông qua ăn
		uống là từ 13 - 38g/ngày. Những người này có nguy cơ mắc ung thư dạ dày
		rất cao. Do đó, những người ăn nhiều muối như thói quen ăn rau củ quả
		muối, thức ăn có nhiều nitrat nên chỉnh sửa và dần từ bỏ thói quen có
		hại của mình. <br>
		<br>
		<b>2.Thói quen cần thay đổi </b></span></p>
		<span style="font-size: 10.0pt; font-family: Verdana">- Khi phi hành tỏi,
		nên giữ nguyên màu trắng mà hành, tỏi vẫn thơm, không nên đợi đến khi
		chín vàng và xuất hiện khói.<br>
		<br>
		- Không sử dụng món nướng: Chị em nên bỏ thói quen mua cho con một que
		thịt nướng ngoài cổng trường mỗi buổi tan học và mua cho chồng món thịt
		chó nướng ngoài đường vì chất dinh dưỡng trong thịt đã được thay thế
		bằng độc chất. <br>
		<br>
		- Thay vì rán đậu vàng ươm, nên rán thật non, hoặc tốt nhất là ăn đậu
		phụ sống chần qua nước sôi.<br>
		<br>
		- Không sử dụng các loại nước hoa quả ép được bày bán nơi công cộng vì
		các sản phẩm này thường có chất bảo quản.<br>
		<br>
		- Không ăn nhiều rau củ quả muối<br>
		<br>
		- Hạn chế các thức ăn từ thịt được chế biến sẵn như thịt hun khói,
		jambon, xúc xích.<br>
		<br>
		- Từ trước đến nay, nhiều người hiểu khái niệm rất đơn giản là uống rượu
		nhiều gây ung thư. Thực chất, rượu là dung môi hòa tan các chất gây ung
		thư, hay nói cách khác, rượu là chất dẫn các chất hóa học gây ung thư
		vào cơ thể. Uống rượu và ăn các thức ăn có nguy cơ gây ung thư như thực
		phẩm rán, xào ở nhiệt độ cao là con đường ngắn nhất đưa độc chất vào cơ
		thể.<br>
		<br>
		<b><i>Lời khuyên:</i></b><i> </i>Cách phòng bệnh tốt nhất là không làm
		đổi màu thức ăn ở nhiệt độ cao. Bên cạnh đó, nên sử dụng thường xuyên
		các sản phẩm thực phẩm từ rau tươi và rau có màu vàng. Theo nghiên cứu,
		những loại thực phẩm này làm giảm đến 60% ung thư dạ dày. Trái cây, đậu
		phụ, khoai sống (chưa mọc mầm) làm giảm 40-50% ung thư dạ dày</span>

</font></h3></body>