﻿<body><div id="noidung">

    <h1 style="text-align: center"><font size="5">Chế</font><font size="5"> độ ăn uống
        cho bệnh ung thư vòm họng</font></h1><font color="#000000" size="4">
    <p class="MsoNormal"><span style="font-family: Times New Roman">1. Thạch
		thược bách toàn thảo dùng khô 5 tiền 2 lạng, cho thêm 1-2 lạng thịt nạc
		lợn hoặc mấy quả táo tàu, nước sạch 8-9 bát, sắc trong 6 giờ để còn
		khoảng 1 bát nước, uống mỗi ngày 1 thang.</span></p>
    <p class="MsoNormal"><span style="font-family: Times New Roman">2. Ý dĩ
		nhân lượng vừa đủ, nấu thành cháo ăn bình thường.</span></p>
    <p class="MsoNormal"><span style="font-family: Times New Roman">3. Gạo
		tẻ 30-50g, ngưu bàng 30g, đem gạo tẻ nấu thành cháo lại lấy ngưu bàng
		nấu thành canh, cho vào trong cháo đậu, ăn nóng hoặc để nguội ăn đều
		được.</span></p>
    <p class="MsoNormal"><span style="font-family: Times New Roman">4. Vỏ
		qủa dưa hấu 30g, cho thêm 2 bát nước, nấu còn một bát nước, chia ra uống
		2 lần trong ngày, uống mấy ngày liền.</span></p>
    <p class="MsoNormal"><span style="font-family: Times New Roman">5. Nước
		mướp; Một qủa già, đường trắng 500g, mướp rửa sạch bỏ hạt, thái nhỏ, cho
		lượng nước vừa phải vào nấu trong 1 giờ, bỏ bã tiếp tục đun nhỏ lửa nước
		mướp đó cho đến khi đặc sánh lại, nồi sắp khô, rút lửa ra để nguội, trộn
		vào một ít đường trắng khô cho rút hết nước săc, khuấy đều hong khô,
		khuấy đều hong khô, nghiền vụn ra bỏ vào trong lọ để dùng. Không câu nệ
		về thời gian, mỗi lần uống 10g, hoà tan bằng nước sôi, uống nhiều lần
		trong ngày thay trà, có tác dụng nhất định đối với việc giảm đau.</span></p>




</font></div></body>