﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <h1 style="text-align: center"><font size="5">Ung</font><font size="5"> thư mũi họng</font></h1>
<font color="#000000" size="4">
                    </font></font></span></font><font color="#000000" size="4">
    <p class="MsoNormal">1. Cúc hoa hà xa tra: Thảo hà xa, cúc hoa, nga bất
        thực thảo, mỗi loại lượng bằng nhau, tất cả nghiền vụn thành bột, cho
        thêm lượng trà xanh vừa phải. Mỗi ngày lấy 6g thuốc ra để pha trà uống.</p>
    <p class="MsoNormal">2. Tỏi đường: Lấy củ tỏi tươi đem bóc vỏ, rửa sạch
        để hong khô. Dùng nước đường nấu với hoa tiêu, thảo khấu, nhục quế, đại
        hồi thành nước thuốc để chuẩn bị dùng. Cho vào chần nhúng trong chậu
        ngập nước xong vớt ra hong khô, đun to lửa cho dừ rồi chế với nước đường,
        cho tỏi đã khô vào, để chỗ mát một tuần rồi đem ra ăn</p>
    <p class="MsoNormal">3. Cháo ý mễ:&nbsp; Dùng lượng ý mễ vừa phả, rửa sạch,
        đem đun sôi để cháo đặc, xong cho hai quả la hán chưng trong 1 giờ đem
        ăn.</p>




</font></h3>