﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <h1 style="text-align: center"><font size="5">Chế độ ăn uống cho bệnh&nbsp;u
        não ác tính</font></h1>
    <h1><span style="font-weight: 400"><font size="4">1. Hoa cúc mọc hoang (dã cúc hoa), sơn đậu căn mỗi
        thứ 6g, cho thêm khổ đinh thái 3g, đun sôi nước, dùng để uống thay nước
        trà, ngày uống 3-6 lần.</font></span></h1></font>
    <font color="#000000" size="4">
        <p class="MsoNormal">2. Bạch đầu ông hoàng tửu thang: Dùng cho những
            người bị u não thuộc chứng phong thấp kết ứ, uất hỏa hóa nhiệt. Bạch đầu
            ông 12g, rượu 12 ml, ngâm trong 3 giờ, cho thêm 800 ml nước vào sắc 40
            phút, còn lại 600ml. Mỗi ngày uống 2-3 lần, mỗi lần uống 200ml.</p>
        <p class="MsoNormal">3. Hạch đào nhân, bột kiều mạch trộn vào với nhau,
            làm thành bánh nướng để ăn.</p>




</font></h3>