﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
<span style="font-family: Times New Roman; font-size:16pt">
					<font color="#0000FF">
                        <h1 style="text-align: center"><font size="5">&nbsp;&nbsp;Chế độ ăn cho bệnh cảm cúm</font></h1>
                    </font></span>


    <font color="#000000" size="3">
					<span style="font-family: Times New Roman; font-size:16pt">
			<p style="text-align: center; margin-top: 0; margin-bottom: 0">&nbsp;</p>
			<h3 style="text-align: justify">
			<span style="font-size: 13.0pt; font-weight: normal">
			<a href="Cháo%20hành%20chữa%20cảm%20cúm">
                <img border="0" src="http://www.thaythuoccuaban.com/images/chao-hanh-chua-cam-cum.jpg" width="250"
                     height="250"
                     lowsrc="Cháo%20hành%20chữa%20cảm%20cúm" longdesc="Cháo hành chữa cảm cúm"
                     alt="Cháo hành chữa cảm cúm" align="left"></a>Cảm
			cúm là bệnh có thể gặp ở bất kì lứa tuổi nào. Mặc dù bệnh không gây
			nguy hiểm đến tính mạng cho người bệnh nhưng sẽ ảnh hưởng trực tiếp
			tới sức khỏe và công việc, cuộc sống khi mắc cảm cúm. Khi bị cảm cúm
			ngoài việc dùng thuốc, nghỉ ngơi hợp lý cần đặc biệt quan tâm tới
			chế độ ăn uống.</span></h3>
			<h3 style="text-align: justify">
			<span style="font-size: 13.0pt; font-weight: normal">Dưới đây là một
			số loại thực phẩm giúp tăng cường hệ miễn dịch, phòng ngừa và chống
			chọi với bệnh cảm cúm tốt hơn.</span></h3>
			<h3 style="text-align: justify"><i><span style="font-size: 13.0pt">
			Cháo hành nóng:</span></i><span style="font-size: 13.0pt; font-weight: normal">
			Cháo hành nóng, tía tô là món ăn dễ tiêu hóa, giải cảm tốt – món ăn
			đặc biệt tốt cho người bị cảm cúm.</span></h3>
			<h3 style="text-align: justify"><i><span style="font-size: 13.0pt">
			Cháo gà nóng, soup gà</span></i><span style="font-size: 13.0pt; font-weight: normal">:
			Các nhà khoa học cho biết nước súp gà có thành phần của cysteine,
			một amino acid có thể phối hợp với những sinh tố C, E và chất
			selenium trong tác dụng chống oxy hoá. Cysteine còn có tác dụng kích
			thích tế bào bạch cầu trong hoạt động miễn dịch, đặc biệt là có khả
			năng làm loãng và đánh tan những chỗ ngăn nghẹt do đờm dịch đọng lại
			ở bộ máy hô hấp, làm kéo dài thêm tình trạng cảm cúm.</span></h3>
			<h3 style="text-align: justify"><span style="font-size: 13.0pt">Tỏi</span><span style="font-size: 13.0pt">:
			</span><span style="font-size: 13.0pt; font-weight: normal">Các
			nghiên cứu đã chỉ ra rằng trong tỏi có hàm lượng chất chống oxy hóa
			cao nhất trong các loại gia vị. Theo Đông y tỏi vị cay, tính ấm, có
			thể tăng cường sự lưu thông khí huyết, sát trùng, sát khuẩn, cải
			thiện độ mỡ trong máu, tăng cường sức đề kháng để phòng chống nhiều
			loại bệnh khác nhau bao gồm các chứng cảm cúm.&nbsp;<span class="apple-converted-space">&nbsp;Hàng
			ngày có thể dùng tỏi để pha nước chấm hoặc trộn rau giúp phòng ngừa
			cảm cúm</span>.<span class="apple-converted-space"> </span>Trong
			những đợt dịch cúm có thể sử dụng dung dịch tỏi pha loãng nhỏ mũi
			giúp ngừa cúm và ngặn chặn một số chứng nhiễm trùng hoặc các loại
			bệnh lây lan qua đường hô hấp.<span class="apple-converted-space">&nbsp;</span></span><span lang="VI"
                                                                                                        style="font-size: 13.0pt; font-weight: normal">Giã
			nát 3 tép tỏi, hãm trong 50g nước sôi khoảng nửa giờ. Chắt lấy nước,
			nhỏ vào mũi mỗi bên khoảng 2 hay 3 giọt, ngày 2 hoặc 3 lần.&nbsp;<span
                        class="apple-converted-space">&nbsp;</span></span><span
                    style="font-size: 13.0pt; font-weight: normal">Cũng
			có thể hít hơi tỏi qua mũi sau khi đun sôi khoảng 200g tỏi giã nát
			trong 300cc nước khoảng 10 phút.<span class="apple-converted-space">&nbsp;</span>&nbsp;Hít
			thở sâu khi nước tỏi còn nóng thông qua 1cái phễu úp trên miệng ấm
			khi vừa bắt xuống.&nbsp;<span class="apple-converted-space">&nbsp;</span>Độ
			nóng và hít sâu vừa với khả năng chịu đựng của cơ thể để tránh bị
			phỏng.</span></h3>
			<p class="ongiithiu" style="text-align: justify"><b><i>
                <span style="font-size: 13.0pt">Sữa chua:</span></i></b><span class="apple-converted-space"><span
                    style="font-size: 13.0pt">&nbsp;</span></span><span style="font-size: 13.0pt">Sữa
			chua giàu calcium, và những chất đạm dễ tiêu hóa giúp cân bằng hệ vi
			sinh đường ruột. Sữa chua đặc biệt tốt cho người già, trẻ em và
			những người bị cảm cúm. &nbsp;</span></p>
			<p class="ongiithiu" style="text-align: justify"><b><i>
			<span style="font-size: 13.0pt">Các loại cá, hải sản, nhất là hàu,
			ốc</span></i><span style="font-size: 13.0pt">.</span></b><span style="font-size: 13.0pt">
			Ngoài những loại chất đạm và chất béo hữu ích, những loại thực phảm
			này đặc biệt là hàu, có hàm lượng rất cao khoáng chất kẽm, yếu tố
			cần thiết cho việc sản xuất và hoạt hoá những tế bào của hệ miễn
			dịch. Chế độ ăn thiếu kẽm có liên quan đến việc suy giảm chức năng
			sinh dục cà cả khả năng miễn dịch của cơ thể.&nbsp;<span class="apple-converted-space">&nbsp;</span>Không
			chỉ kẽm, những loại hải sản này còn có hàm lượng cao selenium, một
			chất chống oxy hoá mạnh. Selenium cũng có tác dụng kích thích hoạt
			động của<span class="apple-converted-space">&nbsp;</span>&nbsp;hệ miễn nhiễm
			giúp cơ thể chống chọi tốt hơn với bệnh cảm cúm.</span></p>
			<p class="ongiithiu" style="text-align: justify"><b><i>
			<span style="font-size: 13.0pt">Rau và hoa quả có màu xanh đậm, đỏ,
			vàng.</span></i></b><span style="font-size: 13.0pt"> Rau quả vừa
			giúp thanh lọc cơ thể vừa tăng cường tính kiềm để ổn định độ PH giúp
			duy trì khả năng bình thường của chức năng miễn dịch. Đặc biệt, các
			loại&nbsp;loại rau quả sậm màu, màu&nbsp;vàng, màu đỏ như các loại rau xanh,
			khoai lang, bí đỏ,&nbsp;<span class="apple-converted-space">&nbsp;</span>cà
			rốt, bông bí, bầu, quả gấc, nho tím, dâu tây . . có hàm lượng cao
			những sinh tố&nbsp;<span class="apple-converted-space">&nbsp;</span>C, A, chất
			beta caroten và nhiều&nbsp;<span class="apple-converted-space">&nbsp;</span>hợp
			chất chất chống oxy hoá khác có khả năng trung hoà những gốc tự do,
			bảo vệ màng tế bào giúp tăng cường sức đề kháng, chống chọi với bệnh
			tật tốt hơn.</span></p>
			<h3 style="text-align: justify"><i><span style="font-size: 13.0pt">
			Rong biển</span><span style="font-size: 13.0pt">:</span></i><span
                    style="font-size: 13.0pt; font-weight: normal">
			Rong biển chứa hàm lượng vi chất dinh dưỡng, khoáng chất, chất đạm
			dễ chuyển hóa rất cao, rong biển còn có nhiều sinh tố A và&nbsp;<span
                    class="apple-converted-space">&nbsp;</span>những
			carotenoids là những chất chống oxy hóa mạnh có tác dụng kháng viêm,
			bảo vệ màng tế bào.&nbsp;<span class="apple-converted-space">&nbsp;</span>Những
			polysaccharides trong rong biển có tác dụng tăng cường tính miễn
			dịch và nâng cao sức chịu đựng của cơ thể đối với những thay đổi của
			môi trường.</span></h3>
			<h3 style="text-align: justify"><i>Hạnh nhân</i>:
			<span style="font-weight: normal">Hạnh nhân chứa hàm lượng vitamin E
			cao, giàu chất chống oxy hóa giúp tăng cường hệ miễn dịch chống lại
			bệnh cảm cúm.</span></h3>
			<p style="text-align: justify; background: white"><strong><i>
                <span style="font-size: 13.0pt">Sô cô la đen:</span></i><span
                    style="font-size: 13.0pt; font-weight: normal">
			</span></strong>Lượng cacao đen trong sô cô la đen hỗ trợ sự tăng
                trưởng của các tế bào T và gia tăng hệ miễn dịch của cơ thể chống
                lại nhiễm trùng. <span style="font-size: 13.0pt">Thêm một lượng
			socola vừa phải trong món tráng miệng mỗi ngày giúp tăng cường hệ
			miễn dịch phòng chống bệnh cảm cúm.</span></p>
		</span></font></h3>