﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <h1 style="text-align: center"><font size="5">Chế độ ăn uống, kiêng kỵ
        cho bệnh&nbsp;ung thư ruột</font></h1>
</font><p class="MsoNormal"><font color="#000000" size="3">1.</font><font color="#000000" size="4"> Cháo củ ấu: Củ ấu để cả vỏ 10-20 củ, phòng phong
    1 thìa, gạo nếp lượng vừa đủ. Đem rửa sạch củ ấu rồi giã vụn, cho vào
    nôi đun khuấy đều thành dạng vữa rồi cho gạo nếp vào để nấu thành cháo.
    Khi cháo chín thì để ấm hoà với mật ong ăn, cháo thuốc này có tác dụng
    ích vị nhuận tràng.</font></p><font color="#000000" size="4">
    <p class="MsoNormal">2. Thức ăn Thăng ma – chi ma nấu với đại tràng lợn:
        Thăng ma 10g, Hắc chi ma 60g, một đoạn đại tràng lợn khoảng 30g. Đại
        tràng sau khi rửa sạch, cho Thăng ma, Chi ma vào trong đại tràng lợn, 2
        đầu buộc lại cho lượng nước vừa phải vào luộc chín, bỏ Thăng ma và Nhân
        ma vào, cho thêm gia vị vào ăn cả nước và cái. Món ăn dùng làm thuốc này
        làm thăng đề trung khí. Đối với những người bụng dưới bị sa tức, đại
        tiện liên tục nhiều lần có thể chọn dùng.</p>
    <p class="MsoNormal">3. Mã sỉ hiện, trứng gà hoặc thịt nạc mỗi thư 50g,
        làm nhân bánh ăn thường xuyên.</p>
    <p class="MsoNormal">4. Di hầu đào, mỗi ngày thường xuyên ăn.</p>
    <p class="MsoNormal">5. Hoa trà nấu 30g, mộc nhĩ 15g, huyết dư thán 6g,
        đem nấu thành hoa trà và mộc nhĩ đã nấu trước cho vàng, sau khi nấu để
        còn lại 1 bát nước, đem hoà với huyết dư thán để uống. Thuốc này rất tốt
        đối với người bệnh ung thư ruột bị đi đại tiện ra máu.</p>
    <p class="MsoNormal">6. Ý dĩ nhân chúc: Lăng chúc, khiếm thực trúc, liêm
        tử chúc. Có thể làm ăn như bình thường, hoặc ăn những thức ăn thông
        thường như hương cô, bạch như, hắc mộc nhĩ, ngân nhĩ…, có tác dụng phòng
        chữa ung thư ruột, nâng cao công năng miễn dịch của cơ thể và tăng cường
        thể lực.</p>
</font></h3>