﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <h1 style="text-align: center"><font size="5">Chế độ ăn uống cho
        bệnh ung thư tế bào</font></h1>
</font><font color="#000000" size="4">
    <p class="MsoNormal">I. Trà thuốc</p>
    <p class="MsoNormal">1. Bán liên chi 30g, Bạch hoa xà 30 mỗi ngay 1
        thang, uống nhiều lần trong ngày thay nước trà</p>
    <p class="MsoNormal">2. Thuốc bạch hoa xà trà ẩm: Bạch hoa xà 31g, đem
        bạch hoa xà nấu lấy nước để uống thay nước trà, ngày 1 thang</p>
    <p class="MsoNormal">II. Cá, thịt, cầm thú, trứng</p>
    <p class="MsoNormal">Canh bí ma đản cao thang: Bí ma nhân 3 hạt, trứng
        gà 1 quả</p>
    <p class="MsoNormal">Cách dùng: Tạo một lỗ to bằng đầu ngón tay cái ở
        đỉnh đâu quả trứng, nhét nhân hạt thầu dâu đã giã nhỏ vào trong quả
        trứng, trộn đều rồi lấy giấy bịt lỗ thủng đó lại. Sau đó hấp quả trứng
        trên chõ 40 phút là được,boc vỏ trứng ăn lúc nóng cùng bữa ăn.</p>




</font></h3>