﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <h1 style="text-align: center"><font size="5">Chế độ ăn uống kiêng kị cho bệnh
        ung thư thận</font></h1><font color="#000000" size="4">
    <p class="MsoNormal" align="justify">1. Ti qua ẩm: Lão ti qua (quả mướp
        già) một đoạn, đường trắng lượng vừa đủ, đem rửa sạch mướp, sau khi
        luộc, cho thêm chút đường vào, thay nước trà uống trong ngày, không câu
        nệ về thời gian và số lần uống, là loại nước uống mát, có tác dụng chữa
        bệnh.</p>
    <p class="MsoNormal" align="justify">2. Hà diệp ngẫu tiết trấp: tiên hà
        diệp (lá sen tươi) 1 tàu, ngẫu tiết (mấu ngó sen) 15g, đem rửa sạch lá
        sen, thái thành những sợi nhỏ nấu lẫn với mấu ngó để lấy nước uống, bỏ
        bã, không câu nệ về thời gian và số lần uống.</p>
    <p class="MsoNormal" align="justify">3. Đỗ trọng nấu với cổ hũ lợn: củ
        hũ lợn&nbsp; 250g, đỗ trọng 50g, phương pháp đem rửa sạch cổ hũ lợn thái
        thành miếng nhỏ, đỗ trọng rửa sạch thái thành lát.Cùng bỏ vào trong nồi
        nấu với lượng nước vừa đủ, trước tiên cho lửa to, khi sôi chuyển sang
        đun nhỏ lửa thành món canh, cho thêm gia vị vào ăn, mỗi ngày 1 lần.</p>
    <p class="MsoNormal" align="justify">4.Xương tủy lợn nấu với ngó sen:
        xương tủy lợn 500g ngó sen 250g, thái nhỏ thành từng miếng, cả hai thứ
        đều cho vào nồi nấu nhừ rôi đem ăn cả nước lẫn ngó sen và thịt trong
        xương.</p>
    <p class="MsoNormal" align="justify">5. sâm Tam thất phấn 3g, vụn đường
        phèn 1 thìa canh, trộn đều vào trong cháo gạo nếp vàng, không câu nệ
        thời gian, ăn như món ăn thường là được.</p>
    <p class="MsoNormal" align="justify">6. Sao hoàng nọa mễ 30g, nấu lên
        thành cháo, cho lá rau muống 30g vào, đem nấu chín, cho thêm muối, mỳ
        chính, dầu vừng lượng vừa đủ vào, mỗi ngày 1 lần hoặc cách ngày lại ăn 1
        lần.</p>
    <p class="MsoNormal" align="justify">7. Xích tiểu đậu 60g, đậu đen 60g,
        đậu đũa 60g, nấu thành cháo ăn như đường.</p>
    <p class="MsoNormal" align="justify">8. Thiềm thừ 2 con, bỏ hết ruột,
        làm sạch gói trong vải xô, nấu lên thành nước vữa thịt. lấy nước thịt đó
        uống. mỗi ngày 1 thang.</p>
    <p class="MsoNormal" align="justify">9. Hương tiêu, đại táo lượng vừa
        đủ, ăn như thường lệ</p>
    <p class="MsoNormal" align="justify">10. Sinh dĩ mễ 30g, xích tiểu đậu
        20g, nấu lên thành cháo để ăn vào sáng sớm, ăn như bữa ăn thường.</p>
    <p class="MsoNormal" align="justify">11. Ban miêu nướng với trứng gà, ăn
        như bữa ăn thường</p>
    <p class="MsoNormal" align="justify">12. Địa du thán100g, thêm ít giấm
        ăn 50 ml, nấu cho đến khi còn 300ml, mỗi ngày 1 thang, phân chia thành
        mấy lần uống hết trong ngày, mỗi lần uống không hạn chế số lượng.</p>




</font></h3>