﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <font size="6" color="#333333"><b>C<span style="background-color: #FFFFFF; background-position: 0% 0%">hế
			độ ăn uống cho bệnh ung thư gan</span></b></font></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:36.0pt;
line-height:150%"><span style="font-size:14.0pt;line-height:150%">
			<img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-cho-benh-ung-thu-gan.jpg" width="320" height="240" lowsrc="Chế%20độ%20ăn%20cho%20bệnh%20ung%20thư%20gan" longdesc="Chế độ ăn cho bệnh ung thư gan" alt="Chế độ ăn cho bệnh ung thư gan" align="left">Gan
			đóng vai trò quan trọng trong việc bảo tồn và duy trì sức khỏe của
			cơ thể. Gan giúp biến đổi thức ăn thành những chất cần thiết cho sự
			sống và phát triển. Gan giúp chuyển hóa các chất được hấp thụ từ
			đường tiêu hóa sang dạng mà cơ thể có thể dùng được. Ngoài ra gan
			còn là cơ quan giải độc và bài tiết những chất độc hại ra khỏi cơ
			thể.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:36.0pt;
line-height:150%"><span style="font-size:14.0pt;line-height:150%">Ung thư gan
			khá phổ biến ở Việt Nam, đứng thứ 3 trong số các loại ung thư ở Việt
			Nam. Ung thư gan nếu được phát hiện sớm thì hiệu quả điều trị thành
			công đạt khoảng 80.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:36.0pt;
line-height:150%"><span style="font-size:14.0pt;line-height:150%">Theo Lương y
			Nguyễn Hữu Toàn ung thư gan ngoài việc điều trị bằng thuốc thì chế
			độ ăn uống cũng cần đặc biệt được quan tâm. Mặc dù chế độ ăn uống
			không có tác dụng điều trị ung thư gan nhưng chế độ ăn uống giúp
			phục hồi, tăng cường sức khỏe, chống chọi với bệnh tật. Dưới đây là
			một số lời khuyên về chế độ dinh dưỡng cho bệnh nhân ung thư gan.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:36.0pt;
line-height:150%"><b><span style="font-size:14.0pt;line-height:150%">Thực phẩm
			tốt cho bệnh nhân ung thư gan:</span></b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;line-height:150%">
        <b><span style="font-size:14.0pt;line-height:
150%">Ăn nhiều trái cây và rau quả tươi: </span></b>
			<span style="font-size:
14.0pt;line-height:150%">Loại thực phẩm này chứa nhiều vitamin và khoáng chất
			thiết yếu cho cơ thể, giúp tăng cường hệ thống miễn dịch. Ngoài ra
			trong trái cây và rau quả tươi giàu chất chống oxy hóa, giúp chống
			lại bệnh tim mạch, đột quỵ, ngăn ngừa ung thư. Nguồn chất xơ dồi dào
			trong rau xanh và hoa quả giảm táo bón. Một số loại trái cây tốt cho
			bệnh ung thư gan:dâu tây, cam, ớt chuông đỏ. Một số loại rau nên ăn:
			bí, cà rốt và bắp cải, bông cải xanh.</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: #FAFAFA">
			<span style="font-size: 14.0pt"><b>Ngũ cốc nguyên hạt:</b> Các loại
			ngũ cốc như bánh mì, gạo, mì là những carbohydrate quan trọng cung
			cấp cho cơ thể, giúp sản sinh glucose – nguồn năng lượng quan trọng
			cho các tế bào. Một số ngũ cốc nên ăn: gạo lức, lúa mỳ, yến mạch,
			ngô, vừng...</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: #FAFAFA">
			<span style="font-size: 14.0pt"><b>Thực phẩm ít chất béo</b>: Một số
			thực phẩm ít chất béo tốt cho bệnh nhân ung thư gan: các loại hạt,
			dầu ô liu và dầu hạt cải dầu thực vật. Thực phẩm ít chất béo giúp
			tiêu hóa dễ dàng, giúp gan và thận không bị quá tải khi làm việc.</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: #FAFAFA">
			<span style="font-size: 14.0pt"><b>Thịt trắng:&nbsp;</b>Các nghiên cứu
			khác nhau trên thế giới đều khẳng định việc tiêu thụ các loại thịt
			trắng thay cho thịt đỏ sẽ giúp cơ thể chống chọi với bệnh ung thư
			gan tốt hơn. Thịt gia cầm: gà, vịt, ngan giúp chống chọi với bệnh
			ung thư gan.</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: #FAFAFA">
			<span style="font-size: 14.0pt">Nên chế biến các món ăn dưới dạng
			hấp, luộc: để dễ tiêu hóa, hạn chế lượng dầu mỡ.</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: #FAFAFA">
			<span style="font-size: 14.0pt"><b>Sữa và sữa chua </b>:&nbsp;Uống sữa và
			ăn sữa chua đã làm giảm khả năng phát triển bệnh ung thư gan, đồng
			thời cải thiện cơ hội phục hồi cho cơ thể.</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: #FAFAFA">
			<span style="font-size: 14.0pt"><b>Trà </b>:&nbsp;Trà xanh và đen là một
			nguồn polyphenols, một nhóm các chất chống oxy hóa có thể giúp ngăn
			chặn sự phân chia và di căn của các tế bào ung thư.&nbsp;Theo Quỹ chữa
			bệnh ung thư, lá trà xanh khô cũng có lợi, như 40% trọng lượng chứa
			&nbsp;polyphenol.&nbsp;Những chất chống oxy hóa có thể giúp tăng cường bảo vệ
			và ngăn ngừa ung thư phổi, trực tràng, đại tràng, dạ dày và ung thư
			gan.&nbsp;Trà xanh cung cấp nhiều lợi ích hơn so với trà đen, và cả hai
			đều vượt trội so với các loại trà thảo dược.</span></p>

</font><font color="#000000" size="4">
    <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%; background: #FAFAFA">
        <b>Thực phẩm không tốt cho bệnh nhân ung thư gan</b></p>

</font><font color="#000000" size="3">
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
			</span><span style="font-size:14.0pt;line-height:150%">Các thực phẩm
			chiên, xào có chứa nhiều dầu mỡ.</span></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
			</span><span style="font-size:14.0pt;line-height:150%">Nội tạng động
			vật: chứa hàm lượng chất béo cao, nhiều cholesterol không tốt cho cơ
			thể.</span></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
			</span><span style="font-size:14.0pt;line-height:150%">Hạn chế các
			loại thịt màu đỏ, các loại đồ ăn được đóng hộp, chế biến sẵn</span></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
			</span><span style="font-size:14.0pt;line-height:150%">Rượu và đồ
			uống có cồn, có ga cần được loại&nbsp; bỏ khỏi thực đơn của bệnh nhân ưng
			thư gan. Những loại đồ uống này sẽ khiến gan phải làm việc căng
			thẳng, trong khi đó gan cũng đang bị bệnh cần được nghỉ ngơi.</span></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
			</span><span style="font-size:14.0pt;line-height:150%">Không hút
			thuốc lá.</span></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
			</span>
			<span style="font-size: 14.0pt; line-height: 150%; background: white">
			Không ăn mặn, ăn các thực phẩm có hàm lượng muối cao.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;line-height:150%">
			<span style="font-size:14.0pt;line-height:150%">Ngoài chế độ ăn uống
			bệnh nhân ung thư gan nên có chế độ nghỉ ngơi hợp lý, tập thể dục
			đều đặn giúp duy trì cân nặng và giữ gìn sức khỏe. Ngoài ra người bị
			ung thư gan nên giữ tinh thần thoải mái, lạc quan.</span></p>

</font>

</h3>