﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">

                <p align="center" style="margin-top: 0; margin-bottom: 0">Chế độ ăn
                    uống kiêng kị cho bệnh ung thư phổi</p>

                <i>
                    <font color="#000000" size="4">
		<span style="font-weight: 700">Sự phát sinh ung
		thư phổi có liên quan tới không khí ô nhiễm, chứng nghiện thuốc lá và
		chế độ ăn uống. Người nghiện thuốc lá ngoài việc hấp thu chất độc của
		thuốc còn bị giảm lượng vitamin C trong cơ thể, khiến sức đề kháng sa
		sút.</span></font><font color="#000000" size="3"><span style="font-size: 12.0pt; font-weight: normal"><font size="4"><input type="hidden" name="task" value="vote" style="font-weight: 700"><input type="hidden" name="option" value="com_content" style="font-weight: 700"><input type="hidden" name="cid" value="4586" style="font-weight: 700"><input type="hidden" name="url" value="http://www.carehub.vn/song-khoe/chuan-doan-benh/4586-bi-ung-thu-phoi-can-kieng-gi.html" style="font-weight: 700"></font></span></font></i><font color="#000000" size="3"></font></p><font color="#000000" size="3">
            <h4 align="justify"><span style="font-weight: normal">
		<font size="4">Bệnh nhân ung thư phổi nếu có nhiều đờm trắng dạng bọt, dễ nhổ ra, kèm
            theo rêu lưỡi trắng, nhầy hoặc sợ lạnh thì nên kiêng ăn các món nhiều mỡ,
            hải sản, lạc, khoai lang.<br>
            <br>
            Chế độ ăn quá nhiều thịt và chất tanh, ít rau tươi cũng khiến lượng
            vitamin C đưa vào không đủ, dễ gây ra ung thư cục bộ ở hệ thống hô hấp.
            Vì vậy, nhiều nhà chuyên môn cho rằng kiêng kỵ ăn uống là yếu tố quan
            trọng trong quá trình điều trị ung thư phổi.<br>
            <br>
            Trước hết, phải kiêng thuốc lá: Hút thuốc làm cho hàm lượng vitamin ở
            từng bộ phận của đường hô hấp xuống thấp, khiến chứng ung thư khuếch tán
            hoặc bệnh tình nặng thêm. Hơn nữa, thuốc lá là thứ tân nhiệt, chứa những
            tạp chất độc hại như nicotin, gây ra sự kích thích xấu đối với phổi và
            khí-phế quản, nhất là đối với những trường hợp đang ủ bệnh ung thư. Nó
            khiến niêm mạc đường hô hấp tăng tiết nhiều, đờm ngưng tích tụ không
            ngừng, đồng thời còn tăng thêm những chất gây ung thư.<br>
            <br>
            Y học phương Đông đã sớm chỉ ra rằng: Hút thuốc lá sẽ hun đốt làm tổn
            thương lá phổi, khiến đờm thấp không ngừng sinh ra và ngưng tụ, gây ra
            ho, đờm nhiều, khạc ra máu, khí cấp tăng lên dữ dội, từ đó bệnh tình
            ngày càng xấu đi, có thể chóng đi đến tử vong.<br>
            <br>
        </font>
		</span><font color="#000080"><font size="4">Về kiêng kỵ
                trong ăn uống</font><span style="font-weight: normal"><font size="4">:
            </font>
		</span></font></h4>
            <h4 align="justify">
		<span style="font-weight: normal"><font size="4">Phải
            tùy theo triệu chứng và bệnh tình của từng người. Nếu triệu chứng chủ
            yếu là đờm nhiều, có thể căn cứ vào màu sắc của đờm, độ đặc của đờm và
            có dễ khạc ra hay không để quyết định kiêng kỵ những thứ gì.</font></span></h4>
            <h4 align="justify">
		<span style="font-weight: normal"><font size="4">Đờm trắng ở trạng thái bọt, dễ nhổ ra, kèm theo rêu lưỡi trắng và nhầy,
            hoặc sợ lạnh: Kiêng ăn các thứ dầu mỡ ngậy béo, quá bổ dưỡng như thịt mỡ,
            gà béo, vịt béo, tôm, cua, cá hồi, các hải sản tanh. Không uống các thứ
            lạnh, kiêng lạc, khoai lang vì chúng gây đờm, làm bệnh nặng thêm.<br>
            - Nếu đờm vàng, tương đối đặc, khó khạc nhổ, kèm theo rêu lưỡi vàng và
            nhầy, nên chọn các thức ăn vừa hóa được đờm lại vừa có tác dụng thanh
            nhiệt như quả lê, đường phèn hầm củ cải, quả hồng... Kiêng ăn các thức
            ngậy béo, cay (hạt tiêu, bột hạt cải, bột cari, ớt, rượu), đồ hun nướng.
            Kiêng hồ đào, lạc.<br>
            - Nếu trong đờm có lẫn máu hoặc khạc ra máu thì ngoài việc kiêng kỵ
            nghiêm ngặt các thức trên, bệnh nhân còn phải kiêng các thức thô ráp và
            cấm dùng đồ rán, nướng, quay, hun…<br>
            - Nếu thể chất hư nhược, nên ăn uống các thứ ôn hòa, giàu dinh dưỡng mà
            dễ tiêu hóa như thịt lợn nạc, thịt bò hầm suông, cháo hạt sen và ý dĩ.
            Trong khi tẩm bổ cũng cần coi trọng vấn đề kiêng kỵ. Nếu bụng trướng,
            đại tiện lỏng, rêu lưỡi trắng và nhầy, phải dùng ít hoặc kiêng dùng sữa
            bò, đường, dưa muối, trái cây sống lạnh, dầu mỡ ngậy béo. Nếu miệng khát,
            người gầy, lưỡi đỏ, khạc ra máu thì cấm ăn các thức cay, động hỏa, hại
            âm. Nếu người hư nhược đến độ phải dùng các thuốc bổ như nhân sâm thì
            cần kiêng ăn cải củ, uống trà đặc.<br>
            <br>
            Người bị ung thư phổi đã xạ hoặc hóa trị nếu thấy chán ăn hoặc tiêu chảy
            thì nên ăn uống thanh đạm, dùng các thứ tươi mới, không có dầu mỡ, ăn
            thứ bổ vừa phải. Việc không chú ý kiêng kỵ trong ăn uống chẳng những gây
            thêm phản ứng nặng sau khi điều trị bằng phóng xạ và hóa chất mà còn làm
            suy thoái công năng tỳ vị, khiến bệnh tình nặng hơn.</font></span></h4>
            <font color="#000000" size="4">



</h3>