﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <p style="margin: 0 2px; " align="center">
										<span style="font-family: Times New Roman; font-size:16pt">
										<font color="#0000FF">
                                            <b><font size="5" color="#000080">Chế độ ăn uống,
                                                cho bệnh ung thư vú</font></b></font></span></p>

</font><p><font color="#000000" size="3"><span style="font-family:&quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/che-do-an-benh-ung-thu-vu.jpeg" width="259" height="194" lowsrc="Chế%20độ%20ăn%20bệnh%20ung%20thư%20vú" longdesc="Chế độ ăn bệnh ung thư vú" alt="Chế độ ăn bệnh ung thư vú" align="left"></span></font><span style="font-family:&quot;Times New Roman&quot;"><font color="#000000" size="4">Khi nhắc tới bệnh ung thư vú, bản thân người bệnh và bác sĩ thường chỉ
    chú trọng tới phương pháp điều trị. Tuy nhiên, theo BS Ang Peng
    Tiam,Giám đốc TT Điều trị ung thư Viện ĐH QG Singapore, chế độ ăn cũng
    góp phần quan trọng vào việc điều trị cũng như giảm thiểu nguy cơ tái
    phát của bệnh ung thư vú.</font></span><font color="#000000" size="4"></font></p><font color="#000000" size="4">
    <p><span style="font-family:&quot;Times New Roman&quot;">Dưới đây là
		khuyến cáo do Tập đoàn Y tế Parkway, Singapore cung cấp:</span></p>
    <p><b><span style="font-family:&quot;Times New Roman&quot;">Nguyên tắc
		lựa chọn thực phẩm</span></b></p>
    <p><span style="font-family:&quot;Times New Roman&quot;">- Chọn thực
		phẩm tươi sạch, có nguồn gốc sản xuất rõ ràng, đảm bảo được tiêu chuẩn
		chất lượng vệ sinh an toàn thực phẩm.</span></p>
    <p><span style="font-family:&quot;Times New Roman&quot;">- Đa dạng hóa
		các loại thực phẩm trong khẩu phần ăn nhằm đảm bảo cung cấp đầy đủ các
		chất dinh dưỡng cho cơ thể khỏe mạnh, các vi chất dinh dưỡng và các
		vitamin giúp cho cơ thể chống lại sự lão hóa, dọn các gốc tự do ngăn
		ngừa căn bệnh ung thư…</span></p>
    <p><span style="font-family:&quot;Times New Roman&quot;">- Sử dụng thực
		phẩm tươi đã được làm sạch và bảo quản trong điều kiện lạnh, tránh sử
		dụng thực phẩm ướp muối mặn, thực phẩm qua chế biến ở nhiệt độ cao, thực
		phẩm qua xào rán dầu mỡ nhiều lần.</span></p>
    <p><span style="font-family:&quot;Times New Roman&quot;">- Chế độ ăn
		giảm đạm độ năng lượng: Tránh ăn quá nhiều thực phẩm giàu đạm, giàu
		đường và lipid, nên ăn nhiều rau và hoa quả.</span></p>
    <p><span style="font-family:&quot;Times New Roman&quot;">- Tránh uống
		các nước uống có chứa cồn như rượu, bia… Có nghiên cứu chứng minh mối
		liên quan giữa ung thư vòm họng, ung thư thực quản, ung thư vú, ung thư
		gan với các loại đồ uống này.</span></p>
    <p><b><span style="font-family:&quot;Times New Roman&quot;">Các nhóm
		thực phẩm cần đảm bảo đủ trong khẩu phần ăn</span></b></p>
    <p><span style="font-family:&quot;Times New Roman&quot;">- <i>Đạm:</i>
		Thịt cung cấp cho cơ thể các loại axit amin (nguyên liệu cấu tạo các
		loại protein trong cơ thể). Để đảm bảo cung cấp đủ các loại axit amin
		cần ăn đa dạng các loại thực phẩm, khẩu phần ăn phải cân đối giữa
		protein động vật và thực vật.</span></p>
    <p><span style="font-family:&quot;Times New Roman&quot;">Các loại thịt
		màu trắng như thịt các loại gia cầm sẽ có lợi hơn cho sức khỏe. Cơ thể
		cũng cần bổ sung thêm các nguồn sắt, kẽm… từ các loại thịt có màu đỏ như
		thịt lợn nạc, thịt bò… Các loại tôm, cua cá, nhuyễn thể và hải sản. Hơn
		nữa đây còn là nguồn cung cấp các axit amin và vi chất dinh dưỡng rất
		quý cho cơ thể.</span></p>
    <p><span style="font-family:&quot;Times New Roman&quot;">- <i>Tinh bột:</i>
		Nên chọn cung cấp từ các loại ngũ cốc còn nguyên hạt (gạo, ngô, lúa mì,
		hạt lúa mạch), các loại củ (khoai tây, khoai lang, khoai sọ, củ sắn…).
		Tránh các loại thực phẩm chế biến sẵn chứa đường đơn, gây nhiều tác hại
		cho cơ thể, đồng thời các chất phụ gia cho thêm vào thực phẩm trong quá
		trình chế biến và bảo quản cũng là một trong những nhân tố góp phần làm
		gia tăng tỉ lệ bệnh ung thư.</span></p>
    <p><i><span style="font-family:&quot;Times New Roman&quot;">- Chất béo
		(Lipid):</span></i><span style="font-family:&quot;Times New Roman&quot;">
		Là chất cho giá trị năng lượng cao, giúp hình thành cấu trúc tế bào cơ
		thể. Do đó trong khẩu phần cần phải có một hàm lượng Lipid nhất định.
		Trong lipid có chứa các loại axit béo không no và axit béo no,hàm lượng
		axit béo không no không quá 50%, trong đó axit béo không no có nhiều nối
		đôi nên dưới 10% tổng năng lượng.</span></p>
    <p><i><span style="font-family:&quot;Times New Roman&quot;">- Rau quả:</span></i><span style="font-family:&quot;Times New Roman&quot;">
		Chọn các loại quả tươi sạch, đảm bảo chất lượng vệ sinh an toàn thực
		phẩm, bảo quản trong điều kiện lạnh, hạn chế làm mất các vitamin trong
		quá trình chế biến cũng như sơ chế, bảo quản. Rau quả rất có lợi cho sức
		khỏe do cung cấp các loại vitamin.</span></p>
    <p><i><span style="font-family:&quot;Times New Roman&quot;">Chú ý: Nên
		luôn giữ cơ thể ở mức cân nặng lý tưởng cho phép theo khuyến cáo mức
		tính dựa vào chỉ số khối cơ thể (BMI).</span></i></p>
    <p><b><span style="font-family:&quot;Times New Roman&quot;">Chế độ dinh
		dưỡng trong các đợt truyền hóa chất, phẫu thuật, xạ trị</span></b></p>
    <p><span style="font-family:&quot;Times New Roman&quot;">- Một nguyên
		tắc trong điều trị bệnh ung thư là luôn tránh giảm cân và giữ cân nặng
		lý tưởng cho phép. Khi bệnh nhân chấp nhận phối hợp với phương pháp lựa
		chọn điều trị ung thư, nên cho bệnh nhân ăn một chế độ ăn giàu chất dinh
		dưỡng.</span></p>
    <p><span style="font-family:&quot;Times New Roman&quot;">- Tăng cung cấp
		các chất dinh dưỡng cao trong khẩu phần, tăng các vitamin và vi chất
		dinh dưỡng, đặc biệt các thực phẩm có chứa nhiều chất chống ôxy hóa. Các
		chất xơ và các chất chống ôxy hóa nên cung cấp nhiều trước và sau các
		đợt điều trị nhằm giảm thiểu việc làm giảm tác dụng của các đợt truyền
		hóa chất, xạ trị… Các bữa ăn cũng nên được ăn trước hoặc sau 4 giờ trước
		hoặc sau khi điều trị.</span></p>
    <p><span style="font-family:&quot;Times New Roman&quot;">- Trong quá
		trình tiến hành phẫu thuật, truyền hóa chất, xạ trị, hoặc kết hợp các
		phương pháp điều trị làm cho bệnh nhân mệt mỏi, nôn nhiều… không thể
		cung cấp thức ăn bằng đường tiêu hóa, các bác sĩ điều trị sẽ chỉ định
		cho bệnh nhân nuôi dưỡng theo đường tĩnh mạch như truyền đường, đạm,
		điện giải… đảm bảo đủ mức dinh dưỡng cho cơ thể.</span></p>
    <p><span style="font-family:&quot;Times New Roman&quot;">Khuyến khích
		bệnh nhân ăn tự nguyện và chọn các món ăn, các thực phẩm theo sở thích
		của bệnh nhân, chế độ ăn lúc đầu cần cung cấp nhiều năng lượng được cung
		cấp từ tinh bột sau đó tăng dần lượng đạm, chất xơ nhằm đảm bảo tiêu hóa
		tốt cho bệnh nhân…</span></p>
    <p class="MsoNormal">I. Trà thuốc:</p>
    <p class="MsoNormal">1. Thiên đông 20g, đem thái miếng mỏng, nhỏ, thổ
        bối mẫu, thái miếng mỏng nhỏ 10g, cho thêm lá chè 5g, trộn lẫn thật đều
        vào với nhau, pha nước sôi vào, uống thay nước trà, mỗi ngày 300-500ml,
        mỗi ngày 1 thang.</p>
    <p class="MsoNormal">2. Bồ công anh 30g, rửa sạch để khô ráo, lá chè
        10g, cho thêm lượng đường trắng hoặc chút mật ong thích hợp đủ dùng vào,
        nước sôi pha vào để 30 pút, uông thay nước trà. Thích dụng với những
        người độc nhiệt ung thịnh.</p>
    <p class="MsoNormal">II. Rượu thuốc</p>
    <p class="MsoNormal">1. Vương bất lưu hành 100g, Xuyên bối mẫu 50g, Hạ
        khô thảo 100g, rượu 1 kg. Đem ba vị thuốc trên ngâm trong rượu, bịt kín
        bình rượu ngâm trong 15 ngày, lấy ra, mỗi lần nhắp chút ít, 10 ngày uống
        hét 1 thang nói trên</p>
    <p class="MsoNormal">2. Qua lâu 5 quả, nghiền thành bột, văn truật 50g,
        Văn truật 50g, thái thành miếng mỏng, nhỏ rồi lại thêm Thiên quì tử 30g,
        dùng rượu trắng 50<sup>0</sup> ngâm thuốc, sau 7 ngày đem rượu ra uống.
        Mỗi ngày 2 lần, mỗi lần 15g, dùng trong 15 ngày, cách 1 tuần sau lại
        uống lại như cũ.</p>
    <p class="MsoNormal">III. Các món ăn làm vị thuốc</p>
    <p class="MsoNormal">1. Kim châm thái (tức rau cúc mọc hoang), thịt lợn
        nạc 60g, cách làm: kim châm thái đem rửa sạch, thịt lợn nạc thái thành
        miếng mỏng, đều bỏ cả vào trong nồi, dùng ngọn lửa to đun cách thủy cho
        chín dừ. Cách dùng; ăn kim châm thái, thịt lợn, uống nước canh. Có công
        năng dưỡng huyết bổ can, thông nhũ tán kết.</p>
    <p class="MsoNormal">2. Tiên kim châm thái căn 15g, chân giò lợn 2 cái,
        vương bất lưu hành 30g. Ba thứ trên cùng nấu lẫn, khi thịt chín là được.
        Cách dùng: ăn thịt rau, uống nước, mỗi ngày 1 lần, liên tục ăn trong 5-6
        lần là kiến hiệu. Có công năng thanh nhiệt tiêu thũng, thông kinh tán
        kết.</p>
    <p class="MsoNormal">3. Mai cua đốt cháy nghiền thành bột, mỗi lần uống
        10g, mỗi ngày 2 lần, uống với rượu, không được uống gián đoạn.</p>
    <p class="MsoNormal">4. Ngô công 1-2 con, rang khô nghiền thành bột, hòa
        vào với 2 quả trứng gà, cùng xào lên, liên tục ăn trong nửa tháng, có
        thể chữa được u xơ tuyến vú.</p>
    <p class="MsoNormal">5. Nam qua đén nướng thành than, nghiền thành bột,
        mỗi lần uống 2 cái, rượu 60g, hòa vào để uống vào buổi sớm và buổi tối,
        mỗi buổi một lần uống. Người uống được rượu thì có thể thêm chút rượu
        nữa. Người đã bị loét cũng có thể dùng thêm loại thuôc đắp bằng dầu vừng,
        núm quả bí đỏ đốt cháy, trộn đều với nhau, đắp ngoài vết loét.</p>
    <p class="MsoNormal">6. Toàn hạt 10g, Ngô công 1 con, hạnh đào 1 quả.
        Đem bổ quả đào ra làm đôi, một nửa bỏ nhân của nó đi, bỏ cả hai vị thuốc
        vào trong gói chặt lại, đốt trên ngọn lửa, bao giờ cháy khói xanh là
        được, đem nghiền vụn pha với nước sôi để uống.</p>
    <p class="MsoNormal">7. Lộ phòng phong, Ngũ bội tử, thử nhi rang trên
        nồi sành, mỗi thứ lượng đều nhau, đem nghiền thành bột, trộn với cơm
        đánh nhuyễn đi rồi làm thành viên hoàn mỗi lần uống 15g, uống với nước
        trà vào lúc sáng sớm.</p>
    <p class="MsoNormal">8. Ngư biểu đem rán bằng dầu vừng cho thật giòn,
        nghiền vụn, mỗi lần uống 5g, ngày uống 3 lần</p>
    <p class="MsoNormal">9. Tiên hoàng ngư 10-20 con, đem lọc xé tủy xương
        và vây ra, dán trên tường vôi, không được thấm nước, càng lâu càng tốt,
        lúc dùng đến, đem đốt lửa thành tro xong nghiền thành bột mịn, ngày uống
        2-3 lần, mỗi lần uống 10-15g, uống với rượu để lâu ngày, liền trong 1
        tháng.</p>
</font><font color="#000000" size="3">
    <div align="center">
        <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="93%" style="width: 93.0%; border-collapse: collapse; background: whitesmoke" id="table62">
            <tbody><tr>
                <td width="100%" style="width: 100.0%; border: 1.0pt inset steelblue; padding: .75pt; background:">
                    <p class="MsoNormal"><b>
                        <font size="4">Thực đơn
                            mẫu</font></b></p>
                    <p class="MsoNormal"><b>
                        <font size="4">1.</font></b><font size="4">&nbsp;</font><i><font size="4">6h30:
                        Một bát phở thịt gà ăn cùng với rau xanh</font></i></p>
                    <p class="MsoNormal">
                        <font size="4">Nguyên
                            liệu chế biến: 200g bánh phở; 70g thịt gà, hành, chanh; 100g
                            giá đỗ + 1 quả dưa chuột</font></p>
                    <p class="MsoNormal"><i>
                        <font size="4">9h:
                            Một cốc sữa ensure 200ml</font></i></p>
                    <p class="MsoNormal"><i>
                        <font size="4">11h30:
                            2 bát cơm tẻ; 1 điữa thịt lợn nạc kho; 1 đĩa rau muống luộc;
                            canh tôm nấu bí.</font></i></p>
                    <p class="MsoNormal">
                        <font size="4">Nguyên
                            liệu chế biến: 120g gạo tẻ, 50g thịt lợn nạc; 40g tôm; 100g
                            rau muống; 200g bí xanh; hành, gia vị vừa đủ</font></p>
                    <p class="MsoNormal"><i>
                        <font size="4">14h30:
                            một cốc nước cam 200ml</font></i></p>
                    <p class="MsoNormal">
                        <font size="4">Nguyên
                            liệu: 1 quả cam 200gr; 1 thìa cà phê đường glucose 5g</font></p>
                    <p class="MsoNormal"><i>
                        <font size="4">17h: 2
                            bát cơm tẻ; 1 khoanh cá thu sốt cà chua; 1 đĩa nhỏ đậu luộc;
                            một đĩa nhỏ su su xào; canh rau ngót tép nhỏ.</font></i></p>
                    <p class="MsoNormal">
                        <font size="4">Nguyên
                            liệu: 120g gạo tẻ; 80g cá thu; 1 bìa đậu; 1,5 quả su su;
                            100g rau ngót; 30g tép nhỏ; 1 thìa dầu, gia vị vừa đủ.</font></p>
                    <p class="MsoNormal"><i>
                        <font size="4">21h:
                            Một cốc nước ép cà rốt 200ml</font></i></p>
                    <p class="MsoNormal">
                        <font size="4">Nguyên
                            liệu: 2 của cà rốt khoảng 200g; 2 thìa cà phê đường glucose.</font></p>
                    <p class="MsoNormal"><b><i>
                        <font size="4">2.</font></i></b><i><font size="4">&nbsp;6h30:
                        2 bát nhỏ súp thịt chim</font></i></p>
                    <p class="MsoNormal">
                        <font size="4">Nguyên
                            liệu: 70g gạo tẻ; 50g thịt chim (gia cầm); 150g khoai tây;
                            50g súp hoa lơ; hành, rau mùi, gia vị vừa đủ</font></p>
                    <p class="MsoNormal"><i>
                        <font size="4">9h:
                            Một cốc sinh tố đu đủ 200ml.</font></i></p>
                    <p class="MsoNormal">
                        <font size="4">Nguyên
                            liệu: 1 miếng đu đủ 150g; 1 thìa cà phê sữa, 1 thìa đường
                            glucose</font></p>
                    <p class="MsoNormal"><i>
                        <font size="4">11h30:
                            2 bát cơm tẻ; cá nước ngọt hấp một khoanh (cá trắm, cá chép,
                            cá trôi…); 1 đĩa hoa lơ xào; 1 bát canh chua (hến, ngao,
                            trai…)</font></i></p>
                    <p class="MsoNormal">
                        <font size="4">Nguyên
                            liệu: 120g bạo tẻ, 80g cá; 150g súp lơ; ngao; 100g cà chua;
                            dầu thực vật 2 thìa, các loại rau thơm, gia vị vừa đủ.</font></p>
                    <p class="MsoNormal"><i>
                        <font size="4">14h30:
                            Một cốc nước sinh tố ổi 200ml.</font></i></p>
                    <p class="MsoNormal">
                        <font size="4">Nguyên
                            liệu: 2 trái ổi 150g; 1 thìa đường glucose</font></p>
                    <p class="MsoNormal"><i>
                        <font size="4">17h30:
                            2 bát cơm tẻ; 1 quả trứng gà luộc; 1 đĩa rau hoa thiên lý
                            xào thịt; 1 bát canh khoai tây, su hào sườn.</font></i></p>
                    <p class="MsoNormal">
                        <font size="4">Nguyên
                            liệu: 120g gạo tẻ, trứng gà ta 1 quả; 150g hoa thiên lý;
                            100g khoai tây su hào; 100g sườn thăn; 1 thìa cà phê dầu
                            thực vật; hành gia vị vừa đủ.</font></p>
                    <p class="MsoNormal"><i>
                        <font size="4">21h:
                            Một cốc sữa chua</font></i></p>
                    <p class="MsoNormal"><b><i>
                        <font size="4">3.</font></i></b><i><font size="4">&nbsp;6h30:
                        Một bát xôi gấc; một đĩa thịt chim (gà, bồ câu, chim cút…);
                        2 quả dưa chuột</font></i></p>
                    <p class="MsoNormal">
                        <font size="4">Nguyên
                            liệu: 80g gạo nếp; 80g thịt chim; 150g dưa chuột</font></p>
                    <p class="MsoNormal"><i>
                        <font size="4">9h: 1
                            cốc sinh tố bơ 200ml</font></i></p>
                    <p class="MsoNormal">
                        <font size="4">Nguyên
                            liệu: 200g quả bơ; 2 thìa cà phê sữa đặc</font></p>
                    <p class="MsoNormal"><i>
                        <font size="4">11h: 2
                            bát cơm tẻ; 1 đĩa tôm hấp; 1 đĩa nấm xào thịt bò; 1 bát canh
                            cải</font></i></p>
                    <p class="MsoNormal">
                        <font size="4">Nguyên
                            liệu: 120g gạo tẻ; 50g tôm biển; 50g thịt bò; 150g nấm ăn;
                            100g rau cải; 2 thìa cà phê dầu ăn.</font></p>
                    <p class="MsoNormal"><i>
                        <font size="4">14h30:
                            2 bát súp lươn nhỏ</font></i></p>
                    <p class="MsoNormal">
                        <font size="4">Nguyên
                            liệu: 60g gạo tẻ, 100g lươn; rau mùi, hành, gia vị vừa đủ</font></p>
                    <p class="MsoNormal"><i>
                        <font size="4">17h30:
                            2 bát cơ tẻ; 1 đĩa quả đậu xào thịt lợn nạc; 1 đĩa rau lang
                            luộc; 1 bát canh hoa lơ, su hòa, sườn</font></i></p>
                    <p class="MsoNormal">
                        <font size="4">Nguyên
                            liệu: 120g gạo tẻ, 50g thịt lợn nạc, 80g sườn non; 100g quả
                            đậu; 150g súp lơ, su hào</font></p>
                    <p class="MsoNormal"><i>
                        <font size="4">21h: 1
                            cốc sữa tách bơ 200ml.</font></i></p></td>
            </tr>
            </tbody></table>
</div>


</font></h3>