﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <h1 style="text-align: center"><font size="5">Chế độ ăn uống cho bệnh ung thư thực quản</font></h1>

    <p class="MsoNormal"><span style="font-family: Times New Roman">
		<a href="Ung%20thư%20thực%20quản">
            <img border="0" src="http://www.thaythuoccuaban.com/images/ung-thu-thuc-quan.jpg" width="300" height="300" lowsrc="Ung%20thư%20thực%20quản" longdesc="Ung thư thực quản" alt="Ung thư thực quản" align="left"></a>1. Chọn
		các thức ăn làm thuốc: Đại trường lợn 1 bộ, trước hết dùng nước muối rửa
		thật sạch, dùng dây buộc đầu ruột lại bỏ vào trong nồi đun chín, lấy ra
		cắt từng đoạn, cho hương liệu, tương thanh hoàng, gừng thái nhỏ, hành,
		muối đem gói kín lịa rồi đem rang thành món ăn. Mỗi bữa ăn lấy ra ăn với
		cơm như một món ăn trong bữa cơm. Nên ăn no lửng là được, sau khi ăn,
		uống nước tra, liên tục ăn 3-4 tễ.</span></p>
    <p class="MsoNormal"><span style="font-family: Times New Roman">2. Bột
		nhau thai: Nhau thai mèo 1 cái, đem rửa sạch rồi rang khô, xong nghiền
		thành bột mịn, mỗi buổi sáng và buổi tối uống 6-10g, hoà với rượu để
		uống. Loại bột thức ăn dùng làm thuốc này có tác dụng chống ung thư, hoà
		vị và giảm đau.</span></p>
    <p class="MsoNormal"><span style="font-family: Times New Roman">3. Nga
		huyết ẩm: Tiết ngỗng tươi 5-10ml, dùng ông tiêm hút máu ở dưới cánh của
		ngỗng, ngay đang lúc còn nóng, uống từ từ, máu này có tác dụng hoà vị
		giáng nghịch, giải độc, là phương thuốc tốt để chữa trị ung thư thực
		quản.</span></p>
    <p class="MsoNormal"><span style="font-family: Times New Roman">4. Cá
		diếc tỏi: Cá diếc còn sống 1 con tỏi lượng vừa đủ. Cá rửa mổ bỏ ruột, để
		cả vẩy. Tỏi thái thành miếng nhỏ, nhét vào bụng cá, gói giấy trắng sạch,
		bên ngoài bao bằng đất thật kín, đem phơi khô, rồi đốt thành tồn tính
		thành than, lấy ra nghiền thành bột mịn, mỗi lần 3g, ngày uống 2-3 lần,
		có thể cho vào cháo ăn. Loại thức ăn làm thuốc này giải độc, tiêu thũng,
		bổ hư, thích dụng với ung thư thực quản thời kỳ đầu.</span></p>
    <p class="MsoNormal"><span style="font-family: Times New Roman">5. Viên
		bình tức hoàn: Dùng 1 con cá diếc bỏ ruột và để lại vẩy, thái nhỏ tỏi
		thành từng lát một, nhét vào bụng cá, lấy giấy sạch cho vào nước rồi gói
		lại, ở ngoài bọc bằng đất sét, bỏ vào nung thật chín, bỏ vẩy và xương đi,
		cho bột bình vị tán vào trộn đều làm thành viên to như hạt ngô đồng, mỗi
		lần 30-35 viên, ăn vào lúc đói với nước cháo.</span></p>
    <p class="MsoNormal"><span style="font-family: Times New Roman">6. Rau
		hẹ rửa sạch vắt lấy nước.Trứng gà chưng lên 2 quả, mỗi ngày chia 2 lần
		nuốt dần, thường xuyên ăn như vậy.</span></p>
    <p class="MsoNormal"><span style="font-family: Times New Roman">7. Mứt
		quả hồng: nhai nhỏ xong ngậm cho tan ở miệng rồi nuốt nước của nó dần,
		thường xuyên ăn như vậy.</span></p>
    <p class="MsoNormal"><span style="font-family: Times New Roman">8. Ô mai,
		bán chi liên mỗi thư 100g, Bán chi liên cho thêm 1000ml nước sắc còn
		750ml, lọc bỏ bã lấy nước cho ô mai&nbsp; vào trong 1500ml ngâm trong 24 giờ
		rồi đun sôi nửa giờ sau bỏ bã, cô nước đặc nước còn 50ml. Rót nước này
		pha lẫn vào nước bán liên chi đã sắc là thành thuốc. Mỗi lần nhấp uống
		5ml, mỗi ngày uống 3 lần.</span></p>
    <p class="MsoNormal"><span style="font-family: Times New Roman">9. Băng
		sa 4,5g, thanh đại 3g, trầm hương 4,5g, đem nghiền tất cả các vị thuốc
		trên thành bột mịn. Lấy 500g củ cải, 250g gừng tươi, đem giã nát lấy
		nước, nước mã thầy 500g, đem trộn đều. Mỗi ngày uống 3 lần, mỗi lần 3
		thìa canh cho thêm 0,2g bột thuốc vào hoà lẫn để uống.</span></p>
    <p class="MsoNormal"><span style="font-family: Times New Roman">10. Bạch
		phê 2mg, Sơn dược 98g, hoà với nước làm thành viên như hạt đậu xanh, mỗi
		lần uống 4 viên, ngày uống 3 lần.</span></p>
    <p class="MsoNormal"><span style="font-family: Times New Roman">11. Cành
		cây hạnh đào hoặc lá cây hạnh đào, quả hạch đào xanh đều được, đem nấu
		với trứng gà, thường xuyên ăn.</span></p>
    <p class="MsoNormal"><span style="font-family: Times New Roman">12. Chim
		sẻ 1 con, bỏ lông và ruột ở trong đi, đem ngư sắt 30g bỏ vào trong một
		cái bọc rỗng giữa, bao đất sét bên ngoài cho kín, đốt cháy tồn tính, lấy
		ra nghiền thành bột, chia ba làn uống với chút rượu.</span></p>
    <p class="MsoNormal"><span style="font-family: Times New Roman">13. Uy
		linh tiên, mật ong trắng mỗ thứ 30g, sắc lấy nước uống ngày 1 thang,
		chia ra 2 lần uống vào sáng và tối, uống liên tục trong 1 tuần.</span></p>
		<span style="font-size: 12.0pt; font-family: Times New Roman">14. Ngũ
		trẩm ẩm: Nước lê, nước ngó sen, nước mía, nước rau hẹ, nước sữa, không
		câu nệ về lượng của các loại nước đó, hoà lần vào lẫn với nhau để uống.</span>



</font></h3>