﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <h1 style="text-align: center"><font size="5">Chế độ ăn uống kiêng kị
        cho bệnh u xơ tuyến
        vú</font></h1>

<p class="MsoNormal" style="text-align:justify"><font color="#000000" size="3"><b><i>
    <img border="0" src="http://www.thaythuoccuaban.com/images/sup-lo-tot-cho-benh-u-xo-vu.jpg" width="240" height="180" align="left"></i></b></font><b><i><font color="#000000" size="4">U xơ vú còn được
    gọi là chứng loạn sản tuyến vú. Nguyên nhân gây bệnh là do sự thay đổi
    trong kích thích tố trong chu kì kinh nguyệt. Mặc dù là lành tính nhưng
    nó có khả năng phát triển thành ác tính, vì thế cần có chế độ ăn uống
    hợp lý, và kiểm tra định kì 3 tháng, 6 tháng, 1 năm/1 lần căn cứ theo
    chỉ định của thầy thuốc.
</font>
</i></b>
    <font color="#000000" size="4">
    </font></p><font color="#000000" size="4">
    <p class="MsoNormal" style="text-align:justify">Dưới đây là chế độ ăn
        uống dành cho bệnh nhân u xơ vú.</p>
    <p class="MsoNormal" style="text-align:justify"><b>Những thực phẩm nên
        tránh:</b></p>
</font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; margin-left: 36.0pt"><font color="#000000" size="4">
</font>
		<span style="font-family: Symbol">
				<font color="#000000" size="4">
                    -</font><font color="#000000" size="4"><span style="font-style:normal; font-variant:normal; font-weight:normal; font-family:Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></font></span><font color="#000000" size="3"><font color="#000000" size="4">Hạn chế tối đa việc dùng mỡ động vật, nội tạng động vật,
        dầu ngô, dầu dừa, dầu hướng dương, bơ động vật và thực vật.</font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
</font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; margin-left: 36.0pt"><font color="#000000" size="4">
</font>
		<span style="font-family: Symbol">
				<font color="#000000" size="4">
                    -</font><font color="#000000" size="4"><span style="font-style:normal; font-variant:normal; font-weight:normal; font-family:Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span>
        </font>
		</span>
    <font color="#000000" size="3">
        <font color="#000000" size="4">
            Hạn chế ăn thịt, nhất là thịt đỏ (thịt trâu, bò, ngựa…),
            các loại thực phẩm chứa hàm lượng đạm cao như trứng vịt lộn.</font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
</font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; margin-left: 36.0pt"><font color="#000000" size="4">
</font>
		<span style="font-family: Symbol">
				<font color="#000000" size="4">
                    -</font><font color="#000000" size="4"><span style="font-style:normal; font-variant:normal; font-weight:normal; font-family:Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span>
        </font>
		</span>
    <font color="#000000" size="3">
        <font color="#000000" size="4">
            Không nên ăn mặn vì có thể làm tăng nồng độ cholesterol
            trong máu ảnh hưởng tới u xơ.</font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
</font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; margin-left: 36.0pt"><font color="#000000" size="4">
</font>
		<span style="font-family: Symbol">
				<font color="#000000" size="4">
                    -</font><font color="#000000" size="4"><span style="font-style:normal; font-variant:normal; font-weight:normal; font-family:Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span>
        </font>
		</span>
    <font color="#000000" size="3">
        <font color="#000000" size="4">
            Hạn chế các loại thịt gia cầm, gia súc, các loại thực phẩm
            biến đổi gen vì những loại thực phẩm này có thể chứa những hocmon tăng
            trưởng trong quá trình nuôi, trồng có thể làm tăng kích thước của u xơ.</font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
</font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; margin-left: 36.0pt"><font color="#000000" size="4">
</font>
		<span style="font-family: Symbol">
				<font color="#000000" size="4">
                    -</font><font color="#000000" size="4"><span style="font-style:normal; font-variant:normal; font-weight:normal; font-family:Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span>
        </font>
		</span>
    <font color="#000000" size="3">
        <font color="#000000" size="4">
            Hạn chế sử dụng các loại thực phẩm được chế biến sẵn, đồ
            hộp, những thực phẩm được chế biến theo hình thức: nướng, chiên, xào có
            sử dụng nhiều dầu mỡ vì hình thức chế biến này dễ sản sinh ra các chất
            gây ung thư.</font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
</font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; margin-left: 36.0pt"><font color="#000000" size="4">
</font>
		<span style="font-family: Symbol">
				<font color="#000000" size="4">
                    -</font><font color="#000000" size="4"><span style="font-style:normal; font-variant:normal; font-weight:normal; font-family:Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span>
        </font>
		</span>
    <font color="#000000" size="3">
        <font color="#000000" size="4">
            Không nên ăn các món ăn được chế biến theo hình thức lên
            men như: dưa chua, cà muối,…</font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
</font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; margin-left: 36.0pt"><font color="#000000" size="4">
</font>
		<span style="font-family: Symbol">
				<font color="#000000" size="4">
                    -</font><font color="#000000" size="4"><span style="font-style:normal; font-variant:normal; font-weight:normal; font-family:Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span>
        </font>
		</span>
    <font color="#000000" size="3">
        <font color="#000000" size="4">
            Hạn chế sử dụng rượu, bia, thuốc lá, đồ uống có còn, có ga.</font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
    <p class="MsoNormal" style="text-align:justify"><b>Những thực phẩm nên
        ăn:</b></p>
</font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; margin-left: 36.0pt"><font color="#000000" size="4">
</font>
		<span style="font-family: Symbol">
				<font color="#000000" size="4">
                    -</font><font color="#000000" size="4"><span style="font-style:normal; font-variant:normal; font-weight:normal; font-family:Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span>
        </font>
		</span>
    <font color="#000000" size="3">
        <font color="#000000" size="4">
            Bệnh nhân có u xơ vú nên ăn nhiều rau xanh và hoa quả tươi.
            Đây là nguồn cung cấp vitamin C, E và caroten (tiền chất của vitamin A)
            có tác dụng chống ôxy hoá, giúp phòng chống ung thư. Rau quả và các loại
            ngũ cốc còn là nguồn cung cấp chất xơ quan trọng. Chất xơ trợ giúp quá
            trình tiêu hoá, làm tăng nhu động ruột. Nó còn giúp hấp thụ những chất
            độc có trong ruột để đào thải theo phân, do đó làm giảm nồng độ các chất
            độc có trong cơ thể. Các loại rau nên ăn nhiều: súp lơ, rau cải, các
            loại rau có màu xanh đậm,...</font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
</font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; margin-left: 36.0pt"><font color="#000000" size="4">
</font>
		<span style="font-family: Symbol">
				<font color="#000000" size="4">
                    -</font><font color="#000000" size="4"><span style="font-style:normal; font-variant:normal; font-weight:normal; font-family:Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span>
        </font>
		</span>
    <font color="#000000" size="3">
        <font color="#000000" size="4">
            Nên ăn các loại ngũ cốc nguyên hạt như: gạo, lúa mạch, ngô,
            khoai sắn, các loại đậu, đặc biệt là đậu nành</font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
</font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; margin-left: 36.0pt"><font color="#000000" size="4">
</font>
		<span style="font-family: Symbol">
				<font color="#000000" size="4">
                    -</font><font color="#000000" size="4"><span style="font-style:normal; font-variant:normal; font-weight:normal; font-family:Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span>
        </font>
		</span>
    <font color="#000000" size="3">
        <font color="#000000" size="4">
            Nên uống nhiều nước: nước giúp thanh lọc cơ thể, đào thải
            những chất độc hại ra khỏi cơ thể.</font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
</font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; margin-left: 36.0pt"><font color="#000000" size="4">
</font>
		<span style="font-family: Symbol">
				<font color="#000000" size="4">
                    -</font><font color="#000000" size="4"><span style="font-style:normal; font-variant:normal; font-weight:normal; font-family:Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span>
        </font>
		</span>
    <font color="#000000" size="3">
        <font color="#000000" size="4">
            Nên uống các loại sữa đã được tách kem, tách bơ.ư</font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
</font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; margin-left: 36.0pt"><font color="#000000" size="4">
</font>
		<span style="font-family: Symbol">
				<font color="#000000" size="4">
                    -</font><font color="#000000" size="4"><span style="font-style:normal; font-variant:normal; font-weight:normal; font-family:Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span>
        </font>
		</span>
    <font color="#000000" size="3">
        <font color="#000000" size="4">
            Nên ăn nhiều sữa chua.</font></font></p><font color="#000000" size="3"><font color="#000000" size="4">


</font></h3>