﻿<div id="noidung">

    <h1 style="text-align: center"><font size="5">Chế độ ăn bệnh u xơ cổ tử
        cung</font></h1>
    <font color="#000000" size="3">
    </font><p class="MsoNormal" style="text-align: justify; line-height: 150%"><font color="#000000" size="3">
		<span style="font-size: 13.0pt; line-height: 150%; font-style: italic; font-weight: 700; background: white">
		<a href="U%20xơ%20cổ%20tử%20cung">
            <img border="0" src="http://www.thaythuoccuaban.com/images/u-xo-tu-cung.jpg" width="300" height="300" lowsrc="U%20xơ%20cổ%20tử%20cung" longdesc="U xơ cổ tử cung" alt="U xơ cổ tử cung" align="left"></a></span></font><font color="#000000" size="4"><span style="line-height: 150%; font-style: italic; font-weight: 700; background: white">U xơ cổ tử cung là một loại u lành tính thường gặp, thường liên quan đến
		sự rối loạn chức năng buồng trứng, sự xuất tiết quá nhiều nội tiết tố nữ.
		Chính vì thế mà chế độ ăn uống với u xơ cổ tử cung có ảnh hưởng rất lớn
		tới tình trạng bệnh. Một số thực phẩm chúng ta ăn có thể khiến gia tăng
		kích thước khối u và ngược lại một số có tác dụng hạn chế hoặc ổn định
		sự phát triển của khối u.</span></font></p><font color="#000000" size="4">
</font>
    <font color="#000000" size="3">
        <font color="#000000" size="4">
            <p class="MsoNormal" style="text-align: justify; line-height: 150%">
		<span style="line-height: 150%; background: white">
		Dưới đây là một số lời khuyên về ăn uống cho bệnh nhân u xơ cổ tử cung.</span></p>
            <p class="MsoNormal" style="text-align: justify; line-height: 150%"><b>
		<span style="line-height: 150%; background: white">
		Những thực phẩm nên tránh:</span></b></p>
        </font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt"><font color="#000000" size="4">
		<span style="line-height: 150%; font-family: Symbol">
		-</span></font><font color="#000000" size="3"><span style="line-height: 150%; font-family: Symbol"><font color="#000000" size="4"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span>
    </font>
		</span>
        <font color="#000000" size="4">
		<span style="line-height: 150%; background: white">
		Thịt màu đỏ: Không nên ăn các loại thịt từ động vật có vú, thịt có màu
		đỏ như: thịt bò, lợn và thịt vịt,… Những loại thịt này làm kích thích tố
		bao gồm cả estrogen có thể ảnh hưởng trực tiếp tới khối u.</span></font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
    </font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt"><font color="#000000" size="4">
		<span style="line-height: 150%; font-family: Symbol; border: 1.0pt none windowtext; padding: 0cm">
		-</span></font><font color="#000000" size="3"><span style="line-height: 150%; font-family: Symbol; border: 1.0pt none windowtext; padding: 0cm"><font color="#000000" size="4"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span>
    </font>
		</span>
        <font color="#000000" size="4">
		<span style="line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Sản phẩm sữa có hàm lượng chất béo cao:<b> </b>Hạn chế tiêu thụ các sản
		phẩm sữa có hàm lượng chất béo cao như kem, sữa và bơ toàn bộ. Những sản
		phẩm này thường chứa hàm lượng kích thích tố cao, có thể nuôi dưỡng khối
		u phát triển hơn.</span></font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
    </font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt"><font color="#000000" size="4">
		<span style="line-height: 150%; font-family: Symbol; border: 1.0pt none windowtext; padding: 0cm">
		-</span></font><font color="#000000" size="3"><span style="line-height: 150%; font-family: Symbol; border: 1.0pt none windowtext; padding: 0cm"><font color="#000000" size="4"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span>
    </font>
		</span>
        <font color="#000000" size="4">
		<span style="line-height: 150%; background: white">
		Cafein: Chất này khi được đưa vào cơ thể của những người mắc u xơ cổ tử
		cung có thể khiến cho các hoạt chất hóa sinh trong cơ thể tăng lên và có
		thể là nguyên nhân hình thành các khối u. </span>
		<span style="line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Tránh xa caffein nước ngọt, sô cô la, trà và cà phê là lựa chọn tốt nhất
		cho bệnh nhân u xơ cổ tử cung.</span></font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
    </font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt"><font color="#000000" size="4">
		<span style="line-height: 150%; font-family: Symbol; border: 1.0pt none windowtext; padding: 0cm">
		-</span></font><font color="#000000" size="3"><span style="line-height: 150%; font-family: Symbol; border: 1.0pt none windowtext; padding: 0cm"><font color="#000000" size="4"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span>
    </font>
		</span>
        <font color="#000000" size="4">
		<span style="line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Thực phẩm có hàm lượng muối cao<b> </b>không được khuyến khích cho những
		người u xơ cổ tử cung, bởi khi hàm lượng muối nhiều đưa vào cơ thể gan
		sẽ không lọc bỏ được hết độc tố gây hiện tượng mất cân bằng nội tiết tố
		nữ. Vì vậy không nên ăn các loại đậu nướng, bánh quy, khoai tây chiên,
		dưa chua, dầu oliu, súp đóng hộp,…<b> </b></span></font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
    </font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt"><font color="#000000" size="4">
		<span style="line-height: 150%; font-family: Symbol; border: 1.0pt none windowtext; padding: 0cm">
		-</span></font><font color="#000000" size="3"><span style="line-height: 150%; font-family: Symbol; border: 1.0pt none windowtext; padding: 0cm"><font color="#000000" size="4"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span>
    </font>
		</span>
        <font color="#000000" size="4">
		<span style="line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Không nên một số loại trái cây như: </span>
		<span style="line-height: 150%">táo, anh đào, lê, mận,
		cà chua vì những loại này làm gia tăng mức estrogen.</span></font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
    </font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt"><font color="#000000" size="4">
		<span style="line-height: 150%; font-family: Symbol; border: 1.0pt none windowtext; padding: 0cm">
		-</span></font><font color="#000000" size="3"><span style="line-height: 150%; font-family: Symbol; border: 1.0pt none windowtext; padding: 0cm"><font color="#000000" size="4"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span>
    </font>
		</span>
        <font color="#000000" size="4">
		<span style="line-height: 150%">Cần hạn
		chế những loại rau làm tăng mức estrogen trong cơ thể như: Cần tây, Mần
		cỏ linh lăng, Củ cải, Bông cải xanh, Súp lơ, Cà rốt, Dưa chuột, Nấm…</span></font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
        <p class="MsoNormal" style="text-align: justify; line-height: 150%"><b>
		<span style="line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Những thực phẩm nên ăn khi bị u xơ cổ tử cung.</span></b></p>
    </font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt"><font color="#000000" size="4">
		<span style="line-height: 150%; font-family: Symbol">
		-</span></font><font color="#000000" size="3"><span style="line-height: 150%; font-family: Symbol"><font color="#000000" size="4"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></font></span><font color="#000000" size="4"><span style="line-height: 150%">Nên ăn
		nhiều trái cây tươi đặc biệt là các loại trái cây có chứa vitamin C như:
		cam, chanh, bưởi, ổi,… Nên ăn nhiều các loại trái cây có màu cam và màu
		sắc rực rỡ vì nó là họ của beta -carotene khi được cơ thể tiêu hóa sẽ
		biến thành vitamin A. Vitamin A có tác dụng thúc đẩy các mô lành mạnh,
		sửa chữa mô thích hợp, có tác dụng làm thu lại các mô bị bệnh. Đây là
		loại vitamin cần thiết cho cơ thể để chung sống với bệnh u xơ cổ tử cung.</span></font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
    </font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt"><font color="#000000" size="4">
		<span style="line-height: 150%; font-family: Symbol">
		-</span></font><font color="#000000" size="3"><span style="line-height: 150%; font-family: Symbol"><font color="#000000" size="4"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span>
    </font>
		</span>
        <font color="#000000" size="4">
		<span style="line-height: 150%">Nên ăn
		nhiều các loại rau, củ sống ở dưới biển như: rong biển, rau câu,…bởi
		những loại rau này có chứa hàm lượng dinh dưỡng cao, có tác dụng chống
		lại u xơ cổ tử cung. </span></font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
    </font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt"><font color="#000000" size="4">
		<span style="line-height: 150%; font-family: Symbol">
		-</span></font><font color="#000000" size="3"><span style="line-height: 150%; font-family: Symbol"><font color="#000000" size="4"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span>
    </font>
		</span>
        <font color="#000000" size="4">
		<span style="line-height: 150%">Nên ăn
		những loại thực phẩm có mức độ estrogen cân bằng, giàu bioflavonoid tốt
		cho người u xơ tử cung như: đậu nành, sữa đậu nành, đậu hũ, đậu đen, đậu
		lăng.</span></font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
    </font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt"><font color="#000000" size="4">
		<span style="line-height: 150%; font-family: Symbol">
		-</span></font><font color="#000000" size="3"><span style="line-height: 150%; font-family: Symbol"><font color="#000000" size="4"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span>
    </font>
		</span>
        <font color="#000000" size="4">
		<span style="line-height: 150%">Nên ăn
		những loại thịt có màu trắng, thịt từ gia cầm, các loại cá,...</span></font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
</font></font></font></font></font></font></font></font></font></font></font>



    </font></div>