﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
<font color="#000000" size="5">
    <p class="MsoNormal" align="center" style="text-align: center">
			<span class="apple-converted-space"><b>
			<span style="color: #333333; border: 1.0pt none windowtext; padding: 0cm; background: #FBFBF3">
			Chế độ ăn uống cho bệnh u xơ thần kinh</span></b></span></p>
</font><font color="#333333" size="4">
</font><p class="MsoNormal" align="center" style="text-align: center; margin-top:0; margin-bottom:0"><font color="#333333" size="4">

<span style="font-family: Times New Roman; font-size:14pt">
</span></font>
    <p style="text-align: justify; margin-top: 0cm; background: #F8F8F8 url('')">
        <font size="4">U xơ thần kinh là bệnh thuộc dạng di truyền, biểu hiện bằng nhiều u
            dạng sợi mềm mọc ra từ dây thần kinh cùng nhiều đốm màu nâu nhạt
            xuất hiện trên da thân người và vùng chậu. Các u sợi thần kinh này
            có thể xuất hiện bất kỳ chỗ nào trên khắp thân mình, lớn khoảng vài
            cm nhưng đôi khi rất nhỏ đến nỗi mắt thường khó nhìn thấy. U xơ thần
            kinh dù là các u lành tính nhưng do vị trí mọc nên gây chèn ép vào
            dây thần kinh có thể gây hiện tượng đau đầu, chóng mặt, buồn nôn.</font></p>
    <p style="text-align: justify; margin-top: 0cm; background: #F8F8F8 url('')">
        <font size="4">Dưới đây là một số lời khuyên về chế độ ăn uống dành cho bệnh nhân u
            xơ thần kinh</font></p>
    <p style="text-align: justify; margin-top: 0cm; background: #F8F8F8 url('')">
        <font size="4">Những thực phẩm nên tránh:</font></p>
    <p style="text-align: justify; margin-top: 0cm; background: #F8F8F8 url('')">
        <font size="4">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hạn chế tối đa việc dùng mỡ động vật, nội tạng động vật, dầu
            ngô, dầu dừa, dầu hướng dương, bơ động vật và thực vật.</font></p>
    <p style="text-align: justify; margin-top: 0cm; background: #F8F8F8 url('')">
        <font size="4">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hạn chế ăn thịt, nhất là thịt đỏ (thịt trâu, bò, ngựa…), các
            loại thực phẩm chứa hàm lượng đạm cao như trứng vịt lộn.</font></p>
    <p style="text-align: justify; margin-top: 0cm; background: #F8F8F8 url('')">
        <font size="4">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Không nên ăn mặn vì có thể làm tăng nồng độ cholesterol
            trong máu ảnh hưởng tới u xơ.</font></p>
    <p style="text-align: justify; margin-top: 0cm; background: #F8F8F8 url('')">
        <font size="4">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hạn chế các loại thịt gia cầm, gia súc, các loại thực phẩm
            biến đổi gen vì những loại thực phẩm này có thể chứa những hocmon
            tăng trưởng trong quá trình nuôi, trồng có thể làm tăng kích thước
            của u xơ.</font></p>
    <p style="text-align: justify; margin-top: 0cm; background: #F8F8F8 url('')">
        <font size="4">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hạn chế sử dụng các loại thực phẩm được chế biến sẵn, đồ hộp,
            những thực phẩm được chế biến theo hình thức: nướng, chiên, xào có
            sử dụng nhiều dầu mỡ vì hình thức chế biến này dễ sản sinh ra các
            chất gây ung thư.</font></p>
    <p style="text-align: justify; margin-top: 0cm; background: #F8F8F8 url('')">
        <font size="4">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Không nên ăn các món ăn được chế biến theo hình thức lên men
            như: dưa chua, cà muối,…</font></p>
    <p style="text-align: justify; margin-top: 0cm; background: #F8F8F8 url('')">
        <font size="4">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hạn chế sử dụng rượu, bia, thuốc lá, đồ uống có còn, có ga.</font></p>
    <p style="text-align: justify; margin-top: 0cm; background: #F8F8F8 url('')">
        <font size="4">Những thực phẩm nên ăn:</font></p>
    <p style="text-align: justify; margin-top: 0cm; background: #F8F8F8 url('')">
        <font size="4">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bệnh nhân có u xơ thần kinh nên ăn nhiều rau xanh và hoa quả
            tươi. Đây là nguồn cung cấp vitamin C, E và caroten (tiền chất của
            vitamin A) có tác dụng chống ôxy hoá, giúp phòng chống ung thư. Rau
            quả và các loại ngũ cốc còn là nguồn cung cấp chất xơ quan trọng.
            Chất xơ trợ giúp quá trình tiêu hoá, làm tăng nhu động ruột. Nó còn
            giúp hấp thụ những chất độc có trong ruột để đào thải theo phân, do
            đó làm giảm nồng độ các chất độc có trong cơ thể. Các loại rau nên
            ăn nhiều: súp lơ, rau cải, các loại rau có màu xanh đậm,...</font></p>
    <p style="text-align: justify; margin-top: 0cm; background: #F8F8F8 url('')">
        <font size="4">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nên ăn các loại ngũ cốc nguyên hạt như: gạo, lúa mạch, ngô,
            khoai sắn, các loại đậu, đặc biệt là đậu nành</font></p>
    <p style="text-align: justify; margin-top: 0cm; background: #F8F8F8 url('')">
        <font size="4">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nên uống nhiều nước: nước giúp thanh lọc cơ thể, đào thải
            những chất độc hại ra khỏi cơ thể.</font></p>
    <p style="text-align: justify; margin-top: 0cm; background: #F8F8F8 url('')">
        <font size="4">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nên uống các loại sữa đã được tách kem, tách bơ</font></p>
    <p style="text-align: justify; margin-top: 0cm; background: #F8F8F8 url('')">
        <font size="4">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nên ăn nhiều sữa chua.</font></p>




    </font></h3>