﻿<div id="noidung">
    <h1 style="text-align: center"><font size="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chế độ ăn bệnh đau lưng</font></h1>
 <font color="#000000" size="3">
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
		<span style="font-size: 13.0pt; line-height: 150%">
		<img border="0" src="http://www.thaythuoccuaban.com/images/can-ca-giam-dau-lung.jpg" width="304" height="190" align="left" lowsrc="Đau%20lưng%20nên%20ăn%20nhiều%20cá" longdesc="Đau lưng nên ăn nhiều cá" alt="Đau lưng nên ăn nhiều cá"></span><span style="font-size:13.0pt;line-height:150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-size:13.0pt;line-height:150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-size:13.0pt;line-height:150%">
		Khi bạn gặp phải những cơn đau lưng thì việc thay đổi chế độ ăn uống có
		thể giúp bạn giảm những cơn đau. Một số thực phẩm có đặc tính tự nhiên
		chống đau và chống viêm có thể giúp giảm các triệu chứng đau lưng của
		bạn nếu bạn thêm chúng vào chế độ ăn uống hàng ngày. Tuy nhiên khi bạn
		đang dùng thuốc đau lưng, nếu muốn thay đổi chế độ ăn thì cần phải tham
		khảo ý kiến của thầy thuốc.</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
		<span style="font-size:13.0pt;line-height:150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Các chuyên
		gia về dinh dưỡng đưa ra lời khuyên cho bệnh nhân đau lưng như sau:</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:.5in;line-height:150%">
        <b><span style="font-size:13.0pt;line-height:
150%">Ăn nhiều cá:</span></b><span style="font-size:13.0pt;line-height:150%"> cá
		có chứa hàm lượng cao các axit béo omega-3, có thể giúp giảm viêm. Đau
		lưng là một hình thức viêm nội bộ, thêm cá trong chế độ ăn uống của bạn
		có thể giúp giảm mức độ đau đớn do những cơn đau lưng gây nên. Mỗi tuần
		nên ăn ít nhất từ 2 đến 4 bữa cá như cá bơn, cá hồi, cá thu hoặc cá ngừ
		ánh sáng để giữ cho omega-3 cung cấp cho cơ thể luôn ở mức độ cao.
		Omega-3 ở mức độ cao giúp giảm đáng kể tình trạng viêm gây ra cơn đau
		lưng. Nếu bạn không thể ăn nhiều cá thì cần bổ sung omega-3 từ các loại
		dầu cá. Tuy nhiên bổ sung dầu cá cần phải tham khảo ý kiến của thầy
		thuốc.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:.5in;line-height:150%">
        <b><span style="font-size:13.0pt;line-height:
150%">Vitamin B1</span></b><span style="font-size:13.0pt;line-height:150%">: ăn
		nhiều các loại thực phẩm chứa vitamin B1 như các loại sữa, gạo, có thể
		rút ngắn thời gian đau lưng từ tổn thương thần kinh .</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:.5in;line-height:150%">
        <b><span style="font-size:13.0pt;line-height:
150%">Trái cây và Rau quả</span></b><span style="font-size:13.0pt;line-height:
150%">: Hầu hết các loại trái cây và rau quả là ít calo và nhiều chất xơ,
		vitamin và khoáng chất. Ăn nhiều trái cây và rau quả sẽ giúp duy trì
		trọng lượng của cơ thể một cách dễ dàng hơn, giúp giảm cân ở những người
		béo phì. Việc duy trì một trọng lượng vừa phải sẽ giảm áp lực tác dụng
		lên các vùng xương khớp, xương cột sống. Do đó nó sẽ có tác dụng giảm
		bớt các cơn đau. Bên cạnh đó một số loại trái cây và rau có thêm đặc
		tính chống đau rất tốt như: anh đào, nam việt quất, nho đỏ, trái cây họ
		cam quýt chứa nhiều vitamin C. Những loại trái cây này giúp trì hoãn sự
		tiến triển của viêm khớp, giảm các cơn đau lưng.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:.5in;line-height:150%">
        <b><span style="font-size:13.0pt;line-height:
150%">Gia vị có tác dụng giảm đau lưng:</span></b><span style="font-size:13.0pt;
line-height:150%"> Một số loại gia vị mà thành phần của nó giúp giảm đau như: củ
		nghệ, củ gừng có tác dụng giảm sức, bảo vệ các khớp sương. Thường xuyên
		ăn nghệ giúp giảm cơn đau lưng vì lý do xương khớp.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:.5in;line-height:150%">
        <b><span style="font-size:13.0pt;line-height:
150%">Tránh các loại thực phẩm có chứa nhiều chất béo, đường</span></b><span style="font-size:13.0pt;line-height:150%">.
		Thực phẩm chứa nhiều đường, chất béo như đồ ăn nhanh, các món ăn chiên,
		rán, xào sẽ làm cho bệnh đau lưng thêm trầm trọng.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:.5in;line-height:150%">
		<span style="font-size:13.0pt;line-height:150%">Như vậy thay đổi chế độ
		ăn uống cũng là một cách điều trị bệnh hiểu quả. Việc ăn những thực phẩm
		nhất định có thể giúp kiểm soát cơn đau và viêm nhiễm, chế độ ăn uống
		khỏe mạnh kết hợp với các hình thức điều trị khác như tập thể dục nhẹ
		nhàng và kéo dài, thư giãn, và dùng thuốc sẽ giúp điều trị hiệu quả bệnh
		đau lưng.</span></p></font>
</div>