﻿<div id="noidung">

    <h1 style="text-align: center"><font size="5">Chế độ ăn cho bệnh Zona thần kinh</font></h1>

        <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
				<span style="font-size: 13.0pt; line-height: 150%; letter-spacing: -.5pt">
				<img border="0" src="http://www.thaythuoccuaban.com/images/cam-thao.jpg" width="250" height="167" align="left" lowsrc="Cam%20thảo%20tốt%20cho%20bệnh%20zona%20thần%20kinh" longdesc="Cam thảo tốt cho bệnh zona thần kinh" alt="Cam thảo tốt cho bệnh zona thần kinh">Zona
				thần kinh do virut herpes gây nên, có thể xảy ra ở bất kì vùng
				da nào trên cơ thể. Nó thường xuất hiện khi hệ thống miễn dịch
				bị tổn thương. Đối với bệnh này thì chế độ ăn uống là rất quan
				trọng, nó có thể giúp làm giảm cảm giác đau rát hoặc khó chịu
				khi bị zona thần kinh. Dưới đây là chế độ ăn uống được khuyến
				cáo dành cho bệnh zona thần kinh.</span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
            <b>
		<span style="font-size: 13.0pt; line-height: 150%; letter-spacing: -.5pt">
		Thực phẩm tốt cho bệnh zona thần kinh</span></b></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
            <b>
		<span style="font-size: 13.0pt; line-height: 150%; color: black; border: 1.0pt none windowtext; padding: 0cm">
		Lysine: </span></b>
		<span style="font-size: 13.0pt; line-height: 150%; color: black; border: 1.0pt none windowtext; padding: 0cm">
		có thể được tìm thấy trong sữa, một số loại thực phẩm hoặc uống bổ sung.
		Amino acid này có thể làm chậm hoặc giảm sự tăng trưởng của virus.</span><span style="font-size: 13.0pt; line-height: 150%; color: black">&nbsp;<span style="border: 1.0pt none windowtext; padding: 0cm">Nó
		cũng có thể làm giảm cường độ của flare-up, hỗ trợ trong chữa bệnh và
		ngăn chặn bùng phát dịch.</span>&nbsp;<span style="border: 1.0pt none windowtext; padding: 0cm">Bạn
		có thể kết hợp các loại thực phẩm có chứa nhiều lysine trong cá, các
		loại đậu, pho mát, sản phẩm sữa và thịt gà.</span>&nbsp;Lượng lysine cần
		thiết cho một ngày là 1.250mg. Lysine
		<span style="border: 1.0pt none windowtext; padding: 0cm">cũng hoạt động
		tốt với các thực phẩm có chứa kẽm và các loại thực phẩm giàu vitamin C.
		Pair lysine với các loại trái cây họ cam quýt, xoài, sung, vả, thịt cừu,
		tôm hùm, gà tây và trai.</span></span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
            <b>
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Cam thảo: </span></b>
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		còn được gọi bằng tên Latin Glycyrrhiza glabra, là một loại thảo dược
		được sử dụng cho một loạt các bệnh về sức khỏe.</span><span style="font-size: 13.0pt; line-height: 150%">&nbsp;<span style="border: 1.0pt none windowtext; padding: 0cm">Cam
		thảo có tác dụng chống virut, chống viêm, cũng như chữa lành các màng
		nhầy của hệ hô hấp và tiêu hóa.</span>&nbsp;<span style="border: 1.0pt none windowtext; padding: 0cm">Ngoài
		ra cam thảo cũng tăng cường chức năng tuyến thượng thận.</span>&nbsp;<span style="border: 1.0pt none windowtext; padding: 0cm">Chức
		năng thượng thận thích hợp cho phép một cá nhân để đối phó với sự căng
		thẳng và giúp tối ưu hóa hệ miễn dịch.</span>&nbsp;<span style="border: 1.0pt none windowtext; padding: 0cm">Điều
		này có thể đặc biệt hữu ích để ngăn ngừa bệnh zona, bởi vì căng thẳng và
		khả năng miễn dịch bị tổn thương, làm tăng nguy cơ kích hoạt lại virus
		gây ra bệnh zona.</span></span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
            <b>
		<span style="font-size: 13.0pt; line-height: 150%; color: black; border: 1.0pt none windowtext; padding: 0cm">
		Vitamin B-6 và B-12: </span></b>
		<span style="font-size: 13.0pt; line-height: 150%; color: black; border: 1.0pt none windowtext; padding: 0cm">
		Vitamin B-6 giúp hỗ trợ hệ thống miễn dịch và chữa lành vết thương do
		virut zona gây nên.</span><span style="font-size: 13.0pt; line-height: 150%; color: black">&nbsp;<span style="border: 1.0pt none windowtext; padding: 0cm">Hãy
		bổ sung B-6 ba lần một ngày hoặc kết hợp vào thực phẩm chế độ ăn uống
		của bạn như chuối, khoai lang và khoai tây. Ngoài ra, B-12 giúp các chức
		năng thần kinh hoạt động đẹp.</span>&nbsp;<span style="border: 1.0pt none windowtext; padding: 0cm">Các
		dây thần kinh cần B-15 để tạo ra một vỏ myelin bảo vệ kết thúc tốt đẹp
		xung quanh dây thần kinh để cách nhiệt.</span>&nbsp;<span style="border: 1.0pt none windowtext; padding: 0cm">Viện
		Y tế Quốc gia đề nghị nên nhận vitamin B-12 thông qua các sò, gan, cá,
		ngũ cốc, cá ngừ, cá, sữa và sữa chua.</span>&nbsp;<span style="border: 1.0pt none windowtext; padding: 0cm">Ăn
		một chế độ ăn uống lành mạnh không chỉ ngăn ngừa bệnh zona mà còn hỗ trợ
		hệ thống miễn dịch của bạn.</span></span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
            <b>
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Thực phẩm không tốt cho bệnh zona thần kinh:</span></b></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Tránh các loại thực phẩm như: sô cô la, lúa mì, bánh mì trắng, yến mạch,
		men bia, một số loại hạt vì thực phẩm này chứa arginine - tác dụng tái
		tạo và làm virut zona phát ban.</span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
            <b>
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Ngũ cốc tinh chế: </span></b>
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Ngũ cốc tinh chế là loại thực phẩm đường huyết cao có chứa đường mà cơ
		thể dễ dàng hấp thụ, làm tăng nguy cơ đột biến lượng đường trong máu.</span><span style="font-size: 13.0pt; line-height: 150%">&nbsp;<span style="border: 1.0pt none windowtext; padding: 0cm">Lượng
		đường trong máu cao có thể được liên kết với chất lỏng và rối loạn điện
		giải và gia tăng nguy cơ các bệnh nhiễm trùng, làm các vết thương do
		virut zona gây nên lâu lành hơn.</span></span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
            <b>
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Chất béo trans fast:</span></b><span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		khi kết hợp với virut herpes zoster làm cho tình trạng viêm trở nên trầm
		trọng hơn. Herpes zoster có thể gây viêm xung quanh mắt, ảnh hưởng đến
		giác mạc và mống mắt và làm tăng nguy cơ đục thủy tinh thể và tăng nhãn
		áp.</span><span style="font-size: 13.0pt; line-height: 150%">&nbsp;Vì thế nên
		hạn chế các loại thực phẩm được chế biến dưới dạng chiên, rán.</span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
            <b>
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Rượu: </span></b>
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Cần phải được hạn chế vì thực phẩm và đồ uống chứa cồn có thể ngăn chặn
		hệ thống miễn dịch và làm cho virut herpes zoster lây lan nhanh hơn.</span></p>
    </font>
    <font color="#000000" style="font-size: 13pt; font-style: italic; font-weight: 700">
    </div>