﻿<div id="noidung">


    <h1 style="text-align: center"><font size="5">Chế độ ăn cho người yếu sinh lý</font></h1>

    <font color="#000000" size="3">
        <p class="MsoNormal" style="text-align: justify">
		<span style="font-size: 13.0pt; font-style: italic; font-weight: 700">
		<img border="0" src="http://www.thaythuoccuaban.com/images/yeu-sinh-ly-che-do-an.jpg" width="257" height="174" align="left">Yếu sinh lý là từ ngữ thường dùng để chỉ các bệnh như: liệt dương, xuất
		tinh sớm, giảm ham muốn tình dục,… thường gặp ở nam giới. Theo y học cổ
		truyền yếu sinh lý do nhiều nguyên nhân gây nên như: thể thận dương hư,
		thể tâm tỳ lưỡng hư, thể thận dương hư, thận âm hư, can khí uất kết, can
		kinh uất nhiệt, tâm thận bất giao. Tùy theo những nguyên nhân gây bệnh
		mà bệnh nhân sẽ có những biểu hiện khác nhau và sẽ cần có chế độ ăn uống,
		kiêng kị khác nhau. Dưới đây là một số lời khyên về ăn uống dành cho
		bệnh nhân yếu sinh lý.</span></p>
        <p class="MsoNormal" style="text-align: justify">
		<span style="font-size: 13.0pt">Để sinh lý được mạnh thì trước hết phải
		có sức khỏe, muốn thế thì chế độ ăn uống là quan trọng và cần thiết. Với
		người sinh lý yếu nên ăn uống đầy đủ, không nên kiêng khem quá mức, đặc
		biệt hạn chế bia rượu, thuốc lá vì những thứ này sẽ ảnh hưởng trực tiếp
		tới việc sản xuất tinh trùng. Ngoài ra với mỗi thể bệnh khác nhau nên
		chú ý trong vấn đề ăn uống như sau:</span></p>
        <p class="MsoNormal" style="text-align: justify"><b>
		<span style="font-size: 13.0pt">Đối bệnh nhân yếu sinh lý do thận dương
		hư</span></b><span style="font-size: 13.0pt">: thường có biểu hiện sợ
		lạnh, dễ bị cảm,&nbsp; lưng đau gối mỏi, tiểu tiện trong hay đi tiểu về đêm
		hoặc đi không hết bãi phải đứng lâu, có thể có phù thũng, liệt dương, di
		họat tinh, miệng nhạt, chất lưỡi nhợt</span></p>
        <p class="MsoNormal" style="text-align: justify">
		<span style="font-size: 13.0pt">Tránh các thực phẩm có tính chất lạnh
		như thịt trâu, cua, ốc, trai, hến, ngao, dưa hấu, dưa chuột, bí đao,
		mướp, khổ qua, rau đay, mùng tơi, rau cần, rau rút, măng, rong biển....
		</span></p>
        <p class="MsoNormal" style="text-align: justify">
		<span style="font-size: 13.0pt">Nên ăn nhiều các thực phẩm có tính ấm
		nóng, thực phẩm chứa nhiều đạm như: thịt chó, thịt dê,… </span></p>
        <p class="MsoNormal" style="text-align: justify"><b>
            <span style="font-size: 13.0pt">Yếu sinh lý do thận âm hư</span></b><span style="font-size: 13.0pt">
		thường gặp ở những người gầy, có cảm giác nóng trong người, có cảm giác
		buồn bực không yên, lòng bàn tay, bàn chân nóng, hay bị ra mồ hôi trộm,
		ăn ngủ kém,… </span></p>
        <p class="MsoNormal" style="text-align: justify">
		<span style="font-size: 13.0pt">Cần tránh những đồ ăn có tính cay, nóng,
		thịt dê, thịt chó, ớt,&nbsp; hạt tiêu, quế, hồi, sa tế, sa nhân, rau hẹ, hành
		tây, tỏi, lạc rang, nhãn, vải, nhục dung, tỏa dương, nhân sâm, nhung
		hươu, rượu, thuốc lá.</span></p>
        <p class="MsoNormal" style="text-align: justify">
		<span style="font-size: 13.0pt">Nên ăn nhiều các thực phẩm có tính hàn
		như như thịt trâu, cua, ốc, trai, hến, ngao, dưa hấu, dưa chuột, bí đao,
		mướp, khổ qua,…</span></p>
        <p class="MsoNormal" style="text-align: justify"><b>
            <span style="font-size: 13.0pt">Yếu sinh lý do tâm tỳ lưỡng hư</span></b><span style="font-size: 13.0pt">
		thường có biểu hiện thường có biểu hiện: sắc mặt vàng úa, mệt mỏi, hoa
		mắt chóng mặt, kém ăn, kém ngủ.</span></p>
        <p class="MsoNormal" style="text-align: justify">
		<span style="font-size: 13.0pt">Với người thuộc thể bệnh này có thể ăn
		các loại thực phẩm như: óc lợn, trứng chim cút, nhân sâm, đại táo, nhãn,
		cháo hoặc chè hạt sen, … </span></p>
        <p class="MsoNormal" style="text-align: justify">
		<span style="font-size: 13.0pt">Bên cạnh đó cũng cần kiêng một số loại
		thực phẩm như: củ cải, hành tây, kinh giới, sa nhân, sơn tra, quế, hồi,
		gừng tươi, hạt tiêu, mã thầy, trà đặc, thuốc lá…</span></p>
        <p class="MsoNormal" style="text-align: justify"><b>
            <span style="font-size: 13.0pt">Yếu sinh lý do can khí uất kết:</span></b><span style="font-size: 13.0pt">
		Tinh thần luôn bị ức chế, ngực bụng đầy tức hoặc đau nhói, tức nặng hạ
		sườn phải, dễ cáu gắt… </span></p>
        <p class="MsoNormal" style="text-align: justify">
		<span style="font-size: 13.0pt">Nên kiêng các đồ ăn như như thịt mỡ, cơm
		nếp, mật ong, đại táo, long nhãn, nhân sâm, hoàng kỳ, hoàng tinh, trà
		đặc, bia rượu, cà phê.</span></p>
        <p class="MsoNormal" style="text-align: justify">
		<span style="font-size: 13.0pt">Nên ăn các món ăn được chế biến dưới
		dạng luộc, món ăn dễ tiêu hóa như các loại cháo.</span></p>
        <p class="MsoNormal" style="text-align: justify"><b>
            <span style="font-size: 13.0pt">Yếu sinh lý do can kinh thấp nhiệt</span></b><span style="font-size: 13.0pt">:
		Vàng da, vàng mắt, ngực sườn đau tức đầy chướng khó chịu, ăn kém, miệng
		đắng, hoa mắt chóng mặt. </span></p>
        <p class="MsoNormal" style="text-align: justify">
		<span style="font-size: 13.0pt">Thể này nên kiêng ăn thịt vịt, thịt đầu
		lợn, thịt mỡ, thịt chó, thịt dê, đồ uống quá ngọt, long nhãn, long vải,
		ớt, hạt tiêu, hồi hương, đinh hương, thuốc lá, rượu, dấm quá chua, kim
		anh tử, khiếm thực, hạt sen</span></p>
        <p class="MsoNormal" style="text-align: justify"><b>
            <span style="font-size: 13.0pt">Yếu sinh lý do tâm thận bất giao</span></b><span style="font-size: 13.0pt">
		thường gặp ở người hay bồn chồn, dễ mất ngủ, hoặc ngủ mê, dễ hồi hộp,
		tiểu nhiều lần, ra mồ hôi trộm nhiều. Loại này cần kiêng đồ ăn, uống có
		tính cay nóng như ớt, hạt tiêu, đồ ăn quá chua, thịt chim sẻ, thịt dê,
		thịt chó,…</span></p>
    </font>


</div>