﻿<div id="noidung">
    <h1><font size="5" face="Times New Roman">Chế</font><font size="5" face="Times New Roman"> độ ăn phòng chữa bệnh
        tinh trùng yếu</font></h1>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size:12.0pt">
		<a href="Chế%20độ%20ăn%20bệnh%20vô%20sinh%20nam">
            <img border="0" src="http://www.thaythuoccuaban.com/images/vo-sinh-nam-che-do-an.jpg" width="300" height="300" lowsrc="Chế%20độ%20ăn%20bệnh%20vô%20sinh%20nam" longdesc="Chế độ ăn bệnh vô sinh nam" alt="Chế độ ăn bệnh vô sinh nam" align="left"></a></span>Theo WHO 1999, Mật độ tinh trùng tối
        thiểu cần thiết trong một ml tinh dịch là 20 triệu, trong đó ít nhất 25%
        là loại di động nhanh. Nếu có ít hơn 20 triệu tinh trùng trong một ml
        tinh dịch có nghĩa là người nam giới có ít tinh trùng. </p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        Nam giới có ít tinh trùng và lượng tinh
        trùng di động nhanh ít, có thể do nhiều yếu tố tác động như: Nhiễm độc
        môi trường như các chất hóa học, tia xạ, thuốc, nhiễm độc kim loại nặng,
        khói thuốc lá, nghiện rượu và ô nhiễm môi trường,… Sức nóng có thể là
        giảm sản xuất tinh trùng. Xông hơi, ngồi lâu, mặc quần lót quá chật,…có
        thể làm tăng nhiệt độ tinh hoàn đủ để làm giảm quá trình sinh tinh trùng.
        Các thuốc điều trị loét dạ dày như cimetidine và ranitidine đã được
        chứng minh là gây giảm số lượng tinh trùng và gây bệnh rối loạn cương
        dương</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        Ngày nay, số lượng tinh dịch trung bình
        của người nam giới giảm đi nhiều so với 50 năm trước đây.&nbsp; Một số báo
        cáo cho rằng nguyên nhân do có tiếp xúc với các chất độc (dioxin, các
        loại nhựa, các chất thải công nghiệp,…).</p>
    <p class="MsoNormal" style="text-align:justify"><b>
        * Nam giới vô sinh có thể hạn chế tiếp
        xúc với những chất độc hại cho tinh trùng bằng cách</b></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        -&nbsp;Tránh dùng các hộp nhựa để chứa thức ăn,
        nước uống</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        -&nbsp;Sử dụng các chất tẩy trắng không chưa
        clo</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        -&nbsp;Sử dụng phin lọc cà phê, giấy khăn ăn,
        giấy vệ sinh không chứa chất tẩy rửa để giảm phơi nhiễm với chất dioxin</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        -&nbsp;Tránh dùng nước máy có clo, chất tẩy có
        clo và các sản phẩm chứa clo khác; sử dụng chất hydrogen peroside (oxy
        già) để thay thế</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        -&nbsp;Kiêng dùng rượu, bia, thuốc lá
    </p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        +Hút thuốc gây rối loạn chức năng cương
        dương. Tinh trùng của người nghiện thuốc lá có thể có hình thể bất
        thường và di chuyển chậm hơn so với những người không hút thuốc.
    </p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        +<strong><span style="font-weight: normal">Rượu
		đ</span></strong>ược xem là chất độc hại đối với cơ quan sinh sản ở nam
        giới. Uống rượu nhiều, trong thời gian dài có thể gây vô sinh do giảm
        nồng độ testosterone và cũng làm giảm số lượng và chất lượng tinh trùng.
        Tuy nhiên, các nghiên cứu trên động vật đã cho thấy rằng tác hại của
        rượu đối với tinh trùng có thể phục hồi một phần sau khi ngưng rượu một
        thời gian.</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        + Một số loại rượu như rượu nhung hươu,
        rượu hải mã, rượu lộc tiên (cơ quan sinh dục ngoài của hươu đực), rược
        hải cẩu thận (cơ quan sinh dục ngoài hải cẩu đực), và rượu dâm dương
        hoắc, v.v... bệnh nhân vô sinh nên dùng</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        + Uống nhiều bia cũng không tốt vì trong
        bia có hợp chất tương tự như genistein ảnh hưởng không tốt đến chất
        lượng và số lượng tinh trùng</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        - Uống nhiều nước, ít nhất 2-3 lít nước
        trong một ngày để đào thải tất cả các chất độc trong cơ thể.</p>
    <p class="MsoNormal" style="text-align:justify"><b>
        &nbsp;* Duy trì cân nặng lý tưởng là việc rất
        cần thiết với bệnh nhân vô sinh nam</b></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        - Dư thừa chất ở nam giới có thể dẫn tới
        giảm ham muốn và khoái cảm tình dục, thay đổi cấu trúc của cơ quan sinh
        sản làm giảm khả năng có con. Người béo phì thường bị giảm số lượng tinh
        trùng và tăng tình trạng rối loạn cương dương. Nguyên nhân có thể do
        tăng nhiệt độ của tố chức xung quanh tinh hoàn.</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        -&nbsp;Ít dùng các thức ăn rán, nướng, thức ăn
        nhanh, thực phẩm chiên xào, thịt đỏ đã qua chế biến, khoai tây chiên,
        bánh quy, bánh ngọt…Theo báo <i>The Sun</i> (Anh), các nhà khoa học
        thuộc Đại học Harvard (Mỹ) và Đại học Murcia (Tây Ban Nha) phát hiện
        rằng, những ai ăn nhiều các thực phẩm này có chất lượng tinh trùng kém
        hơn những người có chế độ ăn uống đầy đủ dưỡng chất mỗi ngày, cụ thể là
        khả năng sống sót của tinh trùng ít hơn</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        - Ăn nhiều rau trái cây có màu sắc tự
        nhiên (xanh-đỏ-tím-vàng), giàu chất xơ, vitamin C, vitamin nhóm B,
        vitamin E giúp tạo ra những tinh trùng khỏe mạnh</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        - Chế độ ăn có đầy đủ ngũ cốc ít chế biến
        (gạo lức, bắp, khoai đủ loại).</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        -<b> </b>Các thức ăn động vật như thịt,
        cá, thủy hải sản và chất béo cần được cung cấp ở mức độ vừa phải. Tuy
        nhiên có một số thức ăn rất tốt cho tinh trùng: </p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        + Các loại thịt đỏ gồm thịt chó, bò (80
        gram protein bò mộng có thể giúp sản sinh thêm một gram tinh trùng),
        hươu, cừu, trứng (hoạt chất có trong tinh dịch), tinh hoàn (nhiều
        arginin).</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        + Các loại thịt trắng chủ yếu là thịt gà
        trống, vịt cạn, chim cút, chim sẻ, và bồ câu dực...Đặc biệt là chim sẻ,
        theo Đông y ăn chim sẻ thường xuyên một ngày 02-03 con sẽ tăng lượng
        tinh trùng lên rõ rệt. </p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        + Đồ hải sản cũng là một trong những thực
        phẩm rất bổ dưỡng cho đàn ông như ngao, sò, ốc, tôm......</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        - Trà hay cà phê làm tăng tỷ lệ tinh
        trùng hoạt động và tăng tuổi thọ bởi chất cafein. Trà cũng chứa nhiều
        mangan nên thói quen uống trà sẽ có lợi cho những người vô sinh.</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        - Một số thực phẩm khác không nên dùng:
        Bột đậu nành (có nitrohfuran gây tác dụng ngăn ngừa sinh sản, giảm ham
        muốn tình dục và genistein có tác dụng tiêu diệt tinh trùng trước khi
        chúng kịp kết hợp với trứng), dầu gan cá (làm chậm phát triển dục tính,
        tinh trùng bị co cụm lại),&nbsp; tinh vỏ cam (có chất H.Pesperridin ngừa sinh
        sản).</p>
    <p class="MsoNormal" style="text-align:justify">
        &nbsp;<b>*
        Một số vi chất cần thiết cho bệnh nhân vô sinh nam</b></p>
    <p class="MsoNormal" style="text-align:justify"><b>
        1. Vitamin E</b></p>
    <p class="MsoNormal" style="text-align:justify">
        - Có tác dụng chống oxy hóa, bảo vệ tinh
        trùng không bị tổn thương bằng cách chống lại tác động phá hủy màng tế
        bào tinh trùng của các gốc tự do</p>
    <p class="MsoNormal" style="text-align:justify">
        - Vitamin E làm tăng khả năng tái sinh
        của ống sinh tinh, làm tăng số lượng tinh trùng.</p>
    <p class="MsoNormal" style="text-align:justify">
        - Vitamin&nbsp;E được chiết xuất&nbsp;từ dầu của
        lúa mì lần đầu tiên năm 1936. </p>
    <p class="MsoNormal" style="text-align:justify">
        - Những thực phẩm giàu vitamin này là đậu
        tương, giá đỗ, bắp cải, súp lơ, Rau bina (Cải bó xôi), vừng, lạc, mầm
        lúa mạch, hạnh nhân, hạt hướng dương, hạt ngô, tiêu, gan bê, trứng, Xoài,
        chuối, táo, đào, dâu tây, Quả Kiwi, .... </p>
    <p class="MsoNormal" style="text-align:justify">
        - Tuy nhiên, các thức ăn nhiều vitamin&nbsp;E
        nhất là hạt lúa mì và dầu thực vật như: Dầu ăn chiết xuất từ mầm lúa mì,
        Dầu hướng dương, Dầu cây rum, &nbsp;Dầu ăn ngũ cốc, Dầu đậu nành...</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><b>&nbsp;</b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><b>2.
        Vitamin C</b> </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">- Từ lâu
        vitamin C đã được xem là có vai trò quan trọng đối với khả năng sinh sản.
    </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">- Trong
        những năm gần đây, đã có những cảnh báo về ảnh hưởng có hại của các gốc
        tự do lên khả năng sinh sản cũng như nhiều chức năng khác. Vitamin C có
        thể làm giảm các tác hại của các gốc tự do này đối với cơ thể</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">- Nhiều
        nghiên cứu nhận thấy việc bổ sung vitamin C không chỉ làm tăng mật độ
        tinh trùng mà còn cải thiện chất lượng tinh trùng, giúp cho tinh dịch
        không bị dính kết với nhau.&nbsp;</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">- Vitamin
        C giúp tăng khả năng sinh dục bằng cách uống bốn ly cam vắt mỗi ngày.</p>
    <p class="MsoNormal" style="text-align:justify">
        &nbsp;<b>3.</b> <b>Các vitamin nhóm B</b> giúp tinh trùng không bị suy dinh dưỡng</p>
    <p class="MsoNormal" style="text-align:justify"><b><i>
        Vitamin B9</i></b>
        (Folic acid) giúp tạo ra các tinh trùng hoàn toàn mới: Có trong rau
        xanh, phô mai lên men hay trứng. Nhu cầu vitamin B9 khoảng 300 microgram
        mỗi ngày với vị thành niên và người trưởng thành.</p>
    <p class="MsoNormal" style="text-align:justify"><strong><i>
        Vitamine B12: </i></strong></p>
    <p class="MsoNormal" style="text-align:justify"><strong>
        <span style="font-weight: normal">- </span></strong>
        Thiếu hụt B12 sẽ gây ra thiếu máu trầm
        trọng, thiếu máu cấp tính. Thậm chí những bệnh này có thể dẫn đến vô
        sinh ở cả phụ nữ và nam giới. Một nghiên cứu đã chứng minh rằng có thể
        cải thiện khả năng sinh sản ở những người vô sinh do thiếu máu cấp tính
        nếu những người này được tiêm bổ sung sinh tố B12. </p>
    <p class="MsoNormal" style="text-align:justify"><strong>
        <span style="font-weight: normal">- Vitamin B12</span></strong>
        tham gia vào sự trưởng thành của tế bào và tổng hợp DNA, là một trong
        những vitamin cần phải quan tâm nhất trong vô sinh. Thiếu hụt vitamin
        B12 làm giảm tính di động và số lượng tinh trùng.<br>
        <br>
        4<b>. Lycopen</b> </p>
    <p class="MsoNormal" style="text-align:justify">
        - Lycopen thuộc nhóm carotenoid là chất
        tạo nên sắc tố đỏ trong một số loại quả chín như dưa hấu, nho, cà chua
        và hải sản vỏ cứng. </p>
    <p class="MsoNormal" style="text-align:justify">
        - Nam giới vô sinh được điều trị bằng 2mg
        lycopen uống mỗi ngày. Sau 3 tháng, nhận thấy: chất lượng tinh dịch, sức
        sống và khả năng vận động của tinh trùng được cải thiện. </p>
    <p class="MsoNormal" style="text-align:justify"><b>
        &nbsp;5. Kẽm</b></p>
    <p class="MsoNormal" style="text-align:justify">
        - Nồng độ kẽm trong tinh dịch có liên
        quan trực tiếp đến độ di động của tinh trùng và nếu
        chế độ ăn thiếu kẽm có thể làm giảm cả về số lượng tinh trùng lẫn thể
        tích tinh dịch. </p>
    <p class="MsoNormal" style="text-align:justify">
        - Nguồn cung cấp nhiều kẽm là là con hàu,
        trai, sò, thịt nạc đỏ (bò, lợn), ngũ cốc khô và các loại đậu…</p>
    <p class="MsoNormal" style="text-align:justify">
        &nbsp;<strong>6. L-arginine, Arginine</strong></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">-
        L-arginine là 1 tiền chất của testosterone, để duy trì 1 lượng tinh
        trùng bình thường của nam giới cần phải có 1 số lượng đầy đủ chất này
        trong chế độ ăn. </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">- Lượng
        L-arginine đầy đủ cũng có vai trò quan trọng đối với độ di động của tinh
        trùng vì nó là tiền chất của tiến trình tổng hợp đa vitamin và cũng là
        tiền chất của oxyt - nitric. Oxyt -nitric hiện diện trong tinh dịch có
        vai trò quan trọng đối với sự di chuyển của tinh trùng. Tinh trùng dị
        dạng cũng có thể là 1 biểu hiện chuyển hóa bất thường của L-arginine.
    </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><strong>
        <span style="font-weight: normal">- Arginine</span></strong> là một
        amino acid, một sản phẩm chuyển hóa của cơ thể từ protein. Arginine có
        nhiều trong đầu của tinh trùng, Agrinine được chứng minh là giúp cải
        thiện số lượng tinh trùng và tỷ lệ di động nhanh. Ở liều cao, agrinine
        có khả năng làm giản mạch và làm dương vật cương tốt hơn. </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">- Nguồn
        có nhiều arginine là sô cô la, thịt, cá, nhóm quả khô (vừng, lạc, hướng
        dương, v.v...)…</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><br>
        <b>7.</b> <strong>L-carnitine</strong> </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">- Là
        thành phần của tế bào sinh tinh và huyết tương của tinh trùng, đóng vai
        trò quan trọng trong việc sinh sản, tăng trưởng cũng như khả năng vận
        động, di chuyển xa của tinh trùng. Như vậy, L-carnitine cần thiết cho
        chức năng bình thường của tinh trùng. </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">-
        Acetyl-L-carnitine là este của L-carnitine, đóng vai trò quan trọng
        trong ổn định màng tế bào của tinh trùng, cung cấp năng lượng nhằm nâng
        cao khả năng vận động và di chuyển của tinh trùng</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">- Một
        phần <span class="umbruch">L-Carnitin</span>e có sẵn trong thức ăn của
        chúng ta. Các loại thịt đỏ (thí dụ: thịt cừu, thịt nai và thịt bò) đặc
        biệt chứa nhiều <span class="umbruch">L-Carnitin</span>e. Cá, thịt gia
        cầm, sữa và sữa mẹ chứa một lượng ít hơn, trong khi các loại thực phẩm
        có nguồn gốc từ thực vật chứa rất ít <span class="umbruch">L-Carnitin</span>e.
    </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><strong>
        <span style="font-weight: normal">&nbsp;</span></strong></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><strong>
        8. Coenzyme Q10</strong> </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">- Là chất
        chống oxy hóa và tham gia chuyển hóa quan trọng, tập trung chủ yếu trong
        ty thể ở phần giữa của tinh trùng. Ty thể là cấu trúc chịu trách nhiệm
        chính trong việc tạo ra năng lượng cho tế bào tinh trùng. </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">-
        Coenzyme Q10 giúp tăng số lượng và độ di động nhanh của tinh trùng.
        Người bình thường hằng ngày cần từ 5-10mg Co Q10, chủ yếu do nguồn thực
        phẩm. </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">- Co Q10
        có trong rau, đậu, thịt (bò, lợn nạc), cá (hồi), trứng, sữa, gan, tim
        (bò, gà), đậu phộng, Hạt vừng, Bông cải xanh, Bơ, Cam</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><br>
        <b>9.</b> <strong>Fructose</strong> </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">- Là chất
        quan trọng trong quá trình sản xuất năng lượng. Chất này có trong tinh
        dịch, chủ yếu do túi tinh tiết ra. - Fructose tham gia quyết định chất
        lượng của tinh dịch, là nguồn năng lượng để tinh trùng hoạt động</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">- Chỉ cần
        cung cấp cho cơ thể fructose trong trái cây, quả ngọt hàng ngày là đủ.
    </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">&nbsp;</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><b>10.</b>
        <strong>Selen</strong> </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">- Là chất
        chồng oxy hóa mạnh, được cho là yếu tố giúp ổn định tính toàn vẹn của
        đuôi tinh trùng và tính di động của tinh trùng, do đó tinh trùng có thể
        di động nhanh về phía trứng để thụ tinh. Gần 50% selen ở nam giới ở
        trong tinh hoàn và ống dẫn tinh.</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">- Selen
        có nhiều trong cá biển và sau đó là các thực phẩm: lòng đỏ trứng, dầu
        ô-liu, gan động vật, các hạt ngũ cốc nguyên hạt (có nhiều ở lớp vỏ lụa),
        và nấm ăn...</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">&nbsp;</p>
    <p class="MsoNormal" style="text-align:justify"><b>
        11.</b> <strong>Các acid béo omega<span style="font-weight: normal">:</span></strong>
    </p>
    <p class="MsoNormal" style="text-align:justify">
        - Các acid béo omega 3 và omega 6 có thể
        giúp cải thiện màng tinh trùng và giúp điều trị vô sinh nam</p>
    <p class="MsoNormal" style="text-align:justify">
        - <span class="storybody">Tất cả các loài
		cá đều có axit béo omega 3 nhưng tập trung nhiều nhất ở các loài “cá
		béo” như cá kiếm, cá hồi, cá mòi và cá trích, </span>cá bơn halibut, cá
        da xanh, cá ngừ, cá thu<span class="storybody">. </span></p>
    <p class="MsoNormal" style="text-align:justify"><span class="storybody">
		- Những nguồn thực phẩm giàu axit omega
		3: rau lá xanh sẫm, đỗ tương và đậu phụ; các loại hạt như hạt hướng
		dương, hạt vừng, hạt điều và hạt lanh; các loại dầu ăn như dầu hạt lanh,
		dầu hạt cải và dầu nành; &nbsp;trứng.</span></p>
		<span class="storybody">
		<span style="font-family: Times New Roman">- </span>
		</span><span style="font-family: Times New Roman">
		Omega-6 có hương vị quen thuộc hơn, chúng có trong các loại ngũ cốc, các
		loại dầu thực vật, các loại đậu nguyên hạt, bơ thực vật margarine, trứng.
		</span>
    <p class="MsoNormal" style="text-align:justify">&nbsp;
    </p>
    <p class="MsoNormal" style="text-align:center"><b>
        <span style="font-size:12.0pt">&nbsp;</span></b><b style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: normal; orphans: 2; text-align: -webkit-center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); font-size: medium; "><font size="5" color="#000099"><a name="Tham_khảo_thêm_về_chế_độ_ăn_bệnh_cao_huyết_áp_">Tham</a></font><a name="Tham_khảo_thêm_về_chế_độ_ăn_bệnh_cao_huyết_áp_"><font size="5" color="#000099"><span class="Apple-converted-space">&nbsp;</span>khảo
        thêm về chế độ ăn bệnh </font></a></b>
        <font color="#000099" size="5">
            <b><span style="font-family: Arial, Helvetica, sans-serif">
		<a name="Tham_khảo_thêm_về_chế_độ_ăn_bệnh_cao_huyết_áp_">
		<span style="letter-spacing: normal; background-color: #FFFFFF">vô sinh
		nam</span></a></span></b></font></p><font color="#000000" size="3">
    <p align="center" style="margin:0cm;margin-bottom:.0001pt;text-align:center">
        <b><span style="font-size:20.0pt">Những thực phẩm tốt cho nam giới vô
		sinh</span></b></p>
    <p style="margin:0cm;margin-bottom:.0001pt">&nbsp;</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-indent:14.0pt">Theo Đông
        y, thận tàng tinh, chủ sinh dục, đại tiểu tiện. Vì vậy, vô sinh do bất
        cứ nguyên nhân gì: tinh trùng ít, tinh trùng yếu, liệt dương đều là do
        thận hư mà nên. </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-indent:14.0pt">Do đó
        người mắc chứng này nên ăn nhiều những thực phẩm có tác dụng bổ thận
        sinh tinh, ôn bổ thận dương, ôn noãn mệnh môn, kiêng kị ăn những thực
        phẩm sinh lạnh sinh hàn, những thực phẩm cay có tính kích thích.</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-indent:14.0pt">Những
        thực phẩm có tác dụng cải thiện chức năng sinh sản của nam giới bao gồm</p>
    <p style="margin:0cm;margin-bottom:.0001pt">- <b>Nước cơm</b>: Là dịch
        đặc nổi lên trên mặt khi nấu cơm hay nấu cháo. Y học cổ truyền cho rằng,
        nước gạo có thể bổ âm trường lực, tốt cho ngũ tạng, nước gạo rất tốt cho
        cơ thể, người gầy yếu nên dùng thường xuyên, có tác dụng tư âm, mỗi ngày
        nên uống khoảng 1 bát.</p>
    <p style="margin:0cm;margin-bottom:.0001pt">- <b>Trứng chim tước</b>:
        Rất thích hợp cho người bị chứng tinh dịch bất thường dẫn đến vô sinh,
        cổ nhân thường cho rằng nam giới ăn trứng chim tước sẽ nhiều tinh trùng
        để có con, có tác dụng bổ thận dương, ích tinh huyết, ăn trứng chim tước
        còn có thể tốt cho bệnh dương hư, có thể còn trị được cả bệnh máu khô ở
        nữ giới</p>
    <p style="margin:0cm;margin-bottom:.0001pt">- <b>Thịt chó</b>: Ôn tính,
        vị mặn. Theo kinh nghiệm của các thầy thuốc thì thịt chó có tác dụng bổ
        trung ích khí, ôn thận trợ dương, bổ phế khí cố thận khí, điền tinh tuỷ,
        noãn tỳ, vị, ích khí lực, tốt cho lưng và đầu gối.</p>
    <p style="margin:0cm;margin-bottom:.0001pt">- <b>Nhau thai hươu</b>: Ôn
        tính, vị mặn, ngọt, tác dụng ích thận tráng dương, bổ hư sinh tinh. Nhau
        thia hươu kiện tỳ sinh tinh hưng dương trợ hoả, bổ hạ nguyên, điều kinh
        trị huyếthe nhược, chân nguyên không đủ dẫn đến tinh dịch dị thường ót
        tinh trùng sống trong tinh dịch, tỉ lệ sống thấp, những người tinh trùng
        sống trong tinh dịch, tinh hàn đều rất thích hợp ăn món này.</p>
    <p style="margin:0cm;margin-bottom:.0001pt">- <b>Kỷ tử</b>: Lành tính,
        vị ngọt, có tác đôngk niêm tinh ích tuỷ, bổ tinh tráng dương, ích thận
        giúp sáng mắt, kỷ tử có thể sinh ích khí, âm sinh mà tinh huyết tự mạnh,
        vì vậy mà kỉ tử thích hợp với người thận hư mắc các chứng tinh dịch bất
        thường.</p>
    <p style="margin:0cm;margin-bottom:.0001pt">- <b>Hải sâm</b>: Tính ôn,
        vị mặn, có thể bổ thận ích tinh, rất thích hợp cho nam giới bị bệnh tinh
        trùng ít, tinh thanh. Hải sâm bổ thận óch tinh tráng dương, trị bẹnh
        dương suy, hải sâm thường dùng để chữa trị các bệnh ở nam giới như mông
        tinh, tiết tinh, dương suy…</p>
    <p style="margin:0cm;margin-bottom:.0001pt">- <b>Nhân sâm</b>: Tính ôn,
        vị ngọt hơi đắng đông y cho rằng nhân sâm đại bổ nguyên khí, tăng khí
        lực, giúp thân thể cường tráng. Theo nghiên cứu dược lý học hiện đại,
        nhân sâm vừa có thể tăng cường chức năng của tuyến yên, vừa thúc đẩy
        hoạt tính giới. Vì thế người bị suy tuyến yên mà dẫn đến tinh dịch bất
        thường và vô sinh nên thường xuyên ăn nhân sâm.</p>
    <p style="margin:0cm;margin-bottom:.0001pt">- <b>Mỡ ếch</b>: Dân gian có
        thói quen dùng mỡ ếch làm thực phẩm có tác dụng tầm bổ, bổ thận ích
        tinh, nhuân phế dưỡng âm. Mỡ ếch ích thận âm, hoá tinh niêm tuỷ nhuận
        tràng phế, là loại thuốc chữa bệnh tỳ vị bị hư do hàn, khí không hoá
        tinh. Nam giới bị bệnh thận hư thể chất hư nhược, tinh ít, tinh nhanh,
        không thụ tinh được, nên thường xuyên dùng mỡ ếch.</p>
    <p class="MsoNormal">&nbsp;</p>
    <h1 align="center" style="margin:0cm;margin-bottom:.0001pt;text-align:center">
        <span style="font-size:20.0pt">Những món ăn nam giới không nên dùng</span></h1>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><strong>&nbsp;</strong></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><strong>
        Trong cuộc sống hằng ngày có một số thực phẩm gây hại cho sức khỏe sinh
        sản của nam giới, có khi gây vô sinh nhưng ít được nghĩ tới. Những thực
        phẩm đó, bệnh nhân nam đã được chẩn đoán vô sinh thì càng cần tránh sử
        dụng</strong></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">&nbsp;</p>
    <h2 style="margin:0cm;margin-bottom:.0001pt">
        <span style="font-size:14.0pt">1. Đậu </span></h2>
    <h2 style="margin:0cm;margin-bottom:.0001pt;text-indent:14.0pt">
		<span style="font-size: 12.0pt; font-weight: normal">Chúng ta thường nói
		ăn nhiều chế phẩm từ đậu đặc biệt là đậu phụ tốt cho sức khỏe. Trong đậu
		phụ hàm chứa protein có thể được cơ thể hấp thụ đến 90%. </span></h2>
    <h2 style="margin:0cm;margin-bottom:.0001pt;text-indent:14.0pt">
		<span style="font-size: 12.0pt; font-weight: normal">Nhưng TS George
		Charler của viện y học cộng đồng thuộc đại học Havard đã theo sát điều
		tra 99 nam giới trong suốt từ năm 2000 đến năm 2006 và phát hiện, những
		nam giới hàng ngày ăn chế phẩm từ đậu, trong mỗi ml tinh dịch chỉ có
		41.000.000 tinh trùng, thấp hơn rõ rệt so với những nam giới ít ăn chế
		phẩm từ đậu. Nếu số lượng tinh trùng trong mỗi ml tinh dịch ít hơn con
		số 20.000.000 thì thuộc loại nồng độ tinh trùng quá thấp, dễ vô sinh.
		Ngoài ra, mối quan hệ này thể hiện rõ rệt hơn ở những nam giới có cơ thể
		béo phì.</span></h2>
    <h2 style="margin:0cm;margin-bottom:.0001pt;text-indent:14.0pt">
		<span style="font-size: 12.0pt; font-weight: normal">Nghiên cứu của
		George chỉ rõ, các chế phẩm từ đậu có ảnh hưởng không tốt đến hệ thống
		sinh sản đặc biệt là sự hình thành và phát triển của tinh trùng. Đậu hàm
		chứa chất isoflavone phong phú, nếu dung nạp quá nhiều estrogen sẽ ảnh
		hưởng đến đến sự cân bằng hormon nam trong cơ thể nam giới, từ đó dẫn
		đến một loạt các hậu quả không lường, trong đó có vô sinh.</span></h2>
    <h2 style="margin:0cm;margin-bottom:.0001pt;text-indent:14.0pt">
		<span style="font-size: 12.0pt; font-weight: normal">Cũng có nghiên cứu
		ở Trung Quốc cho rằng, nam giới thường ăn đậu phụ có nguy cơ gặp rắc rối
		về tình dục như nguy cơ mất khả năng cương dương cao gấp 3.64 lần so với
		những người không thường xuyên ăn.</span></h2>
    <h2 style="margin:0cm;margin-bottom:.0001pt;text-indent:14.0pt">
		<span style="font-size: 12.0pt; font-weight: normal">Cân nhắc lợi hại,
		thiệt hơn. Nam giới không nhất thiết phải kiêng hoàn toàn thức ăn này,
		tức là một tuần ăn nhiều nhất 3 lần, mỗi lần khoảng 100g là thích hợp</span></h2>
    <h2 style="margin:0cm;margin-bottom:.0001pt">
        <span style="font-size: 12.0pt; font-weight: normal">&nbsp;</span></h2>
    <h2 style="margin:0cm;margin-bottom:.0001pt">
        <span style="font-size:14.0pt">2. Món rán</span></h2>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        Có báo cáo nghiên cứu chỉ ra rằng, trong những món ăn tẩm bột rán qua
        dầu mỡ hoặc nướng hàm chứa một loại chất Acrylamide gây ra ung thư, chất
        này có thể làm cho tinh trùng của nam giới ít và yếu đi.</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        Ngoài ra, kim loại nặng Cadmium và thuốc nông nghiệp còn tàn sót lại đều
        sinh ra độc tố đối với tinh trùng.</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        Cũng có chuyên gia phát hiện: Tinh binh của nam giới yếu hoặc ít đi cũng
        có thể là do thiếu nguyên tố vi lượng kẽm. </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        Vì vậy, nam giới nên ăn nhiều thực phẩm hàm chứa kẽm như con hàu, tôm (không
        bỏ vỏ), gan động vật, vừng, lạc, các loại đậu vân vân để đảm bảo lực
        lượng tinh binh.</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">&nbsp;</p>
    <p class="MsoNormal"><b>3. Rượu bia</b></p>
    <p class="MsoNormal" style="text-indent:14.0pt">
		<span style="font-size:12.0pt">Rượu, bia có liên quan đến việc thay đổi
		một số hormon ở nam giới; cản trở sự phát triển của tinh trùng. Độc tố
		được tìm thấy trong rượu, bia có thể tiêu diệt các tế bào tạo ra tinh
		trùng trong tinh hoàn, ảnh hưởng đến kích thước tinh hoàn và làm tăng sự
		bất thường ở tinh trùng. Lạm dụng rượu, bia ở nam giới còn khiến tinh
		trùng bị hư hại, dị dạng, hay di động kém; số lượng tinh trùng thấp hơn
		bình thường.</span></p>
    <p class="MsoNormal" style="text-indent:14.0pt">
        <span style="font-size:12.0pt">Tất cả đều dẫn đến vô sinh</span></p>
    <b><h2>Món ăn bổ dưỡng chữa
        vô sinh nam</h2></b><p></p>
    <p class="MsoNormal" style="text-align:justify">
		<span style="font-size:12.0pt">Vô sinh nam là nỗi đau của người đàn ông
		cũng như của người vợ. Một số món ăn có thể khôi phục được số lượng và
		chất lượng tinh trùng</span><b>.</b></p>
    <p class="MsoNormal" style="text-align:justify"><b>
        1. Tiêu dương xào hải
        sâm</b> </p>
    <p class="MsoNormal" style="text-align:justify"><b>
        <span style="font-size:12.0pt">* Nguyên liệu:</span></b><span style="font-size:12.0pt">
		</span></p>
    <p class="MsoNormal" style="text-align:justify">
        <span style="font-size:12.0pt">- Tiêu dương 12g</span></p>
    <p class="MsoNormal" style="text-align:justify">
        <span style="font-size:12.0pt">- Hải sâm khô 120g</span></p>
    <p class="MsoNormal" style="text-align:justify">
        <span style="font-size:12.0pt">- Thịt đùi heo 120g</span></p>
    <p class="MsoNormal" style="text-align:justify">
		<span style="font-size:12.0pt">- Gia vị: Rau cải xanh, hành lá, tỏi,
		gừng tươi, ngò rí. bột nêm, tiêu xay, dầu ăn, bột lọc, rượu trắng (1 ly
		nhỏ)... vừa đủ.</span></p>
    <p>&nbsp;</p>

</font></div>