﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white"><font color="#000000" size="5">
        <b><span style="line-height: 150%; color: #333333">Chế độ ăn uống </span></b>

    </font><font size="5"><b>giúp xương nhanh liền</b></font></p>
    <font color="#000000" size="3">
        <p class="MsoNormal" style="line-height: 150%; vertical-align: baseline; background: white">
			<span style="color: black">
			<img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-nhanh-lien-xuong(1).jpg" width="320" height="200" align="left"></span>Để
            những vết thương do gãy xương nhanh liền trở lại ngoài việc điều trị
            bằng thuốc thì một chế độ ăn uống hợp lý có vai trò vô cùng quan
            trọng. Vậy chế độ ăn uống như nào thì tốt cho người bị gãy xương? </p>
        <p class="MsoNormal" style="line-height: 150%; vertical-align: baseline; background: white">
            Như chúng ta đã biết khi bị gãy xương cơ thể chúng ta cần một lượng
            protein và canxi lớn để sửa chữa xương. Để canxi được hấp thụ dễ
            dàng thì vitamin D đóng vai trò quan trọng. Để giúp protein chuyển
            canxi tới khung xương một cách hiệu quả cần có vitamin K. Chất chống
            oxy hóa giúp cơ thể chống lại các gốc tự do gây tổn hại tế bào được
            tạo ra bởi mô bị hư hại tại trang vị trí của xương bị gãy. &nbsp;Do đó để
            xương nhanh liền, chúng ta cần phải bổ sung đầy đủ lượng vitamin D,
            K, canxi, protein, magie, kẽm,... </p>
        <p class="MsoNormal" style="line-height: 150%; vertical-align: baseline; background: white">
            <b>Những thực phẩm nên dùng khi bị gãy xương</b></p>
        <p class="pbody" style="text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
            -<span style="border:1.0pt none windowtext; padding:0cm; font-size:13.0pt; line-height:150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Canxi có nhiều trong sữa, cá hồi, cá mòi, vừng, cải bắp.</span></p>
        <p class="pbody" style="text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
            -<span style="border:1.0pt none windowtext; padding:0cm; font-size:13.0pt; line-height:150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Magiê có nhiều trong chuối, rau xanh, cá chép, cá trích, cá thu, tôm,
			sản phẩm chế biến từ sữa, ngũ cốc, bánh mỳ...</span></p>
        <p class="pbody" style="text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
            -<span style="border:1.0pt none windowtext; padding:0cm; font-size:13.0pt; line-height:150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Kẽm có nhiều trong cá biển, hải sản, hạt bí ngô, hạt hướng dương,
			đậu đỗ, nấm, ngũ cốc... </span>
        </p>
        <p class="pbody" style="text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
            -<span style="border:1.0pt none windowtext; padding:0cm; font-size:13.0pt; line-height:150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Vi chất phốt pho cũng cần cho nhu cầu tái tạo xương mới, có nhiều
			trong trứng cá muối, đậu, lòng đỏ trứng, pho mát, bí ngô...</span></p>
        <p class="pbody" style="text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
            -<span style="border:1.0pt none windowtext; padding:0cm; font-size:13.0pt; line-height:150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Axit folic và vitamin B6 cũng rất cần cho cấu tạo khung xương. Axit
			folic có nhiều trong chuối, đậu, rau xanh, cam quýt. Vitamin B6 có
			nhiều trong chuối, giăm bông, lúa mỳ, khoai tây, tôm, cá hồi, thịt
			gà. </span>
        </p>
        <p class="pbody" style="text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
            -<span style="border:1.0pt none windowtext; padding:0cm; font-size:13.0pt; line-height:150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Vitamin B12 rất cần cho sự hoạt động tế bào xương, vì vậy khi thiếu
			vitamin B12 có thể gây rối loạn hoạt động tế bào xương, khiến xương
			bị yếu. Để bổ sung vitamin B12 cho cơ thể, nên ăn thực phẩm chứa
			nhiều chất này như thịt bò, sữa, cá thu, trứng...</span></p>
        <p class="pbody" style="margin:0in;margin-bottom:.0001pt;line-height:150%;
vertical-align:baseline"><span class="pbody1"><b>
			<span style="color: black; border: 1.0pt none windowtext; padding: 0in">
			Những thực phẩm không nên dùng khi bị gãy xương</span></b></span></p>
        <p class="pbody" style="text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
			<span style="font-size: 13.0pt; border: 1.0pt none windowtext; padding: 0cm">-<span style="border:1.0pt none windowtext; padding:0cm; font-size:13.0pt; line-height:150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Rượu và đồ uống có cồn làm rối loạn hoạt động của tế bào xương, làm
			xương thoái hóa nhanh lên</span></span></p>
        <p class="pbody" style="text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
			<span style="font-size: 13.0pt; border: 1.0pt none windowtext; padding: 0cm">-<span style="border:1.0pt none windowtext; padding:0cm; font-size:13.0pt; line-height:150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Cafein làm giảm thiểu lượng canxi trong cơ thể, ngăn trở khả năng
			hấp thu canxi ở ruột</span></span></p>
        <p class="pbody" style="text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
            -<span style="border:1.0pt none windowtext; padding:0cm; font-size:13.0pt; line-height:150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Đồ ăn nhiều mỡ làm giảm hấp thụ canxi cho cơ thể vì chất béo sẽ kết
			hợp với canxi tạo nên một dạng chất bọt không hấp thụ và bị thải ra
			ngoài.</span></p>
        <p class="pbody" style="text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
            -<span style="border:1.0pt none windowtext; padding:0cm; font-size:13.0pt; line-height:150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Trà đặc, sô cô la, và đồ uống có ga không tốt cho xương phát triển.</span></p>
        <p class="pbody" style="margin:0in;margin-bottom:.0001pt;line-height:150%;
vertical-align:baseline">
</p>
        </font>



</h3>