﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b><span style="line-height: 150%; color: #333333">Chế độ ăn uống
			cho bệnh sa tử cung</span></b></p>
    <p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background-image:none; background-repeat:repeat; background-attachment:scroll">

        &nbsp;</p><font color="#000000" size="3">
    <p class="MsoNormal" style="line-height: 150%; text-align:left">
        <img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/hat-sen-tot-cho-benh-sa-tu-cung.jpg" width="154" height="150" lowsrc="Chế%20độ%20ăn%20cho%20bệnh%20sa%20tử%20cung,%20che%20do%20an%20cho%20benh%20sa%20tu%20cung" longdesc="Chế độ ăn cho bệnh sa tử cung, che do an cho benh sa tu cung" alt="Chế độ ăn cho bệnh sa tử cung, che do an cho benh sa tu cung" align="left"><font face="Times New Roman"><span style="font-weight: 400; font-size: 13pt">Sa
			tử cung cũng được xếp vào chứng sa trong đông y. Đây là hiện tượng
			tử cung thò ra ngoài âm đạo, bệnh gây bất tiện trong sinh hoạt, và
			trong trường hợp nặng tử cung thò hẳn ra ngoài ấn không vào được nếu
			không được điều trị dứt điểm rất dễ gây viêm nhiễm.</span></font></p>
    <p class="MsoNormal" style="line-height: 150%; text-align:left">
        <font face="Times New Roman">
			<span style="font-weight: 400; font-size: 13pt">Theo Lương y Nguyễn
			Hữu Toàn sa tử cung ngoài việc dùng thuốc điều trị thì chế độ ăn
			uống sinh hoạt đóng vài trò quan trọng trong việc phòng ngừa và điều
			trị bệnh sa tử cung. Dưới đây là một số hướng dẫn về chế độ ăn uống
			giúp phòng ngừa và điều trị sa tử cung.</span></font></p>
    <p class="MsoNormal" style="line-height: 150%; text-align:left">
        <font face="Times New Roman">
            <span style="font-weight: 400; font-size: 13pt">Những việc nên làm:</span></font></p>
    <p class="MsoNormal" style="text-indent: -.25in; line-height: 150%; margin-left: .5in; text-align:left">
        <font face="Times New Roman">
			<span style="font-weight: 400; font-size: 13pt">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Sau khi sinh đẻ không nên lao động nặng sớm</span></font></p>
    <p class="MsoNormal" style="text-indent: -.25in; line-height: 150%; margin-left: .5in; text-align:left">
        <font face="Times New Roman">
			<span style="font-weight: 400; font-size: 13pt">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Hạn chế đi lại nhiều, lên xuống cầu thang sau khi sinh</span></font></p>
    <p class="MsoNormal" style="text-indent: -.25in; line-height: 150%; margin-left: .5in; text-align:left">
        <font face="Times New Roman">
			<span style="font-weight: 400; font-size: 13pt">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Khi ngủ nên kê cao mông</span></font></p>
    <p class="MsoNormal" style="text-indent: -.25in; line-height: 150%; margin-left: .5in; text-align:left">
        <font face="Times New Roman">
			<span style="font-weight: 400; font-size: 13pt">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Hạn chế ngồi lâu, nín hơi nhiều.</span></font></p>
    <p class="MsoNormal" style="text-indent: -.25in; line-height: 150%; margin-left: .5in; text-align:left">
        <font face="Times New Roman">
			<span style="font-weight: 400; font-size: 13pt">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Tránh những động tác đè nén lên bụng như đứng lâu, ngồi lâu
			hoặc nín hơi</span></font></p>
    <p class="MsoNormal" style="text-indent: -.25in; line-height: 150%; margin-left: .5in; text-align:left">
        <font face="Times New Roman">
			<span style="font-weight: 400; font-size: 13pt">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Có chế độ ăn uống hợp lý, tăng cường những thức ăn có tác
			dụng bổ khí, bổ thận như: thịt gà, sơn dược, biển đậu, hạt sen, hạt
			súng, lươn, chạch, rau hẹ, đại táo</span></font></p>
    <p class="MsoNormal" style="text-indent: -.25in; line-height: 150%; margin-left: .5in; text-align:left">
        <font face="Times New Roman">
			<span style="font-weight: 400; font-size: 13pt">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Tập thể dục nhẹ nhàng.</span></font></p>
    <p class="MsoNormal" style="text-indent: -.25in; line-height: 150%; margin-left: .5in; text-align:left">
        <font face="Times New Roman">
			<span style="font-weight: 400; font-size: 13pt">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Uống nhiều nước</span></font></p>
    <p class="MsoNormal" style="line-height: 150%; text-align:left">
        <font face="Times New Roman">
			<span style="font-weight: 400; font-size: 13pt">Những việc không
			nên làm:</span></font></p>
    <p class="MsoNormal" style="text-indent: -.25in; line-height: 150%; margin-left: .5in; text-align:left">
        <font face="Times New Roman">
			<span style="font-weight: 400; font-size: 13pt">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Sinh hoạt tình dục quá độ</span></font></p>
    <p class="MsoNormal" style="text-indent: -.25in; line-height: 150%; margin-left: .5in; text-align:left">
        <font face="Times New Roman">
			<span style="font-weight: 400; font-size: 13pt">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Đại tiện táo bón nhiều lần</span></font></p>
    <p class="MsoNormal" style="line-height: 150%; text-align:left">
        <font face="Times New Roman">
			<span style="font-weight: 400; font-size: 13pt">Một số món ăn bài
			thuốc chữa bệnh sa tử cung</span></font></p>
    <p class="MsoNormal" style="line-height: 150%; text-align:left">
        <font face="Times New Roman">
			<span style="font-size: 13pt; font-weight: 700">Cháo bổ hư chính
			khí:</span><span style="font-weight: 400; font-size: 13pt"> Hoàng kỳ 30g, nhân sâm 3g, gạo tẻ 150g, đường trắng một ít.
			Cho nhân sâm và hoàng kỳ đổ nước sắc lấy nước 2 lần sắc rồi trộn lẫn
			với nhau, chia đôi nước thuốc sắc này. Mỗi lần cho gạo vào nấu thành
			cháo thì lấy 1 phần nước thuốc. Nấu cháo làm 2 bữa, sáng sớm và buổi
			tối mỗi ngày. Khi ăn cho vào cháo ít đường, cần ăn thường xuyên.</span></font></p>
    <p class="MsoNormal" style="line-height: 150%; text-align:left">
        <font face="Times New Roman">
			<span style="font-size: 13pt; font-weight: 700">Lá hẹ xào bầu dục
			lợn: </span><span style="font-weight: 400; font-size: 13pt">Lá hẹ tươi 100g, bầu dục lợn 1 quả, dầu thực vật, muối. Đặt
			chảo lên bếp, khi chảo nóng đổ dầu thực vật vào, một lát sau mới cho
			bầu dục đã thái lát đảo đều, bầu dục sắp chín thì mới cho tiếp hẹ
			đảo qua, nêm ít muối vào là được. Mỗi ngày ăn 1 lần.</span></font></p>
    <p class="MsoNormal" style="line-height: 150%; text-align:left">
        <font face="Times New Roman">
			<span style="font-size: 13pt; font-weight: 700">Gà hầm thăng ma,
			hoàng kỳ: </span><span style="font-weight: 400; font-size: 13pt">Thăng ma 15g, hoàng kỳ 30g, gà mái 1 con, gia vị vừa
			đủ. Mổ gà làm sạch moi bỏ ruột, cho thăng ma và hoàng kỳ vào bụng gà
			bỏ vào đồ đựng gà, đổ thêm 500ml nước cùng gia vị, sau cho vào nồi
			hầm cách thủy đến nhừ là được. Xem đây là một liều được chia ra làm
			3 phần, mỗi ngày ăn 1 phần. Cần ăn liền 3 liều như vậy là một liệu
			trình. </span></font> </p>
    <p class="MsoNormal" style="line-height: 150%; text-align:left">
        <font face="Times New Roman">
			<span style="font-size: 13pt; font-weight: 700">Ruột già lợn hầm
			ba kích:</span><span style="font-weight: 400; font-size: 13pt"> Ruột già lợn 250g, ba kích 50g, hành, gừng, muối, mì
			chính. Làm sạch ruột già lợn, sau cho ba kích nhồi vào trong ruột
			già lợn. Cho vào nồi nêm gia vị và nước, đặt lên bếp nổi to lửa đến
			sôi sau hạ lửa và hầm đến khi lòng lợn nhừ là được. Cách 1 ngày ăn 1
			lần. Cần ăn thường xuyên.</span></font></p>
    <p class="MsoNormal" style="line-height: 150%; text-align:left">
        <font face="Times New Roman">
            <span style="font-size: 13pt; font-weight: 700">Canh rùa đen:</span><span style="font-weight: 400; font-size: 13pt">
			Rùa đen 1 con, cho vào trong nước nóng ấm để thải ra hết bẩn sau đó
			mới thả dìm vào trong nước sôi, vớt ra làm thịt, bỏ đầu móng. Cho
			rùa vào nồi đất, đổ nước vừa phải, đặt nồi lên bếp nổi to lửa đến
			sôi lại hạ lửa nhỏ riu riu hầm đến khi thịt rùa nhừ là được. Mỗi
			ngày ăn 1 lần. Cần ăn thường xuyên.</span></font></p>
</font>


</h3>