﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
 <font color="#000000" size="5">
    <p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        &nbsp;</p>
    <p class="subtitle" style="text-align: center; line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <b><span style="line-height: 150%; color: #333333">Chế độ ăn uống,
			sinh hoạt phòng và chữa bệnh nhiễm giun sán</span></b></p>

    <p class="subtitle" style="text-align: justify; text-indent: .5in; line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%">
			<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/rua-tay-phong-giun-san.jpg" width="290" height="240" align="left" lowsrc="Rửa%20tay%20thường%20xuyên%20phòng%20bệnh%20giun%20sán" longdesc="Rửa tay thường xuyên phòng bệnh giun sán" alt="Rửa tay thường xuyên phòng bệnh giun sán">Bệnh
			nhiễm giun, sán là bệnh có thể gặp bất cứ ở lứa tuổi nào nếu vệ sinh
			không tốt, ăn uống không hợp vệ sinh. Trẻ em chính là đối tượng dễ
			bị nhiễm giun, sán nhiều nhất. Bài viết dưới đây xin giới thiệu chế
			độ ăn uống sinh hoạt phòng và chữa bệnh giun sán.</span></p>
    <p class="subtitle" style="text-align: justify; text-indent: .5in; line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%">Do giun sán
			thường được đưa vào cơ thể qua đường tiêu hóa: do đồ ăn không sạch,
			đồ ăn chưa được nấu chín kỹ, uống nước chưa đun sôi, hoặc do tay bẩn,
			nước sinh hoạt không đảm bảo vệ sinh, do tiếp xúc trực tiếp với môi
			trường gây bệnh như: chó, mèo, ... Do đó việc giữ gìn vệ sinh đóng
			vai trò quan trọng trong việc phòng và điều trị bệnh giun sán.</span></p>
    <p class="subtitle" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; line-height: 150%">
			Trước tiên cần cách ly nguồn nhiễm bệnh. Vệ sinh môi trường sống
			sạch sẽ. Quản lý phân và chất thải đúng quy định. Nhà vệ sinh cần
			được khử trùng thường xuyên.</span></p>
    <p class="subtitle" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; line-height: 150%">Nếu
			gia đình có chăn nuôi cần xây dựng cách xa khu vực sinh hoạt, để
			tránh lây nhiễm nguồn bệnh từ vật nuôi, phân vật nuôi.</span></p>
    <p class="subtitle" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; line-height: 150%">Giữ
			thói quen rửa tay bằng xà phòng trước khi ăn và sau khi đi vệ sinh.</span></p>
    <p class="subtitle" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; line-height: 150%">Nên
			mang giầy dép thường xuyên, không đi chân đất, để trẻ bò lê la dưới
			đất.</span></p>
    <p class="subtitle" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; line-height: 150%">
			Thường xuyên cắt ngắn móng tay vì móng tay là nơi chứa nhiều vi
			khuẩn và khó vệ sinh, dễ lây lan trứng giun, sán khi chạm vào thực
			phẩm, đồ uống, hoặc khi đưa tay lên miệng.</span></p>
    <p class="subtitle" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; line-height: 150%">
			Người lớn sau khi tiếp xúc với các loại vật nuôi cần vệ sinh sạch sẽ
			tay chân bằng xà phòng, Trẻ con không nên cho tiếp xúc với các con
			vật nuôi: chó, mèo.</span></p>
    <p class="subtitle" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; line-height: 150%">Nên
			tắm rửa, vệ sinh thân thể hàng ngày bằng nước sạch.</span></p>
    <p class="subtitle" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; line-height: 150%">
			Thực hiện ăn chín, uống sôi.</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; line-height: 150%">
			Ngoài ra nên tẩy giun định kỳ 6 tháng 1 lần.</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; margin-left: .25in">
			<span style="font-size: 14.0pt; line-height: 150%">Bên cạnh đó cần
			thường xuyên quan tâm, chăm sóc sức khỏe bản thân, đi khám sức khỏe
			định kỳ, phát hiện sớm và điều trị bệnh kịp thời.</span></p>
</font>

</h3>