﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <p class="subtitle" style="text-align: center; line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white"><font color="#000000" size="5">
        <b><span style="line-height: 150%; color: #333333">Chế độ ăn uống,
			sinh hoạt </span></b>
    </font><font color="#333333" size="5">
        <b>c<span style="background-color: #FFFFFF; background-position: 0% 0%">hữa
			bệnh nghiến răng</span></b></font></p>
</font><font color="#333333">
    <p style="text-align: justify; text-indent: .5in; line-height: 150%; vertical-align: baseline; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
			<span style="font-size: 14.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/che-do-an-cho-benh-nghien-rang2.jpg" width="251" height="201" lowsrc="Chế%20độ%20ăn%20cho%20bệnh%20nghiến%20răng" longdesc="Chế độ ăn cho bệnh nghiến răng" alt="Chế độ ăn cho bệnh nghiến răng" align="left">Nếu
			thỉnh thoảng bạn hoặc con bạn mới nghiến răng thì nó không gây hại
			nhiều, tuy nhiên với một số người bị bệnh nghiến răng mãn tính trong
			một thời gian dài thì nó sẽ ảnh hưởng lớn đến sức khỏe răng miệng.
			Nghiến răng nhiều có thể bào mòn men răng, răng trở nên nhạy cảm,
			gây ra các vấn đề đau nhức ở ham, ảnh hưởng tới giấc ngủ.</span></p>
    <p style="text-align: center; text-indent: .5in; line-height: 150%; vertical-align: baseline; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
			<span style="font-size: 14.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			Các nhà khoa học đã chỉ ra rằng: nghiến răng có liên quan mật thiết
			tới sự căng thẳng và chế độ dinh dưỡng. Do đó để khắc phục tình
			trạng nghiến răng thì cần phải loại bỏ hai yếu tố cơ bản này.</span></p>
    <p style="text-align: justify; text-indent: .5in; line-height: 150%; vertical-align: baseline; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
        <b>
			<span style="font-size: 14.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			Đầu tiên:</span></b><span style="font-size: 14.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			cần phải lấy đi sự căng thẳng ở những người bị bệnh nghiến răng bằng
			cách: tạo ra các kỳ nghỉ bên cạnh công việc, sự nghiệp học hành. Tập
			thể dục (tập yoya) giúp giảm bớt căng thẳng. Massage mặt có tác dụng
			rất tốt cho những người bị nghiến răng. Tạo cảm giác thư giãn khi
			ngủ bằng tinh dầu của các loại hoa như tinh dầu oải hương.</span></p>
    <p style="text-align: justify; text-indent: .25in; line-height: 150%; vertical-align: baseline; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
        <b>
			<span style="font-size: 14.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			Chế độ dinh dưỡng cho người bị nghiến răng</span></b></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
			<span style="font-size: 14.0pt; line-height: 150%">
			<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/che-do-an-cho-benh-nghien-rang1.jpg" width="292" height="173" align="left"></span><span style="font-size: 14.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0in">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Nên ăn đa dạng các loại thực phẩm, không nên ăn chay, việc ăn
			chay không đảm bảo cung cấp đủ dinh dưỡng cho cơ thể khiến răng
			miệng dễ bị tổn thương</span></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
			<span style="font-size: 14.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Bổ sung canxi trong bữa ăn hàng ngày. Các thực phẩm giàu
			canxi: sữa, các loại hải sản, rong biển, cá</span></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
			<span style="font-size: 14.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Bổ sung magie và kẽm giúp hấp thu canxi tốt hơn. Thực phẩm
			giàu magie và kẽm bao gồm: chuối, cà chua, </span>
			<span style="font-size: 14.0pt; line-height: 150%">vỏ khoai tây, vỏ
			cam hoặc nước cam</span></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
			<span style="font-size: 14.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Bổ sung vitamin B5 cho người bị nghiến răng từ các loại thực
			phẩm tự nhiên như: cá, thịt gà, trứng.</span></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
			<span style="font-size: 14.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Nên bổ sung vitamin C cho cơ thể bằng việc ăn nhiều các loại
			trái cây họ cam quýt</span></p>
    <p style="text-align: justify; text-indent: .5in; line-height: 150%; vertical-align: baseline; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: 12.5pt">
			<span style="font-size: 14.0pt; line-height: 150%">Nếu sau khi đã áp
			dụng các biện pháp trên mà tình trạng nghiến răng vẫn còn thì cần
			nghĩ tới việc nguyên nhân do ký sinh trùng gây ra. Khi đó cần phải
			điều trị nguyên nhân này.</span></p>
    <p style="text-align: justify; text-indent: .5in; line-height: 150%; vertical-align: baseline; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: 12.5pt">
			<span style="font-size: 14.0pt; line-height: 150%">Ngoài những biện
			pháp trên thì để răng của bạn khỏe mạnh biện pháp tối ưu đưa ra:
			dùng chỉ nha khoa thường xuyên, sử dụng kem đánh răng có fluoride,
			khám răng định kỳ, lấy cao răng định kỳ. Hạn chế đồ uống nhiều đường,
			các loại thực phẩm có nhiều axit. Sau khi ăn nên súc miệng bằng nước
			muối ấm giúp bảo vệ răng khỏi các loại vi khuẩn.</span></p>
    <p style="text-align: justify; text-indent: .5in; line-height: 150%; background: white">
			<span style="font-size: 14.0pt; line-height: 150%">Trên đây là một
			số lời khuyên dành cho những người bị nghiến răng, cho dù bạn là ai
			nếu bị nghiến răng cũng nên điều trị sớm, và áp dụng chế độ ăn uống
			sinh hoạt hợp lý.</span></p>
</font></h3>