﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <p class="subtitle" style="text-align: center; line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white"><font color="#000000" size="5">
        <b><span style="line-height: 150%; color: #333333">Chế độ ăn uống</span></b></font><font color="#333333" size="5"><b>
			<span style="background-color: #FFFFFF; background-position: 0% 0%">
			phòng và chữa bệnh viêm lợi</span></b></font></p>
    <p class="subtitle" style="text-align: center; line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background-image:none; background-repeat:repeat; background-attachment:scroll">
        &nbsp;</p><font color="#000000" size="5">
</font><p style="text-align: justify; text-indent: .5in; line-height: 150%; margin: 5.2pt 0in; background: white"><font color="#000000" size="5">
			<span style="font-size: 14.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/che-do-an-viem-loi.jpg" width="284" height="178" lowsrc="Chế%20độ%20ăn%20bệnh%20viêm%20lợi" longdesc="Chế độ ăn bệnh viêm lợi" alt="Chế độ ăn bệnh viêm lợi" align="left"></span></font><span style="line-height: 150%; border: 1.0pt none windowtext; padding: 0in"><font color="#000000" style="font-size: 13pt">Viêm lợi là giai đoạn đầu của bệnh nướu răng, thường kết hợp với
    nướu đỏ, sưng, và chảy máu. Nếu không được điều trị kịp thời có thể
    phát triển thành bệnh nha chu. Các nhà khoa học đã chỉ ra rằng bên
    cạnh việc vệ sinh răng miệng sạch sẽ hàng ngày thì các chất dinh
    dưỡng có liên quan tới sức khỏe răng miệng của bạn. Một số loại thực
    phẩm có tác dụng rất tốt trong việc phòng và chữa bệnh viêm lợi.
</font>
			</span><font color="#000000" size="5">
			<span style="font-size:13pt;line-height:150%">Một chế độ ăn
			có nhiều chất xơ có thể bảo vệ chống lại các bệnh về nướu bằng cách
			thúc đẩy sự tiết nước bọt<span style="color:#444444">. </span>
			</span></font></p><font color="#000000" size="5">
    <p style="margin:0in;margin-bottom:.0001pt;text-align:justify;text-indent:.5in;
line-height:150%;vertical-align:baseline"><b>
			<span style="font-size: 13pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			Những thực phẩm được khuyên dùng:</span></b></p>
    <font color="#000000" style="font-size: 13pt">
    </font><p style="text-align: justify; text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt"><font color="#000000" style="font-size: 13pt">
			<span style="line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			-</span></font><font color="#000000" size="5"><span style="border:1.0pt none windowtext; padding:0in; font-style:normal; font-variant:normal; font-weight:normal; font-size:13pt; font-family:Times New Roman; line-height:150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span><font color="#000000" style="font-size: 13pt">
			<span style="line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			Các loại trái cây họ cam, quýt như: bưởi, chanh, cam, quýt,...
			rất giàu vitamin C, chất chống oxy hóa cao giúp thúc đẩy việc sửa
			chữa mô trong cơ thể, chống lại các loại nhiễm trùng. Tuy nhiên các
			loại trái cây có vị chua này cũng có tính axit rất cao có thể gây
			hại cho men răng của bạn, do đó bạn nên uống các loại nước trái cây
			này bằng ống hút để hạn chế sự tiếp xúc của các loại axit này với
			men răng.</span></font></font></p><font color="#000000" size="5"><font color="#000000" style="font-size: 13pt">
</font><p style="text-align: justify; text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt"><font color="#000000" style="font-size: 13pt">
			<span style="line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			-</span></font><font color="#000000" size="5"><span style="border:1.0pt none windowtext; padding:0in; font-style:normal; font-variant:normal; font-weight:normal; font-size:13pt; font-family:Times New Roman; line-height:150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span><font color="#000000" style="font-size: 13pt">
			<span style="line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			Các loại rau như măng tây, bông cải xanh, cải xoăn, cải bắp,
			rau bina và củ cải xanh,... là những thực phẩm giàu vitamin E, axit
			folic và chất chống oxy hóa giúp bảo vệ răng khỏi bị hư hại. Nghiên
			cứu chỉ ra rằng người bị thiếu hụt axit folic dễ bị các mảng bám tấn
			công, nguy cơ bị viêm lợi cao hơn so với những người khác.</span></font></font></p><font color="#000000" size="5"><font color="#000000" style="font-size: 13pt">
</font><p style="text-align: justify; text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt"><font color="#000000" style="font-size: 13pt">
			<span style="line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			-</span></font><font color="#000000" size="5"><span style="border:1.0pt none windowtext; padding:0in; font-style:normal; font-variant:normal; font-weight:normal; font-size:13pt; font-family:Times New Roman; line-height:150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span><font color="#000000" style="font-size: 13pt">
			<span style="line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			Các loại cá: cá hồi, cá ngừ, cá mòi, cá trích... chứa lượng
			protein, omega 3 &nbsp;dồi dào. Đây là những chất cần thiết cho sự phát
			triển của nha chu khỏe mạnh. Nghiên cứu được công bố trên tạp chí
			American Diectetic Asociation cho thấy tăng cường tiêu thụ các axit
			béo omega-3 giúp giảm nguy cơ mắc các bệnh về nướu.<span class="apple-converted-space">&nbsp;Ngoài
			ra </span>Các protein được tìm thấy trong các loại cá trên cũng có
			thể hỗ trợ khả năng miễn dịch, chống lại những nhiễm trùng.</span></font></font></p><font color="#000000" size="5"><font color="#000000" style="font-size: 13pt">
</font><p style="text-align: justify; text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt"><font color="#000000" style="font-size: 13pt">
			<span style="line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			-</span></font><font color="#000000" size="5"><span style="border:1.0pt none windowtext; padding:0in; font-style:normal; font-variant:normal; font-weight:normal; font-size:13pt; font-family:Times New Roman; line-height:150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span><font color="#000000" style="font-size: 13pt">
			<span style="line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			Các loại hạt như: hạt điều, hạnh nhân, quả óc chó...giàu
			vitamin, chất xơ, protein và khoáng chất, đặc biệt là kẽm – có tác
			dụng chống lại các vi khuẩn gây bệnh nướu răng.</span></font></font></p><font color="#000000" size="5"><font color="#000000" style="font-size: 13pt">
</font><p style="text-align: justify; text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt"><font color="#000000" style="font-size: 13pt">
			<span style="line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			-</span></font><font color="#000000" size="5"><span style="border:1.0pt none windowtext; padding:0in; font-style:normal; font-variant:normal; font-weight:normal; font-size:13pt; font-family:Times New Roman; line-height:150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span><font color="#000000" style="font-size: 13pt">
			<span style="line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			Gừng: không chỉ là một loại thảo dược chữa bệnh mà còn có tác
			dụng chống viêm, thúc đẩy các mô khỏe mạnh trong miệng.</span></font></font></p><font color="#000000" size="5"><font color="#000000" style="font-size: 13pt">
</font><p style="text-align: justify; text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt"><font color="#000000" style="font-size: 13pt">
			<span style="line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			-</span></font><font color="#000000" size="5"><span style="border:1.0pt none windowtext; padding:0in; font-style:normal; font-variant:normal; font-weight:normal; font-size:13pt; font-family:Times New Roman; line-height:150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span><font color="#000000" style="font-size: 13pt">
			<span style="line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			Sữa và một số sản phẩm từ sữa như phomat có tác dụng trung
			hòa nồng độ axit trong miệng, hạn chế, hạn chế vi khuẩn mảng bám
			phát triển, ngoài ra còn giàu canxi – rất cần thiết cho răng.</span></font></font></p><font color="#000000" size="5"><font color="#000000" style="font-size: 13pt">
</font><p style="text-align: justify; text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt"><font color="#000000" style="font-size: 13pt">
			<span style="line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			-</span></font><font color="#000000" size="5"><span style="border:1.0pt none windowtext; padding:0in; font-style:normal; font-variant:normal; font-weight:normal; font-size:13pt; font-family:Times New Roman; line-height:150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span><font color="#000000" style="font-size: 13pt">
			<span style="line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			Hành tây được chứng minh là có tác dụng rất tốt trong việc
			chống lại các loại vi khuẩn ở miệng. Tuy nhiên sau khi ăn hành tây
			thường để lại mùi khó chịu, vì thế nên súc miệng sạch sau khi ăn
			hành tây.</span></font></font></p><font color="#000000" size="5"><font color="#000000" style="font-size: 13pt">
</font>
    <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.25in;
margin-bottom:.0001pt;text-align:justify;text-indent:.25in;line-height:150%;
vertical-align:baseline"><b>
			<span style="font-size: 13pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			Thực phẩm nên hạn chế:</span></b></p>
    <font color="#000000" style="font-size: 13pt">
    </font><p style="text-align: justify; text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt"><font color="#000000" style="font-size: 13pt">
			<span style="line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			-</span></font><font color="#000000" size="5"><span style="border:1.0pt none windowtext; padding:0in; font-style:normal; font-variant:normal; font-weight:normal; font-size:13pt; font-family:Times New Roman; line-height:150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span><font color="#000000" style="font-size: 13pt">
			<span style="line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			Hạn chế đồ ngọt có đường và các thực phẩm có tính axit trong
			chế độ ăn uống.</span></font></font></p><font color="#000000" size="5"><font color="#000000" style="font-size: 13pt">
    </font><p style="text-align: justify; text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt"><font color="#000000" style="font-size: 13pt">
			<span style="line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			-</span></font><font color="#000000" size="5"><span style="border:1.0pt none windowtext; padding:0in; font-style:normal; font-variant:normal; font-weight:normal; font-size:13pt; font-family:Times New Roman; line-height:150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span><font color="#000000" style="font-size: 13pt">
			<span style="line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			Hút thuốc lá làm miệng bạn bị hôi, thúc đẩy các loại vi khuẩn
			trong khoang miệng phát triển.</span></font></font></p><font color="#000000" size="5"><font color="#000000" style="font-size: 13pt">
    </font><p style="text-align: justify; text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt"><font color="#000000" style="font-size: 13pt">
			<span style="line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			-</span></font><font color="#000000" size="5"><span style="border:1.0pt none windowtext; padding:0in; font-style:normal; font-variant:normal; font-weight:normal; font-size:13pt; font-family:Times New Roman; line-height:150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span><font color="#000000" style="font-size: 13pt">
			<span style="line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			Các loại thực phẩm tinh chế chứa nhiều carbohydrate, muối,
			rượu, và các chất phụ gia đều không tốt cho bệnh viêm lợi.</span></font></font></p><font color="#000000" size="5"><font color="#000000" style="font-size: 13pt">
    </font>
        <p style="margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:.25in;
margin-bottom:.0001pt;text-align:justify;text-indent:.25in;line-height:150%;
vertical-align:baseline">
			<span style="font-size: 13pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			Trên đây là một số hướng dẫn về chế độ ăn giúp phòng và chữa bệnh
			viêm lợi. Ngoài việc áp dụng chế độ ăn thì cần chú ý chăm sóc răng
			miệng thường xuyên, đúng cách.</span></p>
    </font>
    </font>
    </font>
</font>
</font>
</font>
</font>
</font>
</font>
</font>
</font>
</h3>