﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
<font color="#000000" size="5">
    <p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        &nbsp;</p>
    <p class="subtitle" style="text-align: center; line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <b><span style="line-height: 150%; color: #333333">Chế độ ăn uống
			kiêng kị cho bệnh tràn dịch màng phổi</span></b></p>

    <p class="subtitle" style="text-align: justify; text-indent: .5in; line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%">Chế độ ăn uống
			đóng vai trò quan trọng đối với sức khỏe con người. Với người khỏe
			mạnh chế độ ăn uống đã quan trọng nhưng với người bị bệnh thì chế độ
			ăn uống lại càng quan trọng hơn. Đối với người bị tràn dịch màng
			phổi thì nên có chế độ ăn uống như thế nào cho hợp lý? Thực phẩm nào
			nên ăn? Thực phẩm nào không nên ăn? Bài viết dưới đây sẽ giới thiệu
			chế độ ăn uống cho người bị tràn dịch màng phổi.</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
			<span style="font-size: 14.0pt; line-height: 150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>
                Những việc nên làm khi bị tràn dịch màng phổi</b></span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .25in">
			<span style="font-size: 14.0pt; line-height: 150%">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; line-height: 150%">
			Người bị tràn dịch màng phổi nên hạn chế lượng natri đưa vào cơ thể
			hàng ngày. Nên ăn các thực phẩm tươi sống, hạn chế các loại thực
			phẩm đóng gói, chế biến sẵn. Trái cây, rau, gạo là những thực phẩm
			tự nhiên chứa ít natri, tốt cho sức khỏe. Người đang bị hoặc có tiền
			sử tràn dịch màng phổi có thể thay thế các loại gia vị bằng các loại
			thảo mộc tự nhiên.</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .25in">
			<span style="font-size: 14.0pt; line-height: 150%">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; line-height: 150%">
			Nước ép trái cây được chứng minh là rất tốt cho bệnh nhân bị tràn
			dịch màng phổi. Tuy nhiên nếu phổi của bạn tích lũy quá nhiều chất
			lỏng, bạn cần phải giới hạn lượng chất lỏng đưa vào cơ thể. Tùy vào
			mức độ nghiêm trọng của bệnh tràn dịch màng phổi mà lượng nước bạn
			tiêu thụ cũng thay đổi sao cho phù hợp. Các nhà khoa học khuyên bạn
			nên uống từ 6-9 ly nước mỗi ngày (bao gồm cả các loại soup, nước
			trái cây, cà phê, gelatin...)</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .25in">
			<span style="font-size: 14.0pt; line-height: 150%">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; line-height: 150%">Để
			kiểm soát dịch phổi người bệnh nên ăn đủ 3 bữa chính mỗi ngày kèm
			theo 2 bữa phụ. Bữa chính nên có đủ tinh bột, chất xơ, protein, các
			vitamin và khoáng chất. </span></p>
    <h2 style="text-align: justify; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
			<span style="font-family: Times New Roman; font-style: normal; border: 1.0pt none windowtext; padding: 0in">
			Những việc không nên làm khi bị tràn dịch màng phổi</span></h2>
    <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .25in">
			<span style="font-size: 14.0pt; line-height: 150%">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Uống bia, rượu, các loại đồ uống có cồn, có ga</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .25in">
			<span style="font-size: 14.0pt; line-height: 150%">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Hút thuốc lá</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .25in">
			<span style="font-size: 14.0pt; line-height: 150%">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Ăn mặn</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .25in">
			<span style="font-size: 14.0pt; line-height: 150%">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Ăn đồ chiên rán, đồ nướng, đồ ăn nhiều dầu mỡ</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .25in">
			<span style="font-size: 14.0pt; line-height: 150%">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Đồ cay, nóng dễ kích thích niêm mạc hỏng gây ho</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .25in">
			<span style="font-size: 14.0pt; line-height: 150%">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Đồ ăn chế biến sẵn, thực phẩm đóng gói, thực phẩm đông lạnh.</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: .25in; line-height: 150%">
			<span style="font-size: 14.0pt; line-height: 150%">Trên đây là một
			số lưu ý về chế độ ăn uống cho người bị tràn dịch màng phổi. Hy vọng
			với những lời khuyên này sẽ giúp bạn chăm sóc tốt hơn cho bạn và gia
			đình.</span></p>
</font>

</h3>