﻿<div id="noidung">
    <h1 style="text-align: center"><font size="5">Chế độ ăn cho bệnh đau thần kinh tọa</font></h1>




  <font color="#000000" size="3">
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
		<span style="font-size: 13.0pt; line-height: 150%; color: black; border: 1.0pt none windowtext; padding: 0cm">
		<img border="0" src="http://www.thaythuoccuaban.com/images/dau-than-kinh-toa.jpg" width="225" height="150" align="left">Đau
		thần kinh tọa </span>
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		xảy ra khi dây thần kinh hông, dây thần kinh ngoại vi bắt đầu ở lưng
		dưới của bạn và đi xuống mông và chân tay thấp hơn, bị nén, bị viêm hoặc
		bị kích thích. Các triệu chứng có thể bao gồm đau lưng dưới bức xạ mông,
		hông, chân và bàn chân, ngứa ran và tê tay chân của bạn thấp hơn, phối
		hợp suy giảm, đi lại khó khăn, các cơn co thắt cơ bắp không tự nguyện và
		yếu cơ.</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
		<span style="font-size: 13.0pt; line-height: 150%">Điều trị bệnh ngoài
		việc dùng thuốc kết hợp với châm cứu bấm huyệt cần kết hợp với chế độ ăn
		uống bổ sung một số loại vitamin có tác dụng giảm bớt áp lực thần kinh,
		giảm viêm, bớt khó chịu dây thần kinh bị viêm, đau, hoặc tổn thương, …</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
        <b>
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Vitamin B-6: </span></b>
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		được biết đến như pyridoxine, làm giảm đau thần kinh hông, cảm giác tê
		ngứa ran ở dây thần kinh hông, sửa chữa những tổn thương của dây thần
		kinh hông, có tác dụng hỗ trợ sản xuất hồng cầu, tổng hợp protein và
		tăng sản xuất dopamine và serotonin, chất dẫn truyền thần kinh có hỗ trợ
		hệ thống trung tâm thần kinh của bạn.</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Thực phẩm giàu vitamin B6 gồm có: chuối, đậu garbanzo, bơ đậu phộng,
		nước ép cà chua, rau bina, đậu nành, hạt hướng dương, quả óc chó, thịt
		gia cầm và cám lúa mì.</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
        <b>
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Vitamin B-9: </span></b>
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		còn được gọi là axit folic, làm tăng sản xuất tế bào máu đỏ, viện trợ
		trong việc tái tạo tế bào, hỗ trợ tổng hợp DNA, làm giảm đau dây thần
		kinh hông ở lưng và chân tay. Ngoài ra có tác dụng cải thiện phối hợp
		cơ, bảo vệ dây thần kinh hông của bạn khi nó bị tổn thương, có tác dụng
		hỗ trợ phát triển thần kinh phôi thai và hỗ trợ trong việc hình thành
		ống thần kinh, mà cuối cùng phát triển thành hệ thống thần kinh trung
		ương trong một bào thai đang phát triển.</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Thực phẩm giàu vitamin B-9 bao gồm măng tây, đậu, đậu Hà Lan, đậu lima,
		ngũ cốc, nấm, gan, bông cải xanh, nước cam, quả bơ và củ cải xanh.</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
        <b>
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Vitamin B-12</span><span style="font-size: 13.0pt; line-height: 150%">:
		</span></b>
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		còn được gọi là cobalamin, cải thiện chức năng hệ thần kinh, sửa chữa
		thiệt hại dây thần kinh hông, hỗ trợ trong việc tái tạo tế bào, tăng
		cường cơ yếu, ngăn ngừa co cơ không cố ý, cải thiện phối hợp cơ, giảm
		viêm và kích thích thần kinh, làm giảm nguy cơ của bệnh thần kinh và làm
		giảm đau dây thần kinh hông ở lưng và chi dưới.</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Thực phẩm giàu vitamin B-12 bao gồm con hàu, cua, cá ngừ, cá hồi, thịt
		bò, tôm hùm, thịt cừu, gan, pho mát Thụy Sĩ, pho mát mozzarella, pho mát
		Parmesan, trứng và gan.</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
        <b>
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Vitamin C</span></b><span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		tăng cường hệ thống miễn dịch của bạn và bảo vệ dây thần kinh hông của
		bạn. Vitamin C làm giảm bớt đau dây thần kinh hông, sửa chữa tổn thương
		thần kinh, tăng tốc quá trình chữa bệnh, cải thiện chức năng hệ thống
		thần kinh và làm giảm viêm dây thần kinh.</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Thực phẩm giàu vitamin C bao gồm cam, bưởi, dứa, cà chua, rau bina, mù
		tạc, rau bina, dâu tây, anh đào, dưa đỏ và bắp cải.</span></p>
   </font></div>