﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <h1>Chế độ ăn cho bệnh đau nửa đầu</h1>
<p style="text-align: justify; vertical-align: baseline; margin-bottom: .0001pt; background: white"><font color="#000000" size="3">
		<span style="font-size: 13.0pt; font-style: italic; font-weight: 700">
		<img border="0" src="http://www.thaythuoccuaban.com/images/sua-chua-lam-giam-dau-nua-dau.jpg" width="281" height="188" align="left"></span></font><span style="font-style: italic; font-weight: 700"><font color="#000000" size="3">Đau
    nửa đầu là một bệnh khá phổ biến hiện nay. Phụ nữ thường là những người
    bị<span class="apple-converted-space">&nbsp;</span></font></span><font color="#000000" size="3"><span style="font-size: 12pt; color: #555555; font-style: italic; font-weight: 700"><a title="Bị đau nửa đầu nên tập thể dục như thế nào" style="text-decoration: underline; text-underline: single" href="http://daunuadau.com/chua-benh-dau-nua-dau/bi-dau-nua-dau-nen-tap-the-duc-nhu-the-nao.html"><span style="border: 1.0pt none windowtext; padding: 0in">đau
		nửa đầu</span></a></span><span style="font-size: 12pt; font-style: italic; font-weight: 700"><span class="apple-converted-space">&nbsp;</span>nhiều
		hơn nam giới. Chế độ ăn uống được ví như là một liều thuốc hữu hiệu trong điều trị bệnh đau nửa đầu.</span></font></p><font color="#000000" size="3">
    <p style="text-align: justify; vertical-align: baseline; orphans: 2; widows: 2; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; word-spacing: 0px; margin-bottom: .0001pt; background: white">
		<span style="font-size: 12pt">Bệnh nhân đau nửa đầu có thể tham khảo chế
		độ ăn dưới đây:</span></p>
    <p style="text-align: justify; vertical-align: baseline; margin-bottom: .0001pt; background: white">
        <strong>
		<span style="font-size: 12pt; border: 1.0pt none windowtext; padding: 0in">
		Bệnh nhân đau nửa đầu nên có chế độ ăn giàu kali:</span></strong><span class="apple-converted-space"><span style="font-size: 12pt">&nbsp;</span></span><span style="font-size: 12pt">Kali
		sẽ rất hữu hiệu đối với những người<span class="apple-converted-space">&nbsp;</span></span><span style="font-size: 12pt; color: #555555"><a title="Đau nửa đầu bên trái" style="text-decoration: underline; text-underline: single" href="http://daunuadau.com/benh-dau-nua-dau/dau-nua-dau-ben-trai.html"><span style="border: 1.0pt none windowtext; padding: 0in">đau
		nửa đầu</span></a></span><span style="font-size: 12pt"><span class="apple-converted-space">&nbsp;</span>có
		kèm theo nôn nao, khó chịu. Chuối và khoai tây còn nguyên vỏ là những
		thực phẩm chứa nhiều kali nhất.</span><span id="more-94"></span></p>
    <p style="text-align: justify; vertical-align: baseline; margin-bottom: .0001pt; background: white">
        <strong>
		<span style="font-size: 12pt; border: 1.0pt none windowtext; padding: 0in">
		Đau nửa đầu nên uống nhiều nước:</span></strong><span class="apple-converted-space"><span style="font-size: 12pt">&nbsp;</span></span><span style="font-size: 12pt">Thiếu
		nước gây đau đầu, nếu bạn lười uống nước thì ăn dưa hấu để bổ sung nước
		sẽ là một cách thông minh. Trong nước tự nhiên có nhiều magie giúp giảm
		bớt chứng đau nửa đầu. Một số loại quả có nhiều magie và nước được
		khuyên dùng như: dưa hấu, quả lê, rau diếp,…</span></p>
    <p style="text-align: justify; vertical-align: baseline; margin-bottom: .0001pt; background: white">
        <strong>
		<span style="font-size: 12pt; border: 1.0pt none windowtext; padding: 0in">
		Chế độ ăn giàu canxi:</span></strong><span class="apple-converted-space"><span style="font-size: 12pt">&nbsp;</span></span><span style="font-size: 12pt">Bổ
		sung canxi giúp cho não hoạt động tốt hơn, điều đó sẽ làm giảm các triệu
		chứng đau nửa đầu. Canxi có nhiều trong các thực phẩm từ bơ, sữa, sữa
		chua.</span></p>
    <p style="text-align: justify; vertical-align: baseline; margin-bottom: .0001pt; background: white">
        <strong>
		<span style="font-size: 12pt; border: 1.0pt none windowtext; padding: 0in">
		Nên ăn nhiều Cacbohydrates</span></strong><span style="font-size: 12pt">:
		Nếu chế độ ăn thiếu chất này cũng dễ gây đau nửa đầu. Thường thì những
		người có chế độ ăn kiêng thường thiếu chất này do ăn ít các loại thực
		phẩm nguyên hạt như: lúa mì, lúa mạch, trái cây và sữa chua. Ăn đủ lượng
		cacbohydrates sẽ làm dịu cơn đau và giúp giải phóng serotonin.</span></p>
    <p style="text-align: justify; vertical-align: baseline; orphans: 2; widows: 2; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; word-spacing: 0px; margin-bottom: .0001pt; background: white">
        <strong>
		<span style="font-size: 12pt; border: 1.0pt none windowtext; padding: 0in">
		Magie rất quan trọng với bệnh đau nửa đầu:</span></strong><span class="apple-converted-space"><span style="font-size: 12pt">&nbsp;</span></span><span style="font-size: 12pt">Một
		số nghiên cứu chỉ ra rằng magie tìm thấy trong các loại quả như: hạnh
		nhân, chuối, mơ khô, …có tác dụng giảm cơn đau nửa đầu.</span></p>
    <p style="text-align: justify; vertical-align: baseline; orphans: 2; widows: 2; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; word-spacing: 0px; margin-bottom: .0001pt; background: white">
        <strong>
		<span style="font-size: 12pt; border: 1.0pt none windowtext; padding: 0in">
		Thực phẩm cay:</span></strong><span class="apple-converted-space"><b><span style="font-size: 12pt; border: 1.0pt none windowtext; padding: 0in">&nbsp;</span></b></span><span style="font-size: 12pt">như
		nước sốt ớt nóng có thể giúp bạn “hồi phục” trở lại sau cơn đau nửa đầu.
		Nếu nguyên nhân đau nửa đầu là do bệnh viêm xoang, những món ăn cay có
		thể giúp mở đường hô hấp, giảm áp lực và đau đầu kèm theo.</span></p>
    <p style="text-align: justify; vertical-align: baseline; orphans: 2; widows: 2; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; word-spacing: 0px; margin-bottom: .0001pt; background: white">
        <strong>
		<span style="font-size: 12pt; border: 1.0pt none windowtext; padding: 0in">
		Vitamin E</span></strong><span style="font-size: 12pt">: Bổ sung vitamin
		E có trong vừng đen sẽ rất có ích cho việc cân bằng estrogen giúp giảm
		các cơn<span class="apple-converted-space">&nbsp;</span></span><span style="font-size: 12pt; color: #555555"><a title="Chữa khỏi bệnh đau nửa đầu" style="text-decoration: underline; text-underline: single" href="http://daunuadau.com/chua-benh-dau-nua-dau/chua-khoi-benh-dau-nua-dau.html"><span style="border: 1.0pt none windowtext; padding: 0in">đau
		nửa đầu</span></a></span><span style="font-size: 12pt"><span class="apple-converted-space">&nbsp;</span>nhất
		là vào thời kì kinh nguyệt.</span></p>
    <p style="text-align: justify; vertical-align: baseline; orphans: 2; widows: 2; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; word-spacing: 0px; margin-bottom: .0001pt; background: white">
        <strong>
		<span style="font-size: 12pt; border: 1.0pt none windowtext; padding: 0in">
		Rau chân vịt (rau bi na)</span></strong><span class="apple-converted-space"><span style="font-size: 12pt">&nbsp;</span></span><span style="font-size: 12pt">là
		loại rau chứa nhiều các vitamin như: C, D, K,A, E ngoài tác dụng giảm
		huyết áp giảm các cơn đau đầu do huyết áp tăng cao. Vì thế người bị đau
		nửa đầu nên ăn nhiều loại rau này.</span></p>
</font></h3>