﻿<div id="noidung">

    <h1 style="text-align: center">&nbsp;&nbsp;&nbsp;<font size="5">&nbsp;&nbsp;&nbsp;&nbsp;Chế độ ăn uống, kiêng kị cho bệnh&nbsp;nhức đầu đau đầu</font></h1>
    <font color="#000000" size="3">
</font><div id="wrapper"><font color="#000000" size="3">
</font><div class="container" id="container"><font color="#000000" size="3">
</font><div class="span-24" id="contentwrap"><font color="#000000" size="3">
</font><div class="span-16"><font color="#000000" size="3">
</font><div id="content"><font color="#000000" size="3">
</font><div class="post-286 post hentry category-che-do-an-phong-va-chua-nhuc-dau-dau-dau" id="post-286"><font color="#000000" size="3">
</font><div class="entry"><font color="#000000" size="3">
    <p align="center" style="margin:0cm;margin-bottom:.0001pt;text-align:center">&nbsp;</p>
</font><font color="#000000" size="3"><font color="#000000">
</font>
    <font color="#000000" size="3">
        <p align="center" style="margin:0cm;margin-bottom:.0001pt;text-align:center">&nbsp;
        </p>
        <p style="TEXT-ALIGN: justify">
									<span style="font-size: 13.0pt; font-family: Times New Roman; font-style: italic; font-weight: 700">
									<a href="Chế%20độ%20ăn%20bệnh%20đau%20đầu">
                                        <img border="0" src="http://www.thaythuoccuaban.com/images/khoai-tay-nuong.jpg" width="200" height="258" lowsrc="Chế%20độ%20ăn%20bệnh%20đau%20đầu" longdesc="Chế độ ăn bệnh đau đầu" alt="Chế độ ăn bệnh đau đầu" align="left"></a>Đau đầu, nhức đầu là một bệnh mà không loại
									trừ bất kỳ ai, từ già, tới trẻ, từ nam giới
									cho tới phụ nữ, ai cũng có thể bị những cơn
									đau nhức đầu hành hạ. Chế độ ăn uống là một
									trong những hướng điều trị quan trọng đối
									với chứng bệnh đau đầu, nhức đầu. Dưới đây
									là một số thực phẩm có lợi cho chứng đau đầu
									nhức đầu:</span></p>
        <p style="TEXT-ALIGN: justify"><b>Khoai
            tây nướng tốt cho bệnh đau nhức đầu</b></p>
        <p style="TEXT-ALIGN: justify">Món ăn ngon
            miệng này sẽ giúp làm dịu bớt cơn đau, đặc
            biệt là những cơn đau đầu có liên quan đến
            chất cồn trong bia rượu. Cồn là chất gây lợi
            tiểu. Do đó, chúng không chỉ khử nước mà còn
            làm cơ thể mất đi những chất điện phân như
            kali. Ăn những thực phẩm giàu kali chính là
            biện pháp làm nhẹ bớt những “tàn tích” của
            chất cồn còn tồn tại trong cơ thể có liên
            quan đến việc đau đầu. Thật đáng ngạc nhiên
            là lượng kali trong một củ khoai tây nướng (còn
            cả vỏ) lên tới 721 mg. Trong khi đó, một
            khẩu phần chuối tương đương chỉ chứa 467 mg</p>
        <p style="TEXT-ALIGN: justify"><b>Thức ăn
            giàu carbonhydrate có tác dụng làm dịu thần
            kinh</b></p>
        <p style="TEXT-ALIGN: justify">Những người
            thường ăn thiếu tinh bột lưu ý: quá ít
            carbonhydrate trong khẩu phần có thể là
            nguyên nhân gây ra chứng đau đầu mà bạn đang
            gặp phải. Nếu chế độ ăn có quá ít
            carbonhydrate, mức dự trữ glycogen sẽ suy
            giảm – đây lại là nguồn năng lượng chính
            cung cấp cho não. Điều này còn đẩy nhanh khả
            năng mất nước trong cơ thể, gây ra sự thiếu
            nước. Bằng cách hạn chế nguồn năng lượng của
            não và gây ra sự mất nước, chế độ ăn có quá
            ít carbonhydrate chính là nguồn gốc gây ra
            những cơn đau đầu. Do đó, cần xây dựng một
            chế độ ăn giàu carbonhydrate bằng việc tập
            trung vào những loại thực phẩm như bánh mì
            làm từ bột mì thô, bột yến mạch, trái cây
            hoặc sữa chua. Một chế độ ăn giàu
            carbonhydrate còn giúp cải thiện tinh thần
            vì chúng kích thích cơ thể giải phóng ra
            nhiều serotonin, một hóc-môn có tác dụng làm
            dịu thần kinh.</p>
    </font></font></div><font color="#000000" size="3"><font color="#000000" size="3">
</font></font></div><font color="#000000" size="3"><font color="#000000" size="3">
</font></font></div><font color="#000000" size="3"><font color="#000000" size="3">
</font></font></div><font color="#000000" size="3"><font color="#000000" size="3">
</font></font></div><font color="#000000" size="3"><font color="#000000" size="3">
</font></font></div><font color="#000000" size="3"><font color="#000000" size="3">
</font></font></div><font color="#000000" size="3"><font color="#000000" size="3">
    <p class="MsoNormal" style="text-align:justify"><strong><i>
		<span style="font-size: 12.0pt; background: white">Nước giảm cơn đâu nửa
		đầu</span></i></strong></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size:12.0pt">
		<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/chua-dau-dau.jpg" width="267" title="Uống nước chữa nhức đầu" height="189" lowsrc="Uống%20nước%20chữa%20đau%20đầu" longdesc="Uống nước chữa đau đầu" alt="Uống nước chữa đau đầu" align="left">Theo chuyên gia dinh dưỡng Stella Metsova
		ở bang California (Mỹ), sự mất nước là nguyên nhân hàng đầu của những
		chứng nhức đầu. Nếu thời tiết nóng nực và bạn cảm thấy choáng váng,
		nhiều khả năng cơ thể của bạn đang trong tình trạng mất nước. </span>
    </p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">Vì vậy mỗi ngày,
		chúng ta nên bổ sung đủ từ 2-2,5 lít nước mỗi ngày (tương đương với 8
		ly) để cân bằng cơ thể. Thêm một lát chanh nhỏ vào ly nước cũng có tác
		dụng giải khát và giảm chứng đau đầu. Với những người thường xuyên tập
		luyện thể thao thì việc uống nhiều nước là vô cũng quan trọng đặc biệt
		là khi cảm thấy đuối sức và mệt mỏi trong và sau khi tập luyện.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">Hơn nữa, nước sẽ làm
		dễ dàng cho việc bài tiết các độc tố có thể là nguyên nhân của cơn đau
		đầu. Tuy nhiên, bạn chỉ nên uống nước lọc, nước hoa quả, chớ uống các
		loại nước có ga, có chứa chất cafein vì nó sẽ làm tăng cơn đau đầu của
		bạn.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-weight: 700; background-color: #FFFFFF; background-position: 0% 0%">
		Các loại trái cây tốt cho chứng đau đầu, nhức đầu</span></p>
    <p class="MsoNormal" style="text-align:justify">
        <span style="font-size:12.0pt">&nbsp;</span><strong><i><span style="font-size: 12.0pt; background: white">Dưa hấu</span></i></strong></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">Chúng ta đã biết mất
		nước là một trong những nguyên nhân chính gây đau đầu. Dưa hấu là một
		trong các thực phẩm chứa nhiều nước.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">Món sinh tố dưa hấu
		gồm 2 chén dưa đã tách hạt, 1/2 hũ sữa chua, chút xíu mật ong và 1/2
		thìa gừng thái nhỏ sẽ là lựa chọn tuyệt vời nhất giúp cung cấp nước cho
		cơ thể. </span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">Một số thực phẩm có
		nhiều nước khác là trái cây, cam, dâu, bưởi, dưa chuột, súp, bột yến
		mạch, cà chua và rau diếp, rau cải, rau chân vịt...</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size:12.0pt">Ngoài lượng nước tự nhiên dồi dào,
		<span style="background: white">rau xanh và trái cây còn chứa nhiều
		vitamin C và khoáng chất thiết yếu như ma-giê giúp giảm nhanh quá trình
		đau đầu hữu ích cho bạn hàng ngày.&nbsp;<span class="apple-converted-space">&nbsp;</span></span><span class="apple-converted-space"></span></span></p>
    <p class="MsoNormal" style="text-align:justify">
        <b>Chanh</b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        Một ly nước chanh chứa nhiều muối có thể giúp &nbsp;xóa một cơn đau đầu gần
        như tức thời. Việc hấp thu muối nói chung không được khuyến khích, nhưng
        trong trường hợp đau đầu, nó lại có tác dụng diệu kỳ.</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><strong>&nbsp;</strong></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><strong>
        <i>Táo</i></strong></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        Dùng táo trong mỗi bữa sáng sẽ giúp chữa trị cơn đau đầu do stress gây
        ra. Táo chứa các flavonoid thực vật giúp giảm huyết áp và vì thế giảm
        nguy cơ đau đầu.</p>
    <p class="MsoNormal" style="text-align:justify"><i>
        <span style="font-size: 12.0pt; background: white">&nbsp;</span></i><b><i>Dâu tây</i></b> </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/dau-tay-chua-dau-dau.jpg" width="253" height="199" title="Dâu tây chữa đau đầu" lowsrc="Dâu%20tây%20chữa%20đau%20đầu" longdesc="Dâu tây chữa đau đầu" alt="Dâu tây chữa đau đầu" align="left">Chứa nhiều vitamin C, một chất chống ô xy hóa có đặc tính giảm đau tốt.
        Một số cuộc nghiên cứu cho thấy vitamin C có thể giúp mọi người cảm thấy
        đau ít hơn sau khi bị gãy xương hoặc trải qua cuộc phẫu thuật chỉnh hình.</p>
    <p class="MsoNormal" style="text-align:justify">
        <span style="font-size:12.0pt">&nbsp;</span><strong><i>Chuối</i></strong></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Khi bị nhức đầu, bạn thường cảm thấy tinh thần mệt mỏi, chán chường,
        không muốn làm việc gì... </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Alkaloid trong chuối có thể giúp bạn <strong>
        <span style="font-weight: normal">giảm căng thẳng, </span></strong>hưng
        phấn tinh thần, tăng cường sự tự tin. </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Bên cạnh đó, vitamin B6 và tryptophan trong chuối còn giúp sản sinh
        lượng serotonin cao, giảm lo lắng, giận dữ, giúp giảm đau đầu rất tốt.</p>
    <p class="MsoNormal" style="text-align:justify">
        <span style="font-size:12.0pt">&nbsp;</span><strong><i>Bổ sung glycogen</i></strong></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Glucose là nguồn năng lượng chính cung cấp cho não, giúp kích thích các
        sợi thần kinh của não. Vì thế khi nguồn cung giảm sút, tình trạng đau
        đầu sẽ xuất hiện. </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Để phòng và hỗ trợ chữa bệnh, chế độ ăn của bạn cần những thực phẩm giàu
        glycogen như bí ngô giàu vitamin B6 và sắt, giúp tăng cường quá trình
        chuyển hóa glycogen thành glucose. </p>
    <p class="MsoNormal" style="text-align:justify">
		<span style="font-size:12.0pt"><strong><i>
            <span style="background: white">Các loại ngũ cốc</span></i></strong></span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">Ngũ cốc không chỉ là
		nguồn chất xơ dồi dào mà còn rất giàu magie – một khoáng chất có tác
		dụng làm dịu những cơn đau đầu trong thời kỳ kinh nguyệt của chị em phụ
		nữ. </span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="background: white">Những thực phẩm giàu magie khác như hải
		sản, các loại hạt, bơ, nho khô và rau lá xanh cũng nên được bổ sung hàng
		ngày.</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <span style="background: white">&nbsp;</span></p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <strong><i><span style="background: white">Cá hồi</span></i></strong></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Cá hồi rất giàu a xít béo omega 3 và vitamin D, chất giảm đau tốt. </p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">Omega 3- axit béo có
		chứa trong cá hồi, cá ngừ, cá thu, cá mòi, các loại hạt (Hạt lanh và dầu
		hạt lanh), rau xanh là chất béo lành mạnh có tính chất kháng viêm, hạn
		chế các bệnh liên quan đến viêm não. </span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">Chế độ ăn uống chứa
		lượng omega-3 hợp lí là cách tuyệt vời để giảm bớt những cơn đau đầu khó
		chịu của bạn.&nbsp;<span class="apple-converted-space">&nbsp;</span></span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size:12.0pt"><strong><i>
            <span style="background: white">Dầu oliu</span></i></strong></span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">Dầu oliu được biết
		đến là loại thực phẩm giàu chất chống oxy hóa, vitamin E – giúp cải
		thiện, lưu thông, giảm viêm và cân bằng hàm lượng hooc môn trong cơ thể,
		làm dịu bớt cơn đau đầu. </span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Dầu ô liu là một thực phẩm tốt thay thế bơ, vốn giàu chất béo bão hòa có
        thể làm yếu xương và gây đau nhức. Nhưng nhớ dùng dầu ô liu cẩn thận vì
        mỗi muỗng canh dầu này cung cấp tới 120 calo.</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="background: white">Những nguồn thực phẩm khác giàu vitamin
		E bao gồm dầu thực vật, các loại hạt, bơ…</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <br>
		<span style="font-size:12.0pt"><strong><i>
            <span style="background: white">Sữa chua</span></i></strong></span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        Khi bạn bị đau đầu, đó có thể là một dấu hiệu cảnh báo cơ thể của bạn
        đang bị thiếu calcium. Theo chuyên gia Palinski, đó là vì bộ não phụ
        thuộc vào calcium để hoạt động hiệu quả. </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="background: white">Chính vì vậy, cần chú ý tăng cường những
		thực phẩm chứa nhiều canxi trong bữa ăn như sữa chua không béo. Đây là
		một nguồn cung cấp canxi rất tốt cho cơ thể, không chứa đường mà lại có
		nhiều probiotic, những vi khuẩn rất có lợi cho ruột.</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Bên cạnh đó, hàm lượng vitamin B trong sữa chua lên men có một số lợi
        ích cho các chức năng của cơ thể như là tăng trưởng và phân chia. Các
        vitamin được biết như là riboflavin có thể góp phần tích lũy năng lượng
        và giảm đau đầu.</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Phô mai có thể giúp giảm đau. Chúng chứa hai dưỡng chất củng cố xương là
        can xi và vitamin D. Vitamin D có thể làm giảm cơn đau mãn tính, theo
        kết quả nhiều cuộc nghiên cứu.</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size:12.0pt"><strong><i>
            <span style="background: white">Hạt vừng</span></i></strong></span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">Hạt vừng giàu vitamin
		E, góp phần giữ cho mức estrogen luôn ổn định và ngăn ngừa chứng đau nửa
		đầu. Chúng có khả năng cải thiện sự tuần hoàn, lại giàu ma-giê nên có
		thể ngăn ngừa chứng đau đầu rất tốt.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-weight: 700; background-color: #FFFFFF; background-position: 0% 0%">
		Các loại rau tốt cho bệnh đau đầu, nhức đầu</span><span style="font-size:12.0pt"><br>
		<br>
		</span><b><i><span style="font-size: 12.0pt; background: white">Rau bina,
		rau chân vịt hay cải bó xôi</span></i></b></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">
		<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/rau-bina-chua-dau-dau.jpg" width="264" height="191" align="left">Rau bina đã được
		chứng minh là có tác dụng làm giảm huyết áp, ngăn ngừa nôn mửavà dịu bớt
		các cơn đau.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">Riboflavin- một loại
		vitamin B được tìm thấy trong rau chân vịt và một số loại rau xanh khác
		cũng giúp ích cho việc ngăn ngừa bệnh đau nửa đầu.<span class="apple-converted-space">&nbsp;</span></span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">Rau bó xôi. Việc
		thiếu hụt magnesium thường là thủ phạm gây ra chứng đau nửa đầu, như
		thường xảy ra trước một kỳ kinh nguyệt. Việc ăn rau bó xôi, loại thực
		phẩm chứa nhiều magnesium và các loại khoáng chất khác, đủ để vượt qua
		chứng bệnh này. Ngoài ra chuối, bơ, hạnh nhân và gạo lức cũng chứa nhiều
		magnesium.</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Rau xanh, như cải bó xôi, rau dền không chỉ có hàm lượng sắt cao mà còn
        chứa nhiều vitamin K giúp duy trì xương và các khớp xương vững chắc. Một
        nghiên cứu cho thấy người lớn tuổi nếu có nồng độ cao vitamin K trong
        máu thì ít có khả năng bị viêm khớp hơn so với những ai có nồng độ
        vitamin K thấp. Tuy nhiên, vitamin K có tác dụng đông máu, do đó, nếu
        bạn đang dùng chất làm loãng máu, hãy hỏi ý kiến bác sĩ trước khi tăng
        lượng hấp thụ vitamin K.</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
        <span style="background: white">&nbsp;</span></p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <strong><i>Bông cải xanh</i></strong></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Khi nồng độ magie giảm, cơ thể sẽ trải qua tình trạng căng cơ và đau nửa
        đầu. Ăn những thực phẩm chứa nhiều riboflavin như bông cải xanh có thể
        giúp cân bằng nồng độ magie trong cơ thể nhờ đó mà giúp giảm đau nửa đầu.</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        <span style="font-size: 12.0pt; background: white">&nbsp;</span><strong><i><span style="font-size: 12.0pt; background: white">Trứng</span></i></strong></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Hàm lượng protein trong trứng giúp kiểm soát nồng độ đường huyết trong
        máu và tạo năng lượng cho cơ thể để vận hành các hoạt động suốt cả ngày
        mà không đau đầu. <span style="background: white">Các chuyên gia khuyên
		bạn đưa trứng vào thực đơn mỗi buổi sáng </span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">&nbsp;
    </p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <strong><i>Sữa ít béo</i></strong></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Loại đồ uống giàu calci này giúp chúng ta vượt qua sức ép của mạch máu,
        yếu tố ảnh hưởng&nbsp; tới việc truyền xung lực của thần kinh.
		<span style="background: white">Như chúng ta đã biết, sự gián đoạn hoạt
		động này có thể gây ra những cơn đau đầu khốc liệt và làm cho tim đập
		nhanh.</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">&nbsp;
    </p>
    <p style="text-align: justify; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <strong><i>Cà phê</i></strong></p>
    <p style="text-align: justify; text-indent: 14.0pt; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Điều này nghe có vẻ thật khó tin, vì cà phê cũng là một trong những chất
        kích thích. Nhưng thực tế thì lại khác.</p>
    <p style="text-align: justify; text-indent: 14.0pt; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Những người bị đau đầu do uống rượu nên chú ý: Rượu làm mở rộng các mạch
        máu, kích thích đau đầu. Trong khi đó, <span style="background: white">
		Hàm lượng acetaminophen và aspirin trong </span>caffein có trong cà phê
        có tác dụng làm co mạch, giảm nhẹ triệu chứng đau đầu. Do đó, một tách
        cà phê là một lựa chọn lý tưởng giúp giảm nhẹ triệu chứng đau đầu liên
        quan đến tiêu thụ chất cồn.</p>
    <p style="text-align: justify; text-indent: 14.0pt; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="background: white">Các chuyên gia khuyên nên uống một tách
		cà phê khi bất chợt bị cơn đau nửa đầu “tấn công”.</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Tuy nhiên, cà phê cũng là một chất lợi tiểu, có thể dẫn đến mất nước, do
        đó uống quá nhiều cà phê cũng không tốt.</p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">&nbsp;
    </p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b><i>Resveratrol</i></b> </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Resveratrol trong rượu vang, nho và nước nho ép thường có tác dụng giảm
        đau tương tự như aspirin, theo một số nghiên cứu. Bạn có thể bổ sung
        resveratrol cho cơ thể bằng cách dùng một ít rượu vang, ăn nho đỏ hoặc
        nhấm nháp nước nho ép.</p>
    <p style="text-align: justify; text-indent: 14.0pt; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">&nbsp;
    </p>
    <p style="text-align: justify; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <strong><i>Thực phẩm cay</i></strong></p>
    <p style="text-align: justify; text-indent: 14.0pt; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Thực phẩm cay như nước xốt ớt nóng có thể giúp bạn “hồi phục” trở lại
        sau cơn đau đầu.<br>
        Nếu nguyên nhân đau đầu là do tắc nghẽn xoang, những món ăn cay có thể
        giúp mở đường hô hấp, giảm áp lực và đau đầu kèm theo<b>.</b></p>
    <p class="MsoNormal" style="text-align:justify">
        <span style="font-size:12.0pt">&nbsp;</span><strong><i><span style="font-size: 12.0pt; background: white">Gừng</span></i></strong></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size:12.0pt">
		<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/gung-chua-dau-dau.jpg" width="245" height="206" title="Gừng chữa đau đầu" lowsrc="Gừng%20chữa%20đau%20đầu" longdesc="Gừng chữa đau đầu" alt="Gừng chữa đau đầu" align="left">Gừng là một trong những “thuốc” giảm đau
		tốt nhất. Gừng chứa các chất gingerol, paradol, shogaol và zingerone,
		vốn là những thành phần giảm đau tốt. Uống trà gừng vào mùa đông để giảm
		các cơn đau, nhức mỏi cơ thể định kỳ.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">Các nghiên cứu cho
		thấy gừng được làm nóng chứa nhiều hợp chất có tác dụng như thuốc kháng
		viêm. Gừng có thể ngăn chặn những chất gây viêm gọi là prostaglandin.
		</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">Các nhà nghiên cứu
		chưa tiến hành thử nghiệm trên quy mô lớn, nhưng gừng có thể làm giảm
		cảm giác buồn nôn vốn thường đi kèm chứng đau nửa đầu. </span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">Uống một ly trà gừng
		hoặc nhâm nhi chiếc kẹo gừng sẽ làm bạn giảm bớt những cơn đau đầu.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">Bạn cũng có thể dùng
		gừng bột. Khi bị đau nửa đầu, hãy hòa một muỗng gừng bột trong một ly
		sữa ấm, vài giờ uống một lần để giảm cơn đau. Nếu hay bị đau, bạn có thể
		trữ ít kẹo gừng trong túi.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size:12.0pt">Nghệ cũng là loại gia vị giảm đau hiệu
		quả. Đó là nhờ hợp chất curcumin có trong nghệ, làm giảm các cơn đau
		buốt.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        <span style="font-size:12.0pt">&nbsp;</span></p>
    <p class="MsoNormal" align="center" style="text-align:center"><strong>
		<span style="font-size: 20.0pt; background: white">Tham khảo thêm về Chế
		độ ăn chữa đau đầu</span></strong></p>
    <b><h2 align="center">Món ăn chữa đau đầu</h2></b><p></p>
    <p class="MsoNormal" style="text-indent:14.0pt">
        <span style="font-size: 12.0pt; background: #FAFAFA">&nbsp;</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/chao-hanh-tia-to-chua-dau-dau.jpg" width="275" height="183" align="left" title="Cháo hành tía tô chữa đau đầu" lowsrc="Cháo%20hành%20tía%20tô%20chữa%20đau%20đầu" longdesc="Cháo hành tía tô chữa đau đầu" alt="Cháo hành tía tô chữa đau đầu">Đau đầu có thể do ngoại cảm, hoặc do nội thương của tạp bệnh gây ra. Vì
        vậy, người bệnh cần tới thăm khám để tìm hiểu rõ nguyên nhân để dùng
        thuốc cũng như các món ăn hỗ trợ. Để nấu các món ăn có tác dụng trị
        chứng đau đầu, chúng ta cần phân biệt ba thể sau đây:</p>
    <p class="MsoNormal" style="text-align: justify; background: white"><b>
        <span style="font-size:12.0pt">1. Thể phong hàn ngoại nhập:&nbsp;</span></b><span style="font-size:12.0pt">Dấu
		hiệu là bệnh nhân đau đầu kèm đau cổ gáy, sợ gió, sợ lạnh, đau tăng khi
		ra gió, thường thích che kín đầu, có thể sốt nhẹ, sổ mũi, tắc mũi, chất
		lưỡi hồng nhạt, rêu lưỡi trắng mỏng. Khi có các triệu chứng này, bạn có
		thể sử dụng 3 món ăn bài thuốc, cụ thể:</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 14.0pt; background: white">
        <b><span style="font-size:12.0pt">Bài 1</span></b><span style="font-size:12.0pt">:
		Nguyên liệu gồm một đầu cá mè hoa, xuyên khung 3-9 g, bạch chỉ 6-9 g.
		Cho xuyên khung và bạch chỉ vào túi vải rồi đem nấu với đầu cá thành
		canh, khi chín nhừ, nêm thêm gia vị và ăn nóng.</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 14.0pt; background: white">
        <b><span style="font-size:12.0pt">Bài 2:</span></b><span style="font-size:12.0pt">&nbsp;Hành
		củ 10 g, đạm đậu xị 10 g, gạo tẻ 100 g. Gạo vo sạch đem nấu thành cháo.
		Khi nhừ thì cho đạm đậu xị và hành vào, đun thêm một lát là được. Món
		này chia ăn vài lần trong ngày. Cũng có thể cho thêm lá tía tô tươi 10
		g, gừng tươi 3 lát để làm tăng khả năng giải cảm, trừ hàn.</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 14.0pt; background: white">
        <b><span style="font-size:12.0pt">Bài 3:</span></b><span style="font-size:12.0pt">&nbsp;Ngũ
		vị tử 20 g, thịt heo thăn 200 g, trứng gà 2 quả, bột mì 25 g, mỡ heo 50
		g, nước luộc gà 100 ml, gia vị vừa đủ. Thịt heo thái miếng, ướp gia vị,
		cho vào một chút rượu vang, đập trứng vào bát hòa với bột mì. Cho mỡ vào
		chảo đun nóng già rồi chiên thịt heo sau khi đã nhúng vào dịch trứng
		bột. Tiếp đó, lấy thịt chiên rim với nước luộc gà cho mềm, nêm thêm gia
		vị, ăn ngày 2 lần.</span></p>
    <p class="MsoNormal" style="text-align: justify; background: white"><b>
        <span style="font-size:12.0pt">&nbsp;2. Thể đàm trọc ứ trở:</span></b><span style="font-size:12.0pt">&nbsp;Dấu
		hiệu là đau đầu, tinh thần nặng nề, ngực bụng đầy trướng, hay có cảm
		giác buồn nôn, chán ăn, chậm tiêu, lưỡi bè có vết hằn răng, rêu lưỡi dày
		nhờn. Khi có các triệu chứng này, bạn có thể sử dụng 3 món ăn bài thuốc,
		cụ thể:</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 14.0pt; background: white">
        <b><span style="font-size:12.0pt">Bài 1:&nbsp;</span></b><span style="font-size:12.0pt">Bạch
		cương hàm lượng tùy ý, hành củ 6 g, lá trà 3 g. Ba thứ xắt vụn, hãm hoặc
		sắc uống thay trà hằng ngày.</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 14.0pt; background: white">
        <b><span style="font-size:12.0pt">Bài 2:&nbsp;</span></b><span style="font-size:12.0pt">Hoài
		sơn 30 g, bán hạ chế 30 g. Hoài sơn xắt vụn, sắc bán hạ lấy nước rồi nấu
		với hoài sơn thành cháo, chế thêm đường đỏ, chia ăn vài lần trong ngày.</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>Bài 3:&nbsp;</b>Thiên ma 10 g, trần bì 10 g, óc heo một bộ. Thiên ma và
        trần bì rửa sạch, xắt vụn, cho vào chén cùng với óc heo, hấp cách thủy,
        nêm thêm gia vị, ăn nóng.</p>
    <p class="MsoNormal" style="text-align: justify; background: white"><b>
        <span style="font-size:12.0pt">&nbsp;3. Thể huyết ứ:&nbsp;</span></b><span style="font-size:12.0pt">Dấu
		hiệu là đau đầu liên miên không dứt, có điểm đau cố định không di
		chuyển, có lúc đau như dùi đâm kim chích, chất lưỡi có những điểm ứ
		huyết màu tím, tĩnh mạch dưới lưỡi dãn rộng. Khi có các triệu chứng này,
		bạn có thể sử dụng 2 món ăn bài thuốc, cụ thể:</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 14.0pt; background: white">
        <b><span style="font-size:12.0pt">Bài 1:</span></b><span style="font-size:12.0pt">&nbsp;Xuyên
		khung 3-6 g, hồng hoa 3 g, trà diệp 3-6 g. Tất cả đem sắc kỹ lấy nước
		uống thay trà.</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 14.0pt; background: white">
        <b>Bài 2:</b>&nbsp;<span style="font-size:12.0pt">Cua đực 500 g, hành củ khô
		150 g, gừng tươi thái chỉ 25 g, mỡ lợn 75 g, gia vị vừa đủ. Rửa sạch
		cua, thái miếng, cho mỡ lợn, củ hành vào chảo nóng, đảo vài
		lần, lấy củ hành ra, để lại chút mỡ trong chảo, dùng lửa to
		xào gừng tươi thái chỉ, tỏi băm và củ hành phi mỡ, rồi cho
		thịt cua vào cùng xào, sau đó lần lượt cho thêm các gia vị như
		rượu, nước cốt, muối, đường kính, mì chính, đậy nắp hầm trong
		chốc lát, đợi đến khi sắp cạn nước lại cho thêm 10 gam mỡ lợn,
		dầu vừng và hạt tiêu vừa phải, dùng bột đao đảo đều là có
		thể dùng.</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">&nbsp;
    </p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>4. Một số món ăn khác</b></p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>Óc lợn, thiên ma:<span class="apple-converted-space">&nbsp;</span></b></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Lấy óc lợn 1 bộ, thiên ma 10 - 30g (thái lát) hầm nhỏ lửa thành dạng
        canh rồi bỏ bã, uống vài lần trong ngày. Cũng có thể lấy óc dê 1 bộ, rửa
        sạch huyết rồi hầm trong 30 phút, thêm gia vị ăn trong ngày.</p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>&nbsp;</b></p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>Óc lợn hầm:<span class="apple-converted-space">&nbsp;</span></b></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        - Óc lợn 1 bộ, dùng nước sôi để nguội rửa sạch huyết, đem hầm kỹ trong
        30 phút rồi ăn trong ngày, một liệu trình kéo dài 7 ngày.</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        - Óc lợn 100g, hành 20g, gừng tươi 10g, rượu vang 10g, dầu vừng 10g, tỏi
        20g, xì dầu vừa đủ. Óc lợn rửa sạch, loại bỏ gân máu, hành thái nhỏ,
        gừng và tỏi giã nát. Đặt óc lợn lên một cái đĩa cùng gừng và hành, vay
        rượu vang lên trên rồi đem hấp cách thuỷ chừng 30 phút, sau đó chế thêm
        dầu vừng, tỏi, xì dầu, trộn đều, ăn trong ngày.</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Tác dụng: Chữa phong huyễn não minh (Tây y gọi là thiểu năng tuần hoàn
        não, rối loạn tiền đình). Triệu trứng: Hoa mắt, chóng mặt, kèm theo có
        những âm thanh bất thường trong đầu như tiếng ve kêu, tiếng xay lúa.</p>
    <p class="MsoNormal" style="text-indent: 14.0pt; background: white"><b>
        <span style="font-size:12.0pt">- </span></b>
		<span style="font-size:12.0pt">Một bộ óc heo, 10g vị thuốc thiên ma, 3
		lát gừng tươi, 50ml rượu trắng. Đem đun cách thủy trong khoảng 30 phút,
		ăn cả cái và nước. Mỗi đợt dùng từ 5 - 7 cái, mỗi ngày 1 cái.</span></p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>&nbsp;</b></p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>Óc lợn, trứng gà:</b></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        - Óc lợn 1 bộ, trứng gà 1 - 2 quả, óc lợn rửa sạch huyết, loại bỏ gân
        máu, đánh đều với trứng gà rồi tráng chín ăn trong ngày.</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        - Óc lợn 1 bộ, nhục thung dung 12g, thỏ ty tử 12g, thục địa 12g, kỷ tử
        15g, các vị thuốc sắc kỹ, bỏ bã, lấy nước rồi cho óc lợn vào đun chín,
        chế thêm gia vị, ăn trong ngày. Tác dụng: Chữa hội chứng suy nhược thần
        kinh, đau đầu.</p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>&nbsp;</b></p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>Óc lợn, thiên ma, kỷ tử:<span class="apple-converted-space">&nbsp;</span></b></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Óc lợn 1 bộ, thiên ma 9g (thái lát) kỷ tử 15g. Óc lợn rửa sạch huyết,
        loại bỏ gân máu, hấp cách thuỷ cùng thiên ma và kỷ tử, chế thêm gia vị
        ăn trong ngày. Hoặc óc lợn 1 bộ, thiên ma 10g, gạo tẻ 250g, đem gạo và
        thiên ma nấu thành cháo rồi cho óc lợn vào đun chín, chế thêm gia vị,
        chia ăn vài lần trong ngày.</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Tác dụng: Chữa di chứng chấn thương sọ não, đau đầu.</p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>&nbsp;</b></p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>Óc lợn, mộc nhĩ đen:<span class="apple-converted-space">&nbsp;</span></b></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Óc lợn 1 bộ, mộc nhĩ đen 15g. Óc lợn rửa sạch huyết, loại bỏ gân máu.
        Mộc nhĩ ngâm nước lạnh 15 phút rồi rửa sạch, cho vào chảo xào trong 30
        phút với 1 thìa dầu thực vật. Cho thêm một thìa rượu vang, muối, gia vị
        vừa đủ và một chút nước đun sôi. Sau đó cho óc lợn vào, chế thêm một bát
        nước nhỏ rồi đun nhỏ lửa trong 40 phút nữa. Khi ăn, có thể cho thêm hạt
        tiêu và các gia vị khác.</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Tác dụng: Chữa rối loạn thần kinh chức năng gây đau đầu.</p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>&nbsp;</b></p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>Óc lợn, đông trùng hạ thảo:<span class="apple-converted-space">&nbsp;</span></b></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        - Óc lợn 1 bộ, rửa sạch huyết, loại bỏ gân máu; đông trùng hạ thảo 10g
        rửa sạch, để ráo nước. Hai thứ đặt lên đĩa, cho thêm một thìa rượu vang,
        2 thìa nước lạnh và một chút muối ăn rồi hấp cách thuỷ, ăn trong ngày.</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        - Óc lợn 1 bộ, tiểu mạch 30g, đại táo 1 quả. Cho tiểu mạch vào 2 bát
        nước to, sắc kỹ tiểu mạch bằng lửa nhỏ trong nửa giờ rồi bỏ bã, lấy nước.
        Cho đại táo và óc lợn (đã ngâm kỹ bằng nước ấm) vào cùng với 2 thìa
        đường trắng, nửa thìa rượu vang, hầm kỹ trong 30 - 60 phút là được. Chia
        ăn 2 lần trong ngày.</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Tác dụng: Chữa rối loạn tiền đình do tổn thương tai trong.</p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>&nbsp;</b></p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>Óc dê, kỷ tử:<span class="apple-converted-space">&nbsp;</span></b></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        - Óc dê 1 bộ, kỷ tử 50g, óc dê rửa sạch, hấp cách thuỷ cùng kỷ tử rồi
        chế thêm gia vị ăn trong ngày.</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        - Óc lợn 1 bộ rửa sạch huyết, loại bỏ gân máu, hoài sơn 15g, kỷ tử 15g.
        Tất cả đem hấp cách thuỷ rồi chế thêm gia vị, ăn trong ngày.</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Tác dụng: Chữa chứng chậm phát triển trí tuệ của trẻ em, làm tăng trí
        nhớ và khả năng hoạt động của não bộ.</p>
    <p class="MsoNormal" style="background: white"><b>
        <span style="font-size:12.0pt">&nbsp;</span></b><strong><span style="font-size:12.0pt">Nấm tai mèo
		chưng với đường phèn</span></strong></p>
    <p style="text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Đây là món ăn cũng có công dụng chữa trị chứng đau đầu nói trên theo
        kinh nghiệm dân gian.</p>
    <p style="text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        + Thành phần: Cho một lần dùng gồm 20g - 30g nấm tai mèo (lấy loại còn
        lớp phấn trắng mỏng bên ngoài), 10g đường phèn.</p>
    <p style="text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        + Cách chế biến: Nấm tai mèo cắt bỏ cuống, thái nhỏ. Cho đường phèn và
        nấm tai mèo vào chung thố, đem chưng cách thủy trong vòng 15 phút. Sau
        đó, mở nắp thố đem phơi sương qua một đêm, sáng dậy lấy vào ăn hết nấm,
        uống cả nước lúc bụng đang còn đói. Dùng mỗi đợt khoảng 7 ngày.</p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">&nbsp;
    </p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>Cháo Măng:</b></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Nguyên liệu: Măng chín 100 gam, thịt lợn băm 50 gam, gạo lốc 100
        gam, dầu vừng 25 gam.</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Phối chế: Trước tiên thái măng thành dạng sợi, nóng dầu vừng,
        xào thịt lợn băm chốc lát, cùng lúc cho măng sợi, hành và
        gừng thái vụn, muối tinh, mì chính vào chảo xào chốc lát,
        đựng lên đĩa. Gạo lốc nấu cháo với lượng nước vừa phải bằng
        lửa nhỏ, đợi cháo chín nhừ thì đổ nguyên liệu chuẩn bị sẵn
        trong bát vào, nấu thêm chốc lát là được.</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Công hiệu: Tiêu đờm trừ thấp.</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Cách dùng và liều lượng: Mỗi ngày hai lần, lần lượt dùng
        trong bữa sáng và bữa tối.</p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>&nbsp;</b></p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>Bánh Quất hồng (vỏ quýt):</b></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Nguyên liệu: Quất hồng (vỏ quýt)10 gam, bột gạo 500 gam, đường
        kính 200 gam.</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Phối chế: Nghiền Quất hồng (vỏ quýt) thành dạng bột, trộn
        đều với đường kính làm nhân; dùng ít nước làm ướt bột gạo,
        làm bánh nhân Quất hồng(vỏ quýt) , cho lên khay hấp cách thủy
        đến chín, đợi bánh nguội thì ép bánh thành dạng chắc, thái
        bánh có nhân thành dạng sợi.</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Công hiệu: Thấm thấp tiêu đờm, hành khí kiện tỳ.</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Cách dùng và liều lượng: Có thể dùng làm điểm tâm.</p>
    <p align="center" style="margin-top: 0; margin-bottom: 0">
        &nbsp;</p><p class="MsoNormal" align="center" style="text-indent: 14.0pt">
    <strong><span style="font-size: 20.0pt; background: white">Thực phẩm nên
		tránh khi bị đau đầu</span></strong><span style="font-size:20.0pt"><br>
&nbsp;</span></p>
    <p class="MsoNormal" align="left" style="text-indent: 14.0pt">
		<span style="font-size: 12.0pt; background: white">Một số loại thực phẩm
		nếu ăn lúc đang đau đầu sẽ làm tăng mức độ và làm bạn cảm thấy khó chịu
		hơn. Vì vậy, khi đau đầu bạn nên tránh những loại thực phẩm sau:</span></p>
    <p class="normal" style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>&nbsp;</b><span class="apple-converted-space"><b>C</b></span><b>ác thực
        phẩm thay thế đường</b></p>
    <p class="normal" style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/duong-hoa-hoc-khong-tot-cho-benh-dau-dau.jpg" width="258" height="195" lowsrc="Đường%20hóa%20học%20không%20tốt%20cho%20bệnh%20đau%20đầu" longdesc="Đường hóa học không tốt cho bệnh đau đầu" alt="Đường hóa học không tốt cho bệnh đau đầu" align="left">Đường hóa học sẽ kích thích quá mức hoặc gây cản trở cho các
        dây thần kinh, căng cơ tăng, dẫn tới chứng đau nửa đầu.</p>
    <p class="normal" style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        &nbsp;Đường hóa học thường có trong một số thực phẩm như nước ngọt,
        kem, kẹo cao su… và những loại thuốc có chứa đường aspartam. </p>
    <p class="normal" style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Những người dị ứng với các chất làm ngọt, chỉ cần uống một
        chút nước giải khát có thể dẫn tới đau đầu.</p>
    <p class="MsoNormal" style="text-align:justify"><b>
        <span style="font-size: 12.0pt; background: white">&nbsp;</span><span style="font-size: 12.0pt; border: 1.0pt none windowtext; padding: 0cm; background: white">Thực
		phẩm chứa cồn</span></b></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">Rượu bia, đặc biệt là
		rượu vang đỏ là thức uống phổ biến gây đau đầu cho bạn do chúng chứa
		chất cồn. Mặc dù nó làm tăng sức đề kháng và miễn dịch cần thiết khi
		uống với số lượng nhất định, nhưng nó thực sự có thể trở thành một lý do
		gây nhức đầu khi bạn lạm dụng quá mức.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">Trong rượu cồn có
		chứa sulfite khiến bạn bị dị ứng, hen suyễn hoặc đau đầu. Ngoài ra, rượu
		cũng làm tăng lưu lượng máu lên não gây mất nước.<span class="apple-converted-space">&nbsp;</span></span></p>
    <p class="normal" style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Tất cả những đồ uống có cồn đều gây ra đau đầu, đặc biệt là
        rượu vang đỏ chứa rất nhiều chất hóa học gây đau đầu. Nếu bạn
        thực sự muốn uống 2 ly/ ngày, tốt nhất nên chọn rượu vodka loại
        rượu trắng không màu.</p>
    <p class="MsoNormal" style="text-align:justify">
        <span style="font-size: 12.0pt; background: white">&nbsp;</span><b><span style="font-size: 12.0pt; border: 1.0pt none windowtext; padding: 0cm; background: white">Thực
		phẩm chứa nitrit</span></b></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">
		<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/xuc-xich-khong-tot-cho-benh-dau-dau.jpg" width="274" height="184" lowsrc="Xúc%20xích%20không%20tốt%20cho%20bệnh%20đau%20đầu" longdesc="Xúc xích không tốt cho bệnh đau đầu" alt="Xúc xích không tốt cho bệnh đau đầu" align="left">Xúc xích, thịt nguội,
		lạp xưởng, thịt hun khói, món ăn nhanh và nhiều món ăn hấp dẫn khác
		thường được sản xuất với chất nitrit. Đây là chất cần thiết để tăng sự
		bảo quản tiệt trùng trong băng kín. </span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">Nitrat, nitrit và bột
		ngọt </span><span style="font-size: 12.0pt; background: white">làm co
		thắt các mạch máu và dẫn đến chứng đau đầu ở một số người&nbsp;<span class="apple-converted-space">&nbsp;</span></span></p>
    <p class="normal" style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Vì vậy trong cuộc sống hàng ngày bạn nên hạn chế ăn.</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        <span style="font-size: 12.0pt; background: white">&nbsp;</span><b><span style="font-size: 12.0pt; border: 1.0pt none windowtext; padding: 0cm; background: white">Thực
		phẩm chứa tyramin</span></b></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">Chất tyramine có
		trong một số loại thực phẩm như hạt phỉ, cà chua, thịt lợn, một số loại
		pho mát, sô cô la, sữa có thể là nguyên nhân dẫn đến chứng đau đầu của
		bạn</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">Các loại phô mai càng
		lâu năm càng chứa nhiều chất tyramine.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">Giống như bơ, chuối
		và quả hạch cũng chứa khá nhiều tyramine. Lớp vỏ bên của chuối chứa
		nhiều hơn trong ruột chính vì vậy mà khi bóc vỏ ta nên chú ý bóc sạch
		các mảnh sợi của vỏ bị dính vào phần thịt chuối.</span></p>
    <p class="MsoNormal" style="text-align:justify"><b>
		<span style="font-size: 12.0pt; border: 1.0pt none windowtext; padding: 0cm; background: white">
		&nbsp;Thực phẩm chứa cafein</span></b></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">1 cốc cà phê không
		chỉ là một thức uống tuyệt vời mỗi sáng thức dậy, chúng còn khiến đầu óc
		minh mẫn và công việc trở nên có hiệu suất hơn. </span></p>
    <p class="normal" style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="background: white">Một lượng nhỏ cafein có thể làm giảm bớt
		đau đầu. Trong dược phẩm, người ta vẫn dùng một chút cafein làm tăng khả
		năng hấp thụ của thuốc. </span></p>
    <p class="normal" style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <span style="background: white">Tuy nhiên, </span>Cà phê kích thích hệ
        thần kinh và ảnh hưởng đến giấc ngủ. Uống nhiều có thể gây nghiện.
        Khi nghiện cà phê sẽ gây ra chứng đau nửa đầu. Cho nên lượng cà phê
        hấp thụ trong một ngày tốt nhất thấp hơn 100 mg (khoảng 1 cốc
        cà phê đặc)</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt"><b>
		<span style="font-size: 12.0pt; border: 1.0pt none windowtext; padding: 0cm; background: white">
		&nbsp;Thực phẩm được nấu với nhiều gia vị</span></b></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">Nếu bạn là fan các
		món ăn được nấu chín với nhiều loại gia vị cũng nên cẩn thận nhé vì
		những món ăn này thường chứa một enzym quan trọng liên quan đến việc khử
		amin của các amino acid trong phụ gia thực phẩm.<span class="apple-converted-space">&nbsp;</span></span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">Khoảng 10-20% số
		người bị nhức đầu bởi những chất này. Hiện tượng này thường xuất hiện
		khoảng 15 phút sau bữa ăn với cảm giác đau ở vùng trán.<span class="apple-converted-space">&nbsp;</span></span></p>
    <p class="normal" style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>&nbsp;Thận trọng khi sử dụng thuốc giảm đau</b></p>
    <p class="normal" style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Thuốc giảm đau là giải pháp đem lại hiệu quả tức thời làm
        giảm cơn đau. Nhưng nếu dùng thuốc này quá lượng chẳng những
        không giải quyết được việc đau đầu mà nó còn phản tác dụng.
        Nếu bạn bị đau đầu mãn tính không nên uống thuốc giảm đau quá
        2 - 3 lần/ tuần và tốt nhất hãy đến bác sĩ để điều trị.</p>
 </font></font></div>