﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">

    <span style="font-family: Times New Roman; font-size:16pt">
					<font color="#0000FF">
                        <h1>Chế độ ăn giúp điều hòa nội tiết tố</h1></font></span>


    <font color="#000000" size="3">
        <p style="text-align: justify; text-indent: 27.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">
		<span style="color: black">
		<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/thuc-pham-dieu-hoa-noi-tiet-nu.jpg" width="281" height="179" title="Thực phẩm điều hòa nội tiết tố nữ" lowsrc="Thực%20phẩm%20điều%20hòa%20nội%20tiết%20tố%20nữ" longdesc="Thực phẩm điều hòa nội tiết tố nữ" alt="Thực phẩm điều hòa nội tiết tố nữ" align="left">Mức độ tiết dịch của hormone có liên quan
		chặt chẽ với sức khỏe của chị em phụ nữ. Sự mất cân bằng hormon
		là căn nguyên của nhiều bệnh lý sức khỏe sinh sản như: rối loạn kinh
		nguyệt, mãn kinh sớm, ... dẫn đến nhiều trở ngại cho phụ nữ trong cả
		sinh hoạt hàng ngày và đời sống tình dục. </span></p>
        <p style="text-align: justify; text-indent: 27.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">
		<span style="color: black">Vì vậy, điều quan trọng đối với phụ nữ để
		điều chỉnh sự tiết hormone và duy trì sự cân bằng tốt nhất có thể
		bằng chế độ ăn uống luyện tập hàng ngày</span></p>
        <p style="text-align: justify; text-indent: 27.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">
            <strong><span style="color: black">&nbsp;</span></strong></p>
        <p style="text-align: justify; text-indent: 27.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">
            <strong><span style="color: black">A. Những thực phẩm nên dùng</span></strong></p>
        <p style="text-align: justify; text-indent: 27.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">
            <b><span style="color: black">1. Chế độ ăn nên đảm bảo đầy đủ các loại
		thực phẩm có màu sắc khác nhau</span></b></p>
        <p style="text-align: justify; text-indent: 27.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">
		<span style="color: black">Nói chung, các loại thực phẩm có các màu sắc
		khác nhau có thể ảnh hưởng đến việc bài tiết các hormone, có thể là
		nhanh hay chậm.</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt">
            <b><span style="color: black">* Thực phẩm màu xanh lá cây</span></b></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt">
		<span style="color: black">&nbsp;Thực phẩm màu xanh lá cây như rau bina, bắp
		cải, bông cải xanh, rau diếp, cần tỏi tây... giúp tiêu hóa&nbsp;và hấp thu
		thức ăn tốt, có lợi cho gan, thận và lá lách, đồng thời duy trì sự cân
		bằng của hormone để tránh sự rối loạn&nbsp;bất lợi về mặt vật lý.&nbsp;</span></p>
        <p style="text-align: justify; text-indent: 27.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">
		<span style="color: black">Rau bina có thể nuôi dưỡng máu, thúc đẩy sự
		tăng trưởng của tế bào và ngăn ngừa lão hóa hiệu quả. Tỏi tây có thể
		cải thiện các chức năng của thận và thúc đẩy nhu động dạ dày và đường
		ruột. Bông cải xanh có thể tăng cường cai nghiện, nâng cao khả năng miễn
		dịch và ngăn ngừa các bệnh ung thư vú cho phụ nữ.</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt">
            <b><span style="color: black">* Thực phẩm màu vàng</span></b></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt">
		<span style="color: black">&nbsp;Thực phẩm màu vàng bao gồm đậu tương, chanh,
		đậu hũ, bí ngô, chuối... rất hữu ích cho cơ thể trong việc điều chỉnh sự
		cân bằng của hormone. Thường xuyên ăn một số thực phẩm màu vàng còn có
		thể nâng cao chức năng dạ dày, đường ruột, có lợi cho chức năng trao đổi
		chất, tăng cường và duy trì sự tiết nội tiết tố nữ.</span></p>
        <p style="text-align: justify; text-indent: 27.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">
		<span style="color: black">Chanh có thể làm giảm sự mệt mỏi, thúc đẩy
		tuần hoàn máu, tăng cường miễn dịch và trì hoãn sự lão hóa của da. Chuối
		có thể cải thiện chức năng tiêu hóa và loại bỏ các độc tố ra khỏi máu.
		Hồng có thể làm tăng các chức năng của lá lách và cải thiện chức năng
		tim mạch.</span></p>
        <p style="text-align: justify; text-indent: 27.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">
            <b><span style="color: black">&nbsp;</span></b></p>
        <p style="text-align: justify; text-indent: 27.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">
            <b><span style="color: black">*Các loại thực phẩm màu đen</span></b><span style="color: black">
		</span></p>
        <p style="text-align: justify; text-indent: 27.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">
		<span style="color: black">Các loại thực phẩm màu đen có thể tăng cường
		các chức năng của thận cho chị em phụ nữ. Đồng thời chúng giúp cải
		thiện sự trao đổi chất và chức năng sinh sản của bàng quang, thận, tiết
		niệu, và xương. Ngoài ra, các thực phẩm màu đen cũng có thể điều
		chỉnh các chức năng sinh lý, kích thích sự bài tiết bên trong cơ thể
		và đẩy nhanh quá trình tiêu hóa của dạ dày và ruột.</span></p>
        <p style="text-align: justify; text-indent: 27.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">
		<span style="color: black">Các loại thực phẩm có màu đen tốt cho
		sức khỏe phải kể đến là: mè đen, nấm và đậu đen… rất tốt cho các
		chức năng của thận. Đậu đen có thể nuôi dưỡng thận, cải thiện thị lực và
		loại bỏ các độc tố khỏi cơ thể con người. Mè đen có thể làm cho máu tốt
		hơn, thúc đẩy sự phát triển của não và trì hoãn sự lão hóa cho phụ nữ.<br>
		Thực phẩm có màu xanh lá cây sẽ tốt cho gan. Nói chung, các loại
		thực phẩm có chứa chất diệp lục màu xanh lá cây rất giàu các chất
		vitamin như vitamin A có lợi cho gan, bảo vệ dạ dày và ruột, ngăn ngừa
		táo bón và ung thư trực tràng. Ngoài ra, việc tiêu thụ các loại thực
		phẩm màu xanh lá cây có thể duy trì sự cân bằng acid vốn có trong cơ
		thể.</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt">
            <b><span style="color: black">2. Dinh dưỡng cần thiết</span></b></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt">
            <b><span style="color: black">* Axit béo và protein</span></b></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt">
		<span style="color: black">&nbsp;Các loại cá là những thực phẩm vừa&nbsp;giàu
		protein vừa&nbsp;chứa nhiều&nbsp;omega-3, omega-6 và omega-9. Những loại dầu này
		là nguồn chất béo tốt nhất cho cơ thể. Tiêu thụ khoảng hai&nbsp;bữa cá mỗi
		tuần sẽ giúp bạn duy trì sự cân bằng của hệ thống nội tiết.</span><b><span style="color: black">&nbsp;</span></b></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt">
            <b><span style="color: black">* Canxi và vitamin B</span></b></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt">
		<span style="color: black">&nbsp;<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/thuc-pham-giau-vitaminb.jpg" width="289" height="174" lowsrc="Vitamin%20B%20điều%20hòa%20nội%20tiết%20tố%20nữ" longdesc="Vitamin B điều hòa nội tiết tố nữ" alt="Vitamin B điều hòa nội tiết tố nữ" align="left">Các loại thực phẩm giàu canxi và vitamin B
		bao gồm sữa, pho mát và sữa chua, thịt gà, cá, trứng, ngũ cốc, các loại
		đậu và hạt... vừa có tác dụng bổ sung dinh dưỡng cho cơ thể vừa giúp duy
		trì sự cân bằng nội tiết.</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt">
            <b><span style="color: black">* Uống nước đầy đủ</span></b><span style="color: black">
		sẽ làm điều hòa hormone Cortisol, da được cung cấp độ ẩm, sẽ bài tiết dễ
		dàng hơn.</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt">
            <b><span style="color: black">*&nbsp;Cung cấp đầy đủ Vitamin và khoáng chất</span></b><span style="color: black">.
		Thiếu vitamin làm rối loạn sự bài tiết của hormone gây ảnh hưởng xấu tới
		da. Một cốc nước cam mỗi ngày là cách bổ sung Vitamin rất hữu hiệu.</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt">
            <b><span style="color: black">* Vitamin E</span></b><span style="color: black">:
		Nững thực phẩm giàu sinh tố E trong chế độ ăn hằng ngày như: mè, hướng
		dương, đậu phộng, dẻ, dưa, bí, rau cải, khoai lang ta, rau xanh, dầu
		thực vật, sữa, mầm ngũ cốc, lòng đỏ trứng, gan động vật... </span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt">
            <b><span style="color: black">3. Một số thực phẩm tiêu biểu cho bổ sung
		nội tiết tố nữ</span></b></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt">
            <b><span style="color: black">* Trái cây tươi và rau quả</span></b></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt">
		<span style="color: black">&nbsp;Trái cây tươi và rau quả rất giàu chất dinh
		dưỡng, chẳng hạn như vitamin A, vitamin C, vitamin E và chất chống oxy
		hóa... không chỉ có tác dụng chống lão hóa mà còn giúp điều hòa các rối
		loạn nội tiết&nbsp;</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt">
            <b><span style="color: black">* Tỏi</span></b></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt">
		<span style="color: black">&nbsp;Thật bất ngờ là thứ gia vị khó ngửi này lại
		có vai trò quan trọng trong điều chỉnh rối loạn nội tiết. Tỏi không chỉ
		có thể tăng cường khả năng miễn dịch của cơ thể, mà còn cải thiện khả
		năng chống lại nhiễm trùng bên ngoài. Ngoài ra, nó cũng giúp điều chỉnh
		nồng độ đường trong máu. Nhai một hoặc hai nhánh tỏi mỗi ngày có thể duy
		trì sự cân bằng nội tiết hiệu quả.</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt">
            <b><span style="color: black">* Một số loại thảo mộc</span></b></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt">
		<span style="color: black">&nbsp;Một số thuốc thảo dược rất hiệu quả cho việc
		duy trì sự cân bằng nội tiết, bao gồm cả nhân sâm và bạch quả. Nhân sâm
		và bạch quả giúp duy trì sự cân bằng của các loại hormone và kích thích
		tố trong cơ thể con người&nbsp;</span></p>
        <p style="text-align: justify; text-indent: 27.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">
            <b><span style="color: black">*&nbsp;<strong> Đậu tương </strong></span></b>
        </p>
        <p style="text-align: justify; text-indent: 27.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">
            <img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/dau-tuong-dep-da.jpg" width="289" height="174" title="Đậu tương tốt cho nữ giới" lowsrc="Đậu%20tương%20tốt%20cho%20nữ%20giới" longdesc="Đậu tương tốt cho nữ giới" alt="Đậu tương tốt cho nữ giới" align="left">&nbsp;Mầm đậu nành là nguồn cung cấp estrogen thao dược dồi dào nhất, đây
            chính là nguồn vật liệu chính sản xuất ra các viên uống thực phẩm chức
            năng giúp phụ nữ cân bằng nội tiết tố nữ.</p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt">
		<span style="color: black">Khoa học đã chứng minh mầm đậu nành là loài
		thực vật chứa isoflavones cao nhất trong các loài thảo dược. Hợp chất
		isoflavones có trong mầm đậu nành có tác dụng như nội tiết tố nữ nên rất
		tốt trong việc bảo vệ sức khỏe và làm đẹp: giúp làn da mịn màng, hết nám,
		hạn chế lão hóa, giảm khô âm đạo, tăng ham muốn và khả năng tình dục,
		giảm tích mỡ bụng, hạn chế các triệu chứng khó chịu của thời kỳ tiền mãn
		kinh, mãn kinh: bốc hỏa, mất ngủ, loãng xương… Giúp chị em tự tin, quyến
		rũ trong mắt người bạn đời dù không còn ở độ tuổi đôi mươi. Đậu nành
		cũng </span>đóng vai trò quan trọng trong việc phòng ngừa bệnh ung thư
            vú.&nbsp; </p>
        <p style="text-align: justify; text-indent: 27.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">
		<span style="color: black">Ngoài đậu nành và các chế phẩm của nó như:
		sữa đậu nành (nấu thật chín khoảng 20 phút), tàu hủ ky (váng của sữa đậu
		nành); hạt bạch quả; các loại đậu đỏ, đen, xanh, trắng, gạo lức, dầu mầm
		ngô, mầm ngô, dầu mè, hạt hạnh nhân... </span></p>
        <h2 style="text-align: justify; text-indent: 27.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">
		<span style="font-size: 12.0pt; color: black">* Uống hai tách café mỗi
		ngày </span>
		<span style="font-size: 12.0pt; color: black; font-weight: normal">có
		thể làm tăng nồng độ hormone sinh dục oestrogen ở phụ nữ châu Á, theo
		nghiên cứu của các nhà khoa học thuộc Đại học Utah (Mỹ).</span></h2>
        <p style="text-align: justify; text-indent: 27.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">
		<span style="color: black">Các nhà khoa học thuộc Đại học Utah phát hiện,
		tiêu thụ 200mg caffeine/ngày – tương đương 2 tách café - có thể làm tăng
		hoặc giảm nồng độ hormone sinh dục ở phụ nữ tùy thuộc vào họ là người da
		vàng, trắng hay đen.</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt">
		<span style="color: black">Nhóm nghiên cứu đã tiến hành thử nghiệm với
		hơn 250 phụ nữ thuộc các sắc tộc khác nhau. Những người tình nguyện được
		yêu cầu uống hàng ngày những đồ uống có chứa caffeine như café và trà
		xanh. Lượng caffeine mỗi phụ nữ tiêu thụ mỗi ngày khoảng 200mg. </span>
        </p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt">
		<span style="color: black">Kết quả cho thấy những phụ nữ châu Á tiêu thụ
		200mg caffeine/ngày có nồng hormone oestrogen tăng cao hơn so với những
		phụ nữ không dùng đồ uống chứa caffeine.</span></p>
        <p style="text-align: justify; text-indent: 27.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">
		<span style="color: black">Tuy nhiên, những phụ nữ da trắng tiêu thụ
		200mg caffeine/ngày lại có nồng độ hormone oestrogen giảm hơn so với
		những phụ nữ tiêu thụ ít. Trong khi đó, caffeine hầu như không gây ra
		thay đổi đối với nồng độ hormone oestrogen ở những phụ nữ da đen.</span></p>
        <p style="text-align: justify; text-indent: 27.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">
		<span style="color: black">“Kết quả nghiên cứu cho thấy caffeine có thể
		ảnh hưởng tới nồng độ hormone sinh dục ở phụ nữ trong độ tuổi sinh đẻ”,
		tiến sĩ Enrique Schisterman, thuộc Viện y tế quốc gia Anh, nhận định
		trên Daily Mail. </span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt">
            <b><span style="color: black">4. Luyện tập </span></b></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt">
		<span style="color: black">Thường xuyên tập thể dục, đi bộ, bơi để giữ
		gìn thân hình thon, xương chắc.&nbsp;</span></p>
        <p style="text-align: justify; text-indent: 27.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">
            <strong><span style="color: black">B. Những loại thực phẩm nên tránh
		hoặc không nên dùng thường xuyên</span></strong></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt">
		<span style="color: black">+ Cần tránh các chất quá béo, ngọt, hay quá
		mặn, hạn chế thức ăn ướp lạnh, cũng như chế độ ăn uống quá kiêng khem...</span></p>
        <p style="text-align: justify; text-indent: 27.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">
            <strong><span style="color: black; font-weight: normal">+ Hạn chế đồ ăn
		nhanh: </span></strong><span style="color: black">Đồ ăn nhanh chỉ “mang
		lại” cho chị em các bệnh về tim mạch và làm tăng tỉ lệ mắc các bệnh ở cơ
		quan sinh dục. Việc nạp quá nhiều chất béo no sẽ kích thích các hormon
		bài tiết quá độ. Ngoài ra, trong chất béo còn có chất thúc đẩy tế bào
		ung thư tuyến vú hình thành.<br>
		Nạp nhiều các chất nhân tạo cũng là cách tích độc tố cho cơ thể, dẫn đến
		mất cân bằng nội tiết. Nên hạn chế dùng các thực phẩm sử dụng lò vi sóng
		làm sẵn được bọc trong túi nilon để tránh nhiễm độc.</span></p>
        <p style="text-align: justify; text-indent: 27.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">
		<span style="color: black">Những gia vị muối, đường trong các thực phẩm
		ăn liền sẽ thúc đẩy quá trình lão hóa nhanh hơn. </span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt">
		<span style="color: black">+ Tránh thực phẩm chứa nhiều tinh bột vì nó
		làm tăng lượng Cortisol. </span></p>
</font>
</h3>