﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">

    <p style="text-align: center"><font color="#000000" size="5">
        <b><span style="color: #0000FF">Chế độ ăn uống kiêng kị cho bệnh
			động kinh</span></b></font></p>


    <p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">

        &nbsp;</p>
    <font color="#000000" size="3">
        <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%; background: white">
			<span style="font-size: 14.0pt">
			<img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-benh-dong-kinh.jpg" width="297" height="240" lowsrc="Chế%20độ%20ăn%20uống%20kiêng%20kị%20cho%20bệnh%20động%20kinh" longdesc="Chế độ ăn uống kiêng kị cho bệnh động kinh" alt="Chế độ ăn uống kiêng kị cho bệnh động kinh" align="left">Động
			kinh là một rối loạn thần kinh thường gặp, bệnh có thể gặp ở bất cứ
			lứa tuổi nào. Theo Lương y Nguyễn Hữu Toàn động kinh thuộc chứng
			điên giản, và do nhiều nguyên nhân gây ra. Ngoài việc dùng thuốc để
			khắc phục và giảm bớt triệu chứng của bệnh động kinh thì chế độ dinh
			dưỡng cũng có một ý nghĩa quan trọng giúp hạn chế các cơn co giật.</span></p>
        <p class="normal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
			<span style="font-size: 14.0pt; line-height: 150%">Với kinh nghiệm
			thực tế điều trị động kinh bằng phương pháp y học cổ truyền, Lương y
			Nguyễn Hữu Toàn đưa ra một số lời khuyên về chế độ dinh dưỡng tốt
			cho bệnh nhân động kinh. Theo đó một chế độ ăn <b>giàu chất béo</b>
			và <b>carbohydrate thấp</b> được chứng minh giúp làm giảm co giật ở
			bệnh nhân động kinh.</span></p>
        <p class="normal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
            <b><span style="font-size: 14.0pt; line-height: 150%">Những thực
			phẩm nên ăn</span></b><span style="font-size: 14.0pt; line-height: 150%">:</span></p>
        <p style="text-align: justify; text-indent: 36.0pt; line-height: 150%; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 7.0pt">
			<span style="font-size: 14.0pt; line-height: 150%; color: black">Ăn
			những thực phẩm chứa nhiều can xi, vì khi bị phát bệnh nhiều lần dễ
			dẫn đến chứng can xi huyết thấp, cho nên cần bồi bổ nhiều thức ăn có
			hàm lượng can xi cao như tép, moi, xương cục hầm, sườn, cá, đậu các
			loại và những chế phẩm từ đậu, lòng đỏ trứng, rau dền, rau trộn, nấm
			hay sữa bò...</span></p>
        <p style="text-align: justify; text-indent: 36.0pt; line-height: 150%; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 7.0pt">
			<span style="font-size: 14.0pt; line-height: 150%; color: black">Ăn
			nhiều các thức ăn chứa proteine chất lượng cao như thịt nạc, sữa bò,
			trứng gà, tôm, cá, nhằm kích thích hệ thần kinh của trẻ, như vậy sẽ
			có tác dụng phụ trợ rất tốt trong quá trình điều trị bệnh động kinh
			đặc biệt là chứng động kinh ở trẻ em.</span></p>
        <p style="text-align: justify; text-indent: 36.0pt; line-height: 150%; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 7.0pt">
			<span style="font-size: 14.0pt; line-height: 150%; color: black">Ăn
			nhiều rau xanh và hoa quả tươi như rau ngót, rau đay, quả me rừng,
			bưởi, cam, quýt…các loại hạt như gạo lức, bánh mì đen, gan động vật,
			Đây là những thực phẩm chứa nhiều vitamin B, C, K, ...sẽ giúp cho
			quá trình chuyển hóa proteine đồng thời lại kích thích cho tế bào
			não hưng phấn.</span></p>
        <p style="text-align: justify; text-indent: 36.0pt; line-height: 150%; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 7.0pt">
			<span style="font-size: 14.0pt; line-height: 150%; color: black">
			Tăng cường lượng vitamin E cho cơ thể giúp ngăn cản không cho độ
			thẩm thấu của tế bào não tăng cao, có tác dụng ngừa cơn co giật. Các
			loại thực phẩm chứa nhiều vitamine E như tảo biển, giá đỗ, các hạt
			nảy mầm, sò, hến, cà rốt, dầu vừng, dầu lạc, trứng gà...</span></p>
        <p style="text-align: justify; text-indent: 36.0pt; line-height: 150%; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 7.0pt">
            <b><span style="font-size: 14.0pt; line-height: 150%; color: black">
			Những thực phẩm không nên sử dụng</span></b><span style="font-size: 14.0pt; line-height: 150%; color: black">:</span></p>
        <p style="text-align: justify; text-indent: 36.0pt; line-height: 150%; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 7.0pt">
			<span style="font-size: 14.0pt; line-height: 150%">Giảm lượng muối
			và nước đưa vào cơ thể vì khi ăn quá mặn hay uống quá nhiều nước sẽ
			làm cho phụ tải tại não bị tăng lên sẽ có nguy cơ phát thành bệnh
			nhiều hơn.</span></p>
        <p style="text-align: justify; text-indent: 36.0pt; line-height: 150%; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 7.0pt">
			<span style="font-size: 14.0pt; line-height: 150%">Cũng cần phải ăn
			ít các loại thức ăn béo ngậy, cay nóng nhằm tránh sinh đàm, sinh
			nhiệt.</span></p>
        <p style="text-align: justify; text-indent: 36.0pt; line-height: 150%; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 7.0pt">
			<span style="font-size: 14.0pt; line-height: 150%">Rượu và những đồ
			uống có cồn cần kiêng tuyệt đối vì rượu là một trong những nguyên
			nhân khiến cơn động kinh xuất hiện nhiều hơn, ngoài ra rượu còn làm
			hạn chế tác dụng của các loại thuốc điều trị bệnh động kinh và làm
			gia tăng tác dụng phụ của thuốc chống động kinh.</span></p>
        <p style="text-align: justify; text-indent: 36.0pt; line-height: 150%; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 7.0pt">
			<span style="font-size: 14.0pt; line-height: 150%">Không hút thuốc
			lá dù thuốc lá không làm tăng nặng triệu chứng động kinh, tuy nhiên
			thuốc lá không tốt cho sức khỏe.</span></p>
        <p style="text-align: justify; text-indent: 36.0pt; line-height: 150%; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 7.0pt">
            <b><span style="font-size: 14.0pt; line-height: 150%">Một số món ăn
			bài thuốc đông y điều trị bệnh động kinh</span></b></p>
        <p style="text-align: justify; text-indent: 36.0pt; line-height: 150%; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 7.0pt">
			<span style="font-size: 14.0pt; line-height: 150%; color: black">*
			Dùng cháo trúc lịch, thiên ma: Trúc lịch 30g, thiên ma 10g, gạo nếp
			100g, đường trắng một ít. Đem thái lát mỏng thiên ma, cho vào cùng
			gạo nếp nấu thành cháo, đợi cho chín mới cho trúc lịch, đường trắng
			và đun sôi nhào là được. Chia ra ăn hết trong ngày, mỗi ngày chỉ sử
			dụng một liều này.</span></p>
        <p style="text-align: justify; text-indent: 36.0pt; line-height: 150%; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 7.0pt">
			<span style="font-size: 14.0pt; line-height: 150%; color: black">*
			Cháo sơn thù du, câu kỷ tử, rết: Sơn thù du 10g, câu kỷ tử 25g, rết
			1 con, gạo nếp 100g. Trước tiên cho cả 3 vị thuốc trên vào sắc lấy
			nước bỏ bã. Cho gạo nếp vào nước thuốc nấu nhừ thành cháo. Chia ra
			ăn hết trong ngày, mỗi ngày cần ăn hết một liều này. Một liệu trình
			là 3 – 5 ngày liền.</span></p>
        <p style="text-align: justify; text-indent: 36.0pt; line-height: 150%; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 7.0pt">
			<span style="font-size: 14.0pt; line-height: 150%; color: black">*
			Canh thầu dầu, trứng gà: Lấy rễ cây thầu dầu đỏ (tía) 50g, trứng gà
			2 quả, dấm ăn 10ml. Trước tiên lấy rễ thầu dầu đỏ sắc lấy 150ml nước,
			bỏ bã và cho trứng gà vào khi nước đang còn nóng, đồng thời cho luôn
			cả dấm rồi đun tiếp. Ăn trứng uống nước canh. Mỗi ngày cần ăn hết 1
			liều này. Ăn liên tục 7 – 10 ngày là một liệu trình.</span></p>
        <p style="text-align: justify; text-indent: 36.0pt; line-height: 150%; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 7.0pt">
			<span style="font-size: 14.0pt; line-height: 150%; color: black">*
			Canh gan cừu, hoa cúc: Lấy gan cừu hay dê cũng được 50g, cốc tinh
			thảo 6g, hoa cúc trắng 9g. Cho tất cả vào hầm chín nhừ, nêm gia vị
			vừa miệng.</span></p>


    </font></h3>