﻿<div id="noidung">


    <h1 style="text-align: center"><font size="5">Chế độ ăn uống, kiêng kị cho bệnh chóng mặt</font></h1>
<font color="#000000" size="3">
    <p class="MsoNormal" style="text-align:justify;line-height:150%;vertical-align:
baseline">
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/mon-an-tot-cho-benh-chong-mat.jpg" width="292" title="Món ăn tốt cho bệnh chóng mặt" height="172" lowsrc="Món%20ăn%20tốt%20cho%20bệnh%20chóng%20mặt" longdesc="Món ăn tốt cho bệnh chóng mặt" alt="Món ăn tốt cho bệnh chóng mặt" align="left">Chóng mặt là khi ta cảm nhận thấy mọi vật xung quanh chuyển động, chòng
		chành, thường kém với cảm giác buồn nôn và cân bằng kém. Chóng mặt có
		thể do bệnh lý như chứng rối loạn não, khối u, dị ứng, nhiễm trùng hoặc
		chóng mặt do các lý do khách quan như: có chất lỏng ở trong tai, say tàu
		xe, do uống các loại thuốc như thuốc tiểu đường. Chóng mặt ngoài việc
		dùng thuốc thì có một số thực phẩm có thể giúp ngăn ngừa hoặc giảm chóng
		mặt.</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%;vertical-align:
baseline"><b>
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Tăng cường protein cho cơ thể:</span></b></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%;vertical-align:
baseline">
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Protein cung cấp các axit amin - các khối xây dựng mô nạc.</span><span style="font-size:13.0pt;line-height:
150%">&nbsp;<span style="border: 1.0pt none windowtext; padding: 0cm">Protein cũng
		giúp ổn định lượng đường trong máu và có thể ngăn chặn hoặc giảm chóng
		mặt gây ra bởi việc bỏ bữa, và hạ đường huyết liên quan đến bệnh tiểu
		đường.</span></span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%;vertical-align:
baseline">
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Nguồn protein tối ưu là ít chất béo bão hòa và bao gồm gia cầm không da
		có thịt trắng như: thịt gà, vịt, cá, các loại đậu, trứng / lòng trắng
		trứng, đậu hũ và sữa ít chất béo hoặc các sản phẩm đậu nành.</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%;vertical-align:
baseline"><b>
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Cung cấp đầy đủ lượng ngũ cốc cho cơ thể</span></b><span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">:</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%;vertical-align:
baseline">
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Ngũ cốc nguyên hạt (chưa qua quá trình chế biến) cung cấp một lượng dồi
		dào chất xơ và các chất dinh dưỡng, chẳng hạn như sắt và các vitamin B.</span><span style="font-size:13.0pt;
line-height:150%">&nbsp;Thường xuyên sử dụng ngũ cốc nguyên hạt thay cho các loại ngũ
		cốc tinh chế là một trong những phương pháp ngăn ngừa chóng mặt và các
		triệu chứng khác của hạ đường huyết. Đối với những người bị thiếu máu
		gây hiện tượng chóng mặt, mệt mỏi thì việc thường xuyên bổ sung ngũ cốc
		nguyên hạt cũng mang lại tác dụng.</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%;vertical-align:
baseline"><span style="font-size:13.0pt;line-height:150%">Các loại ngũ cốc nên
		sử dụng: bánh mì, gạo lức, các loại ngô, lạc, đỗ,…</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
        <b>
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Nước ép trái cây, trái cây khô hoặc Soda tốt cho bệnh chóng mặt</span></b></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Nước ép trái cây, hoa quả tươi là một trong những thực phẩm có tác dụng
		hạn chế chứng chóng mặt rất hiệu quả.</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
		<span style="font-size:13.0pt;line-height:150%">Đối với người bị chóng
		mặt nên hạn chế: những chất kích thích, đồ uống có cồn, có ga, không nên
		bỏ bữa.</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
		<span style="font-size:13.0pt;line-height:150%">Ngoài chế độ ăn uống
		người hay bị chóng mặt nên giữ tinh thần thoải mái, tập thể dục nhẹ
		nhàng mỗi ngày để tăng cường sức khỏe.</span></p>
   </font></div>