﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">


    <p style="margin-top: 0; margin-bottom: 0" align="center">
        <b>
            <font size="5" color="#000080">Chế độ ăn uống, kiêng kị
                cho bệnh Máu nhiễm mỡ</font></b></p>


    <font color="#000000" size="3">
        <p style="margin-top: 0; margin-bottom: 0" align="center">&nbsp;
        </p>
					<span style="font-family: Times New Roman; font-size:16pt">
					</span>
        <p style="margin-top: 0; margin-bottom: 0">&nbsp;
            &nbsp;&nbsp;&nbsp;
		<span style="font-weight: 400">
		<font color="#0033CC" size="3" face="Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/rau-xanh1.jpg" width="259" height="194" align="left">&nbsp;&nbsp;
        </font>
		<font size="3" face="Times New Roman">Lượng mỡ trong máu tăng cao liên quan chặt chẽ với chế độ ăn uống của
            chính bạn. Cách điều trị đơn giản và hiệu quả nhất là điều chỉnh ngay
            trong bữa ăn hàng ngày của gia đình. Phòng khám Đông y Nguyễn Hữu Toàn xin đưa ra một số gợi ý về
            những thực đơn giúp giảm và ngăn ngừa lượng mỡ nhiễm trong máu.</font></span></p>
        <p style="line-height: 21.0pt; margin-bottom: 1.5pt; ">
		<span style="font-weight: 400">
		<font size="3" face="Times New Roman">Những người bị mỡ
            trong máu cao cần biết kiểm soát ăn uống một cách nghiêm khắc. Nên ăn
            những loại thực phẩm có chứa hàm lượng cholesterol thấp như rau xanh,
            các sản phẩm được làm từ đậu, thịt nạc thăn… Đặc biệt là nên ăn những
            loại rau xanh có chứa nhiều chất xơ. Chỉ có như vậy thì mới làm giảm
            được sự hấp thụ của đường ruột đối với cholesterol. </font></span></p>
        <p style="line-height: 21.0pt; margin-bottom: 1.5pt; ">
		<span style="font-weight: 400">
		<font size="3" face="Times New Roman">- Không nên ăn tối
            quá muộn với thức ăn nhiều đạm vì rất khó tiêu hoá và sẽ làm lượng
            cholesterol đọng trên thành động mạch dẫn đến xơ vữa động mạch. </font>
		</span></p>
        <p style="line-height: 21.0pt; margin-bottom: 1.5pt; ">
		<span style="font-weight: 400">
		<font size="3" face="Times New Roman">- Nên ăn nhạt vì
            thức ăn này có lợi cho sức khoẻ và bệnh tim. Kiêng thức ăn có nồng độ
            chất béo cao, nên ăn những thức ăn ít chất béo như cá, đậu phụ, đỗ tương.
        </font></span></p>
        <p><span style="font-weight: 400">
		<font size="3" face="Times New Roman">- Nên ăn thực phẩm
            có nhiều tác dụng giảm mỡ trong máu như: Gừng, chế phẩm đậu sữa, nấm
            hương, mộc nhĩ, hành tây, ba ba, trà, dầu ngô. </font></span></p>
        <p class="bodytext"><span style="font-weight: 400">
		<font size="3" face="Times New Roman">Để khắc phục tình
            trạng cholesterol máu cao, chế độ ăn là ưu tiên số một. </font></span>
        </p>
        <p class="MsoSubtitle">
            <font size="3" face="Times New Roman">
		<span style="font-weight: 700">Nên ăn
		ít chất béo</span></font></p>
        <p class="bodytext"><span style="font-weight: 400">
		<font size="3" face="Times New Roman">Để giảm
            cholesterol trong máu, chế độ ăn chỉ được cung cấp dưới 30% calo từ chất
            béo - Tránh ăn mỡ động vật (mỡ lợn, bơ, mỡ bò...) và kem sữa bò: Những
            thực phẩm này chứa nhiều chất béo no, những chất rất dễ làm tắc động
            mạch. Cách tốt nhất là chọn toàn thịt nạc, nếu ăn thịt gia cầm thì nên
            bỏ da. Nếu dùng các thức ăn từ sữa thì nên chọn loại đã tách kem (còn
            gọi là sữa gầy). Ngay cả sữa chua hay pho mát cũng nên chọn loại làm từ
            sữa gầy hoặc sữa có hàm lượng chất béo chỉ 1-2%.</font></span></p>
        <p class="bodytext"><span style="font-weight: 400">
		<font size="3" face="Times New Roman">- Tránh dùng dầu
            cọ hay dầu dừa. Không chỉ tồn tại riêng lẻ, các loại dầu này có mặt
            trong kem thực vật để uống với cà phê (coffee creamers, coffee mate),
            bánh kem, kẹo chocolate…</font></span></p>
        <p class="bodytext"><span style="font-weight: 400">
		<font size="3" face="Times New Roman">- Tránh các thức
            ăn như bơ thực vật dạng thỏi và bánh, bánh nướng lò, sản phẩm dạng rán
            như khoai tây rán, mì ăn liền và nhiều thức ăn công nghiệp chế biến sẵn
            khác. Trong những thức ăn này có axit béo transfat có thể làm tăng
            lượng cholesterol máu. Để tránh axit này, nếu muốn phết bơ lên bánh mì
            hãy chọn loại bơ thực vật mềm.</font></span></p>
        <p class="bodytext"><span style="font-weight: 400">
		<font size="3" face="Times New Roman">- Nên dùng dầu ô
            liu, dầu cải, dầu ngô, dầu hạt rum, dầu đậu nành và dầu hướng dương. Đây
            là những loại dầu có tác dụng làm hạ mức cholesterol. Điều cần lưu ý là
            tổng tất cả các loại chất béo nói trên đều không được vượt quá 30% lượng
            calo cho phép.</font></span></p>
        <p class="MsoSubtitle">
            <font size="3" face="Times New Roman">
		<span style="font-weight: 700">Ít
		ăn thịt đỏ</span><span style="font-weight: 400">, ăn nhiều cá, rau quả</span></font></p>
        <p class="bodytext">
		<span style="font-weight: 400">
		<font color="#0033CC" size="3" face="Times New Roman">
            <img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/rau-xanh-tot-cho-benh-mau-nhiem-mo.jpg" width="276" height="183" align="left"></font><font size="3" face="Times New Roman">- Giới hạn lượng
            thịt đỏ (bò, ngựa, trâu, cừu) tiêu thụ dưới 255 g/tuần.</font></span></p>
        <p class="bodytext"><span style="font-weight: 400">
		<font size="3" face="Times New Roman">- Ăn nhiều cá (mỗi
            tuần vài ba lần) để thu nhận axit béo hệ Omega-3, có tác dụng bảo vệ tim
            mạch. Cá hồi, cá ngừ, cá mòi, cá trích và cá thu có nhiều axit béo loại
            này.</font></span></p>
        <p class="bodytext"><span style="font-weight: 400">
		<font size="3" face="Times New Roman">- Tăng lượng chất
            xơ trong bữa ăn, đặc biệt là dưới dạng hòa tan. Những thức ăn có nhiều
            chất xơ hòa tan là gạo lức, các hạt họ đậu, đậu lăng, lúa mạch, rau,
            trái cây (táo, lê, ổi, mận, cam, bưởi). Các thức ăn này làm giảm lượng
            chất béo và cholesterol được hấp thụ vào cơ thể, giúp "trục xuất" các
            muối mật ra ngoài.</font></span></p>
        <p class="bodytext"><span style="font-weight: 400">
		<font size="3" face="Times New Roman">- Nạp đủ axit
            folic: Nếu hàm lượng axit này trong máu quá thấp thì hàm lượng
            homocystein sẽ tăng, dẫn đến nguy cơ bị bệnh tim. Các nhà nghiên cứu
            khuyến cáo nên nạp mỗi ngày 400 microgram axit folic qua các thực phẩm
            như rau chân vịt, nước ép trái cam, bánh mì, lạc, đậu trắng và mầm lúa
            mì.</font></span></p>
        <p>&nbsp;
        </p>
        <p class="bodytext" align="center"><font face="Times New Roman">
            --------------------------------------------------------------------------------------------------</font></p>
    </font><font size="3">
    <p class="bodytext" align="center"><b>
        <font face="Times New Roman" color="#0033CC">THAM KHẢO THÊM VỀ BỆNH MÁU
            NHIỄM MỠ</font></b></p></font><font color="#000000" size="3">
    <p class="MsoNormal">
        <span style="font-size: 12.0pt; font-family: Times New Roman">&nbsp;</span><b><span style="font-size:12.0pt;color:black"><a name="Những_điều_cần_lưu_ý_về_chế_độ_dinh_dưỡng">Những
        điều cần lưu ý về chế độ dinh dưỡng</a></span></b></p>
    <table class="MsoNormalTable" border="0" width="100%" cellpadding="0" id="table62">
        <tbody><tr>
            <td valign="top" style="width:343px;padding:.75pt; ">
                <p class="MsoNormal" align="center" style="text-align:center">
                    <b><span style="font-size:12.0pt;color:black">NÊN </span></b>
                </p></td>
            <td valign="top" style="width:298px;padding:.75pt; ">
                <p class="MsoNormal" align="center" style="text-align:center">
                    <b><span style="font-size:12.0pt;color:black">KHÔNG NÊN</span></b></p></td>
        </tr>
        <tr>
            <td valign="top" style="width:343px;padding:.75pt; ">
                <p class="MsoNormal"><span style="font-size:12.0pt;color:black">
				- Ăn nhiều rau quả và trái cây tươi loại ít ngọt (khoảng 500g
				mỗi ngày), nên ăn trái cây nguyên cả xác hơn là ép lấy nước uống.</span><span style="font-size:12.0pt"><br>
				<span style="color:black">- Ăn nhiều tỏi</span><br>
				<span style="color:black">Mỗi tuần nên có ít nhất là 3 ngày ăn
				cá và 1 ngày ăn đậu (đậu hũ, đậu ve, đậu xanh…) thay cho ăn thịt.</span><br>
				<span style="color:black">- Nếu ăn thịt, nên chọn các loại thịt
				nạc không lẫn mỡ, da và gân.</span><br>
				<span style="color:black">- Nếu ăn tôm, cua, ghẹ… nên bỏ phần
				gạch.</span><br>
				<span style="color:black">- Mỗi tuần chỉ nên dùng 2 quả trứng gà
				hoặc vịt. </span><br>
				<span style="color:black">- Nên dùng dầu thay cho mỡ động vật (dầu
				đậu nành, dầu hướng dương, dầu ô liu…)</span><br>
				<span style="color:black">- Nên uống thật nhiều nước trong ngày
				(kể cả nước lá chè xanh)</span></span></p></td>
            <td valign="top" style="width:298px;padding:.75pt; ">
                <p class="MsoNormal" align="justify"><span style="font-size:12.0pt;color:black">
				- Thường xuyên dùng các món chiên xào.</span><span style="font-size:12.0pt"><br>
				<span style="color:black">- Ăn thường xuyên các thực phẩm có hàm
				lượng cholestrol cao (ví dụ: óc heo, mỡ, da gà, da vịt, da heo,
				lòng đỏ trứng, chân giò, bò gân, đồ lòng, xí quách…)</span><br>
				<span style="color:black">- Ăn quá nhiều đồ ngọt (ví dụ: chè,
				mứt, kẹo, bánh kem, kem, nước ngọt, nước tăng lực, nước trái cây
				đóng hộp, …)</span><br>
				<span style="color:black">- Uống quá nhiều rượu, bia (tuy nhiên
				nếu điều độ mỗi ngày uống 1 ly nhỏ rượu vang đỏ sẽ tốt cho mạch
				máu)</span><br>
				<span style="color:black">- Hút thuốc lá.</span></span></p></td>
        </tr>
        </tbody></table>
    <p class="MsoNormal" style="text-align:justify;text-indent:13.9pt"><b>
		<span style="font-size: 12.0pt; color: black">
		<a name="Máu_nhiễm_mỡ_là_gì">Máu nhiễm mỡ là gì?</a></span></b></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:13.9pt">
		<span style="font-weight: 400"><font face="Times New Roman">Máu nhiễm mỡ,
            (mỡ máu cao) thực chất là tình trạng rối loạn chuyển hóa lipid máu. Đó
            là tình trạng tăng nồng độ các chất mỡ trong máu bao gồm cholesterol (LDL),
            trigliceride.</font></span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:13.9pt"><b>
		<span style="font-size: 12.0pt; color: black">Ai là người có nguy cơ cao
		mắc bệnh máu nhiễm mỡ?</span></b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:13.9pt">
        <font face="Times New Roman"><span style="font-weight: 400">Thừa cân,
		béo phì, hút thuốc lá, uống nhiều rượu, ăn nhiều thức ăn có chứa chất
		béo sẽ làm tăng lượng triglycerid trong máu là những đối tượng có nguy
		cơ cao mắc bệnh máu nhiễm mỡ.</span></font></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:13.9pt">
        <font face="Times New Roman"><span style="font-weight: 400">Bên cạnh đó
		máu nhiễm mỡ còn do biến chứng của các bệnh như: đái tháo đường, hội
		chứng thận hư, tăng urê máu, suy tuyến giáp, bệnh gan, nghiện rượu, uống
		thuốc tránh thai, một số thuốc tim mạch như thuốc ức chế bêta giao cảm,
		nhóm thuốc lợi tiểu thiazid. (chiếm khoảng 10% nguyên nhân gây bệnh máu
		nhiễm mỡ)</span></font></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:13.9pt">
        <b>Máu nhiễm mỡ có gây chết người không?</b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:13.9pt">
        <font face="Times New Roman"><span style="font-weight: 400">Câu trả lời
		là có nếu máu nhiễm mỡ không được điều trị kịp thời.</span></font></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:13.9pt">
        <font face="Times New Roman"><span style="font-weight: 400">Bởi máu
		nhiễm mỡ sẽ tạo điều kiện thuận lợi hình thành các mảng xơ vữa ở thành
		mạch máu, gây hẹp lòng mạch, tăng huyết áp, thiếu máu cơ tim, thiếu máu
		não… Nặng nề hơn nữa là vỡ các mảng xơ vữa làm lấp mạch não (đột quỵ)
		hoặc nhồi máu cơ tim có thể dẫn đến tàn phế hoặc tử vong. Tăng
		triglyceride sẽ làm gan nhiễm mỡ, đề kháng insulin dễ dẫn đến bệnh đái
		tháo đường. Ngoài ra nếu Triglyceride quá cao ( &gt;1000mg/dl) có thể gây
		ra viêm tuỵ cấp. </span></font></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:13.9pt">
        <b>Người gầy có bị máu nhiễm mỡ không?</b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:13.9pt">
        <font face="Times New Roman"><span style="font-weight: 400">Người gầy
		cũng có thể mắc máu nhiễm mỡ. Máu nhiễm mỡ thực chất là tình trạng rối
		loạn lipit máu. Tình trạng rối loạn này có thể xảy ra với bất kỳ ai, tuy
		nhiên những người béo phì sẽ có nguy cơ mắc bệnh cao hơn người gầy.
		Người gầy nếu có chế độ ăn uống không lành mạnh: sử dụng rượu bia, hút
		thuốc, ăn nhiều nội tạng động vật sẽ có khả năng mắc bệnh máu nhiễm mỡ
		cao. Chính vì thế người gầy cũng không nên chủ quan, nên đi khám sức
		khỏe định kỳ để nếu có bệnh có thể phát hiện sớm.</span></font></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:13.9pt">
        <b>Trong Đông y Máu nhiễm mỡ do nguyên nhân gì gây nên?</b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:13.9pt">
        <font face="Times New Roman"><span style="font-weight: 400">Máu nhiễm có
		thể do một số nguyên nhân sau:</span></font></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:38.15pt">
        <font face="Times New Roman"><span style="font-weight: 400">+ Ăn uống
		không điều độ: Ăn nhiều những thức ăn mỡ, béo, uống rượu… làm tăng lượng
		mỡ lên, trong khi đó chức năng vận hóa của Tỳ lại bị suy giảm khiến cho
		lượng mỡ ứ đọng lại gây nên, hoặc do ăn uống thất thường làm cho Tỳ Vị
		bị tổn thương không vận hóa được dưỡng trấp, các chất béo không tan đi
		được, tụ lại gây nên.</span></font></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:38.15pt">
        <font face="Times New Roman"><span style="font-weight: 400">+ Tỳ Hư yếu
		kèm thấp tà ứ đọng: Tỳ ở trung tiêu, có chức năng vận hóa, Tỳ thích khô
		ráo chứ không thích ẩm ướt, nếu ăn nhiều chất lạnh, mát quá làm Tỳ Vị bị
		tổn thương, chức năng vận hóa bị mất đi sẽ gây nên béo phì, thủy thấp sẽ
		thịnh. Tỳ bị tổn thương khiến cho dưỡng trấp không chuyển hóa thành các
		chất nuôi dưỡng cơ thể, Cholesterol sẽ tụ lại, gây nên Cholesterol cao.</span></font></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:38.15pt">
        <font face="Times New Roman"><span style="font-weight: 400">+ Tình Chí
		Bị Thương Tổn: Suy tư, giận dữ làm hại Tỳ, Can. Can mất chức năng sơ
		tiết, khí cơ bị uất trệ, khí bị trệ, huyết bị ứ, hoặc Can khí uất kết
		lấn sang làm tổn thương Tỳ Vị, Tỳ mất chức năng vận hóa, lượng mỡ không
		chuyển hóa được tụ lại gây nên chứng Cholesterol cao.</span></font></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:38.15pt">
        <font face="Times New Roman"><span style="font-weight: 400">+ Thận Khí
		Hư Suy: Người lớn tuổi cơ thể bị suy yếu, thận khí hư hoặc lao thương
		quá sức, tinh khí bị tổn hại, sẽ làm cho tinh khí bất túc, khí hóa bị
		bất cập, tân dịch không đều hòa, lượng mỡ không chuyển hóa được, tụ lại
		thành chất mỡ xấu làm cho Cholesterol tăng cao.</span></font></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:38.15pt">
        <font face="Times New Roman"><span style="font-weight: 400">+ Đờm ngưng
		huyết kết: Bình thường, lượng mỡ hóa sinh vào với thủy cốc, dưỡng trấp,
		mỡ cùng với tân dịch đều là loại chất dịch, tân dịch và huyết cùng hỗ
		sinh cho nhau, mỡ và máu cùng quy vào phần dinh. Tân dịch tụ lại sinh ra
		đờm, huyết dịch ứ trở gây nên huyết ứ. Đờm ngưng, huyết trở đều làm cho
		lượng mỡ chuyển hóa thất thường, tụ lại thành trọc tà, gây nên
		Cholesterol cao.</span></font></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:16.35pt">
        <font face="Times New Roman"><span style="font-weight: 400">Cũng có thể
		do Can âm bị hao tổn, Can dương quá vượng, làm cho phong ở bên trong bị
		động, bốc lên thanh khiếu bên trên gây nên hoặc do Tỳ bị hư yếu, nguồn
		vận hóa bị kém khiến cho tinh khí của ngũ tạng kém, Thận không tàng trữ
		lại được, khiến cho Thận thủy bất túc, Can không được tư dưỡng gây nên
		bệnh.</span></font></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:16.35pt">
        <b><span lang="FR" style="font-size: 13.0pt">Tôi bị máu nhiễm mỡ nên ăn
		gì&nbsp;?</span></b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:16.35pt">
        <font face="Times New Roman"><span style="font-weight: 400">Những người
		bị máu nhiễm mỡ nên ăn những loại thực phẩm có chứa hàm lượng
		cholesterol thấp như rau xanh, các sản phẩm được làm từ đậu, thịt nạc
		thăn… Đặc biệt là nên ăn những loại rau xanh có chứa nhiều chất xơ. Chỉ
		có như vậy thì mới làm giảm được sự hấp thụ của đường ruột đối với
		cholesterol.</span></font></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:16.35pt">
		<span style="font-weight: 400"><font face="Times New Roman">Nên ăn nhạt
            vì thức ăn này có lợi cho sức khoẻ và bệnh tim. Kiêng thức ăn có nồng độ
            chất béo cao, nên ăn những thức ăn ít chất béo như cá, đậu phụ, đỗ tương.</font></span></p>
		<span style="font-weight: 400"><font face="Times New Roman">Nên ăn thực
            phẩm có nhiều tác dụng giảm mỡ trong máu như: Gừng, chế phẩm đậu sữa,
            nấm hương, mộc nhĩ, hành tây, ba ba, trà, dầu ngô.</font></span><p style="margin-top: 0; margin-bottom: 0"></p>
  </font> </h3>