﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <font color="#000000" size="5">
</font><p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white"><font color="#000000" size="5">
    <b><span style="line-height: 150%; color: #333333">Chế độ ăn uống </span></b>

</font><font size="5"><b>phòng và chữa nhiệt miệng</b></font></p>
    <p style="text-align: justify; margin-bottom: 7.5pt; background: white">
        <span style="font-size:14.0pt">&nbsp;&nbsp;&nbsp; </span>
			<span class="apple-converted-space">
			<span style="color: black">
			<img border="0" src="http://www.thaythuoccuaban.com/images/nhiet-mieng(1).jpg" width="320" height="182" align="left" lowsrc="Chế%20độ%20ăn%20uống%20phòng%20và%20chữa%20nhiệt%20miệng%20hiệu%20quả" longdesc="Chế độ ăn uống phòng và chữa nhiệt miệng hiệu quả" alt="Chế độ ăn uống phòng và chữa nhiệt miệng hiệu quả">Nhiệt miệng, lở miệng
			là bệnh có thể gặp ở bất kỳ lứa tuổi nào. Có nhiều người thường
			xuyên bị nhiệt miệng, vết loét kéo dài lâu khỏi ảnh hưởng tới cuộc
			sống hàng ngày.</span></span></p>
    <p style="text-align: justify; text-indent: .5in; line-height: 17.1pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: 6.8pt; background: white">
			<span class="apple-converted-space">
			<span style="color: black">Nhiệt miệng do nhiều
			nguyên nhân gây ra như: do virut, do </span></span>
        suy giảm miễn dịch ở vùng niêm mạc
        miệng và lưỡi, hoặc vết trầy do đánh răng, stress, tình trạng dị ứng
        của cơ thể (như viêm mũi dị ứng), phụ nữ trong những ngày trước khi
        có hành kinh, gia đình có tiền sử có nhiều người bị nhiệt miệng...</p>
    <p style="text-align: justify; line-height: 17.1pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: 6.8pt; background: white">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Theo Lương y Nguyễn Hữu
        Toàn để điều trị dứt điểm bệnh nhiệt miệng ngoài việc dùng thuốc thì
        chế độ ăn uống đóng góp một phần quan trọng. Dưới đây là một số lưu
        ý đối với bệnh nhiệt miệng.</p>
    <p style="text-align: justify; line-height: 17.1pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: 6.8pt; background: white">
        Những việc nên làm:</p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 17.1pt; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: 6.8pt; background: white">
			<span style="font-family: Symbol">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>Người bệnh cần phải vệ
        sinh, chăm sóc miệng sạch sẽ. Thường xuyên xúc miệng bằng nước muối
        nhạt (tốt nhất nên súc miệng bằng nước trà xanh có pha muối) giúp
        vết loét mau liền. </p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 17.1pt; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: 6.8pt; background: white">
			<span style="font-family: Symbol">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>Trong thời gian bị
        nhiệt miệng nên ăn các thực phẩm mềm như cháo, súp (tuy nhiên cần
        đảm bảo đủ dinh dưỡng cho cơ thể).</p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 17.1pt; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: 6.8pt; background: white">
			<span style="font-family: Symbol">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>Nên ăn nhiều rau xanh
        như rau cải, các loại hoa quả tươi như cam, nho,... chứa nhiều
        vitamin C tăng cường sức đề kháng cho cơ thể, ngoài ra còn giúp vết
        nhiệt miệng chóng lành.</p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 17.1pt; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: 6.8pt; background: white">
			<span style="font-family: Symbol">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>Uống bột sắn dây ngày
        2 lần sẽ giúp bạn giảm đau rát và nhanh liền vết thương trong trường
        hợp bị bệnh nhiệt miệng độ nhẹ.</p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 17.1pt; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: 6.8pt; background: white">
			<span style="font-family: Symbol; color: black">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="color: black">Uống các
			loại nước mát như: nước rau má, nước diếp cá, nước râu ngô,...</span></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 17.1pt; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: 6.8pt; background: white">
			<span style="font-family: Symbol; color: black">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="color: black">Nên ăn
			các loại thịt như: thịt gia cầm, cá nước ngọt,...</span></p>
    <p style="text-align: justify; line-height: 17.1pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: 6.8pt; background: white">
        <b><span style="color: black">Những việc không
			nên làm</span></b></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 17.1pt; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: 6.8pt; background: white">
			<span style="font-family: Symbol; color: black">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="color: black">Uống
			nước đá lạnh</span></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 17.1pt; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: 6.8pt; background: white">
			<span style="font-family: Symbol; color: black">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="color: black">Ăn các
			loại thực phẩm chứa nhiều gia vị cay nóng như: ớt, hạt tiêu, gừng.</span></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 17.1pt; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: 6.8pt; background: white">
			<span style="font-family: Symbol; color: black">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="color: black">Ăn thịt
			chó</span></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 17.1pt; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: 6.8pt; background: white">
			<span style="font-family: Symbol; color: black">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="color: black">Uống bia
			rượu, đồ uống có ga, có cồn</span></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 17.1pt; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: 6.8pt; background: white">
			<span style="font-family: Symbol; color: black">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="color: black">Hút
			thuốc lá</span></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 17.1pt; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: 6.8pt; background: white">
			<span style="font-family: Symbol; color: black">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="color: black">Đồ rán
			cháy, thực phẩm nhiều dầu mỡ</span></p>
    <p style="text-align: justify; line-height: 17.1pt; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: 6.8pt; background: white">
        <b><span style="color: black">Phòng bệnh nhiệt
			miệng</span></b><span style="color: black">: Cách
			tốt nhất để phòng bệnh nhiệt miệng là phải thường xuyên chắm sóc,
			giữ vệ sinh răng miệng sạch sẽ. Cung cấp đầy đủ chất dinh dưỡng cho
			cơ thể, nên ăn nhiều rau xanh, hoa quả tươi. Uống đủ nước. Hạn chế
			bia rượu, thuốc lá, các chất kích thích.</span></p>

</font></h3>