﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">


    <h1><font color="#0000FF"><font size="5" face="Times New Roman">
		<span style="font-family: Times New Roman; ">Chế độ ăn uống
			cho bệnh </span>Gan nhiễm mỡ</font></font></h1>


<p class="MsoBodyTextIndent" id="Gan nhiễm mỡ, gan nhiem mo, gannhiemmo" align="justify"><font color="#000000">
    <font face="Times New Roman" style="font-size: 13pt">
        <img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-gan-nhiem-mo.jpg" width="236" height="237" align="left" lowsrc="Chế%20độ%20ăn%20cho%20bệnh%20gan%20nhiễm%20mỡ" longdesc="Chế độ ăn cho bệnh gan nhiễm mỡ" alt="Chế độ ăn cho bệnh gan nhiễm mỡ">Ngoài
        việc điều trị theo chỉ định của bác sỹ thì chế độ ăn cho người mắc bệnh
        Gan nhiếm mỡ cũng là một vấn đề được quan tâm nhiều nhất của người mắc
        bệnh này. Y học cổ truyền</font></font><font color="#000000" size="3"><span lang="EN-GB" style="font-size: 13pt; font-family: Times New Roman; color: black">
		xếp bệnh gan nhiễm mỡ thuộc loại các chứng ‘Đàm Thấp’, ‘Trọc Trở’ ‘</span></font></p><font color="#000000" size="3">
    <font color="#000000" style="font-size: 13pt">
        <p class="MsoBodyTextIndent" align="justify">
            <font face="Times New Roman">Thức
                ăn lý tưởng cho người bị gan nhiễm mỡ:&nbsp;
		<span style="color:windowtext">Ngô, rau cần, nấm hương có tác dụng hạ
		cholesterol trong máu và tế bào gan. Ngoài ra còn có một số loại trà
		giúp giải độc, hạ mỡ máu và giảm béo. Những thực phẩm này đặc biệt thích
		hợp cho bệnh nhân gan nhiễm mỡ.</span></font></p>
        <p class="MsoNormal" style="margin-bottom:2.55pt" align="justify">
            <font face="Times New Roman"><strong>Ngô:</strong>
                chứa nhiều các acid béo không no, có khả năng thúc đẩy quá trình chuyển
                hóa của chất béo nói chung và cholesterol nói riêng. Theo dinh dưỡng học
                cổ truyền, ngô có vị ngọt tính bình, công dụng điều trung kiện vị lợi
                niệu, thường được dùng cho những trường hợp tì vị hư yếu, chán ăn, thủy
                thấp đình trệ, tiểu tiện bất lợi, phù thũng, rối loạn lipid máu, thiểu
                năng mạch vành.</font></p>
        <p class="MsoNormal" style="margin-bottom:2.55pt" align="justify">
            <font face="Times New Roman"><b>Nhộng tằm:</b> vị
                ngọt mặn, tính bình, giúp ích tì bổ hư, trừ phiền giải phát. Nhộng còn
                có tác dụng làm giảm cholesterol huyết thanh và cải thiện chức năng gan.
                Nhộng thường dùng dưới dạng các món ăn hoặc tán thành bột để uống.</font></p>
        <p class="MsoNormal" style="margin-bottom:2.55pt" align="justify">
            <font face="Times New Roman"><b>Kỷ tử:</b>&nbsp;có tác
                dụng ức chế quá trình tích tụ chất mỡ trong tế bào gan, thúc đẩy sự tăng
                sinh tế bào gan và cải thiện chu trình chuyển hóa chất béo.</font></p>
        <p class="MsoNormal" style="margin-bottom:2.55pt" align="justify">
            <font face="Times New Roman"><b>Nấm hương:</b> chứa
                những chất có tác dụng làm giảm cholesterol trong máu và tế bào gan.
                Thường dùng dưới dạng thực phẩm để chế biến các món ăn.</font></p>
        <p class="MsoNormal" style="margin-bottom:2.55pt" align="justify">
            <font face="Times New Roman"><b>Lá trà:</b> có khả
                năng giảm trừ các chất bổ béo. Trà có khả năng làm tăng tính đàn hồi
                thành mạch, giảm cholesterol máu và phòng chống sự tích tụ mỡ trong gan.</font></p>
        <p class="MsoNormal" style="margin-bottom:2.55pt" align="justify">
            <font face="Times New Roman"><b>Lá sen:</b> giảm mỡ
                máu, giảm béo và phòng chống sự tích tụ mỡ trong tế bào gan. Lá sen được
                dùng dưới dạng hãm với nước sôi uống thay trà hoặc nấu cháo lá sen.</font></p>
        <p class="MsoNormal" style="margin-bottom:2.55pt" align="justify">
            <font face="Times New Roman"><b>Rau cần:</b> chứa
                nhiều vitamin, tác dụng mát gan, hạ cholesterol trong máu, thúc đẩy quá
                trình bài tiết các chất phế thải và làm sạch huyết dịch. </font> </p>
        <p class="MsoNormal" style="margin-bottom:2.55pt" align="justify">
            <font face="Times New Roman">Ngoài ra, người
                bệnh gan nhiễm mỡ nên bổ sung các loại rau tươi như cải xanh, cải cúc,
                rau muống... có công dụng giải nhiệt làm mát gan. Cà chua, cà rốt, măng
                bí đao, mướp, dưa gang, dưa chuột... thanh nhiệt, thông phủ, hành khí,
                lợi tiểu. Các loại dầu thực vật như dầu lạc, dầu vừng, dầu đậu tương...
                chứa nhiều acid béo không no có tác dụng làm giảm cholesterol máu; các
                loại thịt, cá ít mỡ và các thức ăn chế biến từ đậu tương, đậu xanh, đậu
                đen...</font></p>
        <p class="MsoNormal" style="margin-bottom:2.55pt" align="justify">
            <font face="Times New Roman">
		<span style="color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Về đồ
            uống, nên dùng một trong những loại trà dược sau đây:</b></span></font></p>
        <p class="MsoNormal" style="margin-bottom:2.55pt" align="justify">
            <font face="Times New Roman">
		<span style="color:black">- Trà khô 3 g, trạch tả 15 g. Hai thứ hãm với
		nước sôi trong bình kín, sau 20 phút thì dùng được. Có công dụng bảo vệ
		gan, tiêu mỡ, lợi niệu, giảm béo. <br>
		- Trà khô 2 g, uất kim 10 g (có thể thay bằng nghệ vàng), cam thảo sao
		vàng 5 g, <br>
		- Trà khô 3 g, cát căn (sắn dây thái phiến) 10 g, lá sen 20 g. Tất cả
		thái vụn hãm uống thay trà. Có công dụng giải độc, hạ mỡ máu, giảm béo.
		Cũng có thể chỉ cần dùng lá sen tươi hoặc khô thái vụn hãm uống thay trà
		hằng ngày cũng tốt.</span></font></p>
        <p class="MsoNormal" style="margin-bottom:2.55pt" align="justify">
            <font face="Times New Roman">&nbsp;<strong>&nbsp;&nbsp; ***
            </strong><b>Cần chú ý kiêng kỵ </b>các thực phẩm và đồ ăn quá béo như mỡ
                động vật, não và gan gia súc; các thứ quá cay nóng như gừng, tỏi, ớt,
                hạt tiêu, rượu, cà phê, trà đặc...</font></p>
    </font>
</p></font></h3>