﻿<div id="noidung">


    <h3 style="margin-top: 0; margin-bottom: 0" align="center">
     <h1 style="text-align: center"><font color="#000000" size="3"><font color="#0000FF"><font size="5" color="#000080" face="Times New Roman">Chế độ ăn uống</font></font></font><span style="font-family: Times New Roman; font-size:16pt"><font size="3"><font size="5" color="#000080">
        kiêng kị cho bệnh Xơ vữa động mạch</font></font></span></h1><font color="#000000" size="3">
    </font>
    </h3>
    <font color="#000000" size="3">
        <p class="MsoNormal" align="justify"><strong>
		<span style="font-size: 13pt; font-family: Times New Roman">
		<a href="Chế%20độ%20ăn%20bệnh%20xơ%20vữa%20động%20mạch">
            <img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-xo-vua-dong-mach.jpg" width="263" height="265" align="left" lowsrc="Chế%20độ%20ăn%20bệnh%20xơ%20vữa%20động%20mạch" longdesc="Chế độ ăn bệnh xơ vữa động mạch" alt="Chế độ ăn bệnh xơ vữa động mạch"></a>Thay đổi
		chế độ ăn.</span><span style="font-weight: normal; font-size: 13pt; font-family: Times New Roman">&nbsp;
		Nếu bạn bị bệnh mạch vành, cần hạn chế chất béo trong chế độ ăn – nhất
		là các loại mỡ bão hòa – và hạn chế cholesterol, nhằm giảm nồng độ
		cholesterol máu – một nguyên nhân chủ yếu của xơ vữa động mạch.</span></strong></p>
        <p class="MsoNormal" align="justify"><strong>
		<span style="font-weight: normal; font-size: 13pt; font-family: Times New Roman">
		&nbsp;Giảm cholesterol còn giúp ngăn ngừa những cơn nhồi máu phát trên những
		người đã từng bị nhồi máu cơ tim.</span></strong></p>
        <p class="MsoNormal" align="justify"><strong>
		<span style="font-weight: normal; font-size: 13pt; font-family: Times New Roman">
		&nbsp;Ăn ít mỡ giúp bạn giảm cân nặng cơ thể. </span></strong></p>
        <p class="MsoNormal" align="justify"><strong>
		<span style="font-weight: normal; font-size: 13pt; font-family: Times New Roman">
		Nếu bạn bị thừa cân, việc giảm cân nặng còn giúp giảm cholesterol máu.
		</span></strong></p>
        <p class="MsoNormal" align="justify"><strong>
		<span style="font-weight: normal; font-size: 13pt; font-family: Times New Roman">
		Ăn nhiều trái cây, rau xanh và ít nhất là hai bữa ăn có cá mỗi tuần cũng
		có thể giúp bạn giảm được nguy cơ nhồi máu cơ tim và giảm cân trọng.</span></strong></p>
    </font><font color="#000000" style="font-size: 13pt">
</font><p class="MsoNormal" align="justify"><font color="#000000" style="font-size: 13pt">&nbsp;</font><font color="#000000" size="3"><strong><span style="font-size: 13pt; font-family: Times New Roman">Điều
		trị và phòng ngừa</span></strong><span style="font-size: 13pt; font-family: Times New Roman">
		<br>
		<br>
		<strong><span style="font-weight:normal">Những người bị bệnh không nên
		quá lo lắng sợ hãi, hãy bình tĩnh áp dụng ngay việc điều trị không dùng
		thuốc, bao gồm hai điều cơ bản: </span></strong><br>
		<br>
		<strong><span style="font-weight:normal">Kiêng cữ trong ăn uống: Giảm ăn
		mỡ bão hòa (mỡ động vật, bơ, dầu dừa…), nếu không kiêng được tuyệt đối
		thì tránh ăn quá 1/3 mỡ bão hòa trong nhu cầu chất béo hàng ngày. Giảm
		ăn các chất có chứa nhiều cholesterol như phủ tạng động vật (não, bầu
		dục, tim, gan…). Riêng với lòng đỏ trứng gà tuy cũng nhiều cholesterol
		nhưng đồng thời có nhiều lecithin là một chất điều hòa chuyển hóa
		cholesterol trong cơ thể, do đó không nhất thiết kiêng hẳn, mà có thể ăn
		2-3 quả trứng một tuần. Với người thừa cân thì cần thiết phải giảm cân
		nặng. Nên ăn nhiều rau quả tươi, uống nước chè xanh. Không uống nhiều
		rượu bia, không hút thuốc lá vì nó thúc đẩy quá trình xơ vữa động mạch
		và làm tăng cholesterol xấu.</span></strong></span></font></p><font color="#000000" size="3">
    <p style="MARGIN-TOP: 0; MARGIN-BOTTOM: 0" align="center" id="Xơ vữa động mạch, xo vua dong mach, xovuadongmach">
        ------------------------------</p></font>
    <font color="#000000" size="4" style="font-weight: 700">
        <p class="MsoNormal" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 1.6pt; margin-bottom: 5.35pt; background: white">
            <a name="Chế_độ_dinh_dưỡng_cho_bệnh_xơ_vữa_động_mạch">Chế độ dinh dưỡng
                cho bệnh xơ vữa động mạch</a></p>
    </font><font color="#000000" size="3">
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 1.6pt; margin-bottom: 5.35pt; background: white">
		<span style="font-size: 13pt; font-weight: normal; font-family: Times New Roman">
		<strong>Một chế độ ăn uống lành mạnh có thể giảm nguy cơ phát triển bệnh
            xơ vữa động mạch. Giảm xơ vữa động mạch cũng là một cách bảo vệ trái tim.
            Việc áp dụng một chiến lược dinh dưỡng lành mạnh cho tim có thể làm giảm
            cholesterol xấu, ngăn ngừa bệnh huyết áp cao, tiểu đường, và trọng lượng
            cơ thể. Dưới đây là một số thực phẩm nên và không nên ăn&nbsp; đối với bệnh
            xơ vữa động mạch.</strong></span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 1.6pt; margin-bottom: 5.35pt; background: white">
		<span style="font-size: 13pt; font-weight: normal; font-family: Times New Roman">
		<strong>Chế độ dinh dưỡng cần thiết:</strong></span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 1.6pt; margin-bottom: 5.35pt; background: white">
        <strong>
		<span style="font-weight: normal; font-size: 13pt; font-family: Times New Roman">
		<span style="font-size: 13pt; font-weight: normal; font-family: Times New Roman">
		Cá: Nên ăn nhiều cá, cá cung cấp protein và dưỡng chất cần thiết cho cơ
		thể. Cá chứa các axit béo omega-3 có thể giúp làm giảm nguy cơ mắc bệnh
		tim mạch và đột quỵ.&nbsp; Nên ăn 2 đến 3 bữa cá mỗi tuần.</span></span></strong></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 1.6pt; margin-bottom: 5.35pt; background: white">
        <strong>
		<span style="font-weight: normal; font-size: 13pt; font-family: Times New Roman">
		<span style="font-size: 13pt; font-weight: normal; font-family: Times New Roman">
		Ăn nhiều rau, trái cây, ngũ cốc nguyên hạt, và đậu.&nbsp;Đây là nguồn cung
		cấp vitamin, carbohydrates dồi dào cho cơ thể. Đây là nguồn dinh dưỡng
		tự nhiên, có lợi cho cơ thể.</span></span></strong></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 1.6pt; margin-bottom: 5.35pt; background: white">
		<span style="font-size: 13pt; font-weight: normal; font-family: Times New Roman">
		<strong>Hạn chế tổng số gram chất béo đưa vào cơ thể mỗi ngày.</strong></span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 1.6pt; margin-bottom: 5.35pt; background: white">
        <strong>
		<span style="font-weight: normal; font-size: 13pt; font-family: Times New Roman">
		<span style="font-size: 13pt; font-weight: normal; font-family: Times New Roman">
		Chất béo transfast: Ăn một mức tối thiểu của chất béo trans và không quá
		7% đến 10% lượng calo từ chất béo bão hòa&nbsp;(ví dụ, chất béo tìm thấy
		trong bơ, các loại thức ăn chiên xào, thực phẩm ăn nhẹ, đồ ngọt, và món
		tráng miệng).</span></span></strong></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 1.6pt; margin-bottom: 5.35pt; background: white">
        <strong>
		<span style="font-weight: normal; font-size: 13pt; font-family: Times New Roman">
		Protein:
		<span style="font-size: 13pt; font-weight: normal; font-family: Times New Roman">
		Một lượng vừa phải protein từ các loại thịt và các sản phẩm từ sữa sẽ
		giúp giảm xơ vữa động mạch và nguy cơ phát triển bệnh tim mạch. Nên bổ
		sung các loại protein từ thực vật và các loại cá.</span></span></strong></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 1.6pt; margin-bottom: 5.35pt; background: white">
        <strong>
		<span style="font-weight: normal; font-size: 13pt; font-family: Times New Roman">
		Cholesterol<span style="font-size: 13pt; font-weight: normal; font-family: Times New Roman">:
		Hạn chế cholesterol trong chế độ ăn uống được khuyến cáo trong hầu hết
		các hướng dẫn về dinh dưỡng. Nên cung cấp năng lượng cho cơ thể bằng
		cách ăn carbohydrates từ các loại ngũ cốc nguyên hạt, khoai lang, mì.
		Không nên tiêu thụ quá 300mg cholesterol mỗi ngày.</span></span></strong></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 1.6pt; margin-bottom: 5.35pt; background: white">
        <strong>
		<span style="font-weight: normal; font-size: 13pt; font-family: Times New Roman">
		<span style="font-size: 13pt; font-weight: normal; font-family: Times New Roman">
		Nước: thanh lọc cơ thể, giải độc.</span></span></strong></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 1.6pt; margin-bottom: 5.35pt; background: white">
        <strong>
		<span style="font-weight: normal; font-size: 13pt; font-family: Times New Roman">
		<span style="font-size: 13pt; font-weight: normal; font-family: Times New Roman">
		Muối</span><span style="font-size: 13pt; font-weight: normal; font-family: Times New Roman">:
		Giảm lượng muối giúp tránh các bệnh huyết áp, thận.</span></span></strong></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 1.6pt; margin-bottom: 5.35pt; background: white">
		<span style="font-size: 13pt; font-weight: normal; font-family: Times New Roman">
		<strong>Ngoài một chế độ ăn uống lành mạnh để phòng bệnh xơ vữa động
            mạch nên tập thể dục thường xuyên giúp tăng cường cơ tim, cải thiện lưu
            lượng máu, giảm huyết áp cao, làm tăng cholesterol tốt giúp kiểm soát
            lượng đường trong máu và trong cơ thể..</strong></span></p>


  </font></div>