﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
 <font color="#000000" size="5">
</font><p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white"><font color="#000000" size="5">
    <b><span style="line-height: 150%; color: #333333">Chế độ ăn uống
			cho bệnh thận đa nang</span></b></font></p>



   <font color="#000000" size="3">
    <p class="MsoNormal" style="text-align:justify; line-height:150%">.<br>
        <img border="0" src="http://www.thaythuoccuaban.com/images/che-do-dan-than-da-nang.jpg" width="320" height="200" lowsrc="Chế%20độ%20ăn%20bệnh%20thận%20đa%20nang" longdesc="Chế độ ăn bệnh thận đa nang" alt="Chế độ ăn bệnh thận đa nang" align="left">&nbsp;&nbsp;&nbsp;
        Thận đa nang là một rối loạn di truyền. Thận đa nang: thận gồm nhiều
        nang nhỏ chứa chất lỏng bên trong. Các nang này phát triển khác nhau
        về kích thước, nếu kích thước của các nang lớn hơn 6 cm sẽ nguy hiểm
        tới tính mạng. Do đó bệnh nhân bị thận đa nang cần thường xuyên theo
        dõi, kiểm tra để có hướng điều trị và chế độ ăn uống phù hợp.<br>
        &nbsp;&nbsp;&nbsp; Chế độ ăn uống đóng vai trò quan trọng đối với bệnh thận đa
        nang. Phòng khám Đông y Nguyễn Hữu Toàn xin đưa ra một số lời khuyên
        về chế độ ăn uống cho bệnh thận đa nang.<br>
        - Chia nhỏ bữa ăn trong ngày, không ăn quá no một lúc.<br>
        - Nên ăn một số loại hoa quả có lợi cho thận như: dưa hấu, táo, lê<br>
        - Ăn nhạt<br>
        - Ăn ít chất đạm<br>
        - Hạn chế các loại thực phẩm chứa nhiều kali như: chuối, khoai tây,
        cà chua, bơ<br>
        - Không ăn thức ăn chứa nhiều dầu mỡ<br>
        - Không ăn nội tạng động vật: nội tạng động vật chứa hàm lượng
        purine cao. Nếu ăn nhiều nội tạng động vật, thận sẽ gặp khó khăn
        trong việc thải lọc ra tất cả các chất thải, protein, purine... <br>
        - Không ăn các đồ ăn cay nóng, có tính kích thích như: ớt, hạt tiêu,..<br>
        - Không ăn đồ ăn chua<br>
        - Không ăn các loại nấm<br>
        - Hạn chế thực phẩm đông lạnh, chế biến sẵn,…<br>
        - Uống nước vừa phải.<br>
        - Có thể uống sữa nhưng không nên uống quá nhiều sữa<br>
        Ngoài chế độ ăn uống hợp lý, bệnh nhân bị thận đa nang cũng nên nghỉ
        ngơi, không làm việc nặng quá sức, giữ tinh thần thoải mái, lạc quan,
        tập thể dục đều đặn.<br>
</font></h3>