﻿<div id="noidung">


    <p align="center"><font color="#0000FF"><b><font size="5" color="#000080">Chế độ ăn uống, kiêng kị cho
        bệnh </font></b></font>
			<span style="font-family: Times New Roman; "><b>
                <font size="5" color="#000080"> sỏi thận</font></b></span></p>






    <p style="margin-bottom:.0001pt;margin-left:0cm; margin-right:0cm; margin-top:0cm">
        <font color="#000000" size="3">
				<span style="font-family: Times New Roman">
		<font color="#000080" size="4">
            <img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/che-do-an-benh-soi-than.jpg" title="Chế độ ăn bệnh sỏi thận" alt="Chế độ ăn bệnh sỏi thận" width="160" height="240" lowsrc="Chế%20độ%20ăn%20bệnh%20sỏi%20thận" longdesc="Chế độ ăn bệnh sỏi thận" align="left">Chế
            độ ăn uống cho người bị sỏi thận rất đa dạng, phụ thuộc vào thành phần
            của sỏi. Tuy nhiên, một nguyên tắc chung nhất là phải uống không dưới 2
            lít nước mỗi ngày</font></span></font></p><font color="#000000" size="3">
    <p class="MsoNormal" style="text-align:justify">
		<span style="font-family: Times New Roman">
		<font color="#000080" size="4">Sỏi thận là căn bệnh thuộc đường tiểu -
            sinh dục phổ biến thứ 3 sau các bệnh viêm nhiễm và tuyến tiền liệt.
            Nguyên nhân gây bệnh là do rối loạn trao đổi chất khoáng, những cái lẽ
            ra phải tan lại không tan mà kết tủa và tích tụ trong cơ thể, dần dần
            hình thành sỏi.</font></span></p>
    <p class="MsoNormal" style="text-align:justify">
		<span style="font-family: Times New Roman">
		<font color="#000080" size="4">Chế độ dinh dưỡng bất cân bằng, uống ít
            nước và sử dụng một số dược phẩm như vitamin D, canxi, sulphanilamid,
            ascorbic (hơn 4g mỗi ngày) có thể gây bệnh. Hậu quả là thành phần hóa
            học của nước tiểu bị thay đổi, chủ yếu là sự gia tăng lượng chất làm
            nước tiểu bị tinh thể hóa. Các loại thức ăn có nhiều axit nước tiểu (thịt,
            gan, cật, rượu đỏ); nhiều axit oxalic (thịt gà, gan, gạo, đậu, ca cao,
            cà phê, rau cần tây, rau bina, bắp cải, cải củ) làm tăng khả năng hình
            thành sỏi. Nước cứng có nhiều muối canxi, thức ăn cay và chua nâng cao
            độ axit trong nước tiểu cũng thúc đẩy tạo sỏi.</font></span></p>
    <p class="MsoNormal" style="text-align:justify">
		<span style="font-family: Times New Roman; font-weight: 700">
		<font color="#000080" size="4">Thành phần sỏi</font></span></p>
    <p class="MsoNormal" style="text-align:justify">
		<span style="font-family: Times New Roman">
		<font color="#000080" size="4">Sỏi thận hình thành từ một số chất liệu
            và việc nắm rõ các thành phần này sẽ giúp lựa chọn đúng chiến thuật điều
            trị, thuốc thang và cách ăn kiêng. Đa số sỏi có thành phần oxalat (một
            dạng muối của axit oxalic) và phosphat (từ axit phosphoric). Sỏi urat từ
            axit uric ít gặp hơn. Hàm lượng phosphat trong nước tiểu phụ thuộc vào
            chế độ dinh dưỡng, và tăng lên khi đói, thiếu vitamin D hoặc khi tuyến
            yên hoạt động nhiều. Thành phần sỏi được xác định dựa vào kết quả phân
            tích nước tiểu.</font></span></p>
    <p class="MsoNormal" style="text-align:justify">
		<span style="font-family: Times New Roman">
		<font color="#000080" size="4">Bệnh sỏi thận có thể diễn ra một cách âm
            thầm và chỉ thể hiện khi đã có sỏi trong thận. Khi cát hay sỏi bắt đầu
            di chuyển trong cơ thể, người bệnh bắt đầu thấy đau. Cơn đau thường bắt
            đầu ở vùng thắt lưng, sau đó di chuyển xuống bụng, bẹn và đùi. Khi cử
            động hay thay đổi tư thế sẽ xuất hiện cơn đau thắt ở vùng eo, có thể đi
            kèm rối loạn tiểu, thân nhiệt tăng, khó chịu, buồn nôn, ra mồ hôi lạnh
            và sình bụng.</font></span></p>
    <p class="MsoNormal" style="text-align:justify">
		<span style="font-family: Times New Roman">
		<font color="#000080" size="4">Khi sỏi xuống đến phần dưới của đường
            tiểu, người bệnh hay buồn đi tiểu. Nếu sỏi chặn toàn bộ thiết diện trong
            đường tiểu thì nước tiểu bắt đầu tích tụ trong thận, gây ra các cơn đau
            sỏi thận. Giai đoạn này có thể xuất hiện máu trong nước tiểu, nhất là
            khi có cơn đau mạnh hay lao động nặng. Có khi sỏi được thải ra cùng nước
            tiểu. Khi thấy cảm giác khó chịu ở vùng eo dù không nặng cũng cần nhanh
            chóng đến khám bác sĩ tiết niệu.</font></span></p>
    <p class="MsoNormal" style="text-align:justify">
		<span style="font-family: Times New Roman; font-weight: 700">
		<font color="#000080" size="4">Các thực phẩm nên tránh khi bị sỏi</font></span></p>
    <p class="MsoNormal" style="text-align:justify">
		<span style="font-family: Times New Roman">
		<font color="#000080" size="4">
            <img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/thuc-pham-soi-than-nen-tranh.jpg" title="Thực phẩm bệnh sỏi thận nên tránh" alt="Thực phẩm bệnh sỏi thận nên tránh" width="200" height="150" lowsrc="Thực%20phẩm%20bệnh%20sỏi%20thận%20nên%20tránh" longdesc="Thực phẩm bệnh sỏi thận nên tránh" align="left">1. Các loại thịt và thịt gia cầm: Giảm
            lượng thịt bò, thịt gia cầm và cá vì đây là những thực phẩm rất giàu
            protein. Nhiều protein trong chế độ ăn uống sẽ khiến lượng oxalate trong
            nước tiểu tăng lên, hình thành các loại sỏi.</font></span></p>
    <p class="MsoNormal" style="text-align:justify">
		<span style="font-family: Times New Roman">
		<font color="#000080" size="4">2. Một số loại rau quả: Trong khi cố gắng
            để loại bỏ các loại thực phẩm có chứa oxalate từ thịt thì cũng lưu ý một
            số loại rau quả có thể là “tòng phạm” gây nên sỏi thận. Ví như rau bina
            được cho là tạo nhiều oxalat nhất.</font></span></p>
    <p class="MsoNormal" style="text-align:justify">
		<span style="font-family: Times New Roman">
		<font color="#000080" size="4">Ngoài ra, các loại thực phẩm khác có chứa
            oxalate bao gồm các loại đậu, củ cải đường, dâu, cam, sô-cô-la, cà phê
            và đậu phộng.</font></span></p>
    <p class="MsoNormal" style="text-align:justify">
		<span style="font-family: Times New Roman">
		<font color="#000080" size="4">3. Muối: Bạn nên cố gắng ăn nhạt vì những
            nghiên cứu cho thấy việc giảm lượng muối trong chế độ ăn cũng có thể cắt
            giảm lượng oxalate trong nước tiểu</font></span></p>
    <p class="MsoNormal" style="text-align:justify">
		<span style="font-family: Times New Roman">
		<font color="#000080" size="4">Ngoài ra cần giảm thức ăn có hàm lượng
            canxi cao, axit ascorbic và oxalat, sản phẩm sữa, pho mai, chocolate,
            rau xanh, trà đặc, đậu phộng. Hạn chế muối và mỡ</font></span></p>
    <p class="MsoNormal" style="text-align:justify">
		<span style="font-family: Times New Roman; font-weight: 700">
		<font color="#000080" size="4">Chế độ dinh dưỡng cho người sỏi thận</font></span></p>
    <p class="MsoNormal" style="text-align:justify">
		<span style="font-family: Times New Roman">
		<font color="#000080" size="4">Phương pháp đa năng và đơn giản nhất để
            phòng ngừa hình thành sỏi thận là pha loãng nước tiểu, do đó cần uống
            nhiều nước, để mỗi ngày thải ra khoảng 2-2,5 lít nước tiểu. Tuy nhiên,
            biện pháp này không thích hợp với người mắc bệnh tim mạch.</font></span></p>
    <p class="MsoNormal" style="text-align:justify">
		<span style="font-family: Times New Roman">
		<font color="#000080" size="4">Thực phẩm nên ăn khi bị sỏi thận</font></span></p>
    <p class="MsoNormal" style="text-align:justify">
		<span style="font-family: Times New Roman">
		<font color="#000080" size="4">1. Canxi: Ban đầu nhiều người nghĩ rằng
            sự gia tăng đáng kể mức tiêu thụ can-xi trong chế độ ăn uống sẽ làm tăng
            nguy cơ hình thành sỏi thận. Tuy nhiên, điều này giờ đây đã chứng minh
            là không chính xác.</font></span></p>
    <p class="MsoNormal" style="text-align:justify">
		<span style="font-family: Times New Roman">
		<font color="#000080" size="4">Thực tế, việc “nạp” các thực phẩm chứa
            can-xi chủ yếu là từ các sản phẩm chế biến từ sữa như phô mai, sữa và
            sữa chua… giúp giảm nguy cơ hình thành sỏi thận.</font></span></p>
    <p class="MsoNormal" style="text-align:justify">
		<span style="font-family: Times New Roman">
		<font color="#000080" size="4">2. Uống nhiều nước: Uống nhiều nước giúp
            thanh lọc cơ thể. Với những người bị sỏi thận, các chuyên gia y tế
            khuyên nên uống ít nhất 3 lít nước mỗi ngày. Điều này sẽ giúp thải lọc
            những viên sỏi nhỏ hoặc các chất dư thừa trong thận mà có thể hình thành
            sỏi.</font></span></p>
</font>
    </font></div>