﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
<font size="3">
					<span style="font-family: Times New Roman; ">
					<p style="margin-top: 0; margin-bottom: 0" align="center" >
                        <b><font size="5" color="#3B6305">Chế độ ăn uống kiêng kị cho bệnh suy thận</font></b></p>
		</span></font><font color="#000000" size="3">
    <p style="MARGIN-TOP: 0; MARGIN-BOTTOM: 0" align="center" >
        &nbsp;</p>
</font><p style="MARGIN-TOP: 0; MARGIN-BOTTOM: 0" align="center"><font color="#000000" size="3">
 
</font>
    <font color="#008000" size="4" face="Times New Roman">
    </font><p style="text-align:justify; text-indent:16.35pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; margin-bottom:.0001pt"><font color="#000000">
    <font face="Times New Roman" size="3">
		<span style="font-size:13pt">
		<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/thuc-pham-tot-cho-benh-suy-than.jpeg" width="259" height="194" align="left" lowsrc="Thực%20phẩm%20tốt%20cho%20bệnh%20suy%20thận" longdesc="Thực phẩm tốt cho bệnh suy thận" alt="Thực phẩm tốt cho bệnh suy thận"></span><span style="font-weight:400">Người
		bị suy thận mạn tính nên kiêng hẳn các loại dưa, cà, mắm tôm, cá mắm,
		rượu, bia… Khi chế biến thức ăn, tuyệt đối không cho muối và mì chính,
		chỉ được phép dùng 1 thìa nước mắm mỗi ngày. Khi bị phù thì phải ăn nhạt
		hoàn toàn.</span></font></font></p><font color="#000000">
    <p style="text-align:justify; text-indent:16.35pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; margin-bottom:.0001pt">
        <font face="Times New Roman" size="3" color="#000000">
		<span style="font-weight:400">Về nước uống, bệnh nhân suy
		thận mạn nên dùng nước đun sôi để nguội, nước rau luộc, nước quả (cam,
		quýt). Lượng nước uống mỗi ngày bằng lượng nước tiểu cộng thêm 200-300
		ml.</span></font></p>
    <p style="text-align:justify; text-indent:16.35pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; margin-bottom:.0001pt">
        <font face="Times New Roman" size="3" color="#000000">
            <span style="font-weight:400">Những thức ăn nên hạn chế</span></font></p>
    <p style="text-align:justify; text-indent:16.35pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; margin-bottom:.0001pt">
        <font face="Times New Roman" size="3" color="#000000">
		<span style="font-weight:400">- Gạo, khoai tây, đậu đỗ, lạc,
		vừng.</span></font></p>
    <p style="text-align:justify; text-indent:16.35pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; margin-bottom:.0001pt">
        <font face="Times New Roman" size="3" color="#000000">
		<span style="font-weight:400">- Rau ngót, rau muống, rau
		dền, giá đỗ.</span></font></p>
    <p style="text-align:justify; text-indent:16.35pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; margin-bottom:.0001pt">
        <font face="Times New Roman" size="3" color="#000000">
		<span style="font-weight:400">- Các phủ tạng động vật như
		gan, bầu dục, óc, tim….</span></font></p>
    <p style="text-align:justify; text-indent:16.35pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; margin-bottom:.0001pt">
        <font face="Times New Roman" size="3" color="#000000">
            <span style="font-weight:400">Những thức ăn nên dùng</span></font></p>
    <p style="text-align:justify; text-indent:16.35pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; margin-bottom:.0001pt">
        <font face="Times New Roman" size="3" color="#000000">
		<span style="font-weight:400">- Các thực phẩm có chứa ít
		chất đạm như miến dong, bột sắn, khoai lang.</span></font></p>
    <p style="text-align:justify; text-indent:16.35pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; margin-bottom:.0001pt">
        <font face="Times New Roman" size="3" color="#000000">
		<span style="font-weight:400">- Các loại hoa quả ngọt như
		chuối, nhãn, vải, na, xoài, đu đủ, nho ngọt.</span></font></p>
    <p style="text-align:justify; text-indent:16.35pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; margin-bottom:.0001pt">
        <font face="Times New Roman" size="3" color="#000000">
		<span style="font-weight:400">- Các loại rau ít muối như
		bầu, bí, mướp, dưa chuột, giá đỗ, bắp cải, rau cải.</span></font></p>
    <p style="text-align:justify; text-indent:16.35pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; margin-bottom:.0001pt">
        <font face="Times New Roman" size="3" color="#000000">
		<span style="font-weight:400">- Các thực phẩm nhiều chất bổ
		như trứng gà, thịt nạc, cá, sữa, tôm.</span></font></p>
    <p style="text-align:justify; text-indent:16.35pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; margin-bottom:.0001pt">
        <font face="Times New Roman" size="3" color="#000000">
            <span style="font-weight:400">Các món ăn có lợi nhất:</span></font></p>
    <p style="text-align:justify; text-indent:16.35pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; margin-bottom:.0001pt">
        <font face="Times New Roman" size="3" color="#000000">
		<span style="font-weight:400">- Miến nấu thịt nạc hoặc thịt
		nạc xào giá đỗ.</span></font></p>
    <p style="text-align:justify; text-indent:16.35pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; margin-bottom:.0001pt">
        <font face="Times New Roman" size="3" color="#000000">
		<span style="font-weight:400">- Khoai sọ, khoai lang luộc,
		sắn luộc chấm đường.</span></font></p>
    <p style="text-align:justify; text-indent:16.35pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; margin-bottom:.0001pt">
        <font face="Times New Roman" size="3" color="#000000">
            <span style="font-weight:400">- Bột sắn dây nấu chè.</span></font></p>
    <p style="text-align:justify; text-indent:16.35pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; margin-bottom:.0001pt">
        <font face="Times New Roman" size="3" color="#000000">
            <span style="font-weight:400">- Bánh bột lọc.</span></font></p>
    <p style="text-align:justify; text-indent:16.35pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; margin-bottom:.0001pt">
        <font face="Times New Roman" size="3" color="#000000">
            <span style="font-weight:400">- Khoai tây, khoai lang rán.</span></font></p>
    <p style="text-align:justify; text-indent:16.35pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; margin-bottom:.0001pt">
        <font face="Times New Roman" size="3" color="#000000">
		<span style="font-weight:400">Lượng thực phẩm dùng trong
		một ngày</span></font></p>
    <p style="text-align:justify; text-indent:16.35pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; margin-bottom:.0001pt">
        <font face="Times New Roman" size="3" color="#000000">
		<span style="font-weight:400">- Thịt nạc (cá, tôm) 100 g.
		Có thể thay bằng 2 quả trứng gà hoặc 1 bìa đậu phụ.</span></font></p>
    <p style="text-align:justify; text-indent:16.35pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; margin-bottom:.0001pt">
        <font face="Times New Roman" size="3" color="#000000">
            <span style="font-weight:400">- Mỡ lợn 2-3 thìa cà phê.</span></font></p>
    <p style="text-align:justify; text-indent:16.35pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; margin-bottom:.0001pt">
        <font face="Times New Roman" size="3" color="#000000">
		<span style="font-weight:400">- Gạo (hoặc mì) 120 g. Có thể
		thay bằng 150 g miến dong hoặc 300 g khoai lang, khoai sọ.</span></font></p>
    <p style="text-align:justify; text-indent:16.35pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; margin-bottom:.0001pt">
        <font face="Times New Roman" size="3" color="#000000">
            <span style="font-weight:400">- Nước mắm 1 thìa.</span></font></p>
    <p style="text-align:justify; text-indent:16.35pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; margin-bottom:.0001pt">
        <font face="Times New Roman" size="3" color="#000000">
		<span style="font-weight:400">- Dưa chuột, bí xanh, rau cải
		200-300 g.</span></font></p>
    <p style="text-align:justify; text-indent:16.35pt; margin-left:0cm; margin-right:0cm; margin-top:0cm; margin-bottom:.0001pt">
        <font face="Times New Roman" size="3" color="#000000">
		<span style="font-weight:400">- Chuối, na, vải, nhãn
		200-300 g.</span></font></p>
</font>
</h3>