﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">

    <h2 style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <font size="6">Chế độ ăn uống kiêng kị cho người bị say nắng</font></h2>
  <font color="#000000" size="4">
</font><font color="#000000" size="3">
   <font color="#000000" size="4">
</font>
    <p style="text-align: justify; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 7.5pt; margin-bottom: 15.0pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%">
			<img border="0" src="http://www.thaythuoccuaban.com/images/chanh-duong-tot-cho-nguoi-say-nang.jpg" width="263" height="192" lowsrc="Chanh%20đường%20tốt%20cho%20người%20say%20nắng" longdesc="Chanh đường tốt cho người say nắng" alt="Chanh đường tốt cho người say nắng" align="left">Say nắng chỉ xảy
			ra với những người phải làm việc, hoặc hoạt động lâu ngoài trời nắng.
			</span></p>
    <p style="text-align: justify; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 7.5pt; margin-bottom: 15.0pt; background: white">
        <b><span style="font-size: 14.0pt; line-height: 150%">Người say nắng
			thường có một số biểu hiện như sau:</span></b></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 7.5pt; margin-bottom: 15.0pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; line-height: 150%">Có
			biểu hiện sốt cao trên 39,8oC, lúc đầu thở sâu, mạch nhanh, sau đó
			là thở nông và mạch yếu, đồng tử giãn, lú lẫn, mê sảng, co giật,
			ngất. </span></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 7.5pt; margin-bottom: 15.0pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; line-height: 150%">Sờ
			vào da thấy da nóng và khô,</span></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 7.5pt; margin-bottom: 15.0pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; line-height: 150%">
			Người mệt lả, đau đầu, khó ở, đỏ mặt, nôn mửa và<span class="apple-converted-space">&nbsp;</span>
			tiêu chảy</span></p>
    <p style="text-align: justify; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 7.5pt; margin-bottom: 15.0pt; background: white">
        <b><span style="font-size: 14.0pt; line-height: 150%">Dấu hiệu trẻ
			em bị say nắng:</span></b><span style="font-size: 14.0pt; line-height: 150%">
			trẻ mệt mỏi, mắt lờ đờ; cơ thể nóng ran, mặt đỏ gay, thân nhiệt có
			thể lên đến 40-41oC; nhịp thở nhanh nông; mạch yếu, khó bắt hoặc
			không bắt được. Nếu trẻ say nắng nặng, trẻ có biểu hiện: cơn co giật,
			hôn mê.</span></p>
    <p style="text-align: justify; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 7.5pt; margin-bottom: 15.0pt; background: white">
        <b><span style="font-size: 14.0pt; line-height: 150%">Những việc cần
			làm ngay khi bị say nắng:</span></b></p>
    <p style="text-align: justify; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 7.5pt; margin-bottom: 15.0pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%">Khi gặp người say
			nắng cần: đưa bệnh nhân vào nơi thoáng mát, đặt bệnh nhân nằm ngửa,
			chân gác lên cao, quạt mát cho bệnh nhân, cởi bỏ bớt quần áo. Cho
			bệnh nhân uống nước oresol (nếu ko có pha chút muối, đường vào nước)
			hoặc nước chanh, cam, chè tươi, cà phê,... Dùng khăn mát chườm lau
			nách, háng và người nạn nhân. Trường hợp nạn nhân bị ngừng tim cần
			tiến hành ép tim ngoài lồng ngực và hà hơi thổi ngạt. Sau đó nhanh
			chóng chuyển nạn nhân đến bệnh viện nếu nạn nhân không uống được
			nước, bị nôn liên tục, sốt tăng liên tục, đau ngực, khó thở, đau
			bụng, bất tỉnh.</span></p>
    <p style="text-align: justify; line-height: 150%; margin: 12.0pt 0cm; background: white">
        <b><span style="font-size: 14.0pt; line-height: 150%">Những việc
			không nên làm khi bị say nắng:</span></b></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 12.0pt; margin-bottom: 12.0pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><b><span style="font-size: 14.0pt; line-height: 150%">
			Không nên<strong> uống quá nhiều nước</strong></span></b><span style="font-size: 14.0pt; line-height: 150%">:
			Không uống nước quá nhiều một lúc mà nên chia làm nhiều lần, mỗi lần
			uống một ít. Vì nếu uống liền lúc quá nhiều nước không những ảnh
			hưởng đến chức năng tiêu hóa mà còn làm loãng dịch dạ dày, khiến cơ
			thể ra quá nhiều mồ hôi, từ đó gây mất nước và lượng muối trong cơ
			thể. Trường hợp nghiêm trọng còn gây chuột rút đường đột.</span></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 12.0pt; margin-bottom: 12.0pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><strong>
			<span style="font-size: 14.0pt; line-height: 150%">Không nên cho ăn
			hoa quả lạnh: </span></strong>
			<span style="font-size: 14.0pt; line-height: 150%">Những người
			thường xuyên bị say nắng khi ra ngoài trời thường bị suy nhược về tì
			và vị (dạ dày), nếu ăn quá nhiều hoa quả lạnh, những thực phẩm tính
			hàn dễ làm tổn thương đến dạ dày, gây trướng bụng, tiêu chảy, đau
			bụng.</span></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 12.0pt; margin-bottom: 12.0pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><b><span style="font-size: 14.0pt; line-height: 150%">
			Không ăn <strong>thực phẩm nhiều dầu mỡ: </strong></span></b>
			<span style="font-size: 14.0pt; line-height: 150%">Sau khi bị cảm
			nắng, tuyệt đối tránh xa các loại thực phẩm nhiều dầu mỡ, để phần
			nào giúp cơ thể thích ứng với chức năng tiêu hóa của dạ dày trong
			mùa hè oi bức. Nếu ăn quá nhiều thực phẩm chiên rán nhiều dầu mỡ, dạ
			dày bị tăng thêm gánh nặng khiến lượng lớn máu của cơ thể dồn đọng ở
			đường tiêu hóa, lúc đó sẽ thiếu máu để đưa lên não, làm cho cơ thể
			có cảm giác mệt mỏi hơn, chứng khó tiêu hóa lại thêm trầm trọng.</span></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 12.0pt; margin-bottom: 12.0pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><b><span style="font-size: 14.0pt; line-height: 150%">
			Không nên ăn nhiều thực phẩm giàu dinh dưỡng</span></b><span style="font-size: 14.0pt; line-height: 150%">:
			Sau khi bị say nắng, hơi nóng vẫn chưa hoàn toàn hạ hỏa. Việc ăn
			uống các loại thực phẩm quá giàu chất dinh dưỡng không những chẳng
			có tác dụng giải cơn say nắng, ngược lại còn kéo dài thêm khí nóng
			trong người, gây thêm mệt mỏi và hại cho đường tiêu hóa.&nbsp;</span></p>
</font><font color="#000000" size="4">
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
        <strong><span style="background: white">Những thực phẩm giúp chòng
			chống say nắng:</span></strong><span class="apple-converted-space"><span style="background: white">&nbsp;</span></span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
        <b><span style="background: white">Xoài xanh:</span></b><span style="background: white">
			Xoài được coi là thuốc phòng chống say nắng. Lý do là trong xoài
			giàu vitamin C nên giúp làm tăng hệ miễn dịch và ngăn chặn cảm lạnh
			mùa hè.<span class="apple-converted-space">&nbsp;</span></span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
        <b><span style="background: white">Sữa:</span></b><span style="background: white">
			Các thành phần dinh dưỡng trong sữa sẽ làm cơ thể nhanh chóng “hạ
			họa” và đẩy lùi say nắng.<span class="apple-converted-space">&nbsp;</span></span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
        <b><span style="background: white">Nước dừa:</span></b><span style="background: white">
			Nước dừa được mệnh danh là siêu thực phẩm với nhiều dinh dưỡng như
			magie, kali, muối, đường tự nhiên. Những thành phần này giúp cơ thể
			vừa bớt háo nước vừa giải nhiệt nên chống nắng rất tốt.<span class="apple-converted-space">&nbsp;</span></span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
        <b><span style="background: white">Mướp đắng:</span></b><span style="background: white">
			Mướp đắng là trái cây có tính mát, vị đắng, có thể giúp giải nhiệt
			tốt, giảm bớt mệt nhọc. Các chuyên gia khuyên, vào mùa hè bạn nên
			tăng cường ăn mướp đắng để cải thiện sức khỏe.<span class="apple-converted-space">&nbsp;</span></span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
        <b><span style="background: white">Củ hành:</span></b><span style="background: white">
			Nhờ giàu hàm lượng lưu huỳnh nên khi ăn hành củ bạn sẽ ngăn được cơn
			sốt có thể dẫn đến say nắng.<span class="apple-converted-space">&nbsp;</span></span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
        <b><span style="background: white">Nước chanh</span></b><span style="background: white">:
			Chanh giàu hàm lượng vitamin C. Uống nước chanh sẽ loại bỏ được
			chóng mặt, buồn nôn, thường diễn ra vào ngày hè oi ả. Ngoài ra còn
			giúp ngăn chặn sốt, bệnh sởi và mụn đậu mùa.<span class="apple-converted-space">&nbsp;</span></span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
        <b><span style="background: white">Dưa hấu:</span></b><span style="background: white">
			Dưa hấu có nhiều dinh dưỡng cho sức khỏe của chúng ta như đường mía,
			gluco, fructose, citrulline, axit propionic, alanine, axit glutamic,
			arginine, axit phosphoric, axit malic, muối, carotene, vitamin C...
			đều tốt cho chống say nắng.<span class="apple-converted-space">&nbsp;</span></span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
        <b><span style="background: white">Đậu xanh</span></b><span style="background: white">:
			Khi bạn làm việc chân tay nặng nhọc hay đi ngoài đường về đẫm mồ hôi
			thì nên uống một cốc nước chè đỗ xanh, sẽ giúp bạn cải thiện đáng kể
			say nắng và các bệnh liên quan đồng thời xóa đi sự mệt mỏi sau thời
			gian hao tốn năng lượng.<span class="apple-converted-space">&nbsp;</span></span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
        <b><span style="background: white">Dưa chuột:</span></b><span style="background: white">
			Y học cổ truyền Trung Hoa có viết rằng dưa chuột là trái cây có tính
			mát và đắng nên có thể giúp hạ nhiệt, thúc đẩy tiểu tiện và hạ thấp
			nồng độ cholesterol trong cơ thể...<span class="apple-converted-space"></span></span></p>
</font><font color="#000000" size="3">
    <font color="#000000" size="4">
        <p class="MsoNormal" style="text-align: justify; line-height: 150%">
            <b><span style="background: white">Bí ngô:</span></b><span style="background: white">
			Trong quả bí ngô có chứa nhiều chất beta – carotene, thành phần giúp
			bảo vệ sức khỏe của da. Ngoài ra, theo đông y thì bí ngô còn giúp hạ
			nhiệt và chống say nắng tốt.<span class="apple-converted-space">&nbsp;</span></span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%">
            <b><span style="background: white">Uống nhiều nước:</span></b><span style="background: white">
			Nước đóng vai trò điều chỉnh hệ thống làm mát cơ thể, đặc biệt là
			khi bạn làm việc nặng nhọc hay tập thể dục vào ngày hè oi bức...&nbsp;</span></p>
    </font></font><font color="#000000" size="4">
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
        <strong><span style="background: white">Phòng bệnh:</span></strong><span class="apple-converted-space"><span style="background: white">&nbsp;</span></span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
			<span style="background: white">- Khi đi ra ngoài nắng cần phải có
			nón, khăn che mặt.<span class="apple-converted-space">&nbsp;</span></span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
			<span style="background: white">- Cần có chòi, trại để nghỉ mát khi
			làm việc suốt ngày ngoài nắng.<span class="apple-converted-space">&nbsp;</span></span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
			<span style="background: white">- Mùa hè không nên uống nhiều nước
			đá lạnh hay quạt trực tiếp cho mát.<span class="apple-converted-space">&nbsp;</span></span></p>

</font></h3>