﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
<font color="#000000" size="5">
    <p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b><span style="line-height: 150%; color: #333333">Chế độ ăn uống
			cho bệnh áp xe gan</span></b></p>

</font>



    <font color="#000000" size="3">
        <p style="text-align: justify; margin-bottom: 7.5pt; background: white">
            <span style="font-size:14.0pt">&nbsp;&nbsp;&nbsp;</span><strong><span style="font-size: 14.0pt; line-height: 150%; font-weight: normal; border: 1.0pt none windowtext; padding: 0in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>
			<span style="line-height: 150%; font-weight: normal; border: 1.0pt none windowtext; padding: 0in">
			<img border="0" src="http://www.thaythuoccuaban.com/images/ap-xe-gan.jpg" width="260" height="189" align="left">Áp
			xe gan là bệnh thường do vi khuẩn, </span></strong>
			<span style="line-height: 150%">amíp, nấm gây ra. Đường lây bệnh có
			thể theo đường máu hay đường mật hoặc lây lan trực tiếp bởi các ổ
			nhiễm khuẩn lân cận trong ổ bụng.<strong><span style="font-weight: normal; border: 1.0pt none windowtext; padding: 0in">
			Người bệnh bị áp xe gan thường có biểu hiện gan sưng to, người sốt
			cao.</span></strong></span></p>
        <p style="line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
            <strong>
			<span style="line-height: 150%; font-weight: normal; border: 1.0pt none windowtext; padding: 0in">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Khi phát hiện bệnh cần được điều trị ngay, để lâu có thể
			nguy hiểm tới tính mạng. Để điều trị bệnh có hiệu quả cao và phòng
			tránh bệnh áp xe gan thì chế độ ăn uống cần được quan tâm. Phòng
			khám Đông y Nguyễn Hữu Toàn hướng dẫn chế độ ăn uống cho bệnh áp xe
			gan.</span></strong></p>
        <p style="text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
			<span style="line-height: 150%; font-family: Symbol">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><strong>
			<span style="line-height: 150%; font-weight: normal; border: 1.0pt none windowtext; padding: 0in">
			Người bị áp xe gan cần tuyệt đối </span></strong>
			<span style="line-height: 150%; background: white">kiêng những thực
			phẩm chưa qua nấu chín như nem chạo, gỏi, tiết canh, không uống nước
			chưa đun sôi.</span></p>
        <p style="text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
			<span style="line-height: 150%; font-family: Symbol">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="line-height: 150%">Cần tránh rượu, thuốc
			lá, các chất phụ gia độc hại, phẩm màu tổng hợp, các chất bảo quản
			thực phẩm. Để tránh được điều này nên tạo thói quen ăn uống tại nhà,
			tự nấu ăn, hạn chế đồ ăn nhanh, đồ ăn bày bán sẵn.</span></p>
        <p style="text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
			<span style="line-height: 150%; font-family: Symbol">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="line-height: 150%; background: white">Nên
			hạn chế thực phẩm cay nóng như: ớt, hạt tiêu</span></p>
        <p style="text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
			<span style="line-height: 150%; font-family: Symbol">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="line-height: 150%; background: white">
			Không nên ăn những thực phẩm có chứa nhiều muối.</span></p>
        <p style="text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
			<span style="line-height: 150%; font-family: Symbol">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="line-height: 150%">Ăn uống đầy đủ, cân
			đối các chất dinh dưỡng, không nên quá kiêng cữ để duy trì sức khỏe,
			giúp phục hồi tốt chức năng gan. Chia nhỏ bữa ăn để giảm áp lực tiết
			mật cùng một lúc trong thời gian dài cho gan. Ăn uống đúng giờ,
			không để cơ thể bị đói vì khi bị đói gan sẽ phải lấy các glucogen dự
			trữ để tiêu hao cho hoạt động của cơ thể. Điều này khiến gan trở nên
			mệt mỏi hơn.</span></p>
        <p style="text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
			<span style="line-height: 150%; font-family: Symbol">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="line-height: 150%">Nên ăn những món luộc,
			hạn chế dùng các thức ăn nướng cháy, các loại chiên xào nhiều dầu mỡ,
			nội tạng động vật là một chế độ ăn bổ sung lượng đạm, protein khỏe
			mạnh cho người bị viêm gan B. Những đồ ăn chứa nhiều dầu mỡ sẽ khiến
			lá gan đang bị bệnh phải làm việc vất vả hơn, nó sẽ làm cho gan càng
			trở nên mệt mỏi, suy yếu hơn.</span></p>
        <p style="text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
			<span style="line-height: 150%; font-family: Symbol">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="line-height: 150%">Nên có chế độ ăn vơi
			nhiều rau xanh và hoa quả tươi giúp tăng cường vitamin cho cơ thể.</span></p>
        <p style="line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
			<span style="line-height: 150%">Trên đây là một số lưu ý về chế độ
			ăn uống cho người bị áp xe gan. Ngoài ra để tăng cường hiệu quả điều
			trị người bệnh nên tuân thủ theo hướng dẫn của thầy thuốc.</span></p>
</font></h3>