﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
<font color="#000000" size="5">
</font><p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white"><font color="#000000" size="5">
    <b><span style="line-height: 150%; color: #333333">Chế độ ăn uống </span></b>

</font><font size="5"><b>cho người men gan tăng</b></font></p>



    <p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background-image:none; background-repeat:repeat; background-attachment:scroll">

        &nbsp;</p>
    <font color="#000000" size="3">
    </font><p class="MsoNormal" style="text-align:justify;text-indent:.5in;line-height:150%"><font color="#000000" size="3">
			<span style="font-size:13.0pt;line-height:150%">
			<img border="0" src="http://www.thaythuoccuaban.com/images/men-gan-cao.jpg" width="240" height="240" lowsrc="Chế%20độ%20ăn%20cho%20bệnh%20men%20gan%20tăng%20cao" longdesc="Chế độ ăn cho bệnh men gan tăng cao" alt="Chế độ ăn cho bệnh men gan tăng cao" align="left"></span></font><font color="#000000" size="4"><span style="line-height:150%">Men
			gan tăng cao nếu không được điều trị sẽ dẫn tới viêm gan, xơ gan.
			Men gan tăng cao nếu nặng cần phải dùng thuốc để điều trị giúp giảm
			men gan còn nếu trường hợp men gan tăng nhưng ở mức độ nhẹ thì chỉ
			cần chú ý chế độ nghỉ ngơi, ăn uống là có thể hạ được men gan.</span></font></p><font color="#000000" size="4">

</font>
    <font color="#000000" size="3">
        <font color="#000000" size="4">
        </font><p class="MsoNormal" style="text-align:justify;text-indent:.5in;line-height:150%"><font color="#000000" size="4">
        <strong>
			<span style="line-height: 150%; font-weight: normal">
			Một chế độ dinh dưỡng hợp lý sẽ&nbsp;</span></strong></font><font color="#000000" size="3"><font color="#000000" size="4"><span style="line-height:150%"><a target="_blank" style="color: blue; text-decoration: underline; text-underline: single" href="http://net.meyeucon.org/suckhoe/9066/nhung-loai-thuc-pham-co-loi-co-hai-cho-gan/"><strong><span style="color: windowtext; font-weight: normal; text-decoration: none">giúp
			tế bào gan hồi phục</span></strong></a><strong><span style="font-weight: normal">&nbsp;và
			tái sinh nhanh hơn, tăng cường chức năng miễn dịch, thúc đẩy hồi
			phục chức năng gan. </span></strong>Phòng khám Đông y Nguyễn Hữu
			Toàn đưa ra một số lời khuyên cho bệnh nhân bị men gan tăng cao.</span></font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
        <p class="MsoNormal" style="text-align:justify;text-indent:.5in;line-height:150%">
            <b><span style="line-height:
150%">Những thực phẩm nên ăn</span></b></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:.5in;line-height:150%">
			<span style="line-height:150%">Nên có một chế độ ăn
			cân bằng giữa chất béo bão hòa và chất xơ.</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:.5in;line-height:150%">
			<span style="line-height:150%">Người bị tăng men
			gan nên bổ sung vitamin A từ các loại thực phẩm như gan động vật, cà
			rốt, hẹ, sữa bò, lòng đỏ trứng, rau muống, rau chân vịt, tỏi tây,
			bắp cải…</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:.5in;line-height:150%">
			<span style="line-height:150%">Ăn nhiều các thực
			phẩm giàu vitamin B1, B2, B6 như: mạch nha, giá, đậu, lạc, rau xanh,
			hoa quả…., Hạt kê, đậu nành, trứng, sữa…,</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: .5in; line-height: 150%">
			<span style="line-height:150%">Bổ sung thêm ớt ngọt,
			tỏi, rau cải, rau dền, sơn tra…. Cũng là những thực phẩm giàu
			vitamin.</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: .5in; line-height: 150%">
			<span style="line-height:150%">Bổ sung các thực
			phẩm chứa nhiều protein bởi đây là thành phần cấu tạo nền tảng của
			tất cả tế bào trong cơ thể, khi tế bào gan bị tổn thương làm tăng
			men gan, khả năng miễn dịch cơ thể giảm. Vì vậy, ăn nhiều protein để
			phục hồi và tăng cường khả năng miễn dịch. Thực phẩm giàu protein:
			thịt nạc, trứng, cá, các loại đỗ, rau xanh,…</span></p>

    </font>

    </font>

    </font>
    <font color="#000000" size="4">
        <p class="MsoNormal" style="text-align: justify; text-indent: .5in; line-height: 150%">
            <b><span style="line-height:150%">Những thực phẩm
			nên tránh</span></b></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: .5in; line-height: 150%">
			<span style="line-height:150%">Thực phẩm chứa nhiều
			đường bởi đường có thể làm tích tụ tế bào hồng cầu trong vi huyết
			quản và tiểu cầu dẫn tới tắc nghẽn, ngoài ra đường cũng có thể gây
			mỡ gan.</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: .5in; line-height: 150%">
			<span style="line-height:150%">Thực phẩm chứa nhiều
			dầu mỡ làm cho chất béo trong cơ thể tăng lên dễ gây gan nhiễm mỡ,
			máu nhiễm mỡ,…yếu tố làm tăng men gan.</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: .5in; line-height: 150%">
			<span style="line-height:150%">Gia vị cay nóng: ớt,
			hạt tiêu </span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: .5in; line-height: 150%">
			<span style="line-height:150%">Đồ uống có cồn, đồ
			uống có ga, khiến gan phải làm việc vất vả hơn khi đang bị bệnh,
			khiến tình trạng tăng men gan càng nặng hơn.</span></p>

    </font>
    <font color="#000000" size="3">
        <font color="#000000" size="4">
            <p class="MsoNormal" style="text-align: justify; text-indent: .5in; line-height: 150%">
                <b><span style="line-height:150%">Chế độ sinh hoạt</span></b></p>
            <p style="margin:0in;margin-bottom:.0001pt;text-align:justify;line-height:150%">
			<span style="line-height:150%">Người bị men gan
			tăng cao nên có chế độ nghỉ ngơi hợp lý, không nên thức khuya sau 22
			giờ, tập thể dục nhẹ nhàng, không nên làm các công việc nặng nhọc
			nhiều.</span></p>

        </font>


    </font>
   </h3>