﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
	<font color="#000000" size="5">
	<p style="text-align: center"><b>Chế độ ăn cho bệnh niêm mạc tử cung
		mỏng</b></p>


</font><font color="#000000" size="3">
	<p class="MsoNormal" style="text-align: justify; text-indent: .5in; line-height: 150%">
			<span style="font-size: 14.0pt; line-height: 150%; color: #212121; font-style: italic; background: white">
			<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/niem-ma-tu-cung-mong.jpg" width="300" height="300" align="left">Kích
			thước nội mạc tử cung khỏe mạnh bình thường có vai trò rất quan
			trọng cho sự làm tổ và phát triển của thai nhi. Nếu lớp niêm mạc tử
			cung là quá mỏng, thì quá trình trứng làm tổ và phát triển của thai
			nhi sẽ bị ảnh hưởng. Do đó phụ nữ có lớp lót nội mạc tử cung mỏng
			khó có thể có thai. Các nghiên cứu chỉ ra rằng: ngoài việc dùng
			thuốc điều trị giúp tăng cường nội mạc tử cung, thì thói quen sinh
			hoạt, chế độ ăn uống cũng tác động một phần lớn tới lớp niêm mạc tử
			cung. Trong phạm vi bài viết này Phòng khám Đông y Nguyễn Hữu Toàn
			xin giới thiệu chế độ dinh dưỡng giúp làm dầy niêm mạc tử cung:</span></p>
	<p class="MsoNormal" style="text-align: justify; text-indent: .5in; line-height: 150%">
		<b>
			<span style="font-size: 14.0pt; line-height: 150%; color: #212121; background: white">
			Cung cấp đủ lượng sắt</span></b><span style="font-size: 14.0pt; line-height: 150%; color: #212121; background: white">
			cho cơ thể, bổ sung những chất làm tăng sự hấp thu sắt cho cơ thể.
			Sắt có vai trò quan trọng trong việc tái tạo và tăng độ dày lớp lót
			nội mạc tử cung. Có nhiều thực phẩm thông dụng giàu chất sắt mà bạn
			biết, tuy nhiên một số sản phẩm dưới đây ngoài việc cung cấp chất
			sắt còn có tác dụng rất tốt cho tử cung, buồng trứng của phụ nữ:</span></p>
	<p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: 27.0pt">
			<span style="font-size: 14.0pt; line-height: 150%; color: #212121">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size: 14.0pt; line-height: 150%; color: #212121; background: white">
			Lá mâm xôi: hỗ trợ sức khỏe tổng thể của tử cung vì nó giàu
			carotenoid (hợp chất chống oxy hóa), vitamin, acid citric, sắt,
			canxi, phốt pho. Vì thế mà lá mâm xôi là loại thuốc bổ tự nhiên của
			tử cung.</span></p>
	<p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: 27.0pt">
			<span style="font-size: 14.0pt; line-height: 150%; color: #212121">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size: 14.0pt; line-height: 150%; color: #212121; background: white">
			Lá cây tầm ma chứa nhiều chất sắt và vitamin C giúp nuôi dưỡng máu,
			gia tăng lưu lượng máu giữ cho nội mạc tử cung khỏe mạnh và màu mỡ.</span></p>
	<p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: 27.0pt">
			<span style="font-size: 14.0pt; line-height: 150%; color: #212121">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size: 14.0pt; line-height: 150%; color: #212121; background: white">
			Gốc Đông Quai được khuyến khích sử dụng cho những phụ nữ bị thiếu
			máu, thiếu sắt. Đông Quai&nbsp; có tác dụng tăng lưu lượng máu về tử
			cung.</span></p>
	<p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: 27.0pt">
			<span style="font-size: 14.0pt; line-height: 150%; color: #212121">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size: 14.0pt; line-height: 150%; color: #212121; background: white">
			Hoa dâm bụt rất hữu ích trong việc nuôi dưỡng lớp niêm mạc tử cung
			bởi vì nó giàu vitamin C giúp tăng cường khả năng hấp thu sắt.</span></p>
	<p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt; line-height: 150%">
		<b>
			<span style="font-size: 14.0pt; line-height: 150%; background: white">
			Vitamin E và </span>
			<span lang="VI" style="font-size: 14.0pt; line-height: 150%">
			L-Arginine</span></b><span lang="VI" style="font-size: 14.0pt; line-height: 150%">
			đã được chứng minh là rất hữu ích trong việc tăng độ dày của nội mạc
			tử cung ở những phụ nữ có độ dày</span><span style="font-size: 14.0pt; line-height: 150%">
			niêm mạc</span><span lang="VI" style="font-size: 14.0pt; line-height: 150%">
			dưới 8 mm. </span>
			<span style="font-size: 14.0pt; line-height: 150%">Vitamin E giúp
			làm tăng tốc độ tăng trưởng biểu mô tuyến và phát triển các mạch máu
			cung cấp cho các mô. Kết quả nghiên cứu cho thấy bổ sung 600mg
			vitamin E hàng ngày giúp cải thiện độ dày niêm mạc tử cung ở 50% số
			lượng người tham gia nghiên cứu, ngoài ra vitamin E cũng làm tăng
			lưu lượng máu lưu thông trong tử cung ở 65% bệnh nhân. Ngoài ra bổ
			sung 6 gam </span>
			<span lang="VI" style="font-size: 14.0pt; line-height: 150%">
			L-Arginine</span><span style="font-size: 14.0pt; line-height: 150%">
			giúp cải thiện độ dày niêm mạc tử cung ở 90% phụ nữ, tăng cường lưu
			lượng máu tử cung radial ở 68% phụ nữ.</span></p>
	<p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt; line-height: 150%">
		<b><span style="font-size: 14.0pt; line-height: 150%">Đậu nành:</span></b><span style="font-size: 14.0pt; line-height: 150%">
			Đậu nành là thực phẩm giàu phytoestrogen đặc biệt tốt cho những phụ nữ có
			nội mạc tử cung mỏng.</span></p>
	<p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt; line-height: 150%">
		<b><span style="font-size: 14.0pt; line-height: 150%">Ngoài việc bổ
			sung bằng chế độ dinh dưỡng thì các loại thảo mộc tự nhiên cũng góp
			phần tăng cường độ dày lớp niêm mạc tử cung.</span></b></p>
	<p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt; line-height: 150%">
			<span style="font-size: 14.0pt; line-height: 150%">Xoa dầu hoa anh
			thảo vào buổi tối có tác dụng trực tiếp vào các tế bào tử cung. Dầu
			hoa anh thảo giàu L- arginine làm tăng sự thư giãn và co thắt cơ
			trơn của tử cung, tăng khả năng phân chia tế bào trong nội mạc tử
			cung.</span></p>
	<p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt; line-height: 150%">
			<span style="font-size: 14.0pt; line-height: 150%">Xoa cao ngải cứu
			giúp kích thích nhẹ tử cung, tăng độ dày của nội mạc tử cung.</span></p>
	<p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt; line-height: 150%">
			<span style="font-size: 14.0pt; line-height: 150%">Xoa cao cỏ ba lá
			đỏ rất giàu vitamin và khoáng chất: canxi và </span>
			<span lang="VI" style="font-size: 14.0pt; line-height: 150%; color: #212121">
			magiê</span><span style="font-size: 14.0pt; line-height: 150%; color: #212121">
			giúp tăng cường sự co giãn của các cơ tử cung, cải thiện lưu thông
			máu trong nội mạc tử cung, giúp làm dày nội mạc tử cung.</span></p>
	<p class="MsoNormal" style="text-align: justify; text-indent: 27.0pt; line-height: 150%">
			<span style="font-size: 14.0pt; line-height: 150%; color: #212121">
			Trên đây là một số hướng dẫn về chế độ dinh dưỡng cho bệnh niêm mạc
			tử cung mỏng, ngoài chế độ ăn uống nên kết hợp với xoa bóp bấm huyệt,
			châm cứu, vận động nhẹ nhàng giúp tăng cường sự lưu thông máu ở tử
			cung, giúp tăng độ dày niêm mạc tử cung.</span></p>




</font>
	</h3>