﻿<div id="noidung">


<font color="#000000" size="3">

    <font color="#0000FF">
						<span style="font-family: Times New Roman; font-size:16pt">
						<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h1>
						</span></font>
    <p align="center">
						<span style="font-family: Times New Roman; font-weight:700">
						<font size="5" color="#000080">Chế
                            độ ăn uống kiêng kị cho bệnh viêm gan</font></span></p>
						<span style="font-family: Times New Roman; font-size:16pt">
						<font color="#0000FF">
                            <h1></h1>
        <p style="text-align: center">&nbsp;</p></font><font color="#000000" size="3">
    <p><b>
						<span style="font-family:&quot;Times New Roman&quot;">Đối
						với người bệnh bị viêm gan cấp tính </span></b></p>
    <table border="0" cellspacing="0" cellpadding="0" align="right" width="156" bgcolor="white" style="width: 117.15pt; border-collapse: collapse; background: white">
        <tbody><tr>
            <td valign="top" style="padding:0in 0in 0in 0in">
                <p class="MsoNormal">&nbsp;</p>
            </td>
        </tr>
        </tbody></table>
    <p>
						<span style="font-family:&quot;Times New Roman&quot;">
						<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/viem-gan.jpeg" width="259" height="194" title="Rau quả tốt cho bệnh viêm gan" lowsrc="Rau%20quả%20tốt%20cho%20bệnh%20viêm%20gan" longdesc="Rau quả tốt cho bệnh viêm gan" alt="Rau quả tốt cho bệnh viêm gan" align="left">Vì
						người bị viêm gan cấp tính thường có các biểu hiện mệt mỏi,
						đau nhức cơ khớp, có các triệu chứng rối loạn tiêu hóa như
						ậm ạch, đầy hơi, khó chịu, chậm tiêu, buồn nôn và nôn...
						Các triệu chứng này kéo dài vài ngày đến vài tuần. Giai
						đoạn này bệnh nhân nên ăn nhẹ, uống nhẹ, nên ăn làm nhiều
						bữa và sử dụng các loại thức ăn dễ tiêu. Cần lưu ý, các
						biểu hiện trên thường dễ chịu hơn vào buổi sáng, vì vậy
						bệnh nhân nên ăn nhiều hơn. Tránh ăn các thức ăn nhiều gia
						vị, dầu, mỡ. Cần ăn nhiều các loại protein được nấu nhừ,
						bên cạnh đó cũng cần ăn các chất có xơ như cam, cà rốt,
						chuối, gạo lứt, đậu đỏ, các loại rau xanh...</span></p>
    <p>
						<span style="font-family:&quot;Times New Roman&quot;">Trong
						giai đoạn này bệnh nhân cũng nên uống nhiều nước, đặc biệt
						nước cam, nước chanh vừa tăng lượng sinh tố, vừa tăng lượng
						nước của cơ thể. Tuyệt đối không được sử dụng rượu bia trong
						giai đoạn này dưới mọi hình thức vì chúng là các chất rất
						có hại cho tế bào gan.</span></p>
    <p>
						<span style="font-family:&quot;Times New Roman&quot;">Trong
						trường hợp viêm gan cấp tính mức độ nặng, bệnh nhân cần
						được điều trị tại bệnh viện để có được chế độ điều trị và
						chăm sóc hợp lý.</span></p>
    <p><b>
						<span style="font-family:&quot;Times New Roman&quot;">Đối
						với người viêm gan mạn tính</span></b></p>
    <p>
						<span style="font-family:&quot;Times New Roman&quot;">Thực
						phẩm sử dụng cần hết sức đa dạng trong các nhóm như rau,
						củ, quả, ngũ cốc, sữa và chế phẩm từ sữa, thịt cá hay trứng.
						Thức ăn cần cung cấp đủ năng lượng, cho bệnh nhân, phù hợp
						với trọng lượng chiều cao và hoạt động của cơ thể. Cần cung
						cấp đủ lượng protein cần thiết để tấn công bệnh tật, tái
						tạo gan và không thất thoát các chất cơ. Các thức ăn cần
						có nhiều vitamin A (như gan gà, gan lợn...) và vitamin C
						(cam, quýt, rau sống...)</span></p>
    <p>
						<span style="font-family:&quot;Times New Roman&quot;">Rau
						củ và trái cây: Cung cấp nhiều vitamin và khoáng chất, mỗi
						ngày nên ăn ít nhất một loại rau có màu xanh đậm và một
						loại rau có màu cam (cà rốt, cà chua, bí đỏ...).</span></p>
    <p>
						<span style="font-family:&quot;Times New Roman&quot;">Sữa:
						Mỗi ngày bệnh nhân nên dùng khoảng 500ml sữa để có đủ vitamin
						D, có thể sử dụng chế phẩm của sữa như sữa chua, phô mai.</span></p>
    <p>
						<span style="font-family:&quot;Times New Roman&quot;">Nên
						dùng dầu thực vật, dầu đậu nành, dầu mè.</span></p>
    <p>
						<span style="font-family:&quot;Times New Roman&quot;">Tuyệt
						đối bỏ rượu để bảo vệ tế bào gan và giúp gan chóng bình
						phục, giảm thiếu tối đa các chất quá béo, quá ngọt.</span></p>
    <p>
						<span style="font-family:&quot;Times New Roman&quot;">Hiện
						nay người ta khuyến cáo với những người bị viêm gan mạn
						tính cần siêu âm, kiểm tra chức năng gan định kỳ 3 hoặc
						6 tháng một lần để kịp thời phát hiện và điều trị các biến
						chứng.</span></p>
    <p><b>
						<span style="font-family:&quot;Times New Roman&quot;">Một
						vài trường hợp đặc biệt</span></b></p>
    <p>
						<span style="font-family:&quot;Times New Roman&quot;">Với
						người bị xơ gan: Bệnh nhân cần phải ăn nhiều bữa trong ngày,
						mỗi bữa ăn một ít giúp cho gan sử dụng tốt hơn nitrogen
						và làm giảm sự ôxy hóa các chất béo, ngăn ngừa sự thiếu
						hụt glycogen dự trữ. Đáng chú ý, trong trường hợp xơ gan
						có cổ trướng thì khẩu phần ăn của bệnh nhân cần giảm lượng
						muối và nên dùng các chất có tác dụng lợi tiểu.</span></p>
    <p>
						<span style="font-family:&quot;Times New Roman&quot;">Với
						người thừa cân và gan nhiễm mỡ: Một số bệnh nhân thừa cân
						và bị gan nhiễm mỡ cần phải giảm ăn để giảm bớt sự thoái
						hóa mỡ gan. Đặc biệt chứng thoái hóa mỡ gan hay xảy ra ở
						bệnh nhân viêm gan virut nói chung và viêm gan siêu vi C
						nói riêng. Nhiễm mỡ gan đi đôi với béo phì dễ dẫn đến xơ
						hóa và một số bệnh lý khác. Bệnh nhân cần giảm cân từ từ
						bằng cách áp dụng chế độ ăn hợp lý và hoạt động cơ thể.
						Không nên giảm cân nhanh vì nó sẽ làm tổn thương gan, tăng
						áp lực tĩnh mạch cửa và gia tăng sự xơ hóa.</span></p>
    <p>
						<span style="font-family:&quot;Times New Roman&quot;">Và
						cuối cùng, một điều hết sức quan trọng là không nên tự ý
						sử dụng các loại thuốc trong điều trị nhất là các thuốc
						ảnh hưởng đến chức năng gan như thuốc hạ sốt giảm đau, vitamin
						A liều cao..., việc dùng thuốc nam cũng cần được cân nhắc
						vì hầu hết thuốc nam có thể biết được tác dụng chính nhưng
						tác dụng không mong muốn thì chúng ta chưa biết hết nên
						nhiều khi mang đến sự phiền toái cho người bị viêm gan.</span></p>
    <p>
						<span style="font-family:&quot;Times New Roman&quot;">Tóm
						lại, gan như một nhà máy sinh học, mọi loại thức ăn, nước
						uống dưới hình thức nào cũng phải qua gan. Khi gan bị tổn
						thương thì mọi hoạt động trở nên rối loạn. Chính vì vậy,
						khi gan bị bệnh cần ăn uống những gì có lợi cho gan là điều
						quan trọng nhất.</span></p>
    <p class="MsoNormal">&nbsp;</p>
</font><p align="center" style="margin-top: 0; margin-bottom: 0"><font color="#000000" size="3">
    <i>****************************************</i></font><font color="#000080" size="5"></font></p><font color="#000080" size="5">
    <p align="center" style="margin-top: 0; margin-bottom: 0">
        <b>Tham khảo thêm về chế độ ăn bệnh viêm gan</b></p>
    <h4 align="center" style="margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">&nbsp;</h4>
    <p align="center" style="margin:0cm;margin-bottom:.0001pt;text-align:center">
        <b><span style="font-size:20.0pt">Chế độ ăn đảm bảo dinh
						dưỡng cho người bệnh viêm gan</span></b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">&nbsp;</p>
</font><font color="#000000" size="3">
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
        <b>
            <img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/che-do-an-benh-viem-gan.jpg" width="251" height="201" title="Chế độ ăn cho bệnh viêm gan" lowsrc="Chế%20độ%20ăn%20tốt%20cho%20bệnh%20viêm%20gan" longdesc="Chế độ ăn tốt cho bệnh viêm gan" alt="Chế độ ăn tốt cho bệnh viêm gan" align="left">I.
            Đại cương</b></p>
    <p class="pbody" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:18.0pt">Gan là một tạng lớn nhất trong cơ thể. Nó vừa là một tuyến nội
        tiết - tham gia nhiều chức phận quan trọng như điều hòa
        đường máu và chống độc vừa là một tuyến ngoại tiết - tiết
        ra mật, đồng thời dự trữ vitamin A, D, K.</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        <strong><span style="font-weight: normal">Viêm gan</span>
        </strong>là tình trạng tổn thương tế bào gan. </p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        Viêm gan thường có rối loạn tiêu hóa, sốt, nôn mửa, mệt
        mỏi, chán ăn, ỉa phân lỏng có kèm theo vàng da đi tiểu sẫm
        màu hoặc không. Nguyên nhân hay gặp nhất là do virus, ngoài
        ra còn có các nguyên nhân khác như do rượu, do một số thuốc
        hoặc hóa chất. Sự tiến triển của viêm gan rất thay đổi,
        có khi khỏi hẳn rất nhanh nhưng cũng có khi tiến triển dẫn
        tới xơ gan hoặc trở thành mạn tính (viêm gan kéo dài từ
        trên 6 tháng đến nhiều năm được coi là viêm gan mạn tính).</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
        Một chế độ ăn hợp lý sẽ giúp <span lang="PT-BR">Nương nhẹ
						chức năng gan, Tạo điều kiện để tái tạo tổ chức gan, Ngăn
						ngừa sự hủy hoại thêm của tế bào gan</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">&nbsp;</p>
    <p class="phead" style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
        <b>II. Chế độ ăn trong giai đoạn Viêm gan cấp tính</b></p>
    <p class="phead" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:18.0pt">Khi bị viêm gan cấp thì hàng loạt rối loạn về chuyển hóa sẽ
        xảy ra do tế bào gan bị hoại tử. Trong giai đoạn điều trị
        viêm gan cấp chế độ ăn uống và nghỉ ngơi đóng một vai trò
        rất quan trọng.</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
        - Sau những ngày đầu, có khi phải nuôi bằng tĩnh mạch rồi
        nuôi bằng ống. </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
        - Một khi bắt đầu ăn được, người ta hay cho ăn theo chế
        độ ăn lỏng, rồi ăn đặc dần, cho đến khi trở lại bình thường.
    </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
        - Các loại thức ăn dành cho người bệnh trong giai đoạn này
        là những loại dễ tiêu hóa, dễ hấp thu như: ngũ cốc, đường,
        mật ong và hoa quả ngọt. Đối với chất đạm, nên chọn loại
        có giá trị dinh dưỡng cao nhưng ít chất béo như lòng trắng
        trứng, cá nạc, sữa không béo, đậu hũ…với số lượng khoảng
        50 - 70g mỗi ngày. </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
        - Nếu bị sút cân nhiều và có cả những triệu chứng suy dinh
        dưỡng khác (như phù chân, lở mép, sưng nướu...) cần tăng
        số calo có khi tới 3.000 và lượng protein dưới dạng thức
        ăn động vật lên tới 100g hoặc hơn nữa. Cho ăn bột đường
        để tăng lượng calo.</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
        - Nếu có vàng da tắc mật thì không nên cho ăn dầu mỡ vì
        bệnh nhân không hấp thu được và sẽ ra phân (phân mỡ). Lúc
        này chế độ ăn của bệnh nhân cần giảm cung cấp chất béo,
        chỉ sử dụng khoảng 15g mỗi ngày, tuyệt đối không ăn các
        loại thức ăn có nhiều cholesterol như óc, tim, gan, lòng
        heo, lòng đỏ trứng...</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
        - Nếu có biểu hiện suy gan thì càng phải giảm lượng đạm
        xuống dưới 40g mỗi ngày, kiêng đạm động vật, bắt buộc phải
        lựa chọn các chất đạm thực vật. Vì đạm động vật có nhiều
        acid amin mà gan chuyển hoá thành ammoniac và urê không
        còn được gan đào thải mà sẽ tích tụ trong máu dễ dẫn đến
        hôn mê gan. Đạm động vật cũng chứa nhiều hemoglobin là những
        chất có cấu trúc vòng, bắt gan phải làm việc nhiều.</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
        - Bệnh nhân nên ăn nhẹ và nhiều hơn về buổi sáng vì một
        số nghiên cứu cho thấy buổi sáng cơ thể và khả năng hấp
        thu của gan tốt hơn so với chiều, do tình trạng nhiễm độc
        vì vậy buổi chiều nên ăn ít hơn để tránh bị đầy bụng.
    </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
        - Bệnh nhân viêm gan cấp cần phải ăn nhiều rau quả tươi
        để cung cấp chất khoáng và các vitamin cần thiết giúp cho
        gan hoạt động tốt hơn</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
        - Bên cạnh đó trong giai đoạn viêm cấp cần có chế độ nghỉ
        ngơi thường xuyên, không làm việc quá sức, tránh các căng
        thẳng tâm lý</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">&nbsp;</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
        <b>III. Chế độ ăn trong giai đoạn Viêm gan mạn tính: </b>
    </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
        - Ở những bệnh nhân viêm gan mạn tính, về lâu dài hệ thống
        tiêu hóa sẽ yếu dần dễ dẫn đến thiếu dinh dưỡng. Vì vậy
        những người bị viêm gan mạn tính được khuyên nên tiếp tục
        ăn uống một cách bình thường, tránh ăn kiêng quá mức cần
        thiết. Đồng thời để tạo ra sự ngon miệng nên thay đổi nhiều
        loại thức ăn khác nhau</p>
    <p class="pbody" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:18.0pt"><em><span style="font-style: normal">- </span><b>Năng lượng</b><span style="font-style: normal">:</span></em>
        1600-1700Kcal/ngày (30-35Kcal/kg/ngày).</p>
    <p class="pbody" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:18.0pt"><em><span style="font-style: normal">- </span><b>Đảm bảo đủ
        đạm</b><span style="font-style: normal"> (protein):</span></em>
        20% tổng năng lượng, khoảng 75-80g/ngày. </p>
    <p class="pbody" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:36.0pt">+ Gan có chức năng&nbsp; tăng lượng prrotid của huyết tương
        và là nơi tập trung protid trước khi nó được phân bổ đi
        khắp cơ thể. Khi gan bị bệnh mạn tính, nhất là xơ gan, hiện
        tượng giảm protid máu thường xảy ra. Do vậy, việc giảm protid
        ở chế độ ăn sẽ gây bất lợi.</p>
    <p class="pbody" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:36.0pt">+ Protid được cung cấp nhiều sẽ giúp cơ thể nhanh phục hồi và
        có tác dụng chống đỡ lại bệnh tật, làm cho tế bào gan tăng
        trưởng và phục hồi.</p>
    <p class="pbody" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:36.0pt">+ Trong đó 50% lượng protein trong ngày do ngũ cốc và rau quả
        cung cấp nên chỉ còn 50% là lấy từ thực phẩm như tôm, cá,
        thịt, trứng, sữa hoặc đạm thực vật như: đậu xanh, đậu nành,
        đậu phụ... có nghĩa một ngày chỉ cần 200g cá hoặc 100g thịt
        nạc, trứng và cốc sữa là đủ.</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:36.0pt">
        + Nên dùng các loại đạm có giá trị sinh học cao, ít béo
        như: Thịt lợn nạc, gà nạc, cá nạc, mực, thịt bò, trứng,
        sữa bột tách bơ, rau xanh, các loại đỗ và chế phẩm từ đậu.</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:36.0pt">
        + Thịt cung cấp các chất như protid, lipid và các chất khoáng
        như sắt, kẽm, magie… nên dùng thịt tươi, không nên dùng
        thịt hộp, thịt nguội. Mỗi ngày có thể cung cấp 75g thịt
        cá.</p>
    <p class="pbody" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:36.0pt">+ Protein từ cá và sữa bò rất tốt cho người yếu gan vì dễ tiêu
        hóa. Trong sữa bò tươi hoặc sữa bột pha tương ứng có khoảng
        3,7% chất đạm và 3,5% chất béo. Chất béo trong sữa bò thuộc
        loại khó tiêu hóa nên người ta thường khuyên người yếu gan
        không nên uống nhiều sữa chứ không phải là kiêng sữa (mỗi
        ngày nên uống 1 cốc). Methionin (acid amin có nhiều trong
        đạm của sữa) giúp tổng hợp cholin, một chất chống lại sự
        xâm nhập mỡ vào tế bào gan bằng cách chuyển lipid từ gan
        đến tổ chức mỡ dưới da. Do đó, chế độ ăn có nhiều sữa giúp
        bảo vệ gan rất tốt.</p>
    <p class="pbody" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:36.0pt">+ <strong><span style="font-weight: normal">Đối với trứng:</span></strong>
        lòng trắng trứng chứa nhiều methionin, eytein, eystin là
        các acid amin bảo vệ gan. Lòng đỏ trứng chứa nhiều chất
        béo nhưng chất béo này là phosphatidylcholin (lecithin)
        tốt cho gan. Trứng có chứa lượng sinh tố nhóm B, nếu 1 ngày
        ăn 1 lòng đỏ trứng gà đáp ứng 1/3 nhu cầu vitamin của cơ
        thể. Như vậy trừ những người bị dị ứng với trứng, người
        bệnh viêm gan có thể cách ngày ăn một quả trứng luộc.</p>
    <p class="pbody" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:18.0pt"><em><span style="font-style: normal">- </span><b>Gluco</b></em><b>
    </b>chiếm 70% tổng năng lượng, khoảng 300-320g/ngày. </p>
    <p class="pbody" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:36.0pt">+ Chức chuyển hóa và dự trữ glucogen trong gan rất quan trọng
        vì nó làm cho gan phát huy được vai trò giải độc. Khi gan
        bị tổn thương, dự trữ glucogen giảm nên bệnh nhân phải tăng
        glucid trong chế độ ăn để tăng dự trữ glucogen, giảm sự
        xâm nhập mỡ vào gan.</p>
    <p class="pbody" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:36.0pt">+ <em><span style="font-style: normal">Tăng cường chất bột,
						đường dễ hấp thu như </span></em>Gạo, đường glucoza, mật
        ong, các loại quả ngọt</p>
    <p class="pbody" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:36.0pt">+ Tránh các loại bánh kẹo ngọt nhiều bơ sữa béo, mứt, nước ngọt
        đóng hộp.</p>
    <p class="pbody" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:18.0pt">- <em><b>Giảm chất béo</b><span style="font-style: normal">:
						</span></em>10% năng lượng, khoảng 15g/ngày. </p>
    <p class="pbody" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:36.0pt">+ Người bệnh gan cần giảm các chất béo, kiêng ăn các món rán,
        bơ mỡ động vật, thực phẩm nhiều cholesterol như trứng, nội
        tạng động vật</p>
    <p class="pbody" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:36.0pt">+ Nên dùng dầu thực vật, dầu đậu nành, dầu mè</p>
    <p class="pbody" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:36.0pt">+ Một nghiên cứu cho thấy: ăn nhiều chất béo cùng với giảm protein
        và bột đường làm bệnh nhân dễ mắc béo phì rùi dẫn đến các
        bệnh tim, mạch, huyết áp, tiểu đường, nhiễm mỡ gan làm cho
        gan đã bị viêm có nguy cơ trở thành xơ gan. </p>
    <p class="pbody" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:36.0pt">+ Tuy nhiên chất lecithin có nhiều trong lòng đỏ trứng gà và
        đậu mè, các loại cá chứa nhiều acid béo, omega 3 rất cần
        cho người bị bệnh viêm gan mạn tính kể cả viêm gan siêu
        vi A, B, C vì làm chậm quá trình ung thư hóa gan. Điều cốt
        yếu là không dùng dư thừa. </p>
    <p class="pbody" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:36.0pt">+ Chế biến thực phẩm theo lối kho, nấu, luộc, hấp </p>
    <p class="pbody" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:18.0pt">- <em><b>Giảm muối</b></em>, mỳ chính 4g/ngày. </p>
    <p class="pbody" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:18.0pt">- Tăng cường các loại <b><i>rau xanh và quả chín</i></b> như
        rau ngót, rau muống, rau cải, rau giền, cà rốt, cà chua,
        bí đỏ, giá đỗ, các loại quả như cam, quýt, xoài, đu đủ chín….
        để cung cấp vitamin và muối khoáng.</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
        - Trường hợp <b><i>viêm xơ gan do rượu: </i></b>&nbsp;Các
        chất sinh tố (nhóm B), axit folic cũng được khuyến khích
        sử dụng </p>
    <p class="MsoNormal" style="text-indent:36.0pt">+Thực phẩm
        hàm chứa phong phú vitamin B1 như: mạch nha, giá, đậu, lạc,
        rau xanh, hoa quả….</p>
    <p class="MsoNormal" style="text-indent:36.0pt">+Thực phẩm
        hàm chứa vitamin B2 có hạt kê,đậu nành, trứng, sữa.</p>
    <p class="MsoNormal" style="text-indent:36.0pt">+Hàm chứa
        vitamin B6 có gan động vật, cật, thịt nạc ...</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
        - Khi <b><i>viêm gan mạn tính có vàng da</i></b>, khả năng
        bài tiết mật có thể giảm vì thế sự hấp thu các chất béo
        trở nên khó khăn hơn, các loại sinh tố hòa tan trong mỡ
        như <b><i>Vitamin A, D, E</i></b> sẽ không hấp thụ đủ vì
        vậy nên bổ sung thêm các loại sinh tố trên mỗi ngày.</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:36.0pt">
        + Các thức ăn cần có nhiều vitamin A : sữa bò, lòng đỏ trứng,
        gan động vật, cà rốt, hẹ, rau muống, rau chân vịt, tỏi tây,
        bắp cải...</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:36.0pt">
        + vitamin C (cam, quýt, rau sống…)</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:36.0pt">
        + Mỗi ngày, bệnh nhân nên dùng khoảng 500ml sữa để có đủ
        vitamin D, có thể sử dụng chế phẩm của sữa như sữa chua,
        phô mai. </p>
    <p class="pbody" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:18.0pt"><em><span style="font-style: normal">- </span><b>Nước</b><span style="font-style: normal">:</span></em>
        1,5-2lít/ngày. Nên uống nước nhân trần, actiso, nước quả
        và đường glucoya.</p>
    <p class="pbody" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:18.0pt">- Uống thêm một số thuốc bổ bổ sung <b><i>khoáng chất</i></b>
        nhưng không nên uống hay ăn những thực phẩm chứa nhiều chất
        sắt vì gan là cơ quan có chứa rất nhiều chất sắt. Gan của
        người bệnh viêm gan có khuynh hướng giữ chất sắt nhiều hơn
        mức bình thường vì vậy đưa vào cơ thể thêm nhiều chất sắt
        dễ làm tăng nguy cơ tổn thương các cơ quan khác như tim,
        tụy. </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
        - Bỏ hẳn rượu bia, cafe, thuốc lá. Nhiều nghiên cứu cho
        thấy ở những người nghiện rượu bia lâu ngày dễ dẫn tới viêm
        gan, xơ gan, đặc biệt dễ nhiễm siêu vi C và làm các bệnh
        gan trở nên trầm trọng hơn, do vậy tuổi thọ sẽ giảm so với
        những người bị viêm gan mà không uống rượu.</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
        - Thêm nữa, phải giữ gìn vệ sinh thực phẩm, tránh ăn thực
        phẩm ôi thiu, nhiễm hóa chất, để phòng ngừa ngộ độc thực
        phẩm. Vì gan là cơ quan có chức năng chính là xử lý và đào
        thải chất độc cho cơ thể, nên khi bị ngộ độc thực phẩm,
        gan sẽ phải làm việc nhiều hơn, có thể đẩy nhanh thêm quá
        trình tổn thương ở gan.</p>
    <p class="pbody" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:18.0pt">- Cần ăn thành nhiều bữa, tránh ăn quá no một lúc, không nên
        ăn những thức ăn khó tiêu có nhiều gia vị, dầu mỡ như tiêu,
        ớt, đồ ăn chiên rán; vì sẽ làm cho đầy bụng vì khó tiêu,
        nên ăn các loại thức ăn có giá trị dinh dưỡng cao mà dễ
        tiêu hóa như đậu nành, đậu hũ...</p>
    <p class="pbody" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:18.0pt">- Nên đi ngủ lúc 21h30, không quá 23h mới ngủ.</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
        - Hạn chế dùng thuốc một cách tối đa vì có nhiều loại thuốc
        gây độc cho gan (paracetamol), nếu buộc phải dùng thuốc
        nên tuân thủ theo chỉ định của bác sĩ, không tự ý dùng thuốc
        bừa bãi. </p>
    <p class="MsoNormal"><br>
        <b>IV. Chế độ ăn cho bệnh nhân Xơ gan </b></p>
    <p class="MsoNormal" style="text-indent:18.0pt">- Xơ gan
        là giai đoạn cuối của Viêm gan. Bệnh nhân xơ gan có thể
        ở giai đoạn xơ gan còn bù hay xơ gan mất bù. </p>
    <p class="MsoNormal" style="text-indent:18.0pt">- Đối với
        bệnh nhân xơ gan còn bù: chế độ ăn không có gì khác biệt
        với viêm gan mạn. </p>
    <p class="MsoNormal" style="text-indent:18.0pt">- Đối với
        bệnh nhân xơ gan mất bù (phù, cổ trướng): chế độ ăn vô cùng
        quan trọng.</p>
    <p class="MsoNormal" style="text-indent:36.0pt">+ Ăn lỏng,
        mềm, không nên ăn nhiều chất xơ có thể gây vỡ tĩnh mạch
        thực quản </p>
    <p class="MsoNormal" style="text-indent:36.0pt">+ Ăn thức
        ăn nhiều chất đạm, nhất là đạm dễ tiêu: Cá, tôm,... </p>
    <p class="MsoNormal" style="text-indent:36.0pt">+ Thức ăn
        có nhiều vitamin nhóm B, K. </p>
    <p class="MsoNormal" style="text-indent:36.0pt">+ Ăn nhạt
        để tránh ứ nước trong cơ thể. </p>
    <p class="MsoNormal" style="text-indent:36.0pt">+ uống đủ
        nước mỗi ngày, không uống quá nhiều. </p>
    <p class="MsoNormal" style="text-indent:36.0pt">+ Theo dõi
        lượng nước tiểu: Chú ý cân bằng lượng nước vào và đào thải.</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:36.0pt">
        + Bỏ các thức uống có tính kích thích, gây độc cho gan:
        rượu, bia, cà phê, chè đặc. </p>
    <p class="MsoNormal" style="text-align:justify;text-indent:36.0pt">
        + Nên dùng các thức uống, đồ ăn có tính lợi mật, nhuận gan
        như: chè nhân trần, artiso, hạt dành dành, nghệ, lá gai,
        lá chanh...</p>
    <font color="#000080">
        <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; background: white">&nbsp;</p>
    </font><font color="#000080" size="5">
    <h4 align="center" style="margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">
        <font size="4">Một số mẫu thực đơn cho người bị bệnh viêm
            gan</font></h4>
    <h4 style="margin:0cm;margin-bottom:.0001pt" align="left">&nbsp;</h4>
</font><font color="#000080">
</font><p style="margin:0cm;margin-bottom:.0001pt" align="left"><font color="#000080">
</font><b>1. Thực đơn dành cho bệnh nhân viêm gan (giai
    đoạn cấp tính):</b></p>
    <p style="margin:0cm;margin-bottom:.0001pt" align="left">
        - Mẫu 1: </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-indent:18.0pt" align="left">
        <img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/thuc-don-cho-viem-gan.jpg" width="264" height="191" title="Thực đơn cho bệnh viêm gan" lowsrc="Thực%20đơn%20cho%20bệnh%20viêm%20gan" longdesc="Thực đơn cho bệnh viêm gan" alt="Thực đơn cho bệnh viêm gan" align="left">6h30:
        Sữa chua 200 ml; </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-indent:18.0pt" align="left">
        10h: Phở 1 bát (bánh phở 200 g, thịt nạc 25 g); </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-indent:18.0pt" align="left">
        13h30: Sữa chua 150 ml; </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-indent:18.0pt" align="left">
        17h: Cơm (gạo tẻ 100 g), khoai tây hầm thịt bò (khoai tây
        200 g, thịt bò 25 g), chuối 1 quả; </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-indent:18.0pt" align="left">
        19h: Nước cam (cam 200 g, đường 20 g); </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-indent:18.0pt" align="left">
        21h: Sữa tách bơ 150 ml.</p>
    <p style="margin:0cm;margin-bottom:.0001pt" align="left">
        - Mẫu 2: </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-indent:18.0pt" align="left">
        6h30: Sữa chua 200 ml. </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-indent:18.0pt" align="left">
        10h: Cơm (gạo tẻ 100 g), giá xào (giá đỗ 100 g, thịt nạc
        20 g, dầu 5 g); </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-indent:18.0pt" align="left">
        13h30: Sữa chua 150 ml; </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-indent:18.0pt" align="left">
        17h: Cơm (gạo tẻ 100 g), gan xào (gan lợn 30 g), canh cải
        (rau cải 100 g), chuối tiêu 1 quả; </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-indent:18.0pt" align="left">
        19h: Nước cam (cam 200 g, đường 20 g); </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-indent:18.0pt" align="left">
        21h: Sữa tách bơ 150 ml.</p>
    <p style="margin:0cm;margin-bottom:.0001pt" align="left">
        - Mẫu 3: </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-indent:18.0pt" align="left">
        6h30: Sữa chua 200 ml; </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-indent:18.0pt" align="left">
        10h: Mỳ thịt bò (mỳ sợi 100 g, thịt bò 25 g); </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-indent:18.0pt" align="left">
        13h30: Sữa chua 150 ml; </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-indent:18.0pt" align="left">
        17h: Cơm (gạo tẻ 100 g), trứng, thịt hấp (trứng gà 1 quả,
        thịt nạc 10 g), canh rau ngót (rau ngót 100 g), chuối tiêu
        1 quả; </p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-indent:18.0pt" align="left">
        19h: Nước cam (cam 200 g, đường 20 g); </p>
    <p style="margin:0cm;margin-bottom:.0001pt" align="left">
        21h: Sữa tách bơ 150 ml.<br>
        <br>
        <b>2. Thực đơn dành cho bệnh nhân xơ gan (giai đoạn tiến
            triển):</b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-indent:18.0pt" align="left">
        7h: Sữa tách bơ 200 ml (sữa bột tách bơ 25 g, đường glucose
        10 g), bánh bột khoai hấp 2 cái (bột khoai lang hoặc khoai
        sọ 50 g, đường glucose 20 g).</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-indent:18.0pt" align="left">
        11h: Cháo thịt (gạo 100 g, thịt nạc 30 g, dầu 5 g, hành
        5 g), chuối tiêu 100 g.</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-indent:18.0pt" align="left">
        14h: Nước mía 250 ml.</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-indent:18.0pt" align="left">
        16h: Súp rau thịt + bún (bún 150 g, bắp cải 100 g, khoai
        tây 150 g, hành, mùi 10 g, dầu 5 g), quýt ngọt 200 g.</p>
    <p class="plast" style="margin:0cm;margin-bottom:.0001pt;text-indent:18.0pt" align="left">
        19h: Chè bột sắn dây 200 ml (bột sắn 25 g, đường glucose
        15 g).</p>
    <font color="#000080" size="5">
        <p class="MsoNormal" align="left">&nbsp;</p>
        <h2 align="center" style="margin:0cm;margin-bottom:.0001pt;text-align:center">
						<span style="font-size:20.0pt">Món ăn cho người viêm gan
						siêu vi B</span></h2>
        <p class="pfirst" style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
            <b>&nbsp;</b></p>
    </font>
    <p class="MsoNormal"><font face="Times New Roman">
        <img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/mon-an-cho-benh-viem-gan.jpeg" width="256" height="197" align="left" title="Món ăn cho bệnh viêm gan siêu vi B" lowsrc="Món%20ăn%20cho%20bệnh%20viêm%20gan%20siêu%20vi%20B" longdesc="Món ăn cho bệnh viêm gan siêu vi B" alt="Món ăn cho bệnh viêm gan siêu vi B">Ở
        bệnh nhân viêm gan do nhiễm siêu vi B, ngoài việc dùng thuốc,
        người bệnh cần có kế hoạch ăn uống và sinh hoạt điều độ
        giúp làm chậm thời gian tiến triển bệnh từ viêm gan mạn
        sang xơ gan.<br>
        <b>I.</b> <b>Chế độ ăn cho người bị viêm gan B cần lưu ý
        một số điểm sau đây:</b><br>
        - Ăn uống đầy đủ, cân đối các chất dinh dưỡng, không nên
        quá kiêng cữ để duy trì sức khỏe, giúp phục hồi tốt chức
        năng gan. Cần tránh rượu, thuốc lá, các chất phụ gia độc
        hại, phẩm màu tổng hợp, các chất bảo quản thực phẩm.<br>
        - Không dùng các thức ăn nướng cháy, các loại chiên xào
        nhiều dầu mỡ, nội tạng động vật.<br>
        - Cần thận trọng khi sử dụng các loại hóa dược. Tốt nhất
        nên tuân thủ chỉ định của thầy thuốc.<br>
        - Không lao động tay chân hoặc lao động trí óc quá sức.
        Tăng cường nghỉ ngơi, thư giãn tinh thần.<br>
        - Tập luyện thể dục thể thao vừa sức như đi bộ, dưỡng sinh,
        yoga, thái cực quyền, bơi lội…</font></p>
    <p class="MsoNormal"><font face="Times New Roman"><b>&nbsp;II.
        Đông y</b> điều trị viêm gan mạn tính chủ yếu là dưỡng can
        kiện tỳ, bổ thận kèm thanh nhiệt, giải độc. Một số món ăn
        sau rất có ích cho người bị viêm gan siêu vi B:<br>
        <br>
        <b>* Cháo rau má</b><br>
        Rau má tươi 100g, đậu xanh 50g, gạo tẻ 50g. Rau má rửa sạch
        cắt nhỏ, gạo, đậu xanh vo sạch cho vào nồi với lượng nước
        vừa đủ để nấu thành cháo nhừ. Sau đó, cho rau má vào, nấu
        sôi lại vài phút. Ăn nóng lúc đói với ít muối hoặc đường.
        <br>
        Món này có tác dụng thanh nhiệt, giải độc, thích hợp với
        người bị viêm gan B cấp tính.<br>
        <br>
    </font></p>
    <p style="margin:0cm;margin-bottom:.0001pt">
        <font face="Times New Roman"><b>* Canh trứng gà nấu câu
            kỷ, táo đỏ</b><br>
            <img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/canh-trung-ga-tot-cho-viem-gan.jpg" width="264" height="191" title="Canh trứng tốt cho bệnh viêm gan" lowsrc="Canh%20trứng%20tốt%20cho%20bệnh%20viêm%20gan" longdesc="Canh trứng tốt cho bệnh viêm gan" alt="Canh trứng tốt cho bệnh viêm gan" align="left">Câu
            kỷ 30g, táo đỏ 20g, trứng gà hai quả, nước 300cc. Nấu đến
            khi trứng chín. Vớt trứng ra, bỏ vỏ rồi cho vào chung với
            đường đỏ, nấu đến khi đường tan. Chia một-hai lần, ăn trứng
            uống canh. Cách hai ngày ăn một lần. Món canh này có tác
            dụng bổ tỳ vị, bổ thận, trừ thấp, thích hợp dùng cho người
            bị bệnh viêm gan mạn tính.<br>
            <br>
        </font></p>
    <p style="margin:0cm;margin-bottom:.0001pt">
        <font face="Times New Roman"><b>* Canh táo đỏ nấu đậu phộng</b><br>
            Táo đỏ, đậu phộng, đường phèn mỗi thứ 30g. Cho đậu phộng
            vào nồi đất trước, cho nước vào, nấu khoảng 20 phút. Táo
            đỏ bỏ hột, cho vào nồi đất nấu chung với đậu phộng, thêm
            20 phút nữa. Sau đó cho đường phèn vào, nấu tiếp năm phút.
            Dùng mỗi tối trước khi ngủ, liên tục 30 ngày. <br>
            Món này có tác dụng thông tỳ ích khí, khử thấp giải độc,
            dùng cho viêm gan cấp và mạn tính, xơ cứng gan.<br>
            <br>
            <b>* Canh thịt heo nạc nấu nấm rơm</b><br>
            Nấm rơm tươi 200g, thịt heo nạc 200g. Nấm rơm tươi rửa sạch,
            cắt miếng, bỏ chung vào nồi đất, thêm nước, dùng lửa vừa
            nấu đến khi thịt nạc chín mềm, thêm gia vị vừa miệng. Dùng
            ăn trong bữa cơm. Tác dụng giúp tư âm nhuận táo, kiện vị
            bổ tỳ, dùng cho chứng viêm gan mạn tính.<br>
            <br>
            <b>* Canh cần tây, thịt heo nạc </b><br>
            <br>
            Rau cần tây 100g, thịt heo nạc 100g, nấm hương (nấm đông
            cô) 20g, tỏi 5g, ít muối. Rau cần tây chỉ lấy cuống và lá
            rửa sạch, cắt nhỏ. Nấm hương ngâm nước nóng có chút gừng
            sau 20 phút thì rửa sạch, cắt nhỏ. Thịt heo nạc rửa sạch,
            xắt nhỏ (có thể thay bằng bột đậu xanh), tỏi bóc vỏ, đập
            dập. <br>
            Đun sôi nửa lít nước, cho thịt nạc vào, thịt chín thì cho
            cần tây, nấm hương, tỏi vào. Tiếp tục đun cho sôi. Ăn nóng
            lúc đói. Tác dụng giúp thanh nhiệt lợi thấp, giải độc, dùng
            cho viêm gan cấp và mạn tính.<br>
            <br>
            <b>* Cháo gạo lức, hải sâm </b><br>
            <br>
            Gạo lức 80g, hải sâm 40g, cải cúc (hoặc cải bẹ xanh) 40g,
            táo đỏ tám trái. Gạo lức vo sạch, hải sâm ngâm mềm, cải
            cúc rửa sạch, cắt nhỏ, táo đỏ rửa sạch, bỏ hột. Nấu gạo
            thành cháo nhừ, cho các nguyên liệu vào nấu thêm với lửa
            nhỏ vài phút. Ăn nóng lúc đói. <br>
            Món này thích hợp với người bị viêm gan B mạn tính, cơ thể
            suy nhược, ăn ngủ kém.<br>
            <br>
            <b>* Cháo nhân trần</b><br>
            Nhân trần cao 50g, gạo tẻ 100g, đường trắng vừa đủ. Dùng
            600ml nước để sắc nhân trần trong 30 phút. Bỏ bã lấy nước
            đổ vào nồi, cho gạo tẻ vào, dùng lửa nhỏ hầm thành cháo,
            thêm đường trắng, trộn đều để ăn.<br>
            Món cháo này giúp thanh nhiệt giải độc, lợi thấp, thoái
            hoàng, thích hợp cho người bị viêm gan vàng da lây nhiễm
            cấp tính, tiểu tiện khó, bí tiểu.</font></p>
    <p style="margin:0cm;margin-bottom:.0001pt">
        <font face="Times New Roman"><strong>&nbsp;</strong></font></p>
    <p style="margin:0cm;margin-bottom:.0001pt">
        <font face="Times New Roman"><strong>*Canh cá chép, bí đao</strong><br>
            Cá chép 1 con (khoảng 0,5 kg), bỏ vảy và nội tạng, rửa sạch,
            cắt đoạn, bí đao 250g, gọt vỏ rửa sạch thái lát. Hai thứ
            cùng cho vào nồi thêm nước và đầu hành hầm canh. Dùng ăn
            tùy ý.</font></p>
    <p style="margin:0cm;margin-bottom:.0001pt">
        <font face="Times New Roman">&nbsp;</font></p>
    <p style="margin:0cm;margin-bottom:.0001pt">
        <font face="Times New Roman">*<strong>Cháo cà chua, rau
            cần, cà rốt</strong><br>
            Cà chua rửa sạch, thái hạt lựu, rau cần rửa sạch thái nhuyễn,
            cà rốt rửa sạch thái nhuyễn (mỗi thứ lượng bằng nhau). Cho
            tất cả vào nồi nấu chín, nêm nếm gia vị.</font></p>
    <p style="margin:0cm;margin-bottom:.0001pt">
        <font face="Times New Roman"><strong>&nbsp;</strong></font></p>
    <font size="5"><font face="Times New Roman"><strong>
        <span style="font-size: 12.0pt">*Canh thịt nấu nấm rơm</span></strong></font><span style="font-size: 12.0pt; font-family: Times New Roman"><br>
						Nấm rơm tươi 100g, thịt nạc 100g, cả hai rửa sạch thái lát.
						Cho thịt vào nồi, thêm nước nấu chín, rồi cho nấm rơm vào
						nấu tiếp. Nêm nếm gia vị, dùng liền vài tuần.<br>
						<br>
						*<strong>Chè nấm tuyết - câu kỷ</strong><br>
						Câu kỷ tử 30g, rửa sạch, nhân nhĩ (nấm tuyết) 10g, sau khi
						ngâm nở bỏ cuống rửa sạch. Hai thứ cùng cho vào nồi thêm
						nước nấu chín, nêm đường phèn 30g, tiếp tục nấu sôi. Dùng
						ăn tùy ý, thích hợp dùng cho viêm gan mạn tính, gan nhiễm
						mỡ và xơ gan.<br>
						<br>
						*<strong>Chè câu kỷ tử</strong><br>
						Gạo tẻ 100g, vo sạch, cho vào nồi thêm nước nấu nở ra, thêm
						câu kỷ tử 20g, nấu đến khi đặc thì cho vào đường trắng.
						Hằng ngày dùng ăn sáng và chiều.<br>
						<br>
		</span><h4 align="center" style="margin:0cm;margin-bottom:.0001pt;text-align:center;
text-indent:9.0pt"><font size="4">Ăn</font><font size="4"> nhiều khoai tây có lợi
        cho gan</font></h4>
        <h4 align="center" style="margin:0cm;margin-bottom:.0001pt;text-align:center;
text-indent:9.0pt"><font size="3">&nbsp;</font></h4>
        <h4 style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:
9.0pt"><img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/khoai-tay-tot-cho-benh-viem-gan.jpg" width="259" height="194" lowsrc="Khoai%20tây%20tốt%20cho%20bệnh%20viêm%20gan" longdesc="Khoai tây tốt cho bệnh viêm gan" alt="Khoai tây tốt cho bệnh viêm gan" align="left">Các
            nhà khoa học tại Đại học Cornell (Mỹ) đã phát hiện ra rằng
            khoai tây chứa một loại vacxin có thể làm giảm nguy cơ mắc
            bệnh viêm gan B. Vacxin này tựa như loại vẫn được dùng rộng
            rãi trên thế giới để tiêm phòng viêm gan B cho người.</h4>
    </font>
    <p class="normal" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:9.0pt"><font face="Times New Roman">Người ta đã cho những chú chuột
        thực nghiệm ăn nhiều khoai tây. Sau một thời gian quan sát,
        các nhà khoa học nhận thấy nguy cơ nhiễm bệnh viêm gan B
        ở những con chuột này rất thấp. Điều này cũng đã được áp
        dụng với một số người và cho kết quả rất khả quan. Chính
        vì thế, các nhà khoa học đã có ý tưởng sản xuất vacxin phòng
        viêm gan B từ loại thực phẩm này. </font></p>
    <p class="normal" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:9.0pt"><font face="Times New Roman">Ở Việt Nam, số người mắc bệnh viêm
        gan B khá cao. Vì vậy, ngay từ bây giờ, bạn hãy chú ý đến
        khoai tây trong bữa ăn của mình, cho dù đó không phải là
        món khoái khẩu của bạn.</font></p>
    <font size="5">
        <p class="MsoNormal" style="text-indent:9.0pt">&nbsp;</p>
        <p class="MsoNormal" align="center" style="text-align:center;text-indent:18.0pt">
						<span class="researchtitle"><b>
						<span style="font-size:16.0pt">Chế độ ăn trong bệnh viêm
						gan ở người lớn</span></b></span></p>
    </font><p class="MsoNormal" style="text-indent:18.0pt"><font size="5">&nbsp;</font><b>I.
    Đại cương</b></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        <img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/vitamin-tot-cho-viem-gan.jpg" width="259" height="194" title="Cung cấp đầy đủ vitamin tốt cho bệnh viêm gan" lowsrc="Cung%20cấp%20đầy%20đủ%20vitamin%20-%20tốt%20cho%20bệnh%20viêm%20gan" longdesc="Cung cấp đầy đủ vitamin - tốt cho bệnh viêm gan" alt="Cung cấp đầy đủ vitamin - tốt cho bệnh viêm gan" align="left">Gan
        là một tạng lớn nhất trong cơ thể, có trọng lượng từ 1500
        - 2300g, chia làm 2 phần là gan phải và gan trái. Nó vừa
        là một tuyến nội tiết - tham gia nhiều chức phận quan trọng
        như điều hòa đường máu và chống độc vừa là một tuyến ngoại
        tiết - tiết ra mật. </p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        <strong><span style="font-weight: normal">Viêm gan</span>
        </strong>là tình trạng tổn thương tế bào gan. </p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        Viêm gan thường có rối loạn tiêu hóa, sốt, nôn mửa, biếng
        ăn, ỉa phân lỏng có thể kèm triệu chứng vàng da</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        Nguyên nhân hay gặp nhất là do virus, ngoài ra còn có các
        nguyên nhân khác như do rượu, do một số thuốc hoặc hóa chất.
    </p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        Sự tiến triển của viêm gan rất thay đổi, có khi khỏi hẳn
        rất nhanh nhưng cũng có khi tiến triển dẫn tới xơ gan hoặc
        trở thành mạn tính (viêm gan kéo dài từ trên 6 tháng đến
        nhiều năm được coi là viêm gan mạn tính).</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        <em><span style="font-style: normal">Mục đích của chế độ
						ăn ở người viêm gan là nhằm: </span></em>
						<span lang="PT-BR">Nương nhẹ chức năng gan, Tạo điều kiện
						để tái tạo tổ chức gan, Ngăn ngừa sự hủy hoại thêm của tế
						bào gan</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        <strong>&nbsp;II. Chế độ ăn trọng thời kỳ viêm gan cấp tính:</strong></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        <em><b>1. Giai đoạn đầu: </b></em>Thời kỳ này bệnh nhân
        có thể sốt, nôn mửa, đau nhức hoặc chán ăn. Vì gan vẫn phải
        làm việc khi tế bào gan bị tổn thương do đó phải áp dụng
        chế độ ăn nương nhẹ gan và nương nhẹ dạ dày, ruột.</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Năng lượng: 25Kcal/kg cân nặng hiện tại/ngày. Chủ yếu
        cung cấp năng lượng cho bệnh nhân viêm gan bằng đường đơn:
        truyền glucose, acid amin, uống nước đường, nước hoa quả,
        sữa tươi, nước cơm, nước cháo…. </p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Khi sốt đã giảm, lượng nước tiểu tăng lên, áp dụng chế
        độ ăn sữa với khoảng 1000calo (1000 - 1500ml sữa)/ngày.
        Sữa là một loại thức ăn tốt vì nó không có nhiều cặn bã,
        không độc mà còn có khả năng chống độc, lợi tiểu, có thể
        dùng sữa tách bơ hoặc sữa đã rút kem pha thêm đường hoặc
        dùng các sản phẩm dinh dưỡng khác như: Ensure, Isocal, Sandosource,
        Vivonex T.E.N…</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Protid: 0,4 - 0,6g/kg cân nặng/ngày, dùng protid có giá
        trị sinh học cao.</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Lipid: 10 - 15% tổng năng lượng. Axid béo chưa no một
        nối đôi chiếm 1/3, nhiều nối đối chiếm 1/3 và axid béo no
        chiếm 1/3 trong tổng số lipid.</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Đủ vitamin và chất khoáng theo nhu cầu.</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Số bữa ăn: 6 - 8 bữa/ngày.</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        <em><b>b.&nbsp; Giai đoạn tiếp theo:</b></em>Cuối giai đoạn
        viêm gan cấp tính có thể cho bệnh nhân ăn thêm ngũ cốc dưới
        dạng bột, cháo và khi đã hết sốt áp dụng chế độ ăn có nhiều
        protid và nhiều methionin như sữa tách bơ, thịt nạc, cá
        nạc cùng cới tăng cường calo, tăng cường chất bột.</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Năng lượng: 30Kcal/kg cân nặng hiện tại/ngày.</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Protid: 0,8 - 1kg/cân nặng hiện tại/ngày. Tỷ lệ protid
        động vật/tổng số: &gt; 50%.</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Lipid: 10 - 15% tổng năng lượng. Axid béo chưa no một
        nối đôi chiếm 1/3, nhiều nối đôi chiếm 1/3 và axit béo no
        chiếm 1/3 trong tổng số lipid.</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Đủ vitamin, chất khoáng và nước</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Không dùng thực phẩm lạ, dễ gây dị ứng</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        <span lang="PT-BR">- Số bữa ăn: 4-6 bữa/ ngày</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        <strong>&nbsp;III. Chế độ ăn trong thời kỳ viêm gan mạn</strong></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        Khi giai đoạn viêm gan cấp tính đã qua, bệnh nhân ở vào
        tình trạng “yếu gan”, thời kỳ này có khi kéo dài rất lâu.
        Bệnh nhân không chịu được những bữa ăn có quá nhiều chất
        béo, nhiều loại thực phẩm, hoặc những thay đổi đột ngột
        về môi trường, khí hậu. </p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        <strong><i>* Chế độ ăn cần chú ý đến những điểm sau:</i></strong></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Thức ăn phải tươi, tránh để lâu, không nên nấu nướng cầu
        kỳ</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Không dùng những thực phẩm lạ dễ gây dị ứng</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Nên ăn nhiều bữa để hấp thu tốt hơn, chú ý dùng chế độ
        ăn nương nhẹ cả gan lẫn dạ dày và ruột</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Ăn nhiều thịt nạc nhưng tránh ăn thịt súc vật non vì có
        chứa nhiều nucleoprotid</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Nên ăn nhiều sữa, trứng ăn vừa phải và chỉ nên dùng trứng
        tươi</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Các chất béo chỉ nên dùng ít và dùng dạng dầu thực vật,
        tránh dùng mỡ động vật</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Tăng cường chất đường, mật, bột ngũ cốc</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Rau quả loại tươi, mềm, ít xơ, nhiều ngọt</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Không dùng gia vị, rượu, bia, chất kích thích...</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        <strong><i>* Nguyên tắc xây dựng chế độ ăn:</i></strong></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Năng lượng: 35Kcal/kg cân nặng hiện tại/ ngày</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Proid: 1-1,5g/kg cân nặng hiện tại/ ngày</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Lipid: 15-20% tổng năng lượng. Axít béo chưa no một nối
        đôi chiếm 1/3, nhiều nối đôi chiến 1/3 và axít béo no chiếm
        1/3 trong tổng số lipid</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Đủ vitamin (đặc biệt là vitamin nhóm B, K) và muối khoáng.</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Nước: 1,5- 2lít/ngày</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        <span lang="PT-BR">- Số bữa ăn: 3-4 bữa/ ngày</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        <span lang="PT-BR">&nbsp;</span><b>IV. Chế độ ăn khi bị
        xơ gan</b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-indent:18.0pt">
        Bệnh nhân vị xơ gan cần cung cấp nhiều protid (1,5-2 g/kg
        mỗi ngày) và glucid, nhiều vitamin nhóm B, vitamin K. Khi
        có cổ trướng cần ăn nhạt. Nếu tĩnh mạch thực quản giãn,
        cần tránh thức ăn có nhiều xơ cứng, đề phòng cọ xát gây
        vỡ tĩnh mạch do thức ăn. Chế độ ăn trong điều trị xơ gan
        cần áp dụng kéo dài khoảng 6 tháng hoặc lâu hơn nữa.</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-indent:18.0pt">
        Nếu bệnh nhân có nguy cơ bị hôn mê gan (do gan suy nặng),
        cần hạn chế chất đạm do protid không hấp thu được sẽ đọng
        lại trong ruột sinh ra nhiều NH3, ngấm vào máu gây độc cho
        hệ thần kinh.</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        Đồng thời với chế độ ăn trong điều trị xơ gan, cần tăng
        cường các vitamin nhóm B như B1, B2, PP và các axit amin.</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        <strong>&nbsp;</strong></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        <strong>V. Một số thực đơn tham khảo</strong></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        <em><b>Mẫu 1</b></em>: 1500Kcal/ ngày, Protid: 59g, Lipid:
        22g, Glucid: 262g</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Sáng: Bún thịt bò (bún 200g, thịt bò 30g), quả chín: 100g</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Trưa: cơm 2 lưng bát (100g gạo), thịt nạc viên hấp 60g,
        canh bí 200g, nước cam 200ml</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
						<span lang="PT-BR">- Chiều: cơm 2 lưng bát (100g gạo), thịt
						bò xào rau cải (thịt bò 40g, rau cải 200g, dầu ăn 5ml),
						đu đủ 100g</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Tối: sữa tươi 200ml</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        <em><b>Mẫu 2:</b></em> Năng lượng 1770 Kcal, Protid: 82g,
        Lipid: 31g, Glucid: 288g</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Sáng: cháo thịt (gạo tẻ 30g, thịt nạc 30g), quả chín 100g</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Trưa: cơm 2 bát, thịt bò xào thập cẩm (thịt bò 50g, hành
        tây 20g, mộc nhĩ 5g, tỏi tây- cà rốt 30g, đậu cô ve 20g),
        canh cải 1 bát</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Chiều: cơm 2 bát, đậu sốt cà chua (đậu phụ 100g, cà chua
        50g), tôm rang 50g, canh rau 200g, quả chín 100g</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - Tối: sữa 200ml</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        <em><b>Mẫu 3</b></em>: Năng lượng 2100 Kcal, Protid: 86g,
        Lipid: 44g, Glucid: 347g</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - 7h sáng: Bánh mì trứng (bánh mì 1 cái, trứng gà 1 quả,
        dầu ăn 5ml), quả chín 100g</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - 9h: 1 cốc chè đỗ đen (đỗ đen 20g, đường kính 20g, bột
        đao 5g)</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        - 11h: cơm 2 bát, thịt rim 50g, canh bí xanh tôm nõn (bí
        xanh 200g, tôm nõn 10g, dầu ăn 3ml), quả chín 200g</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        <span lang="PT-BR">- 15h: 1 hộp sữa nước 200ml</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
						<span lang="PT-BR">- 17h: cơm 2 bát, thịt gà rang 80g, rau
						muống luộc 200g, quả chín 200g.</span></p>
    <font color="#000080" size="5">
        <h1 align="center" style="margin:0cm;margin-bottom:.0001pt;text-align:center">
            <font face="Times New Roman" size="4">7 thói quen độc hại
                của người mắc viêm gan B</font></h1>
    </font><font color="#000080">
    <p class="sapo" style="margin:0cm;margin-bottom:.0001pt">
        <font face="Times New Roman">&nbsp;</font></p>
</font>
    <p class="sapo" style="margin:0cm;margin-bottom:.0001pt">
        <font face="Times New Roman">Những thói quen không tốt trong
            cuộc sống hằng ngày là một trong những nguyên nhân cơ bản
            thúc đẩy sự tấn công của căn bệnh này. </font></p>
    <font color="#000080">
        <p class="MsoNormal" style="text-align:justify">
            <font face="Times New Roman"><b>
						<span style="color:black">
						<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/ruou-khong-tot-cho-viem-gan.jpg" width="225" height="225" lowsrc="Rượu%20không%20tốt%20cho%20viêm%20gan" longdesc="Rượu không tốt cho viêm gan" alt="Rượu không tốt cho viêm gan" align="left">1.
						Uống quá nhiều rượu</span></b></font></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
            <font face="Times New Roman"><span style="color: black">
						-<b><i> </i></b></span><span style="color:black">Rượu sau
						khi vào cơ thể một lượng nhỏ thông qua quá trình trao đổi
						chất chủ yếu thực hiện ở gan, được bài tiết ra ngoài qua
						hơi thở, phổi và tuyến mồ hôi; lượng còn lại cùng với ethanol
						trong gan hình thành dehydrogenase, chất này rất có hại
						cho tế bào gan.</span></font></p>
    </font><p class="MsoNormal" style="text-align:justify;text-indent:18.0pt"><font color="#000080">
    <font face="Times New Roman"><span style="color:black">-
						</span></font></font><font face="Times New Roman">Vì vậy,
    Rượu rất có hại cho những bệnh nhân viêm gan B mãn tính,
    vi rút viêm gan B và rượu khi cùng tồn tại sẽ gia tăng tổn
    hại cho gan, dẫn đến xơ gan, ung thư gan.</font></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
        <font face="Times New Roman">- Những người có vi rút viêm
            gan B âm tính nếu uống rượu trong thời gian dài thì khả
            năng bị xơ gan, ung thư gan và giảm tuổi thọ cao hơn nhiều.
        </font></p>
    <p class="MsoNormal" style="text-align:justify">
        <font face="Times New Roman">&nbsp;</font></p>
    <font color="#000080">
        <p class="MsoNormal" style="text-align:justify">
            <font face="Times New Roman"><b>
                <span style="color:black">2. Loạn dùng thuốc</span></b></font></p>
    </font>
    <p class="MsoNormal" style="text-align:justify">
        <font face="Times New Roman">- Cùng với sự xuất hiện của
            quá nhiều loại thuốc trên thị trường, việc mua và sử dụng
            thuốc đúng liều, đúng lượng là khá khó khăn với người tiêu
            dùng. Việc sử dụng thuốc tràn làn sẽ chỉ khiến viêm gan
            trở nên trầm trọng hơn</font></p>
    <p class="MsoNormal" style="text-align:justify">
        <font face="Times New Roman">- Thuốc có ảnh hưởng nhất định
            đến các mô và các cơ quan của cơ thể. Thuốc sau khi vào
            cơ thể đa số được chuyển hóa qua gan. Với người có vi rút
            viêm gan B, khi sử dụng thuốc, gánh nặng của gan sẽ gia
            tăng do gan là cơ quan trao đổi chất và đóng vài trò phân
            hủy biến đổi thuốc. </font></p>
    <p class="MsoNormal"><font face="Times New Roman">- Một
        số bệnh nhẹ như cảm lạnh không nên lạm dụng thuốc, hãy nghỉ
        ngơi và uống nhiều nước. <font color="#000080">
						<span style="color:black"><br>
						<br>
						</span></font></font><font color="#000080"><font color="#000080"></font></font></p><font color="#000080"><font color="#000080">
</font></font>
    <p class="MsoNormal"><font face="Times New Roman">
        <img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/thieu-ngu-khong-tot-cho-viem-gan.jpg" width="260" height="194" lowsrc="Thiếu%20ngủ%20-%20không%20tốt%20cho%20viêm%20gan" longdesc="Thiếu ngủ - không tốt cho viêm gan" alt="Thiếu ngủ - không tốt cho viêm gan" align="left"><font color="#000080"><b><span style="color: black">3.
						Thiếu ngủ</span></b></font><font color="#000080" size="3"><span style="color: black"><br>
						- </span><span style="color:black">Đông</span></font><font size="3">
        y cho rằng, gan là bộ phận lưu trữ điều chỉnh các chức năng
        của máu. Nếu cơ thể được nghỉ ngơi trong trạng thái yên
        tĩnh, khi nhu cầu máu của các bộ phận được giảm xuống thì
        lượng máu đó được trở lại gan. Khi vận động học tập làm
        việc gia tăng, nhu cầu máu gia tăng, lượng máu tích lũy
        trong gan lưu thông nhiều hơn nhằm đáp ứng nhu cầu của cơ
        thể.</font><font color="#000080" size="3"><span style="color:black"><br>
						- </span></font><font size="3">Nếu thiếu ngủ, hoặc nghỉ
        ngơi không hợp lí dẫn đến sự thiếu hụt của máu ở gan ảnh
        hưởng đến sự nuôi dưỡng tế bào gan gây ra khả năng miễn
        dịch giảm. Với người nhiễm vi rút viêm gan B, tế bào bị
        hư hại sẽ rất khó phụv hồi và có khả năng nguy hiểm hơn.</font><font color="#000080" size="3"><span style="color:black"><br>
						- Vì&nbsp; vậy bệnh nhân viêm gan n</span></font><font size="3">ên
        nghỉ ngơi từ 23h để có được giấc ngủ sâu vào 1-3h sáng,
        bởi đây là thời gian tốt nhất nuôi dưỡng máu trong gan.
        Nên ngủ 8 tiếng mỗi ngày, người già là 7-9 tiếng. </font>
        <font color="#000080" size="3">
						<span style="color:black"><br>
						<br>
						</span><b><span style="color: black">4. Dễ nổi giận và bực
						tức</span></b><span style="color: black"><br>
						</span><span style="color:black">- </span></font>
        <font size="3">Nếu một người bị căng thẳng trong thời gian
            dài, tâm trạng không được giải tỏa, khiến khí không được
            lưu thông, gây tổn hại cho gan, có biểu hiện như tức ngực,
            đau xương sườn. </font></font></p>
    <p class="MsoNormal">
        <font face="Times New Roman" size="3">&nbsp;</font></p>
    <font color="#000080" size="5">
    </font><p class="MsoNormal"><font color="#000080" size="5">
    <font color="#000080" size="3" face="Times New Roman">
        <b><span style="color: black">5. Ăn đồ dầu mỡ</span></b><span style="color:black"><br>
						- </span></font></font>
    <font size="3" face="Times New Roman">Mỡ không thể thiếu
        trong cuốc sống hàng ngày và là thành phần dinh dưỡng quan
        trọng của cơ thể. Lượng mỡ thích hợp đưa vào cơ thể cung
        cấp năng lượng và duy trì chức năng sinh lý. Nhưng nếu thường
        xuyên sử dụng thực phẩm có hàm lượng mỡ cao lại gây ra tác
        hại khó lường cho sức khỏe con người.</font><font color="#000080" size="5"><font color="#000080"></font></font></p><font color="#000080" size="5"><font color="#000080">
</font></font><p class="MsoNormal"><font color="#000080" size="5"><font color="#000080"></font>
    <font color="#000080" size="3" face="Times New Roman">
        <span style="color: black">- </span></font></font>
    <font size="3" face="Times New Roman">Trong số các thực
        phẩm, dầu mỡ chính là kẻ thù số một của gan. Các thực phẩm
        có hàm lượng mỡ cao, qua đường ruột được hấp thụ vào máu,
        thông qua hệ thống tuần hoàn được gan hấp thụ và chuyển
        đổi thành lipoprotein tổng hợp mật độ thấp; người có gan
        không tốt nếu hấp thụ lượng chất béo cao sẽ tăng gánh nặng
        cho gan. </font>
    <font color="#000080" size="3" face="Times New Roman">
        <span style="color:black">Việc </span></font>
    <font size="3" face="Times New Roman">khó phân giải lượng
        mỡ tích tụ trong gan dễ gây ra các bệnh như xơ gan, ung
        thư gan.</font><font color="#000080" size="3" face="Times New Roman"><span style="color:black"><br>
						-</span></font><font size="3" face="Times New Roman"> Bệnh
        nhân viêm gan nên lựa chọn thức ăn thanh đạm, ít dầu mỡ,
        thay thế bổ sung các loại thực phẩm nhiều vitamin như hoa
        quả tươi.</font><font color="#000080" size="3" face="Times New Roman"><span style="color:black"><br>
						<br>
						</span><b><span style="color: black">6. Hay ăn đêm</span></b><span style="color:black"><br>
						- </span></font><font size="3" face="Times New Roman">Gan
        là công xưởng của cơ thể, các thành phân dinh dưỡng sau
        khi được hấp thụ vào cơ thể đều được chuyển hóa qua gan.
        Việc ăn đêm ảnh hưởng đến thời gian nghỉ ngơi của gan, tăng
        gánh nặng cho chức năng này, thậm chí gây rối loạn chức
        năng gan. Đối với người bệnh là hết sức tối kị. Ngoài ra
        ăn đêm còn không có lợi cho các chức năng khác như: dạ dày,
        tì vị, thận, mật…</font><font color="#000080" size="3" face="Times New Roman"><span style="color:black"><br>
						- </span></font><font size="3" face="Times New Roman">Những
        người mắc viêm gan B mãn tính tốt nhất không nên ăn đêm
        hoặc cố gắng giảm thiểu ăn đêm. Nếu cần bổ sung dinh dưỡng
        vào buổi tối nên lựa chọn các thực phẩm có thành phần đường
        như kẹo hay bột mỳ, nhưng không nên ăn quá nhiều.</font><font color="#000080" size="3" face="Times New Roman"><span style="color:black"><br>
						<b><br>
                        </b></span><b><span style="color: black">7. Hút thuốc lá<br>
						</span></b></font><font face="Times New Roman">
        <font color="#000080"><span style="color:black">- </span>
        </font>Sự độc hại của thuốc lá ai cũng được tới. Sự nguy
        hại của việc hút thuốc lá bắt nguồn từ chính độc hại từ
        khói thuốc, sau khi được hít vào cơ thể đều gây tổn hại
        với các cơ quan trong cơ thể ở những mức độ khác nhau, là
        nguyên nhân gây ra các bệnh ung thư và các bệnh khác.
    </font></p>
    <font size="5">
    </font><p class="MsoNormal"><font size="5"></font>
    <font face="Times New Roman">- Gan là cơ quan giải độc,
        sau khi bị nhiễm vi rút gan B, chức năng của gan giảm xuống,
        sự gia tăng nicotin (thành phần của thuốc lá) trong cơ thể
        gia tăng gánh nặng cho gan và gây tổn hại trực tiếp đến
        sức khỏe. </font>
    <font color="#000080" face="Times New Roman">
						<span style="color:black"><br>
						- </span></font><font face="Times New Roman">Ngoài ra hút
        thuốc còn gây trở ngại và tăng gánh nặng cho hệ tuần hoàn
        máu trong cơ thể khiến lượng máu không được cung cấp đầy
        đủ, giảm khả năng miễn dịch, gây ra các bệnh về hô hấp và
        khiến bệnh trở nên nghiêm trọng hơn.</font><font color="#000080" face="Times New Roman"><span style="color:black"><br>
						- Vì vậy </span></font><font face="Times New Roman">bệnh
        nhân viêm gan B mãn tính tuyệt đối không hút thuốc.</font><font color="#000080" size="5"><font color="#000080"></font></font></p>
</font></font>














</div>