﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">


    <font color="#000000" size="5">

    </font><font color="#000000" size="3">

    <p></p>
    <h1 style="text-align: center"><font size="5">Chế</font><font size="5"> độ ăn cho bệnh viêm gan A</font></h1>
</font><font color="#000080" size="3">
</font>



            </font><font color="#000000">
            </font>
            <p align="justify" style="margin-top: 0; margin-bottom: 0; line-height:150%"><font color="#000000">
		<span style="color: rgb(68, 68, 68); font-family: Arial, Helvetica, Tahoma, sans-serif; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none; background-color: rgb(255, 255, 255)">
		<a href="Chế%20độ%20ăn%20cho%20bệnh%20viêm%20gan%20A">
            <font color="#000000" size="4">
                <img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-viem-gan-A.jpg" width="300" height="300"
                     lowsrc="Chế%20độ%20ăn%20cho%20bệnh%20viêm%20gan%20A" longdesc="Chế độ ăn cho bệnh viêm gan A"
                     alt="Chế độ ăn cho bệnh viêm gan A" align="left"></font></a></span></font><font color="#000000"
                                                                                                     size="3"><font
                    face="Times New Roman" color="#000000"><span
                    style="font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none; background-color: rgb(255, 255, 255)">Viêm
		gan A là một loại nhiễm trùng của gan do virut gây nên. Cũng giống như
		một số loại viêm gan khác do virut gây nên thì viêm gan A cũng dễ lây
		truyền. Đối với bệnh viêm gan A thì chế độ ăn uống đóng vai trò rất quan
		trọng. Chế độ ăn uống giúp duy trì sức khỏe cho người bệnh và giúp gan
		bị bệnh có thời gian nghỉ ngơi không phải làm việc quá sức.</span></font><font color="#000000"><br
                    style="font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255)">
		<span style="font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none; background-color: rgb(255, 255, 255)">
		Qua quá trình điều trị và theo dõi bệnh nhân viêm gan A, phòng khám Đông
		y Nguyễn Hữu Toàn nhận thấy chế độ ăn uống có tác động rất lớn tới quá
		trình điều trị. Dưới đây là một số lời khuyên đối với những thực phẩm
		nên và không nên ăn cho bệnh nhân viêm gan A.</span><br
                        style="font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255)">
                <strong style="font-weight: 400; font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255)">
                    Những thực phẩm nên ăn</strong><br
                        style="font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255)">
		<span style="font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none; background-color: rgb(255, 255, 255)">
		Đối với bệnh viêm gan A nên bổ sung một lượng lớn protein để giúp quá
		trình sửa chữa tự nhiên của gan. Tuy nhiên cũng không nên ăn quá nhiều
		chất đạm hàng ngày có thể gây ra bệnh não gan. Các loại rau và protein
		từ sữa có thể giúp gan dung nạp tốt hơn so với các chất đạm từ thịt.</span><br
                        style="font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255)">
		<span style="font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none; background-color: rgb(255, 255, 255)">
		Nghệ: là thực phẩm khó có thể bỏ qua với bệnh viêm gan A. Tinh chất nghệ
		có tác dụng chống viêm cho gan rất tốt,</span><br
                        style="font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255)">
		<span style="font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none; background-color: rgb(255, 255, 255)">
		Hoa quả như: anh đào,bưởi và tỏi cần được bổ sung vào chế độ ăn uống của
		bệnh nhân có viêm gan A. Đây là những thực phẩm tốt cho gan, giúp thanh
		lọc gan.</span><br
                        style="font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255)">
		<span style="font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none; background-color: rgb(255, 255, 255)">
		Nên ăn các loại thực phẩm giàu chất chống oxy hóa như: cà chua, táo, nho,…
		đây là những thực phẩm có tác dụng phục hồi chức năng của gan.</span><br
                        style="font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255)">
		<span style="font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none; background-color: rgb(255, 255, 255)">
		Các loại đậu đặc biệt là đậu tương giúp bổ sung protein có lợi cho cơ
		thể và giúp sữa chữa gan một cách tự nhiên.</span><br
                        style="font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255)">
		<span style="font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none; background-color: rgb(255, 255, 255)">
		Các loại súp rau tự nhiên giúp hệ tiêu hóa hoạt động dễ dàng hơn và được
		lựa chọn là chế độ ăn tốt cho bệnh viêm gan A.</span><br
                        style="font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255)">
		<span style="font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none; background-color: rgb(255, 255, 255)">
		Những trường hợp bị tích tụ nước trong dạ dày thường có nguy cơ bị viêm
		gan A. Chính vì thế một chế độ ăn uống nhạt sẽ tốt cho bệnh viêm gan A.</span><br
                        style="font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255)">
                <strong style="font-weight: 400; font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255)">
                    Những điều nên tránh</strong><br
                        style="font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255)">
		<span style="font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none; background-color: rgb(255, 255, 255)">
		Cần tránh Calo dư thừa do tiêu thụ nhiều carbohydrate vì nó có thể là
		nguyên nhân gây rối loạn chức năng gan, gây tụ mỡ trong gan.</span><br
                        style="font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255)">
		<span style="font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none; background-color: rgb(255, 255, 255)">
		Tránh lượng sắt dư thừa vì có thể gây tổn hại cho gan</span><br
                        style="font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255)">
		<span style="font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none; background-color: rgb(255, 255, 255)">
		Các loại thực phẩm được chế biến sẵn thường có chứa chất làm ngọt nhân
		tạo và một số chất bảo quản có thê gây hại cho gan đang bị bệnh.</span><br
                        style="font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255)">
		<span style="font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none; background-color: rgb(255, 255, 255)">
		Vitamin A dư thừa sẽ gây ngộ độc cho gan vì thế chỉ nên lưu ý về chế độ
		ăn uống có vitamin A.</span><br
                        style="font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255)">
		<span style="font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none; background-color: rgb(255, 255, 255)">
		Rượu là kẻ thù của gan. Chính vì thế cần tránh rượu một cách tuyệt đối.</span></font><font color="#000000"
                                                                                                   size="4"><br
                    style="font-family: Times New Roman; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255)">
		</font></font></p>
          </font></font></font></h3>