﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
 <font color="#000000" size="5">
    <p style="text-align: center"><b>Chế độ ăn uống kiêng kị cho bệnh
        viêm gan B</b></p>

</font>

    <font color="#000000" size="3">
					<span style="font-family: Times New Roman; font-size:16pt">
					<font color="#0000FF"><font color="#000080" size="3">
                    </font><p align="left" style="margin-top: 0; margin-bottom: 0"><font color="#000080" size="3">
                    </font>


    <font color="#000000" size="3">
        <p>
            &nbsp;</p>

        <p></p>
        <p style="color: rgb(68, 68, 68); font-family: Arial, Helvetica, Tahoma, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-align: justify; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
            <img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-viem-gan-b.jpg" width="298" height="240" lowsrc="Chế%20độ%20ăn%20cho%20bệnh%20viêm%20gan%20B" longdesc="Chế độ ăn cho bệnh viêm gan B" alt="Chế độ ăn cho bệnh viêm gan B" align="left">T<font size="4" face="Times New Roman">heo
            thống kê của Hiệp hội gan mật Việt Nam, nước ta có khoảng 10 đến 20%
            dân số mắc các bệnh về gan, trong đó<span class="Apple-converted-space">&nbsp;</span><a title="Viêm gan B và cách điều trị" style="text-decoration: none; " >viêm
                gan B</a><span class="Apple-converted-space">&nbsp;</span>chiếm đa số. Có
            khoảng 12 triệu người mắc viêm gan B. Đây là một con số đáng báo
            động, nếu viêm gan B không được điều trị kịp thời sẽ chuyển sang xơ
            gan, gây tử vong cho người bênh.<br>
            Theo các bác sĩ bệnh nhân viêm gan do nhiễm siêu vi B, ngoài việc
            dùng thuốc, người bệnh cần có kế hoạch ăn uống và sinh hoạt điều độ
            giúp làm chậm thời gian tiến triển bệnh từ viêm gan mạn sang<a title="Món ăn điều trị xơ gan" style="text-decoration: none; " ><span class="Apple-converted-space">&nbsp;</span>xơ
                gan.</a><br>
            Các chuyên gia dinh dưỡng khuyên những người viêm gan B nên tuân
            theo chế độ ăn uống như sau:</font></p>
        <ul style="font-size: 14px; list-style-type: none; color: rgb(68, 68, 68); font-family: Arial, Helvetica, Tahoma, sans-serif; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; margin-left: 14px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; padding: 0px; background-color: rgb(255, 255, 255)">
            <li style="font-size: 14px; list-style-position: inside; list-style-type: square; margin: 0px; padding: 0px">
                <p style="text-align: justify"><font face="Times New Roman">
                    <font size="4">Ăn uống đầy đủ, cân đối các chất
                        dinh dưỡng, không nên quá kiêng cữ để duy trì sức khỏe, giúp
                        phục hồi tốt chức năng gan. Chia nhỏ bữa ăn để giảm áp lực tiết
                        mật cùng một lúc trong thời gian dài cho gan. Ăn uống đúng giờ,
                        không để cơ thể bị đói vì khi bị đói gan sẽ phải lấy các
                        glucogen dự trữ để tiêu hao cho hoạt động của cơ thể. Điều này
                        khiến gan trở nên mệt mỏi hơn.</font></font></p></li><font face="Times New Roman">
        </font><li style="font-size: 14px; list-style-position: inside; list-style-type: square; margin: 0px; padding: 0px"><font face="Times New Roman">
        </font><p style="text-align: justify"><font face="Times New Roman"><font size="4">Cần tránh rượu, thuốc lá, các
            chất phụ gia độc hại, phẩm màu tổng hợp, các chất bảo quản thực
            phẩm. Để tránh được điều này nên tạo thói quen ăn uống tại nhà,
            tự nấu ăn, hạn chế đồ ăn nhanh, đồ ăn bày bán sẵn.</font></font><span id="more-5352"></span></p></li>
            <li style="font-size: 14px; list-style-position: inside; list-style-type: square; margin: 0px; padding: 0px">
                <p style="text-align: justify"><font face="Times New Roman">
                    <font size="4">Nên ăn những món luộc, hạn chế
                        dùng các thức ăn nướng cháy, các loại chiên xào nhiều dầu mỡ,
                        nội tạng động vật là một chế độ ăn bổ sung lượng đạm, protein
                        khỏe mạnh cho người bị viêm gan B. Những đồ ăn chứa nhiều dầu mỡ
                        sẽ khiến lá gan đang bị bệnh phải làm việc vất vả hơn, nó sẽ làm
                        cho gan càng trở nên mệt mỏi, suy yếu hơn.</font></font></p></li><font face="Times New Roman">
            <li style="font-size: 14px; list-style-position: inside; list-style-type: square; margin: 0px; padding: 0px">
                <p style="text-align: justify"><font size="4">Nên có chế độ ăn vơi nhiều rau
                    xanh và hoa quả tươi giúp tăng cường vitamin cho cơ thể.</font></p></li>
        </font><li style="font-size: 14px; list-style-position: inside; list-style-type: square; margin: 0px; padding: 0px"><font face="Times New Roman">
        </font><p style="text-align: justify"><font face="Times New Roman"><font size="4">Bổ sung lượng carbohydrates một
            cách đầy đủ cho cơ thể người bị viêm gan B từ các loại gạo, ngũ
            cốc để cung cấp lượng đường cần thiết cho gan.</font></font></p></li>
        </ul>

    </font><font color="#000000" size="4">
    <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-align: justify; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
        Bệnh nhân viêm gan B ngoài việc tuân thủ chế độ ăn uống hợp lý như
        trên thì cần kết hợp thuốc
        điều trị viêm gan B <span class="Apple-converted-space">&nbsp;</span>tăng
        cường nghỉ ngơi, thư giãn tinh thần, luyện tập thể dục thể thao như:
        đi bộ, dưỡng sinh, yoga… việc điều trị bệnh sẽ nhanh chóng và hiệu
        quả hơn.

</font>
    </p></font></span></font></h3>