﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">

    <p style="margin-top: 0; margin-bottom: 0" align="center">
					<span style="font-family: Times New Roman; font-size:16pt">
					<font color="#0000FF"></font></span></p><font color="#0000FF">
    <h1 style="text-align: center">&nbsp;<font size="5">&nbsp;Chế độ ăn cho bệnh viêm gan C</font></h1>
    <p style="text-align: center">&nbsp;</p>
    <font color="#000080" size="3">
    </font>
        </font></font>
</font></font><font color="#000000" size="3">
    <font color="#000000" size="3">
        <p style="color: rgb(68, 68, 68); font-family: Arial, Helvetica, Tahoma, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">&nbsp;</p>
        <p style="color: rgb(68, 68, 68); font-family: Arial, Helvetica, Tahoma, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
            <a href="Chế%20độ%20ăn%20viêm%20gan%20C">
                <img border="0" src="http://www.thaythuoccuaban.com/images/viem-gan-c.jpg" width="400" height="266" lowsrc="Chế%20độ%20ăn%20viêm%20gan%20C" longdesc="Chế độ ăn viêm gan C" alt="Chế độ ăn viêm gan C" align="left"></a><font size="4" face="Times New Roman">Viêm
            gan C là một loại virus gây viêm gan.&nbsp;Virus viêm gan C có thể tồn tại ngắn
            hạn được gọi là cấp tính, hoặc xuất hiện trong cơ thể một thời gian dài gọi
            là viêm gan C mãn tính. Việc duy trì một chế độ ăn uống lành mạnh là quan
            trọng và được coi như một biện pháp phòng ngừa và bảo vệ gan, chống lại mọi
            sự tổn thương.</font></p>
    </font></font><font color="#000000" size="4">
    <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
        <b>Tầm quan trọng của dinh dưỡng và chế độ ăn uống</b></p>
</font><font color="#000000" size="3">
    <font color="#000000" size="4">
        <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
            Tất cả các thực phẩm và đồ uống đi qua gan của bạn.&nbsp;Gan như một chiếc máy
            lọc, giúp lọc và chuyển hóa các chất để cơ thể có thể có thể hấp thu được.
            Một chế độ ăn uống xấu có thể dẫn tới mỡ trong gan do sự mất cân bằng các
            chất dinh dưỡng. Theo thời gian, những người có gan nhiễm mỡ và viêm gan C
            sẽ có nhiều khả năng phát triển bệnh xơ gan.&nbsp;Tuy nhiên một chế độ ăn uống
            tốt có thể cải thiện chức năng gan và giảm nguy cơ xơ gan.</p>
        <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
            <b>Lựa chọn thực phẩm cho bệnh nhân viêm gan C</b></p>
        <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
            Ăn một bữa ăn cân bằng được khuyến khích cho những người có bệnh viêm gan C.
            Ông Jocelyn Rodriguez, chuyên gia dinh dưỡng chuyên về bệnh viêm gan C, đưa
            ra lời khuyên cho bệnh nhân viêm gan C nên nhận được một nửa lượng calo hàng
            ngày của bạn từ carbohydrate, chẳng hạn như ngũ cốc nguyên hạt, trái cây và
            rau quả, và có protein ở mỗi bữa ăn, được tìm thấy trong thịt, cá, đậu, hạt,
            trứng và các sản phẩm từ sữa.&nbsp;Đối với các thức ăn béo và đường nên được giữ
            ở mức tối thiểu.&nbsp;Ngoài ra những người bị viêm gan C thường có hàm lượng sắt
            trong cơ thể cao hơn bình thường vì thế không nên ăn nhiều các loại thịt đỏ.
            Cac chuyên gia cũng đưa ra lời khuyên cho bệnh nhân viêm gan C nên uống
            nhiều nước, mỗi ngày nên uống từ 6 đến 8 ly nước.</p>
        <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
            <b>Bổ sung một số vitamin và khoáng chất</b></p>
        <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
            Việc bổ sung vitamin và khoáng chất qua thực phẩm là tốt nhất, tuy nhiên
            không phải lúc nào bạn cũng có cảm giác ngon miệng để có một bữa ăn đầy đủ
            chất dinh dưỡng. Có thể bổ sung một số vitamin tổng hợp như A, D, E, K tuy
            nhiên cần tham khảo ý kiến của thầy thuốc.</p>
        <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
            <b>Tập thể dục và chế độ ăn uống</b></p>
        <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
            Duy trì một trọng lượng khỏe mạnh là rất khuyến khích cho những người bị
            viêm gan C. Tập thể dục không chỉ giúp giảm cân mà còn tăng cường sức khỏe
            cho hệ miễn dịch. Nếu bạn rất ít vận động thì nên tập từ từ, từ các động tác
            nhẹ nhàng cho tới những bài tập tiêu hao nhiều năng lượng hơn.</p>

    </font>

</font></h3>