﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
<font color="#000000" size="5">
    <p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b><span style="line-height: 150%; color: #333333">Chế độ ăn uống
			cho bệnh xơ gan</span></b></p>

</font>

    <p style="text-align: justify; text-indent: .5in; line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: #FAFAFA">
        <strong>
			<span style="font-size: 14.0pt; line-height: 150%; color: #333333; font-weight: normal">
			<img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-xo-gan.jpg" width="320" height="231" lowsrc="Chế%20độ%20ăn%20uống%20cho%20bệnh%20xơ%20gan" longdesc="Chế độ ăn uống cho bệnh xơ gan" alt="Chế độ ăn uống cho bệnh xơ gan" align="left"></span><span style="line-height: 150%; color: #333333; font-weight: normal">Theo
			YHCT xơ gan thuộc chứng bệnh cổ trướng, chứng tích. </span></strong>
			<span style="line-height:150%;color:#333333">Nếu
			gan bị hư hại, các tế bào gan sẽ dần dần được thay thế bằng chất xơ.
			Chất xơ được tạo ra ngày càng nhiều sẽ làm thay đổi hoàn toàn cấu
			trúc của gan và người ta gọi đó là xơ gan. </span>
			<span style="line-height: 150%; color: #444444">
			Xơ gan là giai đoạn cuối của các quá trình bệnh lý mạn tính ở gan,
			với nhiều biến chứng trầm trọng, xơ gan có thể đe dọa trực tiếp tới
			mạng sống của người bệnh.</span><span style="line-height:150%;color:#333333">
			<strong><span style="font-weight: normal">Chế độ ăn uống, sinh hoạt
			có vai trò đặc biệt quan trọng trong điều trị xơ gan. Đảm bảo một
			chế độ ăn uống, sinh hoạt hợp lý có thể cải thiện tình trạng xơ gan
			đáng kể.</span></strong></span></p>
    <p style="text-align: justify; text-indent: .5in; line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: #FAFAFA">
        <strong>
			<span style="line-height: 150%; color: #333333; font-weight: normal">
			Phòng khám Đông y Nguyễn Hữu Toàn xin đưa ra một số hướng dẫn về chế
			độ ăn uống, kiêng kị, sinh hoạt cho bệnh nhân xơ gan.</span></strong></p>
    <p style="text-align: justify; text-indent: .5in; line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: #FAFAFA">
        <strong>
            <span style="line-height:150%;color:#333333">Những điều bệnh nhân xơ gan nên làm:</span></strong></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: #FAFAFA">
        <strong>
			<span style="line-height: 150%; font-family: Symbol; color: #333333; font-weight: normal">
			-<span style="font-style:normal; font-variant:normal; font-weight:normal; font-family:Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
			</span>
			<span style="line-height: 150%; color: #333333; font-weight: normal">
			Bệnh nhân xơ gan nên </span></strong>
			<span style="line-height: 150%; color: black; background: white">
			ăn nhiều bữa trong ngày, mỗi bữa ăn một ít giúp cho gan sử dụng tốt
			hơn nitrogen và làm giảm sự ôxy hóa các chất béo, ngăn ngừa sự thiếu
			hụt glycogen dự trữ. Đáng chú ý, trong trường hợp xơ gan có cổ
			trướng thì khẩu phần ăn của bệnh nhân cần giảm lượng muối và nên
			dùng các chất có tác dụng lợi tiểu.</span></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: #FAFAFA">
        <strong>
			<span style="line-height: 150%; font-family: Symbol; color: #333333; font-weight: normal">
			-<span style="font-style:normal; font-variant:normal; font-weight:normal; font-family:Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
			</span>
			<span style="line-height: 150%; color: #333333; font-weight: normal">
			Nên ăn nhiều rau xanh, hoa quả tươi, nhằm bổ sung lượng vitamin và
			khoáng chất có lợi cho cơ thể.</span></strong></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: #FAFAFA">
        <strong>
			<span style="line-height: 150%; font-family: Symbol; color: #333333; font-weight: normal">
			-<span style="font-style:normal; font-variant:normal; font-weight:normal; font-family:Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
			</span>
			<span style="line-height: 150%; color: #333333; font-weight: normal">
			Nên chế biến các món ăn dưới dạng hấp, luộc, giữ được tối đa lượng
			vitamin, dễ tiêu hóa.</span></strong></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: #FAFAFA">
        <strong>
			<span style="line-height: 150%; font-family: Symbol; color: #333333; font-weight: normal">
			-<span style="font-style:normal; font-variant:normal; font-weight:normal; font-family:Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span style="line-height: 150%; color: #333333; font-weight: normal">Mỗi ngày nên uống từ khoảng 1,5 lít nước. Trường hợp xơ gan cổ
			trướng, có hiện tượng báng bụng, phù thì chỉ nên uống dưới 1 lít
			nước mỗi ngày.</span></strong></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: #FAFAFA">
        <strong>
			<span style="line-height: 150%; font-family: Symbol; color: #333333; font-weight: normal">
			-<span style="font-style:normal; font-variant:normal; font-weight:normal; font-family:Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
			</span>
			<span style="line-height: 150%; color: #333333; font-weight: normal">
			Nên bổ sung đạm có nguồn gốc thực vật cho cơ thể</span></strong></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: #FAFAFA">
        <strong>
			<span style="line-height: 150%; font-family: Symbol; color: #333333; font-weight: normal">
			-<span style="font-style:normal; font-variant:normal; font-weight:normal; font-family:Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
			</span>
			<span style="line-height: 150%; color: #333333; font-weight: normal">
			Đi ngủ trước 23 giờ, giữ tinh thần thoải mái, đi bộ nhẹ nhàng nếu có
			thể.</span></strong></p>
    <p style="text-align: justify; line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: #FAFAFA">
        <strong>
			<span style="line-height:150%;
color:#333333">Những điều bệnh nhân xơ gan nên tránh:</span></strong></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: #FAFAFA">
        <strong>
			<span style="line-height: 150%; font-family: Symbol; color: #333333; font-weight: normal">
			-<span style="font-style:normal; font-variant:normal; font-weight:normal; font-family:Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
			</span>
			<span style="line-height: 150%; color: #333333; font-weight: normal">
			Uống rượu, bia, hút thuốc lá</span></strong></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: #FAFAFA">
        <strong>
			<span style="line-height: 150%; font-family: Symbol; color: #333333; font-weight: normal">
			-<span style="font-style:normal; font-variant:normal; font-weight:normal; font-family:Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
			</span>
			<span style="line-height: 150%; color: #333333; font-weight: normal">
			Ăn đồ ăn chứa nhiều dầu mỡ</span></strong></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: #FAFAFA">
        <strong>
			<span style="line-height: 150%; font-family: Symbol; color: #333333; font-weight: normal">
			-<span style="font-style:normal; font-variant:normal; font-weight:normal; font-family:Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
			</span>
			<span style="line-height: 150%; color: #333333; font-weight: normal">
			Ăn đồ ăn chứa nhiều đường, nhiều muối</span></strong></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: #FAFAFA">
        <strong>
			<span style="line-height: 150%; font-family: Symbol; color: #333333; font-weight: normal">
			-<span style="font-style:normal; font-variant:normal; font-weight:normal; font-family:Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
			</span>
			<span style="line-height: 150%; color: #333333; font-weight: normal">
			Ăn đồ ăn chế biến sẵn</span></strong></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: #FAFAFA">
        <strong>
			<span style="line-height: 150%; font-family: Symbol; color: #333333; font-weight: normal">
			-<span style="font-style:normal; font-variant:normal; font-weight:normal; font-family:Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
			</span>
			<span style="line-height: 150%; color: #333333; font-weight: normal">
			Ăn mỡ động vật, nội tạng động vật</span></strong></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: #FAFAFA">
        <strong>
			<span style="line-height: 150%; font-family: Symbol; color: #333333; font-weight: normal">
			-<span style="font-style:normal; font-variant:normal; font-weight:normal; font-family:Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
			</span>
			<span style="line-height: 150%; color: #333333; font-weight: normal">
			Làm việc nặng nhọc.</span></strong></p>
    <p style="text-align: left; line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: #FAFAFA">
        <b><span style="line-height:150%;
color:#333333">Tham khảo một số món ăn tốt cho bệnh nhân xơ gan</span></b></p>
    <p style="line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white; text-align:left">
        <strong>
			<span style="line-height:150%;color:#555555">1. Cá
			trạch nấu đậu phụ</span></strong></p>
    <p style="line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white; text-align:left">
			<span style="line-height:150%;color:#555555">
			<em>+</em></span><span style="color: black"> Nguyên liệu<span style="background:white url(''); line-height:150%;color:black">:
			Cá trạch 400g, đậu phụ 200g, cùng các gia vị</span></span></p>
    <p style="line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white; text-align:left">
			<span style="background:white url(''); line-height:150%;color:black">+&nbsp;Cách
			chế biến: Cá trạch bỏ mang và ruột, rửa sạch, cho vào nồi cùng
			200g đậu phụ, cho lượng nước vừa đủ, nấu chín, nêm nếm gia vị vừa
			dùng. Món này có tác dụng bổ trung ích khí, tốt cho việc thanh trừ
			thấp nhiệt, thích hợp với người xơ gan có các triệu chứng: vàng da,
			vàng mắt, trướng bụng.</span></p>
    <p style="line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white; text-align:left">
			<span style="background:white url(''); line-height:150%;color:black">2. Cá
			chép nấu vỏ hồ lô</span></p>
    <p style="line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white; text-align:left">
			<span style="background:white url(''); line-height:150%;color:black">+&nbsp;Nguyên
			liệu: Một con cá chép, 1 vỏ hồ lô (quả bầu eo) lâu năm, đậu đỏ
			hạt nhỏ 50g.</span></p>
    <p style="line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white; text-align:left">
			<span style="background:white url(''); line-height:150%;color:black">+&nbsp;Cách
			chế biến: Cá chép bỏ mang đánh vảy, bỏ ruột, cho vào nồi hầm
			cùng với vỏ hồ lô và đậu đỏ, nêm nếm gia vị vừa dùng. Ăn ngày 1 lần,
			có tác dụng hỗ trợ điều trị xơ gan ở người có các triệu chứng: bụng
			to, sắc mặt sạm đen, tay chân lạnh, hoặc phù chi dưới, đi tiêu lỏng.</span></p>
    <p style="line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white; text-align:left">
			<span style="background:white url(''); line-height:150%;color:black">3.
			Trứng gà nấu kỷ tử</span></p>
    <p style="line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white; text-align:left">
			<span style="background:white url(''); line-height:150%;color:black">+&nbsp;Nguyên
			liệu: Kỷ tử 30g, mạch đông 10g, cùng 4 cái trứng gà, và 50g
			thịt chân giò heo, tinh bột, đường và các gia vị.</span></p>
    <p style="line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white; text-align:left">
			<span style="background:white url(''); line-height:150%;color:black">+&nbsp;Cách
			chế biến: Mạch đông rửa sạch cho vào nước đun sôi rồi vớt ra.
			Trứng gà đánh đều hấp cách thủy, để nguội cắt thành miếng. Thịt chân
			giò rửa sạch thái nhỏ cho vào trộn đều với tinh bột, đường rồi cho
			vào chảo dầu nóng, đảo cho chín, bỏ kỷ tử, trứng đã thái, mạch đông
			vào xào cùng, nêm gia vị vừa dùng.</span></p>
    <p style="line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white; text-align:left">
			<span>Trên
			đây là một số lời khuyên về chế độ ăn uống cho bệnh nhân xơ gan. Hy
			vọng với những kiến thức trên, bệnh nhân xơ gan có thể cải thiện
			đáng kể tình trạng bệnh.</span></p>
</font></h3>