﻿<div id="noidung">


    <h1>Chế độ ăn uống sinh hoạt cho bệnh viêm âm đạo</h1>



    </font>
    <font color="#000000" size="4">
        <p style="text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white" align="justify">
		<span class="vbnoidung">
		<img border="0" src="http://www.thaythuoccuaban.com/images/sua-chua-tot-cho-benh-viem-am-dao(1).jpg" width="188" height="238" align="left">Nhiễm nấm men&nbsp;<a style="color: blue; text-decoration: underline; text-underline: single" href="http://megafun.vn/channel/2323/201010/Ton-thuong-vung-kin-do-chong-qua-hang-102861/"><span style="color: windowtext; text-decoration: none">vùng</span></a>
		kín&nbsp;khiến bệnh nhân vô cùng khó chịu, mất tự tin và luôn muốn
		tìm mọi cách để nhanh chóng khỏi bệnh. Kinh nghiệm điều trị bệnh
		phụ khoa hàng chục năm, phòng khám Đông y Nguyễn Hữu Toàn chúng tôi thấy
		rằng ngoài việc dùng các loại thuốc điều trị, chế độ ăn uống
		sinh hoạt cũng góp phần không nhỏ trong việc hạn chế bệnh.</span></p>
    </font>
    <font color="#000000" size="3">
        <font color="#000000" size="4">
            <p class="MsoNormal" style="text-indent: 14.0pt; background: white" align="justify"><b>
                * Chế độ ăn</b></p>
            <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
                <strong><span style="border: 1.0pt none windowtext; padding: 0cm">Tránh
		ăn đồ cay:</span></strong></p>
            <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="border: 1.0pt none windowtext; padding: 0cm">Thực phẩm cho
		thêm các gia vị cay như hạt ớt, hạt tiêu, gừng, hành, tỏi… tuy ngon
		miệng nhưng lại nóng, làm tăng chất độc tích tụ trong cơ quan nội tạng,
		gây sưng nướu, đau lưỡi, nước tiểu đậm màu, hậu môn nóng rát, và làm cho
		bệnh viêm âm đạo của bạn càng trở nên trầm trọng hơn.</span></p>
            <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">&nbsp;
            </p>
            <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
                <strong><span style="border: 1.0pt none windowtext; padding: 0cm">Không
		ăn nhiều hải sản:</span></strong></p>
            <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="border: 1.0pt none windowtext; padding: 0cm">Các loại hải
		sản như cá biển, bạch tuộc, tôm, cua… có thể góp phần làm nóng, làm ẩm
		và gây ngứa bộ phận sinh dục. Vì vậy, muốn bệnh tình thuyên giảm thì
		không nên ăn chúng.</span></p>
            <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
                <strong><span style="border: 1.0pt none windowtext; padding: 0cm">&nbsp;</span></strong></p>
            <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
                <strong><span style="border: 1.0pt none windowtext; padding: 0cm">Tránh
		thức ăn ngọt, béo:</span></strong></p>
            <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="border: 1.0pt none windowtext; padding: 0cm">Các loại thực
		phẩm béo ngậy như mỡ, kem, thịt lợn, bơ… và thực phẩm chứa hàm lượng
		đường cao như kẹo, chocolate, bánh kem… cũng gây nóng, ẩm cơ quan sinh
		dục bởi chúng làm tăng lượng bài tiết âm đạo và ảnh hưởng lớn đến việc
		điều trị.</span></p>
            <p style="text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span class="vbnoidung">Mặt khác, đường được coi là thức ăn tốt nhất cho
		nấm men phát triển. Do vậy, để hạn chế sự phát tác của nấm
		men, bạn cần hạn chế ăn bất kì loại thực phẩm có đường nào.
		</span></p>
            <p style="text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">&nbsp;
            </p>
            <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
                <strong><span style="border: 1.0pt none windowtext; padding: 0cm">Tránh
		uống rượu, hút thuốc lá:</span></strong></p>
            <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="border: 1.0pt none windowtext; padding: 0cm">Hút thuốc làm<span class="apple-converted-space">&nbsp;</span><strong><span style="font-weight: normal">bệnh
		viêm âm đạo</span></strong><span class="apple-converted-space">&nbsp;</span>nặng
		thêm, ngoài ra nicotine trong thuốc lá có thể làm cho máu và oxy liên
		kết yếu đi. Rượu cũng làm nóng và ẩm vùng kín của phụ nữ, nên cần tránh
		các thực phẩm như rượu gạo lên men, rượu...</span></p>
            <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
                <span style="border: 1.0pt none windowtext; padding: 0cm">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
                <b><span style="border: 1.0pt none windowtext; padding: 0cm">Sữa chua</span></b></p>
            <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
                <strong>
		<span style="font-weight: normal; border: 1.0pt none windowtext; padding: 0cm">
		Từ trước đến nay, phụ nữ ăn sữa chua với mong muốn có làn da đẹp, trẻ
		lâu và chống lại lão hóa, táo bón…, nhưng qua các thử nghiệm lâm sàng
		phát hiện ra rằng sữa chua có thể ngăn ngừa&nbsp;<a title="Viêm âm đạo" style="color: blue; text-decoration: underline; text-underline: single" href="http://phongkhamphukhoa.net/Viem-Am-Dao/"><span style="color: windowtext; text-decoration: none">Viêm
		âm đạo</span></a>.</span></strong></p>
            <p style="text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white" align="justify">
		<span class="vbnoidung">Ăn sữa chua có chứa chủng acidophilus sống. Sữa
		chua tác động như môi trường tốt cho vi khuẩn có lợi phát triển. Mặc dù
		vậy vẫn chưa có kết luận chính thức từ nghiên cứu khoa học về lợi ích
		của việc ăn sữa chua có bổ sung lactobacillis acidphilus trong phòng
		nhiễm nấm.</span></p>
            <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
                <strong>
		<span style="font-weight: normal; border: 1.0pt none windowtext; padding: 0cm">
		Tuy nhiên, các nhà dinh dưỡng cũng khuyên phụ nữ muốn ngăn ngừa bệnh
		viêm âm đạo thì không nên ăn sữa chua hoa quả, vì nó chứa nhiều đường.</span></strong></p>
            <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
                <strong>
		<span style="font-weight: normal; border: 1.0pt none windowtext; padding: 0cm">
		&nbsp;</span></strong></p>
            <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
                <strong><span style="border: 1.0pt none windowtext; padding: 0cm">Tỏi</span></strong></p>
            <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
                <strong>
		<span style="font-weight: normal; border: 1.0pt none windowtext; padding: 0cm">
		Các nhà dinh dưỡng phát hiện tỏi với thành phần axit béo phong phú sẽ
		cung cấp cho cơ thể một lượng cần thiết và ngoài ra tỏi có thể chống nấm,
		viêm nhiễm nơi vùng kín.</span></strong></p>
            <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
                <strong>
		<span style="font-weight: normal; border: 1.0pt none windowtext; padding: 0cm">
		Theo Đông y, tỏi vị cay, tính ấm, có tác dụng giải phong, sát trùng,
		giải độc, tiêu nhọt, hạch. Tỏi là một gia vị thông dụng của mọi gia đình,
		ngoài công dụng chống ung thư, tốt cho tim mạch, tỏi còn có tác dụng
		chống oxy hoá, chống đột biến tế bào, giảm mỡ trong máu.</span></strong></p>
            <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
                <strong>
		<span style="font-weight: normal; border: 1.0pt none windowtext; padding: 0cm">
		Đặc biệt, với phụ nữ, nếu như có bệnh về phụ khoa và đang trong quá
		trình điều trị, mỗi ngày ăn thêm vài tép tỏi cũng rất có ích.</span></strong></p>
            <p style="text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white" align="justify">
                <span class="vbnoidung">&nbsp;</span></p>
            <p style="text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white" align="justify">
                <span class="vbnoidung"><b>Đồ ăn tươi</b></span></p>
            <p style="text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white" align="justify">
		<span class="vbnoidung">Kể cả khi không bị bệnh, chế độ ăn với
		thực phẩm tươi sống, trái cây tươi và rau tươi được coi là rất tốt
		cho sức khỏe nói chung và cho sức khỏe của “cô bé” nói riêng.
		Tuy nhiên, khi lựa chọn các loại hoa quả tươi, bạn cũng cần chú
		ý vì có nhiều loại trái cây chứa đường tự nhiên trong đó.</span></p>
            <p style="text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white" align="justify">
                <b><span style="background: white">&nbsp;</span></b></p>
            <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
                <b><span style="background: white">Uống nước<span class="apple-converted-space">&nbsp;</span></span></b></p>
            <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="background: white">Viêm phần phụ dễ dàng làm cơ thể nóng,
		do vậy cần chú ý uống nhiều nước để giảm nhiệt độ cơ thể<span class="apple-converted-space">&nbsp;</span><br>
		</span></p>
            <p style="text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white" align="justify">
		<span class="vbnoidung"><b>Thực phẩm không nên ăn</b>: Nấm, Bánh mì,
		Nước trái cây, Bánh ngọt, bánh nướng, bánh bao, Bánh quy, Pizza,
		Đường tinh chế, Ngũ cốc để lạnh, Nước ngô, Bột trắng, Nước giải khát,
		bơ đậu phộng hoặc đậu phộng, </span><span style="background: white">
		tránh ăn đồ sống, lạnh và thực phẩm kích thích<span class="apple-converted-space">&nbsp;</span></span><span class="vbnoidung"></span></p>
            <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
                <span class="vbnoidung">&nbsp;</span></p>
            <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span class="vbnoidung"><b>Thực phẩm có thể ăn được</b>: Các loại ngũ
		cốc, Các loại dầu chưa qua xử lý, Một số loại hạt (ngoại trừ lạc
		hoặc các thứ đã đề cập như trên), Hạt lanh, Hạt cải và dầu ô liu,
		Sữa chua, </span><span style="background: white">đậu phụ, đậu đỏ, trứng
		gà, thức ăn nhạt ...</span></p>
            <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">&nbsp;
            </p>
            <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
                <b>* Sinh hoạt</b></p>
            <p style="text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white" align="justify">
                - Giữ cho vùng kín càng khô ráo càng tốt. Tránh mặc quần áo chật, quần
                ẩm ướt, không nên mặc đồ lót bó sát ngăn da tiếp xúc với không khí gây
                rối loạn tuần hoàn máu, thay quần lót thường xuyên.</p>
            <p style="text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white" align="justify">
                - Vệ sinh sạch sẽ thường xuyên trong thời kỳ kinh nguyệt, thai nghén,
                hậu sản, trước và sau khi quan hệ tình <span class="vbnoidung"></span>
            </p>
            <p style="text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white" align="justify">
                dục.</p>
            <p style="text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white" align="justify">
                <span class="vbnoidung">-&nbsp;Làm vệ sinh vùng sinh dục từ trước ra sau.</span></p>
            <p style="text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white" align="justify">
                <span class="vbnoidung">- Không nên tắm bằng bồn tắm. </span></p>
            <p style="text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white" align="justify">
                - Không dùng nước bẩn có nhiều vi sinh vật như nước ao hồ, kênh rạch để
                tắm rửa vệ sinh.</p>
            <p style="text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white" align="justify">
		<span class="vbnoidung">- Vì cân bằng hóa học của âm đạo rất nhạy cảm,
		nên cách tốt nhất là để âm đạo tự làm sạch thông qua tiết chất nhầy.
		Nước ấm, xà bông loại nhẹ không hương trong khi tắm là cách tốt nhất để
		làm sạch bộ phận sinh dục ngoài. Các loại xà bông, bột, xịt có mùi thơm
		có thể không cần thiết và có thể có hại.</span></p>
            <p style="text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white" align="justify">
                - Không nên dùng xà bông hay các chất tẩy rửa mạnh để vệ sinh vùng kín.
                Khi sử dụng dung dịch vệ sinh phụ nữ cần chọn lựa sản phẩm phù hợp,
                không nên sử dụng thường xuyên những dung dịch sát khuẩn mạnh, tránh làm
                xáo trộn môi trường tự nhiên của âm đạo.</p>
            <p style="text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white" align="justify">
                - Không thụt rửa âm đạo khi không có chỉ dẫn của thầy thuốc, vì việc
                thụt rửa dễ ảnh hưởng tới độ pH, cân bằng sinh lý âm đạo.</p>
            <p style="text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white" align="justify">
                - Nên đi khám phụ khoa định kỳ hàng năm. Khi đã mắc bệnh phải đi khám
                phụ khoa ngay để xác định nguyên nhân gây bệnh và có biện pháp điều trị
                kịp thời.&nbsp;</p>
            <p style="text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white" align="justify">
		<span class="vbnoidung">- Một số cách phụ nữ hay dùng nhưng chưa được
		chứng minh là có hiệu quả:</span></p>
            <p style="text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white" align="justify">
		<span class="vbnoidung">+ Thụt rửa bằng giấm: trong khi nhiều phụ nữ tự
		thụt rửa sau kỳ kinh hoặc sau khi quan hệ tình dục nhưng thực sự không
		nên làm như vậy vì âm đạo có khả năng tự làm sạch. Thụt rửa có thể loại
		đi vi khuẩn có lợi ở thành âm đạo nên thực tế tình trạng của bạn có thể
		nặng hơn.</span></p>
            <p style="text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white" align="justify">
		<span class="vbnoidung">+ Các loại thuốc bán tự do khác có chứa kháng
		sinh histamine hoặc do thuốc tê tại chỗ chỉ làm mờ triệu chứng mà không
		điều trị được bệnh.</span></p>
            <p style="text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white" align="justify">
		<span class="vbnoidung">- Phòng ngừa cơ bản nhất là sử dụng bao cao su
		hạn chế sô lượng bạn tình, tránh thụt rửa và sử dụng các thuốc theo đơn
		để điều tri viêm âm đạo thậm chí ngay cả khi hết triệu chứng.</span></p>

        </font>

    </p>

</font>
</p></div>