﻿<div id="noidung">

        <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chế độ ăn uống, kiêng kị
            cho bệnh Parkinson</h1>

</font>
    <font color="#000000" size="3">
        <p style="color: rgb(68, 68, 68); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 19.600000381469727px; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 10px; background-color: rgb(255, 255, 255)" align="justify">
            <img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/ngu-coc-va-hoa-qua.jpg" width="281" height="179" title="Ngũ cốc và hoa quả tốt cho bệnh Parkinson" lowsrc="Ngũ%20cốc%20và%20hoa%20quả%20tốt%20cho%20bệnh%20Parkinson" longdesc="Ngũ cốc và hoa quả tốt cho bệnh Parkinson" alt="Ngũ cốc và hoa quả tốt cho bệnh Parkinson" align="left">Đối
            với bệnh nhân<span class="Apple-converted-space">&nbsp;</span><a title="Châm cứu chữa bệnh parkinson hiệu quả" target="_blank" style="color: rgb(29, 107, 157); text-decoration: initial" href="http://chuabenhthankinh.com/index.php/benhthankinh/cham-cuu-chua-benh-parkinson-hieu-qua/">parkinson</a><span class="Apple-converted-space">&nbsp;</span>thì
            không có một chế độ ăn uống kiêng khem nào cả. Các chuyên gia dinh dưỡng
            khuyên bệnh nhân parkinson nên có một chế độ ăn uống cân bằng dinh dưỡng
            sẽ có lợi. Chế độ ăn uống cân bằng dinh dưỡng tốt cho bệnh nhân<span class="Apple-converted-space">&nbsp;</span><a title="Đông y chữa bệnh parkinson" target="_blank" style="color: rgb(29, 107, 157); text-decoration: initial" href="http://chuabenhthankinh.com/index.php/benhthankinh/dong-y-chua-benh-parkinson/">parkinson</a><span class="Apple-converted-space">&nbsp;</span>được
            các chuyên gia dinh dưỡng khuyên dùng là:<span id="more-4496"></span></p>
        <p style="color: rgb(68, 68, 68); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 19.600000381469727px; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 10px; background-color: rgb(255, 255, 255)" align="justify">
            -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ăn đa dạng các loại thực phẩm. Không nên ăn một loại thực phẩm
            để bổ sung các loại vitamin, khoáng chất đầy đủ cho cơ thể. Nếu có ý
            định bổ sung vitamin tổng hợp cho cơ thể nên hỏi ý kiến của bác sĩ trước
            khi dùng. Bởi nếu thừa vitamin còn nguy hiểm hơn thiếu vitamin.</p>
        <p style="color: rgb(68, 68, 68); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 19.600000381469727px; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 10px; background-color: rgb(255, 255, 255)" align="justify">
            -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nên ăn nhiều thực phẩm có chất xơ như rau, các loại đậu, các
            loại ngũ cốc nguyên hạt và trái cây tươi.</p>
        <p style="color: rgb(68, 68, 68); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 19.600000381469727px; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 10px; background-color: rgb(255, 255, 255)" align="justify">
            -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nên uống nhiều nước mỗi ngày.</p>
        <p style="color: rgb(68, 68, 68); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 19.600000381469727px; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 10px; background-color: rgb(255, 255, 255)" align="justify">
            -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tránh các thực phẩm có nhiều chất béo bão hòa, cholesterol</p>
        <p style="color: rgb(68, 68, 68); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 19.600000381469727px; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 10px; background-color: rgb(255, 255, 255)" align="justify">
            -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tránh các thực phẩm có nhiều đường.</p>
        <p style="color: rgb(68, 68, 68); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 19.600000381469727px; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 10px; background-color: rgb(255, 255, 255)" align="justify">
            -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Không nên ăn mặn, tránh các thực phẩm có nhiều muối.</p>
        <p style="color: rgb(68, 68, 68); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 19.600000381469727px; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 10px; background-color: rgb(255, 255, 255)" align="justify">
            -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Không nên uống các đồ uống có nhiều cồn như rượu, bia.</p>
        <p style="color: rgb(68, 68, 68); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 19.600000381469727px; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 10px; background-color: rgb(255, 255, 255)" align="justify">
            Ngoài chế độ ăn uống hợp lý bệnh nhân<span class="Apple-converted-space">&nbsp;</span><a title="Đông y chữa bệnh parkinson" target="_blank" style="color: rgb(29, 107, 157); text-decoration: initial" href="http://chuabenhthankinh.com/index.php/benhthankinh/dong-y-chua-benh-parkinson/">parkinson</a><span class="Apple-converted-space">&nbsp;</span>nên
            tập thể dục đều đặn, ăn uống hợp lý giúp duy trì trọng lượng cơ thể ở
            mức cho phép có tác dụng rất tốt với bệnh nhân parkinson.</p>
</font>
</p></div>