﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">

    <p style="margin-top: 0; margin-bottom: 0" align="center">
        <b>
            <font size="5" color="#000080">Chế độ ăn uống, kiêng kị cho người
                cho con bú</font></b></p>

    <p style="margin-left: 0cm; text-align:justify; margin-top:0cm; margin-bottom:.0001pt; text-indent:16.35pt; margin-right:0cm">
        <font face="Times New Roman" color="#000000" size="3">
		<span style="font-weight: 400">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/che-do-an-me-va-be.jpg" title="Chế độ ăn mẹ cho con bú" width="304" height="166" lowsrc="Chế%20độ%20ăn%20mẹ%20cho%20con%20bú" longdesc="Chế độ ăn mẹ cho con bú" alt="Chế độ ăn mẹ cho con bú" align="left">Phụ nữ trong thời kỳ cho con bú, chế độ ăn uống cần lưu ý.</span></font></p>
    <p style="margin-left: 0cm; text-align:justify; margin-top:0cm; margin-bottom:.0001pt; text-indent:16.35pt; margin-right:0cm"><span id="bodydtext"></span>
        <font face="Times New Roman" color="#000000" size="3">
		<span style="font-weight: 400">1. Cố gắng ăn
		những thực phẩm có nhiều chất dinh dưỡng. Bạn nên kiềm chế cơn thèm với
		những thứ trước đây bạn thích nhưng có
		chứa ít hàm lượng calo.</span></font></p>
    <p style="margin-left: 0cm; text-align:justify; margin-top:0cm; margin-bottom:.0001pt; text-indent:16.35pt; margin-right:0cm">
        <font face="Times New Roman" color="#000000" size="3">
		<span style="font-weight: 400">2. Cân bằng chế
		độ dinh dưỡng hàng ngày với lượng protein, chất béo, cacbonhydrate vừa
		đủ. Đây không phải là lúc mà bạn thực hiện chiến dịch giảm cân vì thấy
		mình quá “khổ” sau khi sinh. </span></font> </p>
    <p style="margin-left: 0cm; text-align:justify; margin-top:0cm; margin-bottom:.0001pt; text-indent:16.35pt; margin-right:0cm">
        <font face="Times New Roman" color="#000000" size="3">
		<span style="font-weight: 400">3. Mỗi ngày
		cung cấp thêm hàm lượng calo, không quá 500g.</span></font></p>
    <p style="margin-left: 0cm; text-align:justify; margin-top:0cm; margin-bottom:.0001pt; text-indent:16.35pt; margin-right:0cm">
        <font face="Times New Roman" color="#000000" size="3">
		<span style="font-weight: 400">4. Uống nhiều
		nước vì khi cho con bú cơ thể sẽ bị thiếu nước. Trước mỗi lần cho con bú,
		nên uống một cốc nước, tuyệt đối tránh dùng cà phê hay các thức uống
		khác như bia, rượu, trà…Nên uống 8 cốc nước mỗi ngày.</span></font></p>
    <p style="margin-left: 0cm; text-align:justify; margin-top:0cm; margin-bottom:.0001pt; text-indent:16.35pt; margin-right:0cm">
        <font face="Times New Roman" color="#000000" size="3">
		<span style="font-weight: 400">5. Nếu bạn
		nghiện hoặc thèm rượu hoặc uống vì bất kỳ lý do gì thì chỉ uống khi đảm
		bảo không cho con bú sau đó một vài giờ, và không uống quá 1 hoặc 2 cốc/ngày.</span></font></p>
    <p style="margin-left: 0cm; text-align:justify; margin-top:0cm; margin-bottom:.0001pt; text-indent:16.35pt; margin-right:0cm">
        <font face="Times New Roman" color="#000000" size="3">
		<span style="font-weight: 400">6. Trong chế độ
		ăn uống hàng ngày nên chú ý tới lượng canxi và sắt. Để giúp cho cơ thể
		bạn hấp thụ chất sắt tốt hơn, kết hợp thực phẩm giàu chất sắt với thực
		phẩm chứa vitamin C.</span></font></p>
    <p style="margin-left: 0cm; text-align:justify; margin-top:0cm; margin-bottom:.0001pt; text-indent:16.35pt; margin-right:0cm">
        <font face="Times New Roman" color="#000000" size="3">
		<span style="font-weight: 400">7. Vẫn tiếp tục
		duy trì “nạp” lượng vitamin giống như trước khi sinh. Dành chút thời
		gian phơi nắng hàng ngày để làm tăng lượng vitamin D trong cơ thể bạn.</span></font></p>
    <p style="margin-left: 0cm; text-align:justify; margin-top:0cm; margin-bottom:.0001pt; text-indent:16.35pt; margin-right:0cm">
        <font face="Times New Roman" color="#000000" size="3">
            <span style="font-weight: 400">Lưu ý:</span></font></p>
    <p style="margin-left: 0cm; text-align:justify; margin-top:0cm; margin-bottom:.0001pt; text-indent:16.35pt; margin-right:0cm">
        <font face="Times New Roman" color="#000000" size="3">
		<span style="font-weight: 400">- Cho con bú
		chính là phương thức hữu hiệu để giúp bạn giảm cân nên bạn đừng có quá e
		ngại khi ăn nhiều chất dinh dưỡng quá. Đó chỉ là dành cho bé yêu thôi.
		Nhiều bà mẹ thấy trọng lượng cơ thể giảm nhanh rõ rệt mặc dù ăn nhiều
		hơn bình thường.</span></font></p>
    <p style="margin-left: 0cm; text-align:justify; margin-top:0cm; margin-bottom:.0001pt; text-indent:16.35pt; margin-right:0cm">
        <font face="Times New Roman" color="#000000" size="3">
		<span style="font-weight: 400">- Hãy xem xét
		kỹ lưỡng các loại thuốc mà bạn sử dụng vì thuốc đó có thể truyền vào con
		bạn qua đường sữa và theo dõi xem nó có làm giảm lượng sữa trong cơ thể
		không.</span></font></p>
    <p style="margin-left: 0cm; text-align:justify; margin-top:0cm; margin-bottom:.0001pt; text-indent:16.35pt; margin-right:0cm">
        <font face="Times New Roman" color="#000000" size="3">
		<span style="font-weight: 400">- Một chế độ ăn
		chay hợp lý cũng không quá ảnh hưởng gì đến các bà mẹ khi đang cho con
		bú. Nhưng nếu vì lý do gì đó mà bạn đang thực hiện chế độ ăn chay thì
		nên tìm cách cung cấp đủ các dưỡng chất, vitamin cần thiết.</span></font></p>
    <p style="margin-left: 0cm; text-align:justify; margin-top:0cm; margin-bottom:.0001pt; text-indent:16.35pt; margin-right:0cm">
        <font face="Times New Roman" color="#000000" size="3">
		<span style="font-weight: 400">- Nếu như trẻ
		hay khóc hoặc đau bụng thì có lẽ trẻ rất nhạy cảm với chế độ ăn uống của
		bạn đấy (đặc biệt trong gia đình bạn có “tiền sử” bị dị ứng thức ăn).
		Thủ phạm có thể là các thực phẩm chế biến từ sữa, cà phê, thực phẩm có
		chứa chất axít và chất cay nóng. Hãy cẩn thận!</span></font></p>
    <font color="#000000" size="2">
        </font></h3>