﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">

    <p align="center"><b><font size="5" color="#000080">Chế độ ăn uống, kiêng kị cho Phụ
        nữ mãn kinh</font></b></p>

</font><font color="#000000" size="3">
    <div align="center">
        <table border="0" cellspacing="1" cellpadding="0" width="100%" style="width: 100.0%">
            <tbody>
            <tr>
                <td width="100%" style="width:100.0%;padding:0in 0in 0in 0in">
                    <p style="text-align:justify; margin-left:0in; margin-right:0in; margin-top:0in; margin-bottom:.0001pt">
                        <font face="Times New Roman" style="font-size: 13pt">
                            <a href="Chế%20độ%20ăn%20cho%20phụ%20nữ%20mãn%20kinh">
                                <img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-phu-nu-man-kinh.jpg" width="212" height="217"
                                     lowsrc="Chế%20độ%20ăn%20cho%20phụ%20nữ%20mãn%20kinh"
                                     longdesc="Chế độ ăn cho phụ nữ mãn kinh" alt="Chế độ ăn cho phụ nữ mãn kinh"
                                     align="left"></a><span style="font-family: Times New Roman; color: black">Thời
					kỳ mãn kinh đây chỉ là một giai đoạn trong cuộc sống của mỗi người mà
					tất cả chúng ta phải chấp nhận nó. Mãn kinh gây ra những
					thay đổi lớn về hóc-môn, khiến cho nhiều phụ nữ mắc phải
					những triệu chứng như xáo trộn giấc ngủ, đổ mồ hôi, da sưng
					và tâm trạng thay đổi. Thêm vào đó, có những thay đổi “thầm
					lặng” xảy ra trong cơ thể của chúng ta, như là quá trình
					trao đổi chất diễn ra chậm (dễ tăng cân), tăng nguy cơ bị
					bệnh tim (estrogen bảo vệ đã không còn)</span></font></p>
                    <p style="text-align:justify; margin-left:0in; margin-right:0in; margin-top:0in; margin-bottom:.0001pt">
                        &nbsp;</p>
                    <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">
					<span style="font-family: Times New Roman; color: black">
					<span style="font-size: 13pt">Dưới đây là một số hướng dẫn để chăm sóc sức khỏe của bạn
					khi bước vào giai đoạn mãn kinh.</span></span></p>
                    <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">&nbsp;
                    </p>
                    <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">&nbsp;
                    </p>
                    <p class="MsoNormal"
                       style="text-align: center; margin-left: 0cm; margin-right: 0cm; margin-top: 1.6pt; margin-bottom: 5.35pt; background: white">
					<span style="color: black; font-weight: 700"><font size="5">
                        Chế độ ăn cho phụ nữ thời kỳ mãn kinh</font></span></p>
                    <p class="MsoNormal"
                       style="text-align: center; margin-left: 0cm; margin-right: 0cm; margin-top: 1.6pt; margin-bottom: 5.35pt; background: white">
                        &nbsp;</p>
                    <p class="MsoNormal"
                       style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 1.6pt; margin-bottom: 5.35pt; background: white">
					<span style="font-size:13.0pt;color:black">Có một số yếu tố
					nguy cơ và các triệu chứng liên quan đến quá trình lão hóa
					vào thời kỳ mãn kinh là không thể thay đổi. Tuy nhiên nếu
					chúng ta có một chế độ dinh dưỡng tốt có thể giúp ngăn ngừa
					hoặc làm giảm quá trìh lão hóa trong thời kỳ mãn kinh một
					cách đáng kể.</span></p>
                    <p class="MsoNormal"
                       style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 5.35pt; margin-bottom: 10.75pt; background: white">
                        <b><span style="font-size:13.0pt;color:black">Dưới đây là
					một số lời khuyên về dinh dưỡng cho phụ nữ ở độ tuổi mãn
					kinh.</span></b></p>
                    <p class="MsoNormal"
                       style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 5.35pt; margin-bottom: 10.75pt; background: white">
                        <b><span style="font-size:13.0pt;color:black">Ăn đủ canxi.</span></b><span
                            style="font-size:13.0pt;color:black">&nbsp;Ăn
					uống 2-4 phần ăn các sản phẩm sữa và các thực phẩm giàu
					canxi mỗi ngày sẽ giúp đảm bảo rằng bạn đang nhận được đủ&nbsp;<span style="background: white">lượng
					canxi</span>&nbsp;<span style="background: white">trong chế độ ăn
					uống hàng ngày của bạn.</span>&nbsp;<span style="background: white">Canxi
					được tìm thấy trong các sản phẩm sữa, cá có xương (chẳng hạn
					như cá mòi và cá hồi đóng hộp), bông cải xanh, và các loại
					đậu.</span>&nbsp;<span style="background: white">Một lượng đầy đủ
					canxi cho phụ nữ tuổi từ 51 trở lên là 1.200 mg mỗi ngày.</span></span></p>
                    <p class="MsoNormal"
                       style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 5.35pt; margin-bottom: 10.75pt; background: white">
                        <b>
					<span style="font-size: 13.0pt; color: black; background: white">
					Tăng lượng sắt trong chế độ ăn.</span></b><span style="font-size:13.0pt;color:black">&nbsp;<span
                            style="background: white">Ăn
					ít nhất ba phần ăn các loại thực phẩm giàu chất sắt mỗi ngày
					sẽ giúp đảm bảo lượng sắt cho cơ thể.</span>&nbsp;<span style="background: white">Sắt
					có nhiều trong thịt nạc đỏ, thịt gia cầm, cá, trứng, rau lá
					xanh, các loại hạt, ngũ cốc và các sản phẩm phong phú.</span>&nbsp;Lượng
					sắt cần thiết cho phụ nữ một ngày là 8mg.</span></p>
                    <p class="MsoNormal"
                       style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 5.35pt; margin-bottom: 10.75pt; background: white">
                        <b>
					<span style="font-size: 13.0pt; color: black; background: white">
					Có đủ chất xơ.</span></b><span style="font-size:
13.0pt;color:black">&nbsp;Cần cung cấp đủ lượng chất xơ cho cơ thể. Chất xơ được lấy
					chủ yếu từ các loại ngũ cốc nguyên hạt, các loại bánh mì, mì
					ống, gạo, trái cây tươi, rau xanh. Một phụ nữ trưởng thành
					cần nhận được khoảng 21gram chất xơ mỗi ngày. Mỗi ngày phụ
					nữ nên ăn 1,5 chén trái cây và 2 chén rau sẽ cung cấp đủ
					lượng chất xơ cho cơ thể.</span></p>
                    <p class="MsoNormal"
                       style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 5.35pt; margin-bottom: 10.75pt; background: white">
                        <b><span style="font-size:13.0pt;color:black">Uống nhiều
					nước:</span></b><span style="font-size:13.0pt;color:black">
					70% cơ thể là nước chính vì thế cần bổ sung nước thường
					xuyên cho cơ thể&nbsp; để đảm bảo các bộ phận đặc biệt là tiêu
					hóa, bài tiết hoạt động một cách thông suốt. 8 ly nước mỗi
					ngày sẽ đáp ứng đủ nhu cầu cho hầu hết những người lớn khỏe
					mạnh.</span></p>
                    <p class="MsoNormal"
                       style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 5.35pt; margin-bottom: 10.75pt; background: white">
                        <b><span style="font-size:13.0pt;
color:black">Duy trì một trọng lượng khỏe mạnh.</span></b><span style="font-size:13.0pt;color:black">&nbsp;Giảm
					cân nếu bạn đang thừa cân bằng cách cắt giảm khẩu phần ăn và
					làm giảm các loại thực phẩm nhiều chất béo,t&nbsp; tuyệt đối
					không nên bỏ bữa.</span></p>
                    <p class="MsoNormal"
                       style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 5.35pt; margin-bottom: 10.75pt; background: white">
                        <b><span style="font-size:13.0pt;
color:black">Giảm các loại thực phẩm nhiều chất béo.</span></b><span style="font-size:13.0pt;color:black">
					Chất béo chỉ nên cung cấp 25% đến 35% hoặc ít hơn của tổng
					số calo hàng ngày của bạn.&nbsp;Ngoài ra, mức giới hạn chất béo
					bão hòa ít hơn 7% trong tổng số calo hàng ngày của bạn.&nbsp;Chất
					béo bão hòa làm tăng cholesterol và làm tăng nguy cơ mắc
					bệnh tim.&nbsp;Chất béo bão hòa được tìm thấy trong thịt mỡ, sữa
					nguyên kem, kem và phomat.&nbsp;Hạn chế lượng cholesterol đến 300
					milligrams (mg) hoặc ít hơn mỗi ngày.&nbsp;Cố gắng hạn chế tiêu
					thụ các chất béo trans, được tìm thấy trong dầu thực vật,
					nhiều bánh nướng, và một số loại bơ thực vật.&nbsp;Trans chất béo
					cũng làm tăng cholesterol và làm tăng nguy cơ mắc bệnh tim.</span></p>
                    <p class="MsoNormal"
                       style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 5.35pt; margin-bottom: 10.75pt; background: white">
                        <b><span style="font-size:13.0pt;
color:black">Sử dụng đường và muối trong chừng mực.</span></b><span style="font-size:13.0pt;color:black">&nbsp;Quá
					nhiều natri trong chế độ ăn uống có liên quan đến huyết áp
					cao.&nbsp;Nên hạn chế sử dụng các loại thịt hun khói, các thực
					phẩm nướng vì những thực phẩm này thường chứa lượng muối cao
					và cũng làm tăng nguy cơ mắc bệnh ung thư.</span></p>
                    <p class="MsoNormal"
                       style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 5.35pt; margin-bottom: 10.75pt; background: white">
                        <b><span style="font-size:13.0pt;
color:black">Hạn chế uống rượu.</span></b><span style="font-size:13.0pt;
color:black"> Phụ nữ nên hạn chế uống rượu, tốt nhất là không nên uống, nếu có
					uống thì chỉ nên uống rượu vang và uống dưới 1 ly rượu mỗi
					ngày vì rượu có thể làm tăng những cơn nóng bừng vào thời kỳ
					mãn kinh.</span></p>
                    <p class="MsoNormal"
                       style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 5.35pt; margin-bottom: 10.75pt; background: white">
					<span style="font-size:13.0pt;color:black">Nên ăn các thực
					phẩm có chứa isoflavone (estrogen thực vật). Đậu nành là một
					trong những thực phẩm có thể làm giảm các triệu chứng tiền
					mãn kinh, mãn kinh. Đậu nành cũng làm giảm lượng cholesterol
					và giảm bớt những cơn nóng bừng, bốc hỏa, đổ mồ hôi vào ban
					đêm.</span></p>
                    <p class="MsoNormal"
                       style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 5.35pt; margin-bottom: 10.75pt; background: white">
                        <b><span style="font-size:13.0pt;color:black">Sau thời kỳ
					mãn kinh</span></b><span style="font-size:13.0pt;color:black">.</span></p>
                    <p style="text-align: justify; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
                        <span style="font-size:13.0pt;color:black">S</span><span
                            style="font-size: 13pt; color: black; font-family: Times New Roman">ự
					thiếu hụt estrogen sau khi mãn kinh có liên quan mật thiết
					với bệnh loãng xương. Vì thế sau thời kỳ mãn kinh phụ nữ
					cũng cần phải bổ sung một chế độ ăn uống thích hợp. Canxi và
					vitamin D là hai chất không thể thiếu trong thời kỳ này để
					ngăn ngừa tình trạng loãng xương phát triển. Tuy nhiên việc
					bổ sung các loại canxi và vitamin tổng hợp cần có sự tư vấn
					của bác sĩ và các chuyên gia dinh dưỡng.</span></p>
             
                    <p class="MsoNormal" style="text-align: center; line-height: 150%">
                        <i>--------------------------------------------------</i></p>

                    <p class="MsoNormal"
                       style="text-align: center; margin-left: 0cm; margin-right: 0cm; margin-top: 1.6pt; margin-bottom: 5.35pt; background: white url('')">
                        <font size="5" color="#000000">
					<span style="color: black; font-weight: 700">Tham khảo thêm
					về chế độ ăn cho phụ nữ mãn kinh</span></font></p>
                    <font color="#000000" size="3">
                        <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">
                            <b><span style="font-family: Times New Roman; color: black">
					<font style="font-size: 13pt">THỰC PHẨM CHO CÁC TRIỆU CHỨNG MÃN KINH</font><span
                                    style="font-size: 13pt">
					</span>
					</span></b>
					<span style="font-family: Times New Roman; color: black">
					<span style="font-size: 13pt">(</span><i><span style="font-size: 13pt">béo
					phì, đổ mồ hôi, rối loạn giấc ngủ)</span></i></span></p>
                        <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">
                            <b><span style="font-family: Times New Roman; color: black">
					<span style="font-size: 13pt">Cây đậu: Loại cây giàu estrogens</span></span></b></p>
                        <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">
					<span style="font-family: Times New Roman; color: black">
					<span style="font-size: 13pt">Một
					chế độ ăn uống hợp lý với lượng đậu tương được chứng minh sẽ
					làm giảm các triệu chứng mãn kinh nhưng cần ăn uống điều độ,
					trong trường hợp thỉnh thoảng bạn mới uống một ly sữa đậu
					thì kết quả sẽ không như mong muốn.</span></span></p>
                        <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">
					<span style="font-size: 13pt; font-family: Times New Roman; color: black">
					&nbsp;Đậu là loại cây rất giàu estrogens, cung cấp lượng estrogen
					tự nhiên cần thiết cho cơ thể chúng ta .Để estrogen phát huy
					được tác dụng, bạn cần ăn ít nhất là 20gram đậu mỗi ngày.
					</span></p>
                        <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">&nbsp;
                        </p>
                        <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">
                            <b><span style="font-family: Times New Roman; color: black">
					<span style="font-size: 13pt">Các loại thức ăn khác từ loại cây giàu estrogens</span></span></b><span
                                style="font-size: 13pt; font-family: Times New Roman; color: black">
					</span></p>
                        <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">
					<span style="font-family: Times New Roman; color: black">
					<span style="font-size: 13pt">Tuy
					các loại cây này không giàu estrogens (phytoestrogens) như
					cây đậu nhưng việc kết hợp các loại khác nhau như đậu, rong
					biển, táo…có thể tạo nên tác dụng tuyệt vời.</span></span></p>
                        <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">&nbsp;</p>
                        <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">
                            <b><span style="font-family: Times New Roman; color: black">
					<span style="font-size: 13pt">Những thực phẩm bạn cần hạn chế ăn
					</span> </span></b>
					<span style="font-size: 13pt; color: black; font-family: Times New Roman">Tuy bạn không
					phải kiêng tất cả các loại thức ăn để làm giảm các triệu
					chứng mãn kinh nhưng có một vài loại thức ăn mà phụ nữ nên
					tránh dùng như: cafein, cồn và các loại gia vị cay nóng khác.
					Thêm nữa, nếu bạn gặp vấn đề với giấc ngủ thì nên hạn chế
					đến mức thấp nhất lượng caffeine từ cà-phê, trà, cola, đồ
					uống tăng lực. Giảm lượng muối ăn xuống (chọn lọc những loại
					thực phẩm chế biến và đóng gói ít muối) cũng có thể giúp hạn
					chế việc tích muối trong cơ thể.</span></p>
                        <p align="center" style="margin:0in;margin-bottom:.0001pt;text-align:center">
                            <span style="font-size: 13pt; font-family: Times New Roman; color: black">&nbsp;</span></p>
                        <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">
                            <b><span style="font-family: Times New Roman; color: black">
					<font style="font-size: 13pt">THỨC ĂN CHO SỨC KHỎE DÀI LÂU</font><span style="font-size: 13pt">
					</span> </span>
                            </b><span style="font-size: 13pt"><i>
					<span style="font-family: Times New Roman; color: black">(dành
					cho tuổi mãn kinh và các bệnh khác)</span></i></span><span
                                style="font-size: 13pt; font-family: Times New Roman; color: black">
					</span></p>
                        <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">
					<span style="font-family: Times New Roman; color: black">
					<span style="font-size: 13pt">Không có gì là lạ khi các chế độ ăn uống cơ bản ở tuổi mãn
					kinh cũng giống với chế độ dinh dưỡng cho các bộ phận khác
					trên cơ thể: các loại hoa quả nhiều màu sắc, rau xanh, thịt
					có chứa nhiều đạm, ít chất béo và các thực phẩm giàu chất xơ.
					Ở độ tuổi mãn kinh, yêu cầu về chế độ ăn uống luôn thay đổi.
					Chúng ta cần phải tăng cường các loại thức ăn để bảo vệ trái
					tim cũng như hệ thống xương của mình. Dưới đây là môt số
					hướng dẫn cơ bản mà bạn nên biết:</span></span></p>
                        <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">
                            <b>
                                <span style="font-size: 13pt; font-family: Times New Roman; color: black">Cho trái tim khỏe mạnh</span></b><span
                                style="font-size: 13pt; font-family: Times New Roman; color: black">
					</span></p>
                        <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">
					<span style="font-family: Times New Roman; color: black">
					<span style="font-size: 13pt">Tăng cường lượng omega-3 cho cơ thể. Thường xuyên ăn dầu cá
					(như cá hồi, cá thu) hoặc ăn dầu cá viên hàng ngày (1,500 –
					2,000mg/ngày). </span> </span></p>
                        <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">
                            <b>
                                <span style="font-size: 13pt; font-family: Times New Roman; color: black">Cho xương khỏe</span></b><span
                                style="font-size: 13pt; font-family: Times New Roman; color: black">
					</span></p>
                        <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">
					<span style="font-family: Times New Roman; color: black">
					<span style="font-size: 13pt">Cung cấp từ 1,200-1,500mg can-xi mỗi ngày. Đừng chỉ dựa vào
					các chất bổ sung, hãy chọn những thức phẩm ít chất béo, giàu
					can-xi và các loại rau xanh và sử dụng thường xuyên. Hạn chế
					ăn các lọai thực phẩm bổ sung trên 500mg một lần để hạn chế
					tối đa hấp thụ của cơ thể.</span></span></p>
                        <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">
                            <b>
					<span style="font-size: 13pt; font-family: Times New Roman; color: black">Điều chỉnh trọng lượng cơ thể
					</span></b></p>
                        <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">
					<span style="font-size: 13pt; font-family: Times New Roman; color: black">Để
					tăng cân rất dễ, bạn chỉ cần cung cấp đầy đủ lượng thức ăn
					cần thiết cho cơ thể để đảm bảo cơ thể luôn đủ năng lượng để
					hoạt động. Bạn hãy nhớ các số đo cơ thể mình và bắt đầu tiến
					hành tập luyện (2.500 bước đi bộ là khoảng 100 calo bị mất
					đi) và theo dõi chế độ ăn uống hàng ngày của mình. Bạn cũng
					nên tăng cường một số thực phẩm khác để cơ thể khỏe mạnh lại
					giúp tăng trọng lượng cơ thể.</span></p>
                        <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">
					<span style="font-size: 13pt; font-family: Times New Roman; color: black">Một
					điều nữa bạn “phải” làm là: hoạt động thể lực. Việc này rất
					quan trọng để giúp bạn giữ sức khỏe khi bước vào tuổi mãn
					kinh, quan trọng như chế độ ăn uống của bạn vậy. Đi bộ 30
					phút mỗi ngày sẽ giúp tim, xương, cân nặng và tâm trạng của
					bạn thay đổi đáng kể. Nếu bạn cho rằng việc tập luyện này
					nên thực hiện sau cùng vì nó được đề cập đến cuối cùng thế
					này thì lời khuyên cho bạn là, bạn hãy đưa nó lên đầu trang.
					Tiến hành tập luyện càng sớm, bạn càng dẻo dai và có sức
					khỏe, giảm đáng kể các triệu chứng của căn bệnh mãn kinh.</span></p></font></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p class="MsoNormal">&nbsp;</p>
    <p class="MsoNormal">&nbsp;</p>
</font></h3>