﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <p align="center"
       style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <font color="#000000" size="5">
            <b><span style="line-height: 150%; ">Chế độ ăn </span></b></font>
        <font size="5">
            <b>c<span style="background-color: #FFFFFF; background-position: 0% 0%">ho
			bệnh niêm mạc tử cung dày</span></b></font></p>


    <font color="#000000" size="4">
        <p class="MsoNormal">&nbsp;&nbsp;&nbsp;
            <img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/niem-mac-tu-cung-day(1).jpg" width="374"
                 height="300" lowsrc="Niêm%20mạc%20tử%20cung%20dày" longdesc="Niêm mạc tử cung dày"
                 alt="Niêm mạc tử cung dày" align="left">Độ
            dày của niêm mạc tử cung phụ thuộc vào độ tuổi sinh sản của người
            phụ nữ, phụ thuộc vào chu kỳ kinh nguyệt của phụ nữ. Bình thường độ
            dày của nội mạc tử cung (niêm mạc tử cung) vào ngày thứ 21 của chu
            kỳ ở mức 12-15mm là mức cho phép. Sự phát triển của niêm mạc tử cung
            phụ thuộc vào chất lượng của lưu lượng máu đến tử cung cũng như tác
            dụng của estrogen trong việc khuyến khích các lớp lót để phát triển.
            Những người có niêm mạc tử cung dày (tăng sinh niêm mạc tử cung)
            thường do sự rối loạn nội tiết tố. Điều trị niêm mạc tử cung dày
            không chỉ dùng thuốc mà cần kết hợp với chế độ ăn uống, sinh hoạt.</p>
        <p class="MsoNormal">Phòng khám Đông y Nguyễn Hữu Toàn đưa ra lời
            khuyên cho bệh nhân niêm mạc tử cung dày:</p>
        <p class="MsoNormal">Những thực phẩm không nên ăn nhiều:</p>
        <p class="MsoNormal">Hạn chế thực phẩm giàu chất sắt vì sắt đóng vai
            trò quan trọng trong việc tái tạo và tăng độ dày của niêm mạc tử
            cung. (các thực phẩm giàu chất sắt nên hạn chế như: lá mâm xôi, lá
            cây tầm ma, gốc đông quai, hoa dâm bụt, các loại thịt màu đỏ,...)</p>
        <p class="MsoNormal">Hạn chế thực phẩm có chứa nhiều vitamin E và L
            –Agrinine</p>
        <p class="MsoNormal">Hạn chế các sản phẩm làm từ đậu tương</p>
        <p class="MsoNormal">Hạn chế các thực phẩm giàu vitamin C vì vitamin
            C giúp tăng cường sự hấp thu sắt trong cơ thể.</p>
        <p class="MsoNormal">Hạn chế ăn nhiều đường vì rất dễ dẫn tới mất
            cân bằng nội tiết tố ảnh hưởng tới khả năng sinh sản.</p>
        <p class="MsoNormal">Chú ý: Các loại thực phẩm trên nên hạn chế sử
            dụng nhiều chứ không phải kiêng tuyệt đối. Cần ăn uống đa dạng các
            loại thực phẩm, cung cấp đủ dinh dưỡng cho cơ thể, giúp cơ thể khỏe
            mạnh.</p>
        <p class="MsoNormal">Ngoài chế độ ăn uống phụ nữ niêm mạc tử cung
            dày có thể tập một số bài tập thể dục tiêu hao nhiều năng lượng, bởi
            khi tập các bài này sẽ giảm một phần lượng estrogen cung cấp cho cơ
            thể (estrogen làm dầy niêm mạc tử cung).</p>
        <p class="MsoNormal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Phụ nữ có niêm mạc tử
            cung dày nên
            ngủ đủ giấc, ngủ đủ giấc giúp cơ thế sản sinh lượng hormon cân bằng
            và đầy đủ cho cơ thể.</p>
        <p class="MsoNormal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Trên đây là một số lưu ý
            về chế độ
            ăn uống, sinh hoạt cho phụ nữ có niêm mạc tử cung dày. Ngoài chế độ
            ăn uống người bệnh nên kết hợp uống thuốc đông y để có hiệu quả tốt.</p>
    </font>
</h3>