﻿<div id="noidung">


    <h1><font size="4" color="#000080">Chế độ ăn uống, kiêng kị cho
        bạn gái tuổi dậy thì</font></h1>    <h1>&nbsp; </h1></font></span>
    <p style="margin: 0 5px" align="justify"><span lang="EN">&nbsp;&nbsp;&nbsp;
		</span><font color="#000000" size="3"><span style="font-size: 13.0pt">
		<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/che-do-an-tuoi-day-thi1.jpg" title="Chế độ ăn tuổi dậy thì" width="300" height="200" lowsrc="Chế%20độ%20ăn%20tuổi%20dậy%20thì" longdesc="Chế độ ăn tuổi dậy thì" alt="Chế độ ăn tuổi dậy thì" align="left">Tuổi dậy thì ở
		con gái sớm hơn con trai 2 tuổi. Nội kinh tố vấn một cuốn sách kinh điển
		trong y học dân tộc nói: con gái 7*2 = 14 tuổi thiên quí đến, con gái
		thấy kinh nguyệt và có thể có con. để chuẩn bị cho cái 2*7=14 này cơ thể của
		bạn gái bắt đầu có những thay đổi từ năm 9-10 tuổi, Vú to lên là dấu hiệu sớm nhất, bắt đầu 9 -13 tuổi, tốc độ và mức
		độ to lên khác nhau tuỳ từng bạn. Tiếp theo là lông mu mọc, cơ thể nở
		nang, sau đó mới là sự ra kinh lần đầu và mọc lông nách. Hành kinh là
		dấu hiệu bộ máy sinh sản đã sẵn sàng hoạt động.</span></font></p>
    <p style="margin:0 5px; " align="justify">
        <font color="#000000" size="3"><span style="font-size: 13.0pt">&nbsp; Cơ thể bạn gái
		đến tuổi dậy thì cần rất nhiều chất, một mặt giúp cơ thể tồn tại, mặt
		khác giúp cho sự phát triển của cơ thể được cân đối. Tuy nhiên, không
		phải ai cũng biết được những chất cần thiết để vừa đảm bảo sức khoẻ, vừa 
		giữ được vẻ đẹp duyên dáng của người thiếu nữ. Dưới đây là một số lời
		khuyên của các chuyên gia về dinh dưỡng. <br>
&nbsp;&nbsp; - Axit Folic hay vitamin B9 là chất giúp tổng hợp ADN và các
		protein rất cần thiết cho sự sinh sản của tế bào cấu tạo nên các tổ chức
		trong cơ thể. Ngay từ thời niên thiếu, các bé gái cần tạo thói quen ăn
		những thực phẩm có hàm lượng axit folic cao để cung cấp đủ cho cơ thể
		như các loại ngũ cốc, ... Chất này rất cần thiết cho sự mang thai sau
		này. Ngoài ra, axit folic có tác dụng bảo vệ tim mạch cũng như các chức
		năng về thần kinh. <br>
		&nbsp;&nbsp; - Sắt là một nguyên tố cần
		thiết để tạo máu. 90% phụ nữ ở tuổi mang thai đều bị thiếu sắt, tỷ lệ
		này ở thiếu nữ là 14%. Khi thiếu sắt, sức đề kháng của cơ thể kém, cơ
		thể và trí óc nhanh mệt mỏi. <br>
		Ở một số bạn gái, cơ thể thiếu chất sắt âm ỉ, thường xuất hiện rõ rệt
		khi bắt đầu có kinh nguyệt. Vì vậy từ khi có kinh người gầy và xanh xao,
		hay hồi hộp, vã mồ hôi. Người ta đã nhận xét trong thực tế hầu như cứ 5
		phụ nữ khỏe mạnh thì có một người bị mất tới 30mg sắt trong một kỳ hành
		kinh. Chính vì vậy, trong giai đoạn dậy thì, bạn gái cần khoảng 15 mg
		sắt mỗi ngày. Trong kỳ nguyệt san, nhu cầu về sắt của cơ thể lớn hơn,
		nếu cơ thể bạn thiếu chất sắt sẽ dẫn đến thiếu máu. Vì vậy, bạn gái nên
		ăn nhiều thực phẩm có màu sẫm như gan, tim, bầu dục, thịt bò, cà rốt,
		rau dền <br>
		&nbsp;&nbsp; - Kẽm: Những năm gần đây có
		nhiều công trình nghiên cứu còn cho thấy rõ nếu bạn gái thiếu nguyên tố
		kẽm, chiều cao sẽ kém phát triển và chậm dậy thì. Vì trong cơ thể người,
		kẽm tham gia vào cấu tạo của hơn hai mươi loại men điều khiển nhiều quá
		trình chuyển hóa và phát triển ở tế bào. Đặc biệt ở bạn gái đang trong
		độ tuổi dậy thì, cơ th không thể thiếu chất kẽm, bởi kẽm có tác dụng rất
		quan trọng đối với hoạt động của bộ máy sinh dục. <br>
		&nbsp;&nbsp; - Canxi được cơ thể hấp thụ
		trong suốt thời thiếu niên đều tham gia vào việc hình thành khung xương,
		sau thời gian này là quá muộn. Sự hấp thu canxi trong thời kỳ tuổi trẻ
		không đủ sẽ dẫn đến bệnh loãng xương sau này. Cách phòng tránh duy nhất
		là hình thành tốt khung xương ở tuổi thiếu niên với lượng thức ăn có đủ
		1.200mg canxi mỗi ngày bằng các sản phẩm giàu canxi như sữa, tôm, cua,
		ốc hến, canh xương ... và một số loại thực phẩm cung cấp có hàm lượng
		canxi cao như bánh quy, ...<br>
		&nbsp;&nbsp; - Lipit: Cơ thể cần có một
		lượng mỡ nhất định, nó có tác dụng điều hòa chức năng sinh dục của nữ
		giới. Lượng mỡ nhiều hay ít sẽ ảnh hưởng trực tiếp tới chu kỳ kinh
		nguyệt và sự trao đổi hoóc môn trong cơ thể. Nếu lượng mỡ trong cơ thể
		giảm đi 1/3, bạn gái dễ bị mắc bệnh não. Ðặc biệt đối với thiếu nữ đang
		độ tuổi lớn, bộ não cần đầy đủ chất để phát triển với một lượng máu, ôxy,
		glucô nhiều hơn so với người lớn. Hơn nữa, đối với thiếu nữ, chức năng
		hoạt động của buồng trứng phát triển chưa hoàn thiện, nên nếu không đủ
		lượng mỡ cần thiết, rất dễ dẫn đến tắc kinh, hoặc thời gian tắc kinh kéo
		dài, ảnh hưởng không tốt đến bộ máy sinh dục, ngoài ra còn có thể ảnh
		hưởng đến "kích cỡ" của ngực, làm giảm những đường cong gợi cảm, hấp dẫn
		ở bạn gái.<br>
		&nbsp; - Một số loại vitamin<br>
		&nbsp;&nbsp;&nbsp;&nbsp; Vitamin A rất có lợi cho cơ thể của bạn, nó có tác dụng làm cho da
		mịn màng, khỏe mạnh. Ðể cung cấp vitamin A cho cơ thể bạn nên chọn những
		loại đồ ăn như gan, cá, sữa, đậu phụ, trứng. <br>
		&nbsp;&nbsp; &nbsp;&nbsp;Vitamin nhóm B có tác dụng làm da mềm mại. Vitamin B1 có nhiều
		trong các loại đậu quả, ngũ cốc. Bạn gái nên ăn nhiều hoa quả, cà rốt,
		lạc, vừng, dầu cá. Nếu bạn có mồ hôi dầu, nên ít ăn các loại thực phẩm
		nhiều chất mỡ, mà nên chú ý tới các loại rau tươi và hoa quả. Nếu da của
		bạn khô, thì nên ăn nhiều đậu tương, cà rốt. <br>
		&nbsp;&nbsp;&nbsp;
		Chế độ ăn uống liên quan mật thiết với sức khoẻ và vẻ đẹp của bạn gái. Ở
		tuổi dậy thì, cơ thể bạn gái cần có đầy đủ chất dinh dưỡng. Vì vậy hàng
		ngày bạn nên chọn những thức ăn có hàm lượng dinh dưỡng cao để cơ thể
		khỏe mạnh.</span></font></p>
</div>