﻿<div id="noidung">


    <p style="margin: 0 2px; " align="center"><font color="#000000" size="3">
        <b>
										<span style="font-family: Times New Roman; font-size:16pt">
										<font size="5" color="#000080" face="Times New Roman">Chế độ ăn uống, kiêng kị cho </font></span>
        </b>
    </font><b><font face="Times New Roman" size="5" color="#000080">bệnh
        loãng xương</font></b></p>
    <p class="MsoBodyTextIndent" id="Loãng xương, mau, loangxuong" align="justify">&nbsp;&nbsp;&nbsp;
		<span style="font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span style="font-size: 12.0pt; color: windowtext; font-weight: normal">T<a href="Chế%20độ%20ăn%20bệnh%20loãng%20xương">
           </a>rong Đông y, loãng xương
		thuộc phạm vi chứng "cốt nuy" có liên quan tới 3 tạng là thận, tỳ và
		can; trong đó, tạng thận có vai trũ đặc biệt quan trọng. Về trị liệu,
		ngoài việc dùng thuốc, châm cứu, tập khí công dưỡng sinh, người xưa cũn
		sử dụng nhiều mún ăn - bài thuốc độc đáo.</span></span></p>
    <p class="MsoBodyTextIndent" align="justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">1.<span style="font-weight: normal; font-family: Times New Roman; font-size:12.0pt; color:windowtext">&nbsp;&nbsp;&nbsp;
		</span>Thể bệnh thận âm hư :
		<span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">Lưng đau gối mỏi, hay buồn
		nhức các đầu ngón tay và chân, lũng bàn tay và bàn chân nóng, trong ngực
		chộn rộn không yên, môi khô miệng khát, thích ăn đồ mát,đại tiện táo,
		tiểu tiện sẻn đỏ, chất lưỡi đỏ.</span></span></p>
    <p class="MsoBodyTextIndent" align="justify">
		<span style="font-family: Times New Roman; font-weight:normal; color:windowtext; font-size:12.0pt">- Đậu đen 500g, Sơn thù, Bạch
		linh, Qui đầu, Tang thầm, Thục địa, Phá cố chỉ, Thỏ ti tử , Hạn niên
		thảo, Ngũ vị, Kỉ tử, Địa cốt bì, vừng đen, muối ăn mỗi thứ 10 g. Đậu đen
		rửa sạch, ngâm nước ấm trong 30 phút; các vị thuốc khác đem sắc kỹ 4 lần,
		mỗi lần chừng 30 phút. Trộn 4 loại nước lại với nhau, cho đậu đen và
		muối vào sắc kỹ bằng lửa nhỏ cho đến khi cạn kiệt. Lấy đậu đen ra phơi
		hoặc sấy thật khô, đựng vào lọ kín dùng dần; mỗi ngày ăn 20-30 g. Công
		dụng: Bổ thận dưỡng can, cường gân tráng cốt.</span></p>
    <p class="MsoBodyTextIndent" align="justify">
		<span style="font-family: Times New Roman; font-weight:normal; color:windowtext; font-size:12.0pt">2. Thể bệnh can thận âm hư:&nbsp;Thể
		trạng gầy yếu, hay hoa mắt chóng mặt, thị lực giảm sút, tai ù điếc, lưng
		đau gối mỏi, móng tay và móng chân khô giũn, dễ bị chuột rút, tâm trạng
		phiền muộn, trong lũng hay bức bối không yên, lòng bàn tay và bàn chân
		nóng, có thể có gãy xương, miệng khô họng khát, lưỡi đỏ, đại tiện táo,
		tiểu tiện sẻn đỏ.</span></p>
    <p class="MsoBodyTextIndent" align="justify">
		<span style="font-family: Times New Roman; font-weight:normal; color:windowtext; font-size:12.0pt">- Tang thầm 30 g, kỷ tử 30 g,
		gạo tẻ 80 g. Các vị thuốc rửa sạch đem nấu với gạo thành cháo, chế thêmt
		đường phèn, chia ăn vài lần trong ngày. Công dụng: Tư âm, bổ can thận.</span></p>
    <p class="MsoBodyTextIndent" align="justify">
		<span style="font-family: Times New Roman; font-weight:normal; color:windowtext; font-size:12.0pt">- Bột bạch linh, bột mỳ, bột
		xương dê, bột mẫu lệ và đường trắng lượng bằng nhau trộn đều, cho lượng
		nước vừa đủ, nhào thật kỹ, chế thêm mỡ và muối rồi nặn thành những chiếc
		bánh nhỏ, nướng chín, dùng làm đồ ăn điểm tâm hằng ngày. Công dụng: Bổ
		tỳ thận, làm mạnh gõn cốt.</span></p>
    <p class="MsoBodyTextIndent" align="justify">
		<span style="font-family: Times New Roman; font-weight:normal; color:windowtext; font-size:12.0pt">&nbsp;3. Thể tỳ thận dương hư:
		Toàn trạng mệt mỏi, sợ lạnh, chân tay lạnh, lưng đau gối mỏi, ăn kém,
		chậm tiêu bụng chướng, đại tiện lỏng hoặc nát, có thể có phù nhẹ hai
		chân, nam giới liệt dương, di tinh, nữ giới kinh nguyệt không đều, miệng
		nhạt, chất lưỡi nhợt.</span></p>
    <p class="MsoNormal" style="text-indent:49.05pt" align="justify">
		<span style="font-family: Times New Roman; font-weight:normal; color:windowtext; font-size:12.0pt">- Chim sẻ 5 con, kỷ tử 20 g,
		đại táo 15 g, gạo tẻ 60 g. Chim sẻ làm thịt, bỏ lông, chân và phủ tạng
		rồi đem hầm với kỷ tử và gạo tẻ thành cháo, chế thêm gia vị, chia ăn vài
		lần trong ngày. Công dụng: Bổ thận, ôn dương, ích tinh, làm mạnh gân
		xương.</span></p>
    <p class="MsoNormal" style="text-indent:49.05pt" align="justify">
		<span style="font-family: Times New Roman; font-weight:normal; color:windowtext; font-size:12.0pt">- Xương sống chó 200 g, Đẳng
		sâm, thỏ ty tử, thục địa mỗi thứ 10 g, gia vị vừa đủ. Xương chó rửa sạch,
		chặt nhỏ; các vị thuốc cho vào túi vải buộc kín miệng; tất cả cho vào
		nồi hầm nhừ, chế đủ gia vị, dùng làm canh ăn hàng ngày. Công dụng: Bổ
		thận ôn dương, ích khí dưỡng huyết, cường gân tráng cốt.</span></p>
</font>
    <p class="MsoNormal" style="text-indent:49.05pt" align="center">
        <font color="#000000" size="5">
		<span style="font-family: Times New Roman; font-weight: 700">Những thực
		phẩm cần thiết cho bệnh loãng xương</span></font></p><font color="#000000" size="3">
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: white">
		<span style="font-size: 13.0pt; line-height: 150%; color: black; border: 1.0pt none windowtext; padding: 0cm">
		<a href="Chế%20độ%20ăn%20phognf%20bệnh%20loãng%20xương">
          </a></span><span style="font-size: 12.0pt; color: windowtext; font-family: Times New Roman; font-weight: normal">Loãng
		xương ngoài yếu tố di truyền thì đa phần loãng xương là do chế độ ăn
		uống. Dưới đây là một số cách thức cần thiết và cụ thể để bảo vệ xương
		của bạn:</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: white">
		<span style="font-family: Times New Roman; font-weight: normal; color: windowtext; font-size: 12.0pt">
		<span style="font-size: 12.0pt; color: windowtext; font-family: Times New Roman; font-weight: normal">
		Chế độ ăn uống.&nbsp;Chế độ ăn uống góp phần đáng kể trong việc cải thiện và
		bảo vệ bộ xương của bạn. Xương là cơ quan năng động phát triển mạnh
		trong một môi trường giàu khoáng chất.&nbsp;Nếu bạn ăn nhiều thực phẩm tinh
		chế, bạn có thể có yếu xương và răng kém.&nbsp;Nên lựa chọn chế độ ăn uống ít
		có tính axit có tác dụng hỗ trợ sức khỏe của toàn bộ cơ thể.</span></span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: white">
		<span style="font-family: Times New Roman; font-weight: normal; color: windowtext; font-size: 12.0pt">
		<span style="font-size: 12.0pt; color: windowtext; font-family: Times New Roman; font-weight: normal">
		Tập thể dục. Tập thể dục thường xuyên ngoài việc giữ trọng lượng cơ thể
		ở mức cho phép còn làm tăng mật độ xương, giúp xương dẻo dải và ít bị
		gãy xương hơn.</span></span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: white">
		<span style="font-family: Times New Roman; font-weight: normal; color: windowtext; font-size: 12.0pt">
		<span style="font-size: 12.0pt; color: windowtext; font-family: Times New Roman; font-weight: normal">
		Giảm tiêu thụ phosphate.&nbsp;Tiêu thụ phosphate trực tiếp cản trở sự hấp thụ
		canxi.&nbsp;Loại bỏ nước ngọt và đồ uống trái cây, trong đó có một hàm lượng
		lân cao.</span></span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: white">
		<span style="font-family: Times New Roman; font-weight: normal; color: windowtext; font-size: 12.0pt">
		<span style="font-size: 12.0pt; color: windowtext; font-family: Times New Roman; font-weight: normal">
		Bỏ thuốc lá và giảm bớt uống rượu.&nbsp;Kể từ khi hút thuốc, cùng với những
		phụ nữ ăn hai hoặc nhiều đồ uống có cồn mỗi ngày, có nguy cơ cao nhất
		đối với bệnh loãng xương, phụ nữ nên hạn chế hút thuốc lá và uống rượu.</span></span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: white">
		<span style="font-family: Times New Roman; font-weight: normal; color: windowtext; font-size: 12.0pt">
		<span style="font-size: 12.0pt; color: windowtext; font-family: Times New Roman; font-weight: normal">
		Hạn chế caffeine.&nbsp;Cafein làm tăng tốc độ canxi bị mất trong nước tiểu.
		Một ngày không nên tiêu thụ quá 1 ly cà phê.</span></span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: white">
		<span style="font-family: Times New Roman; font-weight: normal; color: windowtext; font-size: 12.0pt">
		<span style="font-size: 12.0pt; color: windowtext; font-family: Times New Roman; font-weight: normal">
		Giảm hormone stress.&nbsp;Nếu bạn đang chán nản hoặc bị căng thẳng mãn tính
		cần được giúp đỡ.&nbsp;Trầm cảm làm tăng nguy cơ loãng xương.&nbsp;Các hormone
		căng thẳng được gọi là cortisol cao hơn ở bệnh nhân trầm cảm và hormone
		này là một trong những nguyên nhân khiến tình trạng loãng xương xảy ra
		nhanh hơn.</span></span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: white">
		<span style="font-family: Times New Roman; font-weight: normal; color: windowtext; font-size: 12.0pt">
		Vitamin D.<span style="font-size: 12.0pt; color: windowtext; font-family: Times New Roman; font-weight: normal">&nbsp;Theo
		Michael Holick, MD, Ph.D., Trưởng khoa Nội tiết, chuyển hóa và dinh
		dưỡng tại Boston Đại học Y khoa, nồng độ trong máu dưới 20 ng / ml rất
		có thể làm tăng nguy cơ loãng xương. Trong khi nồng độ trong máu trung
		bình thấp nhất cho vitamin D thể hiện giảm gãy xương tương đương với 30
		ng / ml.&nbsp;Việc tiêu thụ đầy đủ vitamin D có liên quan với giảm nguy cơ
		gãy xương hông ở phụ nữ sau mãn kinh.</span></span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: white">
		<span style="font-family: Times New Roman; font-weight: normal; color: windowtext; font-size: 12.0pt">
		Beta-carotene.<span style="font-size: 12.0pt; color: windowtext; font-family: Times New Roman; font-weight: normal">&nbsp;Beta-carotene
		được chuyển thành vitamin A trong cơ thể.&nbsp;Vitamin A thúc đẩy một biểu mô
		đường ruột khỏe mạnh, đó là quan trọng cho sự hấp thụ các chất dinh
		dưỡng tối ưu, và nó cũng thúc đẩy mạnh mẽ các mối nối.&nbsp;Nó được tìm thấy
		trong rất nhiều trong rau màu vàng và màu cam như bí và cà rốt và cũng
		có trong các loại rau lá màu xanh đậm.</span></span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: white">
		<span style="font-family: Times New Roman; font-weight: normal; color: windowtext; font-size: 12.0pt">
		Progesterone tự nhiên.<span style="font-size: 12.0pt; color: windowtext; font-family: Times New Roman; font-weight: normal">&nbsp;Progesterone
		có vai trò quan trọng trong quá trình chuyển hóa xương.</span></span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: white">
		<span style="font-family: Times New Roman; font-weight: normal; color: windowtext; font-size: 12.0pt">
		Vitamin C.<span style="font-size: 12.0pt; color: windowtext; font-family: Times New Roman; font-weight: normal">&nbsp;Chất
		dinh dưỡng này hỗ trợ trong việc tổng hợp collagen và sửa chữa (trong
		xương và da).Liều khuyến cáo là 2.000 mg mỗi ngày.&nbsp;</span></span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: white">
		<span style="font-family: Times New Roman; font-weight: normal; color: windowtext; font-size: 12.0pt">
		<span style="font-size: 12.0pt; color: windowtext; font-family: Times New Roman; font-weight: normal">
		Magiê</span><span style="font-size: 12.0pt; color: windowtext; font-family: Times New Roman; font-weight: normal">.&nbsp;Magiê
		là một thành phần của xương và rất cần thiết cho nhiều phản ứng sinh hóa
		liên quan đến việc xây dựng xương.&nbsp;Một chế độ ăn uống có hàm lượng canxi
		cao nhưng megie thấp cũng có nguy cơ cao mắc bệnh loãng xương. Magie
		được tìm thấy trong các loại rau hữu cơ, ngũ cốc nguyên hạt, rau biển và
		các loại thịt như gà tây.&nbsp;Bổ sung magiê hàng ngày với liều từ 400 đến
		800 mg mỗi ngày, căn cứ&nbsp; vào chất lượng của chế độ ăn uống của bạn.</span></span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: white">
		<span style="font-family: Times New Roman; font-weight: normal; color: windowtext; font-size: 12.0pt">
		<span style="font-size: 12.0pt; color: windowtext; font-family: Times New Roman; font-weight: normal">
		Mangan.&nbsp;Chất dinh dưỡng này cần được bổ sung trong các hình thức mangan
		picolinate.&nbsp;Liều khuyến cáo là 15 mg mỗi ngày.</span></span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: white">
		<span style="font-family: Times New Roman; font-weight: normal; color: windowtext; font-size: 12.0pt">
		<span style="font-size: 12.0pt; color: windowtext; font-family: Times New Roman; font-weight: normal">
		Canxi.&nbsp;Dùng canxi mà không cần vitamin D là gần như vô dụng.&nbsp;Điều đó nói
		rằng, việc bổ sung canxi rất có giá trị.&nbsp;Cần bổ sung từ 1000mg đến
		1500mg canxi mỗi ngày.</span></span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
		<span style="font-family: Times New Roman; font-weight: normal; color: windowtext; font-size: 12.0pt">
		Theo Thaythuoccuaban.com tổng hợp</span></p>
</font><p class="MsoNormal" style="text-align: center; line-height: 150%; background: white"><font color="#000000" size="3">
    <span style="font-size:13.0pt;line-height:150%;color:black">&nbsp;</span></font><font color="#000000" size="5"><span style="font-family: Times New Roman; font-weight: 700">Những món
		ăn người mắc bệnh loãng xương nên dùng</span></font></p><font color="#000000" size="5">
</font><font color="#000000" size="3">
    <p class="MsoNormal" style="text-indent:49.05pt" align="justify">
		<span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">Theo Đông y, hệ thống xương
		trong cơ thể do tạng thận đảm nhiệm. Từ tuổi 40-50 trở đi, thận khí bắt
		đầu suy, việc nuôi dưỡng xương cốt bị trở ngại nên cấu trúc và chức năng
		của xương không còn khỏe mạnh như trước. Mặt khác, ở người có tuổi, tỳ
		vị (hệ thống tiêu hóa) và tâm mạch (hệ thống tuần hoàn) cũng có những
		suy giảm nhất định khiến cho việc nuôi dưỡng xương không được đầy đủ như
		khi còn trẻ.</span></p>
    <p class="MsoNormal" style="text-indent:49.05pt" align="justify">
		<span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">Sau đây là một số bài thuốc
		giúp củng cố hệ thống xương một cách tự nhiên, thuận tiện và dễ được cơ
		thể chấp nhận: Qui bản 100 g, vỏ trứng gà 100 g, đường trắng 50 g. Qui
		bản và vỏ trứng sấy khô, tán mịn rồi trộn với đường trắng, đựng trong lọ
		kín dùng dần. Mỗi ngày uống 2 lần, mỗi lần 5 g</span></p>
    <p class="MsoNormal" style="text-indent:49.05pt" align="justify">
		<span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">Tinh hoàn vịt 1 đôi, tinh
		hoàn gà 1 đôi, thịt lợn nạc 75 g, gạo tẻ 100 g. Tinh hoàn gà vịt làm
		sạch, bổ đôi; thịt nạc thái chỉ, đem nấu với gạo thành cháo. Chế thêm
		gia vị, ăn nóng trong ngày.</span></p>
    <p class="MsoNormal" style="text-indent:49.05pt" align="justify">
		<span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">Tụm nừn 50 g, trứng gà 1 quả,
		hẹ 200 g. Hẹ rửa sạch, nấu canh với tụm nừn, khi gần chìn đập trứng gà
		và chế thêm gia vị vừa đủ, ăn nóng trong ngày.</span></p>
    <p class="MsoNormal" style="text-indent:49.05pt" align="justify">
		<span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">Tủy xương sống lợn 100 g,
		Đẳng sâm, Thỏ ti tử, Thục địa mỗi thứ 5 g. Tủy lợn rửa sạch, các vị
		thuốc thái vụn, tất cả đem hấp cách thủy, chế thêm gia vị, ăn nóng.</span></p>
    <p class="MsoNormal" style="text-indent:49.05pt" align="justify">
		<span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">Rau thai 1 cái rửa sạch, thái
		vụn, hầm thật nhừ rồi chế thêm 250 g mật ong, cô lửa nhỏ thành dạng cao,
		đựng trong lọ kín dựng dần. Mỗi ngày uống 2 lần, mỗi lần 1 thìa canh.</span></p>
    <p class="MsoNormal" style="text-indent:49.05pt" align="justify">
		<span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">Quả dâu chín 2.500 g, thục
		địa, hoài sơn, hoàng tinh mỗi thứ 50 g; Thiên hoa 100 g. Dâu rửa sạch,
		ép lấy nước cốt; các vị thuốc sắc kỹ lấy 500 ml nước cốt rồi hũa đều với
		nước ép quả dâu, cô nhỏ lửa thành dạng cao, đựng trong lọ kín dùng dần.
		Mỗi ngày uống 2 lần, mỗi lần 1 thìa canh.</span></p>
    <p class="MsoNormal" style="text-indent:49.05pt" align="justify">
		<span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">Dạ dày lợn 1 cái, làm sạch
		rồi nhét 60 g bạch truật vào trong, đem hầm nhừ, lấy nước cốt nấu với 75
		g gạo tẻ thành cháo, chế thêm gia vị vừa đủ, ăn nóng trong ngày.</span></p>
    <p class="MsoNormal" style="text-indent:49.05pt" align="justify">
		<span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">Chỳ ý: Nên dùng thành từng
		đợt 7-10 ngày, hoặc mỗi tuần dùng 1-2 lần.&nbsp; </span></p>
    </font>
</div>