﻿<div id="noidung">


    <h3 style="margin-top: 0; margin-bottom: 0" align="center">
        <p style="margin-top: 0; margin-bottom: 0" align="center">
            <b>
                <font size="5" color="#000080" face="Times New Roman">Chế độ ăn uống
                    kiêng kị cho bệnh gout</font></b></p>
        <font color="#000000" size="4"><p align="justify"></p><font color="#0033CC" size="3" face="Times New Roman">
    </font>
        <p style="margin:0in;margin-bottom:.0001pt" align="justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">&nbsp;<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/dau-hieu-benh-guout.jpg" width="300" height="300" title="Dấu hiệu bệnh gout" align="left" lowsrc="Dấu%20hiệu%20bệnh%20gout" longdesc="Dấu hiệu bệnh gout" alt="Dấu hiệu bệnh gout">+ Thấp Nhiệt Uẩn
		Kết: Khớp sưng đỏ, đau, nóng. Phiền táo, khát, nước tiểu vàng, đỏ, đầu
		đau, sốt, sợ lạnh, chất lưỡi đỏ, rêu lưỡi vàng nhạt, mạch Nhu, Sác.
		</span> </p>
        <p style="margin:0in;margin-bottom:.0001pt" align="justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">&nbsp;&nbsp;+ Đờm Ngưng Trở Lạc: do nhiều đờm ẩm
		gây nên, các khớp nặng, cử động khó khăn, khớp mềm hoặc cứng, có khi sốt
		cao, đầu đau, lo sợ, chất lưỡi đỏ, ít rêu, mạch Tế, Sáp.</span></p>
        <p style="margin:0in;margin-bottom:.0001pt" align="justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">&nbsp;&nbsp;+ Phong Thấp Hàn, Huyết Ứ: Bệnh phát
		cấp, khớp đau cứng một chỗ, lạnh thì đau nhiều, gặp ấm, nóng dễ chịu hơn,
		có thể bị biến dạng khớp và cứng khớp, khó cử động. Dù sưng nhưng không
		thấy nóng, đỏ, lưỡi trắng mỏng, mạch Hoạt, Trầm, Huyền hoặc Nhu, Hoãn.</span></p>
        <p style="margin:0in;margin-bottom:.0001pt" align="justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a >Bệnh gout</a> là một trong những bệnh thấp khớp gây đau đớn nhất, do ứ đọng
		những tinh thể uric acid nhọn như kim ở tổ chức liên kết, ở ổ khớp hay
		cả hai. Sự ứ đọng này dẫn tới viêm khớp với các triệu chứng sưng, nóng,
		đỏ, đau và cứng khớp.</span></p>
        <p class="MsoNormal" align="justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;Người bị
		<a >bệnh gout</a> phải thực hiện nghiêm ngặt chế độ ăn:</span></p>
        <p class="MsoNormal" align="justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">&nbsp;&nbsp;&nbsp;
		* Kiêng tuyệt đối những thực phẩm
		giàu đạm có gốc Purin như : Hải sản, các loại thịt có màu đỏ như : Thịt
		trâu, bò, ngựa, thịt dê…; Phủ tạng động vật như : Lưỡi, lòng, tim, gan,
		thận, óc…; Trứng gia cầm nói chung, nhất là các loại trứng đang phát
		triển thành phôi như trứng vịt lộn… </span> </p>
        <p align="justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">&nbsp;&nbsp;&nbsp;&nbsp;
		* Giảm bớt những thực phẩm giàu đạm khác trong khẩu phần ăn như :
		</span>
        </p>
        <p align="justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">+
		Đạm động vật nói chung nahư: Thịt lợn, thịt gà, thịt vịt…; Cá và các
		loại thủy sản như: lươn, cua, ốc, ếch… </span> </p>
        <p align="justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">+
		Đạm thực vật: Đậu hạt nói chung nhất là các loại đậu ăn cả hạt như : đậu
		Hà Lan, đậu trắng, đậu đỏ, đậu xanh…,Các chế phẩm từ đậu nành như : Đậu
		phụ, sữa đầu nành, tào phớ… nhìn chung ít làm tăng acid uric hơn các
		loại đậu chưa chế biến. </span> </p>
        <p align="justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		* Kiêng tất cả các loại thực phẩm có tốc độ tăng trưởng nhanh như : Măng
		tre, măng trúc, măng tây, nấm, giá, bạc hà (dọc mùng) vì sẽ làm gia tăng
		tốc độ tổng hợp acid uric trong cơ thể. </span> </p>
        <p align="justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">+
		Giảm các thực phẩm giàu chất béo no như : Mỡ, da động vật, thức ăn chiên,
		quay, thực phẩm chế biến với các chất béo no như: Mì tôm, thức ăn nhanh.
		</span>
        </p>
        <p align="justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">+
		Bệnh nhân gút có tầm vóc trung bình 50 kg không nên&nbsp; ăn quá 100g thực
		phẩm giàu đạm mỗi ngày </span> </p>
        <p align="justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">&nbsp;2.
		Đồ uống :<br>
		<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/do-uong-benh-gout-khong-nen-dung.jpg" title="Bệnh gout không nên uống rượu, bia" width="190" height="95" align="left" lowsrc="Bệnh%20gout%20không%20nên%20uống%20rượu,%20bia" longdesc="Bệnh gout không nên uống rượu, bia" alt="Bệnh gout không nên uống rượu, bia">Tuyệt đối không uống bất kỳ một dạng chất cồn nào như : Rượu, bia, cơm
		rượu, nếp than… </span> </p>
        <p align="justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">Hạn chế đồ uống có gaz, nước uống ngọt nhiều đường vì sẽ làm tăng nguy
		cơ béo phì, một trong những yếu tố tăng nặng bệnh gút. </span> </p>
        <p align="justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">Giảm các đồ uống có tính toan như : nước cam, chanh, nước trái cây giàu
		vitamin C vì làm tăng nguy cơ kết tinh urate ở ống thận, tăng nguy cơ
		sỏi thận.
		</span>
        </p>
        <p align="justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">&nbsp;II. Những thức ăn, đồ uống có lợi cho người bị bệnh gút:
		</span>
        </p>
        <p align="justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">1.
		Thức ăn có lợi :<br>
		Các thực phẩm giàu chất xơ nói chung như dưa leo, củ sắn, cà chua…giúp
		làm chậm quá trình hấp thu đạm, làm giảm thoái hoái biến đạm để sinh
		năng lượng nên giảm sự hình thành acid uric.&nbsp; </span> </p>
        <p align="justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">1.
		Đồ uống có lợi:<br>
		Nên uống nhiều nước (tối thiểu 2,5 đến 3 lít nước mỗi ngày). </span> </p>
        <p class="MsoNormal" align="justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">Nên uống nước khoáng
		không ga có độ kiềm cao giúp tăng đào thải acid uric và hạn chế sự kết
		tinh urate tại ống thận, làm giảm nguy cơ sỏi thận.</span></p>
        <font color="#0033CC" size="3" face="Times New Roman">
            <p class="MsoNormal" align="center"><span style="color:#003300">
		&nbsp;******************************</span></p>
            <p class="MsoNormal" align="center"><font color="#0000FF" size="4"><b>Bài tham khảo bệnh viêm
                Gout</b></font></p>

        </font>

        <p class="MsoNormal" align="left"><font face="Times New Roman"><b>Nguyên nhân và biểu hiện của bệnh gout</b></font></p>
        <font color="#0033CC" size="3" face="Times New Roman">
            <p class="MsoNormal" style="orphans: auto;widows: auto;-webkit-text-size-adjust: auto;
-webkit-text-stroke-width: 0px;word-spacing:0px" align="justify"><font color="#000000" size="3">
<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">
<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/benh-gout.jpg" width="150" height="103" title="Bệnh gout, nguyên nhân và cách điều trị" align="left" lowsrc="Bệnh%20gout-%20nguyên%20nhân%20và%20điều%20trị" longdesc="Bệnh gout- nguyên nhân và điều trị" alt="Bệnh gout- nguyên nhân và điều trị">Mặc dù nguyên nhân của rối loạn purine, gây bệnh Gout, hiện chưa rõ, nhiều khả năng
là do những rối loạn tại gen, nhưng bệnh Gout đã được coi là một bệnh lý rối loạn
chuyển hóa purine ở người, làm tăng tổng hợp acid uric và/hoặc giảm thải acid uric
ra ngoài, gây tăng acid uric trong máu, gây thêm một hoặc nhiều biểu hiện sau:</span></font></p>

        </font>
        <p style="text-align: justify; orphans: auto; widows: auto; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; word-spacing: 0px; background: white">
            <font face="Times New Roman"><b>Bệnh gout và những thực phẩm cần tránh</b></font></p>
        <font color="#0033CC" size="3" face="Times New Roman">

            <font color="#000000" size="3">
                <p style="text-align: justify; orphans: auto; widows: auto; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; word-spacing: 0px; background: white">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">
		<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/benh-gout-nen-tranh.jpg" title="Bệnh gout và những thực phẩm nên tránh" width="200" height="100" align="left" lowsrc="Bệnh%20gout%20và%20những%20thực%20phẩm%20nên%20tránh" longdesc="Bệnh gout và những thực phẩm nên tránh" alt="Bệnh gout và những thực phẩm nên tránh">Gout là một loại viêm khớp mà có tăng acid uric trong các dịch cơ thể và
		tinh thể acid uric từ đó tập trung vào các khớp, thận và nơi thông qua
		các mô. Tinh thể acid uric sẽ gây ra viêm nhiễm và tổn thương mô, gây ra
		hiện tượng đau nhức, khó chịu khi thay đổi thời tiết. </span></p>
            </font>


        </font>
        <p><font face="Times New Roman"><b>Những thực phẩm tốt cho bệnh gout</b></font></p>
        <font color="#0033CC" size="3" face="Times New Roman">

            <font color="#000000" size="3">
                <p style="text-align: justify; orphans: auto; widows: auto; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; word-spacing: 0px; background: white">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">
		<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/benh-gout-va-thuc-pham-nen-dung.jpg" title="Bệnh gout và những thực phẩm nên dùng" width="200" height="133" align="left" lowsrc="Bệnh%20gout%20và%20những%20thực%20phẩm%20nên%20dùng" longdesc="Bệnh gout và những thực phẩm nên dùng" alt="Bệnh gout và những thực phẩm nên dùng">Khi bị bệnh gout, bạn cần phải cẩn trọng với chế độ ăn vì có thể làm
		tăng lượng acid uric trong máu, làm bệnh gout trở lên trầm trọng hơn.
		Dưới đây là một số kiến thức giúp bữa ăn ngon miệng và giảm nguy cơ phát
		triển của bệnh gout.</span></p>
            </font>


</div>