﻿<div id="noidung">


    <h1><font face="Times New Roman" size="5" color="#000080">
        Chế độ ăn uống, kiêng kị cho người mắc bệnh </font>
        <font face="Times New Roman" size="5" color="#000080">béo phì</font></h1>    <p align="center" style="margin:0cm;margin-bottom:.0001pt;text-align:center">&nbsp;
    </p>
</font><font color="#000000" size="4">
</font>
    <p align="center" style="margin-bottom:.0001pt;text-align:justify; margin-left:0cm; margin-right:0cm; margin-top:0cm">
        <a href="Thực%20phẩm%20không%20tốt%20cho%20bệnh%20béo%20phì">
            <img border="0" src="http://thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/beo-phi.jpg" width="300" height="400" lowsrc="Thực%20phẩm%20không%20tốt%20cho%20bệnh%20béo%20phì" longdesc="Thực phẩm không tốt cho bệnh béo phì" alt="Thực phẩm không tốt cho bệnh béo phì" align="left"></a><strong><span style="font-family: Times New Roman; font-weight: normal">Thông thường béo phì và thừa cân là do lượng calo ăn vào vượt quá lượng
		calo tiêu thụ. theo đông y nguyên nhân béo phì là do:</span></strong></p>
    <p class="MsoBodyTextIndent" align="justify" style="text-indent: 4px; margin-left: 4px; margin-right: 4px">
        <strong><span style="font-family: Times New Roman">1. Dương hư:
		<span style="font-weight: normal">thường là do yếu tố di truyền thận
		dương yếu, hoặc khi có tuổi thận dương suy, người lạnh, sợ lạnh, năng
		lượng tiêu tốn ít, dư thừa đọng lại thành mỡ. </span></span></strong></p>
    <p class="MsoBodyTextIndent" align="justify" style="text-indent: 4px; margin-left: 4px; margin-right: 4px">
        <strong><span style="font-family: Times New Roman; font-weight: normal">&nbsp;</span><span style="font-family: Times New Roman; ">2.
		Đờm thấp, thấp nhiệt:</span><span style="font-family: Times New Roman; font-weight: normal">
		phát sinh do ăn quá nhiều đồ béo ngọt, năng lượng dư thừa không tiêu thụ
		hết tích lại thành béo phì</span></strong></p>
    <p class="MsoBodyTextIndent" align="justify" style="text-indent: 4px; margin-left: 4px; margin-right: 4px">
        <strong><span style="font-family: Times New Roman">&nbsp;</span><span style="font-family: Times New Roman; font-weight: normal"> </span>
            <span style="font-family: Times New Roman; "> 3. Can uất</span><span style="font-family: Times New Roman; font-weight: normal">:
		.Do tinh thần không thoải mái, bị stress, căng thẳng, uất ức làm cho can
		uất, can uất dẫn đến khí huyết ứ trệ, không thông đình trệ lại gây béo
		phì..</span></strong></p>
    <p class="MsoBodyTextIndent" align="justify" style="text-indent: 4px; margin-left: 4px; margin-right: 4px">
        <strong><span style="font-family: Times New Roman; font-weight: normal"> <br>
		Ngoài việc điều trị bằng thuốc, người bệnh cần tuân thủ theo một chế độ
		ăn và tập luyện nghiêm ngặt.</span></strong></p>
    <p class="MsoBodyTextIndent" align="justify" style="text-indent: 4px; margin-left: 4px; margin-right: 4px"><font color="#000080"><b>Chế độ ăn cho người béo phì:</b></font></p>
    <p class="text" style="text-indent: 4px; margin-left: 4px; margin-right: 4px" align="justify"><strong>
		<span style="font-family:&quot;Times New Roman&quot;;font-weight:
normal">Hãy ăn ít năng lượng hơn trước bằng cách trước mỗi bữa ăn uống một cốc
		nước, ăn một bát canh rau, hoặc ăn một đĩa rau luộc... để tạo cảm giác
		no, làm giảm bớt lượng thức ăn khác. Không nên "tiếc của" ăn cố mà nên
		thực hiện khẩu hiệu "thà lãng phí còn hơn béo phì". </span></strong></p>
    <p class="text" style="text-indent: 4px; margin-left: 4px; margin-right: 4px" align="justify"><span style="font-family:&quot;Times New Roman&quot;">
		Tăng cường rau xanh trong mỗi bữa ăn, ăn quả chín ở mức vừa phải không
		quá 500g/ngày, chọn loại quả ít ngọt, khi ăn nên ăn cả quả hạn chế vắt
		nước các loại quả như cam, quýt vì ăn cả quả cung cấp nhiều chất xơ có
		tác dụng kéo chất mỡ dư thừa ra ngoài qua phân, chống táo bón. </span>
    </p>
    <p class="text" style="text-indent: 4px; margin-left: 4px; margin-right: 4px" align="justify"><span style="font-family:&quot;Times New Roman&quot;">
		Nên ăn thịt nạc, cá, tôm, cua, đậu phụ, hạn chế óc, thận, tim, gan, lòng
		đỏ trứng vì những thức ăn này chứa nhiều cholesterol và chất béo khác.
		Khi chế biến thức ăn nên chế biến dưới dạng luộc, hấp, hạn chế xào, rán
		để giảm lượng dầu mỡ vì ăn nhiều dầu thực vật cũng vẫn bị béo. Nên ăn
		nhiều vào bữa sáng, giảm về trưa, ăn hạn chế về buổi tối, nên ăn đều đặn
		không nên bỏ bữa. </span></p>
    <p class="text" style="text-indent: 4px; margin-left: 4px; margin-right: 4px" align="justify"><span style="font-family:&quot;Times New Roman&quot;">
		Nên uống nước sôi để nguội, nước trà xanh, nước rau luộc, nước quả tươi
		không đường, sữa đậu nành không đường, sữa bột tách bơ không đường, hạn
		chế rượu, bia, nước ngọt. Nên uống từ 1,5-2 lít nước mỗi ngày. </span>
    </p>
    <p class="text" style="text-indent: 4px; margin-left: 4px; margin-right: 4px" align="justify"><span style="font-family:&quot;Times New Roman&quot;">
		Hạn chế ăn tiệm và hàng quán, bớt dự tiệc chiêu đãi, liên hoan nếu có
		thể từ chối được. Chế độ ăn cho người béo phì tuy giảm năng lượng nhưng
		vẫn phải đảm bảo đủ chất đạm, vitamin và muối khoáng, vì vậy khi nấu ăn
		bạn phải biết chọn các loại thực phẩm đảm bảo yêu cầu trên. Những loại
		thực phẩm nên dùng. </span></p>
    <p class="text" style="text-indent: 4px; margin-left: 4px; margin-right: 4px" align="justify"><span style="font-family:&quot;Times New Roman&quot;">-
		Nhóm cung cấp chất đạm: nên ăn thịt nạc, thịt gia cầm bỏ da, cá nạc, tôm,
		cua, đậu phụ, lòng trắng trứng. </span></p>
    <p class="text" style="text-indent: 4px; margin-left: 4px; margin-right: 4px" align="justify"><span style="font-family:&quot;Times New Roman&quot;">-
		Nhóm cung cấp chất béo: nên ăn dầu thực vật ở mức vừa phải </span></p>
    <p class="text" style="text-indent: 4px; margin-left: 4px; margin-right: 4px" align="justify"><span style="font-family:&quot;Times New Roman&quot;">-
		Nhóm cung cấp năng lượng: nên ăn số lượng vừa phải, tăng cường ăn các
		loại còn nguyên hạt: gạo, ngô, khoai, tuy nhiên để giảm bớt năng lượng
		có thể ăn các loại đã chế biến như: bún, bánh phở,miến, bánh đa. </span>
    </p>
    <p class="text" style="text-indent: 4px; margin-left: 4px; margin-right: 4px" align="justify"><span style="font-family:&quot;Times New Roman&quot;">-
		Nhóm cung cấp vitamin và chất khoáng: các loại rau xanh như: rau cần,
		bắp cải, các loại rau cải, bí xanh, su hào, rau muống, rau đay, rau dền,
		các loại quả ít ngọt: dưa hấu, thanh long, cam quýt, mận, lê, táo, nho
		ta, dưa chuột (dưa leo). </span></p>
    <p class="text" style="text-indent: 4px; margin-left: 4px; margin-right: 4px" align="justify"><font color="#000080"><b>
		<span style="font-family:&quot;Times New Roman&quot;">Những loại thực
		phẩm nên hạn chế: </span></b></font></p>
    <p class="text" style="text-indent: 4px; margin-left: 4px; margin-right: 4px" align="justify"><span style="font-family:&quot;Times New Roman&quot;">-
		Mỡ động vật, thịt mỡ, bơ, pho mát, lòng đỏ trứng, phủ tạng động vật: tim,
		gan, thận, óc, dạ dày, tràng.</span></p>
    <p class="text" style="text-indent: 4px; margin-left: 4px; margin-right: 4px" align="justify"><span style="font-family:&quot;Times New Roman&quot;">&nbsp;-
		Nước giải khát có đường, các loại kẹo, bánh ngọt. </span></p>
    <p class="text" style="text-indent: 4px; margin-left: 4px; margin-right: 4px" align="justify"><span style="font-family:&quot;Times New Roman&quot;">-
		Các loại sữa bột nguyên kem, sữa đặc có đường</span></p>
    <p class="text" style="text-indent: 4px; margin-left: 4px; margin-right: 4px" align="justify"><span style="font-family:&quot;Times New Roman&quot;">-
		Các loại hoa quả quá ngọt: chuối, mít, na, xoài, vải, nhãn.</span></p>
    <p class="text"><span style="font-family:&quot;Times New Roman&quot;">&nbsp;</span></p>

   </font></div>