﻿<div id="noidung">


    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chế độ ăn uống cho bệnh suy dinh dưỡng</h1>

</font>
    <font color="#000099" size="4">
    </font><font color="#000000" size="3">
    <p align="justify"><span style="color:black">
		<img border="0" src="http://www.thaythuoccuaban.com/images/suy-dinh-duong.jpg" width="300" height="226" align="left" lowsrc="Chế%20độ%20ăn%20cho%20trẻ%20suy%20dinh%20dưỡng" title="Chế độ ăn cho trẻ suy dinh dưỡng" longdesc="Chế độ ăn cho trẻ suy dinh dưỡng" alt="Chế độ ăn cho trẻ suy dinh dưỡng">Có nhiều nguyên nhân gây suy dinh dưỡng cho
		trẻ. Nhưng dù nguyên nhân nào thì hậu quả cũng là trẻ bị thiếu năng
		lượng và chất dinh dưỡng làm trẻ không tăng cân, chiều cao và giảm trí
		thông minh. Do đó, chế độ ăn của trẻ suy dinh dưỡng có nguyên tắc chung
		là làm tăng năng lượng và tăng chất dinh dưỡng.</span></p>
    <p align="justify"><span style="color:black">Tăng dầu mỡ: Vì dầu mỡ cung cấp năng lượng
		gấp đôi chất bột và chất đạm. Mỗi bát bột, cháo hoặc cơm của trẻ cần có
		một muỗng canh dầu hoặc mỡ.</span></p>
    <p align="justify"><span style="color:black">Nấu đặc: Vì nếu nấu loãng, nhiều nước thì
		năng lượng sẽ thấp. Nhưng trẻ sẽ khó ăn do đó ta dùng men amylase (có
		trong bột mộng bắp) hoặc neopeptin theo chỉ định của bác sĩ nhỏ vào chén
		bột đặc sẽ làm bột lỏng ra và trẻ sẽ dễ ăn hơn.</span></p>
    <p align="justify"><span style="color:black">Tăng bữa ăn: Ngày ăn 5-6 bữa thay vì chỉ ăn
		3 bữa. Cho trẻ ăn thêm bữa tối trước khi ngủ. Nên ăn thêm bữa phụ ví dụ
		như sau khi ăn bữa chính nếu trẻ ít hơn nửa chén thì cho trẻ uống nửa ly
		sữa, nửa cốc sữa chua, nửa quả chuối..., vì làm như vậy trẻ đỡ chán ăn.
		</span></p>
    <p align="justify"><span style="color:black">
		<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/che-do-an-cho-tre1.jpg" width="279" height="181" lowsrc="Chế%20độ%20ăn%20cho%20trẻ%20suy%20dinh%20dưỡng" longdesc="Chế độ ăn cho trẻ suy dinh dưỡng" alt="Chế độ ăn cho trẻ suy dinh dưỡng" align="left"></span><span style="color:black">Tại sao lại một nửa mà không phải là một?
		Vì chỉ cần cho trẻ ăn thêm vừa sức của trẻ, không nên ép ăn hết khi trẻ
		đã chán. Vì làm thế, trẻ sẽ nôn thức ăn ra và sẽ rất "sợ ăn" dẫn tới
		biếng ăn sau này. Đặc biệt trẻ suy dinh dưỡng nên cho ăn thêm một bữa
		tối trước khi đi ngủ.</span></p>
    <p align="justify"><span style="color:black">Tăng cường chất dinh dưỡng: Thức ăn nên đủ
		chất dinh dưỡng nhưng trẻ phải ăn cả xác thực phẩm. Do đó, khi chế biến
		phải chú ý băm nhỏ, nấu mềm và nêm phù hợp với khẩu vị của trẻ. Trẻ
		thường ăn nhạt và không thích có nhiều mùi gia vị. Những thực phẩm thích
		hợp với trẻ nhỏ là trứng, thịt băm, cá băm, rau cũng nên xắt nhỏ.</span></p>
    <p align="justify"><span style="color:black">Lưu ý, không nên cho trẻ uống nước trái cây
		trước khi ăn hoặc coi nước trái cây là một bữa phụ vì nước trái cây rất
		ít năng lượng, ít chất xơ, chỉ có vitamin tan trong trong nước và có
		đường nên sẽ làm trẻ "ngang dạ" không muốn ăn bữa chính. </span></p>
    <p align="justify"><span style="color:black">Ngoài ra khi trẻ đã bị suy dinh dưỡng thì
		trẻ cần bổ sung một số vi chất dinh dưỡng (vitamin và muối khoáng), nên
		trẻ cần được các bác sĩ chuyên khoa dinh dưỡng khám và theo dõi sức khỏe
		để cho thuốc thích hợp. Các bà mẹ không nên tự ý mua thuốc cho con vì
		tuy là "thuốc bổ" nhưng nếu dùng không đúng cũng sẽ gây ra hậu quả không
		tốt cho sức khỏe của trẻ. </span></p>

    <h1 align="center" style="margin:0cm;margin-bottom:.0001pt;text-align:center">
		<span style="font-size: 20.0pt; color: black">
		<a name="Món_ăn_cho_trẻ_suy_dinh_dưỡng">Món ăn cho trẻ suy dinh dưỡng</a></span></h1>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        <strong><span style="color: black; font-weight: normal">&nbsp;</span></strong></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">
		<img border="0" src="http://www.thaythuoccuaban.com/images/chao-y-di.jpg" width="287" height="227" align="left" lowsrc="Cháo%20ý%20dĩ%20tốt%20cho%20trẻ%20suy%20dinh%20dưỡng" title="Cháo tốt cho bé suy dinh dưỡng" longdesc="Cháo ý dĩ tốt cho trẻ suy dinh dưỡng" alt="Cháo ý dĩ tốt cho trẻ suy dinh dưỡng"><img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/chao-y-di-cho-be.jpg" width="241" height="209" lowsrc="Cháo%20tốt%20cho%20bé%20suy%20dinh%20dưỡng" longdesc="Cháo tốt cho bé suy dinh dưỡng" alt="Cháo tốt cho bé suy dinh dưỡng" align="left">Y
		học cổ truyền gọi bệnh suy dinh dưỡng ở trẻ là bệnh cam, liên quan đến
		hoạt động tiêu hoá thất thường (tích trệ đồ ăn, trùng tích) nên còn gọi
		là cam tích. Nguyên nhân có thể do bẩm sinh nguyên khí kém; do thiếu
		dinh dưỡng lâu ngày, ăn uống mất điều độ, ăn quá nhiều đồ béo ngọt; hoặc
		do các bệnh mạn tính như tiêu chảy mạn, cảm nhiễm đường hô hấp nhiều lần.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">Bệnh cam tích ở trẻ chia thành 3 thời kỳ: thời
		kỳ khí cam, thời kỳ cam tích và thời kỳ cam khô. Ở thời kỳ đầu trọng
		lượng của trẻ thường giảm nhẹ hoặc không tăng cân, biếng ăn; ở thời kỳ
		thứ hai trẻ kém phát triển chiều cao hoặc không phát triển, người gầy,
		cơ bắp nhẽo, da bụng mỏng, xương sườn lộ rõ; thời kỳ thứ ba cơ thể trẻ
		suy yếu, sắc mặt trắng xanh hoặc hơi vàng, da, tóc khô, bụng trướng,
		tinh thần bứt rứt, buồn bực, chán ăn… Ở thể nặng trẻ thường kèm theo các
		bệnh khác như thiếu máu dạng thiếu sắt, rối loạn chức năng của hệ tuần
		hoàn, hô hấp, tiêu hoá, thần kinh đặc biệt là suy giảm khả năng miễn
		dịch, đề kháng của cơ thể, trẻ dễ mắc các bệnh khác. Để phòng bệnh cam ở
		trẻ, chế độ nuôi dưỡng là rất quan trọng ngay từ những ngày đầu khi trẻ
		ăn dặm. Xin giới thiệu một số món ăn – nước uống bổ dưỡng, chữa bệnh cam
		ở trẻ để các bà mẹ có thể tham khảo thực hiện.</span></p>
    <h2 style="margin:0cm;margin-bottom:.0001pt">
        <span style="font-size: 12.0pt; color: black">&nbsp;</span></h2>
    <h2 style="margin:0cm;margin-bottom:.0001pt">
        <span style="font-size: 12.0pt; color: black">1. Cháo ý dĩ:</span></h2>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Ý dĩ 50g, cháy cơm 30g, hạt sen 50g, đường
		30g. </span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Ý dĩ xay thành bột. Cháy cơm loại vàng ngon
		phơi khô sao vàng xay thành bột. Hạt sen ngâm với nước chanh một đêm hôm
		sau vớt ra phơi khô tán bột. Tất cả cho vào nồi thêm cho nước vừa đủ,
		đun trên lửa nhỏ, cháo chín cho đường vào quấy đều, cháo sôi lại là được.
		</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Cho trẻ ăn lúc còn nóng, chia 3 lần trong
		ngày, cần ăn từ 10 – 20 ngày.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
        <span style="color:black">&nbsp;</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><b>
        <span style="color:black">2. Cháo thịt cóc:</span></b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Thịt cóc 5g, củ mài 20g, gạo tẻ 50g, gạo nếp
		20g, muối vừa đủ. </span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Chọn cóc vàng, làm thịt chỉ lấy mình và đùi,
		rửa nhiều lần nước cho sạch, nướng vàng, tán thành bột. Củ mài sấy khô,
		tán thành bột. Gạo tẻ và gạo nếp xay thành bột. Cho bột củ mài, bột gạo
		tẻ vào nồi thêm nước vừa đủ, đun trên lửa nhỏ, cháo chín cho bột thịt
		cóc vào quấy đều, khi cháo sôi lại là được. Trước khi ăn thêm muối cho
		vừa miệng. </span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Ngày ăn 3 lần, cần ăn trong nhiều ngày, có
		thể không cần ăn liên tục mà cứ 5 ngày ăn lại nghỉ 5 ngày, sau đó tiếp
		tục ăn.</span></p>
    <p style="text-align: center; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">
        <img border="0" src="http://www.thaythuoccuaban.com/images/chao-thit-coc.jpg" width="300" height="199" lowsrc="Trẻ%20suy%20dinh%20dưỡng%20ăn%20cháo%20thịt%20cóc" longdesc="Trẻ suy dinh dưỡng ăn cháo thịt cóc" alt="Trẻ suy dinh dưỡng ăn cháo thịt cóc"></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><b>
        <span style="color:black">3. Cháo củ mài:</span></b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Củ mài 20g, gạo 50g, biển đậu 10g, lòng đỏ
		trứng gà 1 cái, đường trắng 20g. </span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Củ mài sấy khô. Gạo, biển đậu đều xay thành
		bột. Trứng gà luộc bóc lấy lòng đỏ, cho vào bột gạo dầm nát trộn đều.
		Tất cả cho vào nồi nồi thêm 200ml nước đun trên lửa nhỏ. Khi cháo chín
		cho đường quấy đều, cháo sôi lại là được. </span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        <span style="color:black">- Cho trẻ ăn ngày 1 lần, cần ăn liền 15 ngày.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        <span style="color:black">&nbsp;</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><b>
        <span style="color:black">4. Cháo ếch:</span></b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Ếch 1 con (150 – 200g), cà rốt 50g, gạo 50g,
		mắm muối vừa đủ. </span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Ếch làm thịt bỏ đầu và nội tạng, bỏ bàn chân,
		ướp mắm muối trong 20 phút. Cà rốt gọt vỏ, rửa sạch mài thành bột. Cho
		gạo và ếch vào ninh nhừ thành cháo, trước khi ăn cho cà rốt vào quấy đều,
		cháo sôi lại là được. </span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Cho trẻ ăn ngày 1 lần, cần ăn liền 5 – 10
		ngày.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
        <span style="color:black">&nbsp;</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><b>
        <span style="color:black">5. Cháo chim cút:</span></b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Chim cút 1 con (250 – 300g), gạo nếp 30g,
		gạo tẻ 50g, vỏ quýt khô 30g, mắm muối vừa đủ. </span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Chim cút làm sạch (bỏ ruột, phổi, phần đầu
		từ mắt trở lên, chân), ướp mắm muối trong 20 phút. Vỏ quýt tán thành bột
		cho vào bụng chim cút, cùng gạo tẻ, gạo nếp nước vừa đủ ninh thành cháo.
		</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Cho trẻ ăn ngày 1 lần, cần ăn liền 5 – 10
		ngày.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><b>
        <span style="color:black">&nbsp;</span></b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><b>
        <span style="color:black">6. Bột chữa cam:</span></b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Gạo nếp 200g, củ mài 50g, củ súng 15g, ý dĩ
		10g, sơn tra 10g, trần bì 10g. </span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Gạo nếp ngâm ngập nước một đêm vớt ra để ráo
		rồi rang trên lửa nhỏ cho vàng. Các thức khác đều sấy khô. Tất cả tán
		thành bột mịn. </span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Cho trẻ uống ngày 2 lần, mỗi lần 1 thìa cà
		phê đầy, thêm chút đường hoà vào nước đun sôi để nguội cho trẻ uống. Cần
		uống liền 1 tháng.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        <span style="color:black">&nbsp;</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><b>
        <span style="color:black">7. Gan gà hấp:</span></b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Gan gà 150g, phục linh 10g, bột gia vị vừa
		đủ. Có thể thay gan gà bằng gan lợn.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Phục linh tán thành bột. Gan gà rửa sạch
		thái vừa miếng ướp gia vị. Trộn bột phục linh với gan gà cho đều hấp
		cách thuỷ. </span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Khi chín cho trẻ ăn ngày 1 lần lúc đói, cần
		ăn liền 5 – 10 ngày</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
        <span style="color:black">&nbsp;</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><b>
        <span style="color:black">8. Cá quả hấp:</span></b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Cá quả 1 con (khoảng 250g), tỏi 2 tép vừa,
		bột gia vị vừa đủ. </span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Cá quả làm sạch bỏ ruột, khía trên mình cá 2
		– 3 nhát. Tỏi giã nhỏ cùng bột ngọt, bột gia vị ướp cá, sau 20 phút đem
		hấp cách thuỷ, khi chín cho trẻ ăn. </span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Khi ăn gỡ lấy thịt cá nạc và nước, ngày ăn 1
		lần, cần ăn liền 5 – 10 ngày.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
        <span style="color:black">&nbsp;</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><b>
        <span style="color:black">9. Bài thuốc với lươn</span></b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">Trong y học cổ truyền, lươn được gọi với tên
		thuốc là hoàng thiện, thiện ngư. Lươn tính ôn, vị ngọt, có công hiệu bổ
		khí dưỡng huyết, làm mạnh gân cốt. Thịt lươn ngon và bổ, còn là vị thuốc
		tốt với người thể trạng nhiệt, người thiếu máu, gầy còm mệt mỏi; trẻ em
		gầy yếu, xanh xao, bụng ỏng đít beo. Thịt lươn cuốn lá lốt nướng ăn chữa
		tê thấp; hầm với rau dừa nước là thuốc bổ máu. Xương lươn đem phơi hoặc
		sấy khô giòn, rây bột mịn, uống với nước ấm chữa đau lưng, đầu lươn tính
		ôn bổ não.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        <b><span style="color:black">* Bài 1</span></b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Thịt lươn 300g; đương quy, đẳng sâm, gừng
		tươi mỗi thứ 15g; hành tây 25g, muối ăn vừa đủ.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Lươn rửa sạch, thái sợi, đương quy và đẳng
		sâm cho vào túi vải, bỏ vào nồi cùng thịt lươn, đổ nước nấu trong 1 giờ,
		vớt bỏ túi thuốc, gia hành, gừng, muối, nấu thêm 1 giờ nữa là được.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        <span style="color:black">- Cho trẻ ăn thịt lươn và nước.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        <b><span style="color:black">* Bài&nbsp; 2</span></b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Lươn 1 con to, kê nội kim 6g, hành, gừng,
		nước tương, muối, rượu vang, bột ngọt vừa đủ. </span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Lươn làm thịt, bỏ nội tạng rửa sạch, cắt
		đoạn dài 6cm; kê nội kim rửa sạch, bỏ vào bát sứ cùng thịt lươn thêm
		hành, gừng, rượu, muối, nước tương dùng lửa lớn chưng chín, rắc bột ngọt
		vào trộn đều là được.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        <b><span style="color:black">* Bài 3: Chữa mồ hôi tay chân ra nhiều:</span>&nbsp;</b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        - <span style="color:black">Lươn 1&nbsp; con làm sạch, luộc qua, gỡ lấy thịt;
		ý dĩ nhân 20g để sống, phơi khô hoặc sao vàng, giã nhỏ thành bột; gạo
		nếp 30g vo kỹ, để ráo nước, giã thành bột. Trộn chung 3 thứ, thêm ít
		muối, nấu với nước cho chín, ăn nóng.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
        <span style="color:black">&nbsp;</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><b>
        <span style="color:black">10. Táo đỏ, đậu xanh hầm sườn heo</span></b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Sườn heo 350g, táo đỏ 50g, đậu xanh 50g,
		nước 1200ml, muối 5g, bột gà 5g, đường 3g, gừng 10g.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Rửa sạch sườn heo, chặt thành từng miếng nhỏ,
		táo đỏ rửa sạch, gừng thái lát</span>. <span style="color:black">Bắc nồi
		lên bếp, cho nước, sườn, gừng, đậu xanh, táo đỏ đun sôi to lửa sau đó để
		lửa vừa trong 45 phút là được.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
        <span style="color:black">&nbsp;</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><b>
        <span style="color:black">11. &nbsp;Mọc thịt nấm hương tươi</span>&nbsp;</b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Bột mỳ 600 g, thịt lợn (thịt nạc vai) 300g,
		măng 120g , nấm (khô) 15g, muối 6 gam , đường mạch nha 35g, mỳ chính 3g,
		nước tương 25g, hạt tiêu 2g, dầu vừng 25g, dấm 15g.</span>&nbsp;</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        - <span style="color:black">Nấm hương, măng ngâm nước, rửa sạch, thái
		thành từng miếng hạt lựu; thịt lợn rửa sạch xay nhỏ. Cho thịt heo vào
		trong bát, cho thêm muối, bột ngọt, xì dầu, trộn đều cho thêm nước, đánh
		nhuyễn, thêm nấm, măng, dầu mè, hạt tiêu bột trộn đều. Thêm bột và dấm
		đánh đều, rồi viên thành từng viên nhỏ. Đun nước sôi rồi thả từng miếng
		mọc vào, khi sôi trở lại là có thể dùng được.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
        <span style="color:black">&nbsp;</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><b>
        <span style="color:black">12. Cháo kê nấm hương</span></b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        <span style="color:black">- Kê 50g, nấm hương (tươi) 50g</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Trước tiên cho kê vào nấu cháo, khi tương
		đối nhừ thì cho tiếp nấm hương vào nấu cùng.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black"><br>
		<b>13. Bò hầm lục vị:</b></span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Thịt bò bắp 2.500 g, vỏ quýt khô 6g, thảo
		quả 10g, sa nhân 6g, riềng 6 g hạt tiêu 15g, gừng 50g, hành lá 50 g ,
		muối 75g. </span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Thịt bò lọc bỏ hết màng, gân, rửa sạch chần
		qua nước đun sôi, vớt ra để ráo nước thái thành miếng to. Lấy hạt tiêu,
		vỏ quýt, thảo quả, sa nhân,riềng nghiền thành thành bột, sau đó lấy nước
		gừng, hành tây trộn với bột cho thêm 75 g muối thành hỗn hợp bột. Lấy
		thịt bò trộn đều vào hỗn hợp bột trên, ướp kín khoảng 2 ngày, dùng nước
		rửa sạch, để ráo, cho vào lò nướng chín.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
        <span style="color:black">&nbsp;</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><b>
        <span style="color:black">14. Cháo thịt bò băm nhỏ lòng đỏ trứng:</span></b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
		<span style="color:black">- Thịt bò 100g, gạo 100g, lòng đỏ trứng 30g,
		hành tây 10 g, vừng trắng 5g, xì dầu 10g, muối 3g.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
		<span style="color:black">- Vo sạch gạo để ráo trong khoảng nửa giờ;
		thịt bò rửa sạch băm nhỏ; hành tây rửa sạch, thái nhỏ. Cho vào nồi lượng
		dầu thích hợp, cho thịt và hành vào xào thơm, cho thêm chút xì dầu vào
		đảo đều. Sau đó, thêm gạo và nước vào đun sôi, sau đó vặn nhỏ lửa đun
		tiếp khoảng 40 phút.</span>&nbsp;<span style="color:black">Cho muối vào rồi
		múc ra, cho thêm lòng đỏ trứng vào đánh đều.</span>&nbsp;<span style="color:black">Cuối
		cùng cho thêm vừng vào là có thể ăn được</span>&nbsp;</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">&nbsp;</p>

    <p style="text-align: center; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">&nbsp;</p>
    <h3 align="center" style="margin:0cm;margin-bottom:.0001pt;text-align:center;
text-indent:14.0pt"><span style="font-size:20.0pt;color:black">
		<a name="Một_số_mẫu_thực_đơn_phục_hồi_trẻ_suy_dinh_dưỡng_tại_nhà">Một số
            mẫu thực đơn phục hồi trẻ suy dinh dưỡng tại nhà</a> (SDD độ I và II)</span></h3>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        <span style="color:black">&nbsp;</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><b>
        <span style="font-size:14.0pt;color:black">1. Trẻ dưới 6 tháng: </span>
    </b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">Ở lứa tuổi này trẻ bú sữa mẹ theo nhu cầu của
		trẻ. Nếu mẹ đủ sữa hoặc ăn sữa bột công thức đúng phương pháp thì rất ít
		khi bị SDD. Vì vậy, nguyên nhân trẻ bị SDD ở lứa tuổi này là do thiếu
		sữa cho nên thức ăn dùng cho trẻ tốt nhất là sữa.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">Trường hợp mẹ bị thiếu sữa thì bên cạnh việc
		chăm sóc dinh dưỡng cho bà mẹ để mẹ có đủ sữa nuôi con (Bà mẹ cần ăn đủ,
		ngủ tốt, làm việc nhẹ nhàng) cần phải dùng các sản phẩm thay thế sữa mẹ</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">Nếu gia đình có điều kiện thì dùng sữa bột
		giàu năng lượng: Similacneosue pha đúng theo công thức hướng dẫn, trẻ ăn
		ít có thể tăng số bữa lên 10 -12 bữa/24h.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">Nếu không có điều kiện có thể dùng các loại
		sữa bột công thức dành cho trẻ &lt; 6 tháng tuổi hoặc thay thế bằng sữa đậu
		nành: cứ 150g đậu nành chế biến thành 1 lít sữa + 35g dầu ăn và 100g
		đường cho trẻ ăn nhiều bữa trong ngày.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">Trong trường hợp trẻ không chịu ăn sữa, nếu
		trẻ đã tròn 4 tháng có thể dùng nước cháo xay pha sữa cho trẻ uống nhiều
		bữa trong ngày theo công thức sau đây:</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        <span style="color:black">- Gạo tẻ: 30g (1 nắm tay)</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        <span style="color:black">- Thịt nạc: 30g</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        <span style="color:black">- Rau củ: 50g</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">Nấu chín xay nhuyễn thành 600 – 700ml nước
		cháo pha sữa theo tỉ lệ bình thường cho trẻ ăn nhiều bữa trong ngày.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        <span style="color:black">&nbsp;</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><b>
        <span style="font-size:14.0pt;color:black">2. Trẻ từ 6 – 12 tháng:</span></b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">Cho trẻ ăn nước cháo xay trộn sữa như trên
		nhưng tăng thêm lượng thịt, gạo và rau củ, </span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">Trường hợp trẻ không thích ăn cháo trộn sữa
		thì dùng sữa cao năng lượng (Similacneosue) pha với nước sôi để ấm theo
		hướng dẫn mỗi ngày uống 500ml </span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">Cho ăn bột hoặc cháo xay 3 -4 bữa/ngày, trẻ ăn
		ít có thể tăng số bữa lên, dùng nước giá đậu xanh để làm lỏng thức ăn:
		10g giá đậu xanh/10g bột (giá đậu xanh giã nhỏ lọc lấy nước nấu bột).</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        <span style="color:black">&nbsp;</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><b>
        <span style="font-size:14.0pt;color:black">3. Trẻ 13 -24 tháng:</span></b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">6h: 150 – 200ml sữa cao năng lượng (Pediecare,
		Berlamin, Calosue, Makersue…)</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        <span style="color:black">9h: Cháo thịt + rau: 200ml (1 bát ăn cơm)</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        <span style="color:black">- Gạo tẻ: 30g (1 nắm tay)</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Thịt nạc: 50g (hoặc cá, tôm, cua: 50g, trứng
		gà: 1 quả)</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        <span style="color:black">- Dầu: 10ml (2 thìa cà phê)</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        <span style="color:black">- Rau xanh: 20g (2 thìa cà phê)</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        <span style="color:black">12h: Sữa: 200ml</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        <span style="color:black">14h: Chuối tiêu: 1 quả hoặc đu đủ 1 miếng</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        <span style="color:black">17h: Cháo thịt (cá, tôm, trứng) + rau + dầu</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">Nếu trẻ đang bú mẹ vẫn phải tiếp tục cho bú và
		thời gian cho bú kéo dài từ 18 – 24 tháng. Khi cai sữa vẫn nên cho trẻ
		ăn thêm sữa bò hoặc sữa đậu nành.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        <span style="color:black">&nbsp;</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><b>
        <span style="font-size:14.0pt;color:black">4. Trẻ 25 – 36 tháng:</span></b></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        <span style="color:black">7h: Sữa cao năng lượng: 200ml</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">11h: Cơm nát + thịt (cá, trứng, tôm...) + canh
		rau.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">Cơm: 2 lưng bát (70g gạo), thịt: 50g (hoặc
		trứng: 1 quả), rau: 100g, dầu (mỡ): 5g</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        <span style="color:black">14h: Cháo + thịt + rau + dầu: 200ml</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">Gạo tẻ: 30g (1 nắm tay), thịt nạc: 50g (hoặc
		cá, tôm, cua: 50g, trứng gà: 1 quả), dầu: 10ml (2 thìa cà phê), rau xanh:
		20g (2 thìa cà phê).</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">17h: Cơm nát + trứng (thịt, cá, tôm...) + canh
		rau</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">20h: Hỗn hợp bột dinh dưỡng: 200ml, hoặc súp:
		khoai tây thịt + rau + dầu (mỡ): 1 bát con.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">Súp khoai tây gồm có khoai tây: 100g (1 củ
		to), thịt (gà, bò, lợn): 50g, bắp cải: 50g, dầu (mỡ): 1 thìa cà phê. Ăn
		thêm các loại quả chín theo nhu cầu của trẻ.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">&nbsp;</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        <span style="color:black">&nbsp;</span></p>

    <p style="text-align: center; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt">&nbsp;</p>
    <p align="center" style="margin:0cm;margin-bottom:.0001pt;text-align:center">
        <em><b>
		<span style="font-size: 20.0pt; color: black; font-style: normal">
		<a name="Chế_độ_ăn_phòng_và_điều_trị_suy_dinh_dưỡng_ở_trẻ_">Chế độ ăn
            phòng và điều trị suy dinh dưỡng ở trẻ</a></span></b></em></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        <em><span style="color: black; font-style: normal">&nbsp;</span></em></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        <em><span style="color: black; font-style: normal">Suy dinh dưỡng dẫn
		đến nhiều hậu quả như trẻ thiếu năng lượng, không thể tăng cân, không
		phát triển chiều cao và giảm trí thông minh. </span></em></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
        <em><span style="color: black; font-style: normal">Vì vậy chế độ ăn đối
		với trẻ suy dinh dưỡng là làm sao để khẩu phần ăn của trẻ có thể giúp
		trẻ tăng năng lượng và tăng chất dinh dưỡng cho cơ thể </span></em>
		<span style="color:black">hoặc để tăng cường khả năng hấp thu bữa ăn tốt
		hơn.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">Bài viết này chúng tôi cung cấp đến bạn đọc
		một số nguyên tắc xây dựng chế độ ăn giúp cải thiện nhanh tình trạng suy
		dinh dưỡng ở trẻ</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
        <span style="color:black">&nbsp;</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><b>
        <span style="color:black">* Cung cấp đủ năng lượng: &nbsp;</span></b></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 6.45pt; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">- Cung cấp đủ năng lượng theo lứa tuổi của trẻ,
		bằng cách ăn đủ các bữa cháo, bột, cơm… với đầy đủ 4 nhóm: tinh bột,
		chất đạm, dầu ăn và rau quả.</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 6.45pt; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">- Ưu tiên các thức ăn chứa nhiều chất đạm.
		<span style="background: white">Chất đạm có nguồn gốc động vật như: thịt,
		cá, trứng, tôm, cua,… Chất đạm có nguồn gốc từ thực vật như các loại đậu…</span></span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 6.45pt; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <span style="color:black">- Tinh bột: Gạo, khoai tây.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">- Tăng chất béo
		<span style="background: white">như dầu, mỡ, bơ, vừng, đậu phộng...
		</span>Lượng dầu mỡ sẽ giúp cung cấp năng lượng gấp đôi so các loại chất
		khác như đạm và tinh bột cho trẻ. Dầu mỡ còn giúp cơ thể hấp thụ các
		dưỡng chất khác tốt hơn như: <span style="background: white">sự hấp thu
		vitamin A, D phòng-chống được bệnh khô mắt, còi xương cho trẻ</span>.
		Các mẹ nên cho thêm vào khẩu phần ăn của trẻ một thìa dầu ăn hoặc mỡ.
		<span style="background: white">dầu mỡ còn giúp. </span>Hiện tại trên
		thị trường có rất nhiều loại dầu ăn giành cho trẻ có thể dùng trộn ngay
		vào thức ăn sau khi đã nấu chín.</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 6.45pt; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">- Ăn nhiều rau xanh quả chín: rau quả cung cấp
		nhiều vi chất dinh dưỡng <span style="background: white">chứa nhiều
		vitamin, chất xơ và muối khoáng như các loại rau có màu xanh thẫm (rau
		ngót, rau cải, mồng tơi…), cà rốt, bí đỏ, trái cây như đu đủ, chuối…
		</span>Giúp phòng ngừa táo bón và giúp trẻ hấp thu tốt các vi chất như:
		canxi, sắt, kẽm...</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 6.45pt; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">- Chọn các thực phẩm giàu canxi, sắt, kẽm:
		cũng chính là các thức ăn có nguồn gốc động vật, giàu chất đạm: trứng,
		sữa, thủy sản, thịt… đặc biệt các loại thức ăn có chứa nhiều kẽm như:
		thịt gà, thịt cóc, con hàu... </span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 6.45pt; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">- Chế độ ăn cũng cần bổ sung các vi chất dinh
		dưỡng (vitamin và muối khoáng) dưới dạng thuốc như: vitamin D, vitamin
		A, canxi, kẽm, sắt, men tiêu hóa… theo hướng dẫn của bác sĩ. Các bà mẹ
		không nên tự ý mua thuốc cho con vì tuy là thuốc bổ nhưng nếu dùng không
		đúng cũng sẽ gây ra hậu quả không tốt cho sức khỏe của trẻ.</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 6.45pt; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <span style="color:black">&nbsp;</span></p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 6.45pt; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b><span style="color:black">* Bữa ăn cho trẻ</span></b></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 6.45pt; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">- Nên cho trẻ bú mẹ hoàn toàn trong 6 tháng và
		tiếp tục bú đến 2 tuổi. Sữa mẹ luôn là thức ăn đầu đời hoàn hảo nhất cho
		trẻ sơ sinh và là thức ăn tốt, đựoc trẻ chấp nhận trong giai đọan sau.
		Sữa mẹ, ngoài cung&nbsp; cấp chất dinh dưỡng còn cung cấp các yếu tố chống
		lại bệnh tật, bảo vệ trẻ khỏi các bệnh lý nhiễm trùng.</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 6.45pt; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">- Nếu mẹ thiếu hoặc mất sữa thì phải được bổ
		sung sữa bột công thức theo tháng tuổi:</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 6.45pt; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">+ <span style="background: white">Trẻ từ 6
		tháng đến 7 tháng tuổi bú mẹ là chính, bổ sung từ 1 đến 2 bữa bột và
		nước hoa quả</span></span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 6.45pt; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color: black; background: white">+ Trẻ 8-9 tháng tuổi, bú
		mẹ, bổ sung 2-3 bữa bột đặc, nước hoa quả</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 6.45pt; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color: black; background: white">+ Trẻ 10-12 tháng tuổi, bú
		mẹ, bổ sung 3-4 bữa bột đặc hoặc cháo, hoa quả nghiền</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 6.45pt; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color: black; background: white">+ 1-2 tuổi, bú mẹ, 3 bữa
		chính, 2 bữa phụ, hoa quả</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        <span style="color: black; background: white">+ </span>
		<span style="font-size: 12.0pt; color: black; background: white">Từ 3
		tuổi trở lên, cho trẻ ăn cơm như người lớn nhưng phải được ưu tiên thức
		ăn riêng và cho ăn thêm 2 bữa phụ như cháo, súp, sữa…</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 6.45pt; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">- Khi trẻ đã lớn vẫn phải duy trì uống sữa
		hàng ngày vì sữa là nguồn cung cấp canxi chính trong bữa ăn của trẻ,
		nhất là trẻ còn nhỏ chưa ăn được nhiều tôm, cua, cá. Hơn nữa canxi trong
		sữa lại dễ hấp thu hơn trong các loại thực phẩm khác. Sữa bột giàu năng
		lượng: </span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 6.45pt; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <span style="color:black">+ Trẻ &lt; 1 tuổi: dùng sữa Similacneosue, </span>
    </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 6.45pt; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">+ Trẻ &gt; 1 tuổi: dùng sữa Pediesue, Pediecare,
		Berlamin, Calosue, Makersue…, hoặc các loại sữa bột công thức theo tháng
		tuổi (nếu không có điều kiện có thể dùng sữa đậu nành).</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">- Tăng bữa ăn: Ngày ăn 5-6 bữa thay vì chỉ ăn
		3 bữa. Cho trẻ ăn thêm bữa tối trước khi ngủ. </span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">- Nên ăn thêm bữa phụ ví dụ như sau khi ăn bữa
		chính nếu trẻ ít hơn nửa chén thì cho trẻ uống nửa ly sữa, nửa cốc sữa
		chua, nửa quả chuối…, vì làm như vậy trẻ đỡ chán ăn. </span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">- Tuy nhiên, bữa phụ cần cách bữa chính khoảng
		1,5 tiếng và không nên cho trẻ ăn quá nhiều ở bữa phụ vì như thế sẽ làm
		trẻ ngang dạ, ảnh hưởng tới bữa chính. </span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 6.45pt; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        - Lưu ý, không nên cho trẻ uống nước trái cây trước khi ăn hoặc coi nước
        trái cây là một bữa phụ vì nước trái cây rất ít năng lượng, ít chất xơ,
        chỉ có vitamin tan trong trong nước và có đường nên sẽ làm trẻ “ngang dạ”
        không muốn ăn bữa chính. <span style="color: black; background: white">
		Không cho trẻ ăn bánh, kẹo, uống nước ngọt trước bữa ăn sẽ làm cho trẻ
		chán ăn hoặc ăn ít trong bữa ăn.</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">- Tránh ép con ăn mà nên tìm cách làm cho con
		thích thú với bữa ăn để tránh làm cháu bị biếng ăn do tâm lý. </span>
    </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 6.45pt; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">- <span style="background: white">Cho trẻ ăn
		nhiều hơn trong thời gian bị bệnh và sau khi khỏi bệnh; đặc biệt khi trẻ
		bị tiêu chảy và sốt cao cần cho trẻ uống nhiều nước.</span></span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 6.45pt; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <span style="color:black">&nbsp;</span></p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 6.45pt; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b><span style="color:black">* Chế biến thức ăn cho trẻ suy dinh dưỡng</span></b></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 6.45pt; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">- Nấu đặc vừa phải: Nếu nấu loãng, nhiều nước
		thì năng lượng sẽ thấp. Nhưng cháo quá đặc trẻ sẽ khó nuốt. Do đó ta có
		thể dùng men amylase (có trong bột mộng bắp) hoặc neopeptin theo chỉ
		định của bác sĩ nhỏ vào chén bột đặc sẽ làm bột lỏng ra và trẻ sẽ dễ ăn
		hơn.</span></p>
    <h2 style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:
14.0pt"><em><span style="font-size:12.0pt;color:black;font-style:normal">-
		</span></em><span style="font-size: 12.0pt; font-weight: normal">Với trẻ
		ăn được cơm, tốt nhất là cho trẻ ăn cơm, cơm giúp trẻ no lâu.</span></h2>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">- Không nên xay thức ăn quá nhuyễn vì trong
		quá trình xay, các chất dinh dưỡng trong thức ăn bị chuyển hoá. </span>
    </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">- Khi chế biến phải chú ý băm nhỏ (trứng, thịt
		băm, cá băm, rau cũng nên xắt nhỏ), nấu mềm sao cho trẻ vẫn có cảm giác
		được nhai chứ không chỉ thụ động nuốt.</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">- Nêm phù hợp với khẩu vị của trẻ. Trẻ thường
		ăn nhạt và không thích có nhiều mùi gia vị. </span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 6.45pt; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        - <span style="color:black">Luôn thay đổi món ăn để trẻ ăn ngon miệng.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size:12.0pt;color:black">-
		<span style="background: white">Trong quá trình chế biến phải đảm bảo vệ
		sinh tránh gây rối loạn tiêu hóa, rửa tay sạch trước khi chế biến và
		trong khi cho trẻ ăn. Dụng cụ chế biến rửa kỹ, lựa chọn thực phẩm tươi
		mới và không có các loại hóa chất độc hại để chế biến thức ăn cho trẻ;
		không nên cho trẻ ăn bột ngọt, các loại thực phẩm để lâu, </span>hạn chế&nbsp;
		cho trẻ dùng các thực phẩm chế biến sẵn, đóng hộp, nấu nướng thức ăn
		chín kỹ.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; color: black; background: white">- Mỗi
		lần cho ăn nên chế biến bữa ăn mới, không dùng thực phẩm cũ hâm nóng lại.
		</span></p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <strong><span style="color:black">* Thực phẩm RUTFs</span></strong></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">Trong những năm gần đây, thực phẩm trị bệnh (RUTFs)
		đã được sử dụng rộng rãi cho việc điều trị suy dinh dưỡng nặng ở trẻ em.
		RUFs là loại thực phẩm rất tốt, đáp ứng được các nhu cầu dinh dưỡng của
		trẻ vừa bị suy dinh dưỡng. RUFs bao gồm rau, chất béo, sữa và đường.</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">Tiêu biểu cho nhóm thực phẩm này là ngô và đậu
		tương.</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">Đậu tương có giá trị dinh dưỡng rất cao. Đạm
		đậu tương có giá trị như đạm động vât. Còn trong hạt ngô có chứa
		flagellat 38%, abscisin 18%, protein từ 1,8 - 4,45% và tryptophan 0,4 -
		1%... Chính vì thành phần dinh dưỡng phong phú và đầy đủ này mà ngô đã
		được dùng rất nhiều trong thành phần thức ăn bổ sung. Ngô vừa là món ăn
		ngon vừa giúp tái tạo và tăng cường năng lượng.</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">Mặt khác, trong ngô có chứa nhiều vitamin E và
		tốt cho tiêu hóa. Kết hợp ngô và đậu tương làm món ăn pha trộn thì nó
		rất có giá trị trong việc điều trị suy dinh dưỡng ở trẻ em.</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <strong><span style="color:black">&nbsp;</span></strong></p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <strong><span style="color:black">* Năng lượng cao và bánh quy (HEBs)</span></strong></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">HEBs có thành phần chủ yếu là lúa mì. Trong
		khoảng 100gram bánh quy thì lúa mì cung cấp khoảng 10 - 15 gram protein.
		Ngoài ra, là các thành phần vitamin và khoáng chất khác. Bánh quy và
		năng lượng cao là những chất rất dễ hấp thu và nhanh chóng cải thiện mức
		độ dinh dưỡng cho trẻ.</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <strong><span style="color:black">&nbsp;</span></strong></p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <strong><span style="color:black">* Vi bột hay “Sprinkles”</span></strong></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">Đây là loại bột có chứa 16 vi sinh tố và
		khoáng chất. Nó được nấu ngay trước khi cho bé ăn. Bột này được nấu để
		cho bé một bữa ăn nóng, cung cấp rất nhiều chất dinh dưỡng cần thiết cho
		bé.</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">Đồng thời, bột này có chứa men amylaza thủy
		phân tinh bột, làm bột lỏng ra nên có thể tăng lượng bột lên mà thể tích
		và độ lỏng không thay đổi. Trẻ ăn hết khẩu phần mà không bị tức bụng,
		hiệu suất chuyển hóa gluxit, protein tăng đáng kể.</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">Ngoài ra, hạt nảy mầm còn cung cấp thêm một số
		vitamin, các vi chất dinh dưỡng có tác dụng chống suy dinh dưỡng cho trẻ
		em.</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">Hạt nảy mầm gồm đỗ, ngô, lúa, giá đậu xanh.
		Với bát bột 200 ml, chúng có thể làm tăng lượng bột lên 2 - 3 lần mà vẫn
		giữ nguyên độ lỏng</span><span style="font-size:12.0pt;color:black">&nbsp;</span></p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 6.45pt; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b><span style="color:black">* Phòng chữa bệnh cho trẻ</span></b></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 6.45pt; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">- Trẻ phải được vệ sinh, tắm rửa sạch sẽ. Phải
		giữ ấm về mùa đông, phòng ở thoáng mát về mùa hè, đầy đủ ánh sáng. Những
		loại thực phẩm nên dùng cho&nbsp;<a title="trẻ suy dinh dưỡng" style="color: blue; text-decoration: underline; text-underline: single" href="http://3tpharma.com.vn/tag/suy-dinh-duong-o-tre-em/"><span style="color: black; text-decoration: none">trẻ
		suy dinh dưỡng</span></a>.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; color: black; background: white">- Muốn
		biết trẻ đã được ăn uống đúng và đủ chưa, cần theo dõi cân nặng của trẻ
		trên biểu đồ phát triển hàng tháng. Nếu trẻ lên cân đều đặn là trẻ được
		nuôi dưỡng tốt, còn không lên cân thì có thể trẻ bị bệnh hoặc nuôi dưỡng
		không đúng.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size:12.0pt;color:black">- Điều trị triệt để các bệnh
		lý nhiễm trùng hô hấp, tiêu chảy… không cần lạm dụng kháng sinh mà chỉ
		dùng KS đủ liều, đủ thời gian, chăm&nbsp; sóc dinh duỡng tích cực trong thời
		gian bệnh và phục hồi dinh dưỡng sau thời gian bệnh.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        <strong>
		<span style="font-size: 12.0pt; color: black; font-weight: normal; border: 1.0pt none windowtext; padding: 0cm">
		-&nbsp;Xổ giun định kỳ mỗi 6 tháng cho trẻ trên 2 tuổi.</span></strong></p>
</font>
</div>