﻿<div id="noidung">


    <p align="center"><font color="#000000" size="3"><font color="#0000FF"><b><font size="5" color="#000080">Chế độ ăn uống, kiêng kị cho
        bệnh Huyết áp thấp</font></b></font></font></p>
    <font face="Times New Roman">&nbsp; </font>
</h1
    <p></p>

    <p style="margin:0 5px; " align="justify">
        <font color="#000000" size="3">
		<span style="font-size:13.0pt">
		<a href="Chế%20độ%20ăn%20co%20bệnh%20huyết%20áp%20thấp">
            <img border="0" src="http://www.thaythuoccuaban.com/images/thuc-pham-cho-benh-huyet-ap-thap.jpg" width="208" height="207" lowsrc="Chế%20độ%20ăn%20co%20bệnh%20huyết%20áp%20thấp" longdesc="Chế độ ăn co bệnh huyết áp thấp" alt="Chế độ ăn co bệnh huyết áp thấp" align="left"></a></span><span style="font-size:12.0pt; font-family:Times New Roman; color:windowtext; font-weight:normal">Theo y học cổ truyền Huyết áp thấp có
		những nguyên nhân sau:<br>
		- Tâm dương bất túc;Thường gặp ở người thanh nữ và người cao tuổi biểu
		hiện ;Váng đầu hoa mắt tinh thần mệt mỏi, buồn ngủ , ngón tay lạnh, chất
		lưỡi nhạt bệu , rêu trắng nhuận , mạch hoãn vô lực hoặc trầm tế<br>
		- Tâm tỳ hư:biểu hiện Váng đầu, hồi hộp, thở ngắn, tinh thần mỏi mệt,
		chân tay vô lực sợ lạnh tự, hón ăn kém, ăn xong bụng đầy lưỡi nhạt rêu
		trắng hoạt mạch hoãn vô lực <br>
		-Tỳ thận dương hư :biểu hiện Váng đầu, ù tai mất ngủ mệt mỏi ngắn hơi,
		ăn kém đau lưng mỏi gối, chân tay lạnh, sợ lạnh hoặc di tinh liệt dương,
		tiểu tiện đi đêm lưỡi nhạt rêu trắng mạch trầm nhược <br>
		- Khí âm hư. biểu hiện: Đau đầu chóng mặt, miệng khát họng khô, lưỡi
		thon đỏ ít rêu, khô mạch tế sác<br>
		Theo tây y Huyết áp thấp bệnh lý do giảm trương lực thần kinh - mạch máu
		(bệnh huyết áp thấp) thường gặp ở phụ nữ trẻ; với các biểu hiện như đau
		đầu, chóng mặt, rối loạn giấc ngủ, rối loạn chức năng tim mạch (đau ngực
		trái, rối loạn nhịp tim, điện tim biến đổi).<br>
		Để điều chỉnh huyết áp về mức bình thường, những người có huyết áp thấp
		bệnh lý cần thực hiện các quy tắc về ăn uống. giữa chế độ ăn và huyết áp
		thấp không có sự liên kết chặt chẽ, nhưng người ta thấy huyết áp thấp
		thường gặp ở những người ăn ít, hay bỏ bữa, khoảng cách giữa các bữa quá
		xa, dẫn đến giảm hàm lượng đường máu. Thói quen này làm giảm trương lực
		(sự đàn hồi, sự dẻo dai) của mạch máu, và kết quả là tụt huyết áp. Vì
		vậy, phải duy trì chế độ ăn hợp lý 3-4 bữa/ngày (ăn giảm khối lượng, tức
		chia nhỏ khẩu phần ăn trong ngày). Không được dùng chế độ ăn kiêng để
		giảm cân nhanh.<br>
		Một số thức ăn đồ uống có tác dụng làm tăng huyết áp như: cà phê, nước
		chè đặc, ăn thức ăn đậm đà muối, nước sâm, bột tam thất, rau cần tây,
		nước nho.Chất caffein trong cà phê có tác dụng làm tăng huyết áp, ngày
		có thể uống 1-2 cốc cà phê đặc, tốt nhất là cà phê không tan tự pha.
		Không uống quá 2 cốc/ngày để tránh bị nghiện, mất ngủ, rối loạn nhịp tim.
		Tuy nhiên, vì cà phê gây kích thích tiết dịch vị dạ dày nên những người
		bị viêm loét dạ dày nên uống với bột kem cà phê. Nếu không uống được cà
		phê thì có thể thay thế bằng nước chè đặc. Nếu huyết áp thấp do thiếu
		máu (hay gặp ở phụ nữ), nên tăng cường thức ăn chứa nhiều sắt như thịt
		nạc, gan động vật, mộc nhĩ, nấm hương khô, cần tây, rau đay, rau rền,
		quả lựu, táo.<br>
		Người mắc bệnh huyết áp thấp nên:<br>
		1. Dùng nhiều muối hơn Các bác sĩ thường khuyên nên giảm lượng muối
		trong chế độ ăn hàng ngày vì natri trong muối ăn làm tăng huyết áp. Tuy
		nhiên với những người bị huyết áp thấp thì việc dùng nhiều muối hơn là
		hoàn toàn có thể. Nếu bạn bị bệnh tim cần tham khảo ý kiến bác sĩ trước
		khi điều chỉnh sang chế độ ăn này.<br>
		2. Uống nhiều nước Nên uống khoảng 10 cốc nước mỗi ngày, sau khi tập
		luyện thể thao hay trong những ngày hè nóng nên dùng nước trong thành
		phần có nhiều natri và kali.<br>
		3. Tập luyện đều Tập thể thao đều hàng ngày giúp duy trì lưu thông máu
		trong cơ thể nên giảm chứng huyết áp thấp. Cẩn thận lúc đứng lên đột
		ngột khi đang ở tư thế nằm và ngồi, nên thở sâu vài phút trước khi đứng
		lên để tăng cường lưu thông máu đến các bộ phận của cơ thể<br>
		&nbsp;Rất nhiều người bị huyết áp thấp là do giảm trương lực thần kinh - mạch
		máu, thành mạch máu quá yếu (bị nhão), sức co bóp của tim yếu do cơ tim
		yếu (biểu hiện là tim đập nhanh, yếu). Để củng cố thành mạch và nâng cao
		khả năng đẩy máu của tim, cần tích cực tập luyện thể dục thể thao. Các
		bài tập đi bộ, chạy, bơi, thể dục nhịp điệu, cầu lông... đều rất tốt.</span></font></p>

        <br>
        <br>

</font>

</div>