﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">


    <!-- Place this tag where you want both of the search box and the search results to render -->

<p align="center"><font color="#000000" size="3"><b><font size="5" color="#000080">Chế độ ăn uống, kiêng kị cho </font>
</b>
</font>

</font><font color="#000000" size="3">
    <p class="MsoBodyTextIndent" id="Tim mạch, tim mach, timmach" align="left">&nbsp;&nbsp;&nbsp;
		<span style="color: windowtext; font-size: 12.0pt; font-family: Times New Roman; font-weight: normal">
		<a href="Chất%20xơ%20tốt%20cho%20bệnh%20tim%20mạch">
            <img border="0" src="http://www.thaythuoccuaban.com/images/chat-xo-tot-cho-benh-tim-mach.jpg" width="265" height="190" lowsrc="Chất%20xơ%20tốt%20cho%20bệnh%20tim%20mạch" longdesc="Chất xơ tốt cho bệnh tim mạch" alt="Chất xơ tốt cho bệnh tim mạch" align="left"></a>Kiêng cữ trong ăn uống được xem là một biện pháp điều trị các bệnh tim
		mạch. &nbsp;</span></p>
    <p class="MsoNormal" style="text-align:justify"><b>&nbsp;</b><span style="color: windowtext; font-size: 12.0pt; font-family: Times New Roman; font-weight: 700">Chế
		độ ăn: </span>
		<span style="color: windowtext; font-size: 12.0pt; font-family: Times New Roman; font-weight: normal">
		Ðối với phần lớn các </span>
		<span style="color: windowtext; font-size: 12.0pt; font-family: Times New Roman; font-weight: 700">
		<a target="_parent" >bệnh tim mạch</a></span><span style="color: windowtext; font-size: 12.0pt; font-family: Times New Roman; font-weight: normal">, bác sĩ thường khuyên bạn kiêng ăn
		mặn và chất béo. Hạn chế ăn mặn có ý nghĩa đặc biệt quan trọng nếu bạn
		bị các bệnh suy tim.Ăn mặn ở đây nghĩa là bạn phải hạn chế muối. Muối có
		nhiều trong nước chấm, các loại thức ăn khô như cá khô, chà bông, mắm...
		Tóm lại là bạn phải tránh những thức ăn có vị mặn. người bệnh suy tim
		nặng chỉ nên ăn tối đa 5g muối NaCl (tương đương với 2 muỗng cà phê muối
		ăn) cho cả ngày, tính cả lượng nêm nếm trong khi nấu. </span></p>
    <p class="MsoNormal" style="text-align:justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">
		<span style="color: windowtext; font-size: 12.0pt; font-family: Times New Roman; font-weight: normal">
		Cách tốt nhất là bạn phải hạn chế ăn mặn đến mức tối đa có thể được. Hãy
		tập thay đổi từ từ, đầu tiên đừng dùng nước chấm khi ăn, tránh các loại
		mắm, cá thịt khô, nếu cần hãy nấu ăn riêng. Nên nhớ rằng nếu thực hiện
		được chế độ kiêng cữ tốt thì không những bệnh thuyên giảm mà còn giúp
		bạn giảm bớt được thuốc men, đỡ tốn tiền chữa bệnh. </span></span></p>
    <p class="MsoNormal" style="text-align:justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">
		<span style="color: windowtext; font-size: 12.0pt; font-family: Times New Roman; font-weight: normal">
		Nếu bác sĩ cho biết bạn bị rối loạn mỡ máu hay béo phì, bạn nên hạn chế
		ăn chất béo như thịt mỡ, phô mai, kem, bơ. Các loại thức ăn này làm tăng
		lượng cholesterol trong máu, đọng lại trong mạch máu gây nhiều bệnh như
		nhồi máu cơ tim, tai biến mạch máu não... </span></span></p>
    <p class="MsoNormal" style="text-align:justify">&nbsp;<span style="color: windowtext; font-size: 12.0pt; font-family: Times New Roman; font-weight: normal">Người </span>
        <a href="http://chuabenhtim.com/benhtim/suytim/category/nguyen-nhan-benh-tim-mach/">
            <span style="color: windowtext; font-size: 12.0pt; font-family: Times New Roman; font-weight: 700">bệnh tim</span><span style="color: windowtext; font-size: 12.0pt; font-family: Times New Roman; font-weight: normal"> </span>
        </a><span style="color: windowtext; font-size: 12.0pt; font-family: Times New Roman; font-weight: normal">không cần phải kiêng ăn chất đạm nếu không bị bệnh khác kèm
		theo (như bệnh thận) vì đây là nguồn cung cấp năng lượng cần thiết cho
		cơ thể. Ðặc biệt là các bệnh nhân bị bệnh tim nặng, suy kiệt càng cần
		phải ăn nhiều chất đạm để tạo đủ năng lượng cho cơ thể. Bạn nên tư vấn
		bác sĩ về chế độ ăn của mình, loại thức ăn nào cần phải kiêng và loại
		nào không cần để có một chế độ hợp lý. &nbsp;</span></p>
    <p class="MsoNormal" style="text-align:justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">
		<span style="color: windowtext; font-size: 12.0pt; font-family: Times New Roman; font-weight: normal">
		Các loại rau quả, trái cây chứa nhiều chất xơ, vitamin và các khoáng
		chất vi lượng. Nói chung loại thức ăn này thường chỉ có lợi chứ không
		hại gì đối với cơ thể, ngoài ra chất xơ còn giúp hoạt động của hệ tiêu
		hóa dễ dàng, tránh được táo bón. Một số trái cây còn chứa các chất có
		tác dụng tốt đối với bệnh tim mạch, như bưởi có thể làm giảm mỡ trong
		máu, cà chua có thể giảm nguy cơ bị tai biến mạch máu não... Ngoài ra
		một chất rất quan trọng đối với tim là potasium có nhiều trong các loại
		quả như nho, chuối, dừa. Ðể tim hoạt động tốt, lượng potasium trong máu
		phải ổn định, không quá nhiều hay quá ít. Trong các thuốc chữa bệnh tim,
		có loại thuốc làm giảm potasium, có loại lại làm tăng lượng potasium
		trong máu. Do đó, bạn phải hỏi kỹ bác sĩ xem mình có cần kiêng cữ các
		loại trái cây này hay không? </span></span></p>
    <p class="MsoNormal" style="text-align:justify"><b>&nbsp;</b><span style="color: windowtext; font-size: 12.0pt; font-family: Times New Roman; font-weight: 700">Nước
		uống&nbsp; </span>
		<span style="color: windowtext; font-size: 12.0pt; font-family: Times New Roman; font-weight: normal">&nbsp;&nbsp;
		Nhiều người cho rằng uống càng nhiều nước càng tốt vì giúp lọc sạch cơ
		thể. Thật ra, quan niệm này không hẳn là đúng, nhất là với bệnh tim hay
		bệnh thận. Ðối với một người khỏe mạnh, khi uống nhiều nước, tim và thận
		phải tăng hoạt động để thải bớt nước ra ngoài, giữ sự cân bằng trong cơ
		thể. Ngược lại, ở người đã có bệnh tim hay bệnh thận, hai cơ quan này
		không còn hoạt động tốt nên nước sẽ bị giữ lại trong cơ thể gây triệu
		chứng khó thở, phù, thậm chí còn gây ra tình trạng "ngộ độc nước", biểu
		hiện qua triệu chứng lơ mơ, hôn mê. Nói chung, người bị bệnh tim nên
		uống nước theo nhu cầu cơ thể, nghĩa là chỉ uống khi cảm thấy khát. Nếu
		bệnh của bạn chỉ ở mức độ nhẹ, việc hạn chế uống nước là không cần thiết.
		Những trường hợp suy tim nặng chỉ nên hạn chế uống khoảng 1 lít nước mỗi
		ngày. Nên nhớ rằng uống quá ít nước cũng rất nguy hiểm vì có thể gây tụt
		huyết áp, choáng váng, chóng mặt. Bác sĩ sẽ cho biết nhu cầu nước thế
		nào là phù hợp với mức độ bệnh của bạn. </span></p>
    <p class="MsoNormal" style="text-align:justify"><b>&nbsp;</b><span style="color: windowtext; font-size: 12.0pt; font-family: Times New Roman; font-weight: 700">Rượu
		bia - Thuốc lá:</span><span style="color: windowtext; font-size: 12.0pt; font-family: Times New Roman; font-weight: normal">&nbsp;
		Y học đã chứng minh việc nghiện rượu bia có ảnh hưởng rất xấu đối với
		sức khỏe nói chung và bệnh tim mạch nói riêng. Các nghiên cứu cho thấy
		uống ít hơn 60ml rượu nguyên chất (khoảng 680ml bia, 95ml rượu whiskey,
		285ml rượu vang) mỗi ngày không ảnh hưởng xấu đối với bệnh tim mạch.
		Rượu vang đỏ còn có tác dụng tốt đối với cholesterol máu. Như vậy, người
		bệnh tim không cần phải kiêng cữ bia rượu tuyệt đối. Tuy nhiên cần nhắc
		lại điều độ luôn là nguyên tắc quan trọng nhất để giữ gìn sức khỏe. Rượu
		bia có thể không ảnh hưởng đến bệnh tim nhưng lại gây bệnh dạ dày, bệnh
		gan. Ngoài ra, có một thể bệnh tim đặc biệt gọi là bệnh cơ tim do rượu.
		Nếu bị bệnh này, bạn phải kiêng cữ rượu bia hoàn toàn. &nbsp;</span></p>
    <p class="MsoNormal" style="text-align:justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">
		<span style="color: windowtext; font-size: 12.0pt; font-family: Times New Roman; font-weight: normal">
		Còn thuốc lá là thứ cần phải kiêng cữ tuyệt đối khi bị
		<a>bệnh tim mạch</a>.
		Thuốc lá ảnh hưởng rất xấu đối với các bệnh do nguyên nhân xơ vữa động
		mạch như thiếu máu não, thiếu máu cơ tim. Nếu không bỏ thuốc lá, bạn có
		thể bị tai biến mạch máu não, nhồi máu cơ tim, suy tim...Và nhất thiết
		bạn phải cố gắng bằng mọi cách bỏ hút thuốc lá ngay khi biết mình bị
		bệnh tim mạch. </span></span></p>
</font></h3>