﻿<div id="noidung">


<span style="font-family: Times New Roman; font-size:16pt">
					<font color="#0000FF">
                        <h1><font face="Times New Roman" size="5">Chế độ ăn phòng bệnh tai biến mạch máu não</font></h1></font></span>

</font>
    <font color="#000000" size="3">
        <p class="MsoNormal" style="text-align: justify; line-height: 150%"><b>
		<span style="font-size: 13.0pt; line-height: 150%; color: black">Tai
		biến mạch máu não</span></b><span class="apple-converted-space"><span style="font-size: 13.0pt; line-height: 150%; color: black">&nbsp;</span></span><span style="font-size: 13.0pt; line-height: 150%; color: black">còn
		được biết đến với tên khác là<span class="apple-converted-space">&nbsp;</span><b>Đột
                quỵ não</b><span class="apple-converted-space">. Đây là bệnh xảy ra khi
		việc cung cấp máu lên một phần não bộ bị ngưng trệ một cách đột ngột.
		Tai biến mạch máu não gồm có hai loại: Loại tắc mạch gây nhồi máu não,
		và loại vỡ mạch gây chảy máu não. Dù thuộc loại nào cũng rất nguy hiểm
		và là một trong những nguyên nhân gây tử vong hàng đầu trong số những
		bệnh thần kinh hiện nay.</span></span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%">
		<span class="apple-converted-space">
		<span style="font-size: 13.0pt; line-height: 150%; color: black">Để
		phòng ngừa bệnh tai biến mạch máu não thì chế độ ăn có vai trò quan
		trọng.</span></span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%">
		<span class="apple-converted-space"><b>
		<span style="font-size: 13.0pt; line-height: 150%; color: black">Thực
		phẩm giúp phòng bệnh tai biến mạch máu não:</span></b></span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%">
		<span class="apple-converted-space">
		<span style="font-size: 13.0pt; line-height: 150%; color: black">Để
		phòng bệnh tai biến mạch máu não thì một chế độ ăn giúp loãng máu là cần
		thiết.</span></span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%">
		<span class="apple-converted-space"><b>
		<span style="font-size: 13.0pt; line-height: 150%; color: black">Các
		loại gia vị như</span></b><span style="font-size: 13.0pt; line-height: 150%; color: black">:
		ớt, tỏi, hành tây, gừng, hạt tiêu là những loại gia vị được khuyến khích
		sử dụng giúp phòng đột quỵ.</span></span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%">
		<span class="apple-converted-space"><b>
		<span style="font-size: 13.0pt; line-height: 150%; color: black">Các
		loại trái cây giàu kali, vitamin </span></b>
		<span style="font-size: 13.0pt; line-height: 150%; color: black">C như:
		chuối, cam, bưởi,… giúp cải thiện chức năng nội mô, ngăn ngừa sự hình
		thành các huyết khối trong tĩnh mạch có tác dụng phòng ngừa đột quỵ.</span></span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%">
		<span class="apple-converted-space"><b>
		<span style="font-size: 13.0pt; line-height: 150%; color: black">Ngũ cốc
		nguyên hạt:</span></b><span style="font-size: 13.0pt; line-height: 150%; color: black">
		như các loại đậu, hạnh nhân có tác dụng ngăn ngừa nguy cơ đột quỵ.</span></span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%">
		<span class="apple-converted-space"><b>
		<span style="font-size: 13.0pt; line-height: 150%; color: black">Các
		loại rau, củ, quả chứa nhiều chất xơ, axit folic</span></b><span style="font-size: 13.0pt; line-height: 150%; color: black">
		được khuyến khích sử dụng nhằm ngăn ngừa tai biến mạch máu não như: súp
		lơ, các loại rau có màu xanh đậm,.. có tác dụng giảm cholesterol, tăng
		tuần hoàn.</span></span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%">
		<span class="apple-converted-space"><b>
		<span style="font-size: 13.0pt; line-height: 150%; color: black">Các
		chất béo bão hòa </span></b>
		<span style="font-size: 13.0pt; line-height: 150%; color: black">như:
		dầu vừng, dầu đậu nành, dầu cá thu, cá ngừ, cá mòi,… đều có tác dụng
		phòng ngừa máu đông.</span></span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%">
		<span class="apple-converted-space"><b>
		<span style="font-size: 13.0pt; line-height: 150%; color: black">Thực
		phẩm không nên dùng cho người tai biến mạch máu não.</span></b></span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%">
		<span class="apple-converted-space"><b>
		<span style="font-size: 13.0pt; line-height: 150%; color: black">Thực
		phẩm chứa nhiều vitamin K</span></b><span style="font-size: 13.0pt; line-height: 150%; color: black">
		thường được tìm thấy nhiều trong gan và lòng đỏ trứng gà, mùi tây, măng
		tây, dầu oliu, dâu tây, kiwi không tốt cho người đột quỵ.</span></span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%">
		<span class="apple-converted-space"><b>
		<span style="font-size: 13.0pt; line-height: 150%; color: black">Muối và
		thực phẩm có chứa hàm lượng muối cao:</span></b><span style="font-size: 13.0pt; line-height: 150%; color: black">
		giảm tối đa lượng muối cho vào thực phẩm, hạn chế các đồ ăn được chế
		biến sẵn vì các đồ ăn này thường chứa hàm lượng muối cao.</span></span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%">
		<span class="apple-converted-space"><b>
		<span style="font-size: 13.0pt; line-height: 150%; color: black">Hạn chế
		ăn các thực phẩm giàu chất đạm, chất béo</span></b><span style="font-size: 13.0pt; line-height: 150%; color: black">
		như các loại thịt có màu đỏ, nội tạng động vật,...</span></span></p>

</font>
</div>