﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <p style="margin-top: 0; margin-bottom: 0" align="center">
        <b>
            <font size="5" color="#000080">Chế độ ăn uống, kiêng kị cho bệnh
                suy tim</font></b></p>

    <p style="margin-top: 0; margin-bottom: 0" align="center">
        &nbsp;</p><font color="#000000" size="3">
    <p class="MsoBodyTextIndent" id="Bệnh suy tim, suy tim, suytim" align="left">&nbsp;&nbsp;&nbsp;Suy
        tim có những dấu hiệu khó thở khi làm nặng, lên cầu thang và khi nghỉ
        ngơi thì giảm rõ. Đôi lúc ngồi cũng thấy khó thở, khó thở về đêm, cơ thể
        mệt mỏi, yếu đuối kèm theo đau ngực và hồi hộp. Ở bệnh nhân suy tim toàn
        bộ có các biểu hiện khó thở, phù, gan to ấn đau, tĩnh mạch cổ nổi, phản
        hồi gan – tĩnh mạch cổ dương tính. Về điều trị có 3 khâu cơ bản:</p>
    <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">- Giảm
        nhẹ tiền gánh bằng rút nước phù.</p>
    <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">- Giảm
        nhẹ hậu gánh bằng dùng thuốc giãn mạch.</p>
    <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">- Trợ
        tim bằng dùng các thuốc trợ tim.</p>
    <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">Trong 3
        khâu trên thì giảm nhẹ tiền gánh là cơ bản nhất. Khi suy tim còn nhẹ, dễ
        hồi phục thì giảm nhẹ tiền gánh cũng đã đủ để khống chế suy tim. Mặt
        khác khi đã cần dùng thuốc trợ tim thì giảm nhẹ tiền gánh lại là điều
        kiện cần thiết để thuốc trợ tim phát huy tác dụng.</p>
    <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">Để giảm
        nhẹ tiền gánh cần giảm natri và nước đưa vào để chống giữ nước, dùng lợi
        tiểu thải muối, thải nước. Hay nói đúng hơn chế độ ăn nhạt là cơ sở
        trong điều trị suy tim.</p>
    <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">Nguyên
        tắc xây dựng chế độ ăn nhạt cho bệnh nhân suy tim. Cần kiêng muối và mọi
        thức ăn mặn. Tuy nhiên, tùy độ suy tim mà có chế độ ăn nhạt khác nhau (nhạt
        hoàn toàn, nhạt vừa hoặc nhạt).</p>
    <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in"><i>Chế
        độ ăn nhạt:</i> là trong chế độ ăn chỉ cần 400 – 700 mg natri/ngày tương
        đương 1-2g muối. Trong đó đã có sẵn khoảng 1g muối từ gạo và rau quả của
        khẩu phần ăn. Vì vậy nên khi chế biến khẩu phần ăn chỉ cần cho 1g muối
        ăn hoặc 1 thìa con nước mắm/ngày là đủ lượng natri theo yêu cầu.</p>
    <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in"><i>Chế
        độ ăn nhạt vừa:</i> là trong chế độ ăn chỉ cần 800 – 1.200mg natri/ngày,
        tương đương 2-3g muối ăn/ngày. Trong đó đã có sẵn 1g từ gạo và rau quả
        của khẩu phần ăn nên khi chế biến thức ăn chỉ cần cho 2g muối ăn/ngày
        hoặc 2 thìa cà phê nước mắm/ngày.</p>
    <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in"><i>Chế
        độ ăn nhạt hoàn toàn:</i> là trong chế độ ăn chỉ cần 200 – 300 mg natri/ngày.
        Lượng natri/ngày. Lượng natri này đã có đủ trong thực phẩm, do đó khi
        chế biến khẩu phần ăn cần chú ý: hoàn toàn không dùng muối, mì chính,
        bột canh, nước mắm và chọn thực phẩm chứa ít natri, chẳng hạn gạo trắng,
        khoai, củ, rau, quả ngọt, thịt, cá, trứng (ăn ít). Điều cần nhớ là người
        bệnh tim không nên ăn sữa nguyên kem, đồ hộp, các thức ăn sẵn (nướng,
        rán, ướp muối, bánh mỳ) vì chứa nhiều muối.</p>
    <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">Tuy
        nhiên, tùy theo bệnh cảnh lâm sàng mà chỉ định một trong ba chế độ ăn
        nhạt trên và theo dõi sự đáp ứng của người bệnh để thay đổi từ chế độ
        này sang chế độ khác.</p>
    <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in"><b>MẪU
        THỰC ĐƠN CHO BỆNH NHÂN SUY TIM CÒN BÙ</b></p>
    <table border="0" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse; margin-left: -6.6pt" id="table2">
        <tbody><tr>
            <td width="25%" valign="top" style="width:.75in;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt">
                <p class="MsoNormal" align="center" style="text-align: left; margin: 6.0pt 0in">
                    <b>Giờ ăn</b></p></td>
            <td valign="top" style="width: 150px; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
                <p class="MsoNormal" align="center" style="text-align: left; margin: 6.0pt 0in">
                    <b>Thứ 2+5</b></p></td>
            <td valign="top" style="width: 183px; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
                <p class="MsoNormal" align="center" style="text-align: left; margin: 6.0pt 0in">
                    <b>Thứ 3+6+CN</b></p></td>
            <td valign="top" style="width: 163px; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
                <p class="MsoNormal" align="center" style="text-align: left; margin: 6.0pt 0in">
                    <b>Thứ 4+7</b></p></td>
        </tr>
        <tr>
            <td width="25%" valign="top" style="width:.75in;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    7 giờ</p></td>
            <td valign="top" style="width: 150px; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    Sữa chua đậu tương 200ml (đậu tương 20g, đường 20g), bánh mỳ
                    50g.</p></td>
            <td valign="top" style="width: 183px; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    Sữa chua đậu tương 200ml, bánh mỳ 50g.</p></td>
            <td valign="top" style="width: 163px; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    Sữa chua đậu tương 200ml, bánh mỳ 50g.</p></td>
        </tr>
        <tr>
            <td width="25%" valign="top" style="width:.75in;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    11 giờ</p></td>
            <td valign="top" style="width: 150px; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    Cơm gạo tẻ 130g, khoai tây hầm thịt bò (khoai tây 100g, thịt bò
                    50g, dầu 5g), cam quả 200g.</p></td>
            <td valign="top" style="width: 183px; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    Cơm gạo tẻ 130g, bắp cải xào 200g (dầu 5g), thịt băm viên hấp (thịt
                    nạc 50g), chuối tiêu 2 quả.</p></td>
            <td valign="top" style="width: 163px; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    Cơm gạo tẻ 130g, bí xanh luộc bỏ nước 200g, trứng đúc thịt rán (trứng
                    vịt ½ quả, thịt nạc 20g, dầu 5g), cam quả 200g.</p></td>
        </tr>
        <tr>
            <td width="25%" valign="top" style="width:.75in;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    16 giờ</p></td>
            <td valign="top" style="width: 150px; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    Cơm gạo tẻ 120g, rau cải trắng xào thịt bò (rau cải 100g, thịt
                    b2 20g, dầu 10g), trứng ốp lếp 1 quả.</p></td>
            <td valign="top" style="width: 183px; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    Cơm gạo tẻ 120g, giá xào (giá đổ 100g, thịt nạc 50g, dầu 10g),
                    cá hấp nhạt 100g.</p></td>
            <td valign="top" style="width: 163px; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    Cơm gạo tẻ 120g, rau xào, cá om (cá đồng 150g, dầu 10g)</p></td>
        </tr>
        <tr>
            <td width="25%" valign="top" style="width:.75in;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    20 giờ</p></td>
            <td valign="top" style="width: 150px; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    Bánh quy hoặc bánh đậu 50g</p></td>
            <td valign="top" style="width: 183px; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    Bánh quy hoặc bánh đậu 50g</p></td>
            <td valign="top" style="width: 163px; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    Bánh quy hoặc bánh đậu 50g</p></td>
        </tr>
        </tbody></table>
    <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">&nbsp;</p>
    <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in"><b>MẪU
        THỰC ĐƠN CHO BỆNH NHÂN SUY TIM MẤT BÙ</b></p>
    <table border="0" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse; margin-left: -6.6pt" id="table3">
        <tbody><tr>
            <td width="25%" valign="top" style="width:.75in;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt">
                <p class="MsoNormal" align="center" style="text-align: left; margin: 6.0pt 0in">
                    <b>Giờ ăn</b></p></td>
            <td valign="top" style="width: 152px; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
                <p class="MsoNormal" align="center" style="text-align: left; margin: 6.0pt 0in">
                    <b>Thứ 2+5</b></p></td>
            <td valign="top" style="width: 183px; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
                <p class="MsoNormal" align="center" style="text-align: left; margin: 6.0pt 0in">
                    <b>Thứ 3+6+CN</b></p></td>
            <td valign="top" style="width: 161px; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: 1.0pt solid windowtext; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
                <p class="MsoNormal" align="center" style="text-align: left; margin: 6.0pt 0in">
                    <b>Thứ 4+7</b></p></td>
        </tr>
        <tr>
            <td width="25%" valign="top" style="width:.75in;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    7 giờ</p></td>
            <td valign="top" style="width: 152px; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    Khoai lan luộc 300g (2 củ vừa).</p></td>
            <td valign="top" style="width: 183px; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    Xôi trắng hoặc xôi lúa, xôi đỗ 200g</p></td>
            <td valign="top" style="width: 161px; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    Khoai tây luộc 200g</p></td>
        </tr>
        <tr>
            <td width="25%" valign="top" style="width:.75in;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    11 giờ</p></td>
            <td valign="top" style="width: 152px; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    Cơm gạo tẻ 100g, rau luộc bỏ nước 200g, trứng gà luộc 1 quả.</p></td>
            <td valign="top" style="width: 183px; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    Phở thịt bò xào (bánh phở 150g, thịt bì 30g) rau xà lách 100g.</p></td>
            <td valign="top" style="width: 161px; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    Cơm gạo tẻ 100g, giá xào (giá đỗ 100g, thịt nạc 30g, dầu 5g).</p></td>
        </tr>
        <tr>
            <td width="25%" valign="top" style="width:.75in;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    16 giờ</p></td>
            <td valign="top" style="width: 152px; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    Cơm gạo tẻ 120g, khoai tây hầm (khoai tây 100g, thịt bò 30g, cà
                    chua 30g, dầu 5g).</p></td>
            <td valign="top" style="width: 183px; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    Cơm gạo tẻ 120g, thịt băm viên hấp (thịt nạc 40g), đậu côve luộc
                    hoặc rau luộc bỏ nước 200g.</p></td>
            <td valign="top" style="width: 161px; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    Cơm gạo tẻ 120g, thịt nạc rim 50g.</p></td>
        </tr>
        <tr>
            <td width="25%" valign="top" style="width:.75in;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    20 giờ</p></td>
            <td valign="top" style="width: 152px; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    Bánh quy 50g</p></td>
            <td valign="top" style="width: 183px; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    Bánh mỳ 100g (nhạt)</p></td>
            <td valign="top" style="width: 161px; border-left: medium none; border-right: 1.0pt solid windowtext; border-top: medium none; border-bottom: 1.0pt solid windowtext; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in">
                <p class="MsoNormal" style="text-align: left; margin: 6.0pt 0in">
                    Bánh quy 50g</p></td>
        </tr>
        </tbody></table>

    </font>
</h3>