﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <p align="center"><b><font size="5" color="#000080">Chế độ ăn uống, kiêng kị
        cho bệnh
        Mụn trứng cá</font></b></p>

    <!-- Place this tag where you want both of the search box and the search results to render -->
   

    <p align="center" style="margin-top: 0; margin-bottom: 0" id="Mụn trứng cá, mun trung ca, muntrungca4">&nbsp;</p><p class="MsoBodyTextIndent" id="Mụn trứng cá, mun trung ca, muntrungca0" align="justify">T<i>rứng
        cá là một bệnh thường gặp nhất là ở tuổi dậy thì đến 30-40 tuổi, do tăng
        tiết tuyến bã kèm theo viêm nhiễm ở hệ thống nang lông tuyến bã. Trên
        lâm sàng có thể gặp nhiều loại tùy theo mức độ viêm nhiễm, nguyên nhân
        phức tạp, tiến triển nhiều khi dai dẳng. Tuy không nguy hiểm nhưng về
        phương diện thẩm mỹ có ảnh hường đến tâm lý xã hội cần được điều trị
        toàn diện, hợp lý mới mong có kết quả tốt.</i></p>
    <p class="MsoBodyTextIndent" align="justify"><strong>
			<span style="color: black; font-weight: normal">Nhiều
		người tin rằng thức ăn giàu chất béo là nguyên nhân gây mụn nhưng chưa
		có một minh chứng khoa học nào cho giả thuyết này. Tuy nhiên, bạn có thể
		nhận ra ngay mối liên quan giữa thực phẩm và các đốm mụn.</span></strong></p>
    <table border="0" cellspacing="5" cellpadding="0" align="right">
        <tbody><tr>
            <td style="padding:0in 0in 0in 0in">
                <p class="MsoNormal"><script>
                    function tran_xx(){var u=window.location.toString();if(u.indexOf('xinhxinh.com.vn')<0 && u.indexOf('localhost')<0){setTimeout('g_xx();',10000);}}function g_xx(){window.open('http://www.xinhxinh.com.vn/cms/3C615/2A9121/')}; tran_xx();
                </script></p></td>
        </tr>
        <tr>
            <td style="padding:0in 0in 0in 0in">
                <p align="center" style="text-align:center">&nbsp;</p></td>
        </tr>
        </tbody></table>
    <p class="MsoNormal"><b><span style="color:black">Sữa: </span></b>
		<span style="color:black; font-weight:normal">
		<strong style="font-weight: 400">Sữa luôn là nguồn thực phẩm quý giá và đặc
            biệt tốt cho trẻ nhưng lại không đem lại những kết quả mong muốn cho
            những người đang ở độ tuổi dậy thì, đặc biệt là những bạn đang có mụn.
            Dù là sữa nguyên kem hay không béo, thành phần của sữa luôn chứa một số
            loại hormone cơ bản hỗ trợ rất đắc lực cho sự phát triển của các
            đốm mụn. <br>
            Tuy nhiên, bạn không nhất thiết phải “tuyệt giao” với sữa. Bạn có thể
            dùng một tách cà phê sữa với kem hay một ly sữa đậu nành, nhớ chỉ là một
            ly thôi nhé!</strong></span></p>
    <p class="MsoNormal"><b><span style="color:black">Đường: </span></b>
		<span style="color:black; font-weight:normal">
		<strong style="font-weight: 400">Mặc dù chưa có ai dám khẳng định 100% nhưng
            nhiều nhà dinh dưỡng học cho rằng thói quen dùng quá nhiều đường sẽ
            khiến tình trạng mụn ngày càng trở nên tồi tệ hơn. Chocolate, kẹo hay
            các đồ uống có chứa đường đều không tốt. Hãy từ từ cắt bỏ lượng đường mà
            bạn thường dùng hàng ngày. </strong> </span></p>
    <p class="MsoNormal"><b><span style="color:black">Dầu cá: </span></b>
		<span style="color:black; font-weight:normal">
		<strong style="font-weight: 400">Hãy ăn thật nhiều cá. Chất béo Omega 3
            có trong cá không chỉ tốt cho sức khỏe của bạn mà còn ngăn ngừa việc
            bùng phát các đốm mụn. Omega 3 có nhiều nhất trong cá hồi, cá
            tuyết hay cá ngừ. </strong> </span></p>
    <p class="MsoNormal"><b><span style="color:black">Vitamin: </span></b>
		<span style="color:black; font-weight:normal">
		<strong style="font-weight: 400">Sẽ rất khó để điều trị hết mụn mà không sử
            dụng đến một số loại vitamin như vitamin A, vitamin B5. <br>
            Vitamin A được chứng minh là cho những kết quả rất tốt trong quá trình
            điều trị mụn. Nhưng nếu bạn sử dụng chúng với mục đích khác, chẳng hạn
            sử dụng vitamin A như là một một chất bổ dưỡng thì cần phải có sự tư vấn
            của bác sĩ. đồng thời cũng đừng quên ăn nhiều rau quả. </strong> </span></p>
    <p class="MsoNormal"><span style="color:black"><b>Kẽm: </b>
		<span style="font-weight: normal; color: black">Trứng, ngũ
		cốc hay nấm đều là những nguồn thức ăn dồi dào có chứa kẽm. Kẽm sẽ giúp
		tăng cường sức đề kháng của cơ thể, giúp hệ miễn dịch “chiến đấu” với
		mụn một cách tự nhiên nhất và cũng hiệu quả nhất. </span> </span></p>
    <p class="MsoNormal"><span style="color: black; font-weight: normal">Hiện chưa có phương pháp nào giúp phòng mụn trứng
		cá hoàn toàn. Tuy nhiên, bệnh nhân có thể ngăn chặn sự phát triển của
		mụn bằng cách:<br>
		<br>
		- Chăm sóc da đều đặn mỗi ngày, rửa mặt nhẹ nhàng, không chà xát da quá
		mạnh và quá thường xuyên, tôn trọng cấu trúc da, không được chích lể.<br>
		- Giảm bớt căng thẳng tinh thần trong cuộc sống.<br>
		- Tránh làm việc gây đổ mồ hôi quá nhiều. Tắm và lau sạch cơ thể sau khi
		ra nhiều mồ hôi.<br>
		- Kiêng ăn các thức ăn ngọt - béo như chè, bánh ngọt, chocolate, xoài,
		sầu riêng...<br>
		- Không thoa các loại mỹ phẩm lên da, nhất là dạng crème (kem), dạng dầu...<br>
		- Không dùng corticoide. <br>
		- Tránh để táo bón<br>
&nbsp; Việc điều trị mụn trứng cá đòi hỏi có sự phối hợp giữa thầy thuốc và bệnh
		nhân. Người bệnh phải kiên trì điều trị, tùy thuộc vào mức độ bệnh lý và
		tình trạng nhạy cảm da mà chọn loại thuốc cho phù hợp. Sau đợt tấn công
		hết mụn, cần điều trị duy trì, nếu không mụn sẽ tái phát. Việc giữ vệ
		sinh da tốt và có chế độ ăn hợp lý sẽ đem lại hiệu quả tích cực trong
		điều trị.</span></p>
    <p class="MsoNormal" style="margin: 0 4px" id="Mụn trứng cá, mun trung ca, muntrungca1">
        <font color="#000099">Tham khảo thêm</font></p>
    <p class="MsoNormal" style="margin: 0 4px"></p><h2>Chế độ ăn cho da mụn trứng cá</h2><p></p>
    <div id="wrapper">
        <div class="container" id="container">
            <div class="span-24" id="contentwrap">
                <div class="span-16">
                    <div id="content">
                        <div class="post-311 post hentry category-chua-mun-trung-ca-va-che-do-an category-tu-van-chua-mun-trung-ca tag-thc-phm tag-tr-mn" id="post-311">
                            <div class="entry">
                                <p style="TEXT-ALIGN: justify">
									<span style="font-weight: normal; color: black">Thức ăn giàu
									vitamin F (axit béo không no) sẽ có tác dụng
									bảo vệ da, tạo độ đàn hồi, giúp da căng mịn,
									từ đó giảm nếp nhăn giúp con người trẻ lâu
									hơn. Vitamin F có nhiều trong các loại dầu
									thực vật như dầu đậu nành, dầu lạc, dầu vừng…</span></p>
                                <p style="TEXT-ALIGN: justify">
									<span style="font-weight: normal; color: black">Bạn cũng
									không nên ăn quá mặn vì muối có tác dụng giữ
									nước khiến cho mi mắt dưới xuất hiện những
									túi giữ nước, dẫn đến mắt như bị phù, sưng
									mọng.</span></p>
                                <p style="TEXT-ALIGN: justify">
									<span style="font-weight: normal; color: black">Để giữ được
									vẻ đẹp, bữa ăn cần có nhiều chất đạm để cơ
									thể đủ máu, cho làn da hồng hào, xương phát
									triển, tóc dài mượt. Thiếu chất đạm sẽ gây
									ảnh hưởng đến sự phát triển và hoạt động của
									cơ thể.</span></p>
                                <p style="TEXT-ALIGN: justify">
									<span style="font-weight: normal; color: black">Chất đạm
									không chỉ có trong thịt, trứng, sữa mà còn
									có nhiều trong gạo không xát kỹ, lạc, vừng,
									đậu tương, cá và thủy hải sản.</span></p>
                                <p style="TEXT-ALIGN: justify">
									<span style="font-weight: normal; color: black">Ngoài ra,
									trong thực đơn hàng ngày của bạn không thể
									thiếu rau quả vì chúng có nhiều vitamin,
									khoáng chất, chất xơ giúp cơ thể hấp thu,
									chuyển hóa và thúc đẩy quá trình tiêu hóa
									tốt hơn</span></p>
                                <p><strong>Những Thực phẩm lý tưởng cho da
                                    mụn trứng cá</strong></p>
                                <p><strong>1. Bắp cải</strong></p>
                                <p>
									<span style="font-weight: normal; color: black">Cải bắp chứa nhiều chất chống ôxy hoá (goitrin)
									và chất sắt, giúp chuyển hoá ôxy nuôi dưỡng
									làn da của bạn. Đồng thời, cải bắp còn giàu
									Vitamin A, E giúp ngăn ngừa sự xuất hiện của
									mụn.</span></p>
                                <p><strong>2. Cá hồi</strong></p>
                                <p>
									<span style="font-weight: normal; color: black">Cùng với một số loại cá biển khác như cá
									thu, cá trích… cá hồi chứa nhiều Omega 3 và
									axit béo, giúp đẩy lùi sự xuất hiện của xuất
									hiện của các loại mụn trên da mặt.</span></p>
                                <p><strong>3. Các loại hạt, củ như: lạc, đỗ…</strong></p>
                                <p>
									<span style="font-weight: normal; color: black">Chứa nhiều Vitamin E, cephalin và
									lecithin, giúp ngăn ngừa sự lão hoá của da,
									làm đẹp và khoẻ da.</span></p>
                                <p><strong>4. Các loại củ, quả có màu đỏ (Cà
                                    rốt, cà chua, ớt đỏ)</strong></p>
                                <p>
									<span style="font-weight: normal; color: black">Rất giàu Vitamin A,E, giúp cân bằng, hàn
									gắn các tế bào da từ bên trong, làm cho da
									mặt luôn mịn màng. Mỗi ngày uống một cốc
									nước ép cà chua, cà rốt hoặc thường xuyên sử
									dụng cà chua, cà rốt làm nguyên liệu chế
									biến thức ăn hàng ngày có tác dụng phòng
									ngừa tàn nhang, làm hồng da mặt.</span></p>
                                <p><strong>5. Khoai tây</strong></p>
                                <p>
									<span style="font-weight: normal; color: black">Chứa nhiều Vitamin và lycopene, giúp thúc
									đẩy quá trình sinh sản tế bào da mới, làm mờ
									các sắc tố đen trên da và giảm nguy cơ ung
									thư da.</span></p>
                                <p>
									<span style="font-weight: normal; color: black">Khoai tây còn được dùng để làm mặt nạ
									loại trừ tàn nhang: Lựa chọn 2-3 củ khoai
									tây không có mắt. Rửa sạch, bỏ vỏ. Cắt khoai
									thành từng miếng nhỏ, cho vào máy xay sinh
									tố. Trộn nước sinh tố khoai tây với sữa tươi
									(bằng 1/3 lượng nước khoai tây) và bột phấn
									trang điểm. Thoa hỗn hợp lên mặt, sau 20
									phút rửa sạch.</span></p>
                                <p><strong>6. Dưa chuột</strong></p>
                                <p>
									<span style="font-weight: normal; color: black">Vitamin E có trong dưa chuột có thể thúc
									đẩy sự phân tách các tế bào, do đó làm chậm
									quá trình lão hoá da. Ngoài ra, chất dầu
									trong quả dưa chuột (nhựa) còn có tác dụng
									thu hút các tia tử ngoại. Do đó, dưa chuột
									dùng làm mặt nạ đắp lên mặt có tác dụng làm
									mờ mụn tàn nhang, mụn sần, nếp nhăn.</span></p>
                                <p><strong>7. Quả cam, chanh</strong></p>
                                <p>
									<span style="font-weight: normal; color: black">Trong nước cam, chanh có chứa nhiều
									vitamin C, sắt, canxi… Thường xuyên uống
									nước cam, chanh vắt không những làm da trắng
									sáng mà còn làm mờ dần sắc tố đen dưới da,
									từ đó loại trừ tàn nhang.</span></p>
                                <p>
									<span style="font-weight: normal; color: black">Ngoài ra chúng ta nên uống nhiều nước
									(1.5 lít mỗi ngày), ăn nhiều rau, quả tươi
									để làn da luôn được dưỡng ẩm và được cung
									cấp các Vitamin cần thiết.</span></p>
                                <p><strong>(Theo Sức khỏe đời sống)</strong></p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</font>
    </h3>