﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
<font color="#000000" size="5">
    <p class="MsoNormal" style="text-align: center"><b>Chế độ ăn uống
        cho bệnh prolactin cao</b></p>

</font><font color="#000000" size="4">

    <p class="MsoNormal" style="text-align: justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Prolactin là một trong những hormon do phần trước của tuyến yên sinh
        ra. Prolactin là hormon có cả ở nam và nữ. Chỉ số prolactin bình
        thường:</p>
    <p class="MsoNormal" style="text-align: justify">Nam giới chỉ số
        prolactin vào khoảng 2-18ng/ml. </p>
    <p class="MsoNormal" style="text-align: justify">Phụ nữ không mang
        thai và cho con bú vào khoảng 2-29ng/ml</p>
    <p class="MsoNormal" style="text-align: justify">Phụ nữ mang thai:
        10-209ng/ml</p>
    <p class="MsoNormal" style="text-align: justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nếu chỉ
        số prolactin vượt ra ngoài khoảng trên thì được coi là prolactin cao.
        Prolactin cao ở nam giới không ảnh hưởng gì nhiều tới khả năng sinh
        sản, tuy nhiên ở phụ nữ nếu chỉ số prolactin cao có thể là nguyên
        nhân gây vô sinh, hiếm muộn.</p>
    <p class="MsoNormal" style="text-align: justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Điều
        trị prolactin cao ngoài việc dùng thuốc cần kết hợp với chế độ ăn
        uống. Phòng khám Đông y Nguyễn Hữu Toàn xin giới thiệu chế độ ăn
        uống tốt cho người có chỉ số prolactin cao. Một chế độ ăn uống cân
        bằng, lành mạnh sẽ giảm nồng độ prolactin cao.</p>
    <p class="MsoNormal" style="text-align: justify">Thực phẩm nên ăn:</p>
    <p class="MsoNormal" style="text-align: justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nên ăn
        những thực phẩm tự nhiên chưa qua chế biến, đông lạnh. Nên ăn các
        sản phẩm từ thực vật như trái cây, rau, ngũ cốc, đạu, hạt và quả
        hạch. Ăn các loại rau và trái cây giàu chất xơ, vitamin và khoáng
        chất, chất chống oxy hóa bảo vệ các tế bào khỏi những thương tổ.
        Ngoài ra các loại rau, trái cây này còn làm tăng nồng độ setotonin
        trong não.</p>
    <p class="MsoNormal" style="text-align: justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Có thể
        ăn nhiều protein: (Các thực phẩm giàu protein như: cá, trứng, đậu,
        phô mai, thịt gà, các loại thịt đỏ) Protein giúp cung cấp axit amin
        cần thiết cho việc sản xuất dopamine trong não</p>
    <p class="MsoNormal" style="text-align: justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Các
        loại trái cây giúp cải thiện chỉ số prolactin cao bao gồm</p>
    <p class="MsoNormal" style="text-align: justify">Chuối: Chuối chín
        cung cấp một lượng lớn tyrosine (giúp tế bào thần kinh giúp điều
        chỉnh và kích thích sản xuất dopamine)</p>
    <p class="MsoNormal" style="text-align: justify">Táo: Táo rất giàu
        quercetin, một chất chống oxy hóa giúp ngăn ngừa ung thư và sản xuất
        dopamine.</p>
    <p class="MsoNormal" style="text-align: justify">Dưa hấu: Nước dưa
        hấu có chứa nhiều vitamin A, B6, C. Trong đó vitamin B6 giúp sản
        xuất và dẫn truyền thần kinh như serotonin, melatonin, và dopamine
        giúp giảm chỉ số prolactin. Ngoài ra vitamin C giúp tăng cường hệ
        thống miễn dịch cho cơ thể.</p>
    <p class="MsoNormal" style="text-align: justify">Một số loại trái
        cây giúp cải thiện chỉ số prolactin: dâu tây, quả việt quất, quả mận
        khô</p>
    <p class="MsoNormal" style="text-align: justify">Cung cấp đủ lượng
        nước cho cơ thể</p>
    <p class="MsoNormal" style="text-align: justify">Thực phẩm nên hạn
        chế:</p>
    <p class="MsoNormal" style="text-align: justify">Đồ ăn nhiều đường</p>
    <p class="MsoNormal" style="text-align: justify">Đồ ăn nhiều dầu mỡ
        (đồ ăn rán, nướng, cháy)</p>
    <p class="MsoNormal" style="text-align: justify">Ngoài chế độ ăn
        uống, để cải thiện chỉ số prolacin cần kết hợp chế độ nghỉ ngơi hợp
        lý, tập thể dục đều đặn.</p>
</font>
</h3>