﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
   <font color="#000000">
    <p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <font color="#000000" size="5">
            <b>Chế độ ăn uống cho bệnh nhược cơ</b></font></p>
    <p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        &nbsp;</p>

</font>

    <font color="#000000" size="3">
        <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
            <i><b>
                <img border="0" src="http://www.thaythuoccuaban.com/images/omega3-tot-cho-nhuoc-co.jpg" width="243" height="207" lowsrc="Chế%20độ%20ăn%20cho%20bệnh%20nhược%20cơ,%20che%20do%20an%20cho%20benh%20nhuoc%20co" longdesc="Chế độ ăn cho bệnh nhược cơ, che do an cho benh nhuoc co" alt="Chế độ ăn cho bệnh nhược cơ, che do an cho benh nhuoc co" align="left">Nhược
                cơ là một bệnh tự miễn dịch đánh dấu bởi sự suy yếu cơ bắp trong một
                thời gian dài. Nó thường ảnh hưởng đến các cơ trên mặt bao gồm cả
                việc kiểm soát mắt, nhai, nói chuyện, nuốt,... Ngoài ra nó còn ảnh
                hưởng đến các vùng cơ khác trên toàn bộ cơ thể như: tay, chân,...&nbsp;
                Bệnh nhược cơ xảy ra khi hệ miễn dịch của cơ thể sản xuất ra các
                kháng thể tấn công hoặc phá hủy các thụ thể cho acetylcholine, dẫn
                tới các cơ bắp bị ảnh hưởng không thể hoạt động một cách bình thường,
                phối hợp được với nhau.</b></i></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
            Nhược cơ có thể xuất hiện ở mọi lứa tuổi, không phân biệt giới tính,
            nghề nghiệp,...</p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
            Dinh dưỡng là vô cùng quan trọng và cần thiết với mọi người, đặc
            biệt với những người gặp phải một số rối loạn mãn tính như nhược cơ
            thì dinh dưỡng càng cần thiết. Để duy trì một cơ thể bình thường
            người bị nhược cơ cần xây dựng cho mình một chế độ ăn uống hợp lý,
            đầy đủ chất dinh dưỡng.</p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
            Mặc dù không phải tất cả những người mắc bệnh nhược cơ đều có khó
            khăn trong vấn đề nhai, nuốt thức ăn, nhưng các thực phẩm mềm, dễ
            tiêu hóa được khuyến khích sử dụng cho bệnh nhược cơ. Với kinh
            nghiệm điều trị bệnh nhiều năm, Lương y Nguyễn Hữu Toàn đưa ra một
            số lời khuyên về chế độ dinh dưỡng cho bệnh nhược cơ.</p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
            Trước hết người bị nhược cơ cần có một chế độ ăn uống lành mạnh,
            giàu chất dinh dưỡng phù hợp với độ tuổi, giới tính, mức độ hoạt
            động hàng ngày. Một ngày nên ăn đầy đủ cả 5 nhóm thực phẩm: ngũ cốc
            6-11 phần, rau xanh 3-5 phần, trái cây 2-4 phần, sữa 2-3 phần, thịt
            2-3 phần. Giảm lượng protein đến 10 phần trăm tổng số cala, nên thay
            thế đạm động vật bằng protein thực vật càng nhiều càng tốt.</p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bệnh nhược cơ cần bổ sung một lượng lớn canxi cho cơ thể (khoảng
            1500<span style="line-height: 150%"> mg / 1 ngày). Nếu có thể hãy bổ
			sung canxi cho cơ thể từ các nguồn khác ngoài sữa.</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
            Hạn chế các loại chất béo, đồ ngọt và muối. oại bỏ các loại dầu
            không bão hòa đa thực vật, bơ thực vật , mỡ thực vật, tất cả các
            loại dầu hydro hóa một phần, và tất cả các loại thực phẩm (chẳng hạn
            như các loại thực phẩm chiên) có thể chứa axit béo chuyển hóa. Sử
            dụng dầu ô liu thêm trinh nữ như là chất béo chính của bạn.</p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
            Tăng tiêu thụ các axit béo omega- 3. (có nhiều trong cá)</p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
            Nên ăn nhiều thực phẩm giàu kali như cam, cà chua, mơ và các loại
            nước ép của từ các loại hoa quả trên, ăn nhiều rau xanh, bông cải
            xanh. Nghệ và gừng cũng tốt cho bệnh nhược cơ.</p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
            Nên ăn chậm, và cho cơ thể nghỉ ngơi giữa các bữa ăn. Thay vì ăn 3
            bữa chính mỗi ngày có thể chia ra thành 6 bữa ăn nhỏ.</p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
            Bệnh nhân nhược cơ thường có điểm yếu ở lưỡi, hàm, miệng và cơ bắp
            cổ họng vì thế tránh ăn miếng to, các thức ăn khó nuốt, có thể gây
            khó khăn cho việc nhai, nuốt thức ăn, dễ ảnh hưởng tới đường thở.</p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
            Khi ăn nên ngồi thẳng trên ghế, nghiêng đầu về phía trước. Trong lúc
            ăn không nên nói chuyện và nghĩ tới chuyện không vui.</p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
            Không nên hút thuốc, uống rượu bia, sử dụng các chất kích thích, đồ
            uống có cồn, và các thực phẩm đông lạnh, thực phẩm đóng hộp.</p>
        </font>
</h3>