﻿<div id="noidung">


    <h1 style="text-align: center">Chế độ ăn phì đại tiền
        liệt tuyến</h1>

    <p class="MsoNormal" style="text-align: justify">
		<span style="font-size: 13.0pt">
		<i><a href="Chế%20độ%20ăn%20phì%20đại%20tiền%20liệt%20tuyến">
            <img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-phi-dai-tien-liet-tuyen.jpg" width="250" height="250" lowsrc="Chế%20độ%20ăn%20phì%20đại%20tiền%20liệt%20tuyến" longdesc="Chế độ ăn phì đại tiền liệt tuyến" alt="Chế độ ăn phì đại tiền liệt tuyến" align="left"></a>Phì
            đại tiền liệt tuyến là một bệnh thường gặp ở đàn ông ở độ tuổi 40 trở ra,
            mặc dù bệnh không nguy hiểm tới tính mạng nhưng lại khiến người bệnh
            luôn trong tình trạng khó chịu bởi những triệu chứng như: tiểu són, tiểu
            thành nhiều tia, tiểu buốt, tiểu rắt, tiểu nhiều lần đi không hết bãi
            khiến cho người bệnh khó chịu. Ngoài ra nếu không được điều trị kịp thời
            có thể có một số biến chứng gây suy thận. Đối với bệnh phì đại tiền liệt
            tuyến thì chế độ ăn đóng một vai trò quan trọng. Dưới đây là một số thực
            phẩm nên và không nên ăn.</i></span></p>
    <p class="MsoNormal" style="text-align: justify"><b>
        <span style="font-size: 13.0pt">Các thực phẩm nên ăn</span></b></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; margin-left: 36.0pt">
		<span style="font-size: 13.0pt; font-family: Symbol">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span></span><span style="font-size: 13.0pt">Ăn nhiều các thực phẩm làm
		từ đậu nành, đậu xanh có tác dụng ức chế viêm tấy tiền liệt tuyến.</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; margin-left: 36.0pt">
		<span style="font-size: 13.0pt; font-family: Symbol">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span></span><span style="font-size: 13.0pt">Nên ăn bắp cải để tăng cường
		các chất oxy hóa giúp giải độc cho tiền liệt tuyến bị phì đại</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; margin-left: 36.0pt">
		<span style="font-size: 13.0pt; font-family: Symbol">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span></span><span style="font-size: 13.0pt">Giá sống có tác dụng giảm
		thiểu nguy cơ biến thể ác tính ở các bệnh nhân phì đại tiền liệt tuyến.</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; margin-left: 36.0pt">
		<span style="font-size: 13.0pt; font-family: Symbol">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span></span><span style="font-size: 13.0pt">Cà chua giúp ngăn ngừa ung
		thư tiền liệt tuyến</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; margin-left: 36.0pt">
		<span style="font-size: 13.0pt; font-family: Symbol">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span></span><span style="font-size: 13.0pt">Ăn nhiều cá giúp tăng
		cường omega-3 giúp giảm viêm, tấy ở tiền liệt tuyến.</span></p>
    <p class="MsoNormal" style="text-align: justify"><b>
        <span style="font-size: 13.0pt">Thực phẩm nên tránh</span></b></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; margin-left: 36.0pt">
		<span style="font-size: 13.0pt; font-family: Symbol">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span></span><span style="font-size: 13.0pt">Mỡ động vật và các loại
		đạm từ động vật nên hạn chế giúp giảm những viêm tấy ở tuyến tiền liệt,
		giảm nguy cơ ung thư tiền liệt tuyến</span></p>
</font>

</div>