﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">

    <p style="text-align: center"><font color="#000000" size="5">
			<span style="color:black; font-weight:700">Chế độ ăn uống cho bệnh viêm tiền liệt
			tuyến</span></font></p>

    </font><font color="#000000" size="4">
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 4.8pt; margin-bottom: 6.0pt; background: white">
			<span style="color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-uong-viem-tien-liet-tuyen.jpg" width="261" height="193" lowsrc="Chế%20độ%20ăn%20uống%20bệnh%20viêm%20tiền%20liệt%20tuyến" longdesc="Chế độ ăn uống bệnh viêm tiền liệt tuyến" alt="Chế độ ăn uống bệnh viêm tiền liệt tuyến" align="left">Viêm
			tiền liệt tuyến là bệnh thường gặp ở lứa tuổi trung niên. Theo Lương
			y Nguyễn Hữu Toàn bệnh viêm tiền liệt tuyến được chia làm 2 dạng cấp
			và mãn tính. Trong đó viêm tiền liệt tuyến cấp tính thuộc chứng
			nhiệt lâm nguyên nhân chủ yếu do <span style="background: white">cảm
			nhiễm độc tà, thấp nriệt hạ chú gây kinh lạc tắc, khí huyết ứ trệ,
			bàng quang khí hóa rối loạn</span> . Còn viêm tiền liệt tuyến mãn
			tính thuộc chứng tinh trọc, lao lâm là do
			<span style="background: white">phòng dục quá độ, rượu chè quá mức,
			làm cho tỳ vị bị tổn thương, thấp nhiệt sinh ra ở bên trong, dồn
			xuống dưới khiến cho kinh lạc bị trở, khí huyết ứ trệ gây nên </span>
			độ ăn uống sinh hoạt tốt cho bệnh viêm tiền liệt tuyến.</span></p>

</font><font color="#000000" size="3">
    <font color="#000000" size="4">
        <p style="text-align: justify; text-indent: 43.6pt; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
			<span style="line-height: 150%; color: black; background: white">Với
			kinh nghiệm nhiều năm điều trị bệnh viêm tiền liệt tuyến, Lương y
			Nguyễn Hữu Toàn cho rằng: Viêm tiền liệt tuyến tuy không phải là
			bệnh nan y, nhưng điều trị đòi hỏi cần có sự kết hợp các yếu tố:
			Ngoài việc dùng thuốc thì chế độ ăn uống sinh hoạt cũng cần được
			quan tâm. <b>Dưới đây là một số lưu ý trong chế độ ăn uống sinh hoạt
                    đối với người bị viêm tiền liệt tuyến:</b></span></p>
        <p style="text-align: justify; text-indent: 43.6pt; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
            <b><span style="line-height: 150%; color: black; background: white">
			Những điều nên làm:</span></b></p>
        <p style="text-align: justify; text-indent: 43.6pt; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
			<span style="line-height: 150%; color: black; background: white">
			Uống nhiều nước (uống từ 8 đến 12 cốc nước mỗi ngày tương đương 2
			-2.5 lít nước). Nước giúp làm sạch đường tiết niệu, làm giảm tình
			trạng viêm nhiễm.</span></p>
        <p style="text-align: justify; text-indent: 43.6pt; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
			<span style="line-height: 150%; color: black; background: white">Nên
			ăn nhiều rau xanh như: rau cải, rau súp lơ,... hoa quả tươi như:
			cam, quýt, bưởi, chanh có tác dụng lợi tiểu, vừa có tác dụng tăng
			cường sức đề kháng, giảm viêm nhiễm rất tốt. Sữa chua ngoài tác dụng
			tốt cho đường tiêu hóa còn có tác dụng chống viêm tốt, do đó bệnh
			nhân viêm tiền liệt tuyến nên ăn sữa chua.</span></p>
        <p style="text-align: justify; text-indent: 43.6pt; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
			<span style="line-height: 150%; color: black; background: white">Tắm
			bằng nước ấm, nên ngâm mình trong nước ấm, giúp giảm cảm giác đau do
			viêm tiền liệt tuyến gây ra, ngoài ra nước ấm cũng giúp thư giãn
			vùng cơ bụng dưới, rất tốt cho các triệu chứng do viêm tiền liệt
			tuyến gây ra.</span></p>
        <p style="text-align: justify; text-indent: 43.6pt; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
			<span style="line-height: 150%; color: black; background: white">Mát
			xa nhẹ nhàng vùng tiền liệt tuyến giúp khí huyết lưu thông, giảm
			xung huyết góp phần giảm bớt các triệu chứng do viêm tiền liệt tuyến
			gây ra.</span></p>
        <p style="text-align: justify; text-indent: 43.6pt; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
			<span style="line-height: 150%; color: black">Tập thể dục: Một số
			bài tập đặc biệt và kỹ thuật thư giãn có thể cải thiện những triệu
			chứng của bệnh viêm tuyến tiền liệt.</span></p>
        <p style="text-align: justify; text-indent: 43.6pt; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
			<span style="line-height: 150%; color: black">Giữ vệ sinh sạch sẽ,
			mặc quần lót bằng sợi cotton 100%, phơi quần áo ngoài nắng có tác
			dụng diệt khuẩn.s</span></p>
        <p style="text-align: justify; text-indent: 43.6pt; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
            <b><span style="line-height: 150%; color: black; background: white">
			Những điều nên tránh:</span></b></p>
        <p style="text-align: justify; text-indent: 43.6pt; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
			<span style="line-height: 150%; color: black; background: white">
			Tránh xa bia, rượu, đồ uống có ga, có cồn,... thuốc lá,</span></p>
        <p style="text-align: justify; text-indent: 43.6pt; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
			<span style="line-height: 150%; color: black; background: white">
			Tránh đồ ăn, đồ uống có chứa cafein (cafein gây hiện tượng buồn tiểu).</span></p>
        <p style="text-align: justify; text-indent: 43.6pt; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
			<span style="line-height: 150%; color: black; background: white">
			Tránh các loại đồ ăn cay, nóng, các loại đồ ăn có nhiều gia vị như:
			ớt, hạt tiêu,... thực phẩm này làm tăng tình trạng tiểu khó, tiểu
			són, tiểu nóng do viêm tiền liệt tuyến gây nên.</span></p>
        <p style="text-align: justify; text-indent: 43.6pt; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
			<span style="line-height: 150%; color: black; background: white">
			Trong thời gian bị bệnh nên hạn chế sinh hoạt tình dục, sinh hoạt
			tình dục quá độ có thể làm gia tăng các triệu chứng đau, rát do viêm
			tiền liệt tuyến gây nên.</span></p>
        <p style="text-align: justify; text-indent: 43.6pt; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
			<span style="line-height: 150%; color: black; background: white">Hạn
			chế đạp xe đạp, đặc biệt là đạp xe đạp ở những nơi đường sóc.</span></p>


    </font>

</font>
</h3>