﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <h1 style="text-align: center">
        <font face="Times New Roman" size="5">Chế độ ăn uống
            cho bệnh viêm đại tràng</font></h1>		<span style="font-family:&quot;Times New Roman&quot;;color:windowtext;
font-weight:normal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/thuc-pham-benh-viem-dai-trang-nen-dung.jpg" title="Thực phẩm bệnh viêm đại tràng nên dùng" width="300" height="250" lowsrc="Thực%20phẩm%20bệnh%20đại%20tràng%20nên%20dùng" longdesc="Thực phẩm bệnh đại tràng nên dùng" alt="Thực phẩm bệnh đại tràng nên dùng" align="left"></span></font><span style="font-family:&quot;Times New Roman&quot;;color:windowtext;
font-weight:normal"><font color="#000000" size="4">Thay
    đổi chế độ dinh dưỡng là một yếu tố quan trọng trong việc điều trị căn
    bệnh viêm đại tràng. Bệnh nhân cần tăng cường ăn chất xơ, đồng thời phải
    kiêng rất nhiều thứ như chất béo, chất kích thích và một số loại thuốc.</font></span><font color="#000000" size="4"></font></p><font color="#000000" size="4">
    <p class="bodytext">
		<span style="font-family: Times New Roman; color: windowtext; font-weight: normal">
		Sau đây là một số điều trong ăn uống mà bệnh nhân viêm đại tràng mạn cần
		lưu ý:</span></p>
    <p class="bodytext">
		<span style="font-family: Times New Roman; color: windowtext; font-weight: 700">
		1. Những ngày không đau:</span><span style="font-family: Times New Roman; color: windowtext; font-weight: normal">
		Để giữ gìn sức khỏe, tạo sức đề kháng, tăng sức chịu đựng trong lúc bị
		cơn đau hành hạ, hãy tranh thủ ăn uống tẩm bổ những khi bệnh chưa dở "chứng”.</span></p>
    <p class="bodytext">
		<span style="font-family: Times New Roman; color: windowtext; font-weight: 700">
		2. Khi bị táo bón:</span><span style="font-family: Times New Roman; color: windowtext; font-weight: normal">
		Giảm chất béo, tăng chất xơ (đặc biệt là dưới dạng hòa tan như pectin,
		inuline, oligofructose...). Ăn làm nhiều bữa nhỏ, chừng hơn 2 tiếng lại
		ăn một bữa.</span></p>
    <p class="bodytext">
		<span style="font-family: Times New Roman; color: windowtext; font-weight: 700">
		3. Khi bị tiêu chảy: </span>
		<span style="font-family: Times New Roman; color: windowtext; font-weight: normal">
		Tránh hẳn chất xơ dạng không tan như cellulose để thành ruột khỏi bị “cọ
		xát”. Không ăn rau sống, trái cây khô, trái cây đóng hộp, nếu ăn trái
		cây tươi thì phải gọt bỏ vỏ (kể cả nho). Có thể ăn trái cây xay nhừ như
		chuối, táo.</span></p>
    <p class="bodytext">
		<span style="font-family: Times New Roman; color: windowtext; font-weight: 700">
		4. Tránh chất kích thích:</span><span style="font-family: Times New Roman; color: windowtext; font-weight: normal">
		Những thực phẩm có chất kích thích thần kinh như cà phê, chocolate, trà...đều
		phải kiêng.</span></p>
    <p class="bodytext">
		<span style="font-family: Times New Roman; color: windowtext; font-weight: 700">
		5. Hạn chế các sản phẩm từ sữa:</span><span style="font-family: Times New Roman; color: windowtext; font-weight: normal">
		Trong sữa có loại đường lactose rất khó tiêu. Ngoài ra, chất đạm của sữa
		có thể gây dị ứng cho bệnh nhân. Hãy thay thế bằng sữa đậu nành.</span></p>
    <p class="bodytext">
		<span style="font-family: Times New Roman; color: windowtext; font-weight: 700">
		6. Hạn chế mỡ: </span>
		<span style="font-family: Times New Roman; color: windowtext; font-weight: normal">
		Tránh những thức ăn có hàm lượng dầu mỡ quá cao như các món rán, xào,
		sốt.</span></p>
    <p class="bodytext">
		<span style="font-family: Times New Roman; color: windowtext; font-weight: 700">
		7. Tránh các thuốc kháng viêm, giảm đau không steroid</span><span style="font-family: Times New Roman; color: windowtext; font-weight: normal">:
		Những thuốc như Aspirin, Ibuprofen, Naprosyn, Voltaren, Feldene... có
		thể “ăn mòn” niêm mạc dạ dày, ruột, làm tăng nguy cơ xuất huyết.</span></p>
    <p class="bodytext">
		<span style="font-family: Times New Roman; color: windowtext; font-weight: 700">
		8. Uống 1 viên đa sinh tố, muối khoáng mỗi ngày: </span>
		<span style="font-family: Times New Roman; color: windowtext; font-weight: normal">
		Những viên này chứa ít nhất 400 mcg axit folic, khắc phục tình trạng
		thiếu axit này do dùng thuốc Sulfasalazine.</span></p>
    <p class="bodytext">
		<span style="font-family: Times New Roman; color: windowtext; font-weight: normal">
		Lưu ý: Bệnh viêm đại tràng mạn có thể nặng thêm nếu bệnh nhân có những
		vấn đề về tâm lý như trầm cảm, lo âu... Vì vậy, người bệnh cần thực hiện
		các phương pháp chống stress như tập thể dục, tập dưỡng sinh (thở bằng
		bụng, vận dụng cơ hoành, ngồi thiền, tập yoga).</span></p>
</font>
</h3>