﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">

    <font color="#000000" size="5">
        <p style="text-align: center">
            <b>Chế độ ăn uống cho bệnh viêm đường tiết niệu</b></p></font>
    </font>
					<span style="font-family: Times New Roman; ">
					<font color="#000000" style="font-size: 13pt">
                        <p class="MsoNormal" style="text-align:justify;line-height:150%">
                            <img border="0" src="http://www.thaythuoccuaban.com/images/hoa-qua-cho-benh-viem-duong-tiet-nieu.jpg" width="250" height="166" align="left" lowsrc="Viêm%20đường%20tiết%20niệu%20nên%20ăn%20nhiều%20hoa%20quả" longdesc="Viêm đường tiết niệu nên ăn nhiều hoa quả" alt="Viêm đường tiết niệu nên ăn nhiều hoa quả">Mặc
                            dù viêm đường tiết niệu không phải trực tiếp đe dọa tính mạng nhưng ở
                            khía cạnh nào đó nó sẽ gây những khó chịu nhất định cho người bệnh. Bên
                            cạnh việc dùng thuốc thì chế độ ăn uống thể ngăn chặn và giảm sự phát
                            triển của bệnh viêm đường tiết niệu một cách đáng kể. Dưới đây là một số
                            lưu ý trong chế độ ăn uống dành cho người mắc bệnh viêm đường tiết niệu:</p>
                        <p class="MsoNormal" style="text-align:justify;line-height:150%"><b>
                            Người viêm đường tiết niệu nên:</b></p>
                    </font><p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in"><font color="#000000" style="font-size: 13pt">
                        -</font><font color="#000000" size="3"><span style="font-family: Times New Roman; font-size:16pt"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 13pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span><span style="font-family: Times New Roman; ">
		<font color="#000000" style="font-size: 13pt">Nên tăng số lượng chất
            lỏng tiêu thụ hàng ngày. Uống từ 2-3 lít nước mỗi ngày giúp cơ thể thanh
            lọc những chất độc hại và cũng có tác dụng giảm tình trạng viêm đường
            tiết niệu. </font></span></span></font></p><font color="#000000" size="3"><font color="#000000" style="font-size: 13pt">
                    </font><p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in"><font color="#000000" style="font-size: 13pt">
                        -</font><font color="#000000" size="3"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 13pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span><span style="font-family: Times New Roman; ">
		<font color="#000000" style="font-size: 13pt">Do vi khuẩn gây nhiễm
            trùng ở đường tiết niệu không thể sống trong điều kiện rất giàu tính
            axit, hãy chắc chắn bạn nên tăng tiêu thụ các loại thực phẩm giàu
            vitamin C như ớt chuông, chanh, chanh, cam, dâu ngỗng và ổi.<span class="apple-converted-space">&nbsp;</span><span onmouseover="_tipon(this)" onmouseout="_tipoff()">Vitamin
		C có tác dụng chống lại nhiễm trùng đường tiết niệu có hiệu quả và ngăn
		ngừa tái phát.</span></font></span></font></p><font color="#000000" size="3"><font color="#000000" style="font-size: 13pt">
                    </font><p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in"><font color="#000000" style="font-size: 13pt">
                        -</font><font color="#000000" size="3"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 13pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span><span style="font-family: Times New Roman; ">
		<font color="#000000" style="font-size: 13pt">Thường xuyên uống các loại
            trà thảo dược như: trà gừng, bạc hà, giúp loại bỏ các độc tố và vi khuẩn
            dễ dàng khi bị viêm đường tiết niệu.</font></span></font></p><font color="#000000" size="3"><font color="#000000" style="font-size: 13pt">
                    </font><p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in"><font color="#000000" style="font-size: 13pt">
                        -</font><font color="#000000" size="3"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 13pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span><span style="font-family: Times New Roman; ">
		<font color="#000000" style="font-size: 13pt">Tăng tiêu thụ các loại
            thực phẩm lành mạnh như rau xanh và trái cây tươi.</font></span></font></p>
                        <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in">
		<span style="font-family: Times New Roman; ">
					<font color="#000000" style="font-size: 13pt">
		<span class="apple-converted-space"><b>Người bị viêm đường tiết niệu nên
            tránh</b></span></font></span></p><font color="#000000" style="font-size: 13pt">
                        </font><p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in"><font color="#000000" style="font-size: 13pt">
                        </font><span class="apple-converted-space">
					<span style="font-family: Times New Roman; ">
					<font color="#000000" style="font-size: 13pt">
                        -</font></span><font color="#000000" size="3"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 13pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span>
					<span style="font-family: Times New Roman; ">
					<font color="#000000" style="font-size: 13pt">
                        Hạn chế những thực phẩm chế biến sẵn, đồ ăn nhanh, pho mát, các sản phẩm
                        từ sữa, socola, cà phê, chè.</font></span></font></span><font color="#000000" size="3"><span style="font-family: Times New Roman; "><font color="#000000" style="font-size: 13pt"></font></span></font></p><font color="#000000" size="3"><font color="#000000" style="font-size: 13pt">
                        </font><p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in"><font color="#000000" style="font-size: 13pt">
                        </font><span class="apple-converted-space">
					<span style="font-family: Times New Roman; ">
					<font color="#000000" style="font-size: 13pt">
                        -</font></span><font color="#000000" size="3"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 13pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span>
					<span style="font-family: Times New Roman; ">
					<font color="#000000" style="font-size: 13pt">
                        Hạn chế những đồ cay nóng, đồ uống có ga, đồ uống có cồn.</font></span></font></span><font color="#000000" size="3"><span style="font-family: Times New Roman; "><font color="#000000" style="font-size: 13pt"></font></span></font></p><font color="#000000" size="3"><font color="#000000" style="font-size: 13pt">
                        </font><p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in"><font color="#000000" style="font-size: 13pt">
                        </font><span class="apple-converted-space">
					<span style="font-family: Times New Roman; ">
					<font color="#000000" style="font-size: 13pt">
                        -</font></span><font color="#000000" size="3"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 13pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span>
					<span style="font-family: Times New Roman; ">
					<font color="#000000" style="font-size: 13pt">
                        Hạn chế muối trong các món ăn một cách tối đa.</font></span></font></span><font color="#000000" size="3"><span style="font-family: Times New Roman; "><font color="#000000" style="font-size: 13pt"></font></span></font></p><font color="#000000" size="3"><font color="#000000" style="font-size: 13pt">
                            <p class="MsoNormal" style="text-align:justify;line-height:150%"><b>
                                Lương y Nguyễn Hữu Toàn</b></p>

                        </font></font></font></font></font></font></font></span><font color="#000000" size="3"><font color="#000000" size="3"><font color="#000000" size="3">
    <font color="#0000FF">
        <p>&nbsp;</p></font></font></font></font><font color="#000000" size="3">
    <font color="#000000" size="3">
        <font color="#000000" size="3">
            <font color="#000000" size="3">
                <font color="#000000" size="3">
                    <font color="#000000" size="3">
                        <font color="#000000" size="3">
                        </font></font></font></font></font></font>
</font>
</h3>