﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
<font color="#000000" size="5">
</font><p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white"><font color="#000000" size="5">
    <b><span style="line-height: 150%; color: #333333">Chế độ ăn uống
			cho bệnh </span></b>

</font><font size="5" color="#333333"><b>viêm khớp</b></font></p>

</font><font color="#000000" size="3">
    <p style="text-align: justify; margin-bottom: 7.5pt; background: white">
        <span style="font-size:14.0pt">&nbsp;&nbsp;&nbsp;</span></p>
    <p style="text-align: justify; line-height: 15.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
			<span style="font-size: 14.0pt; color: #444444">&nbsp;&nbsp;&nbsp; Ngoài việc sử dụng
			thuốc để điều trị viêm khớp thì chế độ ăn uống cũng có tác động
			không nhỏ tới việc hạn chế những cơn đau và góp phần tích cực vào
			việc kháng viêm trong điều trị viêm khớp. Nhiều nghiên cứu chỉ ra
			rằng dinh dưỡng được khuyến cáo cho người bị viêm khớp là chế độ ăn
			nhiều hoa quả, rau xanh và tăng cường các món ăn giàu can xi,
			vitamin C, omega 3, omega 6. Mặc dù chưa đưa ra một biểu đồ ăn uống
			cụ thể cho người viêm khớp nhưng các bác sĩ cũng khuyên các bệnh
			nhân viêm khớp nên và không nên ăn những thực phẩm như sau.</span></p>
    <p style="text-align: justify; line-height: 15.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
			<span style="font-size: 14.0pt; color: #444444">Những thực phẩm<a target="_blank" title="Bệnh viêm khớp, triệu chứng và phòng ngừa" style="color: blue; text-decoration: underline; text-underline: single" ><span class="apple-converted-space"><span style="color: #CB0E3D; text-decoration: none">&nbsp;</span></span><span style="color: #CB0E3D; text-decoration: none">bệnh
			nhân viêm khớ</span></a>p không nên sử dụng</span></p>
    <p style="text-align: justify; line-height: 15.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
			<span style="font-size: 14.0pt; color: #444444">Muối: Muối được các
			chuyên gia khuyến cáo là không nên sử dụng cho người bị viêm khớp.
			Để hạn chế muối trong bữa ăn cách tốt nhất nên tập thói quen nấu các
			món ăn mà không dùng muối. Ngoài ra đồ ăn nhanh cũng không nên được
			sử dụng bởi trong đồ ăn nhanh thường nhiều bánh kẹo.</span></p>
    <p style="text-align: justify; line-height: 15.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
			<span style="font-size: 14.0pt; color: #444444">Cà phê: chất cafein
			có trong cà phê sẽ khiến cho bệnh viêm khớp của bạn trở nên tồi tệ
			hơn.</span></p>
    <p style="text-align: justify; line-height: 15.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
			<span style="font-size: 14.0pt; color: #444444">Soda: nói không với
			soda sẽ làm cho những cơn đau nhức do viêm khớp không tăng lên.</span></p>
    <p style="text-align: justify; line-height: 15.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
			<span style="font-size: 14.0pt; color: #444444">Bột mì: Bạn không
			nên ăn bột mì dưới bất kì hình thức nào, bởi bột mì sẽ tình trạng
			viêm khớp của bạn tăng lên.</span></p>
    <p style="text-align: justify; line-height: 15.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
			<span style="font-size: 14.0pt; color: #444444">Sữa và các sản phẩm
			từ sữa như fomat,…không nên sử dụng cho các trường hợp viêm khớp.</span></p>
    <p style="text-align: justify; line-height: 15.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
			<span style="font-size: 14.0pt; color: #444444">Ngoài những thực
			phẩm nên tránh với bệnh viêm khớp thì các chuyên gia cũng khuyên
			bệnh nhân viêm khớp nên dùng các loại thực phẩm sau:</span></p>
    <p style="text-align: justify; line-height: 15.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
			<span style="font-size: 14.0pt; color: #444444">Trà: trà xanh và các
			loại trà thảo dược có tác dụng thanh lọc cơ thể, kháng viêm rất tốt
			cho những người bị viêm khớp. Người bị viêm khớp có thể dùng các
			loại trà thảo dược, trà xanh thay nước lọc hàng ngày. Nước cũng có
			tác dụng trong việc tái tạo lớp sụn giữa các khớp xương. 8 ly nước
			mỗi ngày là cần thiết cho người bị viêm khớp.</span></p>
    <p style="text-align: justify; line-height: 15.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
			<span style="font-size: 14.0pt; color: #444444">Thịt: Các loại thịt
			màu đỏ không được khuyến khích cho người viêm khớp tuy nhiên thịt
			gà, hải sản, cá ngừ, cá hồi… giàu chất omega 3, omega 6 tốt cho bệnh
			nhân viêm khớp. Tuy nhiên không nên sử dụng nhiều, 70g protein mỗi
			ngày là lượng vừa đủ với người bị viêm khớp.</span></p>
    <p style="text-align: justify; line-height: 15.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
			<span style="font-size: 14.0pt; color: #444444">Trứng được coi là
			một sản phẩm hoàn hảo, nhiều chất dinh dưỡng tốt, được khuyên dùng
			cho bệnh nhân viêm khớp.</span></p>
    <p style="text-align: justify; line-height: 15.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
			<span style="font-size: 14.0pt; color: #444444">Rau quả: Tránh xa
			các loại rau quả như cà chua, khoai tây và kết bạn với những rau có
			lá màu xanh thẫm như súp lơ xanh, và các loại có màu da cam như bí
			ngô. Các loại gia vị như hành và tỏi tốt cho<span class="apple-converted-space">&nbsp;</span><a target="_blank" title="Món ăn chữa viêm khớp" style="color: blue; text-decoration: underline; text-underline: single"><span style="color: #CB0E3D; text-decoration: none">bệnh
			nhân viêm khớp.</span></a></span></p>
    <p style="text-align: justify; line-height: 15.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
			<span style="font-size: 14.0pt; color: #444444">Trái cây: Ăn nhiều
			trái cây là rất tốt tuy nhiên với người bệnh viêm khớp thì lại khác,
			không phải loại trái cây nào cũng tốt. Nên ăn các loại trái cây giàu
			vitamin C như: bưởi, chanh, kiwi, các loại quả mọng. Còn các loại
			quả như chuối, đào, cam, dứa, lê, dưa hấu là những loại trái cây có
			hàm lượng đường cao, vì thế không nên sử dụng dưới bất kì hình thức
			nào.</span></p>
    <p style="text-align: justify; line-height: 15.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
			<span style="font-size: 14.0pt; color: #444444">Hệ thống miễn dịch
			của bạn sẽ được chữa lành khi chúng ta có chế độ ăn uống hợp lý. Sức
			khỏe của bạn ở trong tầm tay bạn.</span></p>


</p><p align="center" style="margin-top: 0; margin-bottom: 0">&nbsp;</p><p align="center" style="margin-top: 0; margin-bottom: 0">
</p></font></h3>