﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
<font color="#000000" size="5">
</font><p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white"><font color="#000000" size="5">
    <b><span style="line-height: 150%; color: #333333">Chế độ ăn uống
			cho bệnh</span></b></font><font color="#333333" size="5"><span style="font-weight:700">
			vôi hóa xương khớp</span></font></p>
    <p class="boxtitle" style="margin:0in;margin-bottom:.0001pt;text-indent:.5in;
line-height:150%"><span style="line-height: 150%">
			<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/voi-hoa-khop.jpg" width="150" height="155" lowsrc="Vôi%20hóa%20xương%20khớp,%20voi%20hoa%20xuong%20khop,%20che%20do%20an%20voi%20hoa%20xuong%20khop" longdesc="Vôi hóa xương khớp, voi hoa xuong khop, che do an voi hoa xuong khop" alt="Vôi hóa xương khớp, voi hoa xuong khop, che do an voi hoa xuong khop" align="left">Vôi
			hóa xương khớp còn gọi là gai cột xương khớp, là bệnh mà phát triển
			do xương hoặc sụn bị thoái hóa. Vôi hóa xương khớp thường gặp ở
			những người trên 40 tuổi, có thể gặp ở cả nam giới và nữ giới. Bệnh
			vôi hóa xương khớp chỉ được phát hiện thông qua chụp chiếu, thường
			chỉ được phát hiện khi bệnh nhân có biểu hiện đau, vận động khó khăn.
			Vôi hóa xương khớp ngoài việc dùng thuốc cần kết hợp với chế độ ăn
			uống sinh hoạt hợp lý.</span></p>
    <p class="boxtitle" style="margin:0in;margin-bottom:.0001pt;text-indent:.5in;
line-height:150%"><span style="line-height: 150%">Phòng khám Đông y Nguyễn Hữu
			Toàn căn cứ trên quá trình điều trị thực tế cho bệnh nhân đã so sánh
			tổng kết và đưa ra một số lời khuyên về chế độ ăn uống, sinh hoạt
			cho bệnh nhân bị thoái hóa xương khớp (gai xương khớp).</span></p>
    <p class="boxtitle" style="margin:0in;margin-bottom:.0001pt;text-indent:.5in;
line-height:150%"><span style="line-height: 150%">Về chế độ dinh dưỡng cần lưu
			ý:</span></p>
    <p class="boxtitle" style="margin:0in;margin-bottom:.0001pt;text-indent:.5in;
line-height:150%"><b><span style="line-height: 150%">Những thực phẩm nên ăn:</span></b></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="line-height: 150%; color: black">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Thức ăn chứa nhiều can xi như sữa, các sản phẩm từ sữa như
			phô mai, sữa chua,... đây là nguồn thực phẩm giàu canxi và dễ hấp
			thu nhất.</span></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="line-height: 150%; color: black">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="line-height: 150%">Các loại thủy sản như
			tôm, cua, các loại cá nhỏ nguyên xương (chứa nhiều canxi)</span></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="line-height: 150%; color: black">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Đậu nành không nhiều canxi nhưng lại là thực phẩm rất tốt để
			phòng ngừa loãng xương. Hoạt chất Genistein có trong đậu nành được
			xem như là hormon estrogen thực vật, có tác dụng tương tự như
			estrogen sinh học và đóng góp một phần quan trọng đối với sự chắc
			khỏe của xương. Đậu nành có thể được chế biến dưới nhiều dạng khác
			nhau như sữa đậu nành, đậu phụ sử dụng trong các bữa ăn hàng ngày.</span></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="line-height: 150%; color: black">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Các loại hoa quả như: ổi, đu đủ, dứa, cam, chanh, bưởi vì các
			loại trái này là nguồn cung ứng men kháng viêm và sinh tố vitamin C,
			hai hoạt chất có tác dụng kháng viêm đặc biệt tốt cho người bị vôi
			hóa xương khớp (gai xương khớp).</span></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="line-height: 150%; color: black">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Các loại rau củ như cả rốt, củ dền, bí đỏ giàu vitamin A,
			vitamin E giúp bảo vệ bao khớp, đầu xương. Ngoài ra người bị vôi hóa
			xương khớp nên ăn nhiều cà chua vì có thể làm bớt đau khớp. Hạt cà
			chua có thể thay thế aspirin, có tác dụng giảm đau, chống viêm khớp.</span></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="line-height: 150%; color: black">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Các loại rau xanh như: súp lơ xanh, bông cải xanh chứa nhiều
			vitamin K, C, giúp xương chắc khỏe. </span></p>
    <p style="text-align: justify; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <b><span style="line-height: 150%; color: black">Những thực phẩm nên
			hạn chế:</span></b></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="line-height: 150%; color: black">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Đồ cay nóng như ớt, hạt tiêu</span></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="line-height: 150%; color: black">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Chất kích thích</span></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="line-height: 150%; color: black">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Đồ uống có ga, có cồn như: bia, rượu, thuốc lá,...</span></p>
    <p style="text-align: justify; text-indent: -.25in; line-height: 150%; vertical-align: baseline; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="line-height: 150%; color: black">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Các loại thịt màu đỏ, chất béo bão hòa, đồ ăn chua, chứa
			nhiều muối.</span></p>
    <p style="text-align: justify; text-indent: .25in; line-height: 150%; vertical-align: baseline; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="line-height: 150%; color: black">Ngoài chế độ dinh
			dưỡng thì những người bị vôi hóa xương khớp (gai xương khớp) cần chú
			ý tập luyện thích hợp giúp cải thiện tình trạng bệnh một cách nhanh
			chóng.</span></p>
    <p style="text-align: justify; text-indent: .25in; line-height: 150%; vertical-align: baseline; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="line-height: 150%; color: black">Thường thì những người
			bị vôi hóa xương khớp, gai xương khớp thường sợ cử động vì càng cử
			động lại càng đau. Nhưng đó là một sai lầm bởi việc không vận động
			sẽ làm cho các khớp bị tê cứng, bệnh càng nặng hơn. Do đó khi bị vôi
			hóa xương khớp người bệnh cần vận động nhẹ nhàng phù hợp để khớp
			được hô hấp, mô sụn có điều kiện hấp thu dưỡng chất từ dịch khớp.
			Tuy nhiên cũng không nên vận động quá mạnh gây đau đớn và dễ chấn
			thương các khớp.</span></p>
    <p style="text-align: justify; text-indent: .25in; line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: 15.0pt; background: white">
			<span style="line-height: 150%; color: black">Khi trời trở lạnh, cần
			mặc đủ ấm, dùng khăn quàng cổ, găng tay, tất… Hạn chế chân, tay bị
			ẩm ướt, cần nhanh chóng lau khô người khi đi mưa. Khi khớp có dấu
			hiệu đau nhức, tê cứng cần làm nóng/ấm xung quanh vị trí đau bằng
			dầu hoặc chườm nóng. Không nên xoa bóp trực tiếp lên vùng khớp viêm
			cấp (sưng, nóng, đỏ, đau).</span></p>
    <p style="text-align: justify; text-indent: .25in; line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: 15.0pt; background: white">
			<span style="line-height: 150%; color: black">Một số môn thể thao
			thích hợp cho người bị vôi hóa xương khớp (gai xương khớp): bơi lội,
			đi bộ, khiêu vũ, yoya,...</span></p>
</font>
</h3>