﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
<p align="center"><font color="#000000" size="3"><b><font size="5" color="#000080">Chế độ ăn uống</font></b></font><font color="#000080" size="5"><b>
    kiêng kị cho bệnh tiêu chảy kéo dài</b></font></p>
    <p style="margin-top: 0; margin-bottom: 0" align="center">&nbsp;</p><font color="#000000" size="3">
    <p class="MsoBodyTextIndent" id="Tiêu chảy kéo dài, tieu chay keo dai, tieuchaykeodai" align="left">&nbsp;&nbsp;<span style="color: black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		Chế độ dinh dưỡng thích hợp đóng vai trò quan trọng đối với trẻ bị tiêu
		chảy kéo dài, đồng thời có tác dụng thúc đẩy sự phục hồi sớm niêm mạc
		ruột.<br>
		<br>
		Chế độ dinh dưỡng đúng được biểu hiện bằng sự tăng cân ngay cả trong khi
		trẻ bị tiêu chảy.<br>
		Giảm tạm thời số lượng sữa động vật hoặc đường lactose trong sữa trong
		chế độ ăn. <br>
		Cung cấp đầy đủ năng lượng, protein, vitamin và các yếu tố vi lượng để
		tái tạo và phục hồi niêm mạc ruột bị tổn thương, cải thiện tình trạng
		dinh dưỡng toàn thân.<br>
		<br>
		Không cho trẻ ăn các loại thức ăn, nước uống làm tăng thêm tiêu chảy như
		thức ăn thô, thức ăn chứa nhiều đường, chất béo, các loại nước giải khát
		công nghiệp.<br>
		<br>
		Dùng các loại thức ăn sẵn có như gạo, khoai, chế biến dưới dạng mềm,
		lỏng dễ tiêu hóa như bột, cháo, súp.<br>
		<br>
		Chọn các loại thực phẩm giàu chất đạm như thịt, cá, trứng, sữa…<br>
		<br>
		Uống và ăn thêm quả tươi để cung cấp các vitamin và muối khoáng.<br>
		<br>
		<b>Trẻ dưới 6 tháng tuổi</b><br>
		<br>
		Tiếp tục cho trẻ bú mẹ, bú nhiều lần, mẹ không nên ăn kiêng.<br>
		<br>
		Nếu mẹ không có sữa: Dùng các loại sữa không có đường lactose, hoặc các
		loại sữa đã lên men: sữa chua hoặc dùng sữa đậu tương (đậu nành). Sữa
		chua phải được làm từ loại sữa dành cho trẻ dưới 6 tháng tuổi.<br>
		<br>
		<b>Trẻ từ 6-12 tháng tuổi</b><br>
		<br>
		Tiếp tục bú mẹ.<br>
		<br>
		Pha sữa động vật bằng nước cháo làm giảm 5% nồng độ đường lactose hoặc
		cho trẻ ăn sữa chua, sữa đậu tương.<br>
		<br>
		Đảm bảo thức ăn bổ sung như bột, cháo xay nấu với thịt, cá, trứng, rau
		xanh và dầu mỡ. Khi chế biến, đảm bảo độ nhớt giảm, dễ tiêu hóa, cân đối
		đạm, mỡ, đường, tránh tăng áp lực thẩm thấu.<br>
		<br>
		Cho ăn nhiều bữa trong ngày (ít nhất 6 bữa).<br>
		<br>
		<b>Trẻ từ 1 tuổi trở lên</b><br>
		<br>
		Bú mẹ và ăn thêm sữa động vật.<br>
		<br>
		Chế biến thức ăn dưới dạng cháo, súp từ gạo, khoai, rau, đậu đỗ.<br>
		<br>
		Đảm bảo 50% năng lượng từ các thức ăn sam, còn 50% từ sữa hoặc sản phẩm
		sữa, đảm bảo năng lượng 110kcal/kg/24giờ.<br>
		<br>
		Khi tiêu chảy khỏi được 1 tuần thì mới chuyển dần về chế độ ăn bình
		thường theo tuổi.<br>
		<br>
		Nếu trẻ đang bú mẹ, ngoài các bữa cháo, súp cho trẻ bú mẹ nhiều hơn bình
		thường, mẹ không phải kiêng khem trong ăn uống (chỉ kiêng ăn thức ăn có
		nhiều đường nếu như trẻ tiêu chảy phân bọt và nhầy, có mùi chua).<br>
		<br>
		Nếu ăn sữa bò trẻ tiêu chảy tăng lên thì chỉ ăn sữa chua hoặc sữa đậu
		nành hoặc dùng loại sữa không có lactose.<br>
		<br>
		Các loại súp đều phải xay nát hoặc nghiền nhỏ để trẻ dễ tiêu hóa, hấp
		thu.<br>
		<br>
		Bù nước và điện giải<br>
		<br>
		Nếu trẻ có dấu hiệu mất nước cần bù nước và điện giải bằng đường uống.<br>
		<br>
		Đối với trẻ bị suy dinh dưỡng, khi đánh giá dấu hiệu mất nước khó, vì
		vậy song song với chế độ ăn cần phải cho trẻ uống ORS hoặc các dung dịch
		điều trị tiêu chảy như nước cháo, nước cà rốt, nước dừa…<br>
		<br>
		Cung cấp cho trẻ các loại vitamin và muối khoáng<br>
		Các loại vitamin nhóm B và vitamin C, các vitamin tan trong dầu: A, D,
		E, K và các yếu tố vi lượng như: Kẽm, sắt, đồng, selen, acid Folic dưới
		dạng thuốc nước (Hydrosol, Nutroplex, Dynavit, Alvityl…) theo chỉ dẫn
		của bác sĩ.</span></p>
</font>
</h3>