﻿<div id="noidung">




    <font color="#0000FF">
		<span style="font-family: Times New Roman; font-size:16pt">
		<h1 style="text-align: center"><font size="5">Chế độ ăn cho bệnh lạc nội mạc tử cung</font></h1></span></font>
    <font color="#000000" size="3">
        <p style="text-indent: 20px; line-height:14.0pt; margin-left:.1in; margin-right:.1in" align="justify">
		<span style="font-family: Times New Roman">Lạc nội mạc tử cung là một bệnh khá phổ
		biến chiếm khoảng 2% phụ nữ lứa tuổi sinh đẻ, và người ta thấy hay gặp ở
		những bệnh nhân có vòng kinh ngắn, thời gian kinh kéo dài, ít đẻ, tử
		cung đổ sau… Đó là tình trạng&nbsp; các mảnh nội mạc tử cung di chuyển đến
		một nơi khác ngoài buồng tử cung. </span></p>
        <p style="text-indent: 20px; margin-left: .1in; margin-right: .1in; line-height:14.0pt" align="justify">
		<span style="font-family: Times New Roman">Bệnh nhân bị lạc nội mạc tử cung thường có đau bụng dữ dội vùng hạ vị
		nhiều một vài ngày trước khi hành kinh, trong và có thể kéo dài đến sau
		khi hành kinh, và đau khi giao hợp. Nếu lạc nội mạc tử cung lâu ngày và
		nặng, bệnh nhân sẽ đau bụng thường xuyên không liên quan đến chu kỳ kinh
		hay giao hợp, kèm theo các triệu chứng như buồn nôn, nôn ọe, đi tả...
		Nội mạc tử cung lạc ở các vị trí khác cũng sẽ có hiện tượng bong tróc,
		xuất huyết khiến bệnh nhân đau rất nhiều tại các vị trí có lạc nội mạc
		tử cung và có thể chảy máu ra ngoài như chảy máu mũi, mắt, tai, ho ra
		máu, tiểu ra máu, đại tiện ra máu, rối loạn tiêu hóa, xuất hiện các vết
		bầm máu tự nhiên ở da, khớp,…luôn luôn cùng lúc với thời điểm bệnh nhân
		hành kinh.</span></p>
        <p style="text-indent: 20px; margin-left: .1in; margin-right: .1in; line-height:14.0pt" align="justify">
		<span style="font-family: Times New Roman">* Cùng với việc điều trị khỏi bệnh cho nhiều bệnh nhân bị lạc nội mạc tử
		cung, phòng khám Đông y Nguyễn Hữu Toàn đã nghiên cứu mối liên hệ giữa
		thói quen ăn uống với căn bệnh này. Sau đây, chúng tôi xin cung cấp cho
		bệnh nhân một số vấn đề chúng tôi đã kết luận được:</span></p>
        <p style="text-indent: 20px; margin-left: .1in; margin-right: .1in; line-height:14.0pt" align="justify">
		<span style="font-family: Times New Roman">- Nguy cơ mắc bệnh giảm đáng kể ở những người tiêu thụ nhiều rau xanh (khoảng
		70%) hoặc hoa quả tươi (40%). Trong khi ở những người ăn những loại thịt có màu thịt đỏ, thịt tươi như
		bò, cừu nhiều hơn 7 lần trong tuần có nguy cơ bị lệch nội mạc tử cung
		cao gấp đôi những người ăn ít thịt và ăn nhiều trái cây và rau quả. nhiều thịt bò và các loại thịt đỏ, nguy cơ tăng gấp đôi.</span></p>
        <p style="text-indent: 20px; margin-left: .1in; margin-right: .1in; line-height:14.0pt" align="justify">
		<span style="font-family: Times New Roman">- Hạn chế các thực phẩm từ sữa như: bơ, phomai...(cho phép dùng&nbsp;ít nhất
		ba tuần / lần).</span></p>
        <p style="text-indent: 20px; line-height:14.0pt; margin-left:.1in; margin-right:.1in" align="justify">
		<span style="font-family:Times New Roman">- Phụ nữ có chế độ ăn uống
		giàu chất axít béo omega-3 (các loại cá đặc biệt cá hồi) sẽ giảm được
		đáng kể nguy cơ mắc bệnh này. </span></p>
        <p style="text-indent: 20px; line-height:14.0pt; margin-left:.1in; margin-right:.1in" align="justify">
		<span style="font-family:Times New Roman">- Sử dụng các&nbsp;loại thực
		phẩm bằng&nbsp;đậu nành trong chế độ ăn uống. Đậu hũ, sữa đậu nành có chứa
		nhiều estrogen thực vật và điều chỉnh tốt&nbsp;các hoạt động của estrogen.</span></p>
        <p style="text-indent: 20px; line-height:14.0pt; margin-left:.1in; margin-right:.1in" align="justify">
		<span style="font-family:Times New Roman">- Lưu ý thêm, vào những
		ngày đầu của chu kỳ kinh nguyệt, nên ăn các thức ăn dễ tiêu hóa vì lúc
		này dạ dày thường có hiện tượng chướng hơi, gây khó chịu cho người phụ
		nữ.</span></p>
        <p style="text-indent: 20px; line-height:14.0pt; margin-left:.1in; margin-right:.1in" align="justify">
		<span style="font-family:Times New Roman">- Hạn chế uống rượu. Chất
		kích thích&nbsp;có thể ảnh hưởng đến sản xuất estrogen.</span></p>
        <p style="text-indent: 20px; line-height:14.0pt; margin-left:.1in; margin-right:.1in" align="justify">
		<span style="font-family:Times New Roman">- Uống một tách trà lá mâm
		xôi đỏ hàng ngày để giúp làm giảm các cơn đau trong kỳ kinh.</span></p>
        <p style="text-indent: 20px; line-height:14.0pt; margin-left:.1in; margin-right:.1in" align="justify">
		<span style="font-family:Times New Roman">* Bên cạnh đó chúng tôi
		cung cấp cho bệnh nhân một số lời khuyên trong sinh hoạt</span></p>
        <p style="text-indent: 20px; line-height:14.0pt; margin-left:.1in; margin-right:.1in" align="justify">
		<span style="font-family:Times New Roman">- Kiêng quan hệ tình dục
		vào những ngày có kinh vì có thể gây ra hiện tượng trào ngược kinh gây
		bệnh Lạc nội mạc tử cung.</span></p>
        <p style="text-indent: 20px; line-height:14.0pt; margin-left:.1in; margin-right:.1in" align="justify">
		<span style="font-family:Times New Roman">- Để hạn chế đau bụng kinh
		có thể sử dụng các biện pháp sau:</span></p>
        <p style="text-indent: 20px; line-height:14.0pt; margin-left:.1in; margin-right:.1in" align="justify">
            <span style="font-family:Times New Roman">+ Chườm nước nóng:</span></p>
        <p style="text-indent: 20px; line-height:14.0pt; margin-left:.1in; margin-right:.1in" align="justify">
		<span style="font-family:Times New Roman">&gt;Dùng khăn bông dấp nước
		ấm và chườm vào phần bụng dưới sẽ giúp bạn bớt đau bụng khi tử cung co
		thắt để đẩy lượng máu kinh ra ngoài.&nbsp;</span></p>
        <p style="text-indent: 20px; line-height:14.0pt; margin-left:.1in; margin-right:.1in" align="justify">
		<span style="font-family:Times New Roman">&gt; Ngoài ra, có thể dùng
		chai thủy tinh nhỏ đựng nước ấm và lăn hoặc ấp vào phần bụng dưới thay
		cho khăn nóng.</span></p>
        <p style="text-indent: 20px; line-height:14.0pt; margin-left:.1in; margin-right:.1in" align="justify">
		<span style="font-family:Times New Roman">+ Đắp gừng tươi: Gừng giã
		hoặc xắt lát, chườm vào phần bụng dưới khoảng 5-7 phút sẽ giúp bạn giảm
		những cơn đau bụng kinh.</span></p>
        <p style="text-indent: 20px; line-height:14.0pt; margin-left:.1in; margin-right:.1in" align="justify">
		<span style="font-family:Times New Roman">+ Dán cao hoặc xoa dầu:
		Một số bạn nữ thường xoa dầu nóng hoặc dán cao vào phần bụng dưới để
		giảm đau vì không có thời gian thực hiện hai phương pháp trên.</span></p>
        <p style="text-indent: 20px; line-height:14.0pt; margin-left:.1in; margin-right:.1in" align="justify">
		<span style="font-family:Times New Roman">+ Massage nhẹ: Nên massage
		nhẹ nhàng và thường xuyên phần bụng dưới khi đang hành kinh. Việc này sẽ
		giúp cơ bụng không bị co thắt quá đột ngột và sẽ giảm đau thật hiệu quả.</span></p>
        <p style="text-indent: 20px; line-height:14.0pt; margin-left:.1in; margin-right:.1in" align="justify">
		<span style="font-family:Times New Roman">+ Ngoài ra, để giảm bớt
		hiện tượng đau bụng mỗi khi hành kinh, các bạn nữ nên ăn uống đủ chất
		trong thực đơn hằng ngày. </span></p>
        <p style="text-indent: 20px; line-height:14.0pt; margin-left:.1in; margin-right:.1in" align="justify">
		<span style="font-family:Times New Roman">+ Vào những ngày này, nên
		nghỉ ngơi và vận động thật nhẹ nhàng. </span></p>
        <p style="text-indent: 20px; line-height:14.0pt; margin-left:.1in; margin-right:.1in" align="justify">
		<span style="font-family:Times New Roman">+ Nên kiêng các chất kích
		thích như café, trà, rượu và một số gia vị cay, chua...</span></p>

 </font>
</div>