﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
 <font color="#000000" size="6">
</font><p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white"><font color="#000000" size="6">
    <b><span style="line-height: 150%; color: #333333">Chế độ ăn uống </span></b>

</font><font size="6"><b>cho bệnh kiết lỵ</b></font></p>

    <font color="#000000" size="3">
    <p class="MsoNormal" style="line-height: 150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<span style="font-family: 13">
			<img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-kiet-ly.jpg" width="320" height="213" lowsrc="Chế%20độ%20ăn%20uống%20kiêng%20kị%20cho%20bệnh%20kiết%20lỵ" longdesc="Chế độ ăn uống kiêng kị cho bệnh kiết lỵ" alt="Chế độ ăn uống kiêng kị cho bệnh kiết lỵ" align="left">Kiết
			lỵ là bệnh do vi trùng Entamoeba dysenteria gây
			ra, làm cho công năng vận hóa của tỳ vị bị rối loạn gây ra bệnh.
			Bệnh có thể gặp ở mọi lứa tuổi, thường xuất hiện vào mùa thu, hè.
			Người bệnh thường có biểu hiện: đau bụng, đi ngoài mót rặn, đi ngoài
			ra nhầy. Hầu hết bệnh nhân bị kiết lỵ thường kéo dài trong khoảng
			2-3 ngày nếu được điều trị đúng cách.</span></p>
    <p class="MsoNormal" style="line-height: 150%">
			<span style="font-family: 13">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bệnh Kiết lỵ ngoài việc điều trị bằng thuốc, người bệnh
			cần tuân thủ một chế độ dinh dưỡng thích hợp để bệnh nhanh khỏi.</span></p>
    <p class="MsoNormal" style="line-height: 150%"><b>
        <span lang="EN-GB">Những thực phẩm nên sử dụng khi bị kiết lỵ</span></b></p>
    <p class="MsoNormal" style="text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt">
			<span lang="EN-GB" style="font-family: Symbol">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-family: 13">Nên chọn những món ăn nhạt, loãng,
			không có xơ và dầu mỡ để dễ tiêu hóa. Nên ăn thành nhiều bữa nhỏ, 
			không ăn quá no vào một bữa.</span></p>
    <p class="MsoNormal" style="text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt">
			<span style="font-family: 13">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Nên ăn thực phẩm như: gạo tẻ, gạo
			nếp, mì, đại mạch, đậu cove, đậu non, củ mài, hạt sen, đậu
			xanh... Đây là những thực phẩm này ngoài việc dễ tiêu, còn có tác
			dụng hạn chế đi lỏng.</span></p>
    <p class="MsoNormal" style="text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt">
			<span style="font-family: 13">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Bổ sung rau quả tươi trong chế độ
			ăn: nên luộc, hoặc ép thành nước cho dễ sử dụng. Các loại hoa quả
			như chuối, táo giàu kali, chứa pectin- chất xơ hòa tan trong nước
			giúp giảm tiêu chảy khi bị kiết lỵ.</span></p>
    <p class="MsoNormal" style="text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt">
			<span style="font-family: 13">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Bổ sung lợi khuẩn probiotic giúp cải thiện sức khỏe
			ruột kết, đặc biệt tốt cho bệnh nhân bị kiết lỵ.</span></p>
    <p class="MsoNormal" style="text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt">
			<span style="font-family: 13">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Nên bổ sung các thực phẩm có tác
			dụng diệt khuẩn lỵ tốt vào chế độ ăn khi bị kiết lỵ: tỏi, lá chè,
			ngó sen, ổi,…</span></p>
    <p class="MsoNormal" style="text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt">
			<span style="font-family: 13">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Trường hợp đi ngoài nhiều, bị mất
			nước nên bổ sung nước oresol để tránh mất nước, kiệt sức và giúp
			phục hồi sức khỏe tốt hơn.</span></p>
    <p class="MsoNormal" style="line-height: 150%"><b>Thực phẩm cần
        tránh khi bị kiết lỵ</b></p>
    <p class="MsoNormal" style="text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt">
			<span style="font-family: 13">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Các sản phẩm sữa như pho mát , kem, bơ và kem, đây là
			những thực phẩm gây kích ứng ruột, làm bệnh kiết lỵ trở nên trầm
			trọng hơn. Có thể thay thế các sản phẩm sữa từ sữa bò bằng các sản
			phẩm từ sữa đậu nành, sữa hạnh nhân.</span></p>
    <p class="MsoNormal" style="text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt">
			<span style="font-family: 13">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Thức ăn cay, chứa nhiều dầu mỡ, sẽ làm tình trạng kiết
			lỵ trở nên nghiêm trọng hơn.</span></p>
    <p class="MsoNormal" style="text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt">
			<span style="font-family: 13">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Các loại trái cây có nhiều chất xơ như: bưởi, cam,
			quýt.</span></p>
    <p class="MsoNormal" style="text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt">
			<span style="font-family: 13">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Đồ uống có cồn, có ga, có chứa cafein như: rượu, bia,
			cà phê, soda, nước ngọt,...</span></p>
    <p class="MsoNormal" style="text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt">
			<span style="font-family: 13">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Thực phẩm gây đầy hơi, chướng bụng như: ngũ cốc nguyên
			hạt, các loại hạt, hành tây, đậu bắp, đậu Hà Lan, bông cải xanh, súp
			lơ.</span></p>
</font>
</h3>