﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <font color="#000000" size="3">

        <h1 style="text-align: center"><font size="5">Chế độ ăn uống kiêng kị cho
            bệnh thoát vị bẹn</font></h1>

        <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: white">
			<span style="font-size:13.0pt;line-height:150%;color:#333333;letter-spacing:.2pt">
			<img border="0" src="http://www.thaythuoccuaban.com/images/uong-nhieu-nuoc.jpg" width="259" height="194" align="left">Thoát
			vị bẹn là bệnh thường xảy ra ở nam giới, trong đông y được xếp vào
			chứng sa. Thoát vị bẹn xảy ra khi một đoạn ruột bị lọt qua khe rơi
			xuống bìu. Thoát vị bẹn sau khi đã điều trị khỏi vẫn có thể bị lại
			nhiều lần.</span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: white">
			<span style="font-size:13.0pt;line-height:150%;color:#333333;letter-spacing:.2pt">
			Dưới đây là một số lời khuyên cho bệnh nhân bị thoát vị bẹn</span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: white">
			<span style="font-size: 13.0pt; line-height: 150%; color: #333333; letter-spacing: .2pt; font-weight: 700">
			Về chế độ ăn uống: </span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: white">
			<span style="font-size:13.0pt;line-height:150%;color:#333333;letter-spacing:.2pt">
			Người bị thoát vị bẹn không cần kiêng bất cứ đồ ăn gì, có thể ăn đa
			dạng các loại thực phẩm nhằm cung cấp đầy đủ dưỡng chất cần thiết để
			cơ thể phát triển bình thường. Tuy nhiên không nên ăn quá no một lúc.</span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: white">
			<span style="font-size:13.0pt;line-height:150%;color:#333333;letter-spacing:.2pt">
			Uống nhiều nước giúp cung cấp đủ lượng nước cần thiết cho cơ thể</span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: white">
			<span style="font-size:13.0pt;line-height:150%;color:#333333;letter-spacing:.2pt">
			Ăn nhiều rau xanh và hoa quả tươi: Cung cấp lượng chất xơ và vitamin
			dồi dào cho cơ thể, để không bị táo bón.</span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: white">
			<span style="font-size:13.0pt;line-height:150%;color:#333333;letter-spacing:.2pt">
			Khi bị táo bón có thể dùng thuốc thụt chứ không nên cố gắng rặn vì
			có thể khiến tình trạng thoát vị bẹn trở lại.</span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: white">
			<span style="font-size:13.0pt;line-height:150%;color:#333333;letter-spacing:.2pt">
			Không nên làm việc nặng, chơi những môn thể thao đòi hỏi phải nhảy
			nhiều như bóng rổ, bóng chuyền, hạn chế đi xe đạp vì có thể khiến
			tình trạng thoát vị bẹn bị tái lại.</span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: white">
			<span style="font-size:13.0pt;line-height:150%;color:#333333;letter-spacing:.2pt">
			Nếu phát hiện có nguy cơ bị thoát vị bẹn lại cần đi lại nhẹ nhàng,
			không nên đi lên xuống cầu thang nhiều, nếu có thể hãy nằm nghỉ ngơi
			và dùng tay ấn lại vào vùng có khả năng thoát vị bẹn.</span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%; background: white">
			<span style="font-size:13.0pt;line-height:150%;color:#333333;letter-spacing:.2pt">
			<b>Về sinh hoạt tình dục:</b> Về cơ bản người bị thoát vị bẹn vẫn có
			thể quan hệ tình dục bình thường tuy nhiên không nên hoạt động tình
			dục quá mức sau khi vừa điều trị.</span></p>

</font></font>
</h3>