﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <font color="#000000" size="3">
    <font color="#0000FF">
			<span style="font-family: Times New Roman; font-size:16pt">
					<h1 style="text-align: center">Chế độ ăn cho bệnh thoát vị
                        đĩa đệm</h1>
			</span></font><font color="#000000" size="3">
			<span style="font-family: Times New Roman; font-size:16pt">
			</span></font><font color="#000000" size="3">
    <font color="#000000" size="3">
        <font color="#0000FF">
			<span style="font-family: Times New Roman; font-size:16pt">
					</span></font><p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%"><font color="#0000FF">
					<span style="font-size: 13.0pt; line-height: 150%">
					<img border="0" src="http://www.thaythuoccuaban.com/images/thuc-pham-giau-canxi.jpg" width="248" height="203" lowsrc="Chế%20độ%20ăn%20uống%20cho%20bệnh%20thoát%20vị%20đĩa%20đệm" longdesc="Chế độ ăn uống cho bệnh thoát vị đĩa đệm" alt="Chế độ ăn uống cho bệnh thoát vị đĩa đệm" align="left"></span></font><font face="Times New Roman">Dinh
        dưỡng đóng một vai trò quan trọng với sức khỏe mỗi người.
        Đối với những người đang bị bệnh và phục hồi sức khỏe thì
        vai trò của chế độ dinh dưỡng lại càng quan
        trọng.Một số bệnh nhân thoát vị địa đệm cho rằng: chế độ
        dinh dưỡng không có ảnh hưởng gì tới tình trạng bệnh tật của
        mình, tuy nhiên đó là một quan niệm sai lầm. Theo Lương y
        Nguyễn Hữu Toàn bệnh nhân thoát vị đĩa đệm cần lưu ý một số
        điểm:</font></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
            <font face="Times New Roman">Người bị thoát vị đĩa đệm cần đặc biệt
                quan tâm tới chế độ ăn uống của mình để giữ một trọng lượng cơ thể ở
                mức cho phép, tăng cân sẽ khiến bộ xương của bạn phải làm việc nhiều
                hơn, chịu tải lớn hơn và đương nhiên tình trạng thoát vị đĩa đệm có
                thể trở nên nghiêm trọng hơn. Bổ sung đủ các vitamin và khoáng chất
                không chỉ có tác dụng chữa lành bệnh một phần nào mà nó còn có thể
                hỗ trợ việc kiểm soát các triệu chứng mãn tính của cơ thể, và nó là
                công cụ cần thiết để xây dựng và duy trì các mô khoẻ mạnh.</font></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%">
            <font face="Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Đối với bệnh nhân thoát vị
                đĩa đệm thì chế độ ăn uống cần tập trung vào việc cung cấp các chất
                dinh dưỡng cần thiết để duy trì sụn khỏe mạnh, vì đó là những gì các
                annulus fibrosus được tạo thành. Các loại thực phẩm hỗ trợ sức khỏe
                sụn bao gồm những sản phẩm tự nhiên giàu vitamin C, E và D, cũng như
                bổ sung glucosamine và chondroitin. </font></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
            <font face="Times New Roman">Ngoài ra nên lựa chọn những thực phẩm
                giàu canxi để hỗ trợ sức khỏe của hệ xương nói chung và của xương
                sống nói riêng. Thực phẩm giàu canxi: sữa và các thực phẩm từ sữa.</font></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
            <font face="Times New Roman">Nên ăn nhiều rau xanh, trái cây,
                protein nạc như cá, thịt gà và các loại đậu</font></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
            <font face="Times New Roman">Nên uống nhiều nước giúp đào thải độc
                tố ra ngoài cơ thể</font></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
            <font face="Times New Roman">Nên tập thể dục nhẹ nhàng, giúp duy trì
                trọng lượng cơ thể ở mức độ cho phép.</font></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%">
            <font face="Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Khi ngủ nên nằm trên một
                mặt phẳng cứng, sử dụng một lớp đệm mỏng vừa phải, tránh nằm giường
                mềm, ngủ ở tư thế nằm ngửa co gối là thích hợp nhất, phải nắm rõ tư
                thế lên xuống giường chính xác.</font></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%">
            <font face="Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Khi đi lại, làm việc cần
                giữ tư thế đúng, tránh những tư thế có thể gây hại cho cột sống
                lưng, không nên giữ một tư thế trong thời gian lâu.</font></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
            <font face="Times New Roman">Đối với những bệnh nhân thoát vị đĩa
                đệm phải lao động chân tay cần có ý thức để bảo vệ lưng, tránh những
                động tác gây ảnh hưởng tới lưng.</font></p>
			<span style="font-family: Times New Roman; font-size:16pt">
					<font color="#0000FF">
                        <p>&nbsp;</p></font></span></font></font>


</h3>