﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <h1><font size="5" color="#000080" face="Times New Roman">Chế độ ăn uống
        kiêng kị cho bệnh khớp</font></h1>
    <font color="#0000FF">

                        <p>&nbsp;</p></font></span></font><font color="#000000" size="3">
    <p class="MsoBodyTextIndent" id="Khớp, khop, khop" align="justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">
		<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/benh-gout-va-thuc-pham-nen-dung.jpg" width="300" title="Bệnh khớp và những thực phẩm nên dùng" height="200" lowsrc="Bệnh%20khớp%20và%20những%20thực%20phẩm%20nên%20dùng" longdesc="Bệnh khớp và những thực phẩm nên dùng" alt="Bệnh khớp và những thực phẩm nên dùng" align="left">&nbsp;Bệnh viêm xương khớp ngày nay đã trở thành vấn đề y khoa phổ biến, ước
		tính có khoảng gần 100 loại viêm xương khớp và chia làm 2 nhóm chính:
		Viêm xương khớp do thoái hóa và viêm xương khớp do viêm. Việc điều trị
		gặp rất nhiều khó khăn vì còn liên quan đến sinh hoạt của bệnh nhân hàng
		ngày, vì vậy việc ứng dụng chế tiết dinh dưỡng và chế độ ăn uống hợp lý
		trong điều trị các bệnh viêm xương khớp có một ý nghĩa quan trọng, đã
		đạt được một số tiến bộ và hiểu biết đáng kể.</span></p>
    <h4 align="justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: #000080">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		Ảnh hưởng của các chất dinh dưỡng trong bệnh viêm xương khớp</span></h4>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
		<span style="font-family: Times New Roman; font-weight:normal; color:windowtext; font-size:12.0pt">Quá trình viêm xương khớp là
		quá trình tạo thành các sản phẩm hoạt hóa sinh học của các acid béo, đó
		là Prostaglandin và Leucotriene dẫn xuất từ acid béo thiết yếu. Acid
		Arachidonic; các dẫn xuất hoạt hóa này có thể thay đổi thành phần acid
		béo trong thức ăn.</span></p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
		<span style="font-family: Times New Roman; font-weight:normal; color:windowtext; font-size:12.0pt">Acid Arachidonic là thành
		phần của Phospholipid màng tế bào là cơ chất của men Cyclooxygenase và
		Lipooxygenase.</span></p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
		<span style="font-family: Times New Roman; font-weight:normal; color:windowtext; font-size:12.0pt">Cyclooxygenase là men hoạt
		hóa acid béo tạo thành Prostaglandin và Thromboxane, hai chất này kích
		thích phản ứng viêm và thúc đẩy kết dính tiểu cầu, Prostaglandin E gây
		giãn mạch, xung huyết, tăng cảm giác đau.</span></p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
		<span style="font-family: Times New Roman; font-weight:normal; color:windowtext; font-size:12.0pt">Sử dụng thức ăn từ hải sản,
		dầu cá có chứa acid béo kép không no type n-3 bao gồm acid
		Eicosopentaenoic (EPA, C20:5) và acid Docosahexaenoic (DHA, C22:6) có
		thể thay thế acid Arachidonic của màng tế bào. Hai acid EPA và DHA cũng
		là cơ chất cho men Lipooxygenase để tạo thành Leucotriene B5 - LTB5 ít
		kích thích viêm và ít gây dính tiểu cầu hơn là Leucotriene B4 dẫn xuất
		từ acid béo thiết yếu Arachidonic. Bữa ăn sử dụng từ dầu cá thay mỡ đã
		được chứng minh trong một số công trình lâm sàng là có tác dụng giảm đau
		và giảm sưng khớp.</span></p>
    <h4 align="justify">
        <span style="font-size: 12.0pt; font-family: Times New Roman; color: #000080">&nbsp;&nbsp;&nbsp;</span><span style="font-weight: 400; font-family: Times New Roman; color: #000080"><font size="4">&nbsp;&nbsp;&nbsp;
    </font></span>
		<span style="font-family: Times New Roman; color: #000080">
		<font size="3">Chế độ ăn trong một số bệnh viêm xương khớp thường gặp</font></span></h4>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
		<span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">1. Người béo phì thường kèm
		thoái hóa khớp, cho nên người béo phì cần giảm cân, cân bằng chế độ ăn
		kiêng từ từ để làm giảm tối đa những chấn động trên khớp.</span></p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
        <span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">&nbsp;</span></p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
		<span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">2. Người có tình trạng dinh
		dưỡng kém mà bị viêm đa khớp dạng thấp, nên ăn nhiều hơn bình thường
		bằng cách ăn thành nhiều bữa nhỏ (bữa phụ) để dung nạp tốt hơn.</span></p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
        <span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">&nbsp;</span></p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
        <span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">3. Bệnh gout</span></p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
		<span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">Cần có chế độ ăn kiêng nghiêm
		ngặt, hạn chế tối đa chất đạm để làm giảm lượng acid uric trong máu,
		tinh thể uric lắng đọng trong khớp như:</span></p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
		<span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">
		<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/benh-khop-va-thuc-pham-khong-nen-dung.jpg" title="Bệnh khớp và những thực phẩm không nên dùng" width="300" height="200" lowsrc="Bệnh%20khớp%20và%20những%20thực%20phẩm%20không%20nên%20dùng" longdesc="Bệnh khớp và những thực phẩm không nên dùng" alt="Bệnh khớp và những thực phẩm không nên dùng" align="left">* Gan, thận, tim, trứng cá,
		cá trích, cá mòi, thịt bò, thịt gà lôi, chim bồ câu, ngỗng, sò...</span></p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
		<span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">* Đặc biệt không dùng chất
		đạm này chung với bia, rượu mạnh hoặc rượu vang đỏ.</span></p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
		<span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">* Các loại đậu, cây họ đậu,
		măng tây, súp lơ, nấm.</span></p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
		<span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">* Tránh uống rượu, bia, thuốc
		lá, cà phê, chocolat.</span></p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
        <span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">* Tránh dùng mỡ động vật.</span></p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
        <span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">Nên dùng:</span></p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
		<span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">- Ăn nhiều rau, trái cây tươi,
		ăn thành nhiều bữa nhỏ trong ngày.</span></p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
		<span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">- Nên dùng dầu đậu nành, dầu
		hạnh nhân.</span></p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
        <span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">- Tập thể dục đều đặn.</span></p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
        <span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">&nbsp;</span></p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
		<span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">4. Bệnh thoái hóa khớp và
		viêm đa khớp dạng thấp cần ăn:</span></p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
		<span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">- Thịt heo, thịt gia cầm (gà,
		vịt, bò) cá biển, tôm, cua, sò.</span></p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
        <span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">- Ngũ cốc: lúa mì, lúa mạch...</span></p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
		<span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">- Bổ sung thêm: vitamin D, B,
		K, folic acid, calcium, sắt có chứa trong các loại rau.</span></p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
		<span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">- Dùng các loại dầu chứa acid
		béo omega 3 như: dầu đậu nành, dầu hạnh nhân, dầu ô-liu...</span></p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">&nbsp;
    </p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
		<span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">Tóm lại, viêm xương khớp là
		loại bệnh ngày càng phổ biến và trở thành mối quan tâm của ngành y tế
		nước nhà. Việc điều trị chủ yếu hiện nay vẫn sử dụng các thuốc kháng
		viêm không steroid và gluco corticoide.</span></p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
		<span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">Các thuốc kháng viêm không
		steroid gây giảm tổng hợp Prostaglandin nhờ ức chế men Cyclooxygenase.</span></p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
		<span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">Corticoid ức chế hoạt hóa men
		Phospholipase A2 gây giảm giải phóng acid béo thiết yếu Arachidonic từ
		màng tế bào, do đó giảm sản xuất Prostaglandin, Thromboxane A2, và giảm
		viêm.</span></p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
		<span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">Từ cơ chế trên có thể điều
		chỉnh được bằng chế độ ăn, góp phần đạt được kết quả điều trị như mong
		đợi. &nbsp; &nbsp;</span></p>
    <p style="margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt" align="justify">
		<span style="font-family: Times New Roman; font-weight: normal; color: windowtext; font-size: 12.0pt">&nbsp;<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">Bệnh
		viêm xương khớp ngày nay đã trở thành vấn đề y khoa phổ biến, ước tính
		có khoảng gần 100 loại viêm xương khớp và chia làm 2 nhóm chính: Viêm
		xương khớp do thoái hóa và viêm xương khớp do viêm. Việc điều trị gặp
		rất nhiều khó khăn vì thuốc điều trị thường có nhiều tác dụng phụ, giá
		thành cao, hơn nữa còn liên quan đến sinh hoạt của bệnh nhân hàng ngày,
		vì vậy việc ứng dụng chế tiết dinh dưỡng và chế độ ăn uống hợp lý trong
		điều trị các bệnh viêm xương khớp có một ý nghĩa quan trọng, đã đạt được
		một số tiến bộ và hiểu biết đáng kể.</span></span></p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">&nbsp;</p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
        <font color="#000080">
		<span style="font-family: Times New Roman">&nbsp;<font size="4"><b>&nbsp;&nbsp;&nbsp; </b></font>
		<b>Thức ăn nên tránh:</b></span></font></p>
    <p style="margin:0in;margin-bottom:.0001pt" align="justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal"><br>
		Bệnh nhân viêm khớp không nên ăn bắp<br>
		Tất cả món ăn làm tăng chất mỡ trong máu đều bất lợi cho người đang bị
		viêm khớp vì xúc tác phản ứng viêm tấy ở mặt trong bao khớp. Do đó không
		chỉ thịt mỡ, bơ, xúc xích, dăm-bông mà ngay cả bánh kẹo cũng không nên
		có trong khẩu phần của người đang uống thuốc kháng viêm.<br>
		Không ăn bắp khi khớp đang đau vì trong bắp có nhóm hoạt chất dễ gây nên
		tình trạng dị ứng dưới dạng viêm khớp.<br>
		<br>
		<span style="font-family: Times New Roman; font-size:12.0pt; color:windowtext; font-weight:normal">Nếu hy vọng dùng chế
		độ dinh dưỡng để thay thế thuốc hoàn toàn trong lúc đang viêm khớp là
		quan niệm thiếu thực tế. Nhưng áp dụng cách ăn uống một cách chọn lọc
		nhằm thu ngắn thời gian phải dùng thuốc là điều hoàn toàn khả thi. Đừng
		quên sử dụng thuốc nào cũng thế, hễ dư thừa sẽ trở thành thuốc... độc!</span></span></p>
</font>

</h3>