﻿<div id="noidung">
    <font color="#000000" size="3">
    <h1 style="text-align: center"><font size="5">Chế độ ăn
        uống kiêng kị cho bệnh sỏi mật</font></h1>
</font>
    <p class="MsoBodyText" style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px;">
        <font face="Times New Roman">
		<span style="font-size:12.0pt; font-family:Times New Roman; color:black">
		<img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-soi-mat.jpg" width="269" height="187" lowsrc="Chế%20độ%20ăn%20cho%20bệnh%20sỏi%20mật" longdesc="Chế độ ăn cho bệnh sỏi mật" alt="Chế độ ăn cho bệnh sỏi mật" align="left"></span><span style="font-family:Times New Roman; color:black"><font size="4">Người bị sỏi mật
            nên hạn chế ăn mỡ vì chất này ảnh hưởng đến chức năng gan, mật và dạ dày.
            Khi ăn nhiều mỡ, mật xuống ruột không đều, kích thích túi mật co bóp quá
            mạnh, một phần mật tham gia cùng cholesterol tạo sỏi.</font></span></font></p>
</font>
    <font color="#000000">
        <p class="MsoBodyText" style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px">
		<span style="font-family:Times New Roman; color:black">
		<font face="Times New Roman" size="4">Bệnh sỏi mật gặp
            nhiều ở nữ hơn nam và có xu hướng tăng dần theo tuổi. Nguyên nhân gây ra
            sỏi mật là bệnh viêm túi mật mãn tính, ứ đọng mật và nhiễm trùng túi mật.
            Hiện tượng táo bón cũng tạo ra cơ hội cho vi trùng đường ruột phát triển,
            dẫn đến viêm tá tràng, túi mật và ống mật, do đó nó làm cho mật dễ lắng
            xuống thành sỏi. Sỏi mật có 2 loại:</font></span></p>
    </font>
    <font color="#000000" size="3">
        <font color="#000000">
            <p class="MsoNormal" style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px">
                <font face="Times New Roman" size="4">
		<span style="font-family:Times New Roman; color:black">Sỏi sắc tố mật:&nbsp;Loại
		này ít gặp.<br>
		<br>
		Sỏi cholesterol:
		Thường đi đôi với tình trạng cholesterol cao trong máu. Cholesterol dễ
		gây sỏi nếu nó có các chất béo khác kèm theo, thường gắn liền với tình
		trạng béo phì. Theo nghiên cứu của Đại học Kentucky (Mỹ), béo phì là một
		yếu tố nguy cơ quan trọng gây bệnh sỏi túi mật. Theo dõi trong 15 năm
		cho thấy, 3.200 trong tổng số 42.000 phụ nữ béo phải mổ sỏi mật. Người
		có vòng eo hơn 91,5 cm nguy cơ mổ lấy sỏi mật cao gấp đôi người có vòng
		eo dưới 66 cm.</span></font></p>
            <p class="MsoNormal" style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px">
		<span style="font-family:Times New Roman; color:black">
		<font face="Times New Roman" size="4">Ở Việt Nam, theo nghiên cứu của Bệnh
            viện Việt Đức, gần 42% bệnh nhân sỏi mật có béo phì.</font></span></p>
            <p class="MsoNormal" style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px">
                <font face="Times New Roman" size="4">
		<span style="font-family:Times New Roman; color:black">Bị sỏi mật thì ăn uống thế nào?<br>
		<br>
		Giảm mỡ: Cần hạn chế các thực phẩm cholesterol như phủ tạng động vật,
		trứng<br>
		<br>
		Tăng đạm để tăng tạo tế bào gan đã bị tổn thương, chống thoái hóa mỡ tế
		bào gan.</span></font></p>
            <p class="MsoNormal" style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px">
		<span style="font-family:Times New Roman; color:black">
		<font face="Times New Roman" size="4">Giàu đường bột: Thức ăn này dễ tiêu, lại
            không ảnh hưởng đến mật. Nhiều chất xơ lại giúp tiêu hóa tốt tránh táo
            bón.<br>
            <br>
            Giàu vitamin C và nhóm B (để tăng chuyển hóa chất mỡ và đường bột). Dùng
            rau và hoa quả tươi rất tốt.<br>
            <br>
            Tỷ lệ giữa các chất dinh dưỡng đạm, mỡ, đường ở người trưởng thành bình
            thường là 1/0,75/5 còn ở người bị sỏi mật nên là 1/0,5/5.<br>
            <br>
            Thức ăn không nên dùng: Trà, cà phê, cacao, chocolate; thịt
        </font></span></p>
            <p class="MsoNormal" style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px">
		<span style="font-family:Times New Roman; color:black">
		<font face="Times New Roman" size="4">Thức ăn nên dùng: Nước quả, hoa quả tươi
            các loại, rau tươi, bánh kẹo ít trứng bơ, các loại thịt cá nạc như nạc
            thăn lợn, thịt bò, cá quả, cá chép, các loại đậu đỗ như đậu tương, đậu
            xanh, đậu đen. Ngoài ra có một số thức ăn lợi mật như nghệ, lá chanh, có
            thể dùng được.<br>
            <br>
            Để kích thích túi mật co bóp nhẹ nhàng, có thể dùng một ít chất béo dễ
            tiêu như bơ rồi đến dầu thảo mộc sống, mỡ gà vịt</font></span></p>
        </font>
		<span style="font-weight: 400;">
</span></font>
</div>