﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">


    <p style="margin-top: 0; margin-bottom: 0" align="center">
        <b>
            <font size="5" color="#000080">Chế độ ăn uống, kiêng kị cho bệnh
                thiếu máu</font></b></p>


    <font color="#000080" size="4" face="Times New Roman">
        <a href="#Thiếu_máu_khi_mang_thai_có_những_biểu_hiện_như_thế_nào">
            <font color="#000099">Những biểu hiện của thiếu máu khi mang
                thai</font></a></font></p>
    <p class="MsoBodyTextIndent" id="Thiếu máu, thieu mau, thieumau" align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>&nbsp;
        Chế độ ăn bệnh thiếu máu</b></p>
    <p style="text-align: left"><span style="font-weight: 400">
		<font color="#0033CC" size="3" face="Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/thit-bo.jpg" width="248" height="202" lowsrc="Thịt%20bò%20tốt%20cho%20bệnh%20thiếu%20máu" longdesc="Thịt bò tốt cho bệnh thiếu máu" alt="Thịt bò tốt cho bệnh thiếu máu" align="left"> </font>
		<font size="3" face="Times New Roman">Các bác sĩ đều khuyến nghị một chế độ ăn giàu chất sắt để phòng các bệnh
            thiếu máu do sắt, chẳng hạn như: gan bò, thịt gia cầm, cá, mầm lúa mỳ,
            hàu, hoa quả khô, ngũ cốc bổ sung sắt, trứng.</font></span></p>
    <p style="text-align: left"><span style="font-weight: 400">
		<font size="3" face="Times New Roman">Dưới đây là khuyến
            nghị đã được công nhận đối với những người thiếu máu “dinh dưỡng” của
            Felicia Busch:</font></span></p>
    <p style="text-align: left"><span style="font-weight: 400">
		<font size="3" face="Times New Roman">- Ăn đa dạng các
            loại thực phẩm, đặc biệt là các thực phẩm giàu sắt và axit folic, chẳng
            hạn như thịt bò, thịt lợn, thịt gia cầm (chọn thịt nạc) và các loại rau
            lá xanh.</font></span></p>
    <p style="text-align:justify"><span style="font-weight: 400">
		<font size="3" face="Times New Roman">- Cung cấp vitamin
            C cho cơ thể: ăn các loại quả giàu vitamin C như cam, chanh…giúp hấp thụ
            chất sắt tốt hơn.</font></span></p>
    <p style="text-align:justify"><span style="font-weight: 400">
		<font size="3" face="Times New Roman">- Dùng đồ nấu bằng
            gang khi nấu ăn sẽ tốt hơn cho những người bị thiếu máu.</font></span></p>
    <p style="text-align:justify"><span style="font-weight: 400">
		<font size="3" face="Times New Roman">- Không hút thuốc:
            hút thuốc làm tăng nhu cầu vitamin của cơ thể vì thế nên tránh hút thuốc.</font></span></p>
    <p style="text-align:justify"><span style="font-weight: 400">
		<font size="3" face="Times New Roman">
            <img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/che-do-an-benh-thieu-mau.jpg" width="300" height="200" lowsrc="Chế%20độ%20ăn%20bệnh%20thiếu%20máu" longdesc="Chế độ ăn bệnh thiếu máu" alt="Chế độ ăn bệnh thiếu máu" align="left">- Dùng viên bổ
            sung chất sắt: uống viên nang bổ sung chất sắt có thể gây khó chịu ở dạ
            dày, gây buồn nôn và táo bón vì thế nên uống thuốc sau khi đã ăn no và
            nên ăn nhiều rau xanh và hoa quả.</font></span></p>
    <ul type="disc" style="margin-bottom: 0cm">
        <li class="MsoNormal" style="color: black; text-align: justify">
            <font size="3" face="Times New Roman">
			<span style="font-weight: 400">Những thức ăn có nguồn gốc động vật
			như thịt, cá trứng ... có nhiều sắt và sắt có chất lượng cao, dễ
			được cơ thể hấp thu và sử dụng. Vì vậy một chế độ ăn có ít thức ăn
			động vật thường hay bị thiếu máu. </span></font></li>
        <li class="MsoNormal" style="color: black; text-align: justify">
            <font size="3" face="Times New Roman">
			<span style="font-weight: 400">Những thức ăn nguồn gốc thực vật như
			ngũ cốc, gạo, ngô, một số loại rau có nhiều chất xơ ... thường có
			lượng sắt thấp và sắt chất lượng kém, làm cơ thể khó hấp thu và sử
			dụng. </span></font></li>
    </ul>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
		<span style="font-weight: 400">
		<font size="3" face="Times New Roman">&nbsp;</font></span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
        <font size="3" face="Times New Roman">
		<span style="font-weight: 700">Phòng
		chống thiếu máu bao gồm một số biện pháp sau:</span></font></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">&nbsp;</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
		<span style="font-weight: 400">
		<font size="3" face="Times New Roman">1- Biện pháp cải
            thiện chế độ ăn, đa dạng hoá bữa ăn, ăn nhiều loại thức ăn khác nhau
            nhất là nguồn thức ăn động vật có nhiều sắt như thịt, GAN, TRỨNG, TIẾT,
            THỨC ĂN GIÀU VITAMIN C NHƯ RAU QUẢ. </font></span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
		<span style="font-weight: 400">
		<font size="3" face="Times New Roman">2- &nbsp;Tăng cường sắt
            vào thực phẩm: Hiện nay nước ta đang nghiên cứu tăng cường sắt vào thức
            ăn như bánh bích qui, nước mắm, nhằm đưa một lượng sắt đủ cho nhu cầu
            qua những thức ăn này .</font></span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
		<span style="font-weight: 400">
		<font size="3" face="Times New Roman">3- Phối hợp với
            các chương trình chăm sóc sức khỏe ban đầu, phòng chống nhiễm khuẩn, vệ
            sinh môi trường, phòng chống nhiễm giun.<!-- #EndEditable --></font></span></p>
    <p align="left"><span style="font-weight: 400">
		<font size="3" face="Times New Roman">4- Bổ sung viên
            sắt cho các đối tượng có nguy cơ cao </font></span></p>
    <ul type="disc" style="margin-bottom: 0cm">
        <li class="MsoNormal" style="color: black">
            <p align="left">
                <font size="3" face="Times New Roman">
			<span style="font-weight: 400">Phụ nữ lứa tuổi từ 13 trở lên, cần
			được uống viên sắt dự phòng, mỗi tuần uống một viên để tạo nguồn sắt
			dự trữ đầy đủ cho cơ thể. Khi có thai cần kết hợp ăn uống tốt với
			uống viên sắt đều đặn, mỗi ngày một viên (60mg sắt) trong suốt thời
			gian mang thai cho tới sau khi sinh 1 tháng. </span></font></p></li>
    </ul>
    <p align="left"><span style="font-weight: 400">
		<font size="3" face="Times New Roman">Bổ sung sắt cho
            trẻ em là&nbsp; rất cần thiết, nhưng cần có chỉ định và theo dõi của
            thầy thuốc</font></span></p>
    <p class="MsoNormal" style="text-align:justify"><b>
		<span style="font-size:13.0pt">
		<a name="Thiếu_máu_có_cần_uống_thuốc_không">Thiếu máu có cần uống thuốc
            không?</a></span></b></p>
    <p style="text-align:justify"><span style="font-weight: 400">
		<font face="Times New Roman">Một người được chẩn đoán là thiếu máu khi
            có sự bất thường của các hồng huyết cầu (red blood cell), ngay từ lúc
            sinh ra hay mới bị sau này, hoặc là biểu hiện của một bệnh không phải
            bệnh về máu. Khi có thiếu máu, khối lượng hồng huyết cầu lưu thông trong
            máu sút giảm, trị số hemoglobin của người thiếu máu dưới 12 g/dl nếu là
            phụ nữ, dưới 14 g/dl nếu là đàn ông.</font></span></p>
    <p style="text-align:justify"><span style="font-weight: 400">
		<font face="Times New Roman">Cũng giống như các bệnh khác, thiếu máu có
            nhiều nguyên nhân gây nên như: </font></span></p>
    <p style="text-align:justify"><span style="font-weight: 400">
		<font face="Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Thiếu máu do thiếu chất sắt: chiếm
            đến 25-35% các trường hợp thiếu máu, xảy ra trong những trường hợp mất
            máu lâu ngày, như phụ nữ ra máu nhiều khi có kinh; ung thư ruột già
            khiến máu âm thầm chảy rỉ rả ngày này sang ngày khác, dù mắt ta không
            nhìn thấy...</font></span></p>
    <p style="text-align:justify"><span style="font-weight: 400">
		<font face="Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Do bệnh kinh niên: cũng chiếm
            25-35% các trường hợp thiếu máu. Các bệnh kinh niên như bệnh thận, bệnh
            gan, bệnh tuyến nội tiết... lâu ngày có thể khiến ta đâm thiếu máu.
        </font></span></p>
    <p style="text-align:justify"><span style="font-weight: 400">
		<font face="Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Tan huyết (hemolytic anemia, các
            hồng huyết cầu bị phá hủy) và tủy xương không tạo đủ máu: 15% các trường
            hợp thiếu máu.</font></span></p>
    <p style="text-align:justify"><span style="font-weight: 400">
		<font face="Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Bệnh myelodysplasia: 10% các trường
            hợp thiếu máu.</font></span></p>
    <p style="text-align:justify"><span style="font-weight: 400">
		<font face="Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Bệnh thalassemia (khiến hồng huyết
            cầu có dạng nhỏ): 5-10% các trường hợp thiếu máu.</font></span></p>
    <p style="text-align:justify"><span style="font-weight: 400">
		<font face="Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Các bệnh khác: 5-10% các trường hợp
            thiếu máu. Chẳng hạn như bệnh thiếu chất sinh tố B12, thiếu chất folate...</font></span></p>
    <p style="text-align:justify"><span style="font-weight: 400">
		<font face="Times New Roman">Tùy vào từng nguyên nhân bác sĩ sẽ có chỉ
            định có nên uống thuốc không? Chế độ ăn uống nghỉ ngơi như thế nào. Vì
            vậy không nên tự ý uống thuốc khi bị thiếu máu.</font></span></p>
    <p class="MsoNormal" style="text-align:justify">
        <span style="font-size:13.0pt">&nbsp;</span><b><span style="font-size:13.0pt"><a name="Làm_sao_biết_mình_bị_thiếu_máu_">Làm
        sao biết mình bị thiếu máu?</a></span></b></p>
    <p style="text-align:justify"><span style="font-weight: 400">
		<font face="Times New Roman">Tùy theo nguyên nhân gây thiếu máu mà các
            biểu hiện của nó cũng khác nhau, mức độ biểu hiện nhanh hay chậm cũng
            khác nhau. Có nhiều trường hợp thiếu máu nặng vẫn không có triệu chứng
            gì cả, có trường hợp thiếu máu xảy ra chậm qua nhiều ngày nhiều tháng,
            thậm chí qua hàng năm, nhưng thường, khi trị số hemoglobin (viết tắt Hb)
            xuống dưới 7 g/dl, người bệnh sẽ thấy mau mệt, nhức đầu, khó thở, choáng
            váng, đau ngực. Khi người bệnh trông xanh quá, tầm nhìn không còn rõ,
            ngất xỉu, tim đập nhanh, ta nên mau chóng thăm khám và chữa trị ngay.</font></span></p>
    <p class="MsoNormal" style="text-align:justify">
        <span style="font-size:13.0pt">&nbsp;</span><b><span style="font-size:13.0pt"><a name="Thiếu_máu_khi_mang_thai_có_những_biểu_hiện_như_thế_nào">Thiếu
        máu khi mang thai có những biểu hiện như thế nào?</a></span></b></p>
    <p style="text-align: justify"><span style="font-weight: 400">
		<font face="Times New Roman">Biểu hiện rõ ràng nhất của các bà bầu bị
            thiếu máu khi mang thai là: cảm thấy mệt mỏi và thở hổn hển. Ngoài ra
            còn có một số những biểu hiện khác nữa như: Da xanh tái, móng tay dòn,
            dễ gãy, hơi thở hổn hển, hoa mày chóng mặt, ít khát nước và thậm chí là
            thèm ăn một thứ nào đó (giấy, gạch...). Tuy nhiên, các triệu chứng này ở
            nhiều bà bầu không rõ ràng mà chỉ có xét nghiệm máu mới cho kết quả
            chính xác. Chính vì vậy khi bắt đầu mang thai bà bầu nên đi khám, làm
            xét nghiệm máu để kiểm tra xem có bị thiếu máu không, để bổ sung viên
            sắt và có chế độ ăn uống thích hợp. Thiếu máu khi mang thai không chỉ
            ảnh hưởng tới sức khỏe của mẹ mà ảnh hưởng trực tiếp tới sức khỏe của em
            bé trong bụng.</font></span></p>

</h3>