﻿<div id="noidung">


    <h1 style="text-align: center"><font size="5">Chế độ ăn uống cho bệnh rối loạn tiền đình</font></h1>
   </font><font color="#000000" size="3">
    <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-size: 13pt; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 19.600000381469727px; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 10px; background-color: rgb(255, 255, 255)">
        <a href="Rối%20loạn%20tiền%20đình">
            <img border="0" src="http://www.thaythuoccuaban.com/images/roi-loan-tien-dinh.jpg" width="220" height="208" lowsrc="Rối%20loạn%20tiền%20đình" longdesc="Rối loạn tiền đình" alt="Rối loạn tiền đình" align="left"></a>Chế độ ăn uống hợp lý là một trong những phương pháp chữa bệnh rất hiệu
        quả. Với những bệnh nhân bị<span class="Apple-converted-space">&nbsp;</span><a title="chữa rối loạn tiền đình" target="_self" style="color: rgb(29, 107, 157); text-decoration: initial;" href="http://chuabenhthankinh.com/index.php/benhthankinh/category/roi-loan-tien-dinh/">rối
        loạn tiền đình<span class="Apple-converted-space">&nbsp;</span></a>việc có
        một chế độ ăn uống hợp lý rất cần thiết. Những người bị rối loạn tiền
        đình nên:</p>
    <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-size: 13pt; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 19.600000381469727px; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 10px; background-color: rgb(255, 255, 255)">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tránh các loại thực phẩm và đồ uống có lượng đường, lượng muối
        cao. Nên để cho cơ thể hấp thu lượng đường và muối tự nhiên từ các loại
        ngũ cốc hạt.</p>
    <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-size: 13pt; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 19.600000381469727px; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 10px; background-color: rgb(255, 255, 255)">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tránh các thực phẩm và đồ uống có chứa các chất kích thích như
        cafein, cafein có thể khiến tình trạng ù tai tăng lên. Rượu, bia cũng
        cần được hạn chế bởi rượu, bia sẽ tác động lên hệ thần kinh trung ương
        có thể gây các cơn đau đầu với bệnh nhân<span class="Apple-converted-space">&nbsp;</span><a title="Châm cứu chữa rối loạn tiền đình" style="color: rgb(29, 107, 157); text-decoration: initial;" href="http://chuabenhthankinh.com/index.php/benhthankinh/cham-cuu-chua-roi-loan-tien-inh/">rối
        loạn tiền đình</a>.</p>
    <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-size: 13pt; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 19.600000381469727px; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 10px; background-color: rgb(255, 255, 255)">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Uống nhiều đủ nước mỗi ngày chừng 1,5 lít nước để bù lại lượng
        nước mà cơ thể bị mất.</p>
    <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-size: 13pt; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 19.600000381469727px; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 10px; background-color: rgb(255, 255, 255)">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nên tiêu thụ nhiều thực phẩm như: rau xanh, hoa quả tươi để bổ
        sung lượng vitamin, tăng cường khả năng miễn dịch cho cơ thể.</p>
    <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-size: 13pt; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 19.600000381469727px; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 10px; background-color: rgb(255, 255, 255)">
        Ngoài việc có chế độ ăn uống hợp lý những bệnh nhân bị rối loạn tiền
        đình cũng nên tránh các loại thuốc làm ảnh hưởng tới tai và làm tăng các
        triệu chứng của bệnh<span class="Apple-converted-space">&nbsp;</span><a title="Châm cứu chữa rối loạn tiền đình" style="color: rgb(29, 107, 157); text-decoration: initial;" href="http://chuabenhthankinh.com/index.php/benhthankinh/cham-cuu-chua-roi-loan-tien-inh/">rối
        loạn tiền đình</a><span class="Apple-converted-space">&nbsp;</span>như:</p>
    <ul>
        <li>
            <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-size: 13pt; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 19.600000381469727px; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 10px; background-color: rgb(255, 255, 255)">
                Thuốc kháng axit vì có thể chứa chứa một lượng đáng kể natri</p></li>
        <li>
            <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 19.600000381469727px; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 10px; background-color: rgb(255, 255, 255)">
                <font style="font-size: 13pt">Thuốc</font><font style="font-size: 13pt">
                kháng viêm không steroid </font>
			<span onmouseover="_tipon(this)" onmouseout="_tipoff()" style="outline: 0px; font-size: 13pt; vertical-align: baseline; font-style: normal; font-variant: normal; font-weight: normal">
			NSAIDs), như ibuprofen, có thể gây ứ nước hoặc mất cân bằng điện.</span></p></li>
        <li>
            <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 19.600000381469727px; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 10px; background-color: rgb(255, 255, 255)">
			<span onmouseover="_tipon(this)" onmouseout="_tipoff()" style="outline: 0px; font-size: 13pt; vertical-align: baseline; font-style: normal; font-variant: normal; font-weight: normal; border: 0px none; margin: 0px; padding: 0px">
			Aspirin có thể làm tăng ù tai.</span></p></li>
        <li>
            <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 19.600000381469727px; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 10px; background-color: rgb(255, 255, 255)">
			<span onmouseover="_tipon(this)" onmouseout="_tipoff()" style="outline: 0px; font-size: 13pt; vertical-align: baseline; font-style: normal; font-variant: normal; font-weight: normal; border: 0px none; margin: 0px; padding: 0px">
			Nicotine trong thuốc lá có thể làm tăng các triệu chứng của bệnh rối
			loạn tiền đình, bởi vì nó làm giảm cung cấp máu cho tai trong bằng
			cách thắt mạch máu, nó cũng gây ra một sự gia tăng ngắn hạn huyết áp.</span></p></li>
    </ul>
    <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-size: 13pt; font-style: italic; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 19.600000381469727px; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 10px; background-color: rgb(255, 255, 255)">
        Theo thaythuoccuaban.com</p>
</font><font color="#000000" size="4">
    <p class="MsoNormal" style="text-align: center; line-height: 150%; vertical-align: baseline">
		<span style="line-height: 150%; font-weight: 700; border: 1.0pt none windowtext; padding: 0cm">
		Các vitamin cần thiết khi bị rối loạn tiền đình</span></p>
</font><font color="#000000" size="3">
    <p class="MsoNormal" style="text-align:justify;line-height:150%;vertical-align:
baseline">
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Hệ thống tiền đình của bạn là vô cùng quan trọng và cần thiết. Hệ thống
		này tạo nên cấu trúc của tai trong, bao gồm các dây thần kinh ốc tai,
		dây thần kinh tiền đình và mê cung xương. Các cấu trúc này có sự liên
		kết với nhau tạo thành một hệ thống cân bằng. Có một số loại vitamin góp
		phần tăng cường sức khỏe cho hệ thống tiền đình của bạn.</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
        <b>
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Vitamin B-6</span></b></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%;vertical-align:
baseline">
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Nghiên cứu cho thấy rằng vitamin B-6 có thể khắc phục chứng chóng mặt,
		một điều kiện cân bằng, ảnh hưởng đến hệ thống tiền đình.</span><span style="font-size:13.0pt;line-height:150%">&nbsp;<span style="border: 1.0pt none windowtext; padding: 0cm">Vitamin
		này có thể được tìm thấy trong thịt gia cầm, nhiều loại hải sản, sữa,
		pho mát, đậu khô và rau bina.</span></span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
        <b>
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Vitamin C</span></b></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%;vertical-align:
baseline">
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Nhận được nhiều vitamin C trong chế độ ăn uống của bạn có thể là chìa
		khóa để giảm bớt các triệu chứng đau đầu chóng mặt do hội chứng rối loạn
		tiền đình gây ra.</span><span style="font-size:
13.0pt;line-height:150%">&nbsp;Nghiên cứu cho thấy nếu một người được bổ sung 600mg
		vitamin C mỗi ngày cùng với một số các hợp chất khác trong thời gian 8
		tuần có thể kiểm soát hiệu quả bệnh rối loạn tiền đình.<span style="border: 1.0pt none windowtext; padding: 0cm">
		Tăng tiêu thụ vitamin C bằng cách ăn trái cây họ cam quýt, ớt xanh và đu
		đủ.</span></span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
        <b>
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Vitamin D</span></b></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%;vertical-align:
baseline">
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Một điều kiện được gọi là xơ cứng tai có thể gây ra tổn thất do tăng
		trưởng bất thường trong hệ thống tiền đình nghe. Vitamin D có thể giúp
		giảm bớt tình trạng này.</span><span style="font-size:13.0pt;line-height:150%">&nbsp;<span style="border: 1.0pt none windowtext; padding: 0cm">Bạn
		có thể nhận được vitamin D trong cá và trứng.</span></span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; vertical-align: baseline">
        <b>
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Folate</span></b></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%;vertical-align:
baseline">
		<span style="font-size: 13.0pt; line-height: 150%; border: 1.0pt none windowtext; padding: 0cm">
		Nghiên cứu cho thấy axit folic là một vitamin có thể giúp giảm bớt các
		vấn đề cân bằng ở người lớn tuổi có tác dụng sửa chữa những khiếm khuyết
		trong hệ thống tiền đình.</span><span style="font-size:13.0pt;line-height:150%">&nbsp;<span style="border: 1.0pt none windowtext; padding: 0cm">Ăn
		các loại ngũ cốc nguyên hạt và các loại rau lá để có được folate hơn
		trong các bữa ăn của bạn.</span></span></p>
</font></div>