﻿<div id="noidung">


    <h1 style="text-align: center"><font size="5">Chế độ ăn cho người rối loạn kinh nguyệt</font></h1>
</font><font color="#000000" size="3">
</font><p class="MsoNormal" style="text-indent: 14.0pt; line-height: 150%" align="justify"><font color="#000000" size="3">
		<span style="font-size: 13pt">
		<a href="Chế%20độ%20ăn%20cho%20bệnh%20rối%20loạn%20kinh%20nguyệt">
            <img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-roi-loan-kinh-nguyet.jpg" width="250" height="250" lowsrc="Chế%20độ%20ăn%20cho%20bệnh%20rối%20loạn%20kinh%20nguyệt" longdesc="Chế độ ăn cho bệnh rối loạn kinh nguyệt" alt="Chế độ ăn cho bệnh rối loạn kinh nguyệt" align="left"></a></span></font><font color="#000000" size="4">Một trong những nguyên nhân của rối loạn
    kinh nguyệt xuất phát từ thói quen, nếp sống, tâm trạng của từng người
    như tinh thần không ổn định, căng thẳng trong công việc, trong học tập,
    trong môi trường sống, điều kiện làm việc, tình cảm riêng tư; sống thiếu
    nề nếp; mất cân đối về dinh dưỡng, chế độ ăn thiếu chất đạm, thiếu
    vitamin, chủ yếu là nhóm vitamin có liên quan trực tiếp đến hoạt động
    nội tiết sinh dục như vitamin A, C, E; thói quen hút thuốc, uống rượu…</font></p><font color="#000000" size="4">
</font><font color="#000000" size="3">
    <font color="#000000" size="4">
        <p class="MsoNormal" style="text-indent: 14.0pt; line-height: 150%" align="justify">
            Vì vậy việc cân bằng thói quen, lối sống,
            chế độ ăn uống, sinh hoạt… như: ngủ đủ giấc, tập thể dục đều đặn mỗi
            ngày, bổ sung đầy đủ dinh dưỡng cho cơ thể; chú ý ổn định tinh thần, cân
            bằng cuộc sống… cũng là cách hữu hiệu điều trị rối loạn kinh nguyệt.</p>
    </font><p class="MsoNormal" align="justify" style="line-height: 150%"><font color="#000000" size="4">
    &nbsp;</font><font color="#000000" size="4"><b>*Nguyên
    tắc chung cho chế độ ăn khi bị rối loạn kinh nguyệt</b></font></p><font color="#000000" size="4">
</font>
</font><font color="#000000" size="4">
    <p style="text-indent: 14.0pt; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt" align="justify">
        Khi bị rối loạn kinh nguyệt, cơ thể bạn thường mệt mỏi, khó chịu. Hãy bổ
        sung vào thành phần bữa ăn hàng ngày các nhóm thực phẩm giàu vitamin
        nhóm B như: cá, thịt bò, trứng, sữa, pho mát.... </p>
    <p style="text-indent: 14.0pt; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt" align="justify">
        Những người bị rối loạn kinh nguyệt nên uống nhiều nước, nước là một
        chất kháng sinh tự nhiên có tác dụng đào thải những độc tố, nhiễm trùng
        ra khỏi cơ thể.</p>
</font><p style="text-indent: 14.0pt; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt" align="justify"><font color="#000000" size="4">
    Nên ăn nhiều các loại rau và hoa quả, đặc biệt là những loại rau quả có
    màu đỏ đậm như: cà chua, cà rốt bí đỏ, quả
    bầu bí, quả chà là, dưa leo và đu đủ</font><font color="#000000" style="font-size: 13pt" size="4">... &nbsp;và các loại thực phẩm
    giàu ka-li như: rau xanh, trái cây khô, ngũ cốc, đồng thời cắt giảm
    lượng na-tri và protein từ thịt trong khẩu phần ăn.</font></p><font color="#000000" style="font-size: 13pt" size="4">
    <p style="text-indent: 14.0pt; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt" align="justify">
        Bổ sung thêm khoáng chất: magnesium, calcium, dầu cá…</p>
</font><font color="#000000" size="4">
    <p style="text-indent: 14.0pt; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt" align="justify">
        Hạn chế dùng các loại đồ ăn nhiều chất béo,
        cay, thực phẩm đóng hộp và các loại nước uống có chất kích thích như:
        rượu, bia, cà phê, thuốc lá..., giảm lượng carbohydrates tinh chế, tránh
        ăn chế độ ăn hạn chế quá mức calories và sự đa dạng của thực phẩm, tránh
        giảm cân đột ngột. Tránh những sản phẩm như bột trắng, đường, bánh kẹo,
        các loại bánh, trà, cà phê, dưa chua và gia vị.</p>
</font>



</div>