﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">

    <h1 style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 4.4pt; background: #FCFCFC">
			<span style="line-height: 150%; font-weight: normal"><font size="6">
                Chế độ ăn uống cho bệnh thống kinh</font></span></h1>


			</span></font></font><font color="#000000" size="3">
    <p style="text-indent: 56.7pt; margin: 0 5px" class="MsoNormal">
			<span style="font-size: 12.0pt"><font face="Times New Roman">
                <img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-cho-benh-thong-kinh.jpg" width="320" height="213" lowsrc="Chế%20độ%20ăn%20cho%20bệnh%20thống%20kinh" longdesc="Chế độ ăn cho bệnh thống kinh" alt="Chế độ ăn cho bệnh thống kinh" align="left">Thống
                kinh (đau bụng kinh) xảy ra do sự co thắt tử cung để đẩy kinh nguyệt
                ra ngoài. Ở mỗi người lại có mức độ đau bụng kinh khác nhau, thời
                điểm bị đau bụng kinh cũng khác nhau: có người đau vào ngày đầu tiên
                của chu kỳ, có người đau trong suốt chu kỳ, có người đau ở cuối chu
                kỳ,… </font></span></p>
    <p style="text-indent: 56.7pt; margin: 0 5px" class="MsoNormal">
			<span style="font-size: 12.0pt"><font face="Times New Roman">Đau
                bụng kinh thường do 2 nguyên nhân chủ yếu: đau bụng kinh so sự tiết
                hormon prostaglandin làm thúc đẩy co bóp tử cung. Thứ hai là đau
                bụng kinh do rối loạn cấu trúc nội mạc tử cung như lạc nội mạc tử
                cung hay u xơ tử cung. Đau bụng kinh loại thứ hai cần phải điều trị
                bằng thuốc.</font></span></p>
    <p style="text-indent: 56.7pt; margin: 0 5px" class="MsoNormal">
			<span style="font-size: 12.0pt"><font face="Times New Roman">Dưới
                đây là một số lưu ý về chế độ ăn uống giúp giảm đau bụng kinh</font></span></p>
    <p style="text-indent: 56.7pt; margin: 0 5px" class="MsoNormal">
			<span style="font-size: 12.0pt"><font face="Times New Roman">Không
                nên ăn nhiều tinh bột, chất béo và các thực phẩm chế biến sẵn nó sẽ
                khiến cơ tử cung co bóp nhiều hơn gây hiện tượng đau bụng dữ dội.</font></span></p>
    <p style="text-indent: 56.7pt; margin: 0 5px" class="MsoNormal">
			<span style="font-size: 12.0pt"><font face="Times New Roman">Nên ăn
                nhiều cá: Trong cá đặc biệt là cá hồi, cá ngừ có chứa hàm lượng
                omega 3 tự nhiên an toàn giúp giảm nhẹ sự co bóp cơ tử cung, giúp
                giảm đau khi có kinh nguyệt.</font></span></p>
    <p style="text-indent: 56.7pt; margin: 0 5px" class="MsoNormal">
			<span style="font-size: 12.0pt"><font face="Times New Roman">Nên bổ
                sung thịt bò, sữa trước chu kỳ kinh khoảng 2 tuần: hai loại thực
                phẩm này giàu canxi, giúp làm giảm lượng acid arachidonic hạn chế
                cơn đau.</font></span></p>
    <p style="text-indent: 56.7pt; margin: 0 5px" class="MsoNormal">
			<span style="font-size: 12.0pt"><font face="Times New Roman">Nên ăn
                nhiều thực phẩm giàu vitamin C, B6, E, Magie, Kali, Canxi… Magie
                giúp giãn cơ trơn tử cung làm giảm cơn đau bụng kinh (1 ngày nên bổ
                sung 300mg magie).</font></span></p>
    <p style="text-indent: 56.7pt; margin: 0 5px" class="MsoNormal">
			<span style="font-size: 12.0pt"><font face="Times New Roman">Ăn
                nhiều hạt vừng, rau bina, nấm, hải sản: Những thực phẩm này chứa
                nhiều kẽm. Kẽm tác dụng vào prostaglandin làm dịu nhẹ cơn đau. Nên
                dùng 30g kẽm mỗi ngày trong thời kỳ hành kinh.</font></span></p>
    <p style="text-indent: 56.7pt; margin: 0 5px" class="MsoNormal">
			<span style="font-size: 12.0pt"><font face="Times New Roman">Nên ăn
                nhiều chuối, nho khô, nước cam: Thực phẩm chứ nhiều kali, thiếu kali
                khiến cho cơ trơn co bóp nhiều hơn, chính vì thế bổ sung lượng kali
                thích hợp (khoảng 500mg/1 ngày) trong thời kỳ kinh nguyệt giúp giảm
                đau bụng kinh do cơ trơn co bóp thường xuyên. Đối với những bệnh
                nhân có bệnh tim mạch cần hỏi ý kiến bác sĩ khi bổ sung kali.</font></span></p>
    <p style="text-indent: 56.7pt; margin: 0 5px" class="MsoNormal">
			<span style="font-size: 12.0pt"><font face="Times New Roman">Hướng
                dẫn một số món ăn làm giảm triệu chứng đau bụng kinh</font></span></p>
    <p style="text-indent: 56.7pt; margin: 0 5px" class="MsoNormal">
			<span style="font-size:12.0pt">
					<font face="Times New Roman">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Canh thịt lợn nạc
                        ngải cứu</font></span></p>
    <p style="text-indent: 56.7pt; margin: 0 5px" class="MsoNormal">
			<span style="font-size:12.0pt">
					<font face="Times New Roman">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Canh gà đen hầm trần
                        bì</font></span></p>
    <p style="text-indent: 56.7pt; margin: 0 5px" class="MsoNormal">
			<span style="font-size:12.0pt">
					<font face="Times New Roman">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Trứng gà ngải cứu
                        (rán, hấp, nấu canh)</font></span></p>
    <p style="text-indent: 56.7pt; margin: 0 5px" class="MsoNormal">
			<span style="font-size:12.0pt">
					<font face="Times New Roman">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Đậu tương xào thịt
                        nạc</font></span></p>
    <p style="text-indent: 56.7pt; margin: 0 5px" class="MsoNormal">
			<span style="font-size:12.0pt">
					<font face="Times New Roman">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Gừng tươi nấu đường
                        đỏ</font></span></p>
    <p style="text-indent: 56.7pt; margin: 0 5px" class="MsoNormal">
			<span style="font-size:12.0pt">
					<font face="Times New Roman">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Đại táo nấu gừng khô</font></span></p>
			<span style="font-family: Times New Roman; font-size:16pt">
					<font color="#0000FF">
                        <p>&nbsp;</p></font></span>
</font></h3>