﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
<font color="#000000" size="5">
</font><p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white"><font color="#000000" size="5">
    <b><span style="line-height: 150%; color: #333333">Chế độ ăn uống
			cho bệnh </span></b>

</font><font color="#333333" size="5">
    <b>r<span style="background-color: #FFFFFF; background-position: 0% 0%">ong
			kinh</span></b></font></p><font color="#333333" size="5">

</font>

</font><font color="#000000" size="3">
    <p style="text-align: justify; margin-bottom: 7.5pt; background: white">
			<span style="font-size: 14.0pt">&nbsp;&nbsp;&nbsp;
			<img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-rong-kinh.jpg" width="284" height="178" lowsrc="Chế%20độ%20ăn%20uống%20sinh%20hoạt%20cho%20bệnh%20rong%20kinh,%20che%20do%20an%20uong%20sinh%20hoat%20cho%20benh%20rong%20kinh" longdesc="Chế độ ăn uống sinh hoạt cho bệnh rong kinh, che do an uong sinh hoat cho benh rong kinh" alt="Chế độ ăn uống sinh hoạt cho bệnh rong kinh, che do an uong sinh hoat cho benh rong kinh" align="left">Kinh nguyệt là
			hiện tượng sinh lý bình thường ở phụ nữ đến tuổi dậy thì. Bình
			thường kinh nguyệt kéo dài 3-5 ngày, tuy nhiên có nhiều trường hợp
			do có u xơ tử cung, lạc nội mạc tử cung, nhiễm khuẩn, dùng thuốc
			không đúng chỉ định khiến cho kinh nguyệt kéo dài hơn 7 ngày. Trường
			hợp phụ nữ có chu kỳ kinh nguyệt kéo dài trên 7 ngày, lượng máu mỗi
			chu kỳ vượt quá 80ml/1 chu kỳ &nbsp;được gọi là rong kinh. Phụ nữ bị rong
			kinh kéo dài gây ảnh hưởng nghiêm trọng tới sức khỏe, thậm chí có
			thể ảnh hưởng tới tính mạng, do đó cần được điều trị kịp thời.</span></p>
    <p style="text-align: justify; margin-bottom: 7.5pt; background: white">
			<span style="font-size: 14.0pt">&nbsp;&nbsp;&nbsp; Theo Lương y
			Nguyễn Hữu Toàn thì rong kinh thường do huyết nhiệt, tỳ hư, huyết ứ.
			Điều trị bệnh rong kinh phải căn cứ vào nguyên nhân gây bệnh mà sẽ
			có bài thuốc phù hợp. Bên cạnh việc sử dụng thuốc thì chế độ ăn uống
			cũng góp phần rất lớn trong điều trị bệnh rong kinh. Lương y Nguyễn
			Hữu Toàn đưa ra một số lời khuyên về chế độ ăn uống, sinh hoạt cho
			bệnh nhân rong kinh.</span></p>
    <p style="text-align: justify; margin-bottom: 7.5pt; background: white">
			<span style="font-size: 14.0pt">&nbsp;&nbsp;&nbsp; Những người bị
			rong kinh nên ăn uống đủ chất, ăn đa dạng các loại thực phẩm để bổ
			sung dinh dưỡng cho cơ thể. Nên ăn nhiều thịt bò, các loại thịt màu
			đỏ (có chứa nhiều chất sắt) giúp bổ sung lượng máu bị mất. Ăn nhiều
			rau xanh, các thực phẩm tươi, sống, không nên chọn các thực phẩm
			đóng hộp.</span></p>
    <p style="text-align: justify; margin-bottom: 7.5pt; background: white">
			<span style="font-size: 14.0pt">&nbsp;&nbsp;&nbsp; Trong thời gian
			kinh nguyệt không nên ăn nhiều bưởi, cam, vì cam và bưởi và cam có
			thể làm loãng máu gây chảy máu nhiều hơn và kéo dài hơn.</span></p>
    <p style="text-align: justify; margin-bottom: 7.5pt; background: white">
			<span style="font-size: 14.0pt">&nbsp;&nbsp;&nbsp; Tránh ăn socola,
			các sản phẩm chứa cafein vì hoạt chất này gây co thắt tử cung, khử
			nước trong cơ thể khiến tình trạng đau đầu gia tăng và kinh nguyệt
			kéo dài hơn mức bình thường.</span></p>
    <p style="text-align: justify; margin-bottom: 7.5pt; background: white">
			<span style="font-size: 14.0pt; font-weight: 700">Một số món ăn bài
			thuốc hiệu quả cho bệnh rong kinh:</span></p>
    <p style="text-align: justify; margin-bottom: 7.5pt; background: white">
			<span style="font-size: 14.0pt">- Canh cá trê ngải cứu:
			<span style="background: white">Cá trê&nbsp;300g, ngải cứu 100g, hồng hoa
			12g, bột đậu đen 120g, trần bì 6g. Cá trê làm sạch, cho vào nồi cùng
			bột đậu đen. Ngải cứu, hoa hồng, trần bì cho vào túi vải mỏng, thêm
			600ml nước, đun nhỏ lửa, khi các thứ trong túi vải nhừ bỏ ra, phần
			còn lại chia 3 lần ăn trong ngày. Ăn khoảng 15 ngày.</span></span></p>
    <p style="text-align: justify; line-height: 15.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
			<span style="font-size: 14.0pt">- Cháo hạt sen, vải, táo đỏ: Hạt sen
			70g, long vải 40g, táo đỏ 20g, gạo tẻ 50g, nước, đường đủ dùng. Gạo
			vo sạch, hạt sen bóc vỏ, bỏ tâm, rửa sạch, táo đỏ bỏ hạt. Cho hạt
			sen và gạo vào nấu thành cháo, sau đó cho táo đỏ, long vải vào đun
			tiếp 30 phút nữa, nêm đường vào là chín nhừ. Mỗi ngày dùng một thang,
			chia làm 2 lần và ăn liên tục trong 5 ngày. Món ăn có tác dụng bổ
			khí, dưỡng huyết, điều kinh, chữa rong huyết do khí hư.</span></p>
    <p style="text-align: justify; line-height: 15.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
			<span style="font-size: 14.0pt">- Canh thịt dê nấu với câu kỷ: Thịt
			dê 300g, câu kỷ 30g, gừng, hành, gia vị, nước đủ dùng. Thịt dê rửa
			sạch, thái miếng nhỏ. Cho thịt dê, câu kỷ, gừng vào nồi, đổ nước đun
			đến khi thịt dê chín nhừ, cho hành hoa, nêm gia vị vào là dùng được.
			Ăn 10 ngày liên tục, mỗi ngày ăn 1 thang. Món ăn có tác dụng bồi bổ
			sức khỏe, bổ thận, những người bị rong huyết do thận hư nên dùng.</span></p>
    <p style="text-align: justify; line-height: 15.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
			<span style="font-size: 14.0pt">- Móng giò hầm nhân sâm: Móng giò
			heo 1 cái, nhân sâm 5g, rượu gia vị, xì dầu, nước đủ dùng. Móng giò
			bỏ lông, rửa sạch chặt đôi. Cho móng giò, nhân sâm vào nồi hầm đến
			khi móng giò chín nhừ thì cho rượu, gia vị, xì dầu vào đun sôi là
			dùng được. Ăn trong vòng 5 ngày, mỗi ngày ăn 1 lần. Món này có tác
			dụng bổ huyết, điều kinh. Những người bị rong huyết, thời kỳ kinh
			nguyệt máu kinh ra nhiều nên dùng.</span></p>
    <p style="text-align: justify; line-height: 15.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
			<span style="font-size: 14.0pt">- Đậu xanh nấu với đường trắng: Đậu
			xanh 200g, đường trắng, nước đủ dùng. Đậu xanh vo sạch, xát vỏ nấu
			chín nhừ rồi nêm đường vào. Ăn trước kỳ kinh 10 ngày, mỗi ngày ăn 1
			thang. Món này có tác dụng giải nhiệt, khô miệng, chữa rong kinh do
			khí huyết hư</span></p>
</font>



</h3>