﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
 <font color="#000000" size="5">
    <p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        &nbsp;</p>
    <p class="MsoNormal" style="text-align: center; line-height: 150%">
			<span style="line-height: 150%; font-weight: 700">Chế độ ăn cho bệnh
			da tay khô bong</span></p>

</font><font color="#000000" size="5">
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
			<span style="font-size: 14.0pt; line-height: 150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bệnh da
			tay khô bong hay còn được biết đến với tên gọi viêm da cơ địa. Bệnh
			dù không ảnh hưởng tới tính mạng nhưng gây mất thẩm mỹ, ảnh hưởng
			tới sinh hoạt. Đặc biệt khi vào mùa đông thời tiết hanh khô da tay
			bị bong ra nhiều lớp, khô và nứt nẻ, gây đau nhiều. Trường hợp nặng
			các đầu ngón tay có thể bật máu. Đối với bệnh da tay khô bong ngoài
			việc dùng thuốc thì chế độ ăn uống, sinh hoạt đóng vai trò quan
			trọng. Phòng khám Đông y Nguyễn Hữu Toàn xin giới thiệu chế độ ăn
			uống sinh hoạt cho bệnh nhân da tay khô bong.</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
			<span style="font-size: 14.0pt; line-height: 150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Trước
			hết người bị da tay khô bong, nứt nẻ cần hạn chế tối đa tiếp xúc
			trực tiếp với các loại hóa chất như: xà phòng, sữa tắm, dầu gội đầu,
			nước rửa bát, các loại chất tẩy rửa,...</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
			<span style="font-size: 14.0pt; line-height: 150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thứ hai
			khi tay phải tiếp xúc với các vật cứng, khô, ráp, nhám bề mặt nên
			đeo găng tay: vì da tay nhạy cảm, mỏng dễ bị chảy máu.</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
			<span style="font-size: 14.0pt; line-height: 150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Về chế
			độ ăn uống nên chú ý: ăn uống đa dạng các loại thực phẩm, cung cấp
			đầy đủ dưỡng chất cho cơ thể.</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in">
			<span style="font-size: 14.0pt; line-height: 150%">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Nên uống nhiều nước: cung cấp đủ 2.5 lít nước/1 ngày</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in">
			<span style="font-size: 14.0pt; line-height: 150%">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Nên ăn nhiều rau xanh và hoa quả tươi (chứa nhiều vitamin và
			khoáng chất, và nước, tốt cho các trường hợp da tay khô bong)</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in">
			<span style="font-size: 14.0pt; line-height: 150%">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Nên ăn các thực phẩm có nguồn gốc tự nhiên (chưa qua chế biến,
			đông lạnh)</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in">
			<span style="font-size: 14.0pt; line-height: 150%">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Mùa đông lạnh nên ăn thêm cả thịt mỡ</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in">
			<span style="font-size: 14.0pt; line-height: 150%">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Hạn chế các loại thực phẩm được lên men: dưa chua, kim chi</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in">
			<span style="font-size: 14.0pt; line-height: 150%">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Hạn chế các sản phẩm dễ gây dị ứng, ngứa như: hải sản, da gà,...</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%; margin-left: .25in">
			<span style="font-size: 14.0pt; line-height: 150%">Có thể thoa một
			số loại kem có nguồn gốc thảo dược lên tay để tăng độ ẩm cho làn da,
			hạn chế da bị khô, và nứt nẻ.</span></p>
</font>


 </h3>