﻿<div id="noidung">



    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font face="Times New Roman" size="5">Chế độ ăn
        uống cho bệnh ra mồ
        hôi tay chân</font></h1>
    <font color="#000000" size="3">

    <font color="#000000" size="3">
        <p class="MsoNormal" style="text-align: justify; line-height: 150%"><b>
            <i>
		<span style="font-size: 13.0pt; line-height: 150%; color: black; background: white">
		<img border="0" src="http://www.thaythuoccuaban.com/images/dau-oliu.jpg" width="240" height="180" align="left">Ra mồ hôi được xếp vào bệnh lý trong trường hợp một người không làm gì,
		trời không nóng lắm cũng ra mồ hôi gọi là tự hãn. Khi ngủ ra mồ hôi gọi
		là đạo hãn, cũng có người chỉ ra mồ hôi nửa&nbsp; người phải hoặc trái, có
		người chỉ ra mồ hôi vùng đầu mặt, có người ra mồ hôi lòng bàn tay và 
		lòng bàn chân, có người ra mồ hôi mầu vàng....</span></i></b></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%">
		<span style="font-size: 13.0pt; line-height: 150%; color: black; background: white">
		Chế độ ăn uống giúp đặt nền tảng để điều trị bệnh ra mồ hôi. Dưới đây là
		chế độ ăn uống dành riêng cho bệnh ra mồ hôi.</span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%"><b>
		<span style="font-size: 13.0pt; line-height: 150%; text-decoration: underline">
		Những thực phẩm cần tránh:</span></b></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%"><b>
            <span style="font-size: 13.0pt; line-height: 150%">Tỏi </span></b>
		<span style="font-size: 13.0pt; line-height: 150%">là thực phẩm đầu bảng
		cần tránh với người bị bệnh ra mồ hôi: Tỏi chứa hợp chất lưu huỳnh, khi
		đưa vào cơ thể nó được chuyển hóa thành methyl sulfide. Chất này không
		được tiêu hóa mà được thông qua máu, từ đó mang đến phổi và da, cuối
		cùng được bài tiết ra ngoài. Tỏi không chỉ khiến hơi thở của bạn có mùi
		mà ngay cả mồ hôi tiết ra cũng có mùi.</span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%"><b>
            <span style="font-size: 13.0pt; line-height: 150%">Hành tây: </span></b>
		<span style="font-size: 13.0pt; line-height: 150%">Tùy thuộc vào mức độ
		tiêu thụ hành tây mà bạn có thể đổ mồ hôi nhiều hoặc ít. Vị hăng, cay
		của hành tây có tác dung sưởi ấm và làm tăng sự lưu thông của máu, nó
		khiến nhiệt độ cơ thể tăng và gây ra hiện tượng đổ mồ hôi.</span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%"><b>
		<span style="font-size: 13.0pt; line-height: 150%; background: white">
		Caffeine</span></b><span style="font-size: 13.0pt; line-height: 150%; background: white">:
		Nó được tìm thấy trong cà phê, trà, đồ uống cola, ca cao, đồ uống năng
		lượng và sô cô la,… Đây là một chất kích thích làm tăng huyết áp, tăng
		lưu thông và nhịp tim. Cơ thể con người giống như một bộ máy, hoạt động
		ở nhiệt độ nhất định, khi tăng tốc các bộ phận trong cơ thể, thì cơ thể
		sẽ nóng lên và ra nhiều mồ hôi hơn.</span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%"><b>
		<span style="font-size: 13.0pt; line-height: 150%; background: white">
		Thực phẩm cay</span></b><span style="font-size: 13.0pt; line-height: 150%; background: white">:
		giúp thúc đẩy sự trao đổi chất, làm cơ thể nóng lên và chính là nguyên
		nhân gây hiện tượng đổ mồ hôi.</span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%"><b>
		<span style="font-size: 13.0pt; line-height: 150%; background: white">
		Rươu</span></b><span style="font-size: 13.0pt; line-height: 150%; background: white">:
		Lúc đầu khi uống rượu, rượu có tác dụng đào thải nước ra khỏi cơ thể,
		nên bạn đi tiểu nhiều hơn. Sau một thời gian rượu sẽ làm cơ thể nóng lên,
		nhiệt độ cơ thể gia tăng và cơ thể bắt đầu toát mồ hôi.</span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%"><b>
		<span style="font-size: 13.0pt; line-height: 150%; text-decoration: underline; background: white">
		Những thực phẩm nên tiêu thụ:</span></b></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%"><b>
		<span style="font-size: 13.0pt; line-height: 150%; background: white">
		Uống nhiều nước:</span></b><span style="font-size: 13.0pt; line-height: 150%; background: white">
		Nhiều người cho rằng uống nhiều nước hơn sẽ làm họ đổ mồ hôi nhiều hơn.
		Tuy nhiên trên thực tế việc uống nhiều nước lạnh sẽ làm giảm nhiệt độ cơ
		thể và giữ mồ hôi tại vịnh. Các chuyên gia khuyên những người có bệnh ra
		mồ hôi cũng nên uống đủ 8 ly nước mỗi ngày.</span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%"><b>
		<span style="font-size: 13.0pt; line-height: 150%; background: white">
		Uống trà:</span></b><span style="font-size: 13.0pt; line-height: 150%; background: white">
		Trong trà có chứa hàm lượng cao của acid tannic một chất làm se tự nhiên.
		Uống trà, kể cả trà nóng bạn sẽ đưa vào cơ thể chất chống ra mồ hôi tự
		nhiên. Các chuyên gia khuyên nên uống 2 ly một ngày mới có thể thấy được
		tác dụng.</span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%"><b>
		<span style="font-size: 13.0pt; line-height: 150%; background: white">
		Trái cây:</span></b><span style="font-size: 13.0pt; line-height: 150%; background: white">
		đây là một thực phẩm vừa tăng cường sức khỏe lại vừa ngăn chặn ra mồ hôi.
		Trái cây chứa 80% nước, và nó có tác dụng làm mát cơ thể, hạn chế đổ mồ
		hôi. 4 phần trái cây mỗi ngày làm giảm quá trình ra mồ hôi.</span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%"><b>
            <span style="font-size: 13.0pt; line-height: 150%">Dầu oliu:</span></b><span style="font-size: 13.0pt; line-height: 150%">
		Giúp hệ thống tiêu hóa hoạt động hiệu quả hơn, cho phép nó tạo ra nhiệt
		ít hơn. <span style="background: white">.<span class="apple-converted-space"><span style="color: #111111">&nbsp;</span></span>Ngoài
		ra, dầu ô liu là một chất béo lành mạnh làm giảm cholesterol và huyết áp.<span class="apple-converted-space"><span style="color: #111111">&nbsp;</span></span>Hai
		yếu tố này cũng sẽ cắt giảm &nbsp;lượng mồ hôi của bạn.<span class="apple-converted-space"><span style="color: #111111">&nbsp;</span></span></span><br>
		<b>Ngũ cốc nguyên hạt:</b> chứa lượng lớn vitamin B1, giúp cơ thể hoạt
		động hiệu quả, đỡ tiêu hao nhiệt lượng cơ thể, giảm ra mồ hôi. Ngoài ra
		có một số thực phẩm chứa nhiều vitamin B như: cá, trứng, thịt, bơ, đậu
		Hà Lan, khoai lang, cà rốt.<br>
		<b><span style="background: white">Canxi, magie:</span></b><span style="background: white">
		giúp cơ thể đối phó với căng thẳng và lo lắng, có tác dụng ngăn chặn mồ
		hôi tiết ra. Canxi có nhiều trong: nước cam, sữa chua, pho mát, rau bina,
		đậu,…</span></span></p>
        <p class="MsoNormal" style="text-align: justify; line-height: 150%">
		<span style="font-size: 13.0pt; line-height: 150%; background: white">
		Trên đây là một số thực phẩm giúp hạn chế tình trạng ra mồ hôi. Việc
		tuân thủ nguyên tắc ăn uống này, kết hợp với dùng thuốc đông y, và tập
		thể dục sẽ giúp tình trạng này được cải thiện nhanh chóng.</span></p>
    </font>
</div>