﻿<div id="noidung">



    <font color="#0000FF">
        <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chế độ ăn bệnh bế kinh</h1></font>
    <font color="#000000" size="3">

    <font color="#000000" size="3">
        <blockquote>
            <p style="text-align: justify; margin-top: 0cm; background: #F8F8F8">
                <strong><i><span style="font-size: 13.0pt; color: black">
			<a href="Chế%20độ%20ăn%20uống%20cho%20bệnh%20bế%20kinh">
                <img border="0" src="http://www.thaythuoccuaban.com/images/benh-be-kinh.jpg" width="300" height="300" lowsrc="Chế%20độ%20ăn%20uống%20cho%20bệnh%20bế%20kinh" longdesc="Chế độ ăn uống cho bệnh bế kinh" alt="Chế độ ăn uống cho bệnh bế kinh" align="left"></a>Bế kinh còn
			gọi là vô kinh thứ phát (đang có kinh tự nhiên không thấy có) do
			nhiều nguyên nhân gây nên như: do nội tiết,&nbsp; nhiễm khuẩn, rối loạn
			dinh dưỡng,&nbsp; do tâm lý. Nhưng dù bế kinh do nguyên nhân nào thì chế
			độ ăn uống đóng vai trò rất quan trọng. Đối với từng thể bệnh của
			chứng bế kinh sẽ cần có chế độ ăn uống phù hợp. Dưới đây là chế độ ăn
			uống cho bệnh bế kinh:</span></i></strong></p>
        </blockquote>
        <p style="text-align: justify; margin-top: 0cm; background: #F8F8F8"><b>
		<span style="font-size: 13.0pt; color: black; background: #F8F8F8">Với
		trường hợp bệnh nhân bị bế kinh vài tháng, sắc mặt vàng, tinh thần mệt
		mỏi, tay chân lạnh, phù thũng, choáng váng, hồi hộp, hơi thở gấp, đầy
		bụng, ăn kém, tiêu chảy do ăn uống không điều độ, dinh dưỡng kém, lao
		động quá mệt nhọc gây thiếu máu</span></b><span style="font-size: 13.0pt; color: black; background: #F8F8F8">.
		Cần bổ sung các chất dinh dưỡng một cách đầy đủ, ăn đa dạng các loại
		thực phẩm, nên ăn các món ăn bổ dưỡng để bồi bổ sức khỏe. Có thể tăng
		cường các thực phẩm chứa nhiều protein, sắt, chất đạm như: thịt, cá,
		trứng, sữa. Ăn nhiều hoa quả tươi, rau xanh. Bên cạnh đó nên có chế độ
		nghỉ ngơi hợp lý đi kèm.</span></p>
        <p style="text-align: justify; margin-top: 0cm; background: #F8F8F8"><b>
            <span style="font-size: 13.0pt; color: black; background: #F8F8F8">Trường hợp bế kinh do lo nghĩ quá mức</span></b><span style="font-size: 13.0pt; color: black; background: #F8F8F8">
		và do các bệnh mạn tính như lao phổi, viêm phế&nbsp; quản hoặc sau các bệnh
		truyền nhiễm, nhiễm khuẩn gây thiếu máu thì nên ăn nhiều các thực phẩm
		có chứa vitamin nhóm B như: các loại ngũ cốc. Nên ăn các loại hoa quả
		như: chuối, quả mơ, cam. Nên ăn các loại rau như: bông cải xanh. Bổ sung
		các loại thực phẩm như: thịt gà, đậu, cá. Là những loại thực phẩm vừa có
		tác dụng tăng cường sức khỏe, và giảm lo âu, căng thẳng.</span></p>
        <p style="text-align: justify; margin-top: 0cm; background: #F8F8F8"><b>
		<span style="font-size: 13.0pt; color: black; background: #F8F8F8">Bế
		kinh do bị lạnh thường có dấu hiệu như:</span></b><span style="font-size: 13.0pt; color: black; background: #F8F8F8">
		cảm giác đau bụng dưới, chân tay lạnh, ngực tức, buồn nôn thì nên ăn các
		món ăn nhiều: các </span>
		<span style="font-size: 13.0pt; color: #222222">loại hạt, bí đỏ, các
		loại hạt, mầm lúa mỳ, lòng đỏ trứng, rau lá xanh, thịt và các sản phẩm
		sữa. Đây là những thực phẩm chứa nhiều vitamin E giúp tăng tuần hoàn máu
		tới các bộ phận trong cơ thể. Nên ăn nhiều thực phẩm chứa niacin giúp ổn
		định hệ thần kinh và tuần hoàn như: gan động vật, trứng, sữa, pho mát,
		các sản phẩm từ bột mỳ chưa tẩy trắng, nấm, lạc, đậu, cà phê. Nên ăn
		thức ăn khi còn nóng.</span></p>
        <p style="text-align: justify; margin-top: 0cm; background: #F8F8F8"><b>
		<span style="font-size: 13.0pt; color: #222222">Trường hợp bế kinh do
		đàm thấp,</span></b><span style="font-size: 13.0pt; color: #222222">
		thường gặp ở người béo mập: không muốn ăn, có lúc buồn nôn, tiểu tiện
		nhiều, miệng nhạt thì cần có chế độ ăn kiêng hợp lý: Nên ăn nhiều các
		loại rau xanh, hoa quả tươi, nên uống nhiều nước. Tránh ăn các loại thực
		phẩm chứa nhiều chất béo như: mỡ động vật. Cá và đậu phụ là lựa chọn tốt
		nhất cho người bế kinh do đàm thấp. Ngoài ra cần phải kết hợp với tập
		thể dục giúp giảm cân.</span></p>
        <p style="text-align: justify; margin-top: 0cm; background: #F8F8F8"><b>
		<span style="font-size: 13.0pt; color: #222222">Người bị bế kinh do
		huyết ứ</span></b><span style="font-size: 13.0pt; color: #222222">
		thường có biểu hiện sắc mặt xanh, hạ vị căng trướng, miệng khô. Những
		người thuộc thể bệnh này thì chỉ cần ăn uống điều độ, kết hợp với vận
		động thường xuyên có thể kết hợp với xoa bóp bấm huyệt cho khí huyết lưu
		thông.</span></p></font><font color="#222222" style="font-size: 13pt">
</font>
</div>