﻿<div id="noidung">


    <h1><font size="5" color="#000080" face="Times New Roman">Chế độ ăn uống cho bệnh
        Rụng tóc</font></h1>
    <font color="#000000" size="3">
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:700; color:windowtext">
					<a href="Chế%20độ%20ăn%20rụng%20tóc">
                        <img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-rung-toc.jpg" width="250" height="250" lowsrc="Chế%20độ%20ăn%20rụng%20tóc" longdesc="Chế độ ăn rụng tóc" alt="Chế độ ăn rụng tóc" align="left"></a>I. Đại cương</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:normal; color:windowtext">
					Y học cổ truyền quan niệm tóc là phần thừa của huyết, được
		huyết nuôi dưỡng. Mà can là nơi tàng trữ và điều tiết lượng huyết trong
		cơ thể. Mặt khác huyết do tinh sinh ra, tinh tàng trữ ở thận, vì vậy
		thận là căn nguyên sinh ra tóc. </span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:normal; color:windowtext">
					Những người đầy đủ huyết dịch thì tóc sẽ khỏe, không bị gãy,
		rụng hoặc bạc sớm. Trái lại, khi bị huyết hư, can thận suy yếu, sẽ ảnh
		hưởng rất lớn đến sự phát triển và sức khỏe của tóc. Hậu quả là rụng tóc.
		Nếu tuổi chưa cao mà tóc rụng nhiều và bạc sớm thì cần phải nuôi tóc
		khỏe trở lại bằng cách làm bổ can, bổ thận, dưỡng huyết.&nbsp;</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:normal; color:windowtext">
					Để có huyết dịch, một chế độ ăn uống đầy đủ, cân đối các
		chất dinh dưỡng là rất đáng quan tâm. Điển hình những thực phẩm rất có
		ích cho sức khỏe của tóc như nấm hương, đậu đen, nấm mèo, đại táo, mè
		đen, tóc tiên, cải bó xôi, rau cần, bí đỏ, giá đậu, cà rốt, cà chua, xà
		lách xoong, hành tây, dưa hấu, đu đủ chín, mít, long nhãn, vải, sữa tươi,
		hải sâm, cá trê, cá lóc, lươn, cá chạch, rùa, ba ba, thịt bò, thịt gà,
		cá trắm, lộc nhung, yến sào, hà thủ ô…</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:normal; color:windowtext">
					Theo Y học hiện đại, một trong những nguyên nhân gây rụng
		tóc là do chế độ ăn nghèo chất dinh dưỡng. Theo đó, chế độ ăn được xem
		là tốt cho tóc phải có đầy đủ các thành phần dinh dưỡng như sau: ngũ cốc,
		rau, trái cây, sữa chua, đậu hũ, thịt nạc, cá, thịt gia cầm. </span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:normal; color:windowtext">
					&nbsp;</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:700; color:windowtext">
					II. Một số thực phẩm bệnh nhân rụng tóc nên dùng</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:700; color:windowtext">
					1. Ngũ cốc</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:normal; color:windowtext">
					Chúng cung cấp các chất dinh dưỡng và chất chống oxy hóa rất
		tốt cho da đầu và tóc của bạn. Chúng chứa các vitamin B, E, magiê, phốt
		pho sắt, kẽm. Chúng cũng chứa cholesterol tự do và các chất béo bão hòa
		thấp. Các loại ngũ cốc có lợi cho vấn đề rụng tóc.</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:normal; color:windowtext">
					Sắt và silic tìm thấy trong lúa mỳ, gạo nguyên cám giúp cơ
		thể hấp thu nhiều khoáng chất và vitamin từ thực phẩm khác. Khi cơ thể
		có lượng vitamin thiết yếu và khoáng chất phong phú thì rụng tóc không
		còn là vấn đề với bạn nữa.</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:700; color:windowtext">
					&nbsp;</span><span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: 700; color: windowtext">2.
		Yến mạch</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		Bột yến mạch không chỉ là loại thực phẩm cung cấp năng lượng để cơ thể
		hoạt động, chúng còn giúp cơ thể tạo ra nhiều melatin nên góp phần hỗ
		trợ cho việc duy trì màu tóc tự nhiên và chống rụng tóc. Loại bột này
		chứa nhiều khoáng chất quan trọng như kali, phốt pho và ma-giê, sắt. Do
		đó, bột yến mạch được xem là một trong những thực phẩm chăm sóc tóc tốt
		nhất.</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
		<span style="font-family: Times New Roman; font-size: 12.0pt; font-weight: 700; color: windowtext">
		&nbsp;<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: 700; color: windowtext">3.
		Rau lá xanh đậm</span></span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		Rau bina, bông cải xanh, củ cải đường, cải xoăn, rau diếp xoăn… là nguồn
		cung cấp sắt, canxi, chất xơ và vitamin A, vitamin C tuyệt vời và là nơi
		sản xuất bã nhờn, chất nhờn để bảo vệ tóc khỏi bị khô.</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:normal; color:windowtext">
					&nbsp;</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:700; color:windowtext">
					4. Đậu</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		Các loại rau như đậu quả rất quan trọng đối với chế độ ăn uống cho tóc
		của bạn bởi vì chúng chứa nhiều protein cần thiết cho sự phát triển tóc,
		sắt, biotin và kẽm.</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		Sắt có trong đậu nành làm tăng sản xuất lượng hồng cầu trong cơ thể
		người, giúp các mô tế bào trong cơ thể lấy thêm nhiều oxy, kích thích sự
		tăng trưởng của tóc.</span></p>
        <p class="MsoNormal" style="text-align:justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		&nbsp;</span><span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: 700; color: windowtext">5.
		Giá đỗ</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		Giá đỗ có chứa các chất dinh dưỡng cần thiết cho một mái tóc khỏe mạnh
		như silica và là thực phẩm cực kỳ tốt để ngăn ngừa tóc rụng. Cơ thể sử
		dụng silica để hấp thụ vitamin và khoáng chất, vì vậy ngay cả khi thường
		xuyên bổ sung vitamin và khoáng chất nhưng nếu cơ thể không có silica
		thì cũng chẳng thể hấp thụ được chúng. Tóc phát triển từ các nang trong
		da và cần các chất dinh dưỡng để hình thành các tế bào mới và sản xuất
		tóc mới. </span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		Silica còn được tìm thấy trong vỏ của quả dưa chuột, ớt xanh và ớt đỏ.
		</span></p>
        <p class="MsoNormal" style="text-align:justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		&nbsp;</span><span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: 700; color: windowtext">6.
		Cà rốt</span></p>
        <p class="MsoNormal" style="text-align:justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		Cà rốt là thực phẩm được khuyên dùng để mang lại vẻ rạng rỡ cho da và sự
		chắc khỏe cho da đầu vì nó có chứa Vitamin A sản xuất chất nhờn, giúp da
		không bị mất nước và tóc không bị khô gãy</span></p>
        <p class="MsoNormal" style="text-align:justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		&nbsp;</span><span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: 700; color: windowtext">7.
		Trái cây</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		Táo, dâu, chuối, cam và dưa là những loại trái cây tốt nhất cung cấp đầy
		đủ những loại vitamin cần thiết giúp mái tóc bạn không bị gãy rụng.
		</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		Cà chua được ăn kèm nhiều với các loại đồ ăn nhanh để chống ngán. Và hơn
		hết, cà chua còn là một trong những loại thực phẩm giúp bạn giảm rụng
		tóc. Cà chua là một loại thực phẩm bổ dưỡng, giàu vitamin C và A.</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		Trong cà chua có chứa rất nhiều chất dinh dưỡng có lợi cho cơ thể như
		carotene, lycopene, vitamin và kali. Tất cả những chất này đều rất có
		lợi cho sức khoẻ con người. Đặc biệt cái loại vitamin B, vitamin C và
		beta carotene giúp cơ thể chống lại quá trình oxy hoá của cơ thể, giảm
		thiểu nguy cơ tử vong do bệnh tim mạch và ung thư.</span></p>
        <p class="MsoNormal" style="text-align:justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: 700; color: windowtext">
		8. Trái cây khô và các loại hạt</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:normal; color:windowtext">
					Với nhiều chất sắt, sulphur và biotin, các loại trái cây và
		các loại hạt có vỏ cứng sấy khô (đặc biệt là hạnh nhân) đều là những
		nguồn cung cấp vitamin E giúp tăng cường sự tuần hoàn của máu trên da
		đầu.</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:normal; color:windowtext">
					Chất inositol có trong loại thực phẩm này là một chất có khả
		năng bảo vệ và duy trì sự khỏe mạnh cho các nang chân tóc. </span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:normal; color:windowtext">
					Đậu Bazil là một trong những nguồn cung cấp selen tốt nhất.
		Dưỡng chất này đóng vai trò khá quan trọng đối với sự khỏe mạnh của da
		đầu. </span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:normal; color:windowtext">
					Nho khô hàm chứa phong phú chất sắt nên có tác dụng lớn
		trong việc giúp tóc phát triển chắc khỏe. Chuyên gia tóc kiến nghị, mỗi
		ngày chúng ta ăn khoảng 30-40g nho khô, kiên trì trong vòng 15 ngày sẽ
		có tác dụng nhất định trong việc cải thiện thiếu máu do thể chất yếu.
		Tuy nhiên, nho khô có hàm lượng đường khá cao, người bị bệnh tiểu đường
		không nên ăn nhiều</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:normal; color:windowtext">
					Các loại hạt có hàm lượng tinh dầu cao và là những nguồn
		năng lượng tốt nhất cho mái tóc của bạn. Chúng là nguồn kali, magiê,
		omega-3 acid béo, kẽm… Quả óc chó, hạnh nhân và hạt điều là nguồn cung
		cấp chất kẽm quan trọng. Sự thiếu hụt kẽm có thể dẫn đến rụng tóc. </span>
        </p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:normal; color:windowtext">
					Hạnh nhân không chỉ làm giảm mức độ cholesterol mà còn là
		một nguồn cung cấp protein tuyệt vời. Chúng là một dạng tự nhiên của
		aspirin.</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:normal; color:windowtext">
					Không những thế hạnh nhân còn chứa vitamin E và sắt, hai
		loại này rất cần cho một mái tóc khoẻ mạnh.</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:normal; color:windowtext">
					Ăn khoảng 15 quả hạnh nhân tương đương với hai viên aspirin
		giúp giảm rụng tóc và chống đau đầu.</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:normal; color:windowtext">
					&nbsp;</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:700; color:windowtext">
					9. Thịt bò</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:normal; color:windowtext">
					Loại thực phẩm này rất hữu ích trong việc giảm rụng tóc.
		Thịt bò không chỉ chứa protein mà còn có đủ các vitamin nhóm B, sắt,
		những khoáng chất quan trọng cho sự khoẻ mạnh của mái tóc. Vitamin A và
		kẽm trong thịt bò giúp loại bỏ gầu, da đầu ít bị ngứa và tóc ít rụng hơn.</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:normal; color:windowtext">
					&nbsp;</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:700; color:windowtext">
					10. Thịt muối xông khói: </span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:normal; color:windowtext">
					Nếu bạn đang muốn giảm cân thì hãy tránh dùng thịt muối này.
		Còn nếu không thì bạn có thể ăn thịt muối ở lượng vừa phải vì đây là
		nguồn giàu vitamin B, protein và kẽm, những chất rất tốt cho mái tóc của
		bạn.</span></p>
        <p class="MsoNormal" style="text-align:justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		&nbsp;</span><span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: 700; color: windowtext">11.
		Thịt gà và trứng</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		Phần lớn cấu tạo của tóc là từ protein, vì vậy một chế độ ăn giàu
		protein là cách tuyệt vời để ngăn ngừa tóc gãy rụng và cải thiện sự phát
		triển của mái tóc. Thiếu protein sẽ gây ra hiện tượng tóc bị giòn và yếu.
		</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		Thịt gà và trứng rất giàu protein, vì vậy thường xuyên sử dụng 2 loại
		thực phẩm này là cách để bạn cung cấp đầy đủ lượng protein cho cơ thể.</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		Các chất có trong thịt gà giúp bạn dễ dàng hấp thụ sắt, đó là chất cần
		thiết để tạo ra hemoglobin giúp vận chuyển oxy đến các cơ quan và các mô.
		Sắt tạo điều kiện thuận lợi cho các nang tóc hấp thu chất dinh dưỡng
		khác dễ dàng hơn bằng cách giúp cho máu lưu thông ở phần da đầu tốt hơn.
		</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		Trứng là nguồn cung cấp lưu huỳnh giúp các nang tóc luôn phát triển. Lưu
		huỳnh thúc đẩy tăng trưởng tóc bằng cách cải thiện lưu thông máu đến da
		đầu, đồng thời giảm bớt sự viêm nhiễm và ngăn ngừa rụng tóc. Trứng cũng
		chứa rất nhiều biotin và vitamin B12 là những loại dinh dưỡng có vai trò
		quan trọng trong việc làm đẹp.</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		Trứng gà (đặc biệt là lòng đỏ), có chứa một hàm lượng cao chất lượng
		protein, vitamin và khoáng chất. Chúng chứa đặc biệt là vitamin A, B và
		D rất tốt cho mái tóc của bạn. Chúng còn chứa calo, trung bình mỗi quả
		trứng chứa khoảng 80 kcal vì vậy trứng gà là sự lựa chọn tuyệt vời ngay
		cả khi bạn đang ăn kiêng. </span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		Một số loại thực phẩm giàu protein và biotin khác là quả cật, phó mát ít
		béo, đậu, rau xanh và trái cây</span></p>
        <p class="MsoNormal" style="text-align:justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		&nbsp;</span><span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: 700; color: windowtext">12.
		Các sản phẩm từ bơ, sữa</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		Sữa tươi nguyên kem, phô mai tươi và yaourt cũng là những nguồn cung cấp
		nhiều dưỡng chất có lợi cho sự phát triển của tóc, giúp tóc khỏe và chắc
		hơn. Để đạt kết quả cao nhất, bạn nên đun sữa âm ấm trước khi dùng để
		tăng khả năng tiêu hóa và hấp thu các chất dinh dưỡng cho cơ thể.</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		Các sản phẩm sữa chất béo thấp là một nguồn canxi, kẽm, vitamin D, magiê
		và protein. Chúng có thể giúp giảm nguy cơ béo phì, sâu răng, cao huyết
		áp và giúp kích thích sự phát triển tóc.</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		Sữa chua hay sữa ít béo mang 1 nguồn canxi dồi dào và 1 lượng protein
		tuyệt hảo, những chất cần thiết cho mái tóc khoẻ mạnh.</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		&nbsp;</span><span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: 700; color: windowtext">13.
		Hải sản</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		Hải sản là loại thực phẩm rất quan trọng trong việc duy trì sự tăng
		trưởng cho mái tóc. </span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:normal; color:windowtext">
					Cá cung cấp lưu huỳnh và axit béo cần thiết để giữ gìn sức
		khỏe cho mái tóc. Các axit béo thiết yếu được tìm thấy có nhiều trong cá
		không chỉ giúp mái tóc phát triển nhanh mà còn cho bạn một làn da mịn
		màng và móng tay khoẻ mạnh hơn. Nên ăn cá tươi thay vì đồ đông lạnh,
		đóng hộp.</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		Đặc biệt cá hồi là một nguồn protein có chất lượng cao đồng thời còn
		chứa nhiều a-xít béo ô-mê-ga 3, vitamin B12 và sắt. A-xít béo ô-mê-ga 3
		sẽ giúp da đầu luôn khỏe mạnh. Sự thiếu hụt loại a-xít này có thể làm da
		đầu và tóc bị khô, gãy rụng tóc. Nếu bạn là người ăn chay, có thể bổ
		sung a-xít này cho cơ thể từ các nguồn thực vật bằng cách dùng khoảng từ
		1 đến 2 muỗng canh dầu hạt lanh mỗi ngày.</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		Các loại thực phẩm giàu chất kẽm như hàu, trai, tôm, sò rất tốt trong
		việc ngăn ngừa rụng tóc bằng cách tăng cường sự chắc khỏe cho nang tóc.
		</span>
		<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:normal; color:windowtext">
					&nbsp;</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:700; color:windowtext">
					14. Hành, Nghệ, rau mùi, thì là</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:normal; color:windowtext">
					Những loại gia vị như nghệ và thì là đều là những thức ăn
		tốt cho tóc, giúp kích thích tóc phát triển nhanh.</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:normal; color:windowtext">
					Loại rau này cực hiệu nghiệm cho những ai hay rụng tóc. Rau
		mùi có tác dụng làm trong sạch cơ thể, loại bỏ các chất kim loại độc hại
		ra khỏi cơ thể nhanh chóng. Các chất kim loại độc hại này là nguyên nhân
		cản trở chất dinh dưỡng vận chuyển tới da đầu, dẫn tới rụng tóc và khô
		xơ, gãy.</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:normal; color:windowtext">
					Trong hành có nhiều lưu huỳnh làm tăng sự phát triển của tóc
		và hạn chế lượng tóc rụng.</span></p>
        <p class="MsoNormal" style="text-align:justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		&nbsp;</span><span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: 700; color: windowtext">15.
		Nước </span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		Uống 8 – 9 ly nước mỗi ngày sẽ giúp vẫn chuyển các chất dinh dưỡng cần
		thiết cho tóc và giữ cho sợi tóc luôn có đủ độ ẩm cần thiết để chắc,
		khỏe từ đó tránh hiện tượng tóc bị khô và rụng tóc.</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">&nbsp;</p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:700; color:windowtext">
					16. Mật ong nguyên chất</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:normal; color:windowtext">
					Mật ong là một chất giữ độ ẩm rất tốt. Nhưng hiệu quả và an
		toàn nhất để sử dụng thì nên là mật ong nguyên chất. Bạn có thể cho thêm
		một thìa mật ong vào cốc sinh tố hoa quả hoặc ăn kèm bánh mỳ để có mái
		tóc bóng khỏe.</span></p>
        <p class="MsoNormal" style="text-align:justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		&nbsp;</span><span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: 700; color: windowtext">17.
		Lô hội</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		Lô hội có một công năng nữa là kích thích tóc mọc. Lô hội rất sạch và
		giúp cơ thể hấp thu các chất dinh dưỡng như vitamin B tốt hơn, giúp tóc
		bóng đẹp hơn.</span></p>
        <p class="MsoNormal" style="text-align:justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		&nbsp;</span><span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: 700; color: windowtext">III&gt;
		Những loại thực phẩm người đang bị rụng tóc nên kiêng</span></p>
        <p class="MsoNormal" style="text-align:justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		1. Không nên ăn quá nhiều chất ngọt, nước uống ngọt có ga, kẹo, sữa,
		sôcôla, các thực phẩm rán giòn… Các loại thực phẩm này dẫn đến sự rối
		loạn sự thay đổi của chất béo làm cho tóc chuyển màu vàng, sợi nhỏ, khô
		và không có độ bóng</span></p>
        <p class="MsoNormal" style="text-align:justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		2. Cần loại bỏ các chất cay, các chất kích thích như ớt, gừng, rượu, bia…
		vì những loại này gây kích thích da đầu làm cho da đầu trở nên ngứa rồi
		gây rụng tóc nhiều hơn</span></p>
        <p class="MsoNormal" style="text-align:justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; font-weight: normal; color: windowtext">
		3. Cần ăn ít những loại hạt như hạt hướng dương, lạc, hạt bí… vì đó là
		những loại có chứa nhiều chất béo gây ảnh hưởng gián tiếp đến quá trình
		mọc tóc. </span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
					<span style="font-family: Times New Roman; font-size:12.0pt; font-weight:normal; color:windowtext">
					4. Thuốc lá: những người hút trên 20 điếu thuốc/ngày có nguy
		cơ bị hói đầu cao gấp 2 lần bình thường. Nguy cơ này giảm hẳn khi những
		người này bỏ thói quen hút thuốc. Các nhà khoa học cho biết: chính việc
		hút thuốc đã làm tổn thương cấu trúc gen của các biểu bì ở chân tóc – là
		phần quan trọng giúp cho tóc khỏe và phát triển. Thuốc lá còn làm giảm
		tính đàn hồi của mạch máu, nhất là các huyết mạch ở da đầu, gây ức chế
		quá trình vận chuyển máu tới chân tóc. Ngoài ra, các nhà khoa học còn
		cho biết những người hút thuốc không chỉ gây ra chứng hói đầu cho chính
		bản thân họ mà còn để lại hậu quả tương tự cho con trai của họ sau này.</span></p>
					<span style="font-family: Times New Roman; font-size:16pt">
					<font color="#0000FF">
                        <p>&nbsp;</p></font></span>
        <p align="center" style="margin:0cm;margin-bottom:.0001pt;text-align:center">
            <b><span style="font-size:20.0pt;color:black">
		<a name="Chế_độ_ăn_đảm_bảo_dinh_dưỡng_cho_bệnh_nhân_rụng_tóc">Chế độ ăn
            đảm bảo dinh dưỡng cho bệnh nhân rụng tóc</a></span></b></p>
        <p class="MsoNormal" style="text-align:justify">
            <span style="color:black">&nbsp;</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Việc chăm sóc tóc bên ngoài bằng dầu gội, dầu xả, kem ủ tóc,… thực chất
		chỉ có tác dụng làm sạch và bóng tóc tạm thời, hầu như không có tác dụng
		nuôi dưỡng tóc, bởi vì sợi tóc là chất sừng, không thể hấp thu dưỡng
		chất được. Để tóc phát triển chắc khỏe, tóc cần được hấp thu đầy đủ
		dưỡng chất nuôi tóc từ bên trong. Thực tế, hơn 95% dưỡng chất nuôi tóc
		là do máu mang lại. Vì vậy, tóc chỉ thực sự khỏe đẹp khi được nuôi dưỡng
		đầy đủ dưỡng chất từ các mạch máu bên trong cơ thể. Khi tóc được nuôi
		dưỡng đầy đủ dưỡng chất, tóc sẽ hết rụng, khô, gãy, chẻ nhọn, chân tóc
		vững chắc, sợi tóc dày, chắc khỏe, mái tóc sẽ nhanh chóng trở nên óng ả,
		mượt mà.&nbsp; </span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
            <span style="color: black">&nbsp;</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><b>
            <span style="color:black">1. Protein</span></b></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Thành phần chủ yếu trong cấu tạo của một sợi tóc là chất sừng keratin
		chiếm khoảng 70%, 30% còn lại là nước, chất béo, hydrat cacbon, vitamin
		và khoáng chất. Keratin là một polypeptit có cấu tạo từ các aminoacid.&nbsp;Để
		cơ thể tổng hợp được chất này một cách dễ dàng, chúng ta nên ăn các thức
		ăn giàu chất đạm. Một chế độ ăn giàu protein sẽ giúp bạn có một mái tóc
		bóng mượt, chắc, khỏe, có độ đàn hồi cao nên không bị đứt, gãy, rụng</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Protein từ thịt là nguồn tốt nhất nhưng ăn thịt hằng ngày cũng sẽ không
		tốt. Những loại thực phẩm có hàm lượng chất béo cao sẽ làm tăng hormon
		sinh dục nam (testosterone) và đó là nguyên nhân gây rụng tóc rất nhiều.
		Vì thế thịt không nằm trong danh sách những loại thực phẩm chống rụng
		tóc. </span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Bệnh nhân rụng tóc nên chú ý đến những loại thức ăn giàu protein như: cá,
		gà, gan bê, men bia, phó mát hàm lượng chất béo thấp, trứng, các loại
		đậu và sữa chua. </span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Các protein thực phẩm có nguồn gốc động vật như trứng, cá, sữa, thịt nạc,
		gan…tốt cho tóc hơn là các đạm thực vật. Chúng có có chứa tất cả những
		loại axit amin cần thiết (mà cơ thể không thể tự sản xuất ra được) và
		hình thành protein hoàn chỉnh. Protein thực vật có nhiều trong các loại
		cây lương thực, quả hạch, hạt ngũ cốc và các loại đậu, nhưng lại không
		chứa đầy đủ các axit amin cần thiết. </span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Tuy nhiên sữa đậu nành và đậu phụ cũng là cách thông minh để thêm vào
		chế độ ăn bởi chúng giàu protein và ít chất béo xấu.</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
		<span style="color:black"><br>
		<b>2.</b> <b>Sắt</b></span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Sắt đóng một vai trò quan trọng trong việc sản xuất hemoglobin, một phần
		của máu mang dưỡng khí cho các cơ quan và mô trong cơ thể. Điều này có
		nghĩa là da đầu của bạn cũng có lưu lượng máu, mà đây chính là yếu tố
		thúc đẩy và kích thích tóc phát triển. </span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Khi trong máu thiếu sắt, phần chân tóc cũng sẽ bị ảnh hưởng. Bị thiếu
		dinh dưỡng, chân tóc sẽ yếu và dễ bị tổn thương hơn, dẫn đến việc tóc dễ
		bị rụng. Để cân bằng lượng sắt trong máu, cách tốt nhất là cải thiện chế
		độ ăn uống. Ăn nhiều đồ ăn có chứa chất sắt và các thành phần giúp tăng
		cường sự hấp thụ sắt để lấy lại sự cân bằng sắt trong máu.</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Để giúp ngăn chặn điều này nên tăng cường các thực phẩm giàu sắt như gan
		và nội tạng, gia cầm, cá, Các loại quả khô (nho khô), chà là, nước trái
		cây, đậu nành, hạt bí đỏ, đậu trắng, đậu lăng, cải bó xôi, con trai, hàu,
		ca cao, thịt thỏ, thịt gia cầm, đậu nành, lúa mì, thịt bê, lươn, tim bò,
		thịt bò, lạc, trứng, quả có màu xanh thẫm, rau đậm màu như rau cải, và
		các loại hạt ngũ ....</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Sắt trong đạm động vật sẽ dễ dàng hấp thụ hơn so với sắt có trong đạm
		thực vật như đậu lăng, đỗ và đậu hũ. Những người ăn chay nên kết hợp đạm
		thực vật với một loại thực phẩm giàu vitamin C để thúc đẩy sự hấp thụ.</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Vitamin C có nhiều trong các loại trái như cam, dâu và chanh là những
		thực phẩm bệnh nhân rụng tóc nên đưa vào danh sách các loại thực phẩm
		giúp ngăn ngừa rụng tóc ...</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Hạn chế dùng trà, cà phê vì chúng có tác dụng ngược lại.</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: 18.0pt">
            <span style="color:black">&nbsp;</span></p>
        <p class="MsoNormal" style="text-align:justify"><b>
            <span style="color:black">3. Iot</span></b><span style="color:black">
		</span>
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		cũng là một khoáng chất thiết yếu giúp tóc phát triển khỏe mạnh. Đó là
		một trong những lý do iot được bổ sung vào muối ăn hàng ngày.</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
		<span style="color:black"><br>
		<b>4.</b> <b>Silica</b></span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Silica là khoáng chất thiết yếu. Cơ thể sử dụng Silica để hỗ trợ việc
		hấp thụ các vitamin và khoáng chất, giúp tóc khỏe hơn, tránh gẫy rụng.
		Và dĩ nhiên, nếu không dùng loại thực phẩm có Silica thì việc bổ sung
		vitamin cũng không giúp ích được nhiều. </span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Silica được tìm thấy trong giá đậu tương, và khoai tây.</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Silica có nhiều trong gạo, yến mạch, giá đỗ, ớt xanh, rau diếp, củ cải
		vàng, măng tây, hành tây, dâu tây, cải bắp, dưa chuột, tỏi tây, cần tây,
		khoai tây hạt hoa hướng dương, hoa lơ... </span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Các thực phẩm giàu silica nên được ăn sống chưa qua chế biến nếu có thể
		để hấp thu đầy đủ chất dinh dưỡng cho tóc.</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
		<span style="color:black"><br>
		<b>5. Kẽm</b></span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Kẽm đóng vai trò quan trọng trong cơ thể, từ việc tái tạo tế bào (tham
		gia tạo protein) đến cân bằng hormon và thực hiện tất cả những chức năng
		tác động đến sự phát triển của tóc. Có lẽ vai trò quan trọng nhất của
		kẽm là gắn kết các nang tóc (tạo collagen). Khi cơ thể của bạn có hàm
		lượng kẽm thấp, các nang tóc sẽ yếu đi tóc kém phát triển, tóc trở nên
		mảnh, nhỏ, có màu vàng ố, không óng ả, và đó là nguyên nhân khiến các
		sợi tóc không đủ khả năng bám lại da đầu và rụng xuống. Kẽm còn có tác
		dụng định mức chuẩn tỷ lệ chất bã nhờn, chống một số chất độc, kim loại
		nặng, cho ta một mái tóc khỏe mạnh và sạch sẽ. </span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Thực phẩm giàu kẽm bao gồm: mầm lúa mì, thịt đỏ (thịt bò), thịt gia cầm,
		tôm, các loại hạt và đặc biệt là ăn nhiều hải sản (sò, hàu), gan, cá, óc,
		trứng. Vì hải sản chứa nhiều lượng kẽm tốt cho việc nuôi dưỡng các tố
		chất trong cơ thể và ngăn chặn sự rụng tóc.</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Những người ăn chay có thể bổ sung kẽm từ các loại đậu, các loại hạt và
		ngũ cốc. Kẽm từ các nguồn này không hấp thu một cách dễ dàng như kẽm từ
		nguồn động vật vì vậy những người ăn kiêng cần bổ sung một lượng nhiều
		hơn khoáng chất này.</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Tuy nhiên, bổ sung quá nhiều kẽm thực tế cũng có thể dẫn tới rụng róc,
		vậy nên tốt nhất là có một chế độ ăn giàu kẽm hơn là chỉ ăn những loại
		thức ăn này và uống thuốc bổ sung.</span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Các thực phẩm giàu kẽm bao gồm đạm động vật, tôm, cua, sò, hến, đậu
		phộng, hạt bí ngô, đậu xanh, và mầm lúa mì. </span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
            <span style="color:black">&nbsp;</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><b>
            <span style="color:black">6. Đồng</span></b></p>
        <p class="pbody" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:18.0pt">
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Đồng tham gia vào việc tạo nên những sắc tố của tóc. Nếu cơ thể bị thiếu
		khoáng chất này, mái tóc của bạn sẽ bị bạc màu trước tuổi. Chúng ta có
		thể củng cố màu sắc tự nhiên của mái tóc với một chế độ ăn chứa nhiều
		chất đồng. Động vật có vỏ (hàu), gan, rau tươi, quả hạnh nhân, các loại
		hạt, thịt, atisô, bơ, chuối, tỏi, các loại đậu, nấm, quả hạch, các loại
		hạt, khoai tây, mận, củ cải, đậu nành, cà chua,và ngũ cốc nguyên hạt là
		những thực phẩm có nhiều đồng.</span></p>
        <p class="pbody" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:18.0pt"><span style="color:black">&nbsp;</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><b>
            <span style="color:black">&nbsp;</span></b></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><b>
            <span style="color:black">7. Chất béo&nbsp;</span></b></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Một chế độ ăn giàu chất béo làm tăng hàm lượng testosterone -&nbsp; nguyên
		nhân gây rụng tóc. Để có mái tóc đẹp, bạn nên hạn chế đồ ăn có chứa
		nhiều đường, dầu mỡ, các loại đồ ăn chứa nhiều axit chua như các loại
		bánh ngọt, kem, các loại đồ ăn nhanh, các món chiên xào nhiều dầu mỡ,
		các loại rau củ quả chế biến theo hình thức lên men… </span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Nên sử dụng các loại ngũ cốc và hạt khác như ngô, lạc, hạt dưa, hạt
		hướng dương.. chứa dầu với các axit béo không no, giúp duy trì độ ẩm và
		độ đàn hồi cho tóc, làm tóc luôn đen và bóng mượt. </span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Một chế độ ăn uống giàu omega-3, axit béo thiết yếu cho cơ thể, sẽ nuôi
		dưỡng và tăng độ ẩm cho những sợi tóc khô, dễ gãy, giúp da đầu hết khô,
		ngứa, và làm giảm nguy cơ mắc bệnh vẩy nến, gàu hoặc eczema. Nguồn thực
		phẩm giàu omega-3 nhất là cá, hạt lanh và một số loại quả hạch. Cá trích
		có lượng omega-3 lớn nhất, tiếp theo là cá thu, cá hồi và cá ngừ. Quả óc
		chó và đậu nành cũng là nguồn cung cấp đáng kể axit béo omega-3 và là
		một bữa ăn nhẹ vừa giàu protein vừa tiện lợi cho bạn. </span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
            <span style="color:black">&nbsp;</span></p>
        <p class="MsoNormal" style="text-align:justify">
            <span style="color:black">&nbsp;</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><b>
            <span style="color:black">8. Vitamin </span></b></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Vitamin làm tóc mọc nhanh và mềm mại hơn</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
            <b><i><span style="color:black">Vitamin A</span></i></b><span style="color:black">
		</span>
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		thường xuyên cần cho quá trình sừng hóa lớp thượng bì, hình thành chất
		kêratin. Nếu thiếu vitamin A trong cơ thể sẽ dẫn đến da đầu khô, chân
		tóc yếu, tóc dễ gãy. Vitamin A có đa dạng trong hai nguồn từ thực vật
		lẫn động vật. Bạn có thể tìm thấy vitamin A dồi dào trong trái cây màu
		đỏ, rau quả màu vàng, màu cam như cà rốt và một số rau màu xanh lá cây
		đậm. Ở nguồn từ động vật, vitamin A có nhiều trong gan, dầu cá, trứng và
		sữa tươi. </span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
            <span style="color:black">Nhóm các <b><i>vitamin B</i></b>: </span>
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		có tầm quan trọng trong việc giữ cho tóc, da đầu và da luôn được khỏe.
		Chúng tham gia vào quá trình sản xuất keratin - thành phần cấu tạo chính
		nên tóc đồng thời kích thích tóc mọc nhanh. Các vitamin B có trong các
		loại thực phẩm, nhất là ở hạt ngũ cốc, bánh mì, rau lá xanh, các loại
		đậu, đậu nành, men, mộng lúa mì, thịt bò (nhất là ở gan). Thiếu vitamin
		nhóm B có thể dẫn đến thiếu máu, gây ra các vấn đề về thần kinh, viêm da
		đầu và da; Làm tóc bạc sớm, rụng tóc.</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
		<span style="color:black">- Thiếu <b><i>vitamin B2</i></b> không những
		làm mất màu tóc, tóc bị duỗi thẳng mà còn gây hói. </span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
            <span style="color:black">- <b><i>Niacin hoặc vitamin B3</i></b> </span>
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		(thịt gà, gà tây, cá, mầm lúa mỳ) thúc đẩy lưu thông máu ở da đầu, sản
		xuất dầu tự nhiên cho tóc. Ngoài ra, nó còn giúp tăng cường chân tóc
		chắc khỏe, ngăn ngừa rụng tóc.</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
		<span style="color:black">- <b><i>Para-aminobenzoic acid (PABA)</i></b>
		</span>
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		kết hợp với axit folic sẽ giúp khôi phục lại mái tóc, ngừa rụng tóc. Nếu
		thiếu vitamin này có thể dẫn đến tình trạng tóc bạc sớm. Nguồn thực phẩm
		quan trọng giàu PABA bao gồm men bia và các loại hạt.</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
            <span style="color:black">- <b><i>Inositol</i></b>: </span>
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		ngừa rụng tóc, giảm hói đầu. Một số phụ nữ cũng bị ảnh hưởng bởi hiện
		tượng này và nó có thể được chữa khỏi bằng một chế độ ăn uống lành mạnh
		với chế độ ăn nhiều rau, chuối, hoa quả họ cam quýt, gan và nho khô.</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
		<span style="color:black">- <b><i>Axit pantothenic: Còn được gọi là
            vitamin B5</i></b>, </span>
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		vitamin này giúp ngừng rụng tóc nhanh chóng. Để nhận được nhiều vitamin
		B5, bạn hãy ăn nhiều ngũ cốc, thịt nội tạng và lòng đỏ trứng.</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
		<span style="color:black">- <b><i>Vitamin B6, axit folic và B12</i></b>:
		</span>
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Cả 2 loại vitamin B6 và vitamin B12 đều có tác dụng giúp tăng trưởng tóc,
		ngăn rụng tóc.
		<span style="font-weight: normal; color: windowtext; font-family: Times New Roman; font-size: 12.0pt">
		Vitamin B6, Axit folic, Vitamin B12</span> rất cần thiết trong quá trình
		sản sinh hemoglobin, một hợp chất giúp mang oxy từ phổi đến các mô tế
		bào trong cơ thể, bao gồm cả tóc. Tóc khỏe và chắc dựa trên nguồn cung
		cấp oxy và máu liên tục. Sự thiếu hụt các vitamin này làm giảm sự cung
		cấp máu đến tóc, gia tăng hiện tượng rụng tóc và làm tóc nhanh hư tổn,
		chậm phát triển. Nguồn bổ sung vitamin B6, B12 có nhiều trong thực phẩm
		giàu protein như thịt, trứng, cá, các sản phẩm từ sữa, đậu nành. Trong
		loại rau lá xanh, nước cam, bông cải xanh, mần lúa mì, bơ, măng tây,
		atisô, củ cải đường, cam, bông cải xanh, bắp cải Brussels, rau bina, đậu
		tươi, đậu nành, đậu xanh, đậu lăng, gà tây và một số ngũ cốc nguyên hạt,
		bạn có thể tìm thấy nguồn axit folic dồi dào. </span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
            <b><i><span style="color:black">Biotin hay còn gọi là vitamin H</span></i></b><span style="color:black">
		</span>
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		có vai trò vô cùng quan trọng trong việc kích thích tóc mọc dày hơn và
		khỏe hơn. Loại thành phần này có thể dễ dàng được tìm thấy trong các
		loại thực phẩm như: gan, cá hồi , thận, men bia, trứng, cá, sữa, lạc và
		các loại đậu, hạt hoa hướng dương, óc chó, súp lơ, cà rốt, chuối, ngũ
		cốc,…</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
            <b><i><span style="color:black">Vitamin C</span></i></b><span style="color:black">:
		</span>
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Vitamin C giúp các mạch máu trở nên dẻo dai hơn, tăng hấp thu sắt cho cơ
		thể, giúp tóc mọc nhanh hơn. Thiếu vitamin C, các miệng nang lông nở
		rộng ra và bì sừng hóa nặng làm các tóc không thể mọc lên được. Bên cạnh
		đó, vitamin C còn giúp giải thoát các gốc tự do có thể gây hại nang tóc
		khiến tóc mỏng và xơ xác. Vitamin C còn rất cần thiết cho sự sản xuất
		collagen.&nbsp; Vì vậy, hãy bổ sung thật nhiều vitamin C cho cơ thể bằng một
		chế độ ăn nhiều rau quả, đặc biệt là cam quýt, quả thơm (dứa), dâu tây,
		chanh, ớt, ổi, đu đủ, dưa hấu và các loại rau lá sẫm, chẳng hạn như cải
		xoăn, bắp cải hay rau bina.</span><span style="color:black"> </span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
            <b><i><span style="color:black">Vitamin D2, D3</span></i></b><span style="color:black">
		</span>
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		thúc đẩy sự sinh trưởng tóc thông qua tác dụng đến chuyển hóa canxi,
		phốt pho, hệ thống thần kinh thực vật, các tuyến nội tiết. </span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
            <em><b><span style="color:black">Vitamin E</span><span style="color: black; font-style: normal">:</span></b><span style="color:black">
		</span></em>
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		cải thiện hữu hiệu hiện tượng rụng tóc ở phụ nữ. Nó cũng giúp thúc đẩy
		lưu thông máu đến da đầu, tạo ra các chất dinh dưỡng cần thiết cho mái
		tóc khỏe đẹp.</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Nguồn cung cấp: các loại hạt, ngũ cốc và các loại rau lá sẫm màu</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><strong>
            <span style="color:black">&nbsp;</span></strong></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify"><strong>
            <span style="color:black">9. Nước </span></strong></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt">
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Lượng nước thích hợp là một yếu tố quan trọng để mái tóc khỏe mạnh và
		thúc đẩy sức khỏe tốt. </span></p>
        <p class="MsoNormal" style="text-align:justify;text-indent:18.0pt">
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Thông thường, nước chiếm khoảng ¼ trọng lượng mỗi sợi tóc, do đó rất cần
		thiết cho sự mềm mại, bóng mượt của tóc. Hãy đảm bảo mỗi ngày uống đủ 2
		lít nước.</span></p>
        <p class="MsoNormal" style="text-align:justify">
            <span style="color:black">&nbsp;</span></p>
        <p class="MsoNormal" style="text-align:justify"><b>
            <span style="color:black">10. Chế độ ăn uống giàu can xi: </span></b>
		<span style="color: windowtext; font-family: Times New Roman; font-size: 12.0pt; font-weight: normal">
		Bổ sung can xi từ sữa và ngũ cốc không chỉ giúp củng cố bộ xương, mà còn
		giúp đảm bảo rằng tóc của bạn sẽ luôn luôn khỏe mạnh và bóng mượt.</span></p>
        <p class="MsoNormal" style="text-align:justify">
            <span style="color:black">&nbsp;</span><b><span style="color:black">11.
		Collagen</span></b></p>
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">
		Theo các nhà khoa học, collagen không chỉ được xem như chất keo giúp cho
		làn da săn chắc, mịn màng, trẻ trung mà còn giúp cho xương, gân, dây
		chằng, tóc, móng… trở nên vững chắc, dẻo dai, đàn hồi tốt. Vì vậy, sự bổ
		sung những thực phẩm chứa collagen không chỉ giúp người ta trông trẻ hơn
		mà còn có sức khỏe tốt hơn. Collagen do cơ thể tổng hợp nên, do đó cần
		dùng nhiều các nguyên liệu như da động vật, sụn mềm đầu xương...</span><p align="center" style="margin:0cm;margin-bottom:.0001pt;text-align:center">&nbsp;</p>
    </font><font color="#000000" style="font-size: 16pt">
    <p align="center" style="margin:0cm;margin-bottom:.0001pt;text-align:center">
        <strong><a name="Một_số_món_ăn_bổ_dưỡng_ngăn_ngừa_rụng_tóc_">Một số món
            ăn bổ dưỡng ngăn ngừa rụng tóc</a></strong></p>
</font><font color="#000000" size="3">
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">&nbsp;<br>
        &nbsp;<br>
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">
		- Cháo hà thủ ô: 15 g – 20 g hà thủ ô đỏ, khô, rửa sạch, ngâm mềm, sắc
		lấy nước để nấu với gạo tẻ cùng đại táo, thành cháo nhừ. Thêm ít đường
		phèn, đánh tan. Dùng ăn vào lúc đói bụng.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">
		- Canh thịt heo – mè đen: Nấu 60 g mè đen cùng 40 g phục linh khoảng 30
		phút, cho 10 g hoa cúc và 250 g thịt heo nạc (đã ướp gia vị) vào. Nấu
		tiếp cho chín, nêm gia vị và dùng trong bữa cơm.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">
		- Thịt gà chưng rau bó xôi: Đem chưng cách thủy 100 g -150 g thịt gà
		cùng với gia vị vừa ăn. Khi thịt gà chín mềm, cho 80-120 g rau bó xôi
		vào, chưng tiếp 20-30 phút. Ăn khi đói bụng</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">
		- Bắp bò hầm hà thủ ô: Nấu nửa lít nước trong nồi đất cho thật sôi, cho
		200 g bắp bò cùng hà thủ ô đỏ (15 g – 20 g khô) và 6 quả đại táo, 2 lát
		gừng sống cùng hầm cho chín nhừ. Cho mè đen (rang chín, giã mịn) vào,
		nấu thêm 15 – 20 phút, vớt bắp bò ra xắt lát mỏng, cho vào tô, múc nước
		hầm tưới lên bắp bò. Ăn nóng trong bữa cơm. Lưu ý người bị tiêu chảy
		không dùng món này.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">
		- Trứng cút nấu long nhãn: Trứng chim cút 6-8 cái, long nhãn nhục 15 g
		tươi hoặc 8 g khô. Cho 2 thứ vào nồi với 300 ml nước, nấu sôi khoảng 10
		phút, ăn vào lúc đói bụng.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">
		- Quả dâu tằm 60 g, ý dĩ nhân sống 30 g, đậu xanh 30 g. Ba thứ rửa sạch,
		để ráo, cho vào siêu đất nấu với 4 chén nước, sắc còn 2 chén. Thêm đường
		vừa đủ, bỏ bã, uống nước.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">
		- Chọn 2 kg quả dâu chín cho vào lọ thủy tinh, cứ một lớp dâu thì một
		lớp đường cát trắng. Đưa bình ra phơi nắng để nước dâu chảy ra và lên
		men, lấy nước uống, ngày dùng 20 ml – 30 ml trước bữa ăn. </span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">
		- Đỗ đen 400gam, Hà thủ ô 30gam, Muối vừa đủ. Cho hà thủ ô vào vải xô
		bọc lại rồi nấu cùng đỗ đen. Khi sôi chuyển nhỏ lửa, nấu đến khi đỗ chín
		cho thêm muối vào. Ăn sau khi ăn cơm</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">
		- Củ cà rốt 100 gam, Gan lợn 200 gam, Hà thủ ô 15 gam, Hành, gừng, muối,
		đường, mì chính vừa đủ. Cho hà thủ ô vào đun 20 phút, chắt lấy nước. Cà
		rốt thái nhỏ cho vào xào. Gan lợn xào thơm, đổ nước hà thủ ô vào đun sôi
		lên rồi cho thêm gia vị vừa ăn.</span></p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">
		- Hạt dẻ 100gam, Táo đỏ 50 gam, Long nhãn 10 gam, Mật ong 10 gam. Hạt dẻ
		thái nhỏ, Cho táo và long nhãn vào đun khoảng 20 phút, cho tiếp hạt dẻ
		vào đun thêm 10 phút. Cuối cùng cho mật ong vào là ăn được.</span></p>


</font></div>