﻿<div id="noidung">


    <h1 style="text-align: center">Chế độ ăn uống kiêng kị cho người bị Trĩ</h1>

</font><font color="#000000" size="3">
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.2pt">
        <img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/che-do-an-benh-tri.jpeg" width="275" height="184" lowsrc="Chế%20độ%20ăn%20chữa%20bệnh%20trĩ" title="Chế độ ăn bệnh trĩ" longdesc="Chế độ ăn chữa bệnh trĩ" alt="Chế độ ăn chữa bệnh trĩ" align="left">Bệnh trĩ là bệnh mạn tính do sự phồng lên của một hay nhiều tĩnh mạch
        thuộc hệ thống tĩnh mạch trĩ. Nếu búi trĩ thuộc tĩnh mạch trĩ trên gọi
        là trĩ nội, tĩnh mạch trĩ dưới gọi là trĩ ngoại. Vị trí của trĩ nội nằm
        ở dưới trực tràng và phần trên của hậu môn. Trĩ ngoại nằm ở hậu môn.</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.2pt">
        Nguyên nhân của bệnh chưa được xác định rõ ràng và chắc chắn.
		<span lang="VI">Có nhiều yếu tố thuận lợi phát sinh bệnh trĩ như: đứng
		nhiều, ngồi nhiều (nhân viên bàn giấy, thợ may), làm việc nặng
		nhọc(khuân vác); táo bón, tiêu chảy, lỵ, viêm đại tràng mạn tính… </span>
        Nhưng trong đó chế độ ăn không hợp lý đóng một vai trò rất quan trọng.</p>
    <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.2pt">
        Việc ăn uống đúng cách có thể làm một người bị bệnh trĩ nặng giảm hơn
        một nửa nỗi khó chịu, và có thể làm tiêu tan gần hết bệnh của một người
        ở thời kỳ nhẹ hay trung bình. Bài viết này chúng tôi sẽ giúp bệnh nhân
        mắc bệnh trĩ có một chế độ ăn hữu ích.</p>
    <p class="MsoNormal" style="text-align:justify">
        <span style="font-size:12.0pt">&nbsp;</span></p>
    <p class="MsoNormal" style="text-align:justify"><b>
        <span style="font-size:16.0pt">I. Thực phẩm nên ăn</span></b></p>
    <p class="MsoNormal" style="text-align:justify"><b><i>
        <span style="font-size:12.0pt">1. Hãy uống nhiều nước </span></i></b>
    </p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">Trước tiên, người
		bệnh trĩ cần uống nhiều nước trong mọi trường hợp (nước giải khát, bữa
		ăn có nhiều canh…) vì nước khá đắc lợi trong việc làm mềm phân. </span>
    </p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">Một ngày phải uống từ
		1,5 đến 2 lít, nên uống nhiều nước trái cây, nước rau quả, súp rau…</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size: 12.0pt; background: white">Bệnh nhân có thể uống
		nước lạnh vào mỗi sáng để kích thích đi tiêu. </span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        <strong><span style="font-size: 12.0pt; font-weight: normal">Nước trái
		cây đ</span></strong><span style="font-size:12.0pt">ặc biệt là nước của
		các loại quả mọng, có màu đậm sẽ giúp ích cho người bị bệnh trĩ. Anh đào,
		dâu đen và dâu xanh chứa các chất anthocyanin và proanthocyanidin vốn có
		thể làm giảm đau sưng do bệnh trĩ gây ra bằng cách củng cố các tĩnh mạch
		trĩ. Uống ít nhất 1 ly nước trái cây hỗn hợp nói trên mỗi ngày</span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Ngoài ra nên ăn loại thức ăn lỏng dễ tiêu hóa. </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Khi bạn ăn uống như vậy, chắc chắn phân sẽ lỏng hơn. Bạn thường chỉ khó
        chịu khi phân quá cứng, quá đặc.</p>
    <p class="MsoNormal" style="text-align:justify">
        <span style="font-size:12.0pt">&nbsp;</span><b><i><span style="font-size:12.0pt">2. Ăn thức ăn có nhiều chất xơ:</span></i></b></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size:12.0pt">Ngoài ra, bệnh nhân nên tăng cường chất
		xơ trong chế độ ăn vì chất xơ tham gia trữ nước đáng kể trong ruột, làm
		phân dễ bở ra nên dễ dàng khi di chuyển.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size:12.0pt">Các loại rau quả, ngũ cốc là ứng cử viên
		số một cung cấp chất xơ như đậu phụ, ngũ cốc xay, cà rốt, chuối măng,
		quả mơ, súp lơ, cam, quýt, dâu tây…</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
        <span style="font-size:12.0pt">&nbsp;</span><b><i><span style="font-size:12.0pt">3. Thực phẩm nhuận tràng</span></i></b></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size:12.0pt">Một số loại rau có tính nhuận tràng tốt
		như rau lang, rau mồng tơi, rau đay, rau diếp cá, rau dền nên dùng nấu
		canh ăn thường xuyên rất tốt cho người bệnh trĩ. </span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size:12.0pt">Chuối cũng là loại quả có giá trị nhuận
		tràng tốt, sau mỗi bữa ăn nên dùng một quả chuối, hoặc ăn ít dưa hấu.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size:12.0pt">Củ khoai lang cũng có công dụng nhuận
		tràng tốt, nên ăn thêm vào các bữa ăn phụ. </span></p>
    <p class="pbody" style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>Măng:</b>&nbsp;có nhiểu vitamin, tác dụng nhuận tràng.</p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt"><b>
        <span style="font-size:12.0pt">Mật ong</span></b><span style="font-size:12.0pt">:
		cũng có tác dụng nhuận tràng, người mắc trĩ nên sử dụng.</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt">
		<span style="font-size:12.0pt">Magie là một chất có tác dụng nhuận tràng,
		giúp hạn chế chứng táo bón. Magie còn là một khoáng chất rất cần thiết
		cho cơ thể. Một số thức ăn giàu magie: cá bơn, quả hạnh sấy khô, hạt
		điều sấy khô, đậu nành, rau chân vịt, bột yến mạch, bơ lạc, quả bơ, nho 
		khô không hạt...</span></p>
    <p class="MsoNormal" style="text-align:justify;text-indent:14.0pt"><b>
        <span style="font-size:12.0pt">&nbsp;</span><i><span style="font-size:12.0pt">4. Thức ăn nhiều chất sắt</span></i></b></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Do bệnh trĩ gây mất máu mạn tính nên người bệnh dễ bị thiếu máu, vì vậy
        nên chế độ ăn cho bệnh nhân trĩ cần bổ sung nhiều thực phẩm giàu chất
        sắt như: gan gà, cua hấp, cá ngừ, mận, mơ khô, nho khô, hạt hướng dương,
        hạt điều, hạnh nhân, mè, khoai tây luộc, rau bó xôi, bông cải xanh nấu
        chín, dưa đỏ, rau cần, mộc nhĩ đen (nấm mèo đen), vừng (mè đen), ...&nbsp;</p>
    <p class="pbody" style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>Ruột già của lợn, dê</b>: có tác dụng cầm máu, chống đau, tiêu hóa
        tốt.</p>
    <p class="pbody" style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>Thịt rùa</b>: có tác dụng tốt cho người bị trĩ đại tiện ra máu lâu,
        có công hiệu bổ máu.</p>
    <p class="pbody" style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>Quả óc chó</b>: có tác dụng nhuận tràng, giảm&nbsp;búi trĩ<i>&nbsp;</i>thòi ra
        ngoài, và hiện tượng đại tiện ra máu.</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">&nbsp;
    </p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <strong><i>5. Các loại dầu</i></strong></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Trong mỗi bữa ăn, nên dùng dầu ô liu, dầu lanh và giấm táo trong món rau
        trộn. Trong món súp hay bất kỳ món ăn nào thích hợp, hãy dùng dầu ô liu
        và dầu lanh. Vào cuối mỗi bữa ăn nên uống bổ sung dầu cá, đây là một
        trong những loại dầu quan trọng nhất cần dùng thường xuyên.</p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">&nbsp;
    </p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b><i>6. Ngoài ra</i></b></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 14.0pt; background: white">
		<span style="font-size:12.0pt">Các loại rau quả đậu bắp, mướp hương, bí
		đỏ, cà chua, cà tím, súp lơ xanh, củ sen, bắp, bơ, thanh long, bưởi, táo
		tây, dâu tây, kiwi, hồng, hải sâm, sung, rau mùi, rau má... cũng rất có
		ích cho người bị bệnh trĩ </span></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Gừng, tỏi, củ hành giúp phân hủy fibri, khắc phục thương tổn ở mô, nội
        tạng và động mạch. Tuy nhiên, cần lưu ý là dư thừa chất này có thể gây
        viêm ở động và tĩnh mạch, đặc biệt là khu vực hậu môn.&nbsp;</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Curcumin (hoạt chất chính có trong củ nghệ) có tính chống viêm, ức chế
        khối u, thông mật, lợi tiêu hóa, bổ sung Curcumin giúp chống viêm và làm
        mau lành các vết tổn thương của trĩ. </p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b><span style="font-size:16.0pt">&nbsp;</span></b></p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b><span style="font-size:16.0pt">II. Thực phẩm nên tránh</span></b></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Hạn chế ăn muối và kiêng các chất gia vị cay, nóng, cà phê, rượu, những
        thực phẩm chứa chất cafein. </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Muối có khuynh hướng giữ nước lại trong cơ thể, làm các tế bào và mạch
        máu trương căng ra, làm nặng hơn triệu chứng trĩ. </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Những gia vị cay, nóng như: ớt, hồ tiêu, hành... gây kích ứng niêm mạc
        dạ dày, ruột và thường tạo cảm giác khó chịu khi phân đi qua hậu môn.</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Nước ngọt có ga vì làm tăng áp lực trong khung ruột.</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Giảm tối đa bánh mì, cơm tấm, bánh ngọt và sô-cô-la vì không chỉ gây táo
        bón mà còn tăng phản ứng ngứa hậu môn.</p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Kiêng tuyệt đối món ăn nào đã gây dị ứng trước đó.</p>
    <p style="text-align: justify; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b><span style="font-size:16.0pt"><br>
		III. Theo đông y</span></b></p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Rau rau dấp cá có tác dụng thanh nhiệt, giải độc, lợi tiểu, rất hiệu quả
        trong trị táo bón, bệnh trĩ. </p>
    <p style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Đương quy có tác dụng bổ máu, chống thiếu máu, giúp chữa viêm loét mụn
        nhọt, có tác dụng nhuận tràng, thông đại tiện, chống táo bón. </p>
    <p class="pbody" style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Khi bị trĩ ra máu, có thể dùng một trong những bài thuốc nam sau đây để
        cầm:</p>
    <p class="pbody" style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        - Lá huyết dụ tươi (40 g), lá cây sống đời tươi (20 g), lá cây cỏ mực
        tươi. Ba loại rửa sạch, sắc uống 2 lần trong ngày, trước bữa ăn.</p>
    <p class="pbody" style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        - Mấu củ sen khô, cỏ mực, mỗi loại 20 g cùng 16 g lá trắc bá. Tất cả sao
        đen, sắc uống 2 lần trong ngày, trước bữa ăn hoặc lúc bị chảy máu.</p>
    <p class="pbody" style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        - Lá sen tươi, lá ngải cứu tươi, lá trắc bá tươi, lá cây cỏ mực tươi,
        mỗi loại 30-40 g. Tất cả rửa thật sạch, giã nát, vắt lấy nước uống (hoặc
        làm thang sắc uống), trước bữa ăn 30 phút đến 1 giờ.</p>
    <p class="pbody" style="text-align: justify; text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">&nbsp;
    </p>
    <p align="center" style="text-align: center; margin-left: 14.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b><span style="font-size:20.0pt">Món ăn có ích cho bệnh nhân trĩ</span></b></p>
    <p style="margin-left: 14.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">&nbsp;
    </p>
    <p style="margin-left: 14.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Với người mắc bệnh trĩ, cần sử dụng các món ăn là dược thiện sau đây để
        hỗ trợ điều trị và dự phòng, vừa hiệu quả mà vừa an toàn:</p>
    <p style="margin-left: 14.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>1. Mộc nhĩ đen nấu táo đỏ: </b></p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Nguyên liệu gồm 15 g mộc nhĩ đen, 20 quả táo đỏ. </p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Cho mộc nhĩ đen và táo đỏ vào nồi đất, nấu chín với lượng nước vừa phải.
        Mỗi ngày dùng một lần, dùng liền nhiều ngày sẽ có công hiệu dưỡng huyết,
        hòa huyết, cầm máu.</p>
    <p style="margin-left: 14.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>2. Gốc rau dền nấu đại tràng heo: </b></p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Nguyên liệu gồm 100 g gốc rau dền rửa sạch, xắt khúc;&nbsp;150 g đại tràng
        heo. </p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Tất cả cho vào nồi nấu trong 2 giờ với lượng nước vừa phải. Sau đó, gắp
        gốc rau dền ra, cho thêm lượng muối vừa ăn vào nồi nước rồi ăn xác, uống
        nước. Đây là món giúp thanh nhiệt, giải độc, tiêu sưng, tiêu viêm.</p>
    <p style="margin-left: 14.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>3. Hoa hòe nhồi đại tràng heo: </b></p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Lấy 20 g hoa hòe nhồi vào đại tràng heo đã rửa sạch, dùng dây buộc chặt
        hai đầu đại tràng và luộc chín với lượng nước vừa phải, cho thêm gia vị
        vừa ăn. Món ăn này có tác dụng thanh nhiệt, cầm máu.</p>
    <p style="margin-left: 14.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>4.&nbsp;Chè nhân sâm hạt sen: </b></p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Dùng 10 g nhân sâm trắng, 15 g hạt sen, 30 g đường phèn. </p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Cho nhân sâm trắng và hạt sen (đã bỏ tim sen) vào chén, ngâm với lượng
        nước vừa phải cho nở, thêm đường phèn, hấp cách thủy khoảng 1 giờ. Người
        bệnh nên dùng đều đặn trong bữa ăn sáng và tối.</p>
    <p style="margin-left: 14.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>5. Cà tím hấp:&nbsp;</b></p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Cà
        tím 100gam, dầu ăn và các gia vị.</p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Cách làm: Cà tím rửa sạch, cắt làm đôi, thêm dầu và gia vị, dùng lửa lớn
        chưng cách thủy đến chín. Tác dụng làm giảm triệu chứng đau sưng và chảy
        máu ở người bệnh trĩ.</p>
    <p style="margin-left: 14.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>6. Canh thịt heo nấu hoa hòe</b></p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Thành phần: Hoa hòe 30gam, thịt heo 100g.</p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Cách làm: Thịt heo rửa sạch xắt lát, sau đó cùng hoa hòe cho vào nồi
        thêm nước để nấu, nêm nếm gia vị. Thích hợp cho người bệnh trĩ nhẹ.</p>
    <p style="margin-left: 14.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>7. Canh lá mía bò</b></p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Thành phần: Lá mía bò 250g, hoa hòe 15g.</p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Cách làm: Lá mía bò rửa sạch, cùng hoa hòe thêm nước để nấu, nêm nếm gia
        vị. Thích hợp cho người bệnh trĩ có triệu chứng đau và ra máu.</p>
    <p style="margin-left: 14.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>8. Chuối già</b></p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Thành phần: Chuối già một trái, một ít đường phèn.</p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Cách làm: Chuối già lột vỏ, cắt khúc, cho vào đĩa thêm đường phèn đem
        chưng cách thủy. Ngày dùng 2-3 lần, có tác dụng phòng ngừa bệnh trĩ.</p>
    <p style="margin-left: 14.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>9. Quả hồng nấu nấm mèo</b></p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Thành phần: Hắc mộc nhĩ (nấm mèo đen) 3-6g, vài quả hồng khô.</p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Cách làm: Nấm mèo đen rửa sạch loại bỏ tạp chất, cùng quả hồng cho vào
        nước, dùng lửa nhỏ để nấu cho đến khi cạn còn 1 chén thì được. Thích hợp
        cho người bệnh trĩ có triệu chứng ra máu.</p>
    <p style="margin-left: 14.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>10. Nước rau kim châm</b></p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Thành phần: Rau kim châm 100gam, đường thẻ 100gam.</p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Cách làm: Rau kim châm rửa sạch, thêm nước lượng vừa dùng lửa lớn để
        nấu, sau cùng cho đường thẻ vào. Thích hợp cho người bệnh trĩ có triệu
        chứng sưng đau.</p>
    <p style="margin-left: 14.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>11. Củ sen, khương tàm</b></p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Thành phần: Củ sen 500gam, khương tàm 7 con, đường thẻ 100gam.</p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Cách làm: Sen rửa sạch cắt ra miếng, cùng khương tàm thêm nước để nấu,
        sau đó cho đường thẻ vào. Thích hợp cho người bệnh trĩ bị nứt hậu môn.</p>
    <p style="margin-left: 14.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>12. Táo đỏ nấu đường thẻ</b></p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Thành phần: Táo đỏ 250gam, đường thẻ 60gam.</p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Cách làm: Táo đỏ rửa sạch, bỏ hạt, sau đó cho vào nồi, để lửa vừa sao
        vàng, thêm nước và đường thẻ vào nấu thêm 10 phút thì được. Dùng trong
        ngày. Thích hợp cho người bệnh trĩ có triệu chứng sưng đau.</p>
    <p style="text-indent: 14.0pt; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>13. Ngoài ra </b></p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Cơm gạo lức muối mè trong 3-7 ngày; </p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        rau dền, rau diếp cá luộc ăn với chút dầu đậu nành; </p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        ngũ cốc có nhiều dầu béo như mè đen nấu chè không đường; </p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Nấu nước nấm đông cô và nấm mèo theo tỷ lệ 1/1, chia ra uống trong ngày
        để khỏi phải đứng ngồi không yên nhờ hoạt chất giảm đau trong nấm; </p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Ngâm 3 - 4 quả sung trong cốc nước rồi để qua đêm và uống cốc nước này
        khi chưa ăn gì vào sáng hôm sau.</p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Nghiền nhỏ hỗn hợp 1 thìa hạt thìa là đen đã rang với 1 thìa hạt thìa là
        đen chưa rang. Cho 1/2 thìa hỗn hợp này vào 1 cốc nước uống 1 lần mỗi
        ngày, đây là cách trị bệnh trĩ rất hiệu quả.</p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Hạt xoài phơi khô (không phơi trực tiếp dưới ánh nắng) rồi nghiền nhỏ,
        trộn 1,5 - 2gr bột hạt xoài với mật ong hoặc ăn bột xoài không 2
        lần/ngày.</p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Bột củ cải trắng cũng rất tốt cho những người bị trĩ. Trộn 100mg bột củ
        cải trắng với 1 thìa mật ong chia thành 2 lần mỗi ngày. Dùng từ 60 -
        90mg nước ép củ cải trắng cho thêm chút muối để uống vào buổi sáng và
        tối cũng trị bệnh trĩ rất tốt.</p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Uống 1 cốc sữa nóng pha thêm bột chuối nhão; 3 lần/ngày.</p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Dùng hỗn hợp 1 thìa nước chanh, 1 thìa nước ép lá bạc hà và 1 thìa mật
        ong; uống 3 lần/ngày</p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Uống 1 thìa nước ép lá cây rau mùi cho thêm ít đường, 3 lần/ngày.</p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Trộn bột hạt thìa là với nước thành hỗn hợp bột nhão và bôi lên vùng hậu
        môn giúp giảm đau trĩ hiệu quả.</p>
    <p style="text-indent: -18.0pt; margin-left: 32.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        -<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
        Đậu đỏ: sắc với cây bạch chỉ có thể chữa trị đựơc chứng&nbsp;đại tiện ra máu,
        sưng đau. Nếu nấu cùng gạo cũng có tác dụng tốt, làm mát, phòng
        được&nbsp;bệnh trĩ.</p>




</font></div>