﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">

    <p align="center"><font color="#0000FF"><b><font size="5" color="#000080">Chế độ ăn uống, kiêng kị cho người
        bị</font></b></font><b><font size="5" color="#000080"> Hen phế quản</font></b></p>

    <p class="MsoBodyTextIndent" align="justify">
		<span style="font-weight: 400">
		<font color="#0033CC" size="3" face="Times New Roman">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;</font></span><span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">
		<span style="font-weight: normal; font-size:12.0pt; font-family:Times New Roman; color:windowtext">
		<a href="Chế%20độ%20ăn%20cho%20bệnh%20hen%20phế%20quản">
            <img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-hen-phe-quan.jpg" width="250" height="250" lowsrc="Chế%20độ%20ăn%20cho%20bệnh%20hen%20phế%20quản" longdesc="Chế độ ăn cho bệnh hen phế quản" alt="Chế độ ăn cho bệnh hen phế quản" align="left"></a>Hen phế quản thuộc
		phạm vi chứng háo xuyễn đàm ẩm, là bệnh xẩy ra ở người có tính trạng dị
		ứng, người bệnh thở gấp, nặng thì há mồm trợn mắt mà không thở được, nằm
		ngồi không được. Nguyên nhân gây ra bệnh, do cảm phải ngoại tà, ăn uống
		tình trí bất thường, làm việc quá sức. Về tạng phủ do sự thay đổi của
		tạng phế và thận vì phế tuyên giáng, và thận nạp khí; </span></span></p>
		<span style="font-weight: normal; font-size:12.0pt; font-family:Times New Roman; color:windowtext">
			Nếu phế khí nghịch,
		thận không nạp khí gây chứng ho khó thở, tức ngực, bệnh có liên quan mật
		thiết, với đàm, đàm là sản vật tỳ hư không vận hoá thuỷ thấp, thận dương
		hư không ôn tỳ dương, vận hoá thuỷ cốc, và không khí hoá nước, phế khí
		không túc giáng được thông điều thuỷ đạo, nhiều đàm, khó thở, ngực đầy
		tức.</span><p class="MsoBodyTextIndent" id="Hen phế quản, hen phe quan, henphequan" align="left">
		<span style="font-weight: normal; font-size:12.0pt; font-family:Times New Roman; color:windowtext">Hen phế quản có liên quan đến các yếu tố gây dị ứng ở môi trường như
		khói, bụi, sơn, phấn hoa, thức ăn... Do đó, ngoài việc phòng tránh những
		yếu tố có thể gây dị ứng, luyện tập để nâng cao ngưỡng chịu đựng của cơ
		thể thì chế độ ăn uống cũng có ý nghĩa rất lớn đối với việc kiểm soát
		bệnh.&nbsp;
		Cơ chế gây ra bệnh hen suyễn cho đến nay vẫn còn nhiều điều chưa
		sáng tỏ và rất phức tạp, không phải bất cứ trường hợp hen suyễn nào cũng
		do nguyên nhân từ bên ngoài gây ra, tức nguyên nhân ngoại sinh như thời
		tiết, phấn hoa, bụi, khói thuốc lá, ô nhiễm môi trường…mà còn có những
		cơn hen do chính yếu tố bên trong cơ thể gây ra như stress, bệnh dạ dày,
		ruột,…</span></p>
    <p align="left">
		<span style="font-weight:normal; font-size:12.0pt; font-family:Times New Roman; color:windowtext">
		Tuy nhiên,
		phần lớn hen suyễn thường khởi phát do các yếu tố dị ứng với chất lạ như
		dị ứng theo mùa, bụi bặm, nấm mốc và phấn hoa... Nếu bạn chắc chắn biết
		được yếu tố nào gây bất lợi làm bùng phát những cơn suyễn của mình thì
		càng hạn chế tiếp xúc với yếu tố đó càng tốt. Ví dụ như khói thuốc lá,
		mùi nồng từ thuốc trừ sâu, mùi keo xịt tóc, mùi sơn, các loại dầu thơm...</span></p>
    <p class="MsoNormal" style="margin-top:2.55pt" align="left">
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">
		<span style="font-weight:700; font-size:12.0pt; font-family:Times New Roman; color:windowtext">Các</span></span><span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: 700"> loại
		thực phẩm không nên dùng </span>
		<span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">: thường xuyên là những thức ăn có nhiều
		<a target="_blank" style="font-weight:normal; font-size:12.0pt; font-family:Times New Roman; color:windowtext" href="http://vatgia.com/983/gia-vi.html">
            gia vị</a> thường thấy ở các món salad, các loại uống giải khát và thực
		phẩm đóng hộp, thức uống lên men, rau cải ngâm dấm hoặc làm dưa chua,
		các loại
		<a target="_blank" style="font-weight:normal; font-size:12.0pt; font-family:Times New Roman; color:windowtext" href="http://vatgia.com/969/hoa-qua-trai-cay.html">
            trái cây</a> khô đóng gói, chế biến sẵn hay một số đồ ăn biển (tôm, cua,
		ghẹ, mắm nêm). Tất nhiên không phải mọi thực phẩm trên đều cần phải
		kiêng mà bạn nên theo dõi xem mình thường dị ứng với loại thực phẩm nào,
		khi ăn thức ăn nào thì hay bị lên cơn suyễn để phòng ngừa và cách ly.
		Ngoài ra cần cảnh giác ngay với chính một số thuốc chữa bệnh như kháng
		sinh, thuốc Aspirin… </span></p>
    <p class="MsoNormal" style="margin-top:2.55pt" align="left">
        <span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: normal">&nbsp;</span><span style="font-size: 12.0pt; font-family: Times New Roman; color: windowtext; font-weight: 700">Nên kiêng
		cữ:</span><span style="font-weight:normal; font-size:12.0pt; font-family:Times New Roman; color:windowtext"> những thức ăn có thể gây dị ứng đối với cơ địa riêng của mỗi người.&nbsp;
		Cần ăn nhiều thức ăn có chứa vitamin C, magnesium và những acid béo
		Omega 3.&nbsp; Người ta nhận thấy việc thiếu vitamin C phối hợp với điều kiện
		không khí ô nhiểm làm gia tăng những trường hợp bệnh suyển, đặc biệt là
		đối với trẻ em. </span></p>
    <p class="MsoNormal" style="margin-top:2.55pt" align="left">
		<span style="font-weight:normal; font-size:12.0pt; font-family:Times New Roman; color:windowtext">
		&nbsp;Một số
		nghiên cứu thấy ở những người bệnh suyển, lượng vitamin C trong cơ thể
		thường ít hơn 50% so với những người bình thường.&nbsp; Vitamin C tự nhiên có
		nhiều trong các loại rau quả như cà chua, cà rốt và rau xanh như rau dền,
		rau diếp …&nbsp; Rau quả xanh cũng có nhiều magnesium.&nbsp; Magnesium có tính
		năng cải thiện hoạt động của phổi qua tác dụng làm giãn các lớp cơ bao
		quanh khí quản.&nbsp; Ngoài ra các nhà khoa học cũng khuyên người bệnh nên ăn
		nhiều thực phẩm có chứa những acid béo Omega 3 như các loại cá, các loại
		quả hạch, mè, hạt hướng dương, dầu cá thu, dầu lanh... Ngoài việc tăng
		cường sức miển dịch và một số lợi ích khác, những loại acid béo Omega 3
		là một yếu tố chống viêm tự nhiên rất hữu ích cho những người có cơ địa
		dị ứng để ngăn chặn cơn hen và cải thiện chức năng hô hấp</span></p>

</font></h3>