﻿<div id="noidung">

    <h1><font face="Times New Roman" size="5">Chế độ ăn uống cho bệnh viêm phế quản</font></h1>

    <p class="MsoNormal" style="text-align:justify">
        <img border="0" src="http://www.thaythuoccuaban.com/images/dau-tay.jpg" width="320" height="183" align="left" lowsrc="Viêm%20phế%20quản%20nên%20ăn%20nhiều%20dâu%20tây" longdesc="Viêm phế quản nên ăn nhiều dâu tây" alt="Viêm phế quản nên ăn nhiều dâu tây">Cũng
        giống như những chứng bệnh viêm khác,<a target="_blank" title="Bổ phế âm đặc trị viêm phế quản" style="color: blue; text-decoration: underline; text-underline: single" href="http://viemphequan.com/chua-viem-phe-quan/bo-phe-am-dac-tri-viem-phe-quan.html"><span class="apple-converted-space"><span style="font-size: 13.0pt; color: #3F99D3; border: 1.0pt none windowtext; padding: 0in">&nbsp;</span></span><span style="font-size: 13.0pt; color: #3F99D3; border: 1.0pt none windowtext; padding: 0in">viêm
		phế quản</span></a><span class="apple-converted-space"><span style="font-size:13.0pt;color:#555555">&nbsp;</span></span>chịu
        tác động rất nhiều của chế độ ăn uống. Rất nhiều nghiên cứu được thực
        hiện bởi các chuyên gia y tế hàng đầu trên thế giới đã chỉ ra rằng: có
        mối quan hệ mật thiết giữa chế độ ăn uống và sự tăng lên hay giảm nhẹ
        của tình trạng viêm phế quản.</p>
    <p class="MsoNormal" style="text-align:justify">Các chuyên gia dinh
        dưỡng khuyên những bệnh nhân viêm phế quản nên tuân theo chế độ ăn như
        sau:</p>
    <p class="MsoNormal" style="text-align:justify"><strong>
		<span style="font-size: 13.0pt; color: #555555; border: 1.0pt none windowtext; padding: 0in">
		Các loại thực phẩm, đồ uống nên tránh</span></strong></p>
    <p class="MsoNormal" style="text-align:justify">Tránh hoặc hạn chế tối
        đa các món rán, xào như: khoai tây chiên, bánh rán, thịt rán,… Những món
        ăn giàu chất béo kể cả sữa chứa hàm lượng chất béo cao, calo cao cũng
        không được khuyến khích đối với bệnh nhân viêm phế quản, bởi nó là thủ
        phạm làm tăng triệu chứng khó thở ở bệnh nhân viêm phế quản.</p>
    <p class="MsoNormal" style="text-align:justify">Hạn chế lượng muối trong
        chế độ ăn hàng ngày. Thừa muối sẽ dẫn tới tình trạng cơ thể tích lũy
        chất lỏng. Khi đó các mô phế quản cũng hấp thụ chất lỏng, làm tình trạng
        viêm phế quản gia tăng, đồng thời quá trình sản xuất chất nhầy cũng tăng
        theo. Muối có nhiều trong các loại đồ ăn nhanh, đồ ăn đông lạnh, đồ ăn
        đóng hộp. Vì thế bệnh nhân viêm phế quản không nên tiêu thụ nhiều thức
        ăn nhanh, đông lạnh, chế biến sẵn.</p>
    <p class="MsoNormal" style="text-align:justify">Nên giảm lượng đường
        tinh luyện trong chế độ ăn đối với bệnh nhân viêm phế quản, bởi nếu bệnh
        nhân viêm phế quản thường xuyên tiêu thụ các loại đồ ăn như bánh kẹo,
        nước ngọt,… gây tình trạng đường tinh luyện trong cơ thể bị thừa, làm
        gia tăng hiện tượng khó thở.</p>
    <p class="MsoNormal" style="text-align:justify">Kiêng ăn các đồ cay nóng
        như ớt, hạt tiêu,… dễ gây kích thích niêm mạc phế quản gây hiện tượng
        ho.</p>
    <p class="MsoNormal" style="text-align:justify">Nên tránh các loại hoa
        quả chua, chát như: mận, táo chua vì những thực phẩm này sẽ khó long đờm.</p>
    <p class="MsoNormal" style="text-align:justify">Không nên uống rượu vì
        rượu làm gia tăng tình trạng<span class="apple-converted-space"><span style="font-size:
13.0pt;color:#555555">&nbsp;</span></span><a target="_blank" title="Chữa khỏi bệnh viêm phế quản" style="color: blue; text-decoration: underline; text-underline: single" ><span style="font-size: 13.0pt; color: #3F99D3; border: 1.0pt none windowtext; padding: 0in">viêm
		phế quản</span></a>. Đặc biệt không nên uống rượu trước khi đi ngủ vì
        khả năng thông khí của phổi người bệnh vốn đã kém. Nếu uống rượu trước
        khi đi ngủ se làm liệt trung khu hô hấp, dễ gây loạn nhịp thở hoặc ngừng
        thở dẫn đến nguy hiểm tới tính mạng.</p>
    <p class="MsoNormal" style="text-align:justify;orphans: 2;widows: 2;-webkit-text-size-adjust: auto;
-webkit-text-stroke-width: 0px;word-spacing:0px"><strong>
		<span style="font-size: 13.0pt; color: #555555; border: 1.0pt none windowtext; padding: 0in">
		Các loại thực phẩm tốt cho bệnh nhân viêm phế quản</span></strong></p>
    <p class="MsoNormal" style="text-align:justify">Chế độ ăn nhiều trái cây
        và rau xanh sẽ cung cấp lượng vitamin cần thiết cho cơ thể. Ngoài ra các
        loại vitamin như vitamin C, E, A, có tác dụng làm giảm tình trạng viêm ở
        phế quản, tình trạng khó thở của bệnh nhân. Các loại hoa quả, rau xanh
        giàu chất chống oxy hóa, đặc biệt tốt cho bệnh nhân viêm phế quản được
        bác sĩ khuyên dùng: dâu tây, các loại quả mọng, bông cải xanh, rau bina
        và cà rốt.</p>
    <p class="MsoNormal" style="text-align:justify">Nên ăn các thực phẩm
        giàu dinh dưỡng, dễ tiêu như gạo, bột mì, ngũ cốc, các thực phẩm khác
        như đậu Hà Lan, sữa bò, sữa đậu nành, đậu phụ, trứng gà.</p>
    <p class="MsoNormal" style="text-align:justify">Các sản phẩm từ sữa rất
        giàu vitamin D, canxi, và protein là nguồn dinh dưỡng quan trọng và cần
        thiết cho cơ thể. Bệnh nhân viêm phế quản nên tiêu thụ nhiều các sản
        phẩm từ sữa (tuy nhiên cần chú ý các sản phẩm sữa đó phải có hàm lượng
        chất béo thấp). Tốt nhất nên ăn nhiều sữa chua vì sữa chua chứa nhiều vi
        khuẩn thân thiện có lợi cho hệ thống tiêu hóa và cũng có tác dụng tốt
        đối với bệnh nhân viêm phế quản.</p>
    <p class="MsoNormal" style="text-align:justify">Uống nhiều nước sẽ giúp
        cơ thể đào thải các độc tố khỏi cơ thể một cách dễ dàng hơn. Những người
        bị viêm phế quản thường dễ bị mất nước hơn so với những người bình
        thường, uống nhiều nước sẽ giúp giảm tình trạng viêm, tình trạng khô
        họng của bệnh nhân.</p>
    <p class="MsoNormal" style="text-align:justify">Như vậy đối với bệnh
        nhân viêm phế quản thì một chế độ ăn uống hợp lý và cân bằng cũng là một
        trong những phương pháp góp phần tích cực để<span class="apple-converted-space"><span style="font-size:13.0pt;color:#555555">&nbsp;</span></span><a target="_blank" title="Phòng bệnh viêm phế quản ở trẻ em" style="color: blue; text-decoration: underline; text-underline: single" ><span style="font-size: 13.0pt; color: #3F99D3; border: 1.0pt none windowtext; padding: 0in">điều
		trị bệnh viêm phế quản.</span></a></p>

</div>