﻿<div id="noidung">


    <h1 style="text-align: center"><font size="5">Chế độ ăn cho bệnh viêm
        xoang</font></h1>

    <font color="#000000" size="3">
        <p align="left" style="color: rgb(68, 68, 68); font-family: Arial, Helvetica, Tahoma, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
		<span style="color: rgb(0, 0, 0)">
		<img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-viem-xoang.jpg" width="258" height="205" align="left"><font size="4" face="Times New Roman">Viêm
            xoang là bệnh phổ biến ở Việt Nam. Phân loại viêm xoang cấp và viêm
            xoang mãn.</font></span></p>
    </font>
    <font color="#000000" size="4">
        <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
            Viêm xoang cấp thường gặp là viêm xoang hàm, xoang sàng, xoang trán,
            xoang bướm. Đôi khi xảy ra viêm nhiều xoang cùng một lúc.</p>
    </font>
    <font color="#000000" size="3">
        <font color="#000000" size="4">
            <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
                Nguyên nhân phổ biến của viêm xoang do môi trường ô nhiễm, ăn ở kém vệ
                sinh… là điều kiện thuận lợi cho vi sinh vật gây viêm xoang phát triển.
                Ngoài ra nguyên nhân còn do do viêm mũi, cảm, viêm họng biến chứng thành
                viêm xoang.</p>
            <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: 700; letter-spacing: normal; line-height: 20px; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
                Để phòng bệnh viêm xoang, cần chú ý đến môi trường sống lành mạnh và chế
                độ ăn uống khoa học:</p>
            <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
                - Uống nước đun sôi để nguội, nên uống nhiều nước vì nước làm loãng chất
                nhầy, bong lớp mũi đặc và tạo rãnh thông thoáng, dễ khạc đờm, tống bụi
                bẩn ra ngoài.<span id="more-1207"></span></p>
            <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
                - Tăng cường ăn các thực phẩm chất béo omega-3&nbsp; có &nbsp;tác dụng ngăn chặn
                các phản ứng viêm tấy trên đường hô hấp như: cá hồi, cá nục, cá mòi…</p>
            <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
                - Bổ sung nhiều vitamin C để tăng cường sức đề kháng cho cơ thể như ớt
                chuông, cà rốt, bưởi, cóc, sơ ri, khế…</p>
            <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
                - Nên ăn một số thức ăn có tính ấm như gừng, tỏi, hành… chứa nhiều chất
                kháng sinh có tác dụng phòng chống viêm xoang.</p>
            <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
                -Tăng cường ăn các thực phẩm từ đậu nành giúp &nbsp;cung cấp canxi, khoáng tố
                cần thiết cho chức năng chống dị ứng.</p>
            <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
                - Dùng thức ăn ấm bổ phế âm như: gạo nếp, củ từ, táo tàu, nhãn, đường đỏ,
                sữa chua&nbsp; …</p>
            <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: 700; letter-spacing: normal; line-height: 20px; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
                * Các thực phẩm nên tránh:</p>
            <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
                - Không uống nước để trong tủ lạnh hay nước đá, vì sự khác biệt nhiệt độ
                sẽ là nguyên nhân tạo ra kích thích đối với niêm mạc vùng hầu họng và
                đường hô hấp.</p>
            <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
                - Hạn chế sử dụng sinh tố trái cây, nước ép trái cây vì đường và một số
                chất khác có thể làm mũi nhầy đặc lại.</p>
            <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
                - Không ăn những thức ăn mà cơ thể bị dị ứng như thịt bò, cua, tôm,
                nghêu, sò…</p>
            <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
                - Hạn chế dùng sữa và sản phẩm từ bơ, sữa.</p>
            <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
                - Không uống cà phê, bia, rượu vì chúng có thể làm cho dịch nhầy đặc lại,
                hơn nữa rượu được xem là một chất lợi tiểu, kích thích việc đào thải
                nước nên cơ thể thiếu nước, ảnh hưởng xấu đến việc đẩy dịch nhớt ứ đọng
                trong xoang.</p>
            <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
                - Không sử dụng nước soda vì loại nước này thường gây ra ợ nóng, dẫn đến
                trào ngược khí ra khỏi dạ dày, không tốt cho người bị viêm xoang.</p>
            <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: 700; letter-spacing: normal; line-height: 20px; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
                * Một số món ăn tốt cho bệnh viêm xoang</p>
            <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
                - Canh gừng: Gừng sấy khô 10g, cam thảo nước 20g. Lấy hai vị thuốc trên
                sắc nước uống, mỗi ngày một thang, buổi sáng, buổi tối mỗi buổi một nửa.
                Tác dụng: tính ấm trợ dương, có tác dụng tăng cường khả năng miễn dịch.</p>
            <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
                - Canh táo đỏ: Táo đỏ 10 quả đem nấu nước uống, mỗi ngày 3 lần, có tác
                dụng bổ dưỡng phế âm, thông mũi.</p>
            <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
                - Đậu đao xào: Lấy đậu đao già, dùng lửa nhỏ sấy khô, sau đó tiếp tục
                thái nhỏ, cuối cùng cho vào trong nồi, cho một chút rượu (không cho muối)
                xào một lúc là được. Có hiệu quả rất tốt đối với phòng trị viêm xoang
                mũi, viêm mũi dị ứng.</p>
            <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
                - Nước bạc hà và hoa kim ngân, hoa cúc: Lá bạc hà tươi 10g, hoa kim ngân,
                hoa cúc (mỗi loại 10g). Cho cả 3 nguyên liệu vào nồi, cho nước vừa đủ
                nấu lấy nước dùng.</p>
            <p style="color: rgb(68, 68, 68); font-family: Times New Roman; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 20px; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 14px; background-color: rgb(255, 255, 255)">
                - Canh mướp nấu thịt: Một lượng mướp và thịt nạc vừa đủ. Mướp rửa sạch,
                cắt đoạn; thịt thái miếng mỏng đem nấu canh để dùng lúc nóng khi mắc
                bệnh.</p>
            </font></font>
</div>