﻿<div id="noidung">


    <h1 style="text-align: center"><font size="5">Chế độ ăn bệnh viêm họng</font></h1>

    <font color="#000000" size="3">
</font><p class="MsoNormal" style="text-align: justify; vertical-align: baseline"><font color="#000000" size="3">
    <b><i>
		<span style="font-size: 13.0pt; border: 1.0pt none windowtext; padding: 0cm">
		<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/benhviemhong.jpg" width="300" height="200" title="Thực phẩm nên dùng khi bị viêm họng" lowsrc="Thực%20phẩm%20nên%20dùng%20khi%20bị%20viêm%20họng" longdesc="Thực phẩm nên dùng khi bị viêm họng" alt="Thực phẩm nên dùng khi bị viêm họng" align="left"></span></i></b></font><b><i><font color="#000000" size="4"><span style="border: 1.0pt none windowtext; padding: 0cm">Viêm họng là bệnh có thể gặp ở bất cứ ai. Đa số khi bị viêm họng mọi
		người thường nghĩ ngay tới việc dùng thuốc mà không quan tâm tới chế độ
		ăn uống cũng có ảnh hưởng rất lớn tới bệnh viêm họng. Chuyên gia về tai
		mũi họng đã chỉ ra rằng: có một số loại thực phẩm có tác dụng làm dịu
		triệu chứng viêm họng, đau họng. Dưới đây là một số thực phẩm nên và
		không nên ăn khi bị viêm họng.</span></font></i></b><font color="#000000" size="4"></font></p><font color="#000000" size="4">
</font><font color="#000000" size="3">
    <font color="#000000" size="4">
        <p class="MsoNormal" style="text-align: justify; vertical-align: baseline">
            <b>
		<span style="border: 1.0pt none windowtext; padding: 0cm">
		Thực phẩm nên ăn khi bị viêm họng</span></b></p>
    </font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; vertical-align: baseline; margin-left: 36.0pt"><font color="#000000" size="4">
		<span style="font-family: Symbol; border: 1.0pt none windowtext; padding: 0cm">
		-</span></font><font color="#000000" size="3"><span style="font-family: Symbol; border: 1.0pt none windowtext; padding: 0cm"><font color="#000000" size="4"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span></font></span>
    <font color="#000000" size="4">
		<span style="border: 1.0pt none windowtext; padding: 0cm">
		Uống nhiều nước có tác dụng làm dịu cổ họng bị đau. Bởi nước và các chất
		lỏng có tác dụng giúp và giữ cổ họng của bạn được bôi trơn và ẩm ướt nên
		có thể nuốt dễ dàng hơn.</span></font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
</font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; vertical-align: baseline; margin-left: 36.0pt"><font color="#000000" size="4">
		<span style="font-family: Symbol; border: 1.0pt none windowtext; padding: 0cm">
		-</span></font><font color="#000000" size="3"><span style="font-family: Symbol; border: 1.0pt none windowtext; padding: 0cm"><font color="#000000" size="4"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span></font></span>
    <font color="#000000" size="4">
		<span style="border: 1.0pt none windowtext; padding: 0cm">
		Khi bị viêm họng nên ăn các loại thức ăn mềm, các đồ ăn ở dạng lỏng có
		tác dụng làm giảm kích thích niêm mạc hỏng giúp giảm ho và đau họng. Các
		loại cháo và soup là lựa chọn thích hợp cho bệnh nhân viêm họng, đau
		họng. Các chuyên gia dinh dưỡng nói rằng ăn soup gà (loại bỏ da) có tác
		dụng làm giảm các tế bào gây viêm.</span></font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
</font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; vertical-align: baseline; margin-left: 36.0pt"><font color="#000000" size="4">
		<span style="font-family: Symbol; border: 1.0pt none windowtext; padding: 0cm">
		-</span></font><font color="#000000" size="3"><span style="font-family: Symbol; border: 1.0pt none windowtext; padding: 0cm"><font color="#000000" size="4"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span></font></span>
    <font color="#000000" size="4">
		<span style="border: 1.0pt none windowtext; padding: 0cm">
		Mật ong được cho là một lựa chọn tốt cho người bị viêm họng, bởi nó có
		tác dụng làm dịu các mô bị kích thích, giảm những cơn ho. Người bị viêm
		họng có thể cho một thìa cà phê nhỏ mật ong vào họng ngậm khoảng 3-5
		phút, hòa một chút mật ong với nước ấm để uống, hoặc hấp cách thủy mật
		ong với quất và lá húng chanh để ngậm hàng ngày.</span></font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
</font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; vertical-align: baseline; margin-left: 36.0pt"><font color="#000000" size="4">
		<span style="font-family: Symbol; border: 1.0pt none windowtext; padding: 0cm">
		-</span></font><font color="#000000" size="3"><span style="font-family: Symbol; border: 1.0pt none windowtext; padding: 0cm"><font color="#000000" size="4"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span></font></span>
    <font color="#000000" size="4">
		<span style="border: 1.0pt none windowtext; padding: 0cm">
		Gừng là một trong những thực phẩm tốt cho bệnh viêm họng, cho 2 thìa
		gừng thái chỉ vào một chén nước sôi, để khoảng 10 phút và dùng khi bị
		viêm họng. Viêm họng do cảm lạnh, thì nên sử dụng phương pháp này.</span></font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
</font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; vertical-align: baseline; margin-left: 36.0pt"><font color="#000000" size="4">
		<span style="font-family: Symbol; border: 1.0pt none windowtext; padding: 0cm">
		-</span></font><font color="#000000" size="3"><span style="font-family: Symbol; border: 1.0pt none windowtext; padding: 0cm"><font color="#000000" size="4"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span></font></span>
    <font color="#000000" size="4">
		<span style="border: 1.0pt none windowtext; padding: 0cm">
		Khi tình trạng viêm họng có kèm theo đau có thể ăn một số thực phẩm lạnh
		như: kem, sữa chua để làm dịu cơn đau.</span></font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
    <p class="MsoNormal" style="text-align: justify; vertical-align: baseline">
        <b>
		<span style="border: 1.0pt none windowtext; padding: 0cm">
		Thực phẩm nên tránh khi bị viêm họng</span></b></p>
</font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; vertical-align: baseline; margin-left: 36.0pt"><font color="#000000" size="4">
		<span style="border: 1.0pt none windowtext; padding: 0cm">
		<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/benh-viem-hong-nen-tranh.jpg" title="" "thực="" phẩm="" bệnh="" viêm="" họng="" nên="" tránh"="" width="300" height="200" lowsrc="Bệnh%20viêm%20họng%20nên%20tránh" longdesc="Bệnh viêm họng nên tránh" alt="Bệnh viêm họng nên tránh" align="left">-</span></font><font color="#000000" size="3"><span style="border: 1.0pt none windowtext; padding: 0cm"><font color="#000000" size="4"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span></font></span><font color="#000000" size="4">
		<span style="font-size: 13.0pt; border: 1.0pt none windowtext; padding: 0cm">
		Trước hết cần tránh những thức ăn cứng, giòn: như các loại bánh
		quy, ngũ cốc khô, các loại hạt, rau sống, thức ăn chiên xào hoặc nướng
		như gà rán hay gà cốm và các loại thực phẩm nhiều gia vị, chẳng hạn như
		cà ri vì những thực phẩm này có thể gây kích ứng cổ họng, làm tăng tình
		trạng viêm đau.</span></font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
</font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; vertical-align: baseline; margin-left: 36.0pt"><font color="#000000" size="4">
		<span style="border: 1.0pt none windowtext; padding: 0cm">
		-</span></font><font color="#000000" size="3"><span style="border: 1.0pt none windowtext; padding: 0cm"><font color="#000000" size="4"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span></font></span><font color="#000000" size="4">
		<span style="font-size: 13.0pt; border: 1.0pt none windowtext; padding: 0cm">
		Các loại trái cây như: cam, bưởi, chanh có thể làm gia tăng tình
		trạng đau họng do những loại trái cây này có hàm lượng axit cao.</span></font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
</font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; vertical-align: baseline; margin-left: 36.0pt"><font color="#000000" size="4">
		<span style="border: 1.0pt none windowtext; padding: 0cm">
		-</span></font><font color="#000000" size="3"><span style="border: 1.0pt none windowtext; padding: 0cm"><font color="#000000" size="4"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span></font></span><font color="#000000" size="4">
		<span style="font-size: 13.0pt; border: 1.0pt none windowtext; padding: 0cm">
		Tránh ăn vặt và sử dụng các loại nước ngọt có đường vì nó có thể
		làm giảm khả năng miễn dịch.</span></font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
</font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; vertical-align: baseline; margin-left: 36.0pt"><font color="#000000" size="4">
		<span style="border: 1.0pt none windowtext; padding: 0cm">
		-</span></font><font color="#000000" size="3"><span style="border: 1.0pt none windowtext; padding: 0cm"><font color="#000000" size="4"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span></font></span><font color="#000000" size="4">
		<span style="font-size: 13.0pt; border: 1.0pt none windowtext; padding: 0cm">
		Tránh xa các loại thực phẩm có thể gây dị ứng cổ họng như: lạc (đậu
		phộng, các đồ cay, hoặc thức ăn quá nóng sẽ khiến tình trạng viêm trở
		nên nghiêm trọng hơn.</span></font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
</font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; vertical-align: baseline; margin-left: 36.0pt"><font color="#000000" size="4">
		<span style="border: 1.0pt none windowtext; padding: 0cm">
		-</span></font><font color="#000000" size="3"><span style="border: 1.0pt none windowtext; padding: 0cm"><font color="#000000" size="4"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span></font></span><font color="#000000" size="4">
		<span style="font-size: 13.0pt; border: 1.0pt none windowtext; padding: 0cm">
		Không nên sử dụng rượu và cafein vì cả hai chất này đều gây kích
		ứng khiến cổ họng đau hơn.</span></font></font></p><font color="#000000" size="3"><font color="#000000" size="4">
    <p class="MsoNormal" style="text-align: justify">
		<span style="border: 1.0pt none windowtext; padding: 0cm">
		Trong trường hợp bị viêm họng để giải quyết tình trạng viêm nhanh chóng
		thì ngoài việc dùng thuốc, kết hợp với chế độ ăn uống hợp lý cũng cần
		phải vệ sinh răng miệng sạch sẽ.</span></p>
</font></font></font></font></font></font>
</font></font></font></font></font>
</font></div>