﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
   <font color="#000000" size="6">
    <p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b><span style="line-height: 150%; color: #333333">Chế độ ăn uống
			cho bệnh <span style="background-position: 0 0">viêm amidan</span></span></b></p>
</font>
    <p align="center" style="text-align: center; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 0; background-image:none; background-repeat:repeat; background-attachment:scroll">
        &nbsp;</p><font color="#000000" size="3">
    <p class="MsoNormal" style="text-indent:.5in;line-height:150%">
        <font face="Times New Roman"><span style="line-height: 150%">
			<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/viem-amidan.jpg" width="200" height="150" lowsrc="Viêm%20amidan,%20Chế%20độ%20ăn%20uống%20chữa%20viêm%20amidan%20hiệu%20quả,%20che%20do%20an%20uong%20chua%20viem%20amidan%20hieu%20qua" longdesc="Viêm amidan, Chế độ ăn uống chữa viêm amidan hiệu quả, che do an uong chua viem amidan hieu qua" alt="Viêm amidan, Chế độ ăn uống chữa viêm amidan hiệu quả, che do an uong chua viem amidan hieu qua" align="left">Bệnh
			viêm amidan có thể gặp ở cả người lớn và trẻ em. Bệnh thường dễ
			chuyển sang mãn tính. Bệnh dễ tái đi tái lại nhiều lần. Trong thời
			gian bị bệnh nếu có chế độ dinh dưỡng hợp lý sẽ giúp <strong>
			<span style="font-weight: normal; border: 1.0pt none windowtext; padding: 0in">
			tăng cường sức đề kháng của cơ thể, giúp mau đẩy lùi bệnh amiđan
			cũng như ngăn ngừa bệnh tái phát. Qua thực tế điều trị cho bệnh nhân,
			phòng khám Đông y Nguyễn Hữu Toàn hướng dẫn chế độ ăn uống tốt cho
			bệnh viêm amidan.</span></strong></span></font></p>
    <p class="MsoNormal" style="line-height:150%">
        <font face="Times New Roman"><strong>
			<span style="line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			Những việc nên làm:</span></strong></font></p>
    <p class="MsoNormal" style="text-indent: -.25in; line-height: 150%; margin-left: .5in">
        <strong><font face="Times New Roman">
			<span style="line-height: 150%; font-weight: normal; border: 1.0pt none windowtext; padding: 0in">
			-</span></font><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman; line-height: 150%; border: 1.0pt none windowtext; padding: 0in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span><font face="Times New Roman">
			<span style="line-height: 150%; font-weight: normal; border: 1.0pt none windowtext; padding: 0in">
			Vệ sinh răng miệng, sạch sẽ, nên súc miệng với nước muối nhạt thường
			xuyên</span></font></strong></p>
    <p class="MsoNormal" style="text-indent: -.25in; line-height: 150%; margin-left: .5in">
        <font face="Times New Roman"><span style="line-height: 150%">-</span></font><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman; line-height: 150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span><font face="Times New Roman"><span style="line-height: 150%">
			Giữ ấm vùng cổ ngực, tránh bị nhiễm lạnh, giữ cho mũi được thông
			thoáng, nên nhỏ mắt, nhỏ mũi bằng nước muối 0.9%</span></font></p>
    <p class="MsoNormal" style="text-indent: -.25in; line-height: 150%; margin-left: .5in">
        <font face="Times New Roman"><span style="line-height: 150%">-</span></font><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman; line-height: 150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span><font face="Times New Roman"><span style="line-height: 150%">
			Khi ngủ không nên thở bằng miệng</span></font></p>
    <p class="MsoNormal" style="text-indent: -.25in; line-height: 150%; margin-left: .5in">
        <font face="Times New Roman"><span style="line-height: 150%">-</span></font><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman; line-height: 150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span><font face="Times New Roman"><span style="line-height: 150%">
			Giữ môi trường sống sạch sẽ, khạc nhổ vệ sinh tránh lây lan.</span></font></p>
    <p class="MsoNormal" style="text-indent: -.25in; line-height: 150%; margin-left: .5in">
        <strong><font face="Times New Roman">
            <span style="line-height: 150%; font-weight: normal">-</span></font><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman; line-height: 150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></strong><font face="Times New Roman">
			<span style="line-height: 150%">Rèn luyện cơ thể thường xuyên nhằm
			nâng cao thể trạng, tăng sức đề kháng.</span></font></p>
    <p class="MsoNormal" style="text-indent: -.25in; line-height: 150%; margin-left: .5in">
        <font face="Times New Roman"><span style="line-height: 150%">-</span></font><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman; line-height: 150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span><font face="Times New Roman"><span style="line-height: 150%">
			Nên ăn các loại thức ăn mền, lỏng dễ tiêu hóa và đầy đủ chất dinh
			dưỡng như: cháo, súp…</span></font></p>
    <p class="MsoNormal" style="text-indent: -.25in; line-height: 150%; margin-left: .5in">
        <font face="Times New Roman"><span style="line-height: 150%">-</span></font><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman; line-height: 150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span><font face="Times New Roman"><span style="line-height: 150%">
			Nên nhiều hoa quả, rau xanh giàu vitamin C như sinh tố Bơ, xoài, rau
			ngót, cải bắp, súp lơ, dưa cải, cà chua, mã thầy, ngó sen, củ súng,
			táo.…</span></font></p>
    <p class="MsoNormal" style="text-indent: -.25in; line-height: 150%; margin-left: .5in">
        <font face="Times New Roman">
			<span style="line-height: 150%; border: 1.0pt none windowtext; padding: 0in">
			-</span></font><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman; line-height: 150%; border: 1.0pt none windowtext; padding: 0in">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span><font face="Times New Roman"><span style="line-height: 150%">
			Bổ sung thêm vitamin C,A,E để tăng cường sức đề kháng cho cơ thể.</span></font></p>
    <p style="line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <font face="Times New Roman"><b><span style="line-height: 150%">
			Những việc không nên làm:</span></b></font></p>
    <p style="text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <font face="Times New Roman"><span style="line-height: 150%">-</span></font><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman; line-height: 150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span><font face="Times New Roman"><span style="line-height: 150%">
			Tránh ăn những thức ăn cứng, cay, nóng có tính chất kích ứng họng:
			như các loại ngũ cốc khô, thức ăn chiên xào nhiều dầu mỡ hoặc nướng,
			ớt, hạt tiêu…</span></font></p>
    <p style="text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <font face="Times New Roman"><span style="line-height: 150%">-</span></font><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman; line-height: 150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span><font face="Times New Roman"><span style="line-height: 150%">
			Tiêu thụ Sô cô la, nho khô, đậu phộng vì thành phần arginin trong
			các món này có tác dụng hỗ trợ cho... siêu vi phát triển, khiến bệnh
			lâu lành hơn.</span></font></p>
    <p style="text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <font face="Times New Roman"><span style="line-height: 150%">-</span></font><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman; line-height: 150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span><font face="Times New Roman"><span style="line-height: 150%">
			Đồ ăn sống, lạnh như nước&nbsp; đá, rau sống trộn nộm không tốt cho bệnh
			nhân viêm amidan.</span></font></p>
    <p style="text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <font face="Times New Roman"><span style="line-height: 150%">-</span></font><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman; line-height: 150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span><font face="Times New Roman"><span style="line-height: 150%">
			Không uống rươụ, bia, cafe, thuốc lá, đồ uống lạnh, có ga…</span></font></p>
    <p style="text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <font face="Times New Roman"><span style="line-height: 150%">-</span></font><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman; line-height: 150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span><font face="Times New Roman"><span style="line-height: 150%">
			Vệ sinh răng miệng, súc miệng bằng nước muối ấm hàng ngày.</span></font></p>
    <p style="text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <font face="Times New Roman"><span style="line-height: 150%">-</span></font><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman; line-height: 150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span><font face="Times New Roman"><span style="line-height: 150%">
			Nói to, gào thét khi bị bệnh</span></font></p>
    <p style="text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <font face="Times New Roman"><span style="line-height: 150%">-</span></font><span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman; line-height: 150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span><font face="Times New Roman"><span style="line-height: 150%">
			Lấy tay che miệng mỗi khi ho, hắt hơi, bịt khẩu trang khi đi ra
			ngoài.</span></font></p>
    <p style="line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt; background: white">
        <font face="Times New Roman"><b><span style="line-height: 150%">Tham
			khảo một số món ăn bài thuốc giúp bệnh amidan nhanh liền.</span></b></font></p>
    <p class="MsoNormal" style="line-height:150%">
        <font face="Times New Roman"><span style="line-height: 150%">Bài 1:
			Một số hoa quả tươi theo mùa, ép nước uống như dưa hấu, dưa chuột,
			lê tươi, cam ngọt, mía, ngó sen, đào, mận, dưa bở. Dùng chữa viêm
			amidan mạn tính kèm miệng khô, họng ráo.</span></font></p>
    <p class="MsoNormal" style="line-height:150%">
        <font face="Times New Roman"><span style="line-height: 150%">Bài 2:
			Lấy 3 lát chanh tươi, thêm 15g đường phèn, hãm nước sôi làm một cốc
			nước chanh. Mỗi ngày uống hai cốc. Dùng chữa viêm amidan mạn tính
			kèm chảy máu chân răng.</span></font></p>
    <p class="MsoNormal" style="line-height:150%">
        <font face="Times New Roman"><span style="line-height: 150%">Bài 3:
			Lô căn tươi một nhánh, lá bạc hà 6 lá, sắc lấy nước, súc miệng luôn.
			Dùng làm thuốc chữa viêm amidan mạn tính kèm ngứa họng.</span></font></p>
    <p class="MsoNormal" style="line-height:150%">
        <font face="Times New Roman"><span style="line-height: 150%">Bài 4:
			Bách hợp 20g, bỏ vỏ lụa, thêm lá dâu 9g sắc lấy nước, nấu canh bách
			hợp, mỗi ngày ăn một bát con. Dùng chữa họng ngứa, khô nóng đau, ho
			đờm ít.</span></font></p>
    <p class="MsoNormal" style="line-height:150%">
        <font face="Times New Roman"><span style="line-height: 150%">Bài 5:
			Hồng khô một quả, nhai nhỏ, từ từ nuốt. Mỗi ngày ăn một quả. Dùng
			chữa viêm amidan mạn tính kèm cảm giác vướng họng.</span></font></p>
    <p class="MsoNormal" style="line-height:150%">
        <font face="Times New Roman"><span style="line-height: 150%">Bài 6:
			Trám muối một quả, ngậm trong miệng, nuốt nước. Mỗi ngày ngậm ăn 2
			quả. Dùng chữa viêm amidan mạn tính có đau.</span></font></p>
    <p class="MsoNormal" style="line-height:150%">
        <font face="Times New Roman"><span style="line-height: 150%">Bài 7:
			Thịt lợn nạc 50g, thái miếng nhỏ, thêm 100g bồ công anh tươi (giã
			nát, bọc vải màn), cùng nấu trong 2 giờ. Mỗi ngày ăn hai bát con.
			Dùng chữa viêm amidan mạn tính có hoa mắt đầu váng, yếu hầu nóng rát.</span></font></p>
    <p class="MsoNormal" style="line-height:150%">
        <font face="Times New Roman"><span style="line-height: 150%">Bài 8:
			Mộc nhĩ trắng 200g, ngâm nở, nấu nhừ trong lửa nhỏ, thêm nước sắc
			của 30g mạch đông nấu thành canh đặc. Mỗi ngày ăn hai bát con. Dùng
			chữa viêm amidan mạn tính kèm ho khan không có đờm, sốt vào buổi
			chiều.</span></font></p>
</font>

</h3>