﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
 <font color="#000000" size="6">
</font><p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white"><font color="#000000" size="6">
    <b><span style="line-height: 150%; color: #333333">Chế độ ăn uống
			cho bệnh bướu cổ</span></b></font></p>



</font><font color="#000000" size="3">
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
			<span style="font-size:14.0pt;line-height:150%">
			<img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-buou-co.jpg" width="320" height="213" align="left">Bướu
			cổ hay còn gọi là sưng tuyến giáp dạng địa phương, bệnh do thiếu i
			ốt gây nên. Bướu cổ là bệnh có thể phòng ngừa được nhờ chế độ ăn
			uống. Người bình thường nếu bị bướu cổ, cũng cần có một chế độ ăn
			uống, sinh hoạt hợp lý để việc điều trị bệnh có hiệu quả hơn.</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
			<span style="font-size:14.0pt;line-height:150%">Phòng khám Đông y
			Nguyễn Hữu Toàn hướng dẫn chế độ ăn uống cho bệnh bướu cổ.</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
			<span style="font-size:14.0pt;line-height:150%; font-weight:700">Những thực phẩm nên
			dùng:</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
			<span style="font-size:14.0pt;line-height:150%">Bổ sung muối i ốt
			vào trong việc chế biến các món ăn hàng ngày. (chú ý bổ sung một
			lượng vừa đủ - thừa i ốt cũng gây hại cho sức khỏe)</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
			<span style="font-size: 14.0pt; line-height: 150%; color: black; background: white">
			Thức ăn có chứa hàm lượng iod cao như hải sản sò, ngao, hải đới…
			Dưới đây là một số món ăn, bài thuốc tốt cho bệnh bướu cổ.</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
        <em>
			<span style="font-size: 14.0pt; line-height: 150%; color: black; background: white">
			- Bài 1:</span></em><span class="apple-converted-space"><span style="font-size: 14.0pt; line-height: 150%; color: black; background: white">&nbsp;</span></span><span style="font-size: 14.0pt; line-height: 150%; color: black; background: white">Hải
			đới 100g, rửa sạch, nấu chín, ăn mỗi ngày 1 lần, dùng chữa sưng
			tuyến giáp trạng dạng địa phương.</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
        <em>
			<span style="font-size: 14.0pt; line-height: 150%; color: black; background: white">
			- Bài 2:</span></em><span class="apple-converted-space"><span style="font-size: 14.0pt; line-height: 150%; color: black; background: white">&nbsp;</span></span><span style="font-size: 14.0pt; line-height: 150%; color: black; background: white">Sứa
			50g, rửa sạch, thịt mẫu lệ (thịt hàu) 50g, thêm gia vị, có thể ăn
			thường xuyên, dùng chữa sưng tuyến giáp trạng dạng địa phương.</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
        <em>
			<span style="font-size: 14.0pt; line-height: 150%; color: black; background: white">
			- Bài 3:</span></em><span class="apple-converted-space"><span style="font-size: 14.0pt; line-height: 150%; color: black; background: white">&nbsp;</span></span><span style="font-size: 14.0pt; line-height: 150%; color: black; background: white">Đậu
			tương 150g, thịt mẫu lệ 50g, thêm gia vị nấu ăn thường xuyên, dùng
			chữa bướu cổ đơn thuần.</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
        <em>
			<span style="font-size: 14.0pt; line-height: 150%; color: black; background: white">
			- Bài 4:</span></em><span class="apple-converted-space"><span style="font-size: 14.0pt; line-height: 150%; color: black; background: white">&nbsp;</span></span><span style="font-size: 14.0pt; line-height: 150%; color: black; background: white">Sò
			biển 50g, tử thái 50g, rửa sạch cho vào nồi nấu canh, có thể ăn
			thường xuyên, dùng cho người bị sưng tuyến giáp trạng dạng địa
			phương.</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
        <em>
			<span style="font-size: 14.0pt; line-height: 150%; color: black; background: white">
			- Bài 5:</span></em><span class="apple-converted-space"><span style="font-size: 14.0pt; line-height: 150%; color: black; background: white">&nbsp;</span></span><span style="font-size: 14.0pt; line-height: 150%; color: black; background: white">Hẹ
			150g, thịt ngao sò 100g, rửa sạch thái vụn, xào chín, dùng cho người
			bướu cổ.</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
        <em>
			<span style="font-size: 14.0pt; line-height: 150%; color: black; background: white">
			- Bài 6:</span></em><span class="apple-converted-space"><span style="font-size: 14.0pt; line-height: 150%; color: black; background: white">&nbsp;</span></span><span style="font-size: 14.0pt; line-height: 150%; color: black; background: white">Hồng
			xanh 1.000g, rửa sạch giã nát, nước hồng cho vào nồi đun tới chín
			đặc, thêm mật ong bằng số lượng nước hồng vào, sắc tới đặc, đợi
			nguội dùng ăn, ngày 1 lần, mỗi lần 1 thìa canh, liệu trình 1 tháng,
			dùng cho người sưng tuyến giáp trạng.</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
			<span style="font-size:14.0pt;line-height:150%;color:black; font-weight:700">Những
			thực phẩm không tốt cho bệnh bướu cổ:</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; line-height: 150%; margin-left: .5in">
			<span class="apple-converted-space">
			<span style="font-size:14.0pt;line-height:150%;
color:black">-<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span></span>
			<span style="font-size:14.0pt;line-height:
150%;color:black">Rau họ cải như: </span><span class="notranslate">
			<span style="font-size: 14.0pt; line-height: 150%; color: #373737; border: 1.0pt none windowtext; padding: 0in; background: white">
			bông cải xanh, súp lơ, cải ngọt, cải xoăn, củ cải, cải, bắp cải, su
			hào có chứa các hợp chất lưu huỳnh được gọi là glucosinolate khi các
			hợp chất nà bị phá vỡ sẽ sản sinh ra isothiocyanates.</span></span><span class="apple-converted-space"><span style="font-size: 14.0pt; line-height: 150%; color: #373737; background: white">&nbsp;</span></span><span class="notranslate"><span style="font-size: 14.0pt; line-height: 150%; color: #373737; border: 1.0pt none windowtext; padding: 0in; background: white">Chât
			isothiocyanates có thể khiến tình trạng bướu cổ trầm trọng hơn vì nó
			ngăn chặn sự hấp thụ và hấp thu iốt của tuyến giáp.</span></span><span class="apple-converted-space"><span style="font-size: 14.0pt; line-height: 150%; color: #373737; background: white">&nbsp;Vì
			thế nếu người bị bướu cổ nếu muốn sử dụng các loại rau họ cải nên
			thái nhỏ và luộc chín sẽ hạn chế được lượng </span></span>
			<span class="notranslate">
			<span style="font-size: 14.0pt; line-height: 150%; color: #373737; border: 1.0pt none windowtext; padding: 0in; background: white">
			isothiocyanates.</span></span><span class="apple-converted-space"></span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
			<span style="font-size:14.0pt;line-height:150%">Lưu ý: Vì môi trường
			sống của mỗi người là khác nhau, có những vùng nguồn nước ngầm sử
			dụng trong ăn uống đã có chứa một lượng i ốt, do đó trong chế biến
			món ăn, chúng ta không cần phải bổ sung thêm lượng i ốt. Hoặc đối
			với những vùng ven biển, người dân sử dụng nhiều các loại hải sản
			nên cũng không cần bổ sung lượng i ốt trong chế độ ăn.</span></p>
</font>


</h3>