﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
   <font color="#000000" size="5">
    <p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        &nbsp;</p>
    <p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b><span style="line-height: 150%; ">Chế độ ăn kiêng kị cho người bị
			bốc hỏa</span></b></p>
    </font>
    <p class="MsoNormal" style="text-align: justify; text-indent: .5in; line-height: 150%">
			<span style="font-size: 14.0pt; line-height: 150%">
			<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/boc-hoa.jpg" width="283" height="212" align="left" lowsrc="Bốc%20hỏa" alt="Chữa bệnh bốc hỏa"></span><span style="line-height: 150%">Bốc
			hỏa thường xuất hiện ở phụ nữ thời kỳ tiền mãn kinh, với việc xuất
			hiện các triệu chứng nóng bừng bừng ở trên mặt, kèm theo triệu chứng
			bồn chồn, trằn trọc khó ngủ,... Bốc hỏa ở thời kỳ tiền mãn kinh là
			do sự mất căn bằng nội tiết tố nữ trong thời kỳ mãn kinh, do đó bên
			cạnh việc bổ sung các chất thiếu hụt thì chế độ ăn uống có vai trò
			rất quan trọng. Dưới đây là một số hướng dẫn về chế độ ăn uống cho
			người bị bốc hỏa:</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: .5in; line-height: 150%">
        <b><span style="line-height: 150%">Những điều nên
			làm:</span></b></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: .5in; line-height: 150%">
			<span style="line-height: 150%">Nên ăn nhiều trái
			cây, rau xanh: Đây là những thực phẩm giúp thanh lọc cơ thể, chứa
			hàm lượng calo thấp, góp phần vào việc đốt cháy chất béo trong cơ
			thể, không làm gia tăng trọng lượng cho cơ thể, giảm bớt gánh nặng
			lên khung xương (bởi thời kỳ này phụ nữ thường thiếu hụt can xi)</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: .5in; line-height: 150%">
			<span style="line-height: 150%">Nên bổ sung thêm
			sữa và các sản phẩm làm từ sữa vì đây là thực phẩm giàu canxi mà cơ
			thể dễ hấp thu. Canxi vô cùng quan trọng và cần thiết trong thời kỳ
			tiền mãn kinh, cần thiết cho những người bị bốc hỏa</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: .5in; line-height: 150%">
			<span style="line-height: 150%">Nên bổ sung
			protein từ thực vật như đậu nành, và các loại đậu</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: .5in; line-height: 150%">
			<span style="line-height: 150%">Nên ăn các loại
			thịt nạc: thịt gà, cá, ...</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: .5in; line-height: 150%">
			<span style="line-height: 150%">Nên uống nhiều
			nước. 70% cơ thể là nước chính vì thế cần bổ sung nước thường xuyên
			cho cơ thể&nbsp; để đảm bảo các bộ phận đặc biệt là tiêu hóa, bài tiết
			hoạt động một cách thông suốt. 8 ly nước mỗi ngày sẽ đáp ứng đủ nhu
			cầu cho hầu hết những người lớn khỏe mạnh.</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: .5in; line-height: 150%">
			<span style="line-height: 150%">Nên tập thể dục
			đều đặn giúp cơ thể dẻo dai, tốt cho hệ tim mạch, hạn chế gia tăng
			trọng lượng trong thời gian này</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: .5in; line-height: 150%">
        <b><span style="line-height: 150%">Những điều nên
			hạn chế</span></b></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: .5in; line-height: 150%">
			<span style="line-height: 150%">Hạn chế các thực
			phẩm chứ nhiều muối</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: .5in; line-height: 150%">
			<span style="line-height: 150%">Hạn chế các thực
			phẩm được chế biến sẵn.</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: .5in; line-height: 150%">
			<span style="line-height: 150%">Hạn chế sử dụng
			rượu bia và các chất kích thích</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: .5in; line-height: 150%">
			<span style="line-height: 150%">Hạn chế thức
			khuya, stress</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: .5in; line-height: 150%">
			<span style="line-height: 150%">Ngoài chế độ ăn
			uống thì việc bổ sung thêm một số các vitamin thiết yếu như: canxi,
			vitaminD, B12, và riboflavin . Tuy nhiên không nên tự ý bổ sung mà
			cần tham khảo ý kiến của các chuyên gia.</span></p>
  </h3>