﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">

    <p style="margin-top: 0; margin-bottom: 0" align="center">
        <b>
            <font size="5" color="#000080">Chế độ ăn uống kiêng kị cho
                bệnh dị ứng mề đay</font></b></p>



    <p class="MsoNormal" align="left" style="line-height: 175%; margin: 7.6pt 0in; background: white url('')">
		<span style="font-weight: 400">
		<font color="#0033CC" size="3" face="Times New Roman">
            <a href="Chế%20độ%20ăn%20cho%20bệnh%20dị%20ứng%20mề%20đay">
                <img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-di-ung-me-day.jpg" width="300" height="300" lowsrc="Chế%20độ%20ăn%20cho%20bệnh%20dị%20ứng%20mề%20đay" longdesc="Chế độ ăn cho bệnh dị ứng mề đay" alt="Chế độ ăn cho bệnh dị ứng mề đay" align="left"></a></font><font size="3" face="Times New Roman">Y học cổ truyền gọi bệnh mề
            đay là
            phong chẩn khối. Nguyên nhân do phong hàn,phong nhiệt hoăc các nhân tố
            khác như: thức ăn, thuốc, ký sinh trùng làm xuất hiện ở da những nốt ban
            ,ngứa ,đỏ da hoặc phù tạị chỗ. &nbsp;&nbsp;</font></span><span style="font-size: 14.0pt; font-family: Times New Roman; color: black">&nbsp;&nbsp;&nbsp;&nbsp;</span><font face="Times New Roman">Chế độ ăn kiêng cho bệnh
        dị ứng mề đay là yếu tố được nhiều người quan tâm khi điều trị và phòng
        tránh bệnh này.</font></p>
    <p class="MsoNormal" align="left" style="line-height: 175%; margin: 7.6pt 0in; background: white url('')">
        <font size="3" face="Times New Roman">
		<span style="font-weight: 400">Ngoài việc
		kiêng gió lạnh, kiêng nước, người bị bệnh dị ứng,&nbsp; mề đay, sẩn ngứa
		phải tuân thủ theo chế độ ăn như sau:<br>
		- Trong giai đoạn cấp tính, cần giảm ăn đường và muối vì đường trong máu
		tăng cao sẽ gây ra hiện tượng quá mẫn (dị ứng). Còn lượng muối nhiều sẽ
		gây kích ứng thần kinh ngoại biên.<br>
		- Kiêng những thức ăn gây kích thích như rượu, trà, cà phê, thuốc lá,
		tiêu, ớt.<br>
		- Trường hợp đang phù nề, rịn nước thì giảm thức ăn có nhiều nước như
		canh, súp; uống ít nước.<br>
		- Kiêng những thức ăn có nhiều đạm như tôm, cua, bò, gà, đồ hộp, lạp
		xưởng, chocolate, trứng, sữa...<br>
		- Nên ăn chế độ có nhiều vitamin A, B, C, ăn các thức dễ tiêu, có tác
		dụng chống táo bón như cà chua, cam, chanh, khoai lang, mướp đắng...<br>
		- Đối với trẻ em: Cần ăn chế độ giảm đường, sữa bò đặc, lòng trắng trứng...
		<br>
		Riêng với người bị bệnh mề đay, sau khi điều trị khỏi, nếu người bệnh
		vẫn chưa rõ dị ứng với loại thức ăn nào, cần ăn thử từng món để xem có
		dị ứng hay không. Ví dụ, một ngày ăn toàn thịt gà (không ăn món nào khác),
		nếu bị dị ứng thì xác định nguyên nhân do thịt gà gây nên.</span></font></p>



</h3>