﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
<font color="#000000" size="6">
    <p class="MsoNormal" style="text-align: center; line-height: 150%">
			<span style="line-height: 150%; font-weight: 700">Chế độ ăn giúp mắt
			sáng khỏe</span></p>
</font>
			</span></font><font color="#000000" size="3">
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
			<span style="font-size:13.0pt;line-height:150%">
			<img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-cho-mat-sang.jpg" width="320" height="213" lowsrc="Chế%20độ%20ăn%20giúp%20mắt%20sáng%20khỏe" longdesc="Chế độ ăn giúp mắt sáng khỏe" alt="Chế độ ăn giúp mắt sáng khỏe" align="left">Hàng
			ngày mắt chúng ta luôn phải tiếp xúc và hoạt động liên tục. Tuy
			nhiên rất ít người quan tâm tới việc chăm sóc sức khỏe cho đôi mắt.
			Chế độ dinh dưỡng đóng vai trò quan trọng đối với việc giữ gìn và
			bảo vệ đôi mắt. Dưới đây là một số lời khuyên về chế độ ăn uống để
			có một đôi mắt sáng, khỏe.</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
			<span style="font-size:13.0pt;line-height:150%">Hầu hết các nghiên
			cứu đều chỉ ra rằng: omega 3, lutein, kẽm, vitamin C, E là những
			chất dinh dưỡng giúp bảo vệ sức khỏe đôi mắt. </span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
			<span style="font-size: 13.0pt; line-height: 150%; font-weight: 700">
			Những thực phẩm nên dùng:</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
			<span style="font-size:13.0pt;line-height:150%">Các loại rau có lá
			màu xanh đậm: rau bina, cải xoăn là loại rau giàu chất chống oxy hóa
			lutein và zeaxanthin là hai chất quan trọng và cần thiết trong điểm
			vàng, hai chất này giúp hấp thu ánh sáng màu xanh gây hại cho võng
			mạch giúp bảo vệ đôi mắt sáng và khỏe. Ngoài ra hai chất này cũng
			giúp mắt phát hiện độ tương phản tốt hơn.</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
			<span style="font-size:13.0pt;line-height:150%">Trái cây có màu đỏ
			như: Cà chua, cà rốt, là hai loại quả chứa các carotenoid và
			lycopene Nghiên cứu cho thấy lycopene trong mô mắt giúp ngăn ngừa
			các nguy cơ gây ra bởi ánh sáng đến võng mạc và các khu vực khác của
			mắt. Ngoài ra trong các loại quả này cũng chứa nhiều vitamin C giúp
			bảo vệ thị lực tốt hơn.</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
			<span style="font-size:13.0pt;line-height:150%">Trứng: Người ta tìm
			thấy một lượng lớn lutein và zeaxanthin trong lòng đỏ trứng gà. Đây
			là hai chất quan trọng và cần thiết cho mắt. Ngoài ra nguồn vitamin
			D trong trứng gà rất phong phú tránh mệt mỏi cho mắt.</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
			<span style="font-size:13.0pt;line-height:150%">Nên ăn nhiều cá:
			Trong cá có chứa nguồn axit béo omega 3 dồi dào, dặc biệt là cá hồi.
			Omega 3 vừa giúp mắt sáng lại có thể trị bệnh khô mắt hiệu quả.
			</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
			<span style="font-size:13.0pt;line-height:150%">Ngũ cốc: Đặc biệt là
			ngô có màu vàng, chứa lượng lớn <span style="color:black">lutein và
			zeaxanthin làm giảm đáng kể nguy cơ thoái hóa điểm vàng đặc biệt là
			ở những người cao tuổi.</span></span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
			<span style="font-size:13.0pt;line-height:150%;color:black">Hạt dẻ
			cười: hạt dẻ cười chứa nhiều vitamin E cần thiết cho mắt. Các chất
			béo đơn và chất béo không bão hòa trong hạt dẻ cười cũng giúp tăng
			cường hấp thu carotenoids.</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
			<span style="font-size: 13.0pt; line-height: 150%; color: black; font-weight: 700">
			Thay đổi thói quen giúp bảo vệ đôi mắt sáng khỏe</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
			<span style="font-size:13.0pt;line-height:150%;color:black">Không
			hút thuốc lá: thuốc lá gây ảnh hưởng đến thủy tinh thể, tổn thương
			thần kinh thị giác, thoái hóa điểm vàng.</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
			<span style="font-size:13.0pt;line-height:150%;color:black">Đeo kính
			khi đi ra ngoài đường: Nên đeo kính râm khi ra ngoài đường để bảo vệ
			mắt khỏi tia UV.</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
			<span style="font-size:13.0pt;line-height:150%;color:black">Hạn chế
			nhìn liên tục vào màn hình máy vi tính. Nếu thường xuyên phải làm
			việc trên máy vi tính khoảng 1-2 giờ nên để mắt giải lao.</span></p>
    <p class="MsoNormal" style="text-align:justify;line-height:150%">
			<span style="font-size:13.0pt;line-height:150%;color:black">Hàng
			ngày có thể rửa mắt 01 lần bằng nước muối sinh lý 0.9% để rửa sạch
			bụi bẩn trong mắt, giúp bảo vệ mắt</span></p>

</font>

</h3>