﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
<font color="#000000" size="6">
</font><p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white"><font color="#000000" size="6">
    <b><span style="line-height: 150%; color: #333333">Chế độ ăn uống </span></b>

</font><font size="6"><b>kiêng kị cho bệnh đau mắt đỏ</b></font></p>


    <font color="#000000" size="3">
        <h1 style="text-align: justify; margin-top: 0in; background: white">&nbsp;&nbsp;&nbsp;
			<span style="font-size: 14.0pt; font-weight: normal">
			<img border="0" src="http://www.thaythuoccuaban.com/images/dau-mat-do.jpg" width="320" height="202" lowsrc="Đau%20mắt%20đỏ,%20Chế%20độ%20ăn%20uống%20kiêng%20kị%20cho%20bệnh%20đau%20mắt%20đỏ" longdesc="Đau mắt đỏ, Chế độ ăn uống kiêng kị cho bệnh đau mắt đỏ" alt="Đau mắt đỏ, Chế độ ăn uống kiêng kị cho bệnh đau mắt đỏ" align="left">Theo YHCT đau
			mắt đỏ gọi là
			<span style="border: 1.0pt none windowtext; padding: 0in">"Xích nhãn"
			hay "Hoả nhãn". Bệnh do can phong nhiệt gây nên, là một bệnh mang
			tính truyền nhiễm, dễ lây lan thành dịch. Khi mắc phải chứng này
			người bệnh thường có triệu chứng: mắt đỏ, xung huyết, chảy nước mắt,
			nhiều dử, mắt cộm, khó mở, sợ ánh sáng, có thể bị một mắt rồi lây
			sang mắt thứ hai hoặc đồng thời cả hai mắt đều bị, một số trường hợp
			thị lực suy giảm làm mắt mờ, khả năng nhìn kém. Đông y điều trị đau
			mắt đỏ ngoài việc dùng thuốc, vệ sinh sạch sẽ thì chế độ ăn uống
			cũng góp phần giúp bệnh tiến triển nhanh hơn.</span></span></h1>
        <h1 style="text-align: justify; margin-top: 0in; background: white">
			<span style="font-size: 14.0pt; font-weight: normal; border: 1.0pt none windowtext; padding: 0in">&nbsp;&nbsp;&nbsp;
			Phòng khám Đông y Nguyễn Hữu Toàn đưa ra một số lời khuyên về chế độ
			ăn uống sinh hoạt cho người bị đau mắt đỏ</span></h1>
        <h1 style="text-align: justify; margin-top: 0in; background: white">
			<span style="font-size: 14.0pt; font-weight: normal; border: 1.0pt none windowtext; padding: 0in">
			Về vệ sinh: Giữ gìn vệ sinh sạch sẽ mắt, tay chân, đồ dùng cá nhân,
			môi trường sống. Đặc biệt nên dùng riêng đồ dùng cá nhân.</span></h1>
        <h1 style="text-align: justify; margin-top: 0in; background: white">
			<span style="font-size: 14.0pt; font-weight: normal; border: 1.0pt none windowtext; padding: 0in">
			Về dinh dưỡng: Chế độ ăn uống có thể giúp giảm tình trạng viêm nhiễm,
			bội nhiễm ở người đau mắt đỏ, tuy nhiên cũng có thể khiến tình trạng
			viêm trở nên phức tạp hơn.</span></h1>
        <h1 style="text-align: justify; margin-top: 0in; background: white">
			<span style="font-size: 14.0pt; font-weight: normal; border: 1.0pt none windowtext; padding: 0in">
			Thực phẩm nên dùng:</span></h1>
        <h1 style="text-align: justify; text-indent: -.25in; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: 5.0pt; background: white">
			<span style="font-size: 14.0pt; font-weight: normal; border: 1.0pt none windowtext; padding: 0in">
			-<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Các loại rau có màu xanh đậm: rau bina, rau cải,…</span></h1>
        <h1 style="text-align: justify; text-indent: -.25in; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: 5.0pt; background: white">
			<span style="font-size: 14.0pt; font-weight: normal; border: 1.0pt none windowtext; padding: 0in">
			-<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; font-weight: normal">
			Các loại trái cây và rau quả có màu cam như bí ngô, bí, cam, cà rốt,
			đu đủ và xoài. Những loại trái cây và rau quả có chứa beta carotene
			giúp cải thiện khả năng miễn dịch, ngăn chặn bệnh phát triển và ngăn
			bội nhiễm.</span></h1>
        <h1 style="text-align: justify; text-indent: -.25in; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: 5.0pt; background: white">
			<span style="font-size: 14.0pt; font-weight: normal; border: 1.0pt none windowtext; padding: 0in">
			-<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; font-weight: normal">
			Thịt nạc, lòng đỏ trứng gà, gan lợn,</span></h1>
        <h1 style="text-align: justify; text-indent: -.25in; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: 5.0pt; background: white">
			<span style="font-size: 14.0pt; font-weight: normal; border: 1.0pt none windowtext; padding: 0in">
			-<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; font-weight: normal">
			Uống nhiều nước, khoảng 6 - 8 ly nước/ngày để giữ độ ẩm cần thiết
			cho mắt.</span></h1>
        <h1 style="text-align: justify; margin-top: 0in; background: white">
			<span style="font-size: 14.0pt; font-weight: normal">Thực phẩm nên
			tránh:</span></h1>
        <h1 style="text-align: justify; text-indent: -.25in; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: 5.0pt; background: white">
			<span style="font-size: 14.0pt; font-weight: normal">-<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Thực phẩm giàu tinh bột, chứa nhiều đường không tốt cho bệnh
			đau mắt đỏ</span></h1>
        <h1 style="text-align: justify; text-indent: -.25in; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: 5.0pt; background: white">
			<span style="font-size: 14.0pt; font-weight: normal; border: 1.0pt none windowtext; padding: 0in">
			-<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; font-weight: normal">
			Thực phẩm chứa nhiều các loại gia vị cay nóng: ớt, hạt tiêu,… có
			tính kích thích cao dễ làm mắt bị kích ứng.</span></h1>
        <h1 style="text-align: justify; text-indent: -.25in; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: 5.0pt; background: white">
			<span style="font-size: 14.0pt; font-weight: normal; border: 1.0pt none windowtext; padding: 0in">
			-<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; font-weight: normal">
			Thực phẩm nhiều dầu mỡ</span></h1>
        <h1 style="text-align: justify; text-indent: -.25in; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: 5.0pt; background: white">
			<span style="font-size: 14.0pt; font-weight: normal; border: 1.0pt none windowtext; padding: 0in">
			-<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; font-weight: normal">
			Rau muống có thể khiến mắt trở nên khó chịu</span></h1>
        <h1 style="text-align: justify; text-indent: -.25in; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: 5.0pt; background: white">
			<span style="font-size: 14.0pt; font-weight: normal; border: 1.0pt none windowtext; padding: 0in">
			-<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span><span style="font-size: 14.0pt; font-weight: normal">
			Đồ uống có ga, có cồn, thuốc lá.</span></h1>
        <h1 style="text-align: justify; text-indent: -.25in; margin-left: .5in; margin-right: 0in; margin-top: 0in; margin-bottom: 5.0pt; background: white">
			<span style="font-weight: 400"><font size="4">Trên</font><font size="4">
                đây là một số lời khuyên dành cho bệnh nhân đau mắt đỏ.
                Thaythuoccuaban.com hy vọng với một chế độ ăn uống thích hợp, chế độ
                sinh hoạt hợp lý, và dùng thuốc theo chỉ dẫn của bác sĩ bệnh đau mắt
                đỏ sẽ nhanh khỏi</font></span></h1>
        <h1 style="text-align: justify; margin-top: 0in; background: white">
			<span style="font-size: 14.0pt; border: 1.0pt none windowtext; padding: 0in">
			Tham khảo một số loại trà có lợi cho bệnh đau mắt đỏ</span></h1>
        <p style="text-align: justify; background: white">
			<span style="font-size:14.0pt">&nbsp;<strong><span style="font-weight: normal">1.
			Trà chi tử</span></strong></span></p>
        <p style="text-align: justify; background: white">
			<span style="font-size:14.0pt">Dùng 10g chi tử, giã nhuyễn, cho vào
			ly, đem hãm với nước sôi, đậy nắp nửa giờ. Dùng uống thay trà trong
			ngày. Công hiệu: thanh nhiệt tả hỏa, lương huyết chỉ huyết. Dùng cho
			đau mắt đỏ thể nhiệt độc.</span></p>
        <p style="text-align: justify; background: white"><strong>
			<span style="font-size: 14.0pt; font-weight: normal">2. Trà tang cúc
			– đậu nành</span></strong></p>
        <p style="text-align: justify; background: white">
			<span style="font-size:14.0pt">Lá dâu (phơi sương) 15g, cúc hoa 15g,
			đậu nành 60g, đường trắng 30g. Ngâm nước đậu nành, sau đó cùng lá
			dâu, cúc hoa cho vào nồi, sắc lấy nước, nêm đường trắng, dùng uống
			thay trà. Công hiệu: Sơ phong thanh nhiệt. Dùng cho viêm kết mạc mắt
			cấp tính thể phong nhiệt.</span></p>
        <p style="text-align: justify; background: white"><strong>
			<span style="font-size: 14.0pt; font-weight: normal">3. Trà pó xôi –
			cúc hoa</span></strong></p>
        <p style="text-align: justify; background: white">
			<span style="font-size:14.0pt">Pó xôi 250g, dã cúc hoa 15g. Pó xôi
			rửa sạch thái nhuyễn, cùng cúc hoa cho vào nồi, sắc lấy nước cốt,
			dùng uống thay trà. Dùng cho viêm kết mạc cấp tính thể phong nhiệt.</span></p>
        <p style="text-align: justify; background: white"><strong>
			<span style="font-size: 14.0pt; font-weight: normal">4. Trà bồ công
			anh:</span></strong></p>
        <p style="text-align: justify; background: white">
			<span style="font-size:14.0pt">Bồ công anh 60g (nếu tươi 100g), rửa
			sạch thái nhuyễn, sắc lấy nước cốt, dùng uống thay trà. Dùng cho thể
			phong nhiệt.</span></p>
        <p style="text-align: justify; background: white"><strong>
			<span style="font-size: 14.0pt; font-weight: normal">5. Trà kim châm
			– rau sam&nbsp;</span></strong></p>
        <p style="text-align: justify; background: white">
			<span style="font-size:14.0pt">Rau kim châm 50g, rau sam 50g, đem
			sắc lấy nước cốt, dùng uống thay trà. Công hiệu: Thanh nhiệt giải
			độc, lợi thấp tiêu thũng. Dùng cho viêm kết mạc cấp tính thể nhiệt
			độc.</span></p>
        <p style="text-align: justify; background: white"><strong>
			<span style="font-size: 14.0pt; font-weight: normal">6. Trà cúc hoa
			– dấp cá</span></strong></p>
        <p style="text-align: justify; background: white">
			<span style="font-size:14.0pt">Cúc hoa 15g, dấp cá 30g, cùng cho vào
			ly, đem hãm với nước sôi, đậy nắp 20 phút, dùng uống thay trà. Dùng
			cho viêm kết mạc cấp tính thể phong nhiệt.</span></p>
        <p style="text-align: justify; background: white"><strong>
			<span style="font-size: 14.0pt; font-weight: normal">7. Trà cúc hoa
			– long tĩnh&nbsp;</span></strong></p>
        <p style="text-align: justify; background: white">
			<span style="font-size:14.0pt">Cúc hoa 10g, trà long tĩnh 5g, cùng
			cho vào ly, hãm với nước sôi, dùng uống thay trà. Dùng cho viêm kết
			mạc cấp tính thể phong nhiệt.</span></p>
        <p style="text-align: justify; background: white"><strong>
			<span style="font-size: 14.0pt; font-weight: normal">8. Trà hoàng bá
			– long đởm&nbsp;</span></strong></p>
        <p style="text-align: justify; background: white">
			<span style="font-size:14.0pt">Hoàng bá 10g, long đởm thảo 10g, thảo
			quyết minh 15g. Đem tất cả tán thô, cho vào ly, hãm với nước sôi,
			đậy nắp nửa giờ, dùng uống thay trà. Dùng cho viêm kết mạc cấp tính
			thể nhiệt độc.</span></p>
        <p style="text-align: justify; background: white"><strong>
			<span style="font-size: 14.0pt; font-weight: normal">9. Trà song hoa
			– công anh</span></strong></p>
        <p style="text-align: justify; background: white">
			<span style="font-size:14.0pt">Dã cúc hoa 30g, kim ngân hoa 30g, bồ
			công anh 30g, đại thanh diệp 30g. Đem sắc lấy nước cốt, dùng uống
			thay trà. Dùng cho viêm kết mạc thể phong nhiệt và thể nhiệt độc.</span></p>
        <p style="text-align: justify; background: white"><strong>
			<span style="font-size: 14.0pt; font-weight: normal">10. Trà đậu
			xanh – cúc hoa&nbsp;</span></strong></p>
        <p style="text-align: justify; background: white">
			<span style="font-size:14.0pt">Đậu xanh 30g, cúc hoa 12g, lá dâu
			12g, đường trắng 15g. Rang chín đậu xanh, rồi giã nhuyễn, và cùng
			các thứ khác cho vào ly, đem hãm với nước sôi, đậy nắp nửa giờ, dùng
			uống thay trà. Dùng cho viêm kết mạc thể phong nhiệt và thể nhiệt
			độc.</span></p>
</font>



</h3>