﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">

    <h1><font face="Times New Roman"><font size="5" color="#000080">
        <a name="dautrang">Chế độ ăn uống, kiêng kị cho bệnh</a></font><font size="5"><a name="dautrang"> Mất ngủ</a></font></font></h1>
    <p class="MsoNormal" style="text-indent: 56.7pt; margin-top:0; margin-bottom:0" align="center">&nbsp;</p>
    <p class="MsoNormal" style="text-indent: 56.7pt; margin-top:0; margin-bottom:0" align="left">
        <font face="Times New Roman" style="font-size: 13pt" color="#000000" size="3">
            <img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/benh-mat-ngu1.jpg" width="229" title="Bệnh mất ngủ" height="143" lowsrc="Bệnh%20mất%20ngủ" longdesc="Bệnh mất ngủ" alt="Bệnh mất ngủ" align="left">Bạn
            đang băn khoăn tự hỏi liệu việc ăn uống có ảnh hưởng tới giấc ngủ của
            mình không? Câu trả lời là có. Rất nhiều nghiên cứu của các nhà khoa học
            và các trung tâm y tế hàng đầu thế giới đã chỉ ra rằng: Những gì chúng
            ta ăn trước khi ngủ có quan hệ mật thiết tới giấc ngủ của chúng ta.&nbsp; Nó
            có thể khiến giấc ngủ của chúng ta ngon hơn hoặc nó cũng có thể khiến
            suốt đêm bạn trằn trọc.</font></p>
    <font color="#000000"><p class="MsoNormal" style="text-align:justify;text-indent:.5in">
        &nbsp;</p>
        <p class="introtext" style="text-align: left">
		<span style="margin:0px; padding:0px; font-weight:400">Đối với những người mất ngủ, những thức ăn giàu
		vitamin B1, magiê và tryptophan là sự lựa chọn khôn ngoan, giúp họ không
		phải thức giấc nhiều lần trong đêm. Tốt nhất nên dùng những món ăn kết
		hợp được cả 3 chất trên.</span></p>
        <p class="bodytext" style="text-align: left">
		<span style="margin:0px; padding:0px; font-weight:400">Hầu như ai cũng có những hôm bị mất ngủ, nhất là khi tuổi đã cao hay khi
		thời tiết thay đổi (nóng hoặc lạnh hơn). Một đợt phỏng vấn về giấc ngủ
		cho thấy, có 40% thanh niên than phiền là ngủ không yên giấc, một đêm
		thức giấc vài ba lần, 80% các cụ (trên 60 tuổi) thức giấc nhiều lần mỗi
		đêm. Để có thể dễ ngủ hơn, cần chú trọng các thức ăn có những chất sau:</span></p>
        <p class="bodytext" style="text-align: left">
		<span style="margin:0px; padding:0px; font-weight:400">-
		Vitamin B1 (Thiamin): Giúp chuyển hóa các chất bột, đường thành
		năng lượng và giúp các dây thần kinh hoạt động tốt, làm cho cơ thể thoải
		mái. Ở những người mất ngủ, nồng độ vitamin B1 trong máu thường rất thấp.
		Do đó, nên ăn những thức ăn giàu loại sinh tố này như gạo lức, thịt lợn
		tươi, cá tươi, gà, sữa đậu nành, măng tây.</span></p>
        <p class="bodytext" style="text-align: left">
		<span style="margin:0px; padding:0px; font-weight:400">-
		Magiê: Nhiều nghiên cứu cho thấy, mất ngủ là dấu hiệu đầu tiên
		của tình trạng thiếu magiê vì chất này có chức năng làm thư giãn cơ bắp
		tự nhiên... Những thức ăn giàu magiê là: rau mồng tơi, rau bina
		(spinach), rau muống, rau dền, trái bơ, hạnh nhân, hạt bí, chocolate,
		lúa mạch.</span></p>
        <p style="text-align: left"><span style="font-weight: 400; margin: 0px; padding: 0px">-
		Tryptophan: Có nhiều trong thịt gà, lạc... Chất này có thể gây buồn
		ngủ do làm tăng nồng độ serotonin trong não. Nếu hơi đói bụng vào lúc
		sắp sửa đi ngủ, hãy uống một ly sữa ấm với chút mật ong, kèm vài hạt
		hạnh nhân, một miếng gà tây ăn với bánh mì, nui hay cơm. Điều này sẽ
		giúp cho tryptophan mau được hấp thu vào máu. </span></p>
        <p style="text-align: left"><strong>
            <span style="font-size: 13pt; font-family: Times New Roman; font-weight: normal">&nbsp;</span><span style="font-family: Times New Roman"><font color="#000080" style="font-size: 13pt">
            Thực phẩm nên dùng</font></span></strong><span style="font-size: 13pt; font-family: Times New Roman"><br>
		<img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/thuc-pham-tot-cho-benh-mat-ngu.jpg" width="200" height="132" lowsrc="Thực%20phẩm%20tốt%20cho%20bệnh%20mất%20ngủ" longdesc="Thực phẩm tốt cho bệnh mất ngủ" alt="Thực phẩm tốt cho bệnh mất ngủ" align="left"></span><span style="margin:0px; padding:0px; font-weight:400">Nui, mì, bún, nghĩa là các loại thực phẩm tuy cũng là tinh bột nhưng
		trái với bánh mì, cơm cháo, chúng không làm tăng lượng đường một cách
		đột ngột.</span></p>
        <p style="text-align: left">
		<span style="margin:0px; padding:0px; font-weight:400">Mơ, chuối, chà là, sữa
		chua như món tráng miệng sau bữa cơm chiều vì đây là nguồn cung ứng
		tryptophan.</span></p>
        <p style="text-align: left"><span style="font-weight: 400; margin: 0px; padding: 0px">Cá thu, cá saba, cá hồi,
		cá mòi để cung cấp cho cơ thể sinh tố B6, chất xúc tác phản biến đổi
		tryptophan thành serotonin, hoạt chất cần thiết cho giấc ngủ yên bình.<br>
		Hạt hướng dương, bí rợ để nhờ chất béo 6-Omega gián tiếp ảnh hưởng trung
		khu điều khiển giấc ngủ bằng cách điều chỉnh dẫn truyền thần kinh qua
		ngõ nội tiết tố.Thịt
		gia cầm để cơ thể đừng thiếu chất sắt rồi kéo theo tình trạng thiếu
		dưỡng khí trong tế bào não bộ.</span></p>
        <p class="MsoNormal" style="text-align: left; text-indent: -.25in; margin-left: .5in">
		<span style="font-weight: 400; margin: 0px; padding: 0px">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<font style="margin:0px; padding:0px; font-weight:400">Ăn nhiều các loại thực phẩm có chứa các loại vitamin nhóm
            B như gạo lức, thịt, cá, gà, sữa bơ, trứng, các loại ngũ cốc như: ngô,
            đậu, và các loại rau có màu xanh đậm. Vitamin nhóm B giúp cho hệ thần
            kinh hoạt động tốt và cơ thể sẽ cảm thấy thoải mái và giấc ngủ sẽ tốt
            hơn.</font></span></p>
        <p class="MsoNormal" style="text-align: left; text-indent: -.25in; margin-left: .5in">
		<span style="font-weight: 400; margin: 0px; padding: 0px">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<font style="margin:0px; padding:0px; font-weight:400">Vitamin D cũng là một yếu tố cần thiết cho giấc ngủ, nó
            tham gia vào quá trình tổng hợp caxi cho cơ thể cùng với magie. Cách tốt
            nhất để cung cấp vitamin D cho cơ thể là tiếp xúc với ánh sáng mặt trời
            vào buổi sáng sớm. </font> </span> </p>
        <p class="MsoNormal" style="text-align: left; text-indent: -.25in; margin-left: .5in">
		<span style="font-weight: 400; margin: 0px; padding: 0px">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<font style="margin:0px; padding:0px; font-weight:400">Cung cấp đầy đủ lượng magie cần thiết cho cơ thể bằng cách
            ăn nhiều các loại rau như: rau dền, mồng tơi, rau muống, hạt bí,..&nbsp;
            Magie sẽ khiến cho các cơ bắp được thư giãn, rất tốt cho giấc ngủ. Magie
            cũng giúp hấp thụ được một cách tốt nhất lượng caxi cung cấp cho cơ thể,
            giúp giấc ngủ trở nên sâu hơ, không bị gián đoạn.</font></span></p>
        <p class="MsoNormal" style="text-align: left; text-indent: -.25in; margin-left: .5in">
		<span style="font-weight: 400; margin: 0px; padding: 0px">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<font style="margin:0px; padding:0px; font-weight:400">Tăng cường lượng tryptophan cho cơ thể bởi nó là một acid
            amin có thể kích thích cơ thể sản xuất dopamine và serotonin, hóa chất
            dẫn truyền thần kinh tốt nhất được biết đến với vai trò của họ trong
            việc làm giảm trầm cảm và lo âu. Những hóa chất dẫn truyền thần kinh
            cũng có thể có một tác dụng an thần, làm cho nó dễ dàng hơn cho bạn để
            ngủ và ở lại ngủ. Tiêu thụ thực phẩm có chứa tryptophan có thể giúp giảm
            bớt ảnh hưởng của chứng mất ngủ. Tryptophan giúp làm dịu thần kinh, gây
            buồn ngủ do làm tăng nồng độ serotonin trong não. Các thực phẩm giàu
            tryptophan là chuối, đậu phộng, hạt sen, gạo, thịt gà, bí đỏ...</font></span></p>
        <p class="bodytext">
            <span style="font-size: 13pt; font-family: Times New Roman; color: windowtext">&nbsp;</span><font color="#000080" style="font-size: 13pt"><strong><span style="font-family: Times New Roman">Thực
		phẩm nên tránh</span></strong></font></p>
        <p class="bodytext" style="text-align: left">
		<span style="font-size: 13pt; font-family:Times New Roman; color:windowtext; font-weight:normal">
		<strong>
            <img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/bo-khong-tot-cho-suc-khoe.jpg" width="100" height="66" align="left"></strong></span><span style="font-weight: 400; margin: 0px; padding: 0px">Để có giấc ngủ ngon, nên tránh rượu, các
		chất chứa cafein và thuốc lá. Việc uống rượu trước khi đi ngủ có thể giúp ngủ nhanh nhưng
		cũng hay làm thức giấc. Một số người vì mất ngủ nên hay uống cà phê ban
		ngày cho tỉnh táo. Tuy nhiên, tốt nhất là không dùng cà phê và các loại
		nước ngọt chứa cafein như Pepsi, Coca. Chất béo như bơ, món chiên mỡ
		nổi, thịt xông khói, bánh kem nếu bữa ăn chiều quá trễ vì đây là những
		món cản trở tiến trình tổng hợp tryptophan, chất dọn đường cho hoạt động
		của trung khu điều hành giấc ngủ.Cần
		tránh xa khói thuốc lá vì nó sẽ gây mất ngủ.</span></p>
        <p style="text-align: left"><span style="margin:0px; padding:0px; font-weight:400">&nbsp;Ngoài ra,
		không gì có tác dụng thư giãn và giúp ngủ ngon bằng phương pháp tập thở
		dưỡng sinh ở một nơi không khí trong lành.</span></p>
        <p class="MsoNormal" style="text-align:left">
            <font style="margin:0px; padding:0px; font-weight:400" size="3" color="#000000">Một chế độ ăn được các
                chuyên gia khuyến cáo để phòng tránh bệnh mất ngủ nên tiêu thụ các loại
                thực phẩm tốt cho giấc ngủ và hạn chế những đồ ăn, uống gây khó ngủ. Bữa
                tối có ảnh hưởng trực tiếp tới giấc ngủ của bạn. Vì thế một bữa tối hợp
                lý sẽ khiến bạn có một giấc ngủ ngon hơn.</font></p>
        <p class="MsoNormal" style="text-align:justify">
            <font face="Times New Roman" style="font-size: 13pt"><b>Các loại thực phẩm
                nên tránh vào bữa tối.</b></font></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; margin-left: .5in">
            <font face="Times New Roman" style="font-size: 13pt">
                <img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/benh-mat-ngu-khong-dung-ca-phe.jpg" width="200" height="205" lowsrc="Bệnh%20mất%20ngủ%20nên%20tránh%20uống%20cafe" longdesc="Bệnh mất ngủ nên tránh uống cafe" alt="Bệnh mất ngủ nên tránh uống cafe" align="left">-</font><span style="font-style:normal; font-variant:normal; font-weight:normal; font-size:13pt; font-family:Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span>
            <font style="margin:0px; padding:0px; font-weight:400" size="3" color="#000000">Trước khi ngủ không nên uống các loại thức uống có cafein
                như cà phê, sôđa… những chất kích thích này sẽ gây hưng phấn thần kinh,
                khiến bạn khó ngủ.</font></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; margin-left: .5in">
		<span style="font-weight: 400; margin: 0px; padding: 0px">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<font style="margin:0px; padding:0px; font-weight:400">Không nên dùng quá nhiều vitamin C mỗi ngày, đặc biệt là
            buổi tối, bởi vitamin C sẽ làm cho não trở nên tỉnh táo hơn, và đương
            nhiên sẽ khiến bạn khó ngủ.</font></span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; margin-left: .5in">
		<span style="font-weight: 400; margin: 0px; padding: 0px">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<font style="margin:0px; padding:0px; font-weight:400">Hạn chế tối đa lượng đường đặc biệt là các loại đường tinh
            chế vào buổi tối bởi đường sẽ làm tăng huyết áp, và ảnh hưởng tới hệ
            thống thần kinh, làm bạn khó đi vào giấc ngủ hơn.</font></span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; margin-left: .5in">
		<span style="font-weight: 400; margin: 0px; padding: 0px">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<font style="margin:0px; padding:0px; font-weight:400">Quá nhiều muối sẽ khiến nhịp tim tăng lên, huyết áp tăng
            có thể gây mất ngủ.</font></span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; margin-left: .5in">
		<span style="font-weight: 400; margin: 0px; padding: 0px">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<font style="margin:0px; padding:0px; font-weight:400">Không nên ăn nhiều chất béo vào bữa tôi, chất béo sẽ khiến
            cho hệ tiêu hóa của bạn phải làm việc nhiều hơn. Đây cũng là một trong
            những yếu tố gây khó ngủ.</font></span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; margin-left: .5in">
		<span style="font-weight: 400; margin: 0px; padding: 0px">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<font style="margin:0px; padding:0px; font-weight:400">Không nên ăn quá nhiều các chất cay nóng vào bữa tối sẽ
            khiến bạn khó ngủ.</font></span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: -.25in; margin-left: .5in">
		<span style="font-weight: 400; margin: 0px; padding: 0px">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<font style="margin:0px; padding:0px; font-weight:400">Trước khi ngủ khoảng 1,5 giờ bạn không nên tiêu thụ nhiều
            các loại chất lỏng như: nước hay súp, cháo loãng, bởi những chất lỏng
            này sẽ làm đầy bàng quang của bạn và điều đó đương nhiên sẽ khiến bạn
            phải tỉnh giấc vào ban đêm. Nếu bạn bị khó ngủ thì việc tỉnh giấc giữa
            đêm sẽ khiến bạn khó ngủ lại đôi khi không ngủ được nữa.</font></span></p>
        <p class="MsoNormal" style="text-align:justify">
            <font style="margin:0px; padding:0px; font-weight:400" size="3" color="#000000">Ngoài ra việc ăn uống
                đúng giờ, không ăn tối quá muộn, ăn quá no sẽ khiến bạn đi vào giấc ngủ
                dễ dàng hơn. Ngoài chế độ ăn uống cũng kèm theo một số biện pháp để có
                giấc ngủ ngon và sâu như: đi bộ khoảng 30 phút vào buổi tối, ngâm chân
                bằng nước ấm trước khi ngủ…</font></p>
</font>
</font></h3>