﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <font color="#0000FF"></font></span>
    <h1 style="text-align: center">
        <font face="Times New Roman" size="5">Chế độ ăn uống kiêng kị cho
            bệnh táo bón</font></h1>
    <p class="MsoNormal" style="margin:2.55pt 0in; text-align:left">
        <img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/benh-tao-bon.jpg" title="Chế độ ăn bệnh táo bón" alt="Chế độ ăn bệnh táo bón" width="276" height="183" lowsrc="Chế%20độ%20ăn%20bệnh%20táo%20bón" longdesc="Chế độ ăn bệnh táo bón" align="left">Chứng táo bón là một trong các triệu chứng của bệnh
        đường ruột, bệnh trĩ, nhưng thường là do rối loạn chức năng ruột. Chứng
        táo bón thường gặp ở phụ nữ hơn nam giới, thường gặp ở những người lao
        động trí óc hơn những người lao động chân tay.&nbsp; </p>
    <p style="text-align: left"><span style="font-family: Times New Roman">&nbsp;&nbsp; &nbsp;<strong>Chế
        độ ăn chữa táo bón</strong>: </span></p>
    <p style="text-align: left">
		<span style="margin:0px; padding:0px; font-weight:400">Nguyên nhân chính dẫn đến
		chứng táo bón chủ yếu là chế độ ăn uống không hợp lý, do vậy chỉ cần
		điều chỉnh chế độ ăn đã có cải thiện đáng kể.</span></p>
    <p style="text-align: left">
		<span style="font-weight: 400; margin: 0px; padding: 0px">&nbsp;&nbsp;&nbsp;
		Uống đủ nước: Đa phần những người bị táo bón là do không uống
		đủ nước trong ngày. Uống không đủ nước dẫn đến giảm tỷ lệ nước trong
		thành phần của phân và gây táo bón. Bình thường trong thành phần của
		phân chứa khoảng 75-78% nước. Nếu tỷ lệ nước trong phân giảm xuống còn
		50% đã làm khối phân khó di chuyển theo ruột già, còn nếu tỷ lệ nước
		trong phân xuống còn 20% thì khối phân hoàn toàn bị tắc. Khuyến cáo
		lượng nước cần cho cơ thể mỗi ngày khoảng 2-2,5 lít (40ml/kg cân nặng,
		ví dụ cân nặng 50kg thì cần 2 lít nước/ngày), trong đó gồm nước có trong
		thức ăn (trong cơm, thức ăn, canh, trái cây...) và nước uống ở các dạng
		khác nhau (nước đun sôi để nguội, nước chè, nước hoa quả...).<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mỗi sáng ngay sau khi ngủ dậy,
		cần uống một cốc nước lạnh (nước sôi nguội, nước khoáng, nước quả) sẽ có
		tác dụng kích thích nhu động ruột và trong ngày uống 6-8 cốc nước ở các
		dạng khác nhau. Nếu lao động thể lực trong điều kiện nóng ẩm, những ngày
		mùa đông có độ ẩm thấp, phụ nữ đang cho con bú, người đang trong tình
		trạng sốt thì cần uống nước nhiều hơn.</span></p>
    <p style="text-align: left"><span style="font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;
		<strong>
            <img border="0" src="http://www.thaythuoccuaban.com/thuoc_chua_benh_viem_dau_images/che-do-an-tot-cho-benh-tao-bon.jpg" title="Chế độ ăn tốt cho bệnh táo bón" alt="Chế độ ăn tốt cho bệnh táo bón" width="250" height="179" lowsrc="Chế%20độ%20ăn%20tốt%20cho%20bệnh%20táo%20bón" longdesc="Chế độ ăn tốt cho bệnh táo bón" align="left">Tăng cường ăn các thức ăn có nhiều chất xơ:</strong> </span>
		<span style="margin:0px; padding:0px; font-weight:400">Rau xanh,
		hoa quả, trái cây khô, hạt ngũ cốc; ăn các chất lâu tiêu như bánh mỳ đen,
		gạo lức... Các thức ăn này chứa nhiều chất xơ và chất pectin tạo điều
		kiện thuận lợi cho các chủng vi khuẩn có lợi trong đường ruột phát triển,
		ức chế quá trình gây thối, ngoài ra các chất độc hại sẽ bám vào các chất
		xơ và được thải ra ngoài cơ thể. Ngoài ra, ăn các chất này làm tăng khối
		lượng phân – kích thích lên thành ruột, gây tăng nhu động ruột và gây
		cảm giác mót đại tiện.<br>
		Các thức ăn như các đồ dầm giấm, các đồ xông khói, thịt gân, thịt bạc
		nhạc cũng là các chất nhuận tràng. Cám gạo cũng rất tốt cho những người
		bị táo bón, 1 - 2 thìa cà phê/bữa, cho lẫn vào cơm, cháo hoặc pha với
		nước sôi.</span></p>
    <p style="text-align: left">
		<span style="margin:0px; padding:0px; font-weight:400">Ăn phải đúng giờ, tốt nhất
		là ăn rải bữa (4-5 bữa/ngày). Trước khi đi ngủ nên ăn một cốc sữa chua,
		dần dần sẽ cải thiện đáng kể chủng vi khuẩn có lợi trong ruột.</span></p>
    <p style="text-align: left">
		<span style="margin:0px; padding:0px; font-weight:400">Tăng cường ăn các thức ăn
		có chứa nhiều magiê như sữa, kê, đậu đũa, khoai lang và một số loại rau
		như rau đay, rau rền, mùng tơi, rau khoai lang, khoai sọ, đu đủ xanh,
		chuối tiêu. Như chúng ta đã biết, magiê có vai trò quan trọng trong việc
		nâng cao nhu động ruột.</span></p>
    <p style="text-align: left">
		<span style="margin:0px; padding:0px; font-weight:400">Duy trì đi đại tiện 1 lần/ngày,
		đi đúng giờ, tốt nhất là rèn thói quen đi vào buổi sáng hoặc chiều tối
		khi không vội vã. Khi đã có cảm giác mót đi thì dù bất cứ bởi nguyên
		nhân nào (muốn đi làm, muộn giờ tàu xe chạy, có điện thoại...) cũng
		không được nhịn, bởi vậy cần phải chủ động sắp xếp thời gian. Không rặn
		khi đi đại tiện để tránh các biến chứng như trĩ, nứt thành hậu môn, đi
		xong nên rửa hậu môn bằng nước lạnh.</span></p>
    <p style="text-align: left"><span style="font-family: Times New Roman">&nbsp;&nbsp; <b>&nbsp;&nbsp;&nbsp;
        Kiêng kỵ</b> ă</span><span style="margin:0px; padding:0px; font-weight:400">n các thức ăn tinh chế như cháo, súp đặc (khoai tây, cà
		rốt nghiền...), các thức ăn nhanh (fast food), các thức ăn nóng, các
		chất kích thích như hạt tiêu, ớt cay, nước chè đặc, ca cao, rượu nho đỏ.
		Hạn chế uống rượu, cà phê, hút thuốc.</span></p>
    <p style="text-align: left">
		<span style="margin:0px; padding:0px; font-weight:400"><br>
		Một số loại thuốc có thể gây táo bón như thuốc an thần, thuốc chống trầm
		cảm, thuốc chống nôn, thuốc lợi tiểu, thuốc chữa trị viêm loét dạ dày,
		thuốc hạ huyết áp. Nếu phải dùng thường xuyên một trong các loại thuốc
		này thì có thể phải dùng thêm thuốc nhuận tràng</span></p>


</h3>