﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
<font color="#000000" size="6">
</font><p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white"><font color="#000000" size="6">
    <b><span style="line-height: 150%; color: #333333">Chế độ ăn uống </span></b>

</font><font color="#0000ff">
    <font color="#333333" size="6">
			<span style="font-weight:700">
			cho bệnh đại tiện ra máu</span></font></font></p>

</font><font color="#000000" size="3">
    <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
        <img border="0" src="http://www.thaythuoccuaban.com/images/dai-tien-ra-mau.jpg" width="240" height="240" lowsrc="Đại%20tiện%20ra%20máu" longdesc="Đại tiện ra máu" alt="Đại tiện ra máu" align="left">Đại
        tiện ra máu là dấu hiệu của một số bệnh ở vùng hậu môn, trực tràng
        như: <span style="color: black; background: white">&nbsp;bệnh trĩ, Polip
			trực tràng và đại tràng, viêm, nứt kẽ ống hậu môn, viêm loét đại
			trực tràng chảy máu...</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
			<span style="color: black; background: white">Đại tiện ra máu thường
			có liên quan tới chứng táo bón. Do đó đối với bệnh đại tiện ra máu
			thì chế độ ăn uống là cực kỳ quan trọng. Dưới đây là hướng dẫn về
			chế độ ăn uống cho bệnh đại tiện ra máu.</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
        <b><span style="color: black; background: white">Những điều nên làm:</span></b></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 18.0pt; line-height: 150%">
			<span style="color: black; background: white">Uống nhiều nước: Mỗi
			ngày nên uống từ 1.5 đến 2 lít nước. Nước ngoài tác dụng thanh lọc
			cơ thể còn giúp phân mềm hơn, giảm sự cọ xát vào hậu môn khi đi
			ngoài, giảm tình trạng đại tiện ra máu.</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 18.0pt; line-height: 150%">
			<span style="color: black; background: white">Ăn nhiều chất xơ: &nbsp;vì
			</span><span style="color: black">chất xơ tham gia trữ nước đáng kể
			trong ruột, làm phân dễ bở ra nên dễ dàng khi di chuyển, giảm đại
			tiện ra máu. Một số loại hoa quả giàu chất xơ hạn chế đại tiện ra
			máu: </span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt">
			<span style="color: black">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span>Quả mận: </span>Mận và nước mận đã được sử dụng trong nhiều
        năm để giúp giảm táo bón. Trong mận có nhiều chất xơ không hòa tan
        cũng như thuốc nhuận tràng tự nhiên sorbitol. Người bị đại tiện ra
        máu có thể dùng mận tươi hoặc mận khô đều có tác dụng giúp nhuận
        tràng, tránh đại tiện ra máu.</p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt">
			<span style="color: black">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>Các loại đậu: Trong đậu chứa lượng chất xơ lớn cả loại
        chất xơ hòa tan và chất xơ không hòa tan giúp thực phẩm đi qua ruột
        một cách dễ dàng hơn.</p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt">
			<span style="color: black">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>Kiwi: Trong quả kiwi chứa khoảng 2.5g chất xơ và nhiều
        loại vitamin, dinh dưỡng quan trọng cho sức khỏe.</p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt">
			<span style="color: black">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>Lê: Mỗi quả lê chứa khoảng 5-6g chất xơ, chứa lượng
        nước dồi dào giúp nhuận tràng, giảm tình trạng đại tiện ra máu.</p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 18.0pt; line-height: 150%">
        Ngũ cốc nguyên hạt: chứa vitamin dồi dào, nhiều chất xơ, không chỉ
        tốt cho tim mạch mà còn tốt cho các bệnh đại tràng, đại tiện ra máu</p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 18.0pt; line-height: 150%">
        Sữa chua: Tốt cho tiêu hóa, tránh táo bón, phòng và hạn chế tình
        trạng đại tiện ra máu.</p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 18.0pt; line-height: 150%">
        Vận động thường xuyên giúp khí huyết lưu thông tránh táo bón.</p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
        <b>Những điều không nên làm:</b></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ăn nhiều các gia vị cay, nóng như: Ớt, hạt tiêu,.. tăng
        nguy cơ táo bón làm gia tăng tình trạng đại tiện ra máu.</p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ăn socola: làm chậm quá trình tiêu hóa, làm chậm các cơn
        co thắt cơ bắp (nhu động ruột) và do đó các loại thực phẩm di chuyển
        qua ruột khó khăn, gia tăng tình trạng táo bón, đại tiện ra máu.</p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tiêu thụ nhiều các sản phẩm từ sữa như phomat cũng làm gia
        tăng tình trạng táo bón, tăng nguy cơ đại tiện ra máu.</p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thịt đỏ: Là loại thực phẩm mất nhiều thời gian mới có thể
        tiêu hóa được. Các loại thịt màu đỏ có chứa các sợi protein làm quá
        trình tiêu hóa khó khăn hơn. Hơn nữa các loại thịt màu đỏ lại chứa
        hàm lượng sắt cao dễ gây táo bón.</p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
        Chuối xanh gây táo bón vì họ vẫn còn có rất nhiều tinh bột , có thể
        được khó khăn cho cơ thể tiêu hóa . Chuối cũng chứa pectin (chất xơ)
        thu hút nước từ ruột đối với phân. Vì thế những người đại tiện ra
        máu không được ăn chuối xanh.</p>
    <p class="MsoNormal" style="line-height: 150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Rượu bia,
        đồ uống có cồn: làm cơ thể bị mất nước, dễ gây táo bón, đại tiện ra
        máu.</p>
    <p class="MsoNormal" style="line-height: 150%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ngồi lâu
        một chỗ, ít vận động cũng là nguyên nhân làm gia tăng tình trạng táo
        bón, đại tiện ra máu.</p>
   </font>




</h3>