﻿<div id="noidung">


    <h1 style="text-align: center">&nbsp;<font size="5">Chế độ ăn uống cho bệnh tắc vòi trứng</font></h1>
    <font color="#000000" size="3"><font color="#000000" size="3"><font color="#000000" size="3">
    <p class="MsoNormal" style="text-align: justify; text-indent: 56.7pt; margin-right:4px; margin-top:0; margin-bottom:0" id="Hôi miệng, miệng hôi, hoi mieng, hoimieng">
		<span style="font-size: 13.0pt">
		<a href="Chế%20độ%20ăn%20cho%20bệnh%20tắc%20vòi%20trứng">
            <img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-tac-voi-trung.jpg" width="300" height="300" lowsrc="Chế%20độ%20ăn%20cho%20bệnh%20tắc%20vòi%20trứng" longdesc="Chế độ ăn cho bệnh tắc vòi trứng" alt="Chế độ ăn cho bệnh tắc vòi trứng" align="left"></a>Tắc
		vòi trứng là tình trạng vòi trứng bị chít hẹp, cản trở sự di chuyển của 
		trứng về tử cung. Vòi
		trứng là ống dẫn noãn từ buồng trứng tới tử cung, có một đầu hở mở vào ổ
		bụng để đón noãn còn đầu kia thông với buồng tử cung. Noãn và tinh trùng
		sẽ kết hợp tại vòi trứng tạo thành trứng đã thụ tinh, sau đó mới di
		chuyển vào buồng tử cung và làm tổ. Vòi trứng dài 10-12cm, gồm bốn đoạn
		là đoạn kẽ (nằm trong thành tử cung), đoạn eo, đoạn bóng và đoạn loa. Đoạn loa tỏa ra như hình phễu, có độ
		10-12 tua, mỗi tua dài 1-1,5 cm, có tác dụng đón bắt noãn. Một vòi trứng bình thường khi được soi ổ
		bụng chỉ gần bằng đầu nhỏ của chiếc đũa ăn cơm. Tuy nhiên nếu khi đã bị
		chít hẹp hay dính với các cơ quan khác thì vòi trứng đã nhỏ càng trở nên
		nhỏ hơn, có thể lòng vòi trứng chỉ còn bé như một sợi cước. Tình trạng
		này được phát hiện thông qua chụp cản quang tử cung – vòi trứng</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
        <b>
			<span style="font-size: 13.0pt; line-height: 150%; color: #424547">
			Những điều nên làm:</span></b></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt">
			<span style="font-size: 13.0pt; line-height: 150%; font-family: Symbol; color: #424547">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size: 13.0pt; line-height: 150%; color: #424547">
			Uống nhiều nước hơn.</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt">
			<span style="font-size: 13.0pt; line-height: 150%; font-family: Symbol; color: #424547">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span style="font-size: 13.0pt; line-height: 150%; color: #424547">Ăn nhiều quế, gừng và ớt cay có tác dụng cải thiện lưu lượng máu,
			tăng lưu thông khí huyết, phá vỡ tắc nghẽn ở vòi trứng. (Lưu ý những
			trường hợp người cơ địa nóng trong không nên dùng).</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt">
			<span style="font-size: 13.0pt; line-height: 150%; font-family: Symbol; color: #424547">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size: 13.0pt; line-height: 150%; color: #424547">
			Thêm tỏi vào bữa ăn hàng ngày giúp ngăn ngừa nhiễm trùng do vi khuẩn.</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt">
			<span style="font-size: 13.0pt; line-height: 150%; font-family: Symbol; color: #424547">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size: 13.0pt; line-height: 150%; color: #424547">
			Vệ sinh sạch sẽ vùng kín, tránh viêm nhiễm âm đạo, có thể gây viêm
			nhiễm ngược làm gia tăng tình trạng tắc vòi trứng.</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt">
			<span style="font-size: 13.0pt; line-height: 150%; font-family: Symbol; color: #424547">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size: 13.0pt; line-height: 150%; color: #424547">
			Làm massage bụng (có thể tự làm tại nhà theo hướng dẫn của các kĩ
			thuật viên).</span></p></font></font></font>
    <font color="#424547" style="font-size: 13pt">
    </font><p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt"><font color="#424547" style="font-size: 13pt">
			<span style="line-height: 150%; font-family: Symbol; color: #424547">
			<font color="#000000" size="3">
                -<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman">&nbsp;&nbsp;
			</span></font></span></font>
			<span style="font-style: normal; font-variant: normal; font-weight: normal; font-family: Times New Roman; line-height:150%; color:#424547">
			<font color="#000000" style="font-size: 13pt">
                Tập thể dục thường xuyên giúp tăng cường sức đề kháng, lưu thông khí
                huyết</font></span><font color="#424547"></font></p>
    <font color="#000000" size="3">
        <p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt">
			<span style="font-size: 13.0pt; line-height: 150%; font-family: Symbol; color: #424547">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size: 13.0pt; line-height: 150%; color: #424547">
			Châm cứu giúp máu và chất nhầy lưu thông tốt hơn.</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt">
			<span style="font-size: 13.0pt; line-height: 150%; font-family: Symbol; color: #424547">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size: 13.0pt; line-height: 150%; color: #424547">
			Hạn chế các thực phẩm sản xuất chất nhầy như: sữa, sữa đậu nành.</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt">
			<span style="font-size: 13.0pt; line-height: 150%; font-family: Symbol; color: #424547">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><font color="#424547" style="font-size: 13pt">
            Hạn chế các thực phẩm rán, cháy, thực phẩm chứa nhiều dầu mỡ</font></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt">
			<span style="font-size: 13.0pt; line-height: 150%; font-family: Symbol; color: #424547">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size: 13.0pt; line-height: 150%; color: #424547">
			Không hút thuốc lá.</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt">
			<span style="font-size: 13.0pt; line-height: 150%; font-family: Symbol; color: #424547">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size: 13.0pt; line-height: 150%; color: #424547">
			Ngừng uống rượu</span></p>
        <p class="MsoNormal" style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt">
			<span style="font-size: 13.0pt; line-height: 150%; font-family: Symbol; color: #424547">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size: 13.0pt; line-height: 150%; color: #424547">
			Nếu phải dùng thuốc cần tham khảo ý kiến thầy thuốc xem thuốc có ảnh
			hưởng đến quá trình sản xuất chất nhầy của cơ thể không.</span></p>




    </font></div>