﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b><span style="line-height: 150%; color: #333333">Chế độ ăn uống
			cho bệnh suy buồng trứng</span></b></p>
    <p class="MsoNormal" style="text-indent: 36.0pt; line-height: 150%">
			<span style="color: black; background: white">
			<img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-tot-cho-suy-buong-trung.jpg" width="259" height="194" lowsrc="Chế%20độ%20ăn%20tốt%20cho%20bệnh%20suy%20buồng%20trứng" longdesc="Chế độ ăn tốt cho bệnh suy buồng trứng" alt="Chế độ ăn tốt cho bệnh suy buồng trứng" align="left">Các nhà nghiên cứu đã
			chỉ ra rằng một trong những nguyên nhân gây suy buồng trứng sớm ở
			phụ nữ là do chế độ ăn uống, sinh hoạt, môi trường sống bị phơi
			nhiễm hóa chất độc hại, các loại chất phòng xạ. Lương y Nguyễn Hữu
			Toàn có đưa ra một số lời khuyên về chế độ ăn uống sinh hoạt cho phụ
			nữ có dấu hiệu suy buồng trứng sớm.</span></p>
    <p class="MsoNormal" style="text-indent: 36.0pt; line-height: 150%">
			<span style="color: black; background: white">Những bệnh nhân có dấu
			hiệu suy buồng trứng sớm, hoặc đang bị suy buồng trứng trước hết cần
			tránh xa môi trường bị phơi nhiễm bởi hóa chất độc hại, chất phóng
			xạ. Nên chọn nơi có môi trường sống trong lành.</span></p>
    <p class="MsoNormal" style="text-indent: 36.0pt; line-height: 150%">
			<span style="color: black; background: white">Tập thể dục đều đặn
			giúp có một cơ thể khỏe mạnh, giữ trọng lượng hợp lý.</span></p>
    <p class="MsoNormal" style="text-indent: 36.0pt; line-height: 150%">
			<span style="color: black; background: white">Hạn chế tối đa những
			căng thẳng, stress (vì đây là nguyên nhân gây rối loạn nội tiết,
			giảm tiết estrogen, rối loạn chức năng buồng trứng, suy hoặc teo
			buồng trứng sớm).</span></p>
    <p class="MsoNormal" style="text-indent: 36.0pt; line-height: 150%">
			<span style="color: black; background: white">Không hút thuốc lá,
			uống rượu bia, và sử dụng các chất kích thích.</span></p>
    <p class="MsoNormal" style="text-indent: 36.0pt; line-height: 150%">
        <b><span style="color: black; background: white">Về ăn uống:</span></b><span style="color: black; background: white">
			Nên ăn nhiều rau xanh, hoa quả tươi: đây là những thực phẩm giàu
			vitamin, khoáng chất, giúp tăng cường sức đề kháng cho cơ thể. Nên
			ăn đa dạng các loại rau, và hoa quả (tô màu cho bữa ăn) để cơ thể 
			không bị thiếu chất.</span></p>
    <p class="MsoNormal" style="text-indent: 36.0pt; line-height: 150%">
			<span style="color: black; background: white">Phụ nữ suy buồng trứng
			sớm nên ăn nhiều các thực phẩm giàu vitamin D và Canxi. Đây là hai
			thành phần đặc biệt quan trọng và cần thiết, giúp tái tạo estrogen
			cho cơ thể. Một số thực phẩm giàu canxi có lợi cho sức khỏe: cá hồi,
			sữa và các sản phẩm từ sữa, ngũ cốc nguyên hạt, đậu nành, hạt dẻ,
			một số loại rau xanh như súp lơ, rau dền,...</span></p>
    <p class="MsoNormal" style="text-indent: 36.0pt; line-height: 150%">
			<span style="color: black; background: white">Uống nhiều nước để bổ
			sung lượng nước cần thiết cho cơ thể.</span></p>


</font>
</h3>