﻿<div id="noidung">


    <h1>Chế độ ăn uống và sinh hoạt cho nam giới</h1>

    <p style="text-align: justify; text-indent: 14.0pt; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
            <a href="Chế%20độ%20ăn%20cho%20nam%20giới">
                <img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-tot-cho-nam-gioi.jpg" width="300" height="300" lowsrc="Chế%20độ%20ăn%20cho%20nam%20giới" longdesc="Chế độ ăn cho nam giới" alt="Chế độ ăn cho nam giới" align="left"></a>Để
            đ<span style="color:black">ảm bảo cho nam giới có một cơ thể khỏe mạnh
		cường tráng, duy trì khả năng tình dục với số lượng và chất lượng tinh
		trùng đảm bảo . Phòng khám Đông y Nguyễn Hữu Toàn khuyên Nam giới nên áp
		dụng một số nguyên tắc sau trong chế độ ăn và luyện tập hàng ngày:</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
            <strong><span style="color:black">&nbsp;</span></strong></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
            <strong><span style="color:black">Thực hiện chế độ ăn uống lành mạnh</span></strong></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">&nbsp;
        </p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">Thực ra chế độ ăn uống của chồng càng lành
		mạnh thì cơ hội có<span class="apple-converted-space">&nbsp;</span>thai<span class="apple-converted-space">&nbsp;</span>của
		người vợ càng tăng. Bởi chế độ ăn uống sẽ có tác động lớn đến chất lượng
		tinh trùng. Theo các nghiên cứu khoa học thì khoảng 32% các vấn đề về vô
		sinh là do nam giới. Vì thế, để mau chóng trong nhà có một em bé dễ
		thương và thông minh, bạn hãy chung tay lo cùng vợ từ bây giờ. Khi bạn
		muốn vợ mình thụ thai, chế độ ăn uống của bạn cũng nên đa dạng và nhiều
		dinh dưỡng như vợ bạn vậy. </span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
            <span style="color:black">&nbsp;</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
            <b><span style="color:black">Đảm bảo dinh dưỡng</span></b></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">&nbsp;
        </p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
		<span style="color:black">Về cơ bản, điều này có nghĩa là ăn nhiều trái
		cây, rau, các loại đậu, các sản phẩm từ sữa ít chất béo và thịt nạc. </span>
		<span style="font-size:12.0pt;color:black">Chế
		độ ăn có đầy đủ ngũ cốc ít chế biến, rau, trái cây có màu sắc tự nhiên (xanh
		- đỏ - tím - vàng), giàu chất xơ, vitamin C, vitamin nhóm B, vitamin E.
		Các thức ăn động vật như cá, thủy hải sản và chất béo cần được cung cấp
		ở mức độ vừa phải. Ngoài ra, có thể uống thêm vitamin C, E, kẽm và acid
		follic. Các vitamin này rất quan trọng trong việc sản xuất tinh trùng
		mới.</span></p>
        <p class="MsoNormal" style="margin-right:5.35pt;text-align:justify;text-indent:
14.0pt;vertical-align:baseline"><b><span style="font-size:12.0pt;color:black">
		Duy trì cân nặng</span></b></p>
        <p class="MsoNormal" style="margin-right:5.35pt;text-align:justify;text-indent:
14.0pt;vertical-align:baseline"><span style="font-size:12.0pt;color:black">Hãy
		duy trì cân nặng, không nên để quá béo hay quá gầy, vì nó có thể làm
		giảm số lượng tinh trùng và tăng tỷ lệ tinh trùng bất thường. Hãy chú ý
		chế độ dinh dưỡng đầy đủ đạm, tin bột, chất béo, đặc biệt là các vitamin
		khoáng chất có trong rau quả, trái cây. Đàn ông thường ít quan tâm đến
		ăn uống.</span><span style="color:black">&nbsp;</span></p>
        <p style="text-align: justify; text-indent: 14.0pt; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
            <b><span style="color:black">Ăn 6 lần một ngày</span></b></p>
        <p style="text-align: justify; text-indent: 14.0pt; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">&nbsp;
        </p>
        <p style="text-align: justify; text-indent: 14.0pt; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">Con người trên khắp thế giới đã quen với việc
		ăn 3 bữa một ngày – đó không phải là tốt lắm. Cơ thể chúng ta đã quen
		với việc chờ đợi các bữa ăn và sau đó là ăn. Bởi khoảng thời gian phải
		chờ đợi giữa 2 bữa ăn dài nên trong 3 bữa ăn này, chúng ta ăn nhiều hơn
		mức cần thiết. Thay vào thói quen này, bạn nên ăn 6 bữa nhỏ trong ngày.
		Đó là thủ thuật giúp các quý ông ăn kiêng, hạn chế thức ăn và không bị
		tăng cân quá mức.</span></p>
        <p style="text-align: justify; text-indent: 14.0pt; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
            <span style="color:black">&nbsp;</span></p>
        <p style="text-align: justify; text-indent: 14.0pt; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
            <b><span style="color:black">Uống một ly nước trước khi ăn</span></b></p>
        <p style="text-align: justify; text-indent: 14.0pt; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">&nbsp;
        </p>
        <p style="text-align: justify; text-indent: 14.0pt; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">Nếu bạn uống một ly nước đầy trước khi ngồi
		vào ăn, bạn sẽ không thể nào ăn được tất cả các món thức ăn như bạn đang
		ao ước. Làm vậy, bạn sẽ hạn chế được mức ăn của mình. Hơn nữa nhiều lần
		như vậy bạn nhận ra rằng, không phải thực phẩm là thứ duy nhất giúp bạn
		không còn cảm giác đói.</span></p>
        <p style="text-align: justify; text-indent: 14.0pt; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
            <span style="color:black">&nbsp;</span></p>
        <p style="text-align: justify; text-indent: 14.0pt; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
            <b><span style="color:black">Giã từ thức ăn nhanh</span></b></p>
        <p style="text-align: justify; text-indent: 14.0pt; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">&nbsp;
        </p>
        <p style="text-align: justify; text-indent: 14.0pt; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
		<span style="color:black">Nếu như trước đây bạn không ngại ngần chọn món
		bánh kẹp với khoai tây chiên để ăn trưa thì nay bạn nên từ bỏ thói quen
		đó, vì nó sẽ bất lợi cho sức khỏe của bạn trong thời gian dài. Các chất
		béo bão hòa và cacbon tiêu hóa nhanh sẽ khiến bạn khó chịu sau đó nhiều
		giờ.</span></p>
        <p class="MsoNormal" style="margin-right:5.35pt;text-align:justify;text-indent:
14.0pt;vertical-align:baseline"><b><span style="font-size:12.0pt;color:black">
		Luyện tập thể thao</span></b></p>
        <p class="MsoNormal" style="margin-right:5.35pt;text-align:justify;text-indent:
14.0pt;vertical-align:baseline"><span style="font-size:12.0pt;color:black">Tham
		gia luyện tập thể thao vừa với sức của mình, tránh luyện tập quá sức.
		Hoạt động thể lực quá sức làm giảm nội tiết tố nam (testosterone). Ngoài
		ra, nhiệt độ tạo ra lúc hoạt động thể lực quá sức làm tăng nhiệt độ ở
		bìu sẽ làm giảm khả năng sinh tinh trùng của tinh hoàn.</span></p>
        <p class="MsoNormal" style="margin-right:5.35pt;text-align:justify;text-indent:
14.0pt;vertical-align:baseline"><b><span style="font-size:12.0pt;color:black">
		Không ngâm nước nóng</span></b></p>
        <p class="MsoNormal" style="margin-right:5.35pt;text-align:justify;text-indent:
14.0pt;vertical-align:baseline"><span style="font-size:12.0pt;color:black">Tránh
		ngâm mình trong nước nóng quá lâu, nó có thể làm giảm đi số lượng tinh
		trùng. Cũng không nên mặc quần trong quần ngoài nhiều lớp, khi đó cũng
		sẽ làm nóng bộ phận sinh dục, hạn chế việc sản xuất tinh trùng. Tương tự,
		cũng không nên xông hơi và massage lâu. Chỉ nên mỗi tuần một lần là đủ.</span></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
            <strong><span style="color:black">Hạn chế rượu bia và cà phê</span></strong></p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">&nbsp;
        </p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
            Các nghiên cứu cho thấy, cà phê có thể giúp nâng cao khả năng di chuyển
            của tinh trùng. Tuy nhiên, uống quá nhiều rượu bia thì không phải là một
            ý tưởng hay. </p>
        <p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:14.0pt">
            Uống nhiều rượu bia có thể làm giảm nồng độ testosterone và cũng làm
            giảm số lượng và chất lượng tinh trùng. Người vừa hút thuốc vừa nghiện
            rượu đặc biệt có hại cho tinh trùng so với người chỉ nghiện một loại. Có
            thể thay rượu mạnh bằng rượu vang uống trước bữa ăn vừa kích thích ngon
            miệng và vừa có lợi cho sức khỏe.</p>
        <p class="MsoNormal" style="margin-right:5.35pt;text-align:justify;text-indent:
14.0pt;vertical-align:baseline"><b><span style="font-size:12.0pt;color:black">Bỏ
		hút thuốc</span></b></p>
        <p class="MsoNormal" style="margin-right:5.35pt;text-align:justify;text-indent:
14.0pt;vertical-align:baseline"><span style="font-size:12.0pt;color:black">Hút
		thuốc gây rối loạn chức năng cương dương. Tinh trùng của người nghiện
		thuốc lá có thể có hình thể bất thường và di chuyển chậm hơn so với
		những người không hút thuốc. Bỏ thuốc lá không chỉ tốt cho tinh trùng mà
		còn có lợi cho sức khỏe.</span></p>
</font>


</div>