﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <h1 style="text-align: center">
        <font size="5" color="#000080" face="Times New Roman">Chế độ ăn
            uống kiêng kị cho bệnh suy nhược cơ thể</font></h1>
    <p><strong style="font-weight: 400">
		<span style="font-family: Times New Roman">Cơ thể suy nhược là dấu hiệu
		cảnh báo sự giảm sút nghiêm trọng về sức khoẻ. Có thể nhận biết triệu
		chứng này dựa vào một số biểu hiện như: thiếu máu do thiếu sắt, hạ đường
		huyết, dị ứng với nhiều yếu tố môi trường, suy giảm miễn dịch, thay đổi
		nồng độ hormon tuyến yên.</span></strong><span style="font-family: Times New Roman">
		</span></p>
    <p><span style="font-family: Times New Roman">Ngoài ra bệnh nhân mắc
		chứng suy nhược cơ thể cũng có thể có những biểu hiện khác như: đau bụng,
		đau ngực, phù, ho kéo dài, tiêu chảy hoặc táo bón, chóng mặt, nhịp tim
		không đều, đau tai, buồn nôn, đổ mồ hôi ban đêm, mệt, sụt cân, thay đổi
		tâm lý như trầm cảm, dễ cáu kỉnh, lo âu... </span></p>
    <p><span style="font-family: Times New Roman">Cũng xin nói với bạn rằng
		hiện nay chưa có một minh chứng rõ ràng nào chứng tỏ rằng chế độ ăn uống
		có thể hoàn toàn cải thiện được tình trạng suy nhược của cơ thể. Tuy
		nhiên, chế độ ăn uống lại có những tác động trực tiếp tới việc cải thiện
		tính khí cũng như tâm trạng của người bệnh. Để nhanh chóng phục hồi về
		cả thể lực lẫn tâm trạng, bạn nên kết hợp điều trị theo hướng dẫn của
		bác sĩ và tuân thủ theo một chế độ ăn uống cân bằng và hoàn hảo bao gồm
		đầy đủ các loại vitamin và khoáng chất, axit béo có lợi và các chất xơ.</span></p>
    <p><span style="font-family: Times New Roman">Sau đây là một số những
		mẹo nhỏ giúp bạn nhanh chóng phục phồi sau khi bị suy nhược<u>:</u></span></p>
    <p><i><span style="font-family: Times New Roman">- Lựa chọn chế độ ăn
		điều độ và khoa học:</span></i><span style="font-family: Times New Roman">
		Điều này đồng nghĩa với việc bạn phải quan tâm tới lượng calo và chất
		béo mà cơ thể bạn thu nạp vào. Nên chú ý ăn bổ sung nhiều chất xơ, rau
		củ quả vàngũ cốc.</span></p>
    <p><i><span style="font-family: Times New Roman">- Hạn chế việc ăn uống
		theo sở thích nhất thời: </span></i>
		<span style="font-family: Times New Roman">Điều này có nghĩa là bạn cần
		phải "nghiêm khắc’ với bản thân trong việc ăn uống. Nên hạn chế thu nạp
		các loại thực phẩm có chứa nhiều chất béo và lượng đường lớn.</span></p>
    <p><i><span style="font-family: Times New Roman">- Ăn theo thời gian
		biểu:</span></i><span style="font-family: Times New Roman"> Điều này
		cũng rất quan trọng, giúp bạn nhanh chóng phục hồi sức khoẻ. Bạn hãy ăn
		vào cùng một điểm trong ngày. Theo các chuyên gia, tốt nhất bạn nên ăn 3
		bữa/ngày, có thể xen lẫn thêm với 2 bữa ăn phụ, và tuyệt đối lưu ý không
		nên bỏ bữa. </span></p>
    <p><i><span style="font-family: Times New Roman">- Tuân theo lời khuyên
		của bác sĩ: </span></i><span style="font-family: Times New Roman">Lời
		khuyên của bác sĩ đối với bạn là điều rất quan trọng mà bạn cần lưu tâm,
		đặc biệt trong những trường hợp bạn là người mắc bệnh tiểu đường hoặc
		tim mạch. Khi mắc những căn bệnh nan y này, bạn cần tuyệt đối thực hiện
		theo lời khuyên của bác sĩ về chế độ ăn uống. Đừng ngại ngần và hỏi bác
		sĩ về bất cứ thắc mắc nào liên quan đến dinh dưỡng.</span></p>
    <p><i><span style="font-family: Times New Roman">- Tránh xa rượu và
		thuốc lá:</span></i><span style="font-family: Times New Roman"> Thuốc lá
		và rượu luôn là "kẻ thù" đối với sức khoẻ và bạn có biết rằng chúng cũng
		là "thủ phạm" có thể tương tác với các loại thuốc chống suy nhược và gây
		ảnh hưởng đến tác dụng điều trị của thuốc. Chính vì thế, đây là thời
		điểm bạn cần phải “đoạn tuyệt” với rượu và thuốc lá hơn bao giờ hết.</span></p>
    <p><i><span style="font-family: Times New Roman">- Cắt giảm lượng cafein:</span></i><span style="font-family: Times New Roman">
		Lý do là bởi cafein được xem như một chất kích thích, nó có thể khiến
		cho bạn mất ngủ và rơi vào trạng thái tâm lý bất an. Cho nên bạn nên cắt
		giảm việc thu nạp hàm lượng cafein vào trong cơ thể, bên cạnh đó cũng
		nên hạn chế các loại đồ uống như trà, soda và ăn socola.</span></p>
    <p><i><span style="font-family: Times New Roman">- Hỏi ý kiến bác sĩ về
		việc bổ sung omega-3:</span></i><span style="font-family: Times New Roman">
		Nhiều bằng chứng đã chỉ ra rằng omega-3 được tìm thấy trong các loại cá,
		quả óc chó, đậu tương, hạt lanh và một số nhóm thực phẩm khác. Đây cũng
		là loại axit béo cơ thể không có khả năng tự tổng hợp được và giúp cải
		thiện tâm trạng cũng như tính khí. Tuy nhiên, về liều lượng và cách thức
		bổ sung loại axit béo này như thế nào bạn cần tham khảo thêm ý kiến của
		bác sĩ chuyên khoa. </span></p>
    <p><i><span style="font-family: Times New Roman">- Hãy thông báo với bác
		sĩ về sự thay đổi vị giác của bạn:</span></i><span style="font-family: Times New Roman">
		Khi bị suy nhược hay đang trong giai đoạn điều trị chứng bệnh này có thể
		bạn có thể bị tăng hoặc giảm cân. Nếu điều này thực sự là vấn đề của bạn
		thì hãy gặp bác sĩ chăm sóc sức khoẻ ngay.</span></p>




</font></h3>