﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <font color="#000000" size="5">
    <p class="MsoNormal" style="text-align: center"><b>Chế độ ăn cho
        bệnh đau dây thần kinh số 5</b></p>

</font><font color="#000000" size="5">
    <p class="MsoNormal" style="text-align: justify">
			<span style="font-size: 14.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Đau dây thần kinh số 5 (đau
			dây thần kinh tam thoa, đau dây thần kinh sinh ba) là bệnh thường
			gặp ở phụ nữ tuổi trung niên. Ngoài việc điều trị bằng thuốc, kết
			hợp với châm cứu thì chế độ ăn uống lành mạnh cũng góp phần quan
			trọng trong việc giảm bớt triệu chứng khó chịu của bệnh. Với kinh
			nghiệm lâu đời điều trị viêm dây thần kinh số 5, phòng khám Đông y
			Nguyễn Hữu Toàn đưa ra lời khuyên cho bệnh nhân đau dây thần kinh số
			5.</span></p>
    <p class="MsoNormal" style="text-align: justify">
        <span style="font-size: 14.0pt">Những thực phẩm nên ăn:</span></p>
    <p class="MsoNormal" style="text-align: justify">
			<span style="font-size: 14.0pt">Nên ăn các thực phẩm giàu vitamin B
			và chất xơ vì thiếu hụt vitamin B là nguyên nhân gây đau dây thần
			kinh, còn chất xơ giúp thúc đẩy sự thèm ăn giúp duy trì một trọng
			lượng cơ thể khỏe mạnh và phù hợp. Do đó người bị đau thần kinh số 5
			nên ăn các loại gũ cốc nguyên hạt vì chúng chứa hàm lượng dinh dưỡng
			cao, cung cấp lượng vitamin B và chất xơ nhiều hơn so với các loại
			ngũ cốc tinh chế. &nbsp;Một số thực phẩm giàu vitamin B và chất xơ: lúa
			mạch, yến mạch, gạo lứt...</span></p>
    <p class="MsoNormal" style="text-align: justify">
			<span style="font-size: 14.0pt">Omega-3. Omega 3 có nhiều trong các
			loại cá như: cá hồi, cá thu... Omega 3 có tác dụng giảm viêm hiệu
			quả, giảm đau do viêm dây thần kinh số 5 gây ra. </span></p>
    <p class="MsoNormal" style="text-align: justify">
			<span style="font-size: 14.0pt">Vitamin B-12. Nhiều nghiên cứu đã
			chỉ ra rằng những người bị các bệnh lý về đau dây thần kinh thường
			bị thiếu hụt vitamin B12. Do đó người bệnh bị đau dây thần kinh số 5
			nên sử dụng các sản phẩm chứa nhiều vitamin B12 như: thịt nạc, sữa
			ít béo, cá trứng, ngũ cốc...</span></p>
    <p class="MsoNormal" style="text-align: justify">
			<span style="font-size: 14.0pt">Protein: giúp giảm bớt các vấn đề
			thần kinh bằng cách tăng cường chức năng miễn dịch và sửa chữa mô.
			(có trong sữa, đậu nành,...)</span></p>
    <p class="MsoNormal" style="text-align: justify">
			<span style="font-size: 14.0pt">Chất chống oxy hóa: Trái cây và rau
			quả cung cấp lượng chất xơ phong phú, hỗ trợ đường máu, kiểm soát sự
			thèm ăn. Các loại trái cây nên dùng: trái cây họ cam quýt, mâm xôi,
			khoai lang, đậu hà lan, bí xanh, ớt chuông, cà chua, các loại rau lá
			xanh. </span></p>
    <p class="MsoNormal" style="text-align: justify">
        <span style="font-size: 14.0pt">Những thực phẩm nên hạn chế:</span></p>
    <p class="MsoNormal" style="text-align: justify">
			<span style="font-size: 14.0pt">Nên hạn chế thịt mỡ, thịt bò, thịt
			xông khói, gà rán... vì những thực phẩm này làm gia tăng tình trạng
			viêm dây thần kinh số 5, kích thích cơn đau diễn ra nhiều hơn.</span></p>
    <p class="MsoNormal" style="text-align: justify">
			<span style="font-size: 14.0pt">Nên hạn chế các loại đồ uống có cồn,
			có ga: bia rượu, nước ngọt làm tăng tình trạng viêm nhiễm.</span></p>
    <p class="MsoNormal" style="text-align: justify">
			<span style="font-size: 14.0pt">Hạn chế đồ cay nóng như ớt hạt tiêu:
			gây kích thích hệ thống thần kinh</span></p>
    <p class="MsoNormal" style="text-align: justify">
			<span style="font-size: 14.0pt">Hạn chế các chất chứa cafein gây
			kích thích thần kinh.</span></p>
    <p class="MsoNormal" style="text-align: justify">
			<span style="font-size: 14.0pt">Trên đây là một số lưu ý về chế độ
			ăn uống cho bệnh đau dây thần kinh số 5.</span></p>
</font>
    </h3>