﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <font color="#000000" size="5">
    <p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b><span style="line-height: 150%; color: #333333">Chế độ ăn uống
			sau phẫu thuật polyp hậu môn</span></b></p>
    <p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        &nbsp;</p>

</font><font color="#000000" size="6">
    
</font><font color="#000000" size="3">
    <p style="line-height: 150%; margin-top:0; margin-bottom:0" align="left">&nbsp;&nbsp;&nbsp; Polyp hậu môn có thể xảy ra ở trong hoặc
        bên ngoài hậu môn. Polyp hậu môn là kết quả của tình trạng viêm
        nhiễm kéo dài ở hậu môn gây nên. Polyp hậu môn không thể tự khỏi
        được mà cần được điều trị, nếu không có thể trở nên viêm nhiễm nặng
        ảnh hưởng đến quá trình lưu thông máu, hoặc có thể biến chứng thành
        ung thư hậu môn, trực tràng. Hiện tại phương pháp điều trị polyp hậu
        môn có hiệu quả nhất là phẫu thuật nội soi. Tuy nhiên polyp hậu môn
        dễ tái phát lại sau khi phẫu thuật. Vì thế sau phẫu thuật cần giữ
        gìn vệ sinh sạch sẽ, thường xuyên theo dõi, kiểm tra để tránh biến
        chứng.</p>
    <p style="line-height: 150%; margin-top:0; margin-bottom:0" align="left">
        Dưới đây là một số lưu
        ý về chế độ ăn uống sau khi phẫu thuật polyp hậu môn:</p>
    <p style="line-height: 150%; margin-top:0; margin-bottom:0" align="left">
        &nbsp;&nbsp;&nbsp; Theo Lương y Nguyễn
        Hữu Toàn bệnh nhân sau khi được phẫu thuật polyp hậu môn, trực tràng
        cơ thể còn yếu, ăn uống có liên quan trực tiếp tới vấn đề tiêu hóa,
        do đó cần phải thận trọng với những thực phẩm sau khi phẫu thuật.</p>
    <p style="line-height: 150%; margin-top:0; margin-bottom:0" align="left">
        &nbsp;&nbsp;&nbsp; Khi mới phẫu thuật
        xong bệnh nhân không được ăn, sau khi rút ống dạ dày ra có thể uống
        một ít nước, mỗi lần 4-5 muỗng canh, 2 tiếng 1 lần. &nbsp;Nếu không thấy
        phản ứng nào khó chịu, mỗi ngày có thể uống một lượng vừa đủ, 50ml-
        80ml một lần.</p>
    <p style="line-height: 150%; margin-top:0; margin-bottom:0" align="left">
        &nbsp;&nbsp;&nbsp; Sau 3 ngày phẫu thuật
        có thể uống cả lượng, mỗi lần 100- 150 ml, mỗi ngày 6-7 lần. Tuy
        nhiên cần lưu ý: không ăn uống đồ ăn có chất kích thích, uống chất
        lỏng, ăn ít và ăn thành nhiều bữa, cứ 2-3 tiếng ăn một lần, không ăn
        đồ quá ngọt, ví dụ như: canh trứng gà, canh rau, bột sen... Sau khi
        ăn xong nên nằm nghỉ 20-30 phút.</p>
    <p style="line-height: 150%; margin-top:0; margin-bottom:0" align="left">
        &nbsp;&nbsp;&nbsp; Nếu sau khi phẫu thuật
        bệnh nhân hồi phục, không có biểu hiện bất thường thì sau 2 tuần có
        thể ăn thức ăn ít chất béo dạng đặc như: cơm nhão, mì sợi, bánh bao...,
        mỗi ngày 5-6 bữa, nguyên tắc ăn uống là: thức ăn dạng đặc, hàm lượng
        protein vừa đủ nhu cầu bình thường, hàm lượng chất xơ ít, ăn ít và
        ăn thành nhiều bữa.</p>
    <p style="line-height: 150%; margin-top:0; margin-bottom:0" align="left">
        &nbsp;&nbsp;&nbsp; Người bệnh sau khi
        xuất viện có thể ăn cơm nát, thức ăn chủ yếu nên nhiều dinh dưỡng,
        dễ tiêu hóa, không nên ăn những thức ăn lạnh, chiên dầu mỡ, chua
        cay... dễ làm căng chướng bụng, người bệnh nên ăn chậm, ăn nhiều rau,
        hoa quả tươi, không ăn thực phẩm nhiều chất béo, bổ sung hợp lý sắt
        và các vitamin, không hút thuốc, không uống rượu, ăn uống điều độ, 3
        -6 tháng sau khi phẫu thuật, tùy theo trạng thái hồi phục của cơ thể
        để trở lại chế đô ăn bình thường.</p>
    <p style="line-height: 150%; margin-top:0; margin-bottom:0" align="left">
        &nbsp;&nbsp;&nbsp; Người bệnh nên ăn uống
        sao cho không gây cảm giác khó chịu cho mình, nguyên tắc ăn uống nên
        chọn những thức ăn ít chất bã, ôn hòa, dễ tiêu hóa, ăn ít và ăn
        thành nhiều bữa, tránh ăn quá ngọt, quá mặn, quá nồng. Nếu ăn xong
        thấy buồn nôn, chướng bụng thì không nên tiếp tục ăn nữa.</p>




</h3>