﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
<font color="#000000" size="5">
</font><p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white"><font color="#000000" size="5">
    <b><span style="line-height: 150%; color: #333333">Chế độ ăn uống
			cho bệnh </span></b>

</font><font color="#0000ff">
			<span style="font-weight:700">
			<font color="#333333" size="5">
                suy nhược thần kin</font><font color="#333333" size="6">h</font></span></font></p>

</font><font color="#000000" size="3">
    <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt">
        <img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-suy-nhuoc-than-kinh.jpg" width="316" height="240" lowsrc="Chế%20độ%20ăn%20bệnh%20suy%20nhược%20thần%20kinh" longdesc="Chế độ ăn bệnh suy nhược thần kinh" alt="Chế độ ăn bệnh suy nhược thần kinh" align="left">Suy
        nhược thần kinh là tình trạng rối loạn chức năng của vỏ não do tế
        bào não làm việc quá căng thẳng, sinh ra quá tải và suy nhược làm
        ảnh hưởng đến quá trình phục hồi và nghỉ ngơi của cơ thể.&nbsp; Tùy theo
        cơ địa và môi trường sinh hoạt của mỗi người, suy nhược thần kinh có
        thể biểu hiện bằng nhiều triệu chứng khác nhau như mệt mõi dễ cáu
        gắt, nhức đầu, khó ngủ, đau gáy, hay hồi hộp, lo sợ, kém ăn, táo bón...
        suy nhược thần kinh kéo dài sẽ dẫn đến hư tổn cả khí lẫn huyết và
        làm giảm sức đề kháng của cơ thể, là nguồn gốc của mhiều chứng bệnh
        nghiêm trọng khác, kể cả tim mạch, tiểu đường và ung thư.</p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 37.4pt">
			<span style="color:black">Theo Lương y Nguyễn Hữu Toàn suy nhược
			thần kinh thuộc phạm vi chứng: kinh quý, chính xung, kiện vong, thất
			miên... Suy nhược thần kinh ngoài do nguyên nhân cơ địa thần kinh
			của người bệnh yếu, do tiên thiên bất túc, thì suy nhược thần kinh
			chủ yếu do </span><span style="color:#003333">người bệnh phải trãi
			qua những giai đoạn sang chấn tinh thần kéo dài hoặc lập đi lập lại
			nhiều lần dẫn đến rối loạn công năng của các tạng phủ, đặc biệt là
			Tâm, Can, Tỳ và Thận.</span></p>
    <p style="text-align: justify; text-indent: 36.0pt; vertical-align: baseline; margin-top: 0cm; background: white">
        Bệnh nhân bị suy nhược thần kinh thường có biểu hiện váng đầu, u
        tai, mệt mỏi, dễ cáu gắt, mất ngủ, hồi hộp, tim đập nhanh, ăn kém,
        lo âu,... Suy nhược thần kinh nếu không được điều trị sớm sẽ dẫn tới
        tổn thương nặng nề hệ thần kinh, gây rối loạn một số chức năng của
        cơ thể. Suy nhược thần kinh có liên quan chặt chẽ tới bệnh trầm cảm.</p>
    <p style="text-align: justify; text-indent: 36.0pt; vertical-align: baseline; margin-top: 0cm; background: white">
        Suy nhược thần kinh ngoài việc điều trị bằng thuốc đông y sắc uống
        hàng ngày cần kết hợp với một số phương pháp như châm cứu, bấm huyệt
        giúp thư giãn và lưu thông khí huyết, có chế độ ăn uống thích hợp để
        bồi bổ, tăng cường sức khỏe.</p>
    <p style="text-align: justify; text-indent: 36.0pt; vertical-align: baseline; margin-top: 0cm; background: white">
        Bệnh nhân suy nhược thần kinh cần có chế độ ăn uống hợp lý:</p>
    <p style="text-align: justify; vertical-align: baseline; margin-top: 0cm; background: white">
        Hạn chế uống bia, rượu, đồ uống có ga, cồn... vì những đồ uống này
        dễ gây hưng phấn thần kinh, khiến tình trạng căng thẳng của bệnh
        nhân trở nên trầm trọng hơn.</p>
    <p style="text-align: justify; vertical-align: baseline; margin-top: 0cm; background: white">
        Không hút thuốc lá.</p>
    <p style="text-align: justify; vertical-align: baseline; margin-top: 0cm; background: white">
        Ăn nhiều rau xanh, hoa quả tươi như chuối, đu đủ chín, cam, dứa, các
        món ăn dễ tiêu hóa. Hạn chế những đồ ăn rán, xào, đồ ăn nhiều mỡ,
        nhiều dầu, đặc biệt là ăn vào buổi tối, làm khó ngủ, khiến thần kinh
        căng thẳng.</p>
    <p style="text-align: justify; vertical-align: baseline; margin-top: 0cm; background: white">
        Giữ tinh thần thoải mái, tránh căng thẳng, stress khiến tình trạng
        căng thẳng thần kinh càng trở nên trầm trọng hơn.</p>
    <p style="text-align: justify; vertical-align: baseline; margin-top: 0cm; background: white">
        Tập thể dục nhẹ nhàng như: đạp xe, đi bộ, yoga, ngồi thiền, tập khí
        công,...giảm căng thẳng, stress giúp thư giãn là cách chữa bệnh suy
        nhược thần kinh tốt nhất.</p>
    <p style="text-align: justify; text-indent: 36.0pt; vertical-align: baseline; margin-top: 0cm; background: white">
        <b>Hướng dẫn một số món ăn bài thuốc tốt cho bệnh suy nhược thần
            kinh:</b></p>
    <p style="text-align: justify; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Chè long nhãn - hạt sen:&nbsp;long nhãn 20g, hạt sen 20g, dây bột sắn 2
        thìa cà phê, đường trắng vừa đủ. Long nhãn rửa qua nước ấm, hạt sen
        rửa sạch. Hai thứ cho vào nồi thêm nước hầm nhừ, hòa bột sắn dây đun
        sôi lại rồi cho đường là được. Ăn ngày 2 lần (ăn nguội).&nbsp;</p>
    <p style="text-align: justify; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Cháo tim lợn táo nhân:&nbsp;tim lợn 1 quả, gạo tẻ 100g, táo nhân 20g, rau
        thơm, gia vị vừa đủ. Táo nhân sao đen, sắc lọc lấy nước bỏ bã. Tim
        lợn thái lát mỏng ướp gia vị mắm muối, để riêng. Lấy nước thuốc cùng
        gạo nấu cháo cho chín kỹ rồi cho tim lợn vào, đun cho sôi đều một
        lát là được, nêm gia vị, hành hoa, chanh ớt ăn nóng.</p>
    <p style="text-align: justify; vertical-align: baseline; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        Cháo óc lợn - sâm quy:&nbsp;óc lợn 1 cái, phòng sâm 15g, đương quy 15g,
        rễ đinh lăng 15g, gạo tẻ 100g, gia vị vừa đủ. Phòng sâm, đương quy,
        rễ đinh lăng sắc kỹ lọc lấy nước bỏ bã, dùng nước thuốc này cùng gạo
        nấu thành cháo, khi cháo gần chín cho óc lợn vào, đun tiếp cho tới
        khi chín đều, nêm gia vị, hành hoa, chanh ớt ăn nóng.</p>
    <p class="MsoNormal" style="text-align:justify">Canh nấm đầu khỉ,
        thịt gà:&nbsp; Thịt gà 300g, nấm đầu khỉ 100g. Thịt gà thái thành miếng,
        nấm đầu khỉ rửa sạch cắt miếng mỏng, nấu thành canh, cho gia vị vào
        là ăn được, ăn liên tục trong mấy ngày. Thịt gà có hàm lượng protein
        phong phú, cơ thể dễ hấp thu. Nấm đầu khỉ có chứa nhiều axit amin và
        vitamin, nhiều hoạt chất sinh học có thể trị chứng rối loạn thần
        kinh chức năng, cơ thể suy nhược.</p>
    <p class="MsoNormal" style="text-align:justify">Táo đỏ, câu kỷ tử
        nấu trứng gà:&nbsp; Táo đỏ 7 quả, câu kỷ tử 20g, trứng gà 2 quả. Cùng nấu
        3 nguyên liệu trên với nhau, khi trứng chín bỏ vỏ rồi đun thêm một
        lúc, ăn trứng uống canh, ăn liên tục. Tác dụng kiện não ích khí,
        thích hợp với người bị mất ngủ, hay quên do suy nhược thần kinh.</p>
    <p class="MsoNormal" style="text-align:justify">Dâu tươi đường kính:&nbsp;
        Quả dâu tươi 1kg, đường trắng 1kg. Quả dâu rửa sạch, để ráo nước.
        Cho vào nồi, cho thêm 1,5 lít nước đun sôi trong 30 phút. Cho vào
        máy xay sinh tố xay nhuyễn rồi cho đường vào. Đun nhỏ lửa, khuấy
        liên tục cho tới khi tạo thành khối dẻo. Mỗi ngày ăn 2 lần sáng tối,
        mỗi lần 30g (2 thìa.)</p>




</h3>