﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
<font color="#000000" size="5">
    <p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b><span style="line-height: 150%; color: #333333">Chế độ ăn uống
			khi bị stress</span></b></p>

</font>
    <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%"><font color="#000000" size="3">
			<span style="color: #003333">
			<a href="Đậu%20nành%20giảm%20stress%20hiệu%20quả">
                <img border="0" src="http://www.thaythuoccuaban.com/images/dau-nanh-giam-stress.jpg" width="320" height="192" lowsrc="Đậu%20nành%20giảm%20stress%20hiệu%20quả" longdesc="Đậu nành giảm stress hiệu quả" alt="Đậu nành giảm stress hiệu quả" align="left"></a></span></font><span style="color: #003333"><font color="#000000" size="4">Stress
    là bệnh thường gặp ở xã hội hiện đại. Hiện nay ngày càng có nhiều
    người bị stress, đa số khi bị stress người bệnh thường tìm đến một
    số phương pháp tập luyện thể dục, giúp thư giãn, và giảm stress mà
    ít quan tâm tới chế độ dinh dưỡng.</font></span><font color="#000000" size="4"></font></p><font color="#000000" size="4">
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
			<span style="color: #003333">Dưới đây là một số lưu ý về chế độ ăn
			uống giúp giảm stress một cách hiệu quả:</span></p>
    <p class="MsoNormal" style="text-align: justify; line-height: 150%">
        <b><span style="color: #003333">&nbsp;&nbsp;&nbsp; Những thực phẩm
			nên ăn khi bị stress:</span></b></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
			<span style="color: #003333">Người bị stress cần tiêu thụ đủ lượng
			carbohydrate phức hợp từ những loại ngũ cốc như gạo
			lức, bột mì, bột ngũ cốc, yến mạch, lúa mì... Ngoài những vi chất bổ
			ích khác, ngũ cốc và các loại hạt có nhiều chất xơ vừa&nbsp; giúp chuyển
			hoá mỡ vừa điều tiết sự hấp thu chất đường, yếu tố quan trọng để
			điều hoà nội tiết, kiểm soát cảm xúc, giúp giảm stress hiệu quả.</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
			<span style="color: #003333">Nên ăn nhiều các thực phẩm có hàm lượng
			đạm dễ hấp thụ như: Tôm, cua, cá,... đặc biệt là đạm có nguồn gốc
			thực vật như đậu nành. Các loại thực phẩm này giàu chất kẽm, vitamin
			B, selen, acid béo, acid amino, trytophan. Hoạt động của tế bào não
			cần nhiều loại protein thiết yếu khác nhau, đặc biệt là tryptophan.
			&nbsp;Khi vào cơ thể, tryptophan sẽ được chuyển hoá thành serotonin có
			tác dụng làm tăng cảm giác hưng phấn, lạc quan.</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
			<span style="color: #003333">Ăn nhiều các loại hoa quả, rau xanh, củ
			như: quả mâm xôi, khoai tây, chuối, quả bơ, cam, quýt, kiwi. Những
			loại quả này giàu vitamin C, Vitamin B, kali, axit amino... giúp làm
			dịu hệ thần kinh.</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
			<span style="color: #003333">Các sản phẩm từ bơ, sữa ít béo sẽ bổ
			sung lượng canxi đầy đủ cho cơ thể.</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
			<span style="color: #003333">Ăn nhiều các loại đậu, hạt. Đây là
			nguồn cung cấp acid amino, vitamin B, canxi, magnesium, carbon-hydrat
			hỗn hợp. Sự thiếu hụt một số chất khoáng quan trọng như magnesium và
			calcium cũng dễ gây ra những triệu chứng căng thẳng, lo sợ hoặc suy
			giảm trí nhớ.</span></p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
        <b>Những thực phẩm không nên ăn khi bị stress:</b> Những thực phẩm
        này làm gia tăng tình trạng căng thẳng, mệt mỏi do hấp thu các năng
        lượng và chất dinh dưỡng dự trữ trong cơ thể, hoặc sản sinh ra các
        hoóc môn gây stress, làm cho hệ thần kinh bị kích thích.</p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
        Đồ uống có cồn: Các loại thức uống chứa cồn thường có tác dụng lợi
        tiểu nhưng lại nhanh chóng tiêu thụ hết các chất dinh dưỡng dự trữ
        đóng vai trò sống còn trong việc phòng chống stress như vitamin B,
        magiê và kẽm.</p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
        <em><span style="color: #003333">Caffeine</span></em>: Có trong trà,
        cà phê, chocolate và một số loại thức uống có ga. Caffeine hoạt động
        như một chất kích thích thúc đẩy quá trình trao đổi chất và giải
        phóng các hoóc môn gây stress như adrenaline, cortisol... dẫn đến
        kết quả là hệ tiêu hóa hoạt động kém, huyết áp cao, nhịp tim tăng,
        cơ thể bị mệt mỏi kéo dài.</p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
        <em><span style="color: #003333">Đường tinh chế và carbon-hydrat</span></em>:
        Việc ăn quá nhiều bánh kẹo ngọt, bánh biscuit, đồ uống có đường...
        không chỉ làm tiêu hủy hết các chất dinh dưỡng đang tồn tại mà còn
        tăng hàm lượng đường trong máu, tạo thêm áp lực cho gan, đồng thời
        phá vỡ sự cân bằng hàm lượng insulin trong cơ thể. Tất cả gây nên sự
        bất ổn định về mặt tâm lý, hay lo lắng, mệt mỏi.</p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
        <em><span style="color: #003333">Thức ăn nhanh và thực phẩm chế biến
			sẵn</span></em>: Thường được thêm một số hóa chất có tác dụng bảo
        quản, nhiều đường và mỡ bão hòa nhưng lại ít chất dinh dưỡng cần
        thiết. Vì thế, chúng làm cho hệ thần kinh bị kích thích mạnh.</p>
    <p class="MsoNormal" style="text-align: justify; text-indent: 36.0pt; line-height: 150%">
        <em><span style="color: #003333">Mỡ không bão hòa</span></em><span style="color: #003333">:
			Việc ăn nhiều thứ có hàm lượng mỡ không bão hòa cao như món rán,
			bánh nướng, fastfood, thịt và thực phẩm chế biến từ bơ sữa... sẽ gây
			khó khăn cho cơ thể trong việc tiêu hóa, hấp thụ các chất dinh dưỡng
			và carbon-hydrat.</span></p>
</font>

</h3>