﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <p style="margin-top: 0; margin-bottom: 0" align="center">
        <b>
            <font size="5" color="#000080">Chế độ ăn uống
                cho trẻ bị tiêu chảy cấp</font></b></p><font color="#000000" size="3">
    <p class="MsoBodyTextIndent" id="Tiêu chảy cấp, tieu chay cap, tieuchaycap" align="justify">
		<span style="font-weight: 400">
		<font color="#0033CC" size="3" face="Times New Roman">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </font></span>
		<span style="font-size:13.0pt; line-height:150%" class="apple-converted-space">
		<a href="Chế%20độ%20ăn%20cho%20trẻ%20bị%20tiêu%20chảy%20cấp">
            <img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-cho-benh-tieu-chay-cap.jpg" width="300" height="300" lowsrc="Chế%20độ%20ăn%20cho%20trẻ%20bị%20tiêu%20chảy%20cấp" longdesc="Chế độ ăn cho trẻ bị tiêu chảy cấp" alt="Chế độ ăn cho trẻ bị tiêu chảy cấp" align="left"></a>Mặc dầu trong thời gian bị tiêu chảy cấp, quá trình hấp thu thức ăn có
		giảm hơn bình thường, nhưng vẫn hấp thu qua ruột 60%, do vậy trong suốt
		quá trình tiêu chảy cần cho trẻ ăn đủ khẩu phần, không được bắt trẻ nhịn,
		kiêng khem, thì trọng lượng cơ thể sẽ tiếp tục tăng với tốc độ gần như
		bình thường. Nếu không ăn đủ khẩu phần trẻ sẽ bị sụt cân dẫn đến suy
		dinh dưỡng.</span></p>
    <p class="pltitle" align="justify">
		<span class="apple-converted-space">
		<span style="font-size: 13.0pt; line-height: 150%; font-weight: 700">Các
		thực phẩm nên dùng khi trẻ bị tiêu chảy</span></span></p>
    <p class="pbody" align="justify">
		<span style="font-size:13.0pt; line-height:150%" class="apple-converted-space">
		Gạo (bột gạo),
		khoai tây. Thịt gà nạc, thịt lợn nạc, cá nạc. Sữa đậu tương (đậu nành),
		sữa chua, sữa có ít hoặc không có lactoza. Dầu thực vật. Cà rốt, hồng
		xiêm, chuối, táo.</span></p>
    <p class="pbody" align="justify">
        <span style="font-weight: 700; font-size:13.0pt; line-height:150%" class="apple-converted-space">Trẻ nhỏ dưới 6 tháng tuổi đang bú mẹ:</span></p>
    <p class="pbody" align="justify">
		<span style="font-size:13.0pt; line-height:150%" class="apple-converted-space">
		Tiếp tục cho bú
		bình thường và tăng số lần bú. Vì sữa mẹ vẫn được dung nạp rất tốt khi
		bị tiêu chảy, cho trẻ bú mẹ trẻ tiêu chảy ít hơn, nhanh khỏi hơn, do sữa
		mẹ có chứa đường Lactoza nên vẫn được hấp thu rất tốt khi bị tiêu chảy.
		Nếu trẻ không có sữa mẹ thì cho trẻ ăn sữa bò hoặc sữa bột mà trước đó
		trẻ vẫn ăn những phải cho ăn từng ít một và ăn nhiều bữa trong ngày.</span></p>
    <p class="pbody" align="justify">
        <span style="font-weight: 700; font-size:13.0pt; line-height:150%" class="apple-converted-space">Trẻ từ 6 tháng tuổi:</span></p>
    <p class="pbody" align="justify">
		<span style="font-size:13.0pt; line-height:150%" class="apple-converted-space">
		Ngoài sữa mẹ và
		sữa thay thế như trên cần cho trẻ ăn thêm nhiều lần và từng ít một các
		thức ăn giàu chất dinh dưỡng như thịt nạc, cá, trứng, sữa… và cho thêm
		một ít dầu, mỡ để tăng thêm năng lượng của khẩu phần. Nếu trẻ được ăn
		sữa bò và ngũ cốc và rau đun chín nhừ cũng không gây tăng lượng phân bài
		tiết, nếu chỉ ăn sữa bò đơn thuần hoặc sữa công nghiệp có thể gây tăng
		khối lượng phân.</span></p>
    <p class="pbody" align="justify">
		<span style="font-size:13.0pt; line-height:150%" class="apple-converted-space">
		Thức ăn cần mềm,
		nấu kỹ, cho ăn ngay sau khi nấu để đảm bảo vệ sinh giảm nguy cơ bội
		nhiễm, nếu phải cho trẻ ăn những thức ăn đã nấu sẵn thì cần phải đun lại
		trước khi cho ăn. Cho trẻ ăn thêm quả chín hoặc nước quả như: Chuối,
		cam, xoài, đu đủ, hồng xiêm… để tăng thêm lượng Kali, bê tacaroten,
		Vitamin C…</span></p>
    <p class="pltitle" align="justify">
		<span style="font-weight: 700; font-size:13.0pt; line-height:150%" class="apple-converted-space">
		Các thực phẩm
		không nên dùng khi trẻ bị tiêu chảy</span></p>
    <p class="pbody" align="justify">
		<span style="font-size:13.0pt; line-height:150%" class="apple-converted-space">
		Các loại nước giải
		khát công nghiệp, các loại thức ăn có chứa nhiều đường vì những thức ăn
		này có thể làm tăng tiêu chảy. Do tăng áp lực thẩm thấu trong lòng ruột
		kéo nước trong tế bào vào lòng ruột.</span></p>
    <p class="pbody" align="justify">
		<span style="font-size:13.0pt; line-height:150%" class="apple-converted-space">
		Tránh dùng các
		loại thực phẩm có nhiều xơ hoặc ít chất dinh dưỡng như: Các loại rau thô
		(măng, rau cần), tinh bột nguyên hạt (ngô, đỗ) khó tiêu hóa.</span></p>
    <p class="pbody" align="justify">
		<span style="font-size:13.0pt; line-height:150%" class="apple-converted-space">
		Số lượng thức ăn:
		Cần khuyến khích trẻ ăn càng nhiều càng tốt, trẻ nhỏ cho ăn 6 lần/ngày
		hoặc nhiều hơn.</span></p>
    <p class="pbody" align="justify">
		<span style="font-size:13.0pt; line-height:150%" class="apple-converted-space">
		Sau khi khỏi tiêu
		chảy, để giúp cho trẻ hồi phục nhanh và tránh suy dinh dưỡng cần cho trẻ
		ăn thêm mỗi ngày 1 bữa trong 2 tuần liền.</span></p>
    <p class="psubtitle" align="justify">
		<span class="apple-converted-space">
		<span style="font-size: 13.0pt; line-height: 150%">Chú
		ý:</span></span></p>
    <p class="pbody" style="margin-top:0cm" align="left">
		<span style="font-size:13.0pt; line-height:150%" class="apple-converted-space">
		- Nếu trẻ ăn ít
		hoặc ăn vào bị nôn, thì cho ăn ít hơn và tăng số bữa lên so với thực đơn.<br>
		- Trẻ ăn sữa bò tiêu chảy tăng lên thì thay bằng sữa tương 10% hoặc sữa
		không có lactoza như (Isomil, olac) hoặc cho ăn sữa chua làm từ sữa pha
		giống như các bữa sữa nước của trẻ.<br>
		- Từ ngày thứ 5 nếu trẻ bớt tiêu chảy quay dần về chế độ ăn bình thường.</span></p>


</font></h3>