﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
<font color="#000000" size="5">
</font><p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white"><font color="#000000" size="5">
    <b><span style="line-height: 150%; color: #333333">Chế độ ăn uống
			kiêng kị cho bệnh thủy đậu</span></b></font></p>

    
    <p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background-image:none; background-repeat:repeat; background-attachment:scroll">

        &nbsp;</p><font color="#000000" size="3">
    <h4 style="text-align: justify; text-indent: 36.0pt; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 9.0pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; color: #222222">
			Bệnh thủy đậu (phỏng rạ, bỏng rạ, trái rạ) thường xuất hiện nhiều
			nhất từ tháng 2 đến tháng 4 hàng năm. Thủy đậu do virut gây ra, bệnh
			dễ lây lan từ người này qua người khác: lây qua đường hô hấp, hoặc
			lây do mụn nước vỡ ra. Thủy đậu thường gặp nhất là ở trẻ em.</span></h4>
    <p style="text-align: justify; text-indent: 36.0pt; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; color: #444444">
			Theo Lương y Nguyễn Hữu Toàn, thủy đậu thuộc phạm vi các chứng bệnh
			như: Thủy hoa, thủy bào, thủy sang, thủy chẩn… Theo cổ nhân, bệnh
			phát sinh là do phong nhiệt thời độc từ bên ngoài xâm nhập vào cơ
			thể qua mũi miệng, kết hợp với thấp trọc tích tụ lâu ngày bên trong
			gây ảnh hưởng chủ yếu đến hai tạng phế và tỳ, và phế chủ bì mao nên
			tà khí trước tiên phát tiết ở ngoài da tạo nên các mụn nước trên mặt
			và toàn thân. Thủy đậu ngoài việc dùng thuốc để điều trị thì chế độ
			ăn uống, kiêng kị có vai trò rất quan trọng. Một chế độ ăn uống
			thích hợp sẽ giúp giảm những biến chứng do thủy đậu gây ra.</span></p>
    <p style="text-align: justify; text-indent: 36.0pt; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
        <b>
			<span style="font-size: 14.0pt; line-height: 150%; color: #444444">
			Dưới đây là một số lời khuyên về chế độ ăn uống cho người bị thủy
			đậu:</span></b></p>
    <p style="text-align: justify; text-indent: 18.0pt; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
        <b>
			<span style="font-size: 14.0pt; line-height: 150%; color: #444444">
			Những thực phẩm nên kiêng khi bị thủy đậu:</span></b></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; color: #444444">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size: 14.0pt; line-height: 150%; color: #444444">
			Chuối tiêu</span></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; color: #444444">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size: 14.0pt; line-height: 150%; color: #444444">
			Thịt gà: đặc biệt là da gà vì có thể gây ngứa ở những nốt thủy đậu.</span></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; color: #444444">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size: 14.0pt; line-height: 150%; color: #444444">
			Đồ nếp: xôi, bánh trưng, ...làm sưng tấy và mưng mủ nốt thủy đậu</span></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; color: #444444">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size: 14.0pt; line-height: 150%; color: #444444">
			Cá chép</span></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; color: #444444">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size: 14.0pt; line-height: 150%; color: #444444">
			Mỡ lợn</span></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; color: #444444">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size: 14.0pt; line-height: 150%; color: #444444">
			Đồ ăn khó tiêu, được chế biến dưới dạng chiên, rán, xào có nhiều dầu
			mỡ.</span></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; color: #444444">-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size: 14.0pt; line-height: 150%; color: #444444">
			Các loại gia vị có tính kích ứng cao: như ớt, hạt tiêu.</span></p>
    <p style="text-align: justify; text-indent: 18.0pt; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
        <b>
			<span style="font-size: 14.0pt; line-height: 150%; color: #444444">
			Những thực phẩm nên ăn khi bị thủy đậu:</span></b></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol; color: #444444">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size: 14.0pt; line-height: 150%; color: #444444">
			Cần bổ sung lượng nước đầy đủ cho cơ thể, có thể là nước lọc, nhưng
			tốt nhất là các loại nước ép từ trái cây tươi. </span>
			<span style="font-size: 14.0pt; line-height: 150%; color: #505050">
			Nước trái cây ngoài việc bổ sung nước cho cơ thể &nbsp;nước cho cơ thể và
			các chất dinh dưỡng trong trái cây giúp tăng cường hệ miễn dịch.
			Nước ép trái cây bổ dưỡng bao gồm nước ép cam và nước ép cà rốt. Các
			loại trái cây như cam, dưa hấu, kiwi, chuối, và đào sẽ giúp loại bỏ
			các tế bào da chết sau khi lành bệnh.</span></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol; color: #444444">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size: 14.0pt; line-height: 150%; color: #505050">
			Giữ một chế độ ăn cân bằng và khỏe mạnh bao gồm nhiều rau tươi và
			trái cây tươi trong chế độ ăn. Các loại thức ăn này giàu vitamin A
			và C, bio-flavonoid là cần thiết. Các vitamin giúp tăng cường hệ
			miễn dịch. Đồng thời bổ sung thực phẩm giàu kẽm, magiê, canxi để
			kích thích hệ miễn dịch. Nước chanh rất có lợi cho người bị bệnh vì
			giúp giảm nhiệt dộ cơ thể. Một số loại rau tốt cho bệnh nhân thủy
			đậu: cải bắp, cà rốt, rau bina, dưa chuột, bông cải, giá sống, cà
			chua đều rất tốt cho người bệnh thủy đậu. Rau bina chứa một lượng
			kẽm cần thiết.</span></p>
    <p style="text-align: justify; text-indent: -18.0pt; line-height: 150%; margin-left: 36.0pt; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; font-family: Symbol; color: #505050">
			-<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size: 14.0pt; line-height: 150%; color: #505050">
			Đối với những người bị mụn nước ở miệng thì chỉ nên ăn thức ăn mềm,
			nhạt, dễ nuốt dễ tiêu hóa như cháo, khoai tây nghiền, nước canh, súp
			sẽ giúp bổ sung chất dinh dưỡng, tăng cường hệ miễn dịch.</span></p>
    <p style="text-align: justify; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: 10.5pt; background: white">
        <b>
			<span style="font-size: 14.0pt; line-height: 150%; color: #444444">
			Chú ý giữ vệ sinh cá nhân:</span></b><span style="font-size: 14.0pt; line-height: 150%; color: #444444">
			Bệnh nhân thủy đậu không nên kiêng tắm, cần giữ gìn vệ sinh cơ thể
			sạch sẽ, có thể tắm nhanh bằng nước ấm, tắm nhẹ nhàng tránh để bóng
			nước bị vỡ ra. Những mụn nước bị vỡ ra nên bôi thuốc xanh methylen
			để tránh nhiễm trùng, nhanh liền sẹo.</span></p>


</font>

</h3>