﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
<font color="#0000FF">
			<span style="font-family: Times New Roman; ">
					<font color="#000000" size="6">
                        <p class="MsoNormal" align="center" style="text-align: center; line-height: 150%">
                            <b>Chế độ ăn cho bệnh tiểu không tự chủ</b></p>
                    </font><font color="#000000" size="4">

    <p class="MsoNormal" style="margin-left:18.0pt">
        <font size="3" face="Times New Roman" color="#000000">
            <img border="0" src="http://www.thaythuoccuaban.com/images/tieu-khong-tu-chu.jpg" width="320" height="206" lowsrc="Tiểu%20không%20tự%20chủ" longdesc="Tiểu không tự chủ" alt="Tiểu không tự chủ" align="left">Tiểu
            không tự chủ là chứng bệnh dễ gặp ở phụ nữ sau nhiều lần
            sinh nở, nam giới bị các bệnh liên quan tới tiền liệt tuyến.
            Tiểu không tự chủ thường gặp ở lứa tuổi trung niên và những
            người già.</font></p>
    <p class="MsoNormal" style="margin-left:18.0pt">
        <font size="3" face="Times New Roman" color="#000000">Ngoài việc sử dụng
            thuốc để điều trị thì chế độ ăn uống cũng có ảnh hưởng nhất định tới
            chứng tiểu không tự chủ. Dưới đây là một số lời khuyên về chế độ ăn
            uống cho bệnh tiểu không tự chủ.</font></p>
    <p class="MsoNormal" style="margin-left:18.0pt"><b>
        <font size="3" face="Times New Roman" color="#000000">Không nên uống
            nước quá nhiều hoặc quá ít nước</font></b></p>
    <p class="MsoNormal" style="margin-left:18.0pt">
        <font size="3" face="Times New Roman" color="#000000">75% cơ thể là nước,
            vì thế bổ sung nước thường xuyên cho cơ thể là quan trọng và cần
            thiết, tuy nhiên uống quá nhiều nước trong ngày sẽ khiến cho bàng
            quang luôn phải trong tình trạng hoạt động quá độ. Tuy nhiên không
            vì thế mà sợ không dám uống nước, bởi uống ít nước gây kích thích
            bàng quan dễ dẫn tới các chứng như: viêm đường tiết niệu, sỏi thận,…Vì
            thế chỉ cần bổ sung khoảng 2- 2,5 lít nước/1 ngày (tính cả lượng
            nước cung cấp từ các loại thực phẩm) và nên uống nhiều vào ban ngày,
            hạn chế uống nhiều nước vào ban đêm.</font></p>
    <p class="MsoNormal" style="margin-left:18.0pt"><b>
        <font size="3" face="Times New Roman" color="#000000">Hạn chế tối đa các
            đồ uống có chứa cồn, có ga</font></b></p>
    <p class="MsoNormal" style="margin-left:18.0pt">
        <font size="3" face="Times New Roman" color="#000000">Các loại bia, rượu và
            đồ uống có cồn là tác nhân khiến cơ thể bị mất nước, ngoài ra nó
            cũng làm giảm khả năng kiểm soát nước tiểu của não tới bàng quang.
        </font>
    </p>
    <p class="MsoNormal" style="margin-left:18.0pt"><b>
        <font size="3" face="Times New Roman" color="#000000">Hạn chế đồ ăn, đồ
            uống có chứa cafein</font></b></p>
    <p class="MsoNormal" style="margin-left:18.0pt">
        <font size="3" face="Times New Roman" color="#000000">Cafein kích thích
            bàng quang như một hoạt chất lợi tiểu, khiến nó tăng tiết nước tiểu.
            Giảm hay hạn chế chất cafein sẽ giúp kiểm soát phần nào triệu chứng
            tiểu không tự chủ. Nhưng bạn cần phải từ bỏ cà phê, trà hay coco
            hoàn toàn mà chỉ cần cắt giảm cũng như tránh các loại thực phẩm, đồ
            uống chứa cafein vào buổi tối.</font></p>
    <p class="MsoNormal" style="margin-left:18.0pt"><b>
        <font size="3" face="Times New Roman" color="#000000">Hạn chế thực phẩm
            và đồ uống có tính axit</font></b></p>
    <p class="MsoNormal" style="margin-left:18.0pt">
        <font size="3" face="Times New Roman" color="#000000">Các loại quả họ cam
            quýt, nước bưởi, cà phê, trà và cà chua là những thực phẩm có tính
            axit và kích thích bàng quang, vì thế đối với bệnh nhân mắc chứng
            tiểu không tự chủ thì nên cắt giảm các thực phẩm, đồ uống có tính
            axit đặc biệt vào buổi tối.</font></p>
    <p class="MsoNormal" style="margin-left:18.0pt"><b>
        <font size="3" face="Times New Roman" color="#000000">Hạn chế sử dụng
            các loại gia vị cay</font></b></p>
    <p class="MsoNormal" style="margin-left:18.0pt">
        <font size="3" face="Times New Roman" color="#000000">Những gia vị làm bạn
            suýt xoa hay chảy nước mắt thì đều nên tránh. Chúng sẽ khiến chứng
            tiểu không tự chủ thêm trầm trọng.</font></p>
    <p class="MsoNormal" style="margin-left:18.0pt"><b>
        <font size="3" face="Times New Roman" color="#000000">Hạn chế đồ ngọt</font></b></p>
    <p class="MsoNormal" style="margin-left:18.0pt">
        <font size="3" face="Times New Roman" color="#000000">Đường, mật ong và các
            loại chất ngọt nhân tạo cũng có thể gây kích thích bàng quang. Vì
            vậy nên hạn chế chúng để giảm số lần phải vào toilet.</font></p>
    <p class="MsoNormal" style="margin-left:18.0pt"><b>
        <font size="3" face="Times New Roman" color="#000000">Thuốc</font></b></p>
    <p class="MsoNormal" style="margin-left:18.0pt">
        <font size="3" face="Times New Roman" color="#000000">Có một số loại thuốc
            điều trị cao huyết áp, và các loại thuốc điều trị trầm cảm làm tăng
            thêm tình trạng của bệnh tiểu không tự chủ. Vì thế cần tham khảo ý
            kiến của bác sĩ trong khi điều trị bệnh này.</font></p>
    <font color="#000000" size="3">




    </font></h3>