﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <h1><font size="5" color="#000080" face="Times New Roman">Chế độ ăn uống, kiêng kị cho người
        cao tuổi</font></h1>
    <p class="MsoNormal" style="text-align:justify">&nbsp;&nbsp;&nbsp;
        <a href="Chế%20độ%20ăn%20cho%20người%20cao%20tuổi">
            <img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-nguoi-cao-tuoi.jpg" width="300" height="300" lowsrc="Chế%20độ%20ăn%20cho%20người%20cao%20tuổi" longdesc="Chế độ ăn cho người cao tuổi" alt="Chế độ ăn cho người cao tuổi" align="left"></a>Chế
        độ dinh dưỡng hợp lý đối với người cao tuổi là một vũ khí tích cực và
        hiệu quả chống lại sự lão hóa. Dưới đây là 8 lời khuyên về chế độ ăn đối
        với sức khỏe cũng như tuổi thọ của người cao tuổi.</p>
    <p style="text-align: left; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: .0001pt">
        <b>1. Ăn thức ăn càng đa dạng càng tốt</b></p>
    <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">Thức ăn
        hàng ngày của người cao tuổi càng đa dạng càng tốt, khoảng trên 20 loại
        thực phẩm. Một chế độ dinh dưỡng tốt là mỗi bữa ăn phải cung cấp đầy đủ
        các chất dinh dưỡng cần thiết cho cơ thể.</p>
    <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">Chế độ ăn
        đầy đủ, đa dạng chủ yếu dựa vào các thức ăn có nguồn gốc thực vật. Tính
        đa dạng của khẩu phần ăn là lời khuyên được chấp nhận rộng rãi khắp thế
        giới. Các nước đều khuyến nghị người cao tuổi mỗi tuần nên sử dụng trên
        30 loại và mỗi ngày trên 12 loại thực phẩm khác nhau.</p>
    <p style="margin:0in;margin-bottom:.0001pt;text-align:justify"><b>&nbsp;2. Ăn
        nhiều các loại rau tươi </b></p>
    <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">Gần đây,
        một nghiên cứu của Anh trên 257.000 người châu Âu cho thấy, nếu mỗi ngày
        ăn 5 đĩa rau quả tươi hoặc nhiều hơn nữa (mỗi đĩa có 77g rau xanh hay
        80g quả tươi), có thể làm giảm nguy cơ tai biến mạch máu não ở người cao
        tuổi đến 25%.</p>
    <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">Ăn rau
        tươi sẽ bổ sung các vitamin, muối khoáng cần thiết mà cơ thể người cao
        tuổi không thể tự tổng hợp được. </p>
    <p style="margin:0in;margin-bottom:.0001pt;text-align:justify"><b>3. Ăn
        nhiều cá </b></p>
    <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">Nếu ăn cá
        thường xuyên, ít nhất 2 lần trong tuần, giúp người cao tuổi có khả năng
        chống lại nhiều nguy cơ gây bệnh từ hen phế quản đến ung thư tiền liệt
        tuyến. Cá giàu chất đạm, ít acid béo không tốt, nhiều acid béo tốt có
        tác dụng chống bệnh tim mạch và ung thư. </p>
    <p style="margin:0in;margin-bottom:.0001pt;text-align:justify"><b>4. Ăn
        nhiều chất xơ </b></p>
    <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">Chất xơ tuy không cung cấp năng lượng cho người cao
        tuổi nhưng lại có vai trò không thể thiếu trong việc chống táo bón, giảm
        cholesterol máu làm tránh xơ vữa động mạch, đái tháo đường, béo phì…
        Việc tiêu thụ những thức ăn giàu chất xơ đã làm giảm nguy cơ ung thư
        ruột.</p>
    <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">Rau xanh
        là nguồn cung cấp chất xơ quan trọng. Lượng chất xơ trong rau khoảng
        0,3-3,5% tùy loại. Thực phẩm này đặc biệt cần thiết cho người cao tuổi.
        Trong rau, chất xenlulô liên kết với các chất pectin tạo thành một phức
        hợp kích thích mạnh nhu động ruột và sự tiết dịch ruột. Khuyến cáo chung
        của các chuyên gia dinh dưỡng là nên ăn khoảng 20-35g chất xơ/ngày, tức
        tiêu thụ tối thiểu 300g rau/ngày và ăn ít nhất 100g quả chín/ngày.</p>
    <p style="margin:0in;margin-bottom:.0001pt;text-align:justify"><b>5.
        Giảm chất đường, chất bột </b></p>
    <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">Ở người
        cao tuổi, sự dung nạp các chất đường, bột giảm nhiều. Nhu cầu về năng
        lượng giảm 30% so với tuổi 20. Vì vậy, người cao tuổi nên ăn các thức ăn
        chứa tinh bột giàu chất xơ như bánh mì đen, ngũ cốc nguyên hạt, khoai củ
        chứa ít năng lượng (khoai lang), không đắt tiền, luôn sẵn có và là nguồn
        vitamin, khoáng chất và protein quý. Ngược lại, người cao tuổi nên hạn
        chế và gần như không nên ăn các loại đường mía, mật, bánh kẹo, nước ngọt,
        nước tăng lực.</p>
    <p style="margin:0in;margin-bottom:.0001pt;text-align:justify"><b>6. Nên
        ăn ít chất béo </b></p>
    <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">Chất béo
        (lipid) được hấp thu vào chủ yếu là hai chất, acid béo và cholesterol.
        Thừa cholesterol dễ gây xơ vữa động mạch và tắc mạch máu, nguy hiểm nhất
        là mạch máu não và mạch vành. Nhưng nếu thiếu cholesterol cũng làm màng
        tế bào yếu, dễ gây xuất huyết. Lượng cholesterol được khuyên dùng là
        dưới 300mg/ngày.</p>
    <p style="margin:0in;margin-bottom:.0001pt;text-align:justify"><b>7.
        Tránh ăn nhiều thịt </b></p>
    <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">Thịt bò,
        thịt lợn có khá nhiều độc tố làm cho cơ thể người cao tuổi mệt mỏi vì
        bắt gan, thận làm việc nhiều. Nếu ăn các món có lẫn chất bột và thịt,
        nhất là món rán, hầm là sự kết hợp khó tiêu nhất cho bộ máy tiêu hóa của
        người cao tuổi.</p>
    <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">Ăn nhiều
        thịt không tốt cho sức khỏe người cao tuổi.Mạng lưới tuần hoàn ở hệ
        thống gan người cao tuổi giảm 40-45% so với lúc 25 tuổi, khả năng tiêu
        hóa của tế bào gan cũng bị giảm. Ăn nhiều thịt trong ngày là một sự căng
        thẳng, một gánh nặng quá tải, nhất là đối với người cao tuổi bị bệnh tim
        mạch.</p>
    <p style="margin:0in;margin-bottom:.0001pt;text-align:justify"><b>8.
        Càng ăn ít muối càng tốt</b></p>
    <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">Ở người
        bình thường, cơ thể tự điều hòa lượng muối ăn trong máu bằng cách giữ
        lại hoặc thải ra ngoài bằng đường mồ hôi hoặc nước tiểu. Nhưng nếu ăn
        nhiều muối trong một thời gian nhất định, sự dư thừa muối sẽ có hại cho
        tim, thận cũng như làm tăng huyết áp. </p>
    <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">Muối ăn
        không phải làn nguyên nhân trực tiếp gây bệnh nhưng nó lại là tác nhân
        làm xuất hiện bệnh, làm trầm trọng thêm quá trình bệnh lý, làm tăng các
        biến chứng nặng nề của bệnh. Lượng muối ăn hàng ngày được thống nhất
        toàn cầu là dưới 6g/ngày.</p>
    <p style="margin:0in;margin-bottom:.0001pt;text-align:justify">Ở người cao tuổi, cỗ máy chuyển hóa và dinh dưỡng đã có nhiều hao mòn
        trong quá trình sử dụng. Khái niệm già thường gắn liền với sự suy yếu.
        Vì vậy, chế độ dinh dưỡng ở người cao tuổi thực sự là quan trọng. Chế độ
        ăn hợp lý sẽ giúp hồi phục và cung cấp đầy đủ chất dinh dưỡng cần thiết
        để người cao tuổi vẫn sống mạnh khỏe như ngày nào.</p><p style="MARGIN-TOP: 0; MARGIN-BOTTOM: 0" align="center" id="Người cao tuổi, mau, nguoicaotuoi">&nbsp;
</p>



</font></h3>