﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
<font color="#000000" size="5">
</font><p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white"><font color="#000000" size="5">
    <b><span style="line-height: 150%; color: #333333">Chế độ ăn uống
			kiêng kị cho bệnh viêm xung huyết hang vị dạ dày</span></b></font></p>



</font><font color="#000000" size="3">
    <h2 style="line-height: 150%; margin-left: 0in; margin-right: 0in; margin-top: 0in; margin-bottom: 2.35pt; background: white">&nbsp;</h2>
    <p style="line-height: 150%; margin-left: 0in; margin-right: 4.7pt; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size:14.0pt;line-height:150%;color:#333333">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<img border="0" src="http://www.thaythuoccuaban.com/images/che-do-an-viem-xung-huyet-hang-vi-da-day.jpg" width="320" height="221" lowsrc="Chế%20độ%20ăn%20cho%20bệnh%20viêm%20xung%20huyết%20hang%20vị%20dạ%20dày" longdesc="Chế độ ăn cho bệnh viêm xung huyết hang vị dạ dày" alt="Chế độ ăn cho bệnh viêm xung huyết hang vị dạ dày" align="left">Viêm
			xung huyết hang vị dạ dày là tình trạng niêm mạc vùng hang vị dạ dày bị
			viêm, các mạch máu vùng viêm dãn nở do ứ đọng quá nhiều máu. Viêm
			xung huyết hang vị dạ dày thường được phát hiện thông qua nội soi dạ
			dày. Đông y gọi viêm xung huyết hang vị dạ dày là vị quản thống.
			Bệnh do nhiều nguyên nhân gây ra như sử dụng bia rượu nhiều, sử dụng
			thuốc kháng sinh lâu ngày, hay chế độ ăn uống không hợp lý…</span></p>
    <p style="line-height: 150%; margin-left: 0in; margin-right: 4.7pt; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size:14.0pt;line-height:150%;color:#333333">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Một trong những nguyên nhân gây bệnh viêm xung huyết hang
			vị dạ dày là do chế độ ăn uống, do đó việc xây dựng một chế độ ăn
			uống hợp lý cho bệnh viêm hang vị dạ dày là rất cần thiết. Phòng
			khám Đông y Nguyễn Hữu Toàn đưa ra một số lời khuyên về chế độ ăn
			uống tốt cho bệnh viêm hang vị dạ dày.</span></p>
    <p style="text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 4.7pt; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size:14.0pt;line-height:150%;color:#333333">-<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size:14.0pt;line-height:150%;
color:#333333">Nên ăn uống đúng giờ, không ăn quá no, ăn thành nhiều bữa nhỏ
			trong ngày</span></p>
    <p style="text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 4.7pt; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size:14.0pt;line-height:150%;color:#333333">-<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size:14.0pt;line-height:150%;
color:#333333">Nên nhai kỹ thức ăn trước khi nuốt</span></p>
    <p style="text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 4.7pt; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size:14.0pt;line-height:150%;color:#333333">-<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size:14.0pt;line-height:150%;
color:#333333">Một tuần nên ăn 1 hoặc 2 bữa cháo hoặc súp để dạ dày có thời gian
			nghỉ ngơi, phục hồi.</span></p>
    <p style="text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 4.7pt; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size:14.0pt;line-height:150%;color:#333333">-<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size:14.0pt;line-height:150%;
color:#333333">Không uống bia rượu, đồ uống có ga, có cồn</span></p>
    <p style="text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 4.7pt; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size:14.0pt;line-height:150%;color:#333333">-<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size:14.0pt;line-height:150%;
color:#333333">Không hút thuốc lá, sử dụng chất kích thích</span></p>
    <p style="text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 4.7pt; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size:14.0pt;line-height:150%;color:#333333">-<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size:14.0pt;line-height:150%;
color:#333333">Không ăn đồ ăn chua: dấm ăn, các loại trái cây chua như: chanh,
			cóc, xoài xanh,..</span></p>
    <p style="text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 4.7pt; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size:14.0pt;line-height:150%;color:#333333">-<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size:14.0pt;line-height:150%;
color:#333333">Không ăn các thức ăn còn sống: các loại gỏi, các món nộm,…</span></p>
    <p style="text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 4.7pt; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size:14.0pt;line-height:150%;color:#333333">-<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size:14.0pt;line-height:150%;
color:#333333">Không ăn các đồ ăn chứa các loại gia vị cay như: ớt, hạt tiêu,…</span></p>
    <p style="text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 4.7pt; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size:14.0pt;line-height:150%;color:#333333">-<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size:14.0pt;line-height:150%;
color:#333333">Không ăn đồ ăn chứa nhiều dầu mỡ</span></p>
    <p style="text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 4.7pt; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size:14.0pt;line-height:150%;color:#333333">-<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size:14.0pt;line-height:150%;
color:#333333">Hạn chế các thực phẩm chế biến sẵn.</span></p>
    <p style="text-indent: -.25in; line-height: 150%; margin-left: .5in; margin-right: 4.7pt; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size:14.0pt;line-height:150%;color:#333333">-<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</span></span>
			<span style="font-size:14.0pt;line-height:150%;
color:#333333">Hạn chế căng thẳng, lo lắng, luôn giữ tinh thần thoải mái lạc
			quan đặc biệt là trong bữa ăn để dạ dày có thể tiêu hóa thức ăn một
			cách tốt nhất</span></p>
    <p style="line-height: 150%; margin-left: 0in; margin-right: 4.7pt; margin-top: 0in; margin-bottom: .0001pt; background: white">
			<span style="font-size:14.0pt;line-height:150%;color:#333333">Trên
			đây là một số lời khuyên về chế độ ăn uống cho người bị viêm xung
			huyết hang vị dạ dày. Cố gắng thực hiện những lời khuyên trên không
			chỉ giúp giảm tình trạng tái lại chứng viêm xung huyết hang vị dạ
			dày mà còn giúp phòng ngừa bệnh viêm xung huyết hang vị dạ dày.</span></p>
</font>



</h3>