﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
    <h1 style="text-align: center">
        <font size="5" color="#000080" face="Times New Roman">Chế độ ăn uống, kiêng kị cho người
            sau mổ cắt dạ dày</font></h1>
</font><font color="#000000" size="3">
    <p class="MsoBodyTextIndent" id="Sau mổ cắt dạ dày, sau mo cat da day, saumocatdaday" align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="introtext" align="left">
		<span style="font-family:&quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;
		</span><span style="font-weight: 400">
		<font size="3" face="Times New Roman">&nbsp;Sau phẫu
            thuật, bệnh nhân phải cực kỳ chú ý trong chuyện ăn uống để không bị loét
            miếng nối và để chiếc dạ dày (nay chỉ còn một phần) kịp tiêu hóa hết
            thức ăn. Người đã cắt dạ dày chỉ được phép dùng những thực phẩm chọn lọc
            và ăn từng ít một.</font></span></p>
    <p class="bodytext" align="left"><span style="font-weight: 400">
		<font size="3" face="Times New Roman">Sau đây là một số
            điều về chế độ ăn mà bệnh nhân sau phẫu thuật dạ dày cần ghi nhớ:</font></span></p>
    <p class="bodytext" align="left"><span style="font-weight: 400">
		<font size="3" face="Times New Roman">- Khi đã xuất viện,
            trước hết cần ăn lỏng, ăn nhẹ, chia khẩu phần làm nhiều bữa nhỏ rồi mới
            tăng dần lượng thức ăn lên. Có thể dùng các loại bột dinh dưỡng chế biến
            sẵn như Ensine, Isocal, Sando source, Enalac... Nếu uống sữa, cần uống
            từng ít một, vừa sử dụng vừa "nghe ngóng" để phòng trường hợp tiêu chảy
            do cơ thể đã mất men lactose (men giúp tiêu hóa sữa) từ khi trưởng thành.</font></span></p>
    <p class="bodytext" align="left"><span style="font-weight: 400">
		<font size="3" face="Times New Roman">- Nếu ăn cháo (cháo
            đường, cháo thịt, xúp nghiền) thì nên nấu nhừ. Nếu là cháo thịt nạc thì
            nên cho vào cối xay sinh tố, xay rồi lọc qua rây để loại bỏ gân xơ của
            thịt. Có thể cho thêm nước rau luộc, cà rốt, khoai tây vào ninh cùng.</font></span></p>
    <p class="bodytext" align="left"><span style="font-weight: 400">
		<font size="3" face="Times New Roman">- Nên ăn 6-7 bữa/ngày,
            mỗi bữa 150-200 ml (lưng bát con). Tránh để đói quá hoặc ăn no quá. Sau
            khi ăn cần nghỉ ngơi, không đi lại hoặc vận động mạnh.</font></span></p>
    <p class="bodytext" align="left"><span style="font-weight: 400">
		<font size="3" face="Times New Roman">- Tránh ăn các
            loại quả chua, dưa chua, hành muối, các gia vị (giấm, ớt, tiêu), các
            chất kích thích (rượu, bia, chè đặc, cà phê) vì chúng có thể gây loét
            miệng nối. Tránh ăn các loại thức ăn cứng và nhiều xơ như sụn, xương,
            rau già.</font></span></p>
    <p class="bodytext" align="left"><span style="font-weight: 400">
		<font size="3" face="Times New Roman">- Có thể uống bổ
            sung vitamin B1, B12 và viên sắt. Sau khi cắt dạ dày, cơ thể có thể bị
            thiếu máu do đã mất đi vùng hang vị (nơi có liên quan đến việc hấp thụ
            sắt).</font></span></p>


</font>


</h3>