﻿<h3 style="margin-top: 0; margin-bottom: 0" align="center">
<font color="#000000" size="5">
    <p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        &nbsp;</p>
    <p align="center" style="text-align: center; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b><span style="line-height: 150%; color: #333333">Chế độ ăn uống
			kiêng kị cho bệnh sa dạ dày</span></b></p>

</font>
</font><font color="#000000" size="3">
    <p style="text-align: justify; text-indent: 36.0pt; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; color: #333333">
			Sa
			dạ dày là bệnh dễ gặp ở những bệnh nhân phải hoạt động mạnh, lao
			động nặng ngay sau khi ăn no. Triệu chứng bệnh sa dạ dày không rõ
			ràng: người bệnh có thể gặp những cơn đau bụng giống như khi bị đói
			bụng, đau ở vùng bụng trên, mỗi lần phát bệnh có thể kéo dài từ 3- 5
			ngày. Ngoài ra cũng có các hiện tượng như trướng bụng, ợ hơi, đau
			thắt, hoặc đi kèm là buồn nôn, nôn mửa, táo bón, khó tiêu. Sa dạ dày
			khi nặng có thể gây xuất huyết, nứt hậu môn. </span></p>
    <p style="text-align: justify; text-indent: 36.0pt; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <strong>
			<span style="font-size: 14.0pt; line-height: 150%; color: #333333">
			Lời khuyên cho bệnh nhân sa dạ dày</span></strong></p>
    <p style="text-align: justify; text-indent: 36.0pt; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; color: #333333">
			Những người bị sa dạ dày cần thường xuyên chú trọng điều dưỡng -
			điều chỉnh lại giờ giấc sinh hoạt, có thời gian nghỉ ngơi, làm việc
			thích hợp, đảm bảo ngủ đủ giấc. Nên dùng những loại thực phẩm ít xơ,
			mềm và dễ tiêu hóa. Tránh những thức ăn cứng, chiên xào và có tính
			kích thích như rượu, cà phê, trà, thực phẩm cay nồng. Không nên ăn
			quá no, chia thành nhiều bữa nhỏ. </span></p>
    <p style="text-align: justify; text-indent: 36.0pt; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <b>
			<span style="font-size: 14.0pt; line-height: 150%; color: #333333">
			Một số món ăn, bài thuốc điều trị bệnh sa dạ dày:</span></b></p>
    <p style="text-align: justify; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; color: black">-<span class="apple-converted-space"><b><span style="border: 1.0pt none windowtext; padding: 0cm">&nbsp;</span></b></span><strong><span style="border: 1.0pt none windowtext; padding: 0cm">Chuối
			trộn mật ong</span></strong>: Chuối tiêu 2 quả, táo tây 2 quả, mật
			ong 30 ml. Rửa sạch táo, chuối bỏ vỏ, xay nhuyễn, cho mật ong vào
			đảo đều, chia làm 2 lần dùng trong ngày.</span></p>
    <p style="text-align: justify; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; color: black">-<span class="apple-converted-space"><b><span style="border: 1.0pt none windowtext; padding: 0cm">&nbsp;</span></b></span><strong><span style="border: 1.0pt none windowtext; padding: 0cm">Nước
			củ sen, cam thảo</span></strong>: Củ sen 200g, cam thảo 3g, táo 2
			quả, vị thuốc bạch thược 10g. Táo, củ sen rửa sạch, cắt nhỏ, ép
			thành nước, bạch thược và cam thảo cho vào nồi đất cùng 300 ml nước,
			nấu lấy nước. Trộn 2 loại nước với nhau khuấy đều để dùng, chia làm
			2 lần dùng trong ngày.</span></p>
    <p style="text-align: justify; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <strong>
			<span style="font-size: 14.0pt; line-height: 150%; color: black; border: 1.0pt none windowtext; padding: 0cm">
			- Cà rốt, rau cần</span></strong><span style="font-size: 14.0pt; line-height: 150%; color: black">:
			Cà rốt 400g, rau cần 200g, lá su hào 200g, táo 300g, mật ong 30 ml.
			Rửa sạch tất cả nguyên liệu, để ráo nước, cắt nhỏ, cho vào máy, ép
			lấy nước. Nếu quá đậm đặc có thể cho thêm nước vào, nếu chất xơ
			trong nước quá nhiều có thể vớt bỏ bớt, sau đó cho mật ong vào trộn
			đều là dùng được. Chia làm hai lần dùng trong ngày.</span></p>
    <p style="text-align: justify; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; color: black">-<span class="apple-converted-space"><b><span style="border: 1.0pt none windowtext; padding: 0cm">&nbsp;</span></b></span><strong><span style="border: 1.0pt none windowtext; padding: 0cm">Bao
			tử bò 200 gr</span></strong>, vị thuốc chỉ xác (sao) 10-20 gr, sa
			nhân 2 gr. Cách làm: Bao tử bò sau khi rửa sạch cắt sợi, cùng chỉ
			xác và sa nhân cho vào nồi đất dùng lửa lớn nấu sôi, sau đó hạ lửa
			nhỏ tiếp tục nấu đến chín, nêm nếm gia vị. Tác dụng dưỡng vị.</span></p>
    <p style="text-align: justify; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; color: black">-<span class="apple-converted-space"><b><span style="border: 1.0pt none windowtext; padding: 0cm">&nbsp;</span></b></span><strong><span style="border: 1.0pt none windowtext; padding: 0cm">Bao
			tử heo 1 cá</span></strong>i, vị thuốc hoàng kỳ 200 gr, trần bì (vỏ
			quýt) 30 gr. Cách làm: Bao tử heo rửa sạch cắt sợi, sau đó cùng cho
			hoàng kỳ và vỏ quýt, thêm nước lượng vừa để nấu cho đến khi chín nhừ
			thì tắt lửa. Chia 2 lần dùng hết trong ngày, có tác dụng dưỡng vị.</span></p>
    <p style="text-align: justify; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; color: black">-<span class="apple-converted-space">&nbsp;</span><strong><span style="border: 1.0pt none windowtext; padding: 0cm">Vị
			thuốc sơn tra</span></strong><span class="apple-converted-space">&nbsp;</span>15
			gr, chỉ xác 15 gr. Sơn tra sau khi rửa sạch cùng chỉ xác cho vào nồi
			nấu, sau khi sôi hạ lửa nhỏ nấu tiếp sau đó bỏ bã lấy nước. Cách
			dùng: mỗi ngày 1 chén, chia 2 lần dùng. Tác dụng dưỡng vị.</span></p>
    <p style="text-align: justify; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
        <strong>
			<span style="font-size: 14.0pt; line-height: 150%; color: black; border: 1.0pt none windowtext; padding: 0cm">
			- Nhân sâm, sinh khương (</span></strong><span style="font-size: 14.0pt; line-height: 150%; color: black">gừng
			tươi), phục linh, trần bì (vỏ quýt) - mỗi thứ 3 gr, vị thuốc thương
			truật 9 gr, chỉ thực 1,5 gr. Tất cả nguyên liệu trên cùng cho vào
			nồi đất, dùng nước lượng vừa để nấu, sau khi dùng lửa lớn nấu sôi,
			thì hạ lửa vừa tiếp tục nấu đến khi chín mềm.</span></p>
    <p style="text-align: justify; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; color: black">
			Chia làm 3 lần dùng trong ngày, có tác dụng dưỡng vị.</span></p>
    <p style="text-align: justify; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; color: black">-<span class="apple-converted-space">&nbsp;</span><strong><span style="border: 1.0pt none windowtext; padding: 0cm">1
			cái bao tử bò</span></strong>, 180 gr vị thuốc đương quy, một ít
			rượu, gia vị. Cách làm: Bao tử bò rửa thật sạch, cắt thành lát nhỏ,
			cùng đương quy cho vào nồi đất, thêm nước lượng vừa, sau khi dùng
			lửa lớn nấu sôi, thêm rượu, hạ lửa nhỏ tiếp tục nấu cho đến khi canh
			đậm thịt nhừ, nêm nếm gia vị. Thích hợp cho người bệnh sa dạ dày có
			triệu chứng đau.</span></p>
    <p style="text-align: justify; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; color: black">-<span class="apple-converted-space"><b><span style="border: 1.0pt none windowtext; padding: 0cm">&nbsp;</span></b></span><strong><span style="border: 1.0pt none windowtext; padding: 0cm">1
			cái bao tử heo</span></strong>, vị thuốc hoàng kỳ 20-30 gr, tiêu sọ
			chừng 15 gr. Cách làm: Bao tử heo rửa sạch cắt lát, sau đó cùng
			hoàng kỳ, tiêu sọ cho vào nồi nước nấu chín, chia 2 hay 3 lần dùng
			trong ngày, có tác dụng dưỡng vị bổ khí.</span></p>
    <p style="text-align: justify; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; color: black">-<span class="apple-converted-space"><b><span style="border: 1.0pt none windowtext; padding: 0cm">&nbsp;</span></b></span><strong><span style="border: 1.0pt none windowtext; padding: 0cm">Gà
			tơ 1 con,</span></strong><span class="apple-converted-space">&nbsp;</span>can
			khương (gừng khô), công đinh hương, sa nhân (mỗi thứ 3 gr). Gà tơ
			làm sạch. Can khương, công đinh hương, sa nhân cho vào túi vải buộc
			lại, rồi cho túi thuốc này và gà tơ vào nồi tiềm cách thủy, chia 2
			lần ăn hết trong ngày, có tác dụng dưỡng vị ích khí.</span></p>
    <p style="text-align: justify; line-height: 150%; margin-left: 0cm; margin-right: 0cm; margin-top: 0cm; margin-bottom: .0001pt; background: white">
			<span style="font-size: 14.0pt; line-height: 150%; color: black">-<span class="apple-converted-space"><b><span style="border: 1.0pt none windowtext; padding: 0cm">&nbsp;</span></b></span><strong><span style="border: 1.0pt none windowtext; padding: 0cm">Gà
			mái tơ 1 con</span></strong>, vị thuốc chích hoàng kỳ 100 gr, gừng,
			hành, rượu trắng, tiêu lượng vừa. Gà mái rửa sạch bỏ nội tạng và đầu
			móng, đưa hoàng kỳ nhét vào bụng gà, dùng chỉ khâu lại, cho vào
			chiếc thố, cho nước dùng, gừng, hành, rượu, gia vị, dùng lửa lớn
			chưng cách thủy trong 2 giờ, sau cùng rắc một ít bột tiêu. Có tác
			dụng trị sa dạ dày và triệu chứng đau dạ dày do lạnh.</span></p>




</h3>